Repository grafana/grafana: changes, and which Drone steps are due for each by the changed paths.
All: pr-verify-drone, pr-verify-starlark, pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, trigger-test-release, end-to-end-tests-cloud-plugins-suite-azure, build-storybook, pr-integration-tests, pr-docs, pr-shellcheck, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, store-storybook, main-integration-tests, main-windows, notify-drone-changes, main-trigger-downstream, main-notify

Path conditions:
  pr-verify-drone: any of: scripts/drone/**, .drone.yml, .drone.star, but not: docs/**, *.md
  pr-verify-starlark: any of: scripts/drone/**, .drone.star, but not: docs/**, *.md
  pr-test-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-lint-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-test-backend: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, but not: docs/**, *.md
  pr-lint-backend: any of: pkg/**, packaging/**, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, .bingo/**, but not: docs/**, *.md
  pr-build-e2e: any file but: *.md, docs/**, latest.json
  trigger-test-release: any of: .drone.yml, pkg/build/**
  end-to-end-tests-cloud-plugins-suite-azure: any of: pkg/tsdb/azuremonitor/**, public/app/plugins/datasource/azuremonitor/**, e2e/cloud-plugins-suite/azure-monitor.spec.ts
  build-storybook: any of: packages/grafana-ui/**
  pr-integration-tests: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, but not: docs/**, *.md
  pr-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  pr-shellcheck: any of: scripts/**/*.sh, but not: *.md, docs/**, latest.json
  main-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  main-test-frontend: any file but: *.md, docs/**, latest.json
  main-lint-frontend: any file but: *.md, docs/**, latest.json
  main-test-backend: any file but: *.md, docs/**, latest.json
  main-lint-backend: any file but: *.md, docs/**, latest.json
  main-build-e2e-publish: any file but: *.md, docs/**, latest.json
  store-storybook: any of: packages/grafana-ui/**
  main-integration-tests: any file but: *.md, docs/**, latest.json
  main-windows: any file but: *.md, docs/**, latest.json
  notify-drone-changes: any of: .drone.yml, but not: exclude
  main-trigger-downstream: any file but: *.md, docs/**, latest.json
  main-notify: any file but: *.md, docs/**, latest.json

Test update
  public/app/features/dashboard-scene/panel-edit/VizPanelManager.test.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Simplify url sync for inspect and vie/edit panel
  public/app/features/dashboard-scene/scene/DashboardSceneUrlSync.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Update navigating back to dashboard from edit panel
  public/app/features/dashboard-scene/panel-edit/PanelEditor.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Alerting: Add metric to check for default AM configurations (#80225)
  pkg/services/ngalert/metrics/alertmanager.go
  pkg/services/ngalert/metrics/multi_org_alertmanager.go
  pkg/services/ngalert/notifier/alertmanager.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Loki: Remove getQueryOptions as not needed in tests
  public/app/plugins/datasource/loki/datasource.test.ts
  public/app/plugins/datasource/loki/getDerivedFields.test.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

wip
  public/app/features/dashboard-scene/settings/VersionsEditView.tsx
  public/app/features/dashboard-scene/settings/version-history/HistorySrv.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Loki: Use DataSourcePicker from runtime in DerivedField (#80629)
  public/app/plugins/datasource/loki/configuration/DerivedField.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

K8s/Storage: Register field-selector on all kinds (#79822)
  pkg/registry/apis/folders/legacy_storage.go
  pkg/registry/apis/playlist/register.go
  pkg/services/grafana-apiserver/service.go
  pkg/services/grafana-apiserver/storage/entity/fieldRequirements.go
  pkg/services/grafana-apiserver/storage/entity/storage.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Update Grafana Kubernetes installation page (#80569)
  docs/sources/setup-grafana/installation/kubernetes/index.md
Due: pr-docs, main-docs

reorder components
  public/app/features/dashboard-scene/panel-edit/PanelDataPane/PanelDataTransformationsTab.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Fix breadcrumbs
  public/app/features/trails/DataTrailsApp.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

fix `TestService_TryTokenRefresh_ValidToken` test
  pkg/services/oauthtoken/oauth_token_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

fix `oauth_token_sync` tests
  pkg/services/authn/authnimpl/sync/oauth_token_sync_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

migrate from `login.UserAuth` to `user.SignedInUser`
  pkg/services/oauthtoken/oauth_token_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Remove comments
  pkg/services/oauthtoken/oauth_token_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

clean up data source permissions after data source deletion
  pkg/services/datasources/service/datasource.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Improve inspect, andle view pane end edit mode inspection
  public/app/features/dashboard-scene/inspect/PanelInspectDrawer.tsx
  public/app/features/dashboard-scene/scene/DashboardSceneUrlSync.ts
  public/app/features/dashboard-scene/utils/urlBuilders.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

fix oauth token sync being called on every request
  pkg/services/authn/authnimpl/sync/oauth_token_sync.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Update _index.md with the correct number of bullets. (#80382)
  docs/sources/datasources/azure-monitor/_index.md
Due: pr-docs, main-docs

remove a comment
  pkg/services/accesscontrol/ossaccesscontrol/permissions_services.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

updated grafana docker video timestamp
  docs/sources/setup-grafana/installation/docker/index.md
Due: pr-docs, main-docs

updated grafana docker video timestamp (#80659)
  docs/sources/setup-grafana/installation/docker/index.md
Due: pr-docs, main-docs

refactor: data trails auto query for buckets (#80170)
  public/app/features/trails/AutomaticMetricQueries/AutoQueryEngine.test.ts
  public/app/features/trails/AutomaticMetricQueries/AutoVizPanel.tsx
  public/app/features/trails/AutomaticMetricQueries/graph-builders/heatmap.ts
  public/app/features/trails/AutomaticMetricQueries/graph-builders/percentiles.ts
  public/app/features/trails/AutomaticMetricQueries/graph-builders/simple.ts
  public/app/features/trails/AutomaticMetricQueries/graph-builders/types.ts
  public/app/features/trails/AutomaticMetricQueries/query-generators/bucket/index.ts
  public/app/features/trails/AutomaticMetricQueries/query-generators/common/queries.ts
  public/app/features/trails/AutomaticMetricQueries/types.ts
  public/app/features/trails/BreakdownScene.tsx
  public/app/features/trails/MetricSelectScene.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Add AuthNSvc reload handling
  pkg/login/social/connectors/azuread_oauth.go
  pkg/login/social/connectors/generic_oauth.go
  pkg/login/social/connectors/github_oauth.go
  pkg/login/social/connectors/gitlab_oauth.go
  pkg/login/social/connectors/google_oauth.go
  pkg/login/social/connectors/grafana_com_oauth.go
  pkg/login/social/connectors/okta_oauth.go
  pkg/login/social/connectors/social_base.go
  pkg/services/authn/authnimpl/service.go
  pkg/services/authn/clients/oauth.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Scenes: Show transformations when editing scene dashboard (#80372)
  public/app/features/dashboard-scene/panel-edit/PanelDataPane/EmptyTransformationsMessage.tsx
  public/app/features/dashboard-scene/panel-edit/PanelDataPane/PanelDataPane.tsx
  public/app/features/dashboard-scene/panel-edit/PanelDataPane/PanelDataTransformationsTab.test.tsx
  public/app/features/dashboard-scene/panel-edit/PanelDataPane/PanelDataTransformationsTab.tsx
  public/app/features/dashboard/components/TransformationsEditor/TransformationsEditor.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Use <Text/> instead of custom styles
  public/app/features/trails/ActionTabs/MetricOverviewScene.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Update public/app/features/explore/Logs/LogsTableActiveFields.tsx
  public/app/features/explore/Logs/LogsTableActiveFields.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Rework oauth token tests
  pkg/services/oauthtoken/oauth_token_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Simplify setting overview as default tab
  public/app/features/trails/MetricScene.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

conditionally render title tag value
  public/app/features/explore/Logs/LogsTableActiveFields.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Removed unused function
  pkg/services/authn/authnimpl/sync/oauth_token_sync_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

unify multiple prop destructuring/messy code
  public/app/features/explore/Logs/LogsTableActiveFields.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Change clouds list
  public/app/plugins/datasource/azuremonitor/components/AzureCredentials.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, end-to-end-tests-cloud-plugins-suite-azure, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify
