Repository grafana/grafana: changes, and which Drone steps are due for each by the changed paths.
All: pr-verify-drone, pr-verify-starlark, pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, trigger-test-release, end-to-end-tests-cloud-plugins-suite-azure, build-storybook, pr-integration-tests, pr-docs, pr-shellcheck, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, store-storybook, main-integration-tests, main-windows, notify-drone-changes, main-trigger-downstream, main-notify

Path conditions:
  pr-verify-drone: any of: scripts/drone/**, .drone.yml, .drone.star, but not: docs/**, *.md
  pr-verify-starlark: any of: scripts/drone/**, .drone.star, but not: docs/**, *.md
  pr-test-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-lint-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-test-backend: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, but not: docs/**, *.md
  pr-lint-backend: any of: pkg/**, packaging/**, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, .bingo/**, but not: docs/**, *.md
  pr-build-e2e: any file but: *.md, docs/**, latest.json
  trigger-test-release: any of: .drone.yml, pkg/build/**
  end-to-end-tests-cloud-plugins-suite-azure: any of: pkg/tsdb/azuremonitor/**, public/app/plugins/datasource/azuremonitor/**, e2e/cloud-plugins-suite/azure-monitor.spec.ts
  build-storybook: any of: packages/grafana-ui/**
  pr-integration-tests: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, but not: docs/**, *.md
  pr-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  pr-shellcheck: any of: scripts/**/*.sh, but not: *.md, docs/**, latest.json
  main-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  main-test-frontend: any file but: *.md, docs/**, latest.json
  main-lint-frontend: any file but: *.md, docs/**, latest.json
  main-test-backend: any file but: *.md, docs/**, latest.json
  main-lint-backend: any file but: *.md, docs/**, latest.json
  main-build-e2e-publish: any file but: *.md, docs/**, latest.json
  store-storybook: any of: packages/grafana-ui/**
  main-integration-tests: any file but: *.md, docs/**, latest.json
  main-windows: any file but: *.md, docs/**, latest.json
  notify-drone-changes: any of: .drone.yml, but not: exclude
  main-trigger-downstream: any file but: *.md, docs/**, latest.json
  main-notify: any file but: *.md, docs/**, latest.json

Logs: Fix duplicate uids by appending series refIds
  pkg/tsdb/loki/frame.go
  pkg/tsdb/loki/frame_test.go
  pkg/tsdb/loki/testdata/streams_parse_errors.golden.jsonc
  pkg/tsdb/loki/testdata/streams_simple.golden.jsonc
  pkg/tsdb/loki/testdata_metric_dataplane/streams_parse_errors.golden.jsonc
  pkg/tsdb/loki/testdata_metric_dataplane/streams_simple.golden.jsonc
  public/app/core/logsModel.test.ts
  public/app/core/logsModel.ts
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

docs: update with angular plugin list
  docs/sources/breaking-changes/breaking-changes-v10-0.md
Due: pr-docs, main-docs

Fix some linting errors
  pkg/services/oauthserver/models.go
  pkg/services/oauthserver/oauthimpl/aggregate_store_test.go
  pkg/services/oauthserver/oauthimpl/service.go
  pkg/services/oauthserver/oauthimpl/service_test.go
  pkg/services/oauthserver/oauthimpl/token.go
  pkg/services/oauthserver/oauthimpl/token_test.go
  pkg/services/oauthserver/oauthstore/database_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

[v10.0.x] elastic: more tests (#68562)
  pkg/tsdb/elasticsearch/client/client_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Add invalid border also when intermediate is disabled
  packages/grafana-ui/src/components/Forms/Checkbox.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, store-storybook, main-integration-tests, main-windows, main-trigger-downstream, main-notify

elastic: backend migration: fix no-index case
  pkg/tsdb/elasticsearch/client/client_test.go
  pkg/tsdb/elasticsearch/client/index_pattern.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Use usereven instead of fireEvent
  public/app/plugins/datasource/loki/components/LokiContextUi.test.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Dashboards: Remove non-ds configured landing page
  public/app/features/dashboard/containers/NewDashboardPage.tsx
  public/app/features/datasources/components/EmptyStateNoDatasource.test.tsx
  public/app/features/datasources/components/EmptyStateNoDatasource.tsx
  public/app/routes/routes.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Shortern onClick
  public/app/plugins/datasource/loki/components/LokiContextUi.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Remove datasourceOnboarding feature toggle
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.go
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, pr-docs, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

errors don't need type assertion
  pkg/services/oauthserver/oauthimpl/service.go
  pkg/services/oauthserver/oauthimpl/token.go
  pkg/services/oauthserver/oauthstore/database.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Remove alpha icon panel
  .betterer.results
  public/app/features/plugins/built_in_plugins.ts
  public/app/plugins/panel/icon/IconPanel.tsx
  public/app/plugins/panel/icon/README.md
  public/app/plugins/panel/icon/img/icn-icon.svg
  public/app/plugins/panel/icon/models.gen.ts
  public/app/plugins/panel/icon/module.tsx
  public/app/plugins/panel/icon/plugin.json
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Typo codeowners
  .github/CODEOWNERS
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Remove codeowners for icon
  .github/CODEOWNERS
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

[v10.0.x] Cloudwatch Logs: Ignore non-time grouping fields in expressions and alerts (#68547)
  pkg/tsdb/cloudwatch/log_actions.go
  pkg/tsdb/cloudwatch/log_query.go
  pkg/tsdb/cloudwatch/log_query_test.go
  pkg/tsdb/cloudwatch/log_sync_query.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

use mockery for oauthserver store
  pkg/services/oauthserver/models.go
  pkg/services/oauthserver/oauthtest/fakes.go
  pkg/services/oauthserver/oauthtest/mocks.go
  pkg/services/oauthserver/oauthtest/store_mock.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Add feature tracking
  public/app/plugins/datasource/loki/components/LokiContextUi.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Use testid instead of title
  public/app/plugins/datasource/loki/components/LokiContextUi.test.tsx
  public/app/plugins/datasource/loki/components/LokiContextUi.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Add feature toggle check
  pkg/services/oauthserver/oauthimpl/service.go
  pkg/services/sqlstore/migrations/migrations.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Fix db tests to handle the feature flag
  pkg/services/oauthserver/oauthstore/database_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Put Flame graph and Node graph related files into separate folders
  public/app/features/explore/Explore.tsx
  public/app/features/explore/FlameGraph/FlameGraphExploreContainer.tsx
  public/app/features/explore/NodeGraph/NodeGraphContainer.test.tsx
  public/app/features/explore/NodeGraph/NodeGraphContainer.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Always show revert button
  public/app/plugins/datasource/loki/components/LokiContextUi.test.tsx
  public/app/plugins/datasource/loki/components/LokiContextUi.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Put RawPrometheus related files into a separate folder
  public/app/features/explore/Explore.tsx
  public/app/features/explore/RawPrometheus/RawPrometheusContainer.test.tsx
  public/app/features/explore/RawPrometheus/RawPrometheusContainer.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Put Table related files into a separate folder
  public/app/features/explore/Explore.tsx
  public/app/features/explore/Table/TableContainer.test.tsx
  public/app/features/explore/Table/TableContainer.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Fix tests
  pkg/services/featuremgmt/toggles_gen.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

[v9.5.x] Barchart: Ensure data field overrides apply (#68522)
  public/app/plugins/panel/geomap/components/DataHoverView.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Use separate rect for click and hover events
  public/app/plugins/panel/nodeGraph/Node.tsx
  public/app/plugins/panel/nodeGraph/NodeGraph.test.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

update cue
  pkg/plugins/pfs/corelist/corelist_load_gen.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

changes mysql system var tx_isolation to transaction_isolation in db connection string
  pkg/services/sqlstore/sqlstore.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Remove unused imports
  public/app/plugins/datasource/loki/components/LokiContextUi.test.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Loki: Add functionality to revert to initial query in log context (#68484)
  public/app/plugins/datasource/loki/components/LokiContextUi.test.tsx
  public/app/plugins/datasource/loki/components/LokiContextUi.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

[v9.4.x] AzureMonitor: Fix Log Analytics portal links (#65482) (#68523)
  .betterer.results
  pkg/tsdb/azuremonitor/loganalytics/azure-log-analytics-datasource.go
  pkg/tsdb/azuremonitor/loganalytics/azure-log-analytics-datasource_test.go
  pkg/tsdb/azuremonitor/loganalytics/utils.go
  pkg/tsdb/azuremonitor/metrics/azuremonitor-datasource.go
  pkg/tsdb/azuremonitor/resourcegraph/azure-resource-graph-datasource.go
  pkg/tsdb/azuremonitor/resourcegraph/azure-resource-graph-datasource_test.go
  public/app/plugins/datasource/grafana-azure-monitor-datasource/azure_log_analytics/azure_log_analytics_datasource.ts
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, end-to-end-tests-cloud-plugins-suite-azure, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

update backend test to remove icon
  pkg/plugins/manager/manager_integration_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Chore: Fix dev-dashboard codegen (#68568)
  devenv/jsonnet/dev-dashboards.go
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

WIP
  .betterer.results
  pkg/tsdb/tempo/kinds/dataquery/types_dataquery_gen.go
  public/app/plugins/datasource/tempo/dataquery.cue
  public/app/plugins/datasource/tempo/dataquery.gen.ts
  public/app/plugins/datasource/tempo/datasource.ts
  public/app/plugins/datasource/tempo/traceql/TempoQueryBuilderOptions.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

AzureMonitor: Traces updates (#68462)
  pkg/tsdb/azuremonitor/loganalytics/azure-log-analytics-datasource.go
  pkg/tsdb/azuremonitor/loganalytics/azure-log-analytics-datasource_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, end-to-end-tests-cloud-plugins-suite-azure, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Chore: Remove alpha icon panel (#68573)
  .betterer.results
  .github/CODEOWNERS
  pkg/plugins/manager/manager_integration_test.go
  pkg/plugins/pfs/corelist/corelist_load_gen.go
  public/app/features/plugins/built_in_plugins.ts
  public/app/plugins/panel/icon/IconPanel.tsx
  public/app/plugins/panel/icon/README.md
  public/app/plugins/panel/icon/img/icn-icon.svg
  public/app/plugins/panel/icon/models.gen.ts
  public/app/plugins/panel/icon/module.tsx
  public/app/plugins/panel/icon/plugin.json
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Update with documentations links for annotation filtering and time regions
  docs/sources/whatsnew/whats-new-in-v10-0.md
Due: pr-docs, main-docs

Update jsonnet with trend panel gdev dashboard
  devenv/jsonnet/dev-dashboards.libsonnet
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify
