Repository grafana/grafana: changes, and which Drone steps are due for each by the changed paths.
All: pr-verify-drone, pr-verify-starlark, pr-verify-storybook, pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, end-to-end-tests-cloud-plugins-suite-azure, build-storybook, pr-integration-tests, pr-docs, pr-shellcheck, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

pr-verify-drone:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.20.3
    name: identify-runner
  - commands:
    - go build -o ./bin/build -ldflags '-extldflags -static' ./pkg/build/cmd
    depends_on: []
    environment:
      CGO_ENABLED: 0
    image: golang:1.23.1-alpine
    name: compile-build-cmd
  - commands:
  ...

pr-verify-starlark:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.20.3
    name: identify-runner
  - commands:
    - go install github.com/bazelbuild/buildtools/buildifier@latest
    - buildifier --lint=warn -mode=check -r .
    depends_on: []
    image: golang:1.23.1-alpine
    name: lint-starlark

pr-verify-storybook:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.20.3
    name: identify-runner
  - commands:
    - yarn install --immutable || yarn install --immutable
    depends_on: []
    image: node:22.11.0-alpine
    name: yarn-install
  - commands:
    - yarn storybook --quiet
    depends_on:
    - yarn-install
  ...

pr-test-frontend:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.20.3
    name: identify-runner
  - commands:
    - yarn install --immutable || yarn install --immutable
    depends_on: []
    image: node:22.11.0-alpine
    name: yarn-install
  - commands:
    - apk add --update git bash
    - yarn betterer ci
  ...

pr-lint-frontend:
  steps:
  - commands:
    - echo $(/usr/bin/github-app-external-token) > /github-app/token
    environment:
      GITHUB_APP_ID:
        from_secret: github-app-app-id
      GITHUB_APP_INSTALLATION_ID:
        from_secret: github-app-installation-id
      GITHUB_APP_PRIVATE_KEY:
  ...

pr-test-backend:
  steps:
  - commands:
    - echo $(/usr/bin/github-app-external-token) > /github-app/token
    environment:
      GITHUB_APP_ID:
        from_secret: github-app-app-id
      GITHUB_APP_INSTALLATION_ID:
        from_secret: github-app-installation-id
      GITHUB_APP_PRIVATE_KEY:
  ...

pr-lint-backend:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.20.3
    name: identify-runner
  - commands:
    - go build -o ./bin/build -ldflags '-extldflags -static' ./pkg/build/cmd
    depends_on: []
    environment:
      CGO_ENABLED: 0
    image: golang:1.23.1-alpine
    name: compile-build-cmd
  - commands:
  ...

pr-build-e2e:
  steps:
  - commands:
    - echo $(/usr/bin/github-app-external-token) > /github-app/token
    environment:
      GITHUB_APP_ID:
        from_secret: github-app-app-id
      GITHUB_APP_INSTALLATION_ID:
        from_secret: github-app-installation-id
      GITHUB_APP_PRIVATE_KEY:
  ...

end-to-end-tests-cloud-plugins-suite-azure:
  commands:
  - GITHUB_TOKEN=$(cat /github-app/token)
  - cd /
  - ./cpp-e2e/scripts/ci-run.sh azure ${DRONE_SOURCE_BRANCH}
  depends_on:
  - grafana-server
  - github-app-generate-token
  environment:
    AZURE_SP_APP_ID:
      from_secret: azure_sp_app_id
    AZURE_SP_PASSWORD:
      from_secret: azure_sp_app_pw
  ...

DataSources: Log async datasource plugin import failures
  packages/grafana-runtime/src/services/dataSource/dataSource.test.ts
  packages/grafana-runtime/src/services/dataSource/dataSource.ts
  packages/grafana-runtime/src/services/dataSource/logging.ts
  packages/grafana-runtime/src/services/logging/loggers.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

enhance radius utils to accept radius tokens
  packages/grafana-data/src/index.ts
  packages/grafana-data/src/themes/createShape.ts
  packages/grafana-ui/src/components/Menu/MenuItem.tsx
  packages/grafana-ui/src/themes/mixins.ts
  public/app/features/alerting/unified/components/DynamicTable.tsx
Due: pr-verify-storybook, pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

fix
  public/app/features/dashboard-scene/scene/DashboardScene.tsx
  public/app/features/dashboard-scene/scene/types/dashboard.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Refactor styles
  public/app/features/alerting/unified/api/chainsApi.ts
  public/app/features/alerting/unified/mocks/fixtures/chains.ts
  public/app/features/alerting/unified/rule-list/GrafanaRuleListItem.tsx
  public/app/features/alerting/unified/rule-list/components/AlertRuleListItem.tsx
  public/app/features/alerting/unified/rule-list/v3/ChainDrawer.tsx
  public/app/features/alerting/unified/rule-list/v3/ChainFilterField.tsx
  public/app/features/alerting/unified/rule-list/v3/ChainPill.test.tsx
  public/app/features/alerting/unified/rule-list/v3/ChainPill.tsx
  public/app/features/alerting/unified/rule-list/v3/EvaluationChainLink.test.tsx
  public/app/features/alerting/unified/rule-list/v3/EvaluationChainLink.tsx
  public/app/features/alerting/unified/rule-list/v3/FlatRuleListView.tsx
  public/app/features/alerting/unified/rule-list/v3/RuleList.v3.test.tsx
  public/app/features/alerting/unified/rule-list/v3/RuleList.v3.tsx
  public/locales/en-US/grafana.json
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

POC: add evaluation chain pill and drawer
  public/app/features/alerting/unified/Analytics.ts
  public/app/features/alerting/unified/RuleList.tsx
  public/app/features/alerting/unified/api/chainsApi.ts
  public/app/features/alerting/unified/featureToggles.ts
  public/app/features/alerting/unified/mocks/fixtures/chains.ts
  public/app/features/alerting/unified/rule-list/GrafanaRuleListItem.tsx
  public/app/features/alerting/unified/rule-list/components/AlertRuleListItem.tsx
  public/app/features/alerting/unified/rule-list/v3/ChainDrawer.test.tsx
  public/app/features/alerting/unified/rule-list/v3/ChainDrawer.tsx
  public/app/features/alerting/unified/rule-list/v3/ChainFilterField.tsx
  public/app/features/alerting/unified/rule-list/v3/ChainPill.test.tsx
  public/app/features/alerting/unified/rule-list/v3/ChainPill.tsx
  public/app/features/alerting/unified/rule-list/v3/FlatRuleListView.tsx
  public/app/features/alerting/unified/rule-list/v3/RuleList.v3.test.tsx
  public/app/features/alerting/unified/rule-list/v3/RuleList.v3.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Update translations
  public/locales/en-US/grafana.json
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Fix tests
  public/app/features/alerting/unified/rule-list/v3/ChainDrawer.test.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Revert changes to list view grouping
  public/app/features/alerting/unified/rule-list/PaginatedGrafanaLoader.tsx
  public/app/features/alerting/unified/rule-list/v3/GroupedRuleListView.test.tsx
  public/app/features/alerting/unified/rule-list/v3/GroupedRuleListView.tsx
  public/app/features/alerting/unified/rule-list/v3/RuleList.v3.test.tsx
  public/app/features/alerting/unified/rule-list/v3/RuleList.v3.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Fix merge
  public/app/features/alerting/unified/rule-list/v3/GroupedRuleListView.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

return on success
  pkg/services/accesscontrol/resourcepermissions/api.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Incorporate POC into alert list UI
  public/app/features/alerting/unified/Analytics.ts
  public/app/features/alerting/unified/RuleList.tsx
  public/app/features/alerting/unified/api/chainsApi.ts
  public/app/features/alerting/unified/mocks/fixtures/chains.ts
  public/app/features/alerting/unified/rule-list/GrafanaRuleListItem.tsx
  public/app/features/alerting/unified/rule-list/RuleList.v2.tsx
  public/app/features/alerting/unified/rule-list/components/AlertRuleListItem.tsx
  public/app/features/alerting/unified/rule-list/evaluation-chains/ChainDrawer.test.tsx
  public/app/features/alerting/unified/rule-list/evaluation-chains/ChainDrawer.tsx
  public/app/features/alerting/unified/rule-list/evaluation-chains/ChainDrawerContext.test.tsx
  public/app/features/alerting/unified/rule-list/evaluation-chains/ChainDrawerContext.tsx
  public/app/features/alerting/unified/rule-list/evaluation-chains/EvaluationChainLink.test.tsx
  public/app/features/alerting/unified/rule-list/evaluation-chains/EvaluationChainLink.tsx
  public/app/features/alerting/unified/rule-list/evaluation-chains/useGrafanaRuleChainMembership.test.ts
  public/app/features/alerting/unified/rule-list/evaluation-chains/useGrafanaRuleChainMembership.ts
  public/app/features/alerting/unified/rule-list/v3/ChainFilterField.tsx
  public/app/features/alerting/unified/rule-list/v3/GroupedRuleListView.test.tsx
  public/app/features/alerting/unified/rule-list/v3/GroupedRuleListView.tsx
  public/app/features/alerting/unified/rule-list/v3/RuleList.v3.test.tsx
  public/app/features/alerting/unified/rule-list/v3/RuleList.v3.tsx
  public/locales/en-US/grafana.json
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Replace evaluation-chain mocks with real RuleSequence backend data
  public/app/features/alerting/unified/api/chainsApi.ts
  public/app/features/alerting/unified/featureToggles.ts
  public/app/features/alerting/unified/mocks/fixtures/chains.ts
  public/app/features/alerting/unified/mocks/server/all-handlers.ts
  public/app/features/alerting/unified/mocks/server/handlers/k8s/ruleSequences.k8s.ts
  public/app/features/alerting/unified/rule-list/GrafanaRuleListItem.tsx
  public/app/features/alerting/unified/rule-list/RuleList.v2.tsx
  public/app/features/alerting/unified/rule-list/components/AlertRuleListItem.tsx
  public/app/features/alerting/unified/rule-list/evaluation-chains/ChainDrawer.test.tsx
  public/app/features/alerting/unified/rule-list/evaluation-chains/ChainDrawerContext.test.tsx
  public/app/features/alerting/unified/rule-list/evaluation-chains/ChainDrawerContext.tsx
  public/app/features/alerting/unified/rule-list/evaluation-chains/EvaluationChainLink.test.tsx
  public/app/features/alerting/unified/rule-list/evaluation-chains/useGrafanaRuleChainMembership.test.ts
  public/app/features/alerting/unified/rule-list/evaluation-chains/useGrafanaRuleChainMembership.ts
  public/app/features/alerting/unified/rule-list/rule-sequences/RuleSequenceDrawer.test.tsx
  public/app/features/alerting/unified/rule-list/rule-sequences/RuleSequenceDrawer.tsx
  public/app/features/alerting/unified/rule-list/rule-sequences/RuleSequenceDrawerContext.test.tsx
  public/app/features/alerting/unified/rule-list/rule-sequences/RuleSequenceDrawerContext.tsx
  public/app/features/alerting/unified/rule-list/rule-sequences/RuleSequenceLink.test.tsx
  public/app/features/alerting/unified/rule-list/rule-sequences/RuleSequenceLink.tsx
  public/app/features/alerting/unified/rule-list/rule-sequences/types.ts
  public/app/features/alerting/unified/rule-list/rule-sequences/useGrafanaRuleSequenceMembership.test.ts
  public/app/features/alerting/unified/rule-list/rule-sequences/useGrafanaRuleSequenceMembership.ts
  public/app/features/alerting/unified/rule-list/rule-sequences/useRuleSequenceView.ts
  public/locales/en-US/grafana.json
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

feat(alerting): scope rule sequence fetch to rule folder
  public/app/features/alerting/unified/mocks/server/handlers/k8s/ruleSequences.k8s.ts
  public/app/features/alerting/unified/rule-list/GrafanaRuleListItem.tsx
  public/app/features/alerting/unified/rule-list/rule-sequences/useGrafanaRuleSequenceMembership.test.ts
  public/app/features/alerting/unified/rule-list/rule-sequences/useGrafanaRuleSequenceMembership.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Dockerfile: fix entrypoint for distroless target
  Dockerfile
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Add restClient to APIClient to support search
  pkg/api/annotations.go
  pkg/services/annotations/annotationsapi/api_client.go
  pkg/services/annotations/annotationsapi/client.go
  pkg/services/annotations/annotationsapi/handler.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Provisioning: Check hmac header presence before reading body
  pkg/registry/apis/provisioning/webhooks/webhook.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

search: extract declared fields from resources via SearchFieldDefinition Path
  pkg/storage/unified/resource/document.go
  pkg/storage/unified/resource/document_test.go
  pkg/storage/unified/resource/path_extract.go
  pkg/storage/unified/resource/path_extract_test.go
  pkg/storage/unified/resource/search_field.go
  pkg/storage/unified/search/bleve_mappings_internal_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

search: lint fix and PreferredVersion fallback for missing apiVersion
  pkg/storage/unified/resource/document.go
  pkg/storage/unified/resource/document_test.go
  pkg/storage/unified/resource/path_extract.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Minor fixes
  pkg/api/annotations.go
  pkg/services/annotations/annotationsapi/handler.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

DataFrames: Materialize tabular joins without runtime codegen (unsafe-eval) (#126110)
  packages/grafana-data/src/transformations/transformers/joinDataFrames.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

docs: remove SAML Okta aliases with duplicated path segments (#126400)
  docs/sources/setup-grafana/configure-access/configure-authentication/saml/configure-saml-with-okta/_index.md
  docs/sources/setup-grafana/configure-access/configure-authentication/saml/configure-saml-with-okta/oin-application.md
Due: pr-docs, main-docs

API: Fix: getAPIGroup (#126333)
  pkg/services/accesscontrol/ossaccesscontrol/receivers.go
  pkg/services/accesscontrol/resourcepermissions/api.go
  pkg/services/accesscontrol/resourcepermissions/api_adapter.go
  pkg/services/accesscontrol/resourcepermissions/api_adapter_test.go
  pkg/services/accesscontrol/resourcepermissions/options.go
  pkg/services/accesscontrol/resourcepermissions/service.go
  pkg/services/accesscontrol/resourcepermissions/service_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Resource permissions: redirects hard fail (#126317)
  pkg/services/accesscontrol/resourcepermissions/api.go
  pkg/services/accesscontrol/resourcepermissions/api_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

search: drop IAM custom document builders in favour of declared fields
  pkg/storage/unified/resource/document.go
  pkg/storage/unified/resource/document_test.go
  pkg/storage/unified/resource/search_field.go
  pkg/storage/unified/search/builders/document_test.go
  pkg/storage/unified/search/builders/external_group_mapping.go
  pkg/storage/unified/search/builders/team.go
  pkg/storage/unified/search/builders/teambinding.go
  pkg/storage/unified/search/builders/testdata/doc/team-with-email-and-external-uid-out.json
  pkg/storage/unified/search/builders/testdata/doc/team_binding-with-team-and-user.json
  pkg/storage/unified/search/builders/testdata/doc/user-with-last-seen-at-and-role-out.json
  pkg/storage/unified/search/builders/testdata/doc/user-with-last-seen-at-and-role.json
  pkg/storage/unified/search/builders/testdata/doc/user-with-login-and-email-out.json
  pkg/storage/unified/search/builders/testdata/doc/user-with-login-and-email.json
  pkg/storage/unified/search/builders/testdata/doc/user-with-login-only-out.json
  pkg/storage/unified/search/builders/testdata/doc/user-with-login-only.json
  pkg/storage/unified/search/builders/user.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

keyboard nav take 2
  public/app/features/commandPalette/CommandPalette.test.tsx
  public/app/features/commandPalette/CommandPalette.tsx
  public/app/features/commandPalette/DeepSearchResults.tsx
  public/app/features/commandPalette/KBarResults.tsx
  public/app/features/commandPalette/KBarSearch.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

fix e2e test
  e2e-playwright/panels-suite/table-nested.spec.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Provisioning: Record Grafana user in bulk, move and fix-metadata commits
  public/app/features/provisioning/Wizard/hooks/useCreateSyncJob.ts
  public/app/features/provisioning/components/BulkActions/BulkDeleteProvisionedResource.test.tsx
  public/app/features/provisioning/components/BulkActions/BulkDeleteProvisionedResource.tsx
  public/app/features/provisioning/components/BulkActions/BulkMoveProvisionedResource.test.tsx
  public/app/features/provisioning/components/BulkActions/BulkMoveProvisionedResource.tsx
  public/app/features/provisioning/components/BulkActions/useBulkActionJob.ts
  public/app/features/provisioning/components/Folders/FixFolderMetadataDrawer.test.tsx
  public/app/features/provisioning/components/Folders/FixFolderMetadataDrawer.tsx
  public/locales/en-US/grafana.json
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

AccessControl: Use WithServiceIdentityForSingleNamespace for inherited perms
  pkg/services/accesscontrol/resourcepermissions/api_adapter.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Dashboards: Remove legacy PanelEditor (#125641)
  public/app/features/dashboard/components/PanelEditor/PanelEditorTableView.test.tsx
  public/app/features/dashboard/components/PanelEditor/PanelEditorTableView.tsx
  public/app/features/dashboard/components/PanelEditor/PanelHeaderCorner.test.tsx
  public/app/features/dashboard/components/PanelEditor/PanelHeaderCorner.tsx
  public/app/features/dashboard/components/PanelEditor/usePanelLatestData.ts
  public/locales/en-US/grafana.json
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

chore: add @grafana/llm to list of approved packages
  .yarnrc.yml
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Provisioning: Record Grafana user in bulk, move and fix-metadata commits (#126416)
  public/app/features/provisioning/Wizard/hooks/useCreateSyncJob.ts
  public/app/features/provisioning/components/BulkActions/BulkDeleteProvisionedResource.test.tsx
  public/app/features/provisioning/components/BulkActions/BulkDeleteProvisionedResource.tsx
  public/app/features/provisioning/components/BulkActions/BulkMoveProvisionedResource.test.tsx
  public/app/features/provisioning/components/BulkActions/BulkMoveProvisionedResource.tsx
  public/app/features/provisioning/components/BulkActions/useBulkActionJob.ts
  public/app/features/provisioning/components/Folders/FixFolderMetadataDrawer.test.tsx
  public/app/features/provisioning/components/Folders/FixFolderMetadataDrawer.tsx
  public/locales/en-US/grafana.json
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

add additional parsers
  pkg/tsdb/loki/parser_stage.go
  pkg/tsdb/loki/parser_stage_test.go
  pkg/tsdb/loki/schema.go
  pkg/tsdb/loki/schema_test.go
  pkg/tsdb/loki/sql.go
  pkg/tsdb/loki/sql_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

New Logs Context: enable by default
  pkg/services/featuremgmt/registry.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Update feature flags
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  packages/grafana-data/src/types/featureToggles.gen.ts
  packages/grafana-runtime/src/internal/openFeature/openfeature.gen.ts
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.json
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, pr-docs, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Live/Plugins: Fix "namespace" to "scope" rename (#119108)
  eslint-suppressions.json
  packages/grafana-data/src/types/live.test.ts
  packages/grafana-data/src/types/live.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

add tests
  public/app/features/expressions/components/SqlExpressions/SqlExpr.test.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Navigation: Populate starred nav section client-side (#126148)
  eslint-suppressions.json
  public/app/core/components/AppChrome/MegaMenu/MegaMenu.tsx
  public/app/core/components/AppChrome/MegaMenu/MegaMenuItem.tsx
  public/app/core/reducers/navBarTree.test.ts
  public/app/core/reducers/navBarTree.ts
  public/app/features/stars/hooks.test.tsx
  public/app/features/stars/hooks.ts
  public/locales/en-US/grafana.json
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Alerting: Migrate alertenrichment app to app-sdk.
  apps/alerting/alertenrichment/Makefile
  apps/alerting/alertenrichment/go.mod
  apps/alerting/alertenrichment/go.sum
  apps/alerting/alertenrichment/kinds/config.cue
  apps/alerting/alertenrichment/kinds/cue.mod/module.cue
  apps/alerting/alertenrichment/kinds/manifest.cue
  apps/alerting/alertenrichment/kinds/v1beta1/alertenrichment_spec.cue
  apps/alerting/alertenrichment/pkg/apis/alertenrichment/v1beta1/alertenrichment_client_gen.go
  apps/alerting/alertenrichment/pkg/apis/alertenrichment/v1beta1/alertenrichment_codec_gen.go
  apps/alerting/alertenrichment/pkg/apis/alertenrichment/v1beta1/alertenrichment_object_gen.go
  apps/alerting/alertenrichment/pkg/apis/alertenrichment/v1beta1/alertenrichment_schema_gen.go
  apps/alerting/alertenrichment/pkg/apis/alertenrichment/v1beta1/alertenrichment_spec_gen.go
  apps/alerting/alertenrichment/pkg/apis/alertenrichment/v1beta1/aliases.go
  apps/alerting/alertenrichment/pkg/apis/alertenrichment/v1beta1/constants.go
  apps/alerting/alertenrichment/pkg/apis/alertenrichment/v1beta1/doc.go
  apps/alerting/alertenrichment/pkg/apis/alertenrichment/v1beta1/types.go
  apps/alerting/alertenrichment/pkg/apis/alertenrichment/v1beta1/zz_generated.deepcopy.go
  apps/alerting/alertenrichment/pkg/apis/alertenrichment/v1beta1/zz_generated.defaults.go
  apps/alerting/alertenrichment/pkg/apis/alertenrichment/v1beta1/zz_generated.openapi.go
  apps/alerting/alertenrichment/pkg/apis/alertenrichment/v1beta1/zz_generated.openapi_violation_exceptions.list
  apps/alerting/alertenrichment/pkg/apis/alertenrichment/v1beta1/zz_openapi_gen.go
  apps/alerting/alertenrichment/pkg/apis/manifestdata/alertenrichment_manifest.go
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Replaced ref URIs with URLs
  docs/sources/visualizations/panels-visualizations/query-transform-data/_index.md
Due: pr-docs, main-docs

Path conditions:
  pr-verify-drone: any of: scripts/drone/**, .drone.yml, .drone.star, but not: docs/**, *.md
  pr-verify-starlark: any of: scripts/drone/**, .drone.star, but not: docs/**, *.md
  pr-verify-storybook: any of: packages/grafana-ui/**, but not: docs/**, *.md
  pr-test-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-lint-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-test-backend: any of: Makefile, pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, docs/sources/setup-grafana/configure-grafana/feature-toggles/**, devenv/**, but not: docs/**, *.md
  pr-lint-backend: any of: .golangci.toml, Makefile, pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, .bingo/**, but not: docs/**, *.md
  pr-build-e2e: any file but: *.md, docs/**, latest.json
  end-to-end-tests-cloud-plugins-suite-azure: any of: pkg/tsdb/azuremonitor/**, public/app/plugins/datasource/azuremonitor/**, e2e/cloud-plugins-suite/azure-monitor.spec.ts
  build-storybook: any of: packages/grafana-ui/**
  pr-integration-tests: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, but not: docs/**, *.md
  pr-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  pr-shellcheck: any of: scripts/**/*.sh, but not: *.md, docs/**, latest.json
  main-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  main-test-frontend: any file but: *.md, docs/**, latest.json
  main-lint-frontend: any file but: *.md, docs/**, latest.json
  main-test-backend: any file but: *.md, docs/**, latest.json
  main-lint-backend: any file but: *.md, docs/**, latest.json
  main-verify-storybook: any file but: *.md, docs/**, latest.json
  main-build-e2e-publish: any file but: *.md, docs/**, latest.json
  store-storybook: any of: packages/grafana-ui/**
  release-canary-npm-packages: any of: packages/**
  main-integration-tests: any file but: *.md, docs/**, latest.json
  main-trigger-downstream: any file but: *.md, docs/**, latest.json
  main-notify: any file but: *.md, docs/**, latest.json
  rgm-main-prerelease: any file but: *.md, docs/**, packages/**/*.md, latest.json
