Repository grafana/grafana: changes, and which Drone steps are due for each by the changed paths.
All: pr-verify-drone, pr-verify-starlark, pr-verify-storybook, pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, end-to-end-tests-cloud-plugins-suite-azure, build-storybook, pr-integration-tests, pr-docs, pr-shellcheck, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Path conditions:
  pr-verify-drone: any of: scripts/drone/**, .drone.yml, .drone.star, but not: docs/**, *.md
  pr-verify-starlark: any of: scripts/drone/**, .drone.star, but not: docs/**, *.md
  pr-verify-storybook: any of: packages/grafana-ui/**, but not: docs/**, *.md
  pr-test-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-lint-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-test-backend: any of: Makefile, pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, docs/sources/setup-grafana/configure-grafana/feature-toggles/**, devenv/**, but not: docs/**, *.md
  pr-lint-backend: any of: .golangci.toml, Makefile, pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, .bingo/**, but not: docs/**, *.md
  pr-build-e2e: any file but: *.md, docs/**, latest.json
  end-to-end-tests-cloud-plugins-suite-azure: any of: pkg/tsdb/azuremonitor/**, public/app/plugins/datasource/azuremonitor/**, e2e/cloud-plugins-suite/azure-monitor.spec.ts
  build-storybook: any of: packages/grafana-ui/**
  pr-integration-tests: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, but not: docs/**, *.md
  pr-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  pr-shellcheck: any of: scripts/**/*.sh, but not: *.md, docs/**, latest.json
  main-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  main-test-frontend: any file but: *.md, docs/**, latest.json
  main-lint-frontend: any file but: *.md, docs/**, latest.json
  main-test-backend: any file but: *.md, docs/**, latest.json
  main-lint-backend: any file but: *.md, docs/**, latest.json
  main-verify-storybook: any file but: *.md, docs/**, latest.json
  main-build-e2e-publish: any file but: *.md, docs/**, latest.json
  store-storybook: any of: packages/grafana-ui/**
  release-canary-npm-packages: any of: packages/**
  main-integration-tests: any file but: *.md, docs/**, latest.json
  main-trigger-downstream: any file but: *.md, docs/**, latest.json
  main-notify: any file but: *.md, docs/**, latest.json
  rgm-main-prerelease: any file but: *.md, docs/**, packages/**/*.md, latest.json

select location to jump to folder
  public/app/features/browse-resources/BrowseResourcesPage.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

[Provisioning] Getting Started Page and Tab (#101701)
  .betterer.results
  public/app/features/provisioning/ConfigFormGithubCollapse.tsx
  public/app/features/provisioning/GettingStarted/EnhancedFeatures.tsx
  public/app/features/provisioning/GettingStarted/FeatureCard.tsx
  public/app/features/provisioning/GettingStarted/FeaturesList.tsx
  public/app/features/provisioning/GettingStarted/GettingStarted.tsx
  public/app/features/provisioning/GettingStarted/GettingStartedPage.tsx
  public/app/features/provisioning/GettingStarted/SetupModal.tsx
  public/app/features/provisioning/GettingStarted/SetupStep.tsx
  public/app/features/provisioning/GettingStarted/Sidebar.tsx
  public/app/features/provisioning/GettingStarted/SidebarItem.tsx
  public/app/features/provisioning/GettingStarted/features.ts
  public/app/features/provisioning/GettingStarted/types.ts
  public/app/features/provisioning/OnboardingPage.tsx
  public/app/features/provisioning/RepositoryListPage.tsx
  public/app/features/provisioning/Setup/FeatureCard.tsx
  public/app/features/provisioning/Setup/FeatureList.tsx
  public/app/features/provisioning/Setup/SetupPage.tsx
  public/app/features/provisioning/Setup/StatusAlerts.tsx
  public/app/features/provisioning/Setup/types.ts
  public/app/features/provisioning/Wizard/ConnectionStep.tsx
  public/app/features/provisioning/constants.ts
  public/app/features/provisioning/utils/routes.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

make optional
  public/app/features/dashboard-scene/serialization/transformSceneToSaveModelSchemaV2.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Alerting: Move namespace-related functions to a separate service
  pkg/services/ngalert/api/api.go
  pkg/services/ngalert/api/api_convert_prometheus.go
  pkg/services/ngalert/api/persist.go
  pkg/services/ngalert/ngalert.go
  pkg/services/ngalert/store/alert_rule_test.go
  pkg/services/ngalert/store/namespace.go
  pkg/services/ngalert/store/namespace_test.go
  pkg/services/ngalert/tests/fakes/namespaces.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Support nested folders besides the root folder
  public/app/features/browse-resources/BrowseResourcesPage.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Adding alerting entries
  docs/sources/whatsnew/whats-new-in-v11-6.md
Due: pr-docs, main-docs

Check if props has comments and if interfaces extends TrackingEventProps
  packages/grafana-eslint-rules/rules/tracking-event-creation.cjs
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

set healthcheck
  .github/workflows/backend-integration-tests.yml
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

ports?
  .github/workflows/backend-integration-tests.yml
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

add provisioning
  go.mod
  go.sum
  go.work.sum
  pkg/apis/provisioning/v0alpha1/jobs.go
  pkg/apis/provisioning/v0alpha1/settings.go
  pkg/apis/provisioning/v0alpha1/types.go
  pkg/apis/provisioning/v0alpha1/zz_generated.deepcopy.go
  pkg/apis/provisioning/v0alpha1/zz_generated.openapi.go
  pkg/apis/provisioning/v0alpha1/zz_generated.openapi_violation_exceptions.list
  pkg/registry/apis/provisioning/jobs/store.go
  pkg/storage/unified/apistore/go.mod
  pkg/storage/unified/apistore/go.sum
  pkg/storage/unified/resource/go.sum
  pkg/tests/apis/openapi_snapshots/provisioning.grafana.app-v0alpha1.json
  public/app/features/provisioning/api/endpoints.gen.ts
  scripts/generate-rtk-apis.ts
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

add codeowners
  .github/CODEOWNERS
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

baldm0mma/ test if needs install step
  .github/workflows/pr-backend-code-checks.yml
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Lint
  .betterer.results
  public/app/plugins/datasource/azuremonitor/components/LogsQueryBuilder/AggregateItem.tsx
  public/app/plugins/datasource/azuremonitor/components/LogsQueryBuilder/LogsQueryBuilder.tsx
  public/app/plugins/datasource/azuremonitor/components/LogsQueryBuilder/TableSection.tsx
  public/app/plugins/datasource/azuremonitor/components/LogsQueryBuilder/utils.ts
  public/app/plugins/datasource/azuremonitor/types/types.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, end-to-end-tests-cloud-plugins-suite-azure, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

baldm0mma/ remove install step
  .github/workflows/pr-backend-code-checks.yml
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

baldm0mma/ update go version
  .github/workflows/pr-backend-code-checks.yml
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

fix api
  .betterer.results
  public/app/features/provisioning/api/baseAPI.ts
  public/app/features/provisioning/api/index.ts
  public/app/features/provisioning/api/types.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Lint
  .betterer.results
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

filter by clicking on type
  public/app/features/browse-resources/BrowseResourcesPage.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

clean up
  public/app/features/dashboard-scene/serialization/transformSceneToSaveModelSchemaV2.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

baldm0mma/ update run logic
  .github/workflows/pr-backend-unit-tests-enterprise.yml
  .github/workflows/pr-backend-unit-tests-grafana.yml
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

update
  public/app/features/dashboard-scene/serialization/transformSceneToSaveModelSchemaV2.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

baldm0mma/ add comments and update naming
  .github/workflows/backend-unit-tests.yml
  .github/workflows/pr-backend-unit-tests-enterprise.yml
  .github/workflows/pr-backend-unit-tests-grafana.yml
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

baldm0mma/ update codeowners
  .github/CODEOWNERS
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

baldm0mma/ update job names
  .github/workflows/pr-backend-unit-tests-enterprise.yml
  .github/workflows/pr-backend-unit-tests-grafana.yml
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

baldm0mma/ remove validation of code
  .github/workflows/backend-unit-tests.yml
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Add size multiplier back for now
  public/app/plugins/panel/geomap/layers/data/markersLayer.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

sort by name
  public/app/features/browse-resources/BrowseResourcesPage.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Docs: removing docs debt in install docs
  docs/sources/setup-grafana/installation/_index.md
  docs/sources/setup-grafana/installation/docker/index.md
  docs/sources/setup-grafana/installation/helm/index.md
Due: pr-docs, main-docs

Update view-alert-rules.md
  docs/sources/alerting/monitor-status/view-alert-rules.md
Due: pr-docs, main-docs

docs: alert rule history (#100378)
  docs/sources/alerting/monitor-status/view-alert-rules.md
Due: pr-docs, main-docs

K8s: Set generation name if missing that and name
  pkg/services/apiserver/builder/admission.go
  pkg/services/apiserver/builder/admission_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Transformations: Improve groupBy field selection and aggregated field types
  packages/grafana-data/src/transformations/fieldReducer.ts
  packages/grafana-data/src/transformations/transformers/groupBy.ts
  public/app/features/transformers/editors/GroupByTransformerEditor.tsx
  public/app/features/transformers/utils.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

copy over all original frame stuffs
  packages/grafana-data/src/transformations/transformers/groupBy.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

fix tests
  pkg/storage/secret/metadata/secret_mgmt_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

[wip] rough draft for g12
  docs/sources/developers/http_api/apis.md
  docs/sources/developers/http_api/dashboard.md
  docs/sources/developers/http_api/folder.md
Due: pr-docs, main-docs

update versions on folders
  docs/sources/developers/http_api/folder.md
Due: pr-docs, main-docs

update
  docs/sources/developers/http_api/apis.md
  docs/sources/developers/http_api/dashboard.md
Due: pr-docs, main-docs

Alerting: Add locking to avoid race conditions when creating alert rule folders
  pkg/services/cloudmigration/cloudmigrationimpl/cloudmigration_test.go
  pkg/services/folder/folderimpl/folder_test.go
  pkg/services/libraryelements/libraryelements_test.go
  pkg/services/ngalert/store/alert_rule_test.go
  pkg/services/ngalert/store/database.go
  pkg/services/ngalert/store/namespace.go
  pkg/services/ngalert/store/namespace_test.go
  pkg/services/ngalert/tests/util.go
  pkg/services/quota/quotaimpl/quota_test.go
  pkg/tests/apis/alerting/notifications/receivers/receiver_test.go
  pkg/tests/apis/alerting/notifications/routingtree/routing_tree_test.go
  pkg/tests/apis/alerting/notifications/templategroup/templates_group_test.go
  pkg/tests/apis/alerting/notifications/timeinterval/timeinterval_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

redirect after save
  .betterer.results
  public/app/features/dashboard-scene/saving/provisioned/SaveProvisionedDashboard.test.tsx
  public/app/features/dashboard-scene/saving/provisioned/SaveProvisionedDashboard.tsx
  public/app/features/dashboard-scene/scene/DashboardScene.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease
