Repository grafana/grafana: changes, and which Drone steps are due for each by the changed paths.
All: pr-verify-drone, pr-verify-starlark, pr-verify-storybook, pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, end-to-end-tests-cloud-plugins-suite-azure, build-storybook, pr-integration-tests, pr-docs, pr-shellcheck, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

pr-verify-drone:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.20.3
    name: identify-runner
  - commands:
    - go build -o ./bin/build -ldflags '-extldflags -static' ./pkg/build/cmd
    depends_on: []
    environment:
      CGO_ENABLED: 0
    image: golang:1.23.1-alpine
    name: compile-build-cmd
  - commands:
  ...

pr-verify-starlark:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.20.3
    name: identify-runner
  - commands:
    - go install github.com/bazelbuild/buildtools/buildifier@latest
    - buildifier --lint=warn -mode=check -r .
    depends_on: []
    image: golang:1.23.1-alpine
    name: lint-starlark

pr-verify-storybook:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.20.3
    name: identify-runner
  - commands:
    - yarn install --immutable || yarn install --immutable
    depends_on: []
    image: node:22.11.0-alpine
    name: yarn-install
  - commands:
    - yarn storybook --quiet
    depends_on:
    - yarn-install
  ...

pr-test-frontend:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.20.3
    name: identify-runner
  - commands:
    - yarn install --immutable || yarn install --immutable
    depends_on: []
    image: node:22.11.0-alpine
    name: yarn-install
  - commands:
    - apk add --update git bash
    - yarn betterer ci
  ...

pr-lint-frontend:
  steps:
  - commands:
    - echo $(/usr/bin/github-app-external-token) > /github-app/token
    environment:
      GITHUB_APP_ID:
        from_secret: github-app-app-id
      GITHUB_APP_INSTALLATION_ID:
        from_secret: github-app-installation-id
      GITHUB_APP_PRIVATE_KEY:
  ...

pr-test-backend:
  steps:
  - commands:
    - echo $(/usr/bin/github-app-external-token) > /github-app/token
    environment:
      GITHUB_APP_ID:
        from_secret: github-app-app-id
      GITHUB_APP_INSTALLATION_ID:
        from_secret: github-app-installation-id
      GITHUB_APP_PRIVATE_KEY:
  ...

pr-lint-backend:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.20.3
    name: identify-runner
  - commands:
    - go build -o ./bin/build -ldflags '-extldflags -static' ./pkg/build/cmd
    depends_on: []
    environment:
      CGO_ENABLED: 0
    image: golang:1.23.1-alpine
    name: compile-build-cmd
  - commands:
  ...

pr-build-e2e:
  steps:
  - commands:
    - echo $(/usr/bin/github-app-external-token) > /github-app/token
    environment:
      GITHUB_APP_ID:
        from_secret: github-app-app-id
      GITHUB_APP_INSTALLATION_ID:
        from_secret: github-app-installation-id
      GITHUB_APP_PRIVATE_KEY:
  ...

end-to-end-tests-cloud-plugins-suite-azure:
  commands:
  - GITHUB_TOKEN=$(cat /github-app/token)
  - cd /
  - ./cpp-e2e/scripts/ci-run.sh azure ${DRONE_SOURCE_BRANCH}
  depends_on:
  - grafana-server
  - github-app-generate-token
  environment:
    AZURE_SP_APP_ID:
      from_secret: azure_sp_app_id
    AZURE_SP_PASSWORD:
      from_secret: azure_sp_app_pw
  ...

Remote Alertmanager: Make timeout configurable in alert senders (#105599)
  pkg/services/ngalert/remote/alertmanager.go
  pkg/services/ngalert/sender/sender.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

refactor(unified-storage): extract list iterator and add tests (#105600)
  pkg/storage/unified/sql/backend.go
  pkg/storage/unified/sql/list_iterator.go
  pkg/storage/unified/sql/list_iterator_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Themes: Prevent duplicated API call in drawer (#105602)
  public/app/core/components/ThemeSelector/ThemeCard.test.tsx
  public/app/core/components/ThemeSelector/ThemeCard.tsx
  public/app/core/components/ThemeSelector/ThemeSelectorDrawer.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

i18n: Use `grafana/i18n` to init the `locale` and manage the `regionalFormat` (#105281)
  packages/grafana-i18n/package.json
  packages/grafana-i18n/src/dates.ts
  packages/grafana-i18n/src/i18n.tsx
  packages/grafana-i18n/src/index.ts
  packages/grafana-i18n/src/types/dates.d.ts
  packages/grafana-ui/package.json
  packages/grafana-ui/src/components/DateTimePickers/TimeRangePicker/mapper.ts
  pkg/expr/sql/dummy_arm.go
  public/app/app.ts
  public/app/core/internationalization/dates.ts
  public/app/types/intl.d.ts
  yarn.lock
Due: pr-verify-storybook, pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, build-storybook, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Plugins: Change versions tab column name (#105596)
  public/app/features/plugins/admin/components/VersionList.tsx
  public/app/features/plugins/admin/pages/PluginDetails.test.tsx
  public/locales/en-US/grafana.json
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Dashboards/E2E: Add test validating panel title and description modification (#105561)
  e2e/dashboard-new-layouts/dashboard-edit-flows.ts
  e2e/dashboard-new-layouts/dashboards-edit-panel-title-description.spec.ts
  e2e/utils/flows/scenes/index.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Advisor: Fix retry behavior for missing item (#105608)
  apps/advisor/pkg/app/checks/authchecks/check.go
  apps/advisor/pkg/app/checks/authchecks/check_test.go
  apps/advisor/pkg/app/checks/datasourcecheck/check.go
  apps/advisor/pkg/app/checks/datasourcecheck/check_test.go
  apps/advisor/pkg/app/checks/plugincheck/check.go
  apps/advisor/pkg/app/checks/plugincheck/check_test.go
  apps/advisor/pkg/app/utils.go
  apps/advisor/pkg/app/utils_test.go
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Preferences: PATCH when just changing theme (#105610)
  public/app/core/services/theme.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Preferences: Disable the save button whilst saving preferences (#105605)
  public/app/core/components/SharedPreferences/SharedPreferences.test.tsx
  public/app/core/components/SharedPreferences/SharedPreferences.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

unified-storage: setup distributor module option A (#104737)
  pkg/modules/dependencies.go
  pkg/server/distributor.go
  pkg/server/memberlist.go
  pkg/server/module_server.go
  pkg/server/ring.go
  pkg/storage/unified/apistore/go.mod
  pkg/storage/unified/apistore/go.sum
  pkg/storage/unified/client.go
  pkg/storage/unified/resource/client.go
  pkg/storage/unified/resource/distributor.go
  pkg/storage/unified/resource/go.mod
  pkg/storage/unified/resource/go.sum
  pkg/storage/unified/resource/server.go
  pkg/storage/unified/sql/server.go
  pkg/storage/unified/sql/service.go
  pkg/storage/unified/sql/test/integration_test.go
  pkg/tests/testinfra/testinfra.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

i18n: Update lint rule suggested import location to `@grafana/i18n` (#105091)
  eslint.config.js
  packages/grafana-eslint-rules/rules/no-untranslated-strings.cjs
  packages/grafana-eslint-rules/rules/translation-utils.cjs
  packages/grafana-eslint-rules/tests/no-untranslated-strings.test.js
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

CloudMigrations: Fix issues with snapshot resource limits (#105425)
  pkg/services/cloudmigration/cloudmigrationimpl/xorm_store.go
  pkg/services/cloudmigration/cloudmigrationimpl/xorm_store_test.go
  pkg/services/dashboards/dashboard.go
  pkg/services/dashboards/dashboard_provisioning_mock.go
  pkg/services/dashboards/dashboard_service_mock.go
  pkg/services/dashboards/database/database.go
  pkg/services/dashboards/service/dashboard_service.go
  pkg/services/dashboards/service/dashboard_service_test.go
  pkg/services/dashboards/store_mock.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Dashboards: E2E - Edit Pane - Interval Variable (#105570)
  e2e/dashboard-new-layouts/dashboards-edit-variables.spec.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Scopes: Replace scopes bridge with scopes variable (#105399)
  package.json
  public/app/features/dashboard-scene/panel-edit/PanelDataPane/PanelDataAlertingTab.test.tsx
  public/app/features/dashboard-scene/scene/DashboardReloadBehavior.ts
  public/app/features/dashboard-scene/scene/DashboardScene.tsx
  public/app/features/dashboard-scene/scene/DashboardSceneRenderer.tsx
  public/app/features/dashboard-scene/scene/DashboardSceneUrlSync.ts
  public/app/features/dashboard-scene/scene/VariableControls.tsx
  public/app/features/dashboard-scene/serialization/sceneVariablesSetToVariables.ts
  public/app/features/dashboard-scene/serialization/transformSaveModelSchemaV2ToScene.ts
  public/app/features/dashboard-scene/serialization/transformSaveModelToScene.ts
  public/app/features/dashboard-scene/settings/variables/VariableEditorList.tsx
  public/app/features/dashboard-scene/utils/variables.ts
  public/app/features/scopes/tests/utils/render.tsx
  yarn.lock
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

AuthZ-Service: Add debug logs with the function execution duration (#105621)
  pkg/services/authz/rbac/service.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

DashboardE2E: Add more cases to grouping E2E (#105598)
  e2e/dashboard-new-layouts/dashboard-group-panels.spec.ts
  e2e/dashboards/TestV2Dashboard.json
  e2e/utils/flows/scenes/addPanel.ts
  e2e/utils/flows/scenes/editPaneActions.ts
  e2e/utils/flows/scenes/importDashboard.ts
  e2e/utils/flows/scenes/index.ts
  packages/grafana-e2e-selectors/src/selectors/components.ts
  packages/grafana-e2e-selectors/src/selectors/pages.ts
  public/app/features/dashboard-scene/edit-pane/EditPaneHeader.tsx
  public/app/features/dashboard-scene/scene/layout-rows/RowsLayoutManagerRenderer.tsx
  public/app/features/dashboard-scene/scene/layout-tabs/TabsLayoutManagerRenderer.tsx
  public/app/features/dashboard-scene/scene/layouts-shared/DashboardLayoutSelector.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Geomap: Update CARTO attribution (#105578)
  public/app/plugins/panel/geomap/layers/basemaps/carto.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Dashboards/E2E: Add test validating transparent bg toggle behavior (#105619)
  e2e/dashboard-new-layouts/dashboards-edit-panel-transparent-bg.spec.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

ds-querier: return 400 when no code is present (#105633)
  pkg/apis/query/v0alpha1/query.go
  pkg/apis/query/v0alpha1/query_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

i18n: Change verify-i18n.spec.ts to test translations using language label (#105629)
  e2e/various-suite/verify-i18n.spec.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Alerting: Mention recording rules setup in the import API documentation (#105565)
  docs/sources/alerting/alerting-rules/alerting-migration/_index.md
  docs/sources/alerting/alerting-rules/alerting-migration/migration-api.md
Due: pr-docs, main-docs

Alerting: Add custom headers support for recording rules custom datasource writer (#105618)
  pkg/services/ngalert/ngalert.go
  pkg/services/ngalert/writer/datasourcewriter.go
  pkg/services/ngalert/writer/datasourcewriter_test.go
  pkg/services/ngalert/writer/testing.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

ElasticSearch: Fallback parse total hits as int (#105615)
  pkg/tsdb/elasticsearch/client/client.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Chore: Fix cloud migration test when running against postgres (#105636)
  pkg/services/cloudmigration/cloudmigrationimpl/xorm_store_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Alerting: Document X-Grafana-Alerting-Notification-Settings header (#105300)
  docs/sources/alerting/alerting-rules/alerting-migration/migration-api.md
Due: pr-docs, main-docs

Revert "Prometheus: Remove series endpoint call from Metrics Explorer" (#105104)
  packages/grafana-prometheus/src/metric_find_query.test.ts
  packages/grafana-prometheus/src/metric_find_query.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

chore(unified-storage): add tracing for unified storage folder implementation (#105601)
  pkg/server/module_server_test.go
  pkg/services/folder/folderimpl/conversions_test.go
  pkg/services/folder/folderimpl/folder.go
  pkg/services/folder/folderimpl/folder_test.go
  pkg/services/folder/folderimpl/folder_unifiedstorage.go
  pkg/services/folder/folderimpl/folder_unifiedstorage_test.go
  pkg/services/folder/folderimpl/unifiedstore.go
  pkg/services/folder/folderimpl/unifiedstore_test.go
  pkg/storage/unified/sql/backend.go
  pkg/storage/unified/sql/search.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Alerting: ignore multiple org ids on prom writer (#105652)
  pkg/services/ngalert/writer/prom.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

RBAC: Don't additionally cache all users permissions (#105607)
  pkg/services/accesscontrol/acimpl/service.go
  pkg/services/accesscontrol/cacheutils.go
  pkg/services/accesscontrol/cacheutils_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Chore: Remove `extraThemes` feature toggle (#105623)
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/api/index.go
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.go
  pkg/services/featuremgmt/toggles_gen.json
  public/app/core/components/ThemeSelector/getSelectableThemes.ts
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Alerting: Refactor Grafana Alertmanager (#105568)
  go.mod
  go.sum
  pkg/services/ngalert/notifier/alertmanager.go
  pkg/services/ngalert/notifier/config.go
  pkg/services/ngalert/notifier/multiorg_alertmanager_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

prometheus: use getSeriesValues in metrics selector (#105361)
  packages/grafana-prometheus/src/language_provider.mock.ts
  packages/grafana-prometheus/src/querybuilder/components/MetricsLabelsSection.test.tsx
  packages/grafana-prometheus/src/querybuilder/components/MetricsLabelsSection.tsx
  packages/grafana-prometheus/src/querybuilder/components/PromQueryBuilder.test.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

SecretsManager: Introduce secrets database wrapper (#105472)
  pkg/registry/apis/secret/contracts/database.go
  pkg/server/wire.go
  pkg/storage/secret/database/database.go
  pkg/storage/unified/sql/backend.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

unified-storage: distributor instructions and fix race condition (#105630)
  pkg/modules/dependencies.go
  pkg/storage/unified/README.md
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

DashboardSchemaV2: add missing allowCustomValue property in variables (#105416)
  apps/dashboard/kinds/v2alpha1/dashboard_spec.cue
  apps/dashboard/pkg/apis/dashboard/v2alpha1/dashboard_spec.cue
  apps/dashboard/pkg/apis/dashboard/v2alpha1/dashboard_spec_gen.go
  apps/dashboard/pkg/apis/dashboard/v2alpha1/zz_generated.openapi.go
  packages/grafana-schema/src/schema/dashboard/v2_examples.ts
  packages/grafana-schema/src/schema/dashboard/v2alpha1/types.spec.gen.ts
  pkg/tests/apis/openapi_snapshots/dashboard.grafana.app-v2alpha1.json
  public/app/features/dashboard-scene/serialization/DashboardSceneSerializer.test.ts
  public/app/features/dashboard-scene/serialization/__snapshots__/transformSceneToSaveModelSchemaV2.test.ts.snap
  public/app/features/dashboard-scene/serialization/sceneVariablesSetToVariables.test.ts
  public/app/features/dashboard-scene/serialization/sceneVariablesSetToVariables.ts
  public/app/features/dashboard-scene/v2schema/ImportDashboardFormV2.tsx
  public/app/features/dashboard-scene/v2schema/ImportDashboardOverviewV2.tsx
  public/app/features/dashboard/api/ResponseTransformers.ts
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

NGAlert: Revert change to use math/rand/v2 in tests (#105661)
  pkg/services/ngalert/api/api_ruler_validation_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

NodeGraph: Fix view traces query for edges (#105324)
  public/app/plugins/datasource/tempo/datasource.test.ts
  public/app/plugins/datasource/tempo/datasource.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Add Cloud provider logo (#105274)
  packages/grafana-data/src/types/icon.ts
  pkg/services/navtree/navtreeimpl/applinks.go
  public/img/icons/unicons/cloud-provider.svg
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

i18n: cleans up exports and imports (#105669)
  packages/grafana-i18n/src/i18n.tsx
  packages/grafana-i18n/src/internal/index.ts
  public/app/app.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Prometheus: removes props mutation (#105650)
  packages/grafana-prometheus/src/configuration/PromSettings.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Path conditions:
  pr-verify-drone: any of: scripts/drone/**, .drone.yml, .drone.star, but not: docs/**, *.md
  pr-verify-starlark: any of: scripts/drone/**, .drone.star, but not: docs/**, *.md
  pr-verify-storybook: any of: packages/grafana-ui/**, but not: docs/**, *.md
  pr-test-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-lint-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-test-backend: any of: Makefile, pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, docs/sources/setup-grafana/configure-grafana/feature-toggles/**, devenv/**, but not: docs/**, *.md
  pr-lint-backend: any of: .golangci.toml, Makefile, pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, .bingo/**, but not: docs/**, *.md
  pr-build-e2e: any file but: *.md, docs/**, latest.json
  end-to-end-tests-cloud-plugins-suite-azure: any of: pkg/tsdb/azuremonitor/**, public/app/plugins/datasource/azuremonitor/**, e2e/cloud-plugins-suite/azure-monitor.spec.ts
  build-storybook: any of: packages/grafana-ui/**
  pr-integration-tests: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, but not: docs/**, *.md
  pr-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  pr-shellcheck: any of: scripts/**/*.sh, but not: *.md, docs/**, latest.json
  main-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  main-test-frontend: any file but: *.md, docs/**, latest.json
  main-lint-frontend: any file but: *.md, docs/**, latest.json
  main-test-backend: any file but: *.md, docs/**, latest.json
  main-lint-backend: any file but: *.md, docs/**, latest.json
  main-verify-storybook: any file but: *.md, docs/**, latest.json
  main-build-e2e-publish: any file but: *.md, docs/**, latest.json
  store-storybook: any of: packages/grafana-ui/**
  release-canary-npm-packages: any of: packages/**
  main-integration-tests: any file but: *.md, docs/**, latest.json
  main-trigger-downstream: any file but: *.md, docs/**, latest.json
  main-notify: any file but: *.md, docs/**, latest.json
  rgm-main-prerelease: any file but: *.md, docs/**, packages/**/*.md, latest.json
