Repository grafana/grafana: changes, and which Drone steps are due for each by the changed paths.
All: pr-verify-drone, pr-verify-starlark, pr-verify-storybook, pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, end-to-end-tests-cloud-plugins-suite-azure, build-storybook, pr-integration-tests, pr-docs, pr-shellcheck, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Path conditions:
  pr-verify-drone: any of: scripts/drone/**, .drone.yml, .drone.star, but not: docs/**, *.md
  pr-verify-starlark: any of: scripts/drone/**, .drone.star, but not: docs/**, *.md
  pr-verify-storybook: any of: packages/grafana-ui/**, but not: docs/**, *.md
  pr-test-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-lint-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-test-backend: any of: Makefile, pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, docs/sources/setup-grafana/configure-grafana/feature-toggles/**, devenv/**, but not: docs/**, *.md
  pr-lint-backend: any of: .golangci.toml, Makefile, pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, .bingo/**, but not: docs/**, *.md
  pr-build-e2e: any file but: *.md, docs/**, latest.json
  end-to-end-tests-cloud-plugins-suite-azure: any of: pkg/tsdb/azuremonitor/**, public/app/plugins/datasource/azuremonitor/**, e2e/cloud-plugins-suite/azure-monitor.spec.ts
  build-storybook: any of: packages/grafana-ui/**
  pr-integration-tests: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, but not: docs/**, *.md
  pr-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  pr-shellcheck: any of: scripts/**/*.sh, but not: *.md, docs/**, latest.json
  main-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  main-test-frontend: any file but: *.md, docs/**, latest.json
  main-lint-frontend: any file but: *.md, docs/**, latest.json
  main-test-backend: any file but: *.md, docs/**, latest.json
  main-lint-backend: any file but: *.md, docs/**, latest.json
  main-verify-storybook: any file but: *.md, docs/**, latest.json
  main-build-e2e-publish: any file but: *.md, docs/**, latest.json
  store-storybook: any of: packages/grafana-ui/**
  release-canary-npm-packages: any of: packages/**
  main-integration-tests: any file but: *.md, docs/**, latest.json
  main-trigger-downstream: any file but: *.md, docs/**, latest.json
  main-notify: any file but: *.md, docs/**, latest.json
  rgm-main-prerelease: any file but: *.md, docs/**, packages/**/*.md, latest.json

add feature toggle
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.go
  pkg/services/featuremgmt/toggles_gen.json
  pkg/services/ngalert/store/alert_rule.go
  pkg/services/ngalert/store/alert_rule_test.go
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, pr-docs, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

baldm0mma/ uploading ent from within the workspace
  .github/workflows/pr-test-backend.yml
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Minor lint
  public/app/plugins/datasource/azuremonitor/azure_resource_graph/azure_resource_graph_datasource.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, end-to-end-tests-cloud-plugins-suite-azure, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Add getMetricNamespaces resource graph function
  public/app/plugins/datasource/azuremonitor/azure_resource_graph/azure_resource_graph_datasource.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, end-to-end-tests-cloud-plugins-suite-azure, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Modify getMetricNamespaces call
  public/app/plugins/datasource/azuremonitor/datasource.ts
  public/app/plugins/datasource/azuremonitor/variables.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, end-to-end-tests-cloud-plugins-suite-azure, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

baldm0mma/ revert run-backend-tests action
  .github/actions/run-backend-tests/action.yml
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

wire up the search endpoint
  public/app/features/browse-resources/BrowseFoldersPage.tsx
  public/app/features/search/service/unified.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

baldm0mma/ move edition to job level
  .github/workflows/pr-test-backend.yml
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Return names for getResourceNames values
  public/app/plugins/datasource/azuremonitor/azure_resource_graph/azure_resource_graph_datasource.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, end-to-end-tests-cloud-plugins-suite-azure, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Use getMetricNamespaces variable specific req in editor
  public/app/plugins/datasource/azuremonitor/components/VariableEditor/VariableEditor.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, end-to-end-tests-cloud-plugins-suite-azure, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

baldm0mma/ update WIRE_TAGS
  .github/workflows/pr-test-backend.yml
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

baldm0mma/ move the enterprise code to the correct location after extracting it
  .github/workflows/pr-test-backend.yml
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

K8s: Dashboards: Add useful error message for too large (#101590)
  pkg/api/apierrors/dashboard.go
  pkg/services/apiserver/service.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

baldm0mma/ rem packaging/extracting of enterprise code
  .github/workflows/pr-test-backend.yml
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

baldm0mma/ test makefile
  .github/workflows/pr-test-backend.yml
  Makefile
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

baldm0mma/ add ent setup to coverage
  .github/workflows/pr-test-backend.yml
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

baldm0mma/ rem backend test action
  .github/actions/run-backend-tests/action.yml
  .github/workflows/pr-test-backend.yml
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Transformations: Avoid mutation during variable interpolation
  packages/grafana-data/src/transformations/transformDataFrame.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

move junk around
  packages/grafana-data/src/transformations/transformDataFrame.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Transformations: Avoid mutation during variable interpolation (#101594)
  packages/grafana-data/src/transformations/transformDataFrame.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

WIP: Working import
  .betterer.results
  packages/grafana-schema/src/schema/dashboard/v2alpha0/dashboard.schema.cue
  packages/grafana-schema/src/schema/dashboard/v2alpha0/types.gen.ts
  public/app/features/dashboard-scene/v2schema/ImportDashboardFormV2.tsx
  public/app/features/dashboard-scene/v2schema/ImportDashboardOverviewV2.tsx
  public/app/features/dashboard-scene/v2schema/ImportDashboardV2.ts
  public/app/features/dashboard/api/v2.ts
  public/app/features/manage-dashboards/DashboardImportPage.tsx
  public/app/features/manage-dashboards/state/reducers.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

compitable variable
  packages/grafana-data/src/utils/url.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

add new plugin
  j-j-datasource/.gitignore
  n-n-app/src/pages/StockChart.tsx
  n-n-app/src/utils/api.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

add plugin
  pkg/plugins/manager/testdata/includes-symlinks/symlink_to_txt
  pkg/plugins/manager/testdata/symbolic-plugin-dirs/plugin
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

fix conversion; getting provisioned data; unprovisioning; tests
  pkg/apimachinery/utils/meta.go
  pkg/apis/dashboard/utils.go
  pkg/services/dashboards/models.go
  pkg/services/dashboards/service/dashboard_service.go
  pkg/services/dashboards/service/dashboard_service_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

update folder reference also
  pkg/api/dtos/folder.go
  pkg/api/folder.go
  pkg/apimachinery/utils/manager.go
  pkg/services/folder/folderimpl/conversions.go
  pkg/services/folder/folderimpl/conversions_test.go
  pkg/services/folder/model.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

fix unit test
  public/app/features/dashboard-scene/sharing/ShareLinkTab.test.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

update unit test
  public/app/angular/AngularLocationWrapper.test.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

update unit test
  public/app/features/dashboard/services/TimeSrv.test.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

update swagger
  public/api-merged.json
  public/openapi3.json
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

optimize unit test
  packages/grafana-data/src/utils/url.ts
  public/app/angular/AngularLocationWrapper.test.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

update swagger
  public/openapi3.json
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

update unit test
  packages/grafana-data/src/utils/url.ts
  public/app/angular/AngularLocationWrapper.test.ts
  public/app/features/panel/panellinks/link_srv.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

K8s/Annotations: Use manager/source annotations rather than repo (#101313)
  pkg/api/dtos/folder.go
  pkg/api/folder.go
  pkg/apimachinery/utils/manager.go
  pkg/apimachinery/utils/meta.go
  pkg/apimachinery/utils/meta_test.go
  pkg/apis/dashboard/utils.go
  pkg/registry/apis/dashboard/legacy/sql_dashboards.go
  pkg/registry/apis/dashboard/legacy/sql_dashboards_test.go
  pkg/registry/apis/dashboard/legacysearcher/search_client.go
  pkg/registry/apis/dashboard/legacysearcher/search_client_test.go
  pkg/registry/apis/dashboard/sub_dto.go
  pkg/services/dashboards/models.go
  pkg/services/dashboards/service/dashboard_service.go
  pkg/services/dashboards/service/dashboard_service_test.go
  pkg/services/dashboards/service/search/search.go
  pkg/services/folder/folderimpl/conversions.go
  pkg/services/folder/folderimpl/conversions_test.go
  pkg/services/folder/model.go
  pkg/storage/unified/apistore/prepare.go
  pkg/storage/unified/apistore/prepare_test.go
  pkg/storage/unified/resource/document.go
  pkg/storage/unified/resource/document_test.go
  pkg/storage/unified/resource/server.go
  pkg/storage/unified/search/bleve.go
  pkg/storage/unified/search/bleve_mappings.go
  pkg/storage/unified/search/bleve_mappings_test.go
  pkg/storage/unified/search/bleve_test.go
  pkg/storage/unified/search/document_test.go
  pkg/storage/unified/search/testdata/doc/folder-aaa-out.json
  pkg/storage/unified/search/testdata/doc/folder-aaa.json
  pkg/storage/unified/search/testdata/doc/folder-bbb-out.json
  pkg/storage/unified/search/testdata/doc/folder-bbb.json
  pkg/storage/unified/search/testdata/doc/playlist-aaa-out.json
  pkg/storage/unified/search/testdata/doc/report-aaa-out.json
  pkg/tests/apis/dashboard/dashboards_test.go
  public/api-merged.json
  public/openapi3.json
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Hackaton: Add more unit tests, take 3 (#101525)
  pkg/bus/bus_test.go
  pkg/components/apikeygen/apikeygen_test.go
  pkg/components/imguploader/webdavuploader_test.go
  pkg/expr/classic/evaluator_test.go
  pkg/login/social/connectors/github_oauth_test.go
  pkg/middleware/cookies/cookies_test.go
  pkg/services/anonymous/anonimpl/impl_test.go
  pkg/services/cloudmigration/objectstorage/s3_test.go
  pkg/services/serviceaccounts/secretscan/service_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease
