Repository grafana/grafana: changes, and which Drone steps are due for each by the changed paths.
All: pr-verify-drone, pr-verify-starlark, pr-verify-storybook, pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, end-to-end-tests-cloud-plugins-suite-azure, build-storybook, pr-integration-tests, pr-docs, pr-shellcheck, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

pr-verify-drone:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.20.3
    name: identify-runner
  - commands:
    - go build -o ./bin/build -ldflags '-extldflags -static' ./pkg/build/cmd
    depends_on: []
    environment:
      CGO_ENABLED: 0
    image: golang:1.23.1-alpine
    name: compile-build-cmd
  - commands:
  ...

pr-verify-starlark:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.20.3
    name: identify-runner
  - commands:
    - go install github.com/bazelbuild/buildtools/buildifier@latest
    - buildifier --lint=warn -mode=check -r .
    depends_on: []
    image: golang:1.23.1-alpine
    name: lint-starlark

pr-verify-storybook:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.20.3
    name: identify-runner
  - commands:
    - yarn install --immutable || yarn install --immutable
    depends_on: []
    image: node:22.11.0-alpine
    name: yarn-install
  - commands:
    - yarn storybook --quiet
    depends_on:
    - yarn-install
  ...

pr-test-frontend:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.20.3
    name: identify-runner
  - commands:
    - yarn install --immutable || yarn install --immutable
    depends_on: []
    image: node:22.11.0-alpine
    name: yarn-install
  - commands:
    - apk add --update git bash
    - yarn betterer ci
  ...

pr-lint-frontend:
  steps:
  - commands:
    - echo $(/usr/bin/github-app-external-token) > /github-app/token
    environment:
      GITHUB_APP_ID:
        from_secret: github-app-app-id
      GITHUB_APP_INSTALLATION_ID:
        from_secret: github-app-installation-id
      GITHUB_APP_PRIVATE_KEY:
  ...

pr-test-backend:
  steps:
  - commands:
    - echo $(/usr/bin/github-app-external-token) > /github-app/token
    environment:
      GITHUB_APP_ID:
        from_secret: github-app-app-id
      GITHUB_APP_INSTALLATION_ID:
        from_secret: github-app-installation-id
      GITHUB_APP_PRIVATE_KEY:
  ...

pr-lint-backend:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.20.3
    name: identify-runner
  - commands:
    - go build -o ./bin/build -ldflags '-extldflags -static' ./pkg/build/cmd
    depends_on: []
    environment:
      CGO_ENABLED: 0
    image: golang:1.23.1-alpine
    name: compile-build-cmd
  - commands:
  ...

pr-build-e2e:
  steps:
  - commands:
    - echo $(/usr/bin/github-app-external-token) > /github-app/token
    environment:
      GITHUB_APP_ID:
        from_secret: github-app-app-id
      GITHUB_APP_INSTALLATION_ID:
        from_secret: github-app-installation-id
      GITHUB_APP_PRIVATE_KEY:
  ...

end-to-end-tests-cloud-plugins-suite-azure:
  commands:
  - GITHUB_TOKEN=$(cat /github-app/token)
  - cd /
  - ./cpp-e2e/scripts/ci-run.sh azure ${DRONE_SOURCE_BRANCH}
  depends_on:
  - grafana-server
  - github-app-generate-token
  environment:
    AZURE_SP_APP_ID:
      from_secret: azure_sp_app_id
    AZURE_SP_PASSWORD:
      from_secret: azure_sp_app_pw
  ...

IAM: Fix NULL column scan error in legacy user list query (#120788)
  pkg/registry/apis/iam/legacy/user.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

refactor: clean up
  public/app/features/variables/state/actions.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

addressing copilot comments
  apps/provisioning/pkg/safepath/dir.go
  apps/provisioning/pkg/safepath/dir_test.go
  pkg/registry/apis/provisioning/jobs/sync/changes.go
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Translations
  public/locales/en-US/grafana.json
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Prettier
  docs/sources/setup-grafana/configure-access/configure-authentication/saml/_index.md
  docs/sources/setup-grafana/configure-access/configure-authentication/saml/saml-file/_index.md
  docs/sources/setup-grafana/configure-access/configure-authentication/saml/saml-ui/_index.md
Due: pr-docs, main-docs

[release-11.6.14] Dependencies: Update github.com/buger/jsonparser to v1.1.2 (#120785)
  apps/advisor/go.mod
  apps/advisor/go.sum
  go.mod
  go.sum
  pkg/promlib/go.mod
  pkg/promlib/go.sum
  pkg/storage/unified/apistore/go.mod
  pkg/storage/unified/apistore/go.sum
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

fix(MenuItem): merge duplicate case ' ' in handleKeys switch statement
  packages/grafana-ui/src/components/Menu/MenuItem.tsx
Due: pr-verify-storybook, pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

chore: change naming of ft and rgenerate
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.go
  pkg/services/featuremgmt/toggles_gen.json
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Folder: Fix pagination stopping early due to post-search k6 filter (#120707)
  pkg/registry/apis/dashboard/legacysearcher/search_client.go
  pkg/services/folder/folderimpl/unifiedstore.go
  pkg/services/folder/folderimpl/unifiedstore_test.go
  pkg/storage/unified/search/bleve_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

addressing copilot comments
  apps/provisioning/pkg/safepath/dir.go
  pkg/registry/apis/provisioning/jobs/sync/changes.go
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Logs Panel: Added support to toggle Level visibility from the field selector (#120667)
  public/app/features/logs/components/LogDetails.test.tsx
  public/app/features/logs/components/LogDetailsBody.tsx
  public/app/features/logs/components/LogLabels.test.tsx
  public/app/features/logs/components/LogRowMessageDisplayedFields.test.tsx
  public/app/features/logs/components/LogRowMessageDisplayedFields.tsx
  public/app/features/logs/components/fieldSelector/ActiveFields.tsx
  public/app/features/logs/components/fieldSelector/FieldList.tsx
  public/app/features/logs/components/fieldSelector/FieldSelector.tsx
  public/app/features/logs/components/fieldSelector/LogLevelField.tsx
  public/app/features/logs/components/fieldSelector/LogListFieldSelector.tsx
  public/app/features/logs/components/fieldSelector/getSuggestedFieldsFromTable.ts
  public/app/features/logs/components/fieldSelector/logFields.ts
  public/app/features/logs/components/fieldSelector/suggestedFields.tsx
  public/app/features/logs/components/otel/formats.test.ts
  public/app/features/logs/components/otel/formats.ts
  public/app/features/logs/components/panel/LogLine.test.tsx
  public/app/features/logs/components/panel/LogLine.tsx
  public/app/features/logs/components/panel/LogLineContext.test.tsx
  public/app/features/logs/components/panel/LogLineDetails.test.tsx
  public/app/features/logs/components/panel/LogLineDetailsFields.tsx
  public/app/features/logs/components/panel/LogLineDetailsHeader.tsx
  public/app/features/logs/components/panel/LogList.test.tsx
  public/app/features/logs/components/panel/LogList.tsx
  public/app/features/logs/components/panel/LogListContext.tsx
  public/app/features/logs/components/panel/__mocks__/LogListContext.tsx
  public/app/features/logs/components/panel/processing.test.ts
  public/app/features/logs/components/panel/processing.ts
  public/app/features/logs/components/panel/virtualization.test.ts
  public/locales/en-US/grafana.json
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

chore: remove old code
  conf/defaults.ini
  conf/sample.ini
  pkg/services/featuremgmt/toggles_gen.json
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

[release-12.1.10] Dependencies: Update github.com/buger/jsonparser to v1.1.2 (#120783)
  apps/advisor/go.mod
  apps/advisor/go.sum
  apps/investigations/go.mod
  apps/investigations/go.sum
  go.mod
  go.sum
  pkg/promlib/go.mod
  pkg/promlib/go.sum
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

feat: add unit tests for augmentChangesForFolderMoves
  pkg/registry/apis/provisioning/jobs/sync/changes_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Provisioning: Full Sync - react when metadata is deleted (#120763)
  apps/provisioning/pkg/safepath/dir.go
  apps/provisioning/pkg/safepath/dir_test.go
  pkg/registry/apis/provisioning/jobs/sync/changes.go
  pkg/registry/apis/provisioning/jobs/sync/changes_test.go
  pkg/tests/apis/provisioning/foldermetadata/sync_folder_metadata_test.go
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

chore: revert to main
  conf/defaults.ini
  conf/sample.ini
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Dependencies: Update github.com/russellhaering/goxmldsig to v1.6.0
  apps/iam/go.sum
  go.mod
  go.sum
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Dependencies: Update github.com/russellhaering/goxmldsig to v1.6.0
  go.mod
  go.sum
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

resolve PR comments
  public/app/features/alerting/unified/components/AlertRuleDrawerForm.tsx
  public/app/features/alerting/unified/components/RuleNotificationSection.tsx
  public/app/features/alerting/unified/components/create-folder/CreateNewFolder.tsx
  public/app/features/alerting/unified/components/rule-editor/FolderSelectorV2.tsx
  public/app/features/alerting/unified/rule-editor/formProcessing.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Alerting: Update OpenAPI specs for provisioning APIs with 403 Forbidden. (#120694)
  packages/grafana-openapi/src/api/openapi3.json
  pkg/services/ngalert/api/tooling/api.json
  pkg/services/ngalert/api/tooling/definitions/provisioning_contactpoints.go
  pkg/services/ngalert/api/tooling/definitions/provisioning_mute_timings.go
  pkg/services/ngalert/api/tooling/definitions/provisioning_policies.go
  pkg/services/ngalert/api/tooling/definitions/provisioning_templates.go
  pkg/services/ngalert/api/tooling/spec.json
  public/api-merged.json
  public/openapi3.json
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Add bars-clock icon
  packages/grafana-data/src/types/icon.ts
  public/app/core/icons/cached.json
  public/img/icons/unicons/bars-clock.svg
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

fix(unified-storage): settle non-rvmanager create races
  pkg/storage/unified/resource/storage_backend.go
  pkg/storage/unified/resource/storage_backend_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

feat: simplify deleted index map
  pkg/registry/apis/provisioning/jobs/sync/changes.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

CI: fix codeql-analysis missing permission
  .github/workflows/codeql-analysis.yml
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

docs(unified-storage): clarify create settlement helper
  pkg/storage/unified/resource/storage_backend.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

feat: add integration test cases and refactor commonalities
  pkg/tests/apis/provisioning/common/testing.go
  pkg/tests/apis/provisioning/foldermetadata/full_sync_move_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

set empty workflow-level permissions
  .github/workflows/codeql-analysis.yml
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

feat: avoid overriding source properties that are not updated
  pkg/registry/apis/provisioning/resources/folders.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Provisioning: Preserve folder identity on metadata-backed folder moves during full sync (#120782)
  pkg/registry/apis/provisioning/jobs/sync/changes.go
  pkg/registry/apis/provisioning/jobs/sync/changes_test.go
  pkg/registry/apis/provisioning/resources/folders.go
  pkg/registry/apis/provisioning/resources/folders_test.go
  pkg/tests/apis/provisioning/common/testing.go
  pkg/tests/apis/provisioning/foldermetadata/full_sync_move_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Provisioning: Handle tree renames gracefully in incremental sync
  apps/provisioning/pkg/repository/git/repository.go
  apps/provisioning/pkg/repository/git/repository_test.go
  pkg/registry/apis/provisioning/jobs/sync/incremental.go
  pkg/registry/apis/provisioning/resources/folders.go
  pkg/registry/apis/provisioning/resources/folders_test.go
  pkg/registry/apis/provisioning/resources/id.go
  pkg/registry/apis/provisioning/resources/id_test.go
  pkg/registry/apis/provisioning/resources/repository.go
  pkg/registry/apis/provisioning/resources/repository_resources_mock.go
  pkg/tests/apis/provisioning/git/incremental_folder_metadata_test.go
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Provisioning: Replace NeedsUpdate with FolderState.Equal
  pkg/registry/apis/provisioning/resources/folders.go
  pkg/registry/apis/provisioning/resources/id.go
  pkg/registry/apis/provisioning/resources/id_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Provisioning: Improve readability of tree rename handling
  apps/provisioning/pkg/repository/git/repository.go
  apps/provisioning/pkg/repository/git/repository_test.go
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Provisioning: Improve folder comparison API and expand rename integration tests
  pkg/registry/apis/provisioning/resources/folders.go
  pkg/registry/apis/provisioning/resources/id.go
  pkg/registry/apis/provisioning/resources/id_test.go
  pkg/tests/apis/provisioning/git/incremental_folder_metadata_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

chore(shorturl): log migration phase timings
  pkg/registry/apps/shorturl/migrator/migrator.go
  pkg/registry/apps/shorturl/migrator/migrator_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Provisioning: Simplify folder comparison to Folder.Equal and move snapshot helpers to common
  pkg/registry/apis/provisioning/resources/folders.go
  pkg/registry/apis/provisioning/resources/id.go
  pkg/registry/apis/provisioning/resources/id_test.go
  pkg/tests/apis/provisioning/common/testing.go
  pkg/tests/apis/provisioning/git/incremental_folder_metadata_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

move state update concern to Filters.tsx
  public/app/features/alerting/unified/NotificationPoliciesPage.tsx
  public/app/features/alerting/unified/components/notification-policies/Filters.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Path conditions:
  pr-verify-drone: any of: scripts/drone/**, .drone.yml, .drone.star, but not: docs/**, *.md
  pr-verify-starlark: any of: scripts/drone/**, .drone.star, but not: docs/**, *.md
  pr-verify-storybook: any of: packages/grafana-ui/**, but not: docs/**, *.md
  pr-test-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-lint-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-test-backend: any of: Makefile, pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, docs/sources/setup-grafana/configure-grafana/feature-toggles/**, devenv/**, but not: docs/**, *.md
  pr-lint-backend: any of: .golangci.toml, Makefile, pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, .bingo/**, but not: docs/**, *.md
  pr-build-e2e: any file but: *.md, docs/**, latest.json
  end-to-end-tests-cloud-plugins-suite-azure: any of: pkg/tsdb/azuremonitor/**, public/app/plugins/datasource/azuremonitor/**, e2e/cloud-plugins-suite/azure-monitor.spec.ts
  build-storybook: any of: packages/grafana-ui/**
  pr-integration-tests: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, but not: docs/**, *.md
  pr-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  pr-shellcheck: any of: scripts/**/*.sh, but not: *.md, docs/**, latest.json
  main-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  main-test-frontend: any file but: *.md, docs/**, latest.json
  main-lint-frontend: any file but: *.md, docs/**, latest.json
  main-test-backend: any file but: *.md, docs/**, latest.json
  main-lint-backend: any file but: *.md, docs/**, latest.json
  main-verify-storybook: any file but: *.md, docs/**, latest.json
  main-build-e2e-publish: any file but: *.md, docs/**, latest.json
  store-storybook: any of: packages/grafana-ui/**
  release-canary-npm-packages: any of: packages/**
  main-integration-tests: any file but: *.md, docs/**, latest.json
  main-trigger-downstream: any file but: *.md, docs/**, latest.json
  main-notify: any file but: *.md, docs/**, latest.json
  rgm-main-prerelease: any file but: *.md, docs/**, packages/**/*.md, latest.json
