Repository grafana/grafana: changes, and which Drone steps are due for each by the changed paths.
All: pr-verify-drone, pr-verify-starlark, pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, trigger-test-release, end-to-end-tests-cloud-plugins-suite-azure, build-storybook, pr-integration-tests, pr-docs, pr-shellcheck, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, store-storybook, main-integration-tests, main-windows, notify-drone-changes, main-trigger-downstream, main-notify

Path conditions:
  pr-verify-drone: any of: scripts/drone/**, .drone.yml, .drone.star, but not: docs/**, *.md
  pr-verify-starlark: any of: scripts/drone/**, .drone.star, but not: docs/**, *.md
  pr-test-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-lint-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-test-backend: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, but not: docs/**, *.md
  pr-lint-backend: any of: pkg/**, packaging/**, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, .bingo/**, but not: docs/**, *.md
  pr-build-e2e: any file but: *.md, docs/**, latest.json
  trigger-test-release: any of: .drone.yml, pkg/build/**
  end-to-end-tests-cloud-plugins-suite-azure: any of: pkg/tsdb/azuremonitor/**, public/app/plugins/datasource/azuremonitor/**, e2e/cloud-plugins-suite/azure-monitor.spec.ts
  build-storybook: any of: packages/grafana-ui/**
  pr-integration-tests: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, but not: docs/**, *.md
  pr-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  pr-shellcheck: any of: scripts/**/*.sh, but not: *.md, docs/**, latest.json
  main-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  main-test-frontend: any file but: *.md, docs/**, latest.json
  main-lint-frontend: any file but: *.md, docs/**, latest.json
  main-test-backend: any file but: *.md, docs/**, latest.json
  main-lint-backend: any file but: *.md, docs/**, latest.json
  main-build-e2e-publish: any file but: *.md, docs/**, latest.json
  store-storybook: any of: packages/grafana-ui/**
  main-integration-tests: any file but: *.md, docs/**, latest.json
  main-windows: any file but: *.md, docs/**, latest.json
  notify-drone-changes: any of: .drone.yml, but not: exclude
  main-trigger-downstream: any file but: *.md, docs/**, latest.json
  main-notify: any file but: *.md, docs/**, latest.json

chore: minor refactoring in the grafana server cli command (#72847)
  go.mod
  go.sum
  pkg/cmd/grafana-server/commands/buildinfo.go
  pkg/cmd/grafana-server/commands/cli.go
  pkg/cmd/grafana-server/commands/diagnostics.go
  pkg/cmd/grafana-server/commands/flags.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Auth: Add no role frontend feature flag (#72823)
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.go
  public/app/core/components/RolePicker/BuiltinRoleSelector.tsx
  public/app/core/components/RolePicker/RolePickerMenu.tsx
  public/app/features/org/UserInviteForm.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, pr-docs, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Plugins: Add termination stage to plugin loader pipeline (#72822)
  pkg/api/plugin_resource_test.go
  pkg/plugins/manager/fakes/fakes.go
  pkg/plugins/manager/loader/loader.go
  pkg/plugins/manager/loader/loader_test.go
  pkg/plugins/manager/manager_integration_test.go
  pkg/plugins/manager/pipeline/bootstrap/bootstrap.go
  pkg/plugins/manager/pipeline/bootstrap/doc.go
  pkg/plugins/manager/pipeline/discovery/doc.go
  pkg/plugins/manager/pipeline/doc.go
  pkg/plugins/manager/pipeline/initialization/doc.go
  pkg/plugins/manager/pipeline/initialization/steps.go
  pkg/plugins/manager/pipeline/initialization/steps_test.go
  pkg/plugins/manager/pipeline/termination/doc.go
  pkg/plugins/manager/pipeline/termination/steps.go
  pkg/plugins/manager/pipeline/termination/termination.go
  pkg/services/pluginsintegration/loader/loader.go
  pkg/services/pluginsintegration/loader/loader_test.go
  pkg/services/pluginsintegration/pipeline/pipeline.go
  pkg/services/pluginsintegration/pluginsintegration.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Plugins: Add remaining steps to inititialization stage (#72894)
  pkg/api/plugin_resource_test.go
  pkg/plugins/manager/loader/loader.go
  pkg/plugins/manager/manager_integration_test.go
  pkg/plugins/manager/pipeline/initialization/steps.go
  pkg/services/pluginsintegration/loader/loader_test.go
  pkg/services/pluginsintegration/pipeline/pipeline.go
  pkg/services/pluginsintegration/pipeline/steps.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Auth: Add documentation references to No Basic role (#72880)
  docs/sources/administration/roles-and-permissions/_index.md
  docs/sources/administration/service-accounts/index.md
  public/app/core/components/RolePicker/BuiltinRoleSelector.tsx
  public/app/core/components/RolePicker/RolePickerMenu.tsx
  public/app/features/org/UserInviteForm.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, pr-docs, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Alerting: Fix cloud rules editing (#72927)
  public/app/features/alerting/unified/CloneRuleEditor.test.tsx
  public/app/features/alerting/unified/components/alert-groups/MatcherFilter.test.tsx
  public/app/features/alerting/unified/components/rule-editor/CloudRulesSourcePicker.tsx
  public/app/features/alerting/unified/components/rule-editor/query-and-alert-condition/CloudDataSourceSelector.tsx
  public/app/features/alerting/unified/components/rule-editor/query-and-alert-condition/QueryAndExpressionsStep.tsx
  public/app/features/alerting/unified/utils/rule-form.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Update bind-net-capabilities.md (#65181)
  docs/sources/shared/systemd/bind-net-capabilities.md
Due: pr-docs, main-docs

Auth: OAuth sets `skip_org_role_sync = true` for auth.google by default (#72819)
  docs/sources/setup-grafana/configure-security/configure-authentication/google/index.md
  pkg/login/social/google_oauth.go
  pkg/login/social/social.go
  pkg/setting/setting.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, pr-docs, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

InfluxDB: Fix retention policy handling for InfluxDB 3.0 engine by bringing back the hardcoded default (#72467)
  public/app/plugins/datasource/influxdb/components/editor/query/influxql/hooks/useRetentionPolicies.test.ts
  public/app/plugins/datasource/influxdb/components/editor/query/influxql/hooks/useRetentionPolicies.ts
  public/app/plugins/datasource/influxdb/components/editor/query/influxql/visual/FromSection.tsx
  public/app/plugins/datasource/influxdb/components/editor/query/influxql/visual/VisualInfluxQLEditor.tsx
  public/app/plugins/datasource/influxdb/datasource.ts
  public/app/plugins/datasource/influxdb/influx_query_model.ts
  public/app/plugins/datasource/influxdb/influxql_metadata_query.ts
  public/app/plugins/datasource/influxdb/queryUtils.test.ts
  public/app/plugins/datasource/influxdb/queryUtils.ts
  public/app/plugins/datasource/influxdb/response_parser.ts
  public/app/plugins/datasource/influxdb/types.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Alerting: Refactor of state manager tests (#72849)
  pkg/services/ngalert/eval/testing.go
  pkg/services/ngalert/models/testing.go
  pkg/services/ngalert/state/manager_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Config: making [aws][external_id] part of env (#72062)
  go.mod
  go.sum
  pkg/plugins/config/config.go
  pkg/plugins/envvars/envvars.go
  pkg/plugins/envvars/envvars_test.go
  pkg/services/pluginsintegration/config/config.go
  pkg/setting/setting.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Geomap: Fix fixed edge text for network layer (#72863)
  public/app/plugins/panel/geomap/layers/data/networkLayer.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Documentation: Clarify how to use prometheus locally (#72846)
  contribute/backend/instrumentation.md
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Chore: Use the const instead of hardcoded string (#72925)
  public/app/plugins/datasource/influxdb/components/editor/query/influxql/visual/FromSection.tsx
  public/app/plugins/datasource/influxdb/components/editor/query/influxql/visual/VisualInfluxQLEditor.tags.test.tsx
  public/app/plugins/datasource/influxdb/components/editor/query/influxql/visual/VisualInfluxQLEditor.test.tsx
  public/app/plugins/datasource/influxdb/influx_query_model.ts
  public/app/plugins/datasource/influxdb/influxql_query_builder.test.ts
  public/app/plugins/datasource/influxdb/influxql_query_builder.ts
  public/app/plugins/datasource/influxdb/queryUtils.test.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Trend: Fix x field matching logic (#72862)
  public/app/plugins/panel/trend/TrendPanel.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Auth: prevent auto_login redirect if user is already authenticated (#72477)
  pkg/api/login.go
  pkg/api/login_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Transformation: keep collapsed states (#72601)
  public/app/features/dashboard/components/TransformationsEditor/TransformationsEditor.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Fix typos in contributing documentation (#72719)
  CONTRIBUTING.md
  contribute/README.md
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, pr-docs, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Prometheus: Fix fetching label values when datasource has no labels match api support (#72960)
  public/app/plugins/datasource/prometheus/language_provider.test.ts
  public/app/plugins/datasource/prometheus/language_provider.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Chore: improve typings (#72679)
  .betterer.results
  public/app/features/org/state/reducers.ts
  public/app/features/panel/components/PanelPluginError.tsx
  public/app/features/panel/components/PanelRenderer.tsx
  public/app/features/panel/panellinks/linkSuppliers.ts
  public/app/features/panel/panellinks/link_srv.ts
  public/app/features/plugins/admin/components/AppConfigWrapper.tsx
  public/app/features/plugins/admin/components/PluginDashboards.tsx
  public/app/features/plugins/admin/helpers.ts
  public/app/features/plugins/admin/pages/Browse.tsx
  public/app/features/plugins/admin/state/actions.ts
  public/app/features/plugins/admin/state/selectors.ts
  public/app/features/query/components/QueryEditorRowHeader.tsx
  public/app/features/query/components/QueryGroupOptions.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Datasource Plugins: Allow tracking for configuration usage (#72650)
  packages/grafana-data/src/events/common.ts
  public/app/features/datasources/state/actions.test.ts
  public/app/features/datasources/state/actions.ts
  public/app/plugins/datasource/cloudwatch/components/ConfigEditor.test.tsx
  public/app/plugins/datasource/cloudwatch/components/ConfigEditor.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Alerting: Fix "see graph button" for cloud rules (#72980)
  public/app/features/alerting/unified/components/rule-viewer/RuleViewerVisualization.tsx
  public/app/features/alerting/unified/components/rules/RuleDetailsActionButtons.tsx
  public/app/features/alerting/unified/utils/misc.test.ts
  public/app/features/alerting/unified/utils/misc.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Plugins: opentsdb ds: interpolate filter variables in expressions (#71232)
  .betterer.results
  public/app/plugins/datasource/opentsdb/datasource.ts
  public/app/plugins/datasource/opentsdb/specs/datasource.test.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

LogRowMessage: remove hardcoded true from condition (#72976)
  public/app/features/logs/components/LogRowMessage.test.tsx
  public/app/features/logs/components/LogRowMessage.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

sign-plugin-docs: information of usage of a new token has been added to the docs (#72912)
  docs/sources/developers/plugins/publish-a-plugin/sign-a-plugin.md
Due: pr-docs, main-docs

docs: add default value workaround (#72545)
  docs/sources/dashboards/variables/_index.md
Due: pr-docs, main-docs

Docs: Update screenshots for generating an access token for signing a plugin (#73031)
  docs/sources/developers/plugins/publish-a-plugin/sign-a-plugin.md
Due: pr-docs, main-docs

Chore: Bump semver npm package to latest (#72983)
  yarn.lock
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Chore: Bump github.com/grafana/grafana-plugin-sdk-go to v0.172.0 (#72989)
  go.mod
  go.sum
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Loki: Fix wrong context being passed to HTTP client (#72991)
  pkg/tsdb/loki/loki.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

EditDatasource: Fix navtree when `dataSourcePageHeader` is on (#72827)
  public/app/features/connections/hooks/useDataSourceSettingsNav.ts
  public/app/features/connections/pages/EditDataSourcePage.tsx
  public/app/features/datasources/components/DataSourceTabPage.tsx
  public/app/features/datasources/pages/EditDataSourcePage.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Docs: make it clear that MariaDB is also supported as datasource (#71832)
  docs/sources/datasources/mysql/_index.md
  public/app/plugins/datasource/mysql/README.md
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, pr-docs, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Alerting: Optimize external Loki queries (#73014)
  pkg/services/ngalert/store/loki_range_to_instant.go
  pkg/services/ngalert/store/loki_range_to_instant_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Logs: Fix displaying the wrong field as body (#73025)
  packages/grafana-data/src/dataframe/FieldCache.test.ts
  packages/grafana-data/src/dataframe/FieldCache.ts
  public/app/features/explore/Logs/LogsMetaRow.test.tsx
  public/app/features/logs/legacyLogsFrame.ts
  public/app/features/logs/logsFrame.test.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Transformations: Fix partitionByValues when there is no match (#72981)
  public/app/features/transformers/partitionByValues/partitionByValues.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

InfluxDB: Fix handling flux response with no time and value column (#72833)
  go.mod
  go.sum
  pkg/tsdb/influxdb/flux/builder.go
  pkg/tsdb/influxdb/flux/executor_test.go
  pkg/tsdb/influxdb/flux/testdata/without-time-column.csv
  pkg/tsdb/influxdb/flux/testdata/without-time-column.golden.jsonc
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Auth: Add SignedIn user interface NamespacedID (#72944)
  pkg/services/accesscontrol/accesscontrol.go
  pkg/services/accesscontrol/acimpl/accesscontrol.go
  pkg/services/accesscontrol/acimpl/service.go
  pkg/services/accesscontrol/acimpl/service_bench_test.go
  pkg/services/accesscontrol/acimpl/service_test.go
  pkg/services/accesscontrol/actest/fake.go
  pkg/services/accesscontrol/api/api.go
  pkg/services/accesscontrol/filter.go
  pkg/services/accesscontrol/mock/mock.go
  pkg/services/auth/identity/requester.go
  pkg/services/authn/authn.go
  pkg/services/org/orgimpl/store_test.go
  pkg/services/user/identity.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Table: Add storybook and docs for custom render cell type (#72619)
  packages/grafana-ui/src/components/Table/Table.mdx
  packages/grafana-ui/src/components/Table/Table.story.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, store-storybook, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Add a warning in the documentation (#72975)
  docs/sources/developers/http_api/data_source.md
Due: pr-docs, main-docs

Alerting: Export contact points to check access control action instead legacy role (#71990)
  docs/sources/administration/roles-and-permissions/access-control/custom-role-actions-scopes/index.md
  docs/sources/administration/roles-and-permissions/access-control/rbac-fixed-basic-role-definitions/index.md
  pkg/services/accesscontrol/models.go
  pkg/services/ngalert/accesscontrol.go
  pkg/services/ngalert/api/api_provisioning_test.go
  pkg/services/ngalert/api/authorization.go
  pkg/services/ngalert/api/testing.go
  pkg/services/ngalert/ngalert.go
  pkg/services/ngalert/provisioning/contactpoints.go
  pkg/services/ngalert/provisioning/contactpoints_test.go
  pkg/services/provisioning/provisioning.go
  public/app/features/alerting/unified/RuleList.test.tsx
  public/app/features/alerting/unified/components/notification-policies/Policy.tsx
  public/app/features/alerting/unified/components/receivers/ReceiversTable.test.tsx
  public/app/features/alerting/unified/components/receivers/ReceiversTable.tsx
  public/app/features/alerting/unified/utils/access-control.ts
  public/app/types/accessControl.ts
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, pr-docs, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify
