Repository grafana/grafana: changes, and which Drone steps are due for each by the changed paths.
All: pr-verify-drone, pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, pr-docs, main-docs, main-test-frontend, main-test-backend, main-build-e2e-publish, trigger-test-release, main-integration-tests, main-windows, notify-drone-changes, main-publish, main-notify

pr-verify-drone:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.15.6
    name: identify-runner
  - commands:
    - mkdir -p bin
    - curl -fL -o bin/grabpl https://grafana-downloads.storage.googleapis.com/grafana-build-pipeline/v3.0.5/grabpl
    - chmod +x bin/grabpl
    image: byrnedo/alpine-curl:0.1.8
  ...

pr-test-frontend:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.15.6
    name: identify-runner
  - commands:
    - mkdir -p bin
    - curl -fL -o bin/grabpl https://grafana-downloads.storage.googleapis.com/grafana-build-pipeline/v3.0.5/grabpl
    - chmod +x bin/grabpl
    image: byrnedo/alpine-curl:0.1.8
  ...

pr-test-backend:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.15.6
    name: identify-runner
  - commands:
    - mkdir -p bin
    - curl -fL -o bin/grabpl https://grafana-downloads.storage.googleapis.com/grafana-build-pipeline/v3.0.5/grabpl
    - chmod +x bin/grabpl
    image: byrnedo/alpine-curl:0.1.8
  ...

pr-build-e2e:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.15.6
    name: identify-runner
  - commands:
    - mkdir -p bin
    - curl -fL -o bin/grabpl https://grafana-downloads.storage.googleapis.com/grafana-build-pipeline/v3.0.5/grabpl
    - chmod +x bin/grabpl
    image: byrnedo/alpine-curl:0.1.8
  ...

pr-integration-tests:
  steps:
  - commands:
    - mkdir -p bin
    - curl -fL -o bin/grabpl https://grafana-downloads.storage.googleapis.com/grafana-build-pipeline/v3.0.5/grabpl
    - chmod +x bin/grabpl
    image: byrnedo/alpine-curl:0.1.8
    name: grabpl
  - commands:
  ...

pr-docs:
  steps:
  - commands:
    - mkdir -p bin
    - curl -fL -o bin/grabpl https://grafana-downloads.storage.googleapis.com/grafana-build-pipeline/v3.0.5/grabpl
    - chmod +x bin/grabpl
    image: byrnedo/alpine-curl:0.1.8
    name: grabpl
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.15.6
  ...

main-docs:
  steps:
  - commands:
    - mkdir -p bin
    - curl -fL -o bin/grabpl https://grafana-downloads.storage.googleapis.com/grafana-build-pipeline/v3.0.5/grabpl
    - chmod +x bin/grabpl
    image: byrnedo/alpine-curl:0.1.8
    name: grabpl
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.15.6
  ...

main-test-frontend:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.15.6
    name: identify-runner
  - commands:
    - mkdir -p bin
    - curl -fL -o bin/grabpl https://grafana-downloads.storage.googleapis.com/grafana-build-pipeline/v3.0.5/grabpl
    - chmod +x bin/grabpl
    image: byrnedo/alpine-curl:0.1.8
  ...

main-test-backend:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.15.6
    name: identify-runner
  - commands:
    - mkdir -p bin
    - curl -fL -o bin/grabpl https://grafana-downloads.storage.googleapis.com/grafana-build-pipeline/v3.0.5/grabpl
    - chmod +x bin/grabpl
    image: byrnedo/alpine-curl:0.1.8
  ...

Changelog: Updated changelog for 9.2.3 (#57955)
  CHANGELOG.md
Due: pr-docs, main-docs

Added unit to block label
  public/app/plugins/panel/flamegraph/components/FlameGraph/FlameGraph.tsx
  public/app/plugins/panel/flamegraph/components/FlameGraph/rendering.ts
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Fix wire imports
  pkg/server/wire.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Changelog: Updated changelog for 9.2.3 (#57955) (#57957)
  CHANGELOG.md
Due: pr-docs, main-docs

"Release: Updated versions in package to 9.2.4"
  lerna.json
  package.json
  packages/grafana-data/package.json
  packages/grafana-e2e-selectors/package.json
  packages/grafana-e2e/package.json
  packages/grafana-runtime/package.json
  packages/grafana-schema/package.json
  packages/grafana-toolkit/package.json
  packages/grafana-ui/package.json
  packages/jaeger-ui-components/package.json
  plugins-bundled/internal/input-datasource/package.json
  yarn.lock
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

user essentials mob! :trident:
  packages/grafana-ui/src/components/Select/SelectPerf.story.internal.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Tests
  public/app/plugins/panel/flamegraph/components/FlameGraph/__snapshots__/FlameGraph.test.tsx.snap
  public/app/plugins/panel/flamegraph/components/FlameGraph/rendering.test.ts
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Chore: update latest.json to 9.2.3
  latest.json
Due: pr-test-frontend, pr-docs, main-docs

"Release: Updated versions in package to 9.2.4" (#57958)
  lerna.json
  package.json
  packages/grafana-data/package.json
  packages/grafana-e2e-selectors/package.json
  packages/grafana-e2e/package.json
  packages/grafana-runtime/package.json
  packages/grafana-schema/package.json
  packages/grafana-toolkit/package.json
  packages/grafana-ui/package.json
  packages/jaeger-ui-components/package.json
  plugins-bundled/internal/input-datasource/package.json
  yarn.lock
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

remove test data
  pkg/services/sqlstore/migrations/accesscontrol/test/grafana-test-db-2768503686
  pkg/services/sqlstore/migrations/accesscontrol/test/grafana-test-db-2768503686-journal
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Chore: update latest.json to 9.2.3 (#57960)
  latest.json
Due: pr-test-frontend, pr-docs, main-docs

Things are working
  .betterer.results
  public/app/core/components/AppChrome/TopSearchBarInput.tsx
  public/app/core/reducers/root.ts
  public/app/features/search/components/DashboardSearch.tsx
  public/app/features/search/components/DashboardSearchModal.tsx
  public/app/features/search/components/ManageDashboardsNew.tsx
  public/app/features/search/hooks/useSearchQuery.ts
  public/app/features/search/page/components/SearchView.tsx
  public/app/features/search/page/reporting.ts
  public/app/features/search/reducers/searchQueryReducer.ts
  public/app/features/search/state/SearchState.ts
  public/app/features/search/types.ts
  yarn.lock
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

fix opentsdb labels
  public/app/plugins/datasource/opentsdb/components/FilterSection.tsx
  public/app/plugins/datasource/opentsdb/components/TagSection.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Move more to statemanger
  public/app/features/search/page/components/SearchView.tsx
  public/app/features/search/state/SearchState.ts
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

fix unit tests
  public/app/features/datasources/components/BasicSettings.test.tsx
  public/app/features/explore/spec/helper/interactions.ts
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Chore: Stories for Select performance (#57965)
  packages/grafana-ui/src/components/Select/SelectPerf.story.internal.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Chore: group some packages to reduce number of PRs (#57912)
  .github/renovate.json5
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

metrics: expose when the binary was built as an gauge (#57951)
  pkg/cmd/grafana-server/commands/cli.go
  pkg/infra/metrics/metrics.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Alerting: Linking external images securely - Azure Blob (#1) (#56598)
  conf/defaults.ini
  conf/sample.ini
  docs/sources/setup-grafana/configure-grafana/_index.md
  go.mod
  go.sum
  pkg/components/imguploader/azureblobuploader.go
  pkg/components/imguploader/imguploader.go
  pkg/components/imguploader/imguploader_test.go
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, pr-docs, main-docs, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

minor tweaks
  public/app/features/search/state/SearchState.ts
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

metrics: expose when the binary was built as an gauge (#57951) (#57969)
  pkg/cmd/grafana-server/commands/cli.go
  pkg/infra/metrics/metrics.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Add full dockerhub repo name
  .drone.yml
  scripts/drone/pipelines/build.star
  scripts/drone/pipelines/publish_images.star
Due: pr-verify-drone, pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, trigger-test-release, main-integration-tests, main-windows, notify-drone-changes, main-publish, main-notify

Fixed name of hook
  public/app/features/search/components/DashboardSearch.tsx
  public/app/features/search/components/DashboardSearchModal.tsx
  public/app/features/search/components/ManageDashboardsNew.tsx
  public/app/features/search/state/SearchState.ts
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Update grabpl version
  .drone.yml
  scripts/drone/steps/lib.star
Due: pr-verify-drone, pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, trigger-test-release, main-integration-tests, main-windows, notify-drone-changes, main-publish, main-notify

fix unit tests
  public/app/core/components/NavBar/NavBarItem.test.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Alerting: Fix screenshot is not taken for stale series
  pkg/services/ngalert/image/mock.go
  pkg/services/ngalert/state/manager.go
  pkg/services/ngalert/state/manager_private_test.go
  pkg/services/ngalert/state/state.go
  pkg/services/ngalert/state/state_test.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

CI: Use full `dockerhub` repository name (#57979)
  .drone.yml
  scripts/drone/pipelines/build.star
  scripts/drone/pipelines/publish_images.star
  scripts/drone/steps/lib.star
Due: pr-verify-drone, pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, trigger-test-release, main-integration-tests, main-windows, notify-drone-changes, main-publish, main-notify

Add scale above flame graph
  public/app/plugins/panel/flamegraph/components/FlameGraph/FlameGraph.test.tsx
  public/app/plugins/panel/flamegraph/components/FlameGraph/FlameGraph.tsx
  public/app/plugins/panel/flamegraph/components/FlameGraph/__snapshots__/FlameGraph.test.tsx.snap
  public/app/plugins/panel/flamegraph/components/FlameGraphContainer.tsx
  public/app/plugins/panel/flamegraph/components/FlameGraphHeader.test.tsx
  public/app/plugins/panel/flamegraph/components/FlameGraphHeader.tsx
  public/app/plugins/panel/flamegraph/components/TopTable/FlameGraphTopTable.tsx
  public/app/plugins/panel/flamegraph/components/TopTable/FlameGraphTopTableContainer.tsx
  public/app/plugins/panel/flamegraph/components/types.ts
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

add empty line for linter
  docs/sources/setup-grafana/configure-grafana/_index.md
Due: pr-docs, main-docs

Server: Make unix socket permission configurable (#52944)
  conf/defaults.ini
  conf/sample.ini
  docs/sources/setup-grafana/configure-grafana/_index.md
  pkg/api/http_server.go
  pkg/setting/setting.go
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, pr-docs, main-docs, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

use aria-label instead of data-testid
  public/app/plugins/datasource/opentsdb/components/FilterSection.test.tsx
  public/app/plugins/datasource/opentsdb/components/FilterSection.tsx
  public/app/plugins/datasource/opentsdb/components/TagSection.test.tsx
  public/app/plugins/datasource/opentsdb/components/TagSection.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

initial content for What's New 9.3
  docs/sources/whatsnew/_index.md
  docs/sources/whatsnew/whats-new-in-v9-3.md
Due: pr-docs, main-docs

Accessibility: enable rule `jsx-a11y/label-has-associated-control` (#57964)
  .eslintrc
  packages/grafana-ui/src/components/ColorPicker/SeriesColorPickerPopover.tsx
  packages/grafana-ui/src/components/DataSourceSettings/DataSourceHttpSettings.tsx
  packages/grafana-ui/src/components/Switch/Switch.tsx
  public/app/core/components/OptionsUI/slider.tsx
  public/app/features/datasources/components/BasicSettings.test.tsx
  public/app/features/datasources/components/DataSourcePluginState.tsx
  public/app/features/explore/spec/helper/interactions.ts
  public/app/features/folders/FolderSettingsPage.tsx
  public/app/features/plugins/sql/components/visual-query-builder/Preview.tsx
  public/app/plugins/datasource/cloud-monitoring/components/AnnotationsHelp.tsx
  public/app/plugins/datasource/cloud-monitoring/components/CloudMonitoringCheatSheet.tsx
  public/app/plugins/datasource/opentsdb/components/FilterSection.test.tsx
  public/app/plugins/datasource/opentsdb/components/FilterSection.tsx
  public/app/plugins/datasource/opentsdb/components/TagSection.test.tsx
  public/app/plugins/datasource/opentsdb/components/TagSection.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Path conditions:
  pr-verify-drone: any of: scripts/drone/**, .drone.yml, .drone.star, but not: docs/**, *.md
  pr-test-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-test-backend: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, but not: docs/**, *.md
  pr-build-e2e: any file but: *.md, docs/**, latest.json
  pr-integration-tests: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, but not: docs/**, *.md
  pr-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  main-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  main-test-frontend: any file but: *.md, docs/**, latest.json
  main-test-backend: any file but: *.md, docs/**, latest.json
  main-build-e2e-publish: any file but: *.md, docs/**, latest.json
  trigger-test-release: any of: .drone.yml, pkg/build/**
  main-integration-tests: any file but: *.md, docs/**, latest.json
  main-windows: any file but: *.md, docs/**, latest.json
  notify-drone-changes: any of: .drone.yml, but not: exclude
  main-publish: any file but: *.md, docs/**, latest.json
  main-notify: any file but: *.md, docs/**, latest.json
