Repository grafana/grafana: changes, and which Drone steps are due for each by the changed paths.
All: pr-verify-drone, pr-verify-starlark, pr-verify-storybook, pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, end-to-end-tests-cloud-plugins-suite-azure, build-storybook, pr-integration-tests, pr-docs, pr-shellcheck, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

pr-verify-drone:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.20.3
    name: identify-runner
  - commands:
    - go build -o ./bin/build -ldflags '-extldflags -static' ./pkg/build/cmd
    depends_on: []
    environment:
      CGO_ENABLED: 0
    image: golang:1.23.1-alpine
    name: compile-build-cmd
  - commands:
  ...

pr-verify-starlark:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.20.3
    name: identify-runner
  - commands:
    - go install github.com/bazelbuild/buildtools/buildifier@latest
    - buildifier --lint=warn -mode=check -r .
    depends_on: []
    image: golang:1.23.1-alpine
    name: lint-starlark

pr-verify-storybook:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.20.3
    name: identify-runner
  - commands:
    - yarn install --immutable || yarn install --immutable
    depends_on: []
    image: node:22.11.0-alpine
    name: yarn-install
  - commands:
    - yarn storybook --quiet
    depends_on:
    - yarn-install
  ...

pr-test-frontend:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.20.3
    name: identify-runner
  - commands:
    - yarn install --immutable || yarn install --immutable
    depends_on: []
    image: node:22.11.0-alpine
    name: yarn-install
  - commands:
    - apk add --update git bash
    - yarn betterer ci
  ...

pr-lint-frontend:
  steps:
  - commands:
    - echo $(/usr/bin/github-app-external-token) > /github-app/token
    environment:
      GITHUB_APP_ID:
        from_secret: github-app-app-id
      GITHUB_APP_INSTALLATION_ID:
        from_secret: github-app-installation-id
      GITHUB_APP_PRIVATE_KEY:
  ...

pr-test-backend:
  steps:
  - commands:
    - echo $(/usr/bin/github-app-external-token) > /github-app/token
    environment:
      GITHUB_APP_ID:
        from_secret: github-app-app-id
      GITHUB_APP_INSTALLATION_ID:
        from_secret: github-app-installation-id
      GITHUB_APP_PRIVATE_KEY:
  ...

pr-lint-backend:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.20.3
    name: identify-runner
  - commands:
    - go build -o ./bin/build -ldflags '-extldflags -static' ./pkg/build/cmd
    depends_on: []
    environment:
      CGO_ENABLED: 0
    image: golang:1.23.1-alpine
    name: compile-build-cmd
  - commands:
  ...

pr-build-e2e:
  steps:
  - commands:
    - echo $(/usr/bin/github-app-external-token) > /github-app/token
    environment:
      GITHUB_APP_ID:
        from_secret: github-app-app-id
      GITHUB_APP_INSTALLATION_ID:
        from_secret: github-app-installation-id
      GITHUB_APP_PRIVATE_KEY:
  ...

end-to-end-tests-cloud-plugins-suite-azure:
  commands:
  - GITHUB_TOKEN=$(cat /github-app/token)
  - cd /
  - ./cpp-e2e/scripts/ci-run.sh azure ${DRONE_SOURCE_BRANCH}
  depends_on:
  - grafana-server
  - github-app-generate-token
  environment:
    AZURE_SP_APP_ID:
      from_secret: azure_sp_app_id
    AZURE_SP_PASSWORD:
      from_secret: azure_sp_app_pw
  ...

CI: Replace Dagger builds with native make for Playwright e2e tests
  .github/workflows/pr-e2e-tests.yml
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

try merging frontend artifact
  .github/workflows/pr-e2e-tests.yml
  public/app/app.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

run the tests
  .github/workflows/pr-e2e-tests.yml
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

build cold cache
  public/app/app.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

shard tree artifact, delete artifacts, fix ts files being excluded
  .github/workflows/pr-e2e-tests.yml
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

fix incorrect permissions
  .github/workflows/pr-e2e-tests.yml
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

copy bin
  .github/workflows/pr-e2e-tests.yml
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

fix path
  .github/workflows/pr-e2e-tests.yml
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

fix script
  .github/workflows/pr-e2e-tests.yml
  scripts/grafana-server/start-server
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

another try
  .github/workflows/pr-e2e-tests.yml
  scripts/grafana-server/start-server
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

try stitching together standalone grafana build
  .github/workflows/pr-e2e-tests.yml
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

fix frontend cache
  .github/workflows/pr-e2e-tests.yml
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

fix paths
  .github/workflows/pr-e2e-tests.yml
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

include more dirs in frontend build
  .github/workflows/pr-e2e-tests.yml
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

try caching node-modules better
  .github/actions/yarn-install/action.yml
  .github/workflows/pr-e2e-tests.yml
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

try caching node-modules
  .github/actions/yarn-install/action.yml
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

temporarily stop caching node_modules to test performance
  .github/actions/yarn-install/action.yml
  .github/workflows/pr-docker-image.yml
  .github/workflows/pr-e2e-tests.yml
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

disable YARN_ENABLE_HARDENED_MODE
  .github/actions/setup-node/action.yml
  .github/actions/yarn-install/action.yml
  .github/workflows/pr-e2e-tests.yml
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

temp don't cache node_modules to measure perf
  .github/actions/yarn-install/action.yml
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

fix publish-metrics depending on old job
  .github/workflows/pr-e2e-tests.yml
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Add cla-override.yml
  .github/workflows/cla-override.yml
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

remove unused import
  packages/grafana-ui/src/components/Table/TableNG/components/RowExpander.tsx
Due: pr-verify-storybook, pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

small fixes after testing
  pkg/services/authn/authnimpl/sync/user_sync.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

set statuses: write and log the statuses we've found
  .github/workflows/cla-override.yml
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

fetch inhibitrules existence in k8s api endpoint instead of alertmanager config
  public/app/features/alerting/unified/components/InhibitionRulesAlert.test.tsx
  public/app/features/alerting/unified/hooks/useHasInhibitionRules.test.tsx
  public/app/features/alerting/unified/hooks/useHasInhibitionRules.ts
  public/app/features/alerting/unified/mocks/server/all-handlers.ts
  public/app/features/alerting/unified/mocks/server/handlers/k8s/inhibitionRules.k8s.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

test: add test coverage
  packages/grafana-data/src/dataframe/StreamingDataFrame.test.ts
  packages/grafana-data/src/dataframe/processDataFrame.test.ts
  packages/grafana-data/src/text/markdown.test.ts
  packages/grafana-data/src/text/sanitize.test.ts
  packages/grafana-data/src/text/string.test.ts
  packages/grafana-data/src/text/text.test.ts
  packages/grafana-ui/src/components/Table/utils.test.ts
  packages/grafana-ui/src/components/uPlot/config/UPlotConfigBuilder.test.ts
  public/app/core/components/TimeSeries/utils.test.ts
Due: pr-verify-storybook, pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Update CODEOWNERS
  .github/CODEOWNERS
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

chore: fix repo url (#119405)
  packages/grafana-openapi/package.json
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Gauge: Enable GA
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.json
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, pr-docs, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

[release-12.2.7] Docs: Replace Show on dashboard with Hide (#119025)
  docs/sources/dashboards/variables/add-template-variables/index.md
Due: pr-docs, main-docs

Fix test
  public/app/features/dashboard-scene/panel-edit/PanelDataPane/PanelDataQueriesTab.test.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

chore: move provisioning test helper to common package
  pkg/tests/apis/provisioning/common/testing.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

chore: refactor integration tests to use common package helper
  pkg/tests/apis/provisioning/bom_test.go
  pkg/tests/apis/provisioning/classic_delete_test.go
  pkg/tests/apis/provisioning/client_test.go
  pkg/tests/apis/provisioning/connection_repositories_test.go
  pkg/tests/apis/provisioning/connection_status_auth_test.go
  pkg/tests/apis/provisioning/connection_test.go
  pkg/tests/apis/provisioning/deletejob_test.go
  pkg/tests/apis/provisioning/exportjob_quota_test.go
  pkg/tests/apis/provisioning/exportjob_test.go
  pkg/tests/apis/provisioning/fieldselector_test.go
  pkg/tests/apis/provisioning/files_quota_test.go
  pkg/tests/apis/provisioning/files_test.go
  pkg/tests/apis/provisioning/fixfoldermetadatajob_test.go
  pkg/tests/apis/provisioning/folderpermissions_test.go
  pkg/tests/apis/provisioning/health_test.go
  pkg/tests/apis/provisioning/helper_test.go
  pkg/tests/apis/provisioning/historicjobs_auth_test.go
  pkg/tests/apis/provisioning/job_conflict_test.go
  pkg/tests/apis/provisioning/job_validation_test.go
  pkg/tests/apis/provisioning/job_warning_result_test.go
  pkg/tests/apis/provisioning/jobs_auth_test.go
  pkg/tests/apis/provisioning/jobs_validation_test.go
  pkg/tests/apis/provisioning/librarypanels_test.go
  pkg/tests/apis/provisioning/migratejob_test.go
  pkg/tests/apis/provisioning/movejob_test.go
  pkg/tests/apis/provisioning/pulljob_test.go
  pkg/tests/apis/provisioning/quota_test.go
  pkg/tests/apis/provisioning/repository_subresources_auth_test.go
  pkg/tests/apis/provisioning/repository_test.go
  pkg/tests/apis/provisioning/secrets_test.go
  pkg/tests/apis/provisioning/settings_stats_auth_test.go
  pkg/tests/apis/provisioning/stats_test.go
  pkg/tests/apis/provisioning/sync_quota_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Provisioning: Replace direct fix-metadata job with PR drawer flow (#119288)
  public/app/features/provisioning/Job/FinishedJobStatus.tsx
  public/app/features/provisioning/Job/JobContent.tsx
  public/app/features/provisioning/Job/JobStatus.tsx
  public/app/features/provisioning/Repository/PullRequestButtons.tsx
  public/app/features/provisioning/Repository/RepositoryLink.tsx
  public/app/features/provisioning/components/BulkActions/BulkDeleteProvisionedResource.tsx
  public/app/features/provisioning/components/BulkActions/BulkMoveProvisionedResource.tsx
  public/app/features/provisioning/components/Folders/FixFolderMetadataDrawer.test.tsx
  public/app/features/provisioning/components/Folders/FixFolderMetadataDrawer.tsx
  public/app/features/provisioning/components/Folders/MissingFolderMetadataBanner.test.tsx
  public/app/features/provisioning/components/Folders/MissingFolderMetadataBanner.tsx
  public/app/features/provisioning/components/Folders/NewProvisionedFolderForm.tsx
  public/app/features/provisioning/components/Shared/ResourceEditFormSharedFields.tsx
  public/app/features/provisioning/hooks/useFixFolderMetadata.tsx
  public/app/features/provisioning/types.ts
  public/locales/en-US/grafana.json
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Docs: Gauge updates (#119355)
  docs/sources/visualizations/panels-visualizations/visualizations/gauge/index.md
Due: pr-docs, main-docs

fix: fixes typecheck error
  packages/grafana-data/src/dataframe/StreamingDataFrame.test.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Dashboards: Shorten template dashboard modal description to "Get started"
  public/app/features/dashboard/dashgrid/DashboardLibrary/TemplateDashboardModal.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Provisioning: Add folder pickers for path fields (#796, #795)
  public/app/features/provisioning/Wizard/ConnectStep.tsx
  public/app/features/provisioning/Wizard/ProvisioningWizard.test.tsx
  public/app/features/provisioning/components/Dashboards/SaveProvisionedDashboardForm.test.tsx
  public/app/features/provisioning/components/Shared/ResourceEditFormSharedFields.test.tsx
  public/app/features/provisioning/components/Shared/ResourceEditFormSharedFields.tsx
  public/app/features/provisioning/components/utils/path.ts
  public/app/features/provisioning/hooks/useGetRepositoryFolders.ts
  public/locales/en-US/grafana.json
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Provisioning: Migrate NewProvisionedFolderForm test to MSW
  public/app/features/provisioning/components/Folders/NewProvisionedFolderForm.test.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Path conditions:
  pr-verify-drone: any of: scripts/drone/**, .drone.yml, .drone.star, but not: docs/**, *.md
  pr-verify-starlark: any of: scripts/drone/**, .drone.star, but not: docs/**, *.md
  pr-verify-storybook: any of: packages/grafana-ui/**, but not: docs/**, *.md
  pr-test-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-lint-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-test-backend: any of: Makefile, pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, docs/sources/setup-grafana/configure-grafana/feature-toggles/**, devenv/**, but not: docs/**, *.md
  pr-lint-backend: any of: .golangci.toml, Makefile, pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, .bingo/**, but not: docs/**, *.md
  pr-build-e2e: any file but: *.md, docs/**, latest.json
  end-to-end-tests-cloud-plugins-suite-azure: any of: pkg/tsdb/azuremonitor/**, public/app/plugins/datasource/azuremonitor/**, e2e/cloud-plugins-suite/azure-monitor.spec.ts
  build-storybook: any of: packages/grafana-ui/**
  pr-integration-tests: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, but not: docs/**, *.md
  pr-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  pr-shellcheck: any of: scripts/**/*.sh, but not: *.md, docs/**, latest.json
  main-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  main-test-frontend: any file but: *.md, docs/**, latest.json
  main-lint-frontend: any file but: *.md, docs/**, latest.json
  main-test-backend: any file but: *.md, docs/**, latest.json
  main-lint-backend: any file but: *.md, docs/**, latest.json
  main-verify-storybook: any file but: *.md, docs/**, latest.json
  main-build-e2e-publish: any file but: *.md, docs/**, latest.json
  store-storybook: any of: packages/grafana-ui/**
  release-canary-npm-packages: any of: packages/**
  main-integration-tests: any file but: *.md, docs/**, latest.json
  main-trigger-downstream: any file but: *.md, docs/**, latest.json
  main-notify: any file but: *.md, docs/**, latest.json
  rgm-main-prerelease: any file but: *.md, docs/**, packages/**/*.md, latest.json
