Repository grafana/grafana: changes, and which Drone steps are due for each by the changed paths.
All: pr-verify-drone, pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, pr-docs, main-docs, main-test-frontend, main-test-backend, main-build-e2e-publish, trigger-test-release, main-integration-tests, main-windows, notify-drone-changes, main-publish, main-notify

Path conditions:
  pr-verify-drone: any of: scripts/drone/**, .drone.yml, .drone.star, but not: docs/**, *.md
  pr-test-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-test-backend: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, but not: docs/**, *.md
  pr-build-e2e: any file but: *.md, docs/**, latest.json
  pr-integration-tests: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, but not: docs/**, *.md
  pr-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  main-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  main-test-frontend: any file but: *.md, docs/**, latest.json
  main-test-backend: any file but: *.md, docs/**, latest.json
  main-build-e2e-publish: any file but: *.md, docs/**, latest.json
  trigger-test-release: any of: .drone.yml, pkg/build/**
  main-integration-tests: any file but: *.md, docs/**, latest.json
  main-windows: any file but: *.md, docs/**, latest.json
  notify-drone-changes: any of: .drone.yml, but not: exclude
  main-publish: any file but: *.md, docs/**, latest.json
  main-notify: any file but: *.md, docs/**, latest.json

tidy up, add workflow_dispatch support to all codeql actions
  .github/workflows/codeql-analysis.yml
  .github/workflows/pr-codeql-analysis-javascript.yml
  .github/workflows/pr-codeql-analysis-python.yml
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

explicitly set go version
  .github/workflows/codeql-analysis.yml
  .github/workflows/pr-codeql-analysis-go.yml
  go.mod
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

use go version from go.mod
  .github/workflows/codeql-analysis.yml
  .github/workflows/pr-codeql-analysis-go.yml
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

enable on push to codeql-go branch
  .github/workflows/codeql-analysis.yml
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

improve playlist
  pkg/services/playlist/playlistimpl/object_store.go
  public/app/features/playlist/PlaylistForm.tsx
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

playlist object store cleanup
  pkg/services/export/object_store.go
  pkg/services/playlist/playlistimpl/object_store.go
  pkg/services/store/auth.go
  public/app/features/playlist/PlaylistForm.tsx
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

add messages from panics and errors to the query response
  pkg/services/query/query.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Add getFieldDisplayName to calculate metric name
  pkg/expr/classic/classic.go
  pkg/expr/mathexp/type_series.go
  pkg/expr/mathexp/types.go
  pkg/services/ngalert/eval/eval.go
  pkg/services/ngalert/eval/extract_md.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Playlist: cleanup object store implementation (#58201)
  pkg/services/export/object_store.go
  pkg/services/playlist/playlistimpl/object_store.go
  pkg/services/store/auth.go
  public/app/features/playlist/PlaylistForm.tsx
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

now with Close
  pkg/services/playlist/playlistimpl/object_store.go
  pkg/services/sqlstore/migrations/object_store_mig.go
  pkg/services/store/object/sqlstash/sql_storage_server.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

update utils
  pkg/services/playlist/playlistimpl/object_store.go
  pkg/services/store/auth.go
  pkg/services/store/object/sqlstash/sql_storage_server.go
  pkg/services/store/object/sqlstash/utils.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Fix spam mouse enter / exit calls
  public/app/features/canvas/runtime/scene.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

ignore close error
  pkg/services/store/object/sqlstash/sql_storage_server.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

BarChart: fix coloring from thresholds and value mappings
  public/app/plugins/panel/barchart/BarChartPanel.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

New translations grafana.json (Spanish)
  public/locales/es-ES/grafana.json
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Removed ngInject and replaced with manual inject params
  public/app/angular/GrafanaCtrl.ts
  public/app/angular/autofill_event_fix.ts
  public/app/angular/components/form_dropdown/form_dropdown.ts
  public/app/angular/components/plugin_component.ts
  public/app/angular/components/query_part_editor.ts
  public/app/angular/components/spectrum_picker.ts
  public/app/angular/components/sql_part/sql_part_editor.ts
  public/app/angular/components/switch.ts
  public/app/angular/diff-view.ts
  public/app/angular/dropdown_typeahead.ts
  public/app/angular/metric_segment.ts
  public/app/angular/misc.ts
  public/app/angular/panel/panel_editor_tab.ts
  public/app/angular/panel/query_editor_row.ts
  public/app/angular/rebuild_on_change.ts
  public/app/angular/services/AngularLoader.ts
  public/app/angular/services/UtilSrv.ts
  public/app/angular/services/dynamic_directive_srv.ts
  public/app/angular/services/popover_srv.ts
  public/app/angular/services/segment_srv.ts
  public/app/angular/services/timer.ts
  public/app/features/alerting/AlertTabCtrl.ts
  public/app/plugins/datasource/graphite/graphite_query.ts
  public/app/plugins/datasource/influxdb/influx_query_model.ts
  public/app/plugins/panel/graph/annotation_tooltip.ts
  public/app/plugins/panel/graph/axes_editor.ts
  public/app/plugins/panel/graph/event_editor.ts
  public/app/plugins/panel/graph/graph.ts
  public/app/plugins/panel/graph/jquery.flot.events.ts
  public/app/plugins/panel/graph/module.ts
  public/app/plugins/panel/graph/series_overrides_ctrl.ts
  public/app/plugins/panel/graph/thresholds_form.ts
  public/app/plugins/panel/graph/time_regions_form.ts
  public/app/plugins/panel/heatmap-old/axes_editor.ts
  public/app/plugins/panel/heatmap-old/display_editor.ts
  public/app/plugins/panel/heatmap-old/heatmap_ctrl.ts
  public/app/plugins/panel/table-old/column_options.ts
  public/app/plugins/panel/table-old/editor.ts
  public/app/plugins/panel/table-old/module.ts
  yarn.lock
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

more consistent naming
  public/app/features/explore/TraceView/createSpanLink.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

fix after review
  pkg/plugins/manager/client/forward_cookies_middleware.go
  pkg/plugins/manager/client/forward_oauthtoken_middleware.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Fixing build
  packages/grafana-runtime/src/utils/logging.ts
  public/app/core/services/echo/backends/grafana-javascript-agent/GrafanaJavascriptAgentBackend.test.ts
  public/app/core/services/echo/backends/grafana-javascript-agent/GrafanaJavascriptAgentBackend.ts
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Add Move
  pkg/services/folder/folderimpl/folder.go
  pkg/services/folder/folderimpl/store_fake.go
  pkg/services/folder/model.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Nested Folder: Modify store Update() (#58183)
  pkg/services/folder/folderimpl/sqlstore.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

add provider test
  pkg/plugins/manager/client/provider_test.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Create graph from just edges dataframe
  .betterer.results
  public/app/plugins/datasource/testdata/components/NodeGraphEditor.tsx
  public/app/plugins/datasource/testdata/datasource.ts
  public/app/plugins/datasource/testdata/nodeGraphUtils.ts
  public/app/plugins/datasource/testdata/types.ts
  public/app/plugins/panel/nodeGraph/NodeGraph.tsx
  public/app/plugins/panel/nodeGraph/layout.ts
  public/app/plugins/panel/nodeGraph/useContextMenu.tsx
  public/app/plugins/panel/nodeGraph/utils.test.ts
  public/app/plugins/panel/nodeGraph/utils.ts
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

hopefully improve slate test reliability (#58171)
  e2e/various-suite/slate.spec.ts
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

add groups mapping config to readme
  devenv/docker/blocks/auth/oauth/readme.md
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Update cue descriptions
  pkg/coremodel/pluginmeta/coremodel.cue
  pkg/coremodel/pluginmeta/pluginmeta_gen.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Add tests
  pkg/services/folder/folderimpl/folder.go
  pkg/services/folder/folderimpl/folder_test.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Doc: Add groups mapping config to readme (#58208)
  devenv/docker/blocks/auth/oauth/readme.md
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Fixing linting errors
  public/app/core/services/echo/backends/grafana-javascript-agent/EchoSrvTransport.ts
  public/app/core/services/echo/backends/grafana-javascript-agent/GrafanaJavascriptAgentBackend.test.ts
  public/app/features/alerting/unified/Analytics.ts
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Remove base and arch args
  .drone.yml
  scripts/drone/steps/lib.star
Due: pr-verify-drone, pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, trigger-test-release, main-integration-tests, main-windows, notify-drone-changes, main-publish, main-notify

add: better description of validation and ingest command
  pkg/cmd/grafana-cli/commands/commands.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

ensure provider implements plugins.Client
  pkg/plugins/manager/client/provider.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

try use a new pluginsintegration service responsible for bootstraping plugin mgmt
  pkg/server/wire.go
  pkg/services/pluginsintegration/clientmiddleware/forward_cookies_middleware.go
  pkg/services/pluginsintegration/clientmiddleware/forward_oauthtoken_middleware.go
  pkg/services/pluginsintegration/pluginsintegration.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

docs: code format
  docs/sources/alerting/set-up/provision-alerting-resources/terraform-provisioning/index.md
Due: pr-docs, main-docs

add tests for fillBelowTo option
  packages/grafana-ui/src/components/TimeSeries/utils.test.ts
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Auth: Check for OrgUsersAdd on frontend to display pending invites
  public/app/features/invites/state/actions.ts
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

add line-does-not-contain-case-insensitive operation definition
  public/app/plugins/datasource/loki/querybuilder/operations.ts
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

PMM-10899 description in finished backup is missing (#550)
  public/app/percona/backup/Backup.service.ts
  public/app/percona/backup/components/AddBackupPage/AddBackupPage.test.tsx
  public/app/percona/backup/components/AddBackupPage/AddBackupPage.tsx
  public/app/percona/backup/components/AddBackupPage/AddBackupPage.types.ts
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

add loki operation id for line-does-not-contain-case-insensitive
  public/app/plugins/datasource/loki/querybuilder/types.ts
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

make query case insensitive when using line-does-not-contain-case-insensitive
  public/app/plugins/datasource/loki/querybuilder/operationUtils.ts
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify
