Repository grafana/grafana: changes, and which Drone steps are due for each by the changed paths.
All: pr-verify-drone, pr-verify-starlark, pr-verify-storybook, pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, end-to-end-tests-cloud-plugins-suite-azure, build-storybook, pr-integration-tests, pr-docs, pr-shellcheck, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

pr-verify-drone:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.20.3
    name: identify-runner
  - commands:
    - go build -o ./bin/build -ldflags '-extldflags -static' ./pkg/build/cmd
    depends_on: []
    environment:
      CGO_ENABLED: 0
    image: golang:1.23.1-alpine
    name: compile-build-cmd
  - commands:
  ...

pr-verify-starlark:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.20.3
    name: identify-runner
  - commands:
    - go install github.com/bazelbuild/buildtools/buildifier@latest
    - buildifier --lint=warn -mode=check -r .
    depends_on: []
    image: golang:1.23.1-alpine
    name: lint-starlark

pr-verify-storybook:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.20.3
    name: identify-runner
  - commands:
    - yarn install --immutable || yarn install --immutable
    depends_on: []
    image: node:20.9.0-alpine
    name: yarn-install
  - commands:
    - yarn storybook --quiet
    depends_on:
    - yarn-install
  ...

pr-test-frontend:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.20.3
    name: identify-runner
  - commands:
    - yarn install --immutable || yarn install --immutable
    depends_on: []
    image: node:20.9.0-alpine
    name: yarn-install
  - commands:
    - apk add --update git bash
    - yarn betterer ci
  ...

pr-lint-frontend:
  steps:
  - commands:
    - echo $(/usr/bin/github-app-external-token) > /github-app/token
    environment:
      GITHUB_APP_ID:
        from_secret: github-app-app-id
      GITHUB_APP_INSTALLATION_ID:
        from_secret: github-app-installation-id
      GITHUB_APP_PRIVATE_KEY:
  ...

pr-test-backend:
  steps:
  - commands:
    - echo $(/usr/bin/github-app-external-token) > /github-app/token
    environment:
      GITHUB_APP_ID:
        from_secret: github-app-app-id
      GITHUB_APP_INSTALLATION_ID:
        from_secret: github-app-installation-id
      GITHUB_APP_PRIVATE_KEY:
  ...

pr-lint-backend:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.20.3
    name: identify-runner
  - commands:
    - go build -o ./bin/build -ldflags '-extldflags -static' ./pkg/build/cmd
    depends_on: []
    environment:
      CGO_ENABLED: 0
    image: golang:1.23.1-alpine
    name: compile-build-cmd
  - commands:
  ...

pr-build-e2e:
  steps:
  - commands:
    - echo $(/usr/bin/github-app-external-token) > /github-app/token
    environment:
      GITHUB_APP_ID:
        from_secret: github-app-app-id
      GITHUB_APP_INSTALLATION_ID:
        from_secret: github-app-installation-id
      GITHUB_APP_PRIVATE_KEY:
  ...

end-to-end-tests-cloud-plugins-suite-azure:
  commands:
  - GITHUB_TOKEN=$(cat /github-app/token)
  - cd /
  - ./cpp-e2e/scripts/ci-run.sh azure ${DRONE_SOURCE_BRANCH}
  depends_on:
  - grafana-server
  - github-app-generate-token
  environment:
    AZURE_SP_APP_ID:
      from_secret: azure_sp_app_id
    AZURE_SP_PASSWORD:
      from_secret: azure_sp_app_pw
  ...

Dynamic dashboards: Add missing row props to schema (#102859)
  apps/dashboard/kinds/v2alpha1/dashboard_spec.cue
  apps/dashboard/pkg/apis/dashboard/v2alpha1/dashboard_spec_gen.go
  apps/dashboard/pkg/apis/dashboard/v2alpha1/zz_generated.openapi.go
  packages/grafana-schema/src/schema/dashboard/v2alpha0/dashboard.schema.cue
  packages/grafana-schema/src/schema/dashboard/v2alpha0/types.gen.ts
  packages/grafana-schema/src/schema/dashboard/v2alpha1/types.spec.gen.ts
  public/app/features/dashboard-scene/scene/layout-rows/RowItem.tsx
  public/app/features/dashboard-scene/scene/layout-rows/RowItemEditor.tsx
  public/app/features/dashboard-scene/scene/layout-rows/RowItemRenderer.tsx
  public/app/features/dashboard-scene/scene/layout-rows/RowItemsEditor.tsx
  public/app/features/dashboard-scene/scene/layout-rows/RowsLayoutManager.tsx
  public/app/features/dashboard-scene/serialization/layoutSerializers/RowsLayoutSerializer.test.ts
  public/app/features/dashboard-scene/serialization/layoutSerializers/RowsLayoutSerializer.ts
  public/app/features/dashboard-scene/serialization/transformSaveModelSchemaV2ToScene.test.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

SQL Expressions: Bump go-mysql-server version (#102866)
  go.mod
  go.sum
  go.work.sum
  pkg/storage/unified/apistore/go.mod
  pkg/storage/unified/apistore/go.sum
  pkg/storage/unified/resource/go.sum
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Dashboard: Fixes issue switching layouts (#102884)
  public/app/features/dashboard-scene/scene/layout-rows/RowsLayoutManager.tsx
  public/app/features/dashboard-scene/scene/layout-tabs/TabsLayoutManager.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Authz: Include context in logs when using cache (#102810)
  pkg/services/authz/rbac/cache.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Fix: Fixing typo in Dockerfile preventing successful build of the docker image (#102875)
  Dockerfile
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Docs: Update service account (#102502)
  docs/sources/developers/http_api/serviceaccount.md
Due: pr-docs, main-docs

Unified Storage: Return an already exists error (#102857)
  go.mod
  pkg/storage/unified/backend/errors.go
  pkg/storage/unified/backend/errors_test.go
  pkg/storage/unified/resource/server.go
  pkg/storage/unified/sql/backend.go
  pkg/storage/unified/sql/backend_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Adds `alerting-team[bot]` to exclude list for pr-external label (#102564)
  .github/pr-commands.json
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

[Search] Fix CodeQL warnings (#101364)
  pkg/storage/unified/search/bleve.go
  pkg/storage/unified/search/bleve_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

fix: add index for resource history get with trash on (#102894)
  pkg/storage/unified/sql/db/migrations/resource_mig.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

FlameGraphPanel: Add units to standard options (#89815) (#102720)
  public/app/plugins/panel/flamegraph/module.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Docs: add `orgId` to folder/dashboard search api docs (#102898)
  docs/sources/developers/http_api/folder_dashboard_search.md
Due: pr-docs, main-docs

Docs: histogram visualization refactor (#102832)
  docs/sources/panels-visualizations/visualizations/histogram/index.md
  docs/sources/panels-visualizations/visualizations/state-timeline/index.md
  docs/sources/panels-visualizations/visualizations/status-history/index.md
  docs/sources/shared/visualizations/tooltip-options-1.md
  docs/sources/shared/visualizations/tooltip-options-3.md
Due: pr-docs, main-docs

Zanzana: Support subresources for users and service accounts (#102874)
  pkg/services/authz/zanzana/common/info.go
  pkg/services/authz/zanzana/common/tuple.go
  pkg/services/authz/zanzana/schema/schema_core.fga
  pkg/services/authz/zanzana/schema/schema_subresource.fga
  pkg/services/authz/zanzana/server/server_check_test.go
  pkg/services/authz/zanzana/server/server_list_test.go
  pkg/services/authz/zanzana/server/server_test.go
  pkg/services/authz/zanzana/zanzana.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Chore: Fix some links in our api generation docs (#102907)
  public/app/api/README.md
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Dashboard - Schema V2 Stateless variables (ds ref independent) (#102571)
  public/app/features/dashboard-scene/serialization/DashboardSceneSerializer.ts
  public/app/features/dashboard-scene/serialization/layoutSerializers/utils.ts
  public/app/features/dashboard-scene/serialization/sceneVariablesSetToVariables.ts
  public/app/features/dashboard-scene/serialization/transformSaveModelSchemaV2ToScene.ts
  public/app/features/dashboard-scene/serialization/transformSceneToSaveModelSchemaV2.test.ts
  public/app/features/dashboard-scene/serialization/transformSceneToSaveModelSchemaV2.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Schema V2: Replace resourceVersion usage with generation (#100080)
  apps/dashboard/pkg/apis/dashboard/v0alpha1/dashboard_object_gen.go
  apps/dashboard/pkg/apis/dashboard/v1alpha1/dashboard_object_gen.go
  apps/dashboard/pkg/apis/dashboard_manifest.go
  public/app/features/dashboard-scene/pages/DashboardScenePageStateManager.test.ts
  public/app/features/dashboard-scene/pages/DashboardScenePageStateManager.ts
  public/app/features/dashboard-scene/serialization/transformSaveModelSchemaV2ToScene.test.ts
  public/app/features/dashboard-scene/serialization/transformSaveModelSchemaV2ToScene.ts
  public/app/features/dashboard/api/ResponseTransformers.ts
  public/app/features/dashboard/api/v1.ts
  public/app/features/dashboard/api/v2.test.ts
  public/app/features/dashboard/api/v2.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Alerting: Remove transitional notifications API endpoints (#102713)
  pkg/services/ngalert/api/api.go
  pkg/services/ngalert/api/api_notifications.go
  pkg/services/ngalert/api/api_notifications_test.go
  pkg/services/ngalert/api/authorization.go
  pkg/services/ngalert/api/authorization_test.go
  pkg/services/ngalert/api/generated_base_api_notifications.go
  pkg/services/ngalert/api/notifications.go
  pkg/services/ngalert/api/tooling/api.json
  pkg/services/ngalert/api/tooling/definitions/receivers.go
  pkg/services/ngalert/api/tooling/definitions/time_intervals.go
  pkg/services/ngalert/api/tooling/post.json
  pkg/services/ngalert/api/tooling/spec.json
  pkg/tests/api/alerting/api_notifications_time_interval_test.go
  pkg/tests/api/alerting/testing.go
  public/api-merged.json
  public/openapi3.json
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Dashboards: Limit panel title length (#102911)
  public/app/features/dashboard-scene/serialization/layoutSerializers/utils.ts
  public/app/features/dashboard-scene/serialization/transformSaveModelToScene.ts
  public/app/features/dashboard/dashgrid/DashboardGrid.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Combobox: Fix Group Label Styling - Option Groups + Top Border (#102749)
  packages/grafana-ui/src/components/Combobox/Combobox.mdx
  packages/grafana-ui/src/components/Combobox/Combobox.story.tsx
  packages/grafana-ui/src/components/Combobox/Combobox.test.tsx
  packages/grafana-ui/src/components/Combobox/Combobox.tsx
  packages/grafana-ui/src/components/Combobox/getComboboxStyles.ts
  packages/grafana-ui/src/components/Combobox/useOptions.ts
Due: pr-verify-storybook, pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

docs: add note about alert migration (#102741)
  docs/sources/alerting/set-up/performance-limitations/index.md
Due: pr-docs, main-docs

Unistore: Skip label for getting full path (#102928)
  pkg/apimachinery/utils/meta.go
  pkg/registry/apis/folders/legacy_storage.go
  pkg/registry/apis/folders/legacy_storage_test.go
  pkg/services/folder/folderimpl/unifiedstore.go
  pkg/storage/unified/apistore/util.go
  pkg/storage/unified/apistore/util_test.go
  pkg/storage/unified/resource/server.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

docs/adds shared shortcode (#102946)
  docs/sources/dashboards/_index.md
  docs/sources/dashboards/build-dashboards/create-dashboard/index.md
Due: pr-docs, main-docs

K8S Dashboards: Prevent duplicate dashboards when updating an existing dashboard (#102835)
  public/app/features/dashboard/api/v1.test.ts
  public/app/features/dashboard/api/v1.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Table: Add inspect cell (#102927)
  packages/grafana-ui/src/components/Table/TableRT/Table.tsx
Due: pr-verify-storybook, pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Anonymous: Enforce org role Viewer setting (#102070)
  conf/defaults.ini
  conf/sample.ini
  docs/sources/setup-grafana/configure-security/configure-authentication/anonymous-auth/index.md
  pkg/services/accesscontrol/dualwrite/collectors.go
  pkg/services/anonymous/anonimpl/client.go
  pkg/services/anonymous/anonimpl/client_test.go
  pkg/services/searchV2/service.go
  pkg/setting/setting_anonymous.go
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, pr-docs, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Tests: Add delete user mock field to fake auth info service (#102947)
  pkg/services/login/authinfotest/fake.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Remote provisioning: use client discovery for sync job (#102885)
  pkg/registry/apis/provisioning/jobs/sync/worker.go
  pkg/registry/apis/provisioning/resources/client.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Fix: Prints should always include new lines (#102795)
  pkg/build/config/version.go
  pkg/cmd/grafana-cli/logger/logger.go
  pkg/registry/apps/playlist/conversions_test.go
  pkg/services/annotations/annotationsimpl/xorm_store.go
  pkg/services/featuremgmt/toggles_gen_test.go
  pkg/services/sqlstore/migrations/accesscontrol/test/ac_test.go
  pkg/services/sqlstore/migrations/migrations_test.go
  pkg/services/sqlstore/migrations/ualert/test/testing.go
  pkg/services/sqlstore/migrations/usermig/test/user_test.go
  pkg/storage/unified/search/bleve_search_test.go
  pkg/tests/apis/playlist/playlist_test.go
  pkg/tests/apis/query/query_test.go
  pkg/tsdb/azuremonitor/loganalytics/azure-response-table-frame.go
  pkg/tsdb/influxdb/fsql/arrow.go
  pkg/tsdb/influxdb/influxql/converter/converter.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, end-to-end-tests-cloud-plugins-suite-azure, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

SQL Expressions: Allow more MySQL AST node-types (#102973)
  pkg/expr/sql/parser_allow.go
  pkg/expr/sql/parser_allow_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Chore: Rename responsive grid -> AutoGrid (#102959)
  apps/dashboard/kinds/v2alpha1/dashboard_spec.cue
  apps/dashboard/pkg/apis/dashboard/v2alpha1/dashboard_spec_gen.go
  apps/dashboard/pkg/apis/dashboard/v2alpha1/zz_generated.openapi.go
  apps/dashboard/pkg/apis/dashboard/v2alpha1/zz_generated.openapi_violation_exceptions.list
  apps/dashboard/pkg/migration/conversion/conversion.go
  packages/grafana-schema/src/schema/dashboard/v2alpha0/dashboard.schema.cue
  packages/grafana-schema/src/schema/dashboard/v2alpha0/types.gen.ts
  packages/grafana-schema/src/schema/dashboard/v2alpha1/types.spec.gen.ts
  public/app/features/dashboard-scene/conditional-rendering/ConditionalRenderingData.tsx
  public/app/features/dashboard-scene/scene/layout-responsive-grid/ResponsiveGridItem.tsx
  public/app/features/dashboard-scene/scene/layout-responsive-grid/ResponsiveGridItemEditor.tsx
  public/app/features/dashboard-scene/scene/layout-responsive-grid/ResponsiveGridItemRenderer.tsx
  public/app/features/dashboard-scene/scene/layout-responsive-grid/ResponsiveGridLayout.tsx
  public/app/features/dashboard-scene/scene/layout-responsive-grid/ResponsiveGridLayoutManager.test.ts
  public/app/features/dashboard-scene/scene/layout-responsive-grid/ResponsiveGridLayoutManager.tsx
  public/app/features/dashboard-scene/scene/layout-responsive-grid/ResponsiveGridLayoutManagerEditor.tsx
  public/app/features/dashboard-scene/scene/layout-responsive-grid/ResponsiveGridLayoutRenderer.tsx
  public/app/features/dashboard-scene/scene/layout-rows/RowItem.tsx
  public/app/features/dashboard-scene/scene/layout-tabs/TabItem.tsx
  public/app/features/dashboard-scene/scene/layouts-shared/layoutRegistry.ts
  public/app/features/dashboard-scene/serialization/layoutSerializers/ResponsiveGridLayoutSerializer.ts
  public/app/features/dashboard-scene/serialization/layoutSerializers/RowsLayoutSerializer.test.ts
  public/app/features/dashboard-scene/serialization/layoutSerializers/TabsLayoutSerializer.test.ts
  public/app/features/dashboard-scene/serialization/layoutSerializers/layoutSerializerRegistry.ts
  public/app/features/dashboard-scene/serialization/layoutSerializers/utils.ts
  public/app/features/dashboard-scene/serialization/transformSaveModelSchemaV2ToScene.test.ts
  public/app/features/dashboard-scene/serialization/transformSceneToSaveModelSchemaV2.test.ts
  public/app/features/dashboard-scene/utils/utils.ts
  public/locales/en-US/grafana.json
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Chore: Run yarn generate-apis (#102974)
  public/app/api/clients/provisioning/endpoints.gen.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Advisor: Mark unprocessed checks as errored (#102888)
  apps/advisor/pkg/app/checks/utils.go
  apps/advisor/pkg/app/checkscheduler/checkscheduler.go
  apps/advisor/pkg/app/checkscheduler/checkscheduler_test.go
  apps/advisor/pkg/app/utils.go
  apps/advisor/pkg/app/utils_test.go
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Logs Panel: Add ISO8601 date to log download files (#102932)
  public/app/features/explore/Logs/LogsMetaRow.test.tsx
  public/app/features/explore/Logs/LogsMetaRow.tsx
  public/app/features/inspector/utils/download.test.ts
  public/app/features/inspector/utils/download.ts
  public/app/features/logs/utils.test.ts
  public/app/features/logs/utils.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Plugins: Remove userStorageAPI feature toggle (#102915)
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  packages/grafana-data/src/types/featureToggles.gen.ts
  packages/grafana-runtime/src/utils/userStorage.test.tsx
  packages/grafana-runtime/src/utils/userStorage.tsx
  pkg/registry/apis/userstorage/register.go
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.go
  pkg/services/featuremgmt/toggles_gen.json
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, pr-docs, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

I18n: Add 13 new languages for translations (#102971)
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.go
  pkg/services/featuremgmt/toggles_gen.json
  public/app/core/internationalization/constants.ts
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, pr-docs, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

LBAC for data sources: PublicPreview and self serve enablement (#102276)
  docs/sources/administration/data-source-management/teamlbac/_index.md
  docs/sources/administration/data-source-management/teamlbac/configure-teamlbac-for-prometheus/index.md
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.json
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, pr-docs, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Plugins: Change Updated at label to Latest release date at plugin details panel (#102965)
  public/app/features/plugins/admin/components/PluginDetailsPanel.tsx
  public/app/features/plugins/admin/pages/PluginDetails.test.tsx
  public/locales/en-US/grafana.json
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Path conditions:
  pr-verify-drone: any of: scripts/drone/**, .drone.yml, .drone.star, but not: docs/**, *.md
  pr-verify-starlark: any of: scripts/drone/**, .drone.star, but not: docs/**, *.md
  pr-verify-storybook: any of: packages/grafana-ui/**, but not: docs/**, *.md
  pr-test-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-lint-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-test-backend: any of: Makefile, pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, docs/sources/setup-grafana/configure-grafana/feature-toggles/**, devenv/**, but not: docs/**, *.md
  pr-lint-backend: any of: .golangci.toml, Makefile, pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, .bingo/**, but not: docs/**, *.md
  pr-build-e2e: any file but: *.md, docs/**, latest.json
  end-to-end-tests-cloud-plugins-suite-azure: any of: pkg/tsdb/azuremonitor/**, public/app/plugins/datasource/azuremonitor/**, e2e/cloud-plugins-suite/azure-monitor.spec.ts
  build-storybook: any of: packages/grafana-ui/**
  pr-integration-tests: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, but not: docs/**, *.md
  pr-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  pr-shellcheck: any of: scripts/**/*.sh, but not: *.md, docs/**, latest.json
  main-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  main-test-frontend: any file but: *.md, docs/**, latest.json
  main-lint-frontend: any file but: *.md, docs/**, latest.json
  main-test-backend: any file but: *.md, docs/**, latest.json
  main-lint-backend: any file but: *.md, docs/**, latest.json
  main-verify-storybook: any file but: *.md, docs/**, latest.json
  main-build-e2e-publish: any file but: *.md, docs/**, latest.json
  store-storybook: any of: packages/grafana-ui/**
  release-canary-npm-packages: any of: packages/**
  main-integration-tests: any file but: *.md, docs/**, latest.json
  main-trigger-downstream: any file but: *.md, docs/**, latest.json
  main-notify: any file but: *.md, docs/**, latest.json
  rgm-main-prerelease: any file but: *.md, docs/**, packages/**/*.md, latest.json
