Repository grafana/grafana: changes, and which Drone steps are due for each by the changed paths.
All: pr-verify-drone, pr-verify-starlark, pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, trigger-test-release, end-to-end-tests-cloud-plugins-suite-azure, build-storybook, pr-integration-tests, pr-docs, pr-shellcheck, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, store-storybook, main-integration-tests, main-windows, notify-drone-changes, main-trigger-downstream, main-notify

pr-verify-drone:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.17.1
    name: identify-runner
  - commands:
    - go build -o ./bin/build -ldflags '-extldflags -static' ./pkg/build/cmd
    depends_on: []
    environment:
      CGO_ENABLED: 0
    image: golang:1.20.1
    name: compile-build-cmd
  - commands:
  ...

pr-verify-starlark:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.17.1
    name: identify-runner
  - commands:
    - go build -o ./bin/build -ldflags '-extldflags -static' ./pkg/build/cmd
    depends_on: []
    environment:
      CGO_ENABLED: 0
    image: golang:1.20.1
    name: compile-build-cmd
  - commands:
  ...

pr-test-frontend:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.17.1
    name: identify-runner
  - commands:
    - mkdir -p bin
    - curl -fL -o bin/grabpl https://grafana-downloads.storage.googleapis.com/grafana-build-pipeline/v3.0.30/grabpl
    - chmod +x bin/grabpl
    image: byrnedo/alpine-curl:0.1.8
  ...

pr-lint-frontend:
  steps:
  - commands:
    - is_fork=$(curl "https://$GITHUB_TOKEN@api.github.com/repos/grafana/grafana/pulls/$DRONE_PULL_REQUEST" | jq .head.repo.fork)
    - if [ "$is_fork" != false ]; then return 1; fi
  ...

pr-test-backend:
  steps:
  - commands:
    - is_fork=$(curl "https://$GITHUB_TOKEN@api.github.com/repos/grafana/grafana/pulls/$DRONE_PULL_REQUEST" | jq .head.repo.fork)
    - if [ "$is_fork" != false ]; then return 1; fi
  ...

pr-lint-backend:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.17.1
    name: identify-runner
  - commands:
    - go build -o ./bin/build -ldflags '-extldflags -static' ./pkg/build/cmd
    depends_on: []
    environment:
      CGO_ENABLED: 0
    image: golang:1.20.1
    name: compile-build-cmd
  - commands:
  ...

pr-build-e2e:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.17.1
    name: identify-runner
  - commands:
    - mkdir -p bin
    - curl -fL -o bin/grabpl https://grafana-downloads.storage.googleapis.com/grafana-build-pipeline/v3.0.30/grabpl
    - chmod +x bin/grabpl
    image: byrnedo/alpine-curl:0.1.8
  ...

trigger-test-release:
  commands:
  - git clone "https://$${GITHUB_TOKEN}@github.com/grafana/grafana-enterprise.git" --depth=1
  - cd grafana-enterprise
  - git fetch origin "refs/tags/*:refs/tags/*" --quiet
  - if git show-ref --tags $${TEST_TAG} --quiet; then git tag -d $${TEST_TAG} && git push --delete origin $${TEST_TAG}; fi
  ...

end-to-end-tests-cloud-plugins-suite-azure:
  commands:
  - cd /
  - ./cpp-e2e/scripts/ci-run.sh azure ${DRONE_SOURCE_BRANCH}
  depends_on:
  - grafana-server
  environment:
    AZURE_SP_APP_ID:
      from_secret: azure_sp_app_id
    AZURE_SP_PASSWORD:
      from_secret: azure_sp_app_pw
    AZURE_TENANT:
      from_secret: azure_tenant
    CYPRESS_CI: 'true'
  ...

notify-drone-changes:
  steps:
  - image: plugins/slack
    name: slack
    settings:
      channel: slack-webhooks-test
  ...

Use consistent underscore separated syntax
  docs/sources/panels-visualizations/configure-data-links/index.md
  docs/sources/panels-visualizations/configure-legend/index.md
  docs/sources/panels-visualizations/configure-overrides/index.md
  docs/sources/panels-visualizations/configure-standard-options/index.md
  docs/sources/panels-visualizations/configure-thresholds/index.md
  docs/sources/panels-visualizations/configure-tooltips/index.md
  docs/sources/panels-visualizations/configure-value-mappings/index.md
  docs/sources/panels-visualizations/panel-editor-overview/index.md
  docs/sources/panels-visualizations/panel-overview/index.md
  docs/sources/panels-visualizations/query-transform-data/_index.md
  docs/sources/panels-visualizations/query-transform-data/calculation-types/index.md
  docs/sources/panels-visualizations/query-transform-data/expression-queries/index.md
  docs/sources/panels-visualizations/query-transform-data/share-query/index.md
  docs/sources/panels-visualizations/query-transform-data/transform-data/index.md
  docs/sources/panels-visualizations/query-transform-data/troubleshoot-queries/index.md
  docs/sources/panels-visualizations/visualizations/_index.md
  docs/sources/panels-visualizations/visualizations/datagrid/index.md
Due: pr-docs, main-docs

Prettier
  docs/sources/panels-visualizations/_index.md
  docs/sources/panels-visualizations/configure-data-links/index.md
  docs/sources/panels-visualizations/configure-legend/index.md
  docs/sources/panels-visualizations/configure-overrides/index.md
  docs/sources/panels-visualizations/configure-panel-options/index.md
  docs/sources/panels-visualizations/configure-standard-options/index.md
  docs/sources/panels-visualizations/configure-thresholds/index.md
  docs/sources/panels-visualizations/configure-tooltips/index.md
  docs/sources/panels-visualizations/configure-value-mappings/index.md
  docs/sources/panels-visualizations/panel-editor-overview/index.md
  docs/sources/panels-visualizations/panel-overview/index.md
  docs/sources/panels-visualizations/query-transform-data/_index.md
  docs/sources/panels-visualizations/query-transform-data/expression-queries/index.md
  docs/sources/panels-visualizations/query-transform-data/share-query/index.md
  docs/sources/panels-visualizations/query-transform-data/transform-data/index.md
  docs/sources/panels-visualizations/query-transform-data/troubleshoot-queries/index.md
  docs/sources/panels-visualizations/visualizations/_index.md
  docs/sources/panels-visualizations/visualizations/alert-list/index.md
  docs/sources/panels-visualizations/visualizations/bar-chart/index.md
  docs/sources/panels-visualizations/visualizations/bar-gauge/index.md
  docs/sources/panels-visualizations/visualizations/candlestick/index.md
  docs/sources/panels-visualizations/visualizations/canvas/index.md
  docs/sources/panels-visualizations/visualizations/dashboard-list/index.md
  docs/sources/panels-visualizations/visualizations/datagrid/index.md
  docs/sources/panels-visualizations/visualizations/gauge/index.md
  docs/sources/panels-visualizations/visualizations/geomap/index.md
  docs/sources/panels-visualizations/visualizations/heatmap/index.md
  docs/sources/panels-visualizations/visualizations/histogram/index.md
  docs/sources/panels-visualizations/visualizations/logs/index.md
  docs/sources/panels-visualizations/visualizations/pie-chart/index.md
  docs/sources/panels-visualizations/visualizations/stat/index.md
  docs/sources/panels-visualizations/visualizations/state-timeline/index.md
  docs/sources/panels-visualizations/visualizations/status-history/index.md
  docs/sources/panels-visualizations/visualizations/table/index.md
  docs/sources/panels-visualizations/visualizations/text/index.md
  docs/sources/panels-visualizations/visualizations/time-series/index.md
  docs/sources/panels-visualizations/visualizations/traces/index.md
  docs/sources/panels-visualizations/visualizations/trend/index.md
  docs/sources/panels-visualizations/visualizations/xy-chart/index.md
Due: pr-docs, main-docs

Revert "[v10.4.x] [docs/sources/panels-visualizations] Replace docs/reference shortcode with ref URIs (#88069)"
  docs/sources/panels-visualizations/_index.md
  docs/sources/panels-visualizations/configure-data-links/index.md
  docs/sources/panels-visualizations/configure-legend/index.md
  docs/sources/panels-visualizations/configure-overrides/index.md
  docs/sources/panels-visualizations/configure-panel-options/index.md
  docs/sources/panels-visualizations/configure-standard-options/index.md
  docs/sources/panels-visualizations/configure-thresholds/index.md
  docs/sources/panels-visualizations/configure-tooltips/index.md
  docs/sources/panels-visualizations/configure-value-mappings/index.md
  docs/sources/panels-visualizations/panel-editor-overview/index.md
  docs/sources/panels-visualizations/query-transform-data/_index.md
  docs/sources/panels-visualizations/query-transform-data/calculation-types/index.md
  docs/sources/panels-visualizations/query-transform-data/expression-queries/index.md
  docs/sources/panels-visualizations/query-transform-data/share-query/index.md
  docs/sources/panels-visualizations/query-transform-data/transform-data/index.md
  docs/sources/panels-visualizations/query-transform-data/troubleshoot-queries/index.md
  docs/sources/panels-visualizations/visualizations/_index.md
  docs/sources/panels-visualizations/visualizations/alert-list/index.md
  docs/sources/panels-visualizations/visualizations/bar-chart/index.md
  docs/sources/panels-visualizations/visualizations/bar-gauge/index.md
  docs/sources/panels-visualizations/visualizations/candlestick/index.md
  docs/sources/panels-visualizations/visualizations/dashboard-list/index.md
  docs/sources/panels-visualizations/visualizations/datagrid/index.md
  docs/sources/panels-visualizations/visualizations/gauge/index.md
  docs/sources/panels-visualizations/visualizations/geomap/index.md
  docs/sources/panels-visualizations/visualizations/heatmap/index.md
  docs/sources/panels-visualizations/visualizations/histogram/index.md
  docs/sources/panels-visualizations/visualizations/logs/index.md
  docs/sources/panels-visualizations/visualizations/pie-chart/index.md
  docs/sources/panels-visualizations/visualizations/stat/index.md
  docs/sources/panels-visualizations/visualizations/state-timeline/index.md
  docs/sources/panels-visualizations/visualizations/status-history/index.md
  docs/sources/panels-visualizations/visualizations/table/index.md
  docs/sources/panels-visualizations/visualizations/text/index.md
  docs/sources/panels-visualizations/visualizations/time-series/index.md
  docs/sources/panels-visualizations/visualizations/traces/index.md
  docs/sources/panels-visualizations/visualizations/trend/index.md
Due: pr-docs, main-docs

Replace all docs/reference use with ref URIs
  docs/sources/panels-visualizations/_index.md
  docs/sources/panels-visualizations/configure-data-links/index.md
  docs/sources/panels-visualizations/configure-legend/index.md
  docs/sources/panels-visualizations/configure-overrides/index.md
  docs/sources/panels-visualizations/configure-panel-options/index.md
  docs/sources/panels-visualizations/configure-standard-options/index.md
  docs/sources/panels-visualizations/configure-thresholds/index.md
  docs/sources/panels-visualizations/configure-tooltips/index.md
  docs/sources/panels-visualizations/configure-value-mappings/index.md
  docs/sources/panels-visualizations/panel-editor-overview/index.md
  docs/sources/panels-visualizations/query-transform-data/_index.md
  docs/sources/panels-visualizations/query-transform-data/calculation-types/index.md
  docs/sources/panels-visualizations/query-transform-data/expression-queries/index.md
  docs/sources/panels-visualizations/query-transform-data/share-query/index.md
  docs/sources/panels-visualizations/query-transform-data/transform-data/index.md
  docs/sources/panels-visualizations/query-transform-data/troubleshoot-queries/index.md
  docs/sources/panels-visualizations/visualizations/_index.md
  docs/sources/panels-visualizations/visualizations/alert-list/index.md
  docs/sources/panels-visualizations/visualizations/bar-chart/index.md
  docs/sources/panels-visualizations/visualizations/bar-gauge/index.md
  docs/sources/panels-visualizations/visualizations/candlestick/index.md
  docs/sources/panels-visualizations/visualizations/dashboard-list/index.md
  docs/sources/panels-visualizations/visualizations/datagrid/index.md
  docs/sources/panels-visualizations/visualizations/gauge/index.md
  docs/sources/panels-visualizations/visualizations/geomap/index.md
  docs/sources/panels-visualizations/visualizations/heatmap/index.md
  docs/sources/panels-visualizations/visualizations/histogram/index.md
  docs/sources/panels-visualizations/visualizations/logs/index.md
  docs/sources/panels-visualizations/visualizations/pie-chart/index.md
  docs/sources/panels-visualizations/visualizations/stat/index.md
  docs/sources/panels-visualizations/visualizations/state-timeline/index.md
  docs/sources/panels-visualizations/visualizations/status-history/index.md
  docs/sources/panels-visualizations/visualizations/table/index.md
  docs/sources/panels-visualizations/visualizations/text/index.md
  docs/sources/panels-visualizations/visualizations/time-series/index.md
  docs/sources/panels-visualizations/visualizations/traces/index.md
  docs/sources/panels-visualizations/visualizations/trend/index.md
Due: pr-docs, main-docs

for variable changes to be detected, save variables need to be true
  public/app/features/dashboard-scene/saving/getDashboardChangesFromScene.test.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Revert "[v11.0.x] [docs/sources/panels-visualizations] Replace docs/reference shortcode with ref URIs (#88056)"
  docs/sources/panels-visualizations/_index.md
  docs/sources/panels-visualizations/configure-data-links/index.md
  docs/sources/panels-visualizations/configure-legend/index.md
  docs/sources/panels-visualizations/configure-overrides/index.md
  docs/sources/panels-visualizations/configure-panel-options/index.md
  docs/sources/panels-visualizations/configure-standard-options/index.md
  docs/sources/panels-visualizations/configure-thresholds/index.md
  docs/sources/panels-visualizations/configure-tooltips/index.md
  docs/sources/panels-visualizations/configure-value-mappings/index.md
  docs/sources/panels-visualizations/panel-editor-overview/index.md
  docs/sources/panels-visualizations/panel-overview/index.md
  docs/sources/panels-visualizations/query-transform-data/_index.md
  docs/sources/panels-visualizations/query-transform-data/calculation-types/index.md
  docs/sources/panels-visualizations/query-transform-data/expression-queries/index.md
  docs/sources/panels-visualizations/query-transform-data/share-query/index.md
  docs/sources/panels-visualizations/query-transform-data/transform-data/index.md
  docs/sources/panels-visualizations/query-transform-data/troubleshoot-queries/index.md
  docs/sources/panels-visualizations/visualizations/_index.md
  docs/sources/panels-visualizations/visualizations/alert-list/index.md
  docs/sources/panels-visualizations/visualizations/bar-chart/index.md
  docs/sources/panels-visualizations/visualizations/bar-gauge/index.md
  docs/sources/panels-visualizations/visualizations/candlestick/index.md
  docs/sources/panels-visualizations/visualizations/canvas/index.md
  docs/sources/panels-visualizations/visualizations/dashboard-list/index.md
  docs/sources/panels-visualizations/visualizations/datagrid/index.md
  docs/sources/panels-visualizations/visualizations/gauge/index.md
  docs/sources/panels-visualizations/visualizations/geomap/index.md
  docs/sources/panels-visualizations/visualizations/heatmap/index.md
  docs/sources/panels-visualizations/visualizations/histogram/index.md
  docs/sources/panels-visualizations/visualizations/logs/index.md
  docs/sources/panels-visualizations/visualizations/pie-chart/index.md
  docs/sources/panels-visualizations/visualizations/stat/index.md
  docs/sources/panels-visualizations/visualizations/state-timeline/index.md
  docs/sources/panels-visualizations/visualizations/status-history/index.md
  docs/sources/panels-visualizations/visualizations/table/index.md
  docs/sources/panels-visualizations/visualizations/text/index.md
  docs/sources/panels-visualizations/visualizations/time-series/index.md
  docs/sources/panels-visualizations/visualizations/traces/index.md
  docs/sources/panels-visualizations/visualizations/trend/index.md
  docs/sources/panels-visualizations/visualizations/xy-chart/index.md
Due: pr-docs, main-docs

Replace all docs/reference use with ref URIs
  docs/sources/panels-visualizations/_index.md
  docs/sources/panels-visualizations/configure-data-links/index.md
  docs/sources/panels-visualizations/configure-legend/index.md
  docs/sources/panels-visualizations/configure-overrides/index.md
  docs/sources/panels-visualizations/configure-panel-options/index.md
  docs/sources/panels-visualizations/configure-standard-options/index.md
  docs/sources/panels-visualizations/configure-thresholds/index.md
  docs/sources/panels-visualizations/configure-tooltips/index.md
  docs/sources/panels-visualizations/configure-value-mappings/index.md
  docs/sources/panels-visualizations/panel-editor-overview/index.md
  docs/sources/panels-visualizations/panel-overview/index.md
  docs/sources/panels-visualizations/query-transform-data/_index.md
  docs/sources/panels-visualizations/query-transform-data/calculation-types/index.md
  docs/sources/panels-visualizations/query-transform-data/expression-queries/index.md
  docs/sources/panels-visualizations/query-transform-data/share-query/index.md
  docs/sources/panels-visualizations/query-transform-data/transform-data/index.md
  docs/sources/panels-visualizations/query-transform-data/troubleshoot-queries/index.md
  docs/sources/panels-visualizations/visualizations/_index.md
  docs/sources/panels-visualizations/visualizations/alert-list/index.md
  docs/sources/panels-visualizations/visualizations/bar-chart/index.md
  docs/sources/panels-visualizations/visualizations/bar-gauge/index.md
  docs/sources/panels-visualizations/visualizations/candlestick/index.md
  docs/sources/panels-visualizations/visualizations/canvas/index.md
  docs/sources/panels-visualizations/visualizations/dashboard-list/index.md
  docs/sources/panels-visualizations/visualizations/datagrid/index.md
  docs/sources/panels-visualizations/visualizations/gauge/index.md
  docs/sources/panels-visualizations/visualizations/geomap/index.md
  docs/sources/panels-visualizations/visualizations/heatmap/index.md
  docs/sources/panels-visualizations/visualizations/histogram/index.md
  docs/sources/panels-visualizations/visualizations/logs/index.md
  docs/sources/panels-visualizations/visualizations/pie-chart/index.md
  docs/sources/panels-visualizations/visualizations/stat/index.md
  docs/sources/panels-visualizations/visualizations/state-timeline/index.md
  docs/sources/panels-visualizations/visualizations/status-history/index.md
  docs/sources/panels-visualizations/visualizations/table/index.md
  docs/sources/panels-visualizations/visualizations/text/index.md
  docs/sources/panels-visualizations/visualizations/time-series/index.md
  docs/sources/panels-visualizations/visualizations/traces/index.md
  docs/sources/panels-visualizations/visualizations/trend/index.md
  docs/sources/panels-visualizations/visualizations/xy-chart/index.md
Due: pr-docs, main-docs

Tempo: Update lezer autocomplete (histogram, quantile) and add missing functions (#88131)
  public/app/plugins/datasource/tempo/package.json
  public/app/plugins/datasource/tempo/traceql/autocomplete.ts
  public/app/plugins/datasource/tempo/traceql/highlighting.ts
  public/app/plugins/datasource/tempo/traceql/traceql.ts
  yarn.lock
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

handle nested templates in parseTemplates function
  public/app/features/alerting/unified/components/receivers/form/fields/TemplateSelector.test.tsx
  public/app/features/alerting/unified/components/receivers/form/fields/TemplateSelector.tsx
  public/app/features/alerting/unified/components/receivers/form/fields/__snapshots__/TemplateSelector.test.tsx.snap
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Search: Announce to screen reader when query returns no result (#87382)
  packages/grafana-ui/src/components/EmptyState/EmptyState.mdx
  packages/grafana-ui/src/components/EmptyState/EmptyState.tsx
  public/app/features/browse-dashboards/components/SearchView.tsx
  public/app/features/commandPalette/CommandPalette.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, store-storybook, main-integration-tests, main-windows, main-trigger-downstream, main-notify

clean up some test fixtures
  pkg/services/authn/authnimpl/sync/user_sync.go
  pkg/services/grpcserver/interceptors/auth.go
  pkg/services/grpcserver/interceptors/auth_test.go
  pkg/services/user/user.go
  pkg/services/user/userimpl/user.go
  pkg/services/user/userimpl/user_test.go
  pkg/services/user/usertest/fake.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Add PanelAttentionService with scenes support
  packages/grafana-runtime/src/services/panelAttentionSrv.ts
  public/app/core/services/keybindingSrv.ts
  public/app/core/services/panelAttentionSrv.ts
  public/app/features/dashboard-scene/scene/keyboardShortcuts.ts
  public/app/features/dashboard/dashgrid/DashboardGrid.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Remove unused code
  public/app/core/services/keybindingSrv.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Include context when setting dual writing mode
  pkg/apiserver/rest/dualwriter.go
  pkg/apiserver/rest/dualwriter_test.go
  pkg/registry/apis/playlist/register.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

SCSS: Remove some more scss (#88129)
  public/sass/_angular.scss
  public/sass/_grafana.scss
  public/sass/components/_filter-list.scss
  public/sass/components/_navs.scss
  public/sass/components/_old_stuff.scss
  public/sass/components/_panel_heatmap.scss
  public/sass/components/_panel_pluginlist.scss
  public/sass/components/_panel_singlestat.scss
  public/sass/components/_panel_table.scss
  public/sass/components/_scrollbar.scss
  public/sass/components/_tooltip.scss
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Deyan's feedback
  public/app/features/alerting/unified/components/rule-list/AlertRuleListItem.tsx
  public/app/features/alerting/unified/components/rule-list/EvaluationGroup.tsx
  public/app/features/alerting/unified/components/rule-list/Namespace.tsx
  public/app/features/alerting/unified/components/rule-list/RuleList.v2.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Chore: Use cache for all signed in user lookups (#88133)
  pkg/services/authn/authnimpl/sync/user_sync.go
  pkg/services/grpcserver/interceptors/auth.go
  pkg/services/grpcserver/interceptors/auth_test.go
  pkg/services/user/user.go
  pkg/services/user/userimpl/user.go
  pkg/services/user/userimpl/user_test.go
  pkg/services/user/usertest/fake.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

initial attempt
  pkg/expr/query.go
  pkg/expr/reader.go
  pkg/promlib/models/query.go
  pkg/registry/apis/datasource/register.go
  pkg/registry/apis/query/parser.go
  pkg/registry/apis/query/register.go
  pkg/registry/apis/query/types/query_type_storage.go
  pkg/tsdb/grafana-testdata-datasource/kinds/query.go
  sample.json
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Merge fix
  pkg/services/featuremgmt/toggles_gen.json
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Remove unused code
  public/app/features/dashboard-scene/utils/dashboardSceneGraph.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

feat: create page in BE
  pkg/services/navtree/navtreeimpl/navtree.go
  public/app/core/utils/navBarItem-translations.ts
  public/locales/en-US/grafana.json
  public/locales/pseudo-LOCALE/grafana.json
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

docs: update alert list visualization (#87815)
  docs/sources/panels-visualizations/visualizations/alert-list/index.md
Due: pr-docs, main-docs

Alerting docs: update Intro/Queries and Conditions (#88164)
  docs/sources/alerting/fundamentals/alert-rules/queries-conditions.md
Due: pr-docs, main-docs

And make it better, errrrrr
  .betterer.results
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

add comments, fix a test
  pkg/services/accesscontrol/api/api_test.go
  pkg/services/accesscontrol/resourcepermissions/service.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

clean up
  e2e/run-suite
  e2e/scenes/dashboard-suite/set-options-from-ui.spec.ts
  e2e/scenes/panels-suite/geomap-spatial-operations-transform.spec.ts
  e2e/scenes/panels-suite/panelEdit_base.spec.ts
  e2e/scenes/panels-suite/panelEdit_queries.spec.ts
  e2e/scenes/panels-suite/panelEdit_transforms.spec.ts
  package.json
  public/app/features/dashboard-scene/panel-edit/PanelEditorRenderer.tsx
  public/app/features/dashboard-scene/panel-edit/PanelOptionsPane.tsx
  yarn.lock
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Extend docs
  docs/sources/setup-grafana/configure-security/configure-authentication/generic-oauth/index.md
Due: pr-docs, main-docs

Cloud migration: create route to fetch cloud migration token
  pkg/services/cloudmigration/api/api.go
  pkg/services/cloudmigration/cloudmigration.go
  pkg/services/cloudmigration/cloudmigrationimpl/cloudmigration.go
  pkg/services/cloudmigration/cloudmigrationimpl/cloudmigration_noop.go
  pkg/services/cloudmigration/cloudmigrationimpl/gcomstub.go
  pkg/services/cloudmigration/model.go
  pkg/services/gcom/gcom.go
  pkg/setting/setting_cloud_migration.go
  public/api-merged.json
  public/app/features/migrate-to-cloud/api/endpoints.gen.ts
  public/openapi3.json
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

change select group headers to always be visible
  .betterer.results
  packages/grafana-ui/src/components/Forms/Legacy/Select/Select.tsx
  packages/grafana-ui/src/components/Forms/Legacy/Select/SelectOptionGroup.tsx
  packages/grafana-ui/src/components/Select/Select.story.tsx
  packages/grafana-ui/src/components/Select/SelectBase.tsx
  packages/grafana-ui/src/components/Select/SelectOptionGroupHeader.tsx
  packages/grafana-ui/src/components/Select/getSelectStyles.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, store-storybook, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Canvas: Fix emotion style property error (#88162)
  public/app/plugins/panel/canvas/globalStyles.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

API Server: Include traceID in HTTP request logs
  pkg/apiserver/builder/helper.go
  pkg/apiserver/endpoints/filters/tracing_log.go
  pkg/apiserver/go.mod
  pkg/registry/apis/query/query.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

remove unnecessary SelectOptionGroup
  packages/grafana-ui/src/components/Select/SelectBase.tsx
  packages/grafana-ui/src/components/Select/SelectOptionGroupHeader.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, store-storybook, main-integration-tests, main-windows, main-trigger-downstream, main-notify

When open tab into the currently selected range
  packages/grafana-ui/src/components/DateTimePickers/TimeRangePicker/hooks.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, store-storybook, main-integration-tests, main-windows, main-trigger-downstream, main-notify

improved some wording
  docs/sources/administration/team-management/_index.md
  docs/sources/administration/team-management/administering-grafana-teams.md
Due: pr-docs, main-docs

ran prettier
  .nx/cache/file-map.json
  .nx/cache/parsed-lock-file.json
  .nx/cache/project-graph.json
  docs/sources/administration/team-management/_index.md
  docs/sources/administration/team-management/administering-grafana-teams.md
  docs/sources/administration/team-management/configure-grafana-teams.md
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, pr-docs, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

adjust workflow for test run
  .github/workflows/run-scenes-e2e.yml
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

remove unncessary space
  pkg/services/dashboardsnapshots/service/service_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Path conditions:
  pr-verify-drone: any of: scripts/drone/**, .drone.yml, .drone.star, but not: docs/**, *.md
  pr-verify-starlark: any of: scripts/drone/**, .drone.star, but not: docs/**, *.md
  pr-test-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-lint-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-test-backend: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, but not: docs/**, *.md
  pr-lint-backend: any of: pkg/**, packaging/**, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, .bingo/**, but not: docs/**, *.md
  pr-build-e2e: any file but: *.md, docs/**, latest.json
  trigger-test-release: any of: .drone.yml, pkg/build/**
  end-to-end-tests-cloud-plugins-suite-azure: any of: pkg/tsdb/azuremonitor/**, public/app/plugins/datasource/azuremonitor/**, e2e/cloud-plugins-suite/azure-monitor.spec.ts
  build-storybook: any of: packages/grafana-ui/**
  pr-integration-tests: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, but not: docs/**, *.md
  pr-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  pr-shellcheck: any of: scripts/**/*.sh, but not: *.md, docs/**, latest.json
  main-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  main-test-frontend: any file but: *.md, docs/**, latest.json
  main-lint-frontend: any file but: *.md, docs/**, latest.json
  main-test-backend: any file but: *.md, docs/**, latest.json
  main-lint-backend: any file but: *.md, docs/**, latest.json
  main-build-e2e-publish: any file but: *.md, docs/**, latest.json
  store-storybook: any of: packages/grafana-ui/**
  main-integration-tests: any file but: *.md, docs/**, latest.json
  main-windows: any file but: *.md, docs/**, latest.json
  notify-drone-changes: any of: .drone.yml, but not: exclude
  main-trigger-downstream: any file but: *.md, docs/**, latest.json
  main-notify: any file but: *.md, docs/**, latest.json
