Repository grafana/grafana: changes, and which Drone steps are due for each by the changed paths.
All: pr-verify-drone, pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, pr-docs, main-docs, main-test-frontend, main-test-backend, main-build-e2e-publish, trigger-test-release, main-integration-tests, main-windows, notify-drone-changes, main-publish, main-notify

pr-verify-drone:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.15.6
    name: identify-runner
  - commands:
    - mkdir -p bin
    - curl -fL -o bin/grabpl https://grafana-downloads.storage.googleapis.com/grafana-build-pipeline/v3.0.5/grabpl
    - chmod +x bin/grabpl
    image: byrnedo/alpine-curl:0.1.8
  ...

pr-test-frontend:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.15.6
    name: identify-runner
  - commands:
    - mkdir -p bin
    - curl -fL -o bin/grabpl https://grafana-downloads.storage.googleapis.com/grafana-build-pipeline/v3.0.5/grabpl
    - chmod +x bin/grabpl
    image: byrnedo/alpine-curl:0.1.8
  ...

pr-test-backend:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.15.6
    name: identify-runner
  - commands:
    - mkdir -p bin
    - curl -fL -o bin/grabpl https://grafana-downloads.storage.googleapis.com/grafana-build-pipeline/v3.0.5/grabpl
    - chmod +x bin/grabpl
    image: byrnedo/alpine-curl:0.1.8
  ...

pr-build-e2e:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.15.6
    name: identify-runner
  - commands:
    - mkdir -p bin
    - curl -fL -o bin/grabpl https://grafana-downloads.storage.googleapis.com/grafana-build-pipeline/v3.0.5/grabpl
    - chmod +x bin/grabpl
    image: byrnedo/alpine-curl:0.1.8
  ...

pr-integration-tests:
  steps:
  - commands:
    - mkdir -p bin
    - curl -fL -o bin/grabpl https://grafana-downloads.storage.googleapis.com/grafana-build-pipeline/v3.0.5/grabpl
    - chmod +x bin/grabpl
    image: byrnedo/alpine-curl:0.1.8
    name: grabpl
  - commands:
  ...

pr-docs:
  steps:
  - commands:
    - mkdir -p bin
    - curl -fL -o bin/grabpl https://grafana-downloads.storage.googleapis.com/grafana-build-pipeline/v3.0.5/grabpl
    - chmod +x bin/grabpl
    image: byrnedo/alpine-curl:0.1.8
    name: grabpl
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.15.6
  ...

main-docs:
  steps:
  - commands:
    - mkdir -p bin
    - curl -fL -o bin/grabpl https://grafana-downloads.storage.googleapis.com/grafana-build-pipeline/v3.0.5/grabpl
    - chmod +x bin/grabpl
    image: byrnedo/alpine-curl:0.1.8
    name: grabpl
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.15.6
  ...

main-test-frontend:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.15.6
    name: identify-runner
  - commands:
    - mkdir -p bin
    - curl -fL -o bin/grabpl https://grafana-downloads.storage.googleapis.com/grafana-build-pipeline/v3.0.5/grabpl
    - chmod +x bin/grabpl
    image: byrnedo/alpine-curl:0.1.8
  ...

main-test-backend:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.15.6
    name: identify-runner
  - commands:
    - mkdir -p bin
    - curl -fL -o bin/grabpl https://grafana-downloads.storage.googleapis.com/grafana-build-pipeline/v3.0.5/grabpl
    - chmod +x bin/grabpl
    image: byrnedo/alpine-curl:0.1.8
  ...

fix unit tests + betterer
  .betterer.results
  public/app/core/components/AppChrome/NavLandingPage.test.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Fix fake method
  pkg/services/org/orgtest/fake.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

[v9.1.x] Prometheus: Restore FromAlert header (#55627)
  pkg/tsdb/prometheus/buffered/time_series_query.go
  pkg/tsdb/prometheus/buffered/time_series_query_test.go
  pkg/tsdb/prometheus/middleware/req_headers.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Chore: Add orguser methods to org service interface (#55668)
  pkg/services/org/model.go
  pkg/services/org/org.go
  pkg/services/org/orgimpl/org.go
  pkg/services/org/orgtest/fake.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Alerting: Fix flaky test (#55551)
  pkg/services/sqlstore/migrations/ualert/alert_rule_test.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Use OrgUser method from org service
  pkg/api/org_users.go
  pkg/services/login/loginservice/loginservice.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Alerting: Fix flaky test (#55551) (#55673)
  pkg/services/sqlstore/migrations/ualert/alert_rule_test.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

fix test
  go.mod
  pkg/plugins/manager/installer_test.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Alerting: log some basic user interactions (#55401)
  public/app/features/alerting/unified/Analytics.ts
  public/app/features/alerting/unified/components/alert-groups/MatcherFilter.test.tsx
  public/app/features/alerting/unified/components/alert-groups/MatcherFilter.tsx
  public/app/features/alerting/unified/components/rules/EditRuleGroupModal.tsx
  public/app/features/alerting/unified/components/rules/RuleListGroupView.test.tsx
  public/app/features/alerting/unified/components/rules/RuleListGroupView.tsx
  public/app/features/alerting/unified/components/rules/RulesGroup.test.tsx
  public/app/features/alerting/unified/components/rules/RulesGroup.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

feat: implement warnings from DataFrames
  public/app/features/alerting/unified/components/expressions/AlertConditionIndicator.tsx
  public/app/features/alerting/unified/components/expressions/Expression.tsx
  public/app/features/alerting/unified/components/expressions/util.ts
  public/app/features/alerting/unified/components/rule-editor/ExpressionsEditor.tsx
  public/app/features/alerting/unified/components/rule-editor/util.ts
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

undo gomod changes
  go.mod
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

chore(drone): update grabpl to 3.0.10
  .drone.yml
  scripts/drone/steps/lib.star
Due: pr-verify-drone, pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, trigger-test-release, main-integration-tests, main-windows, notify-drone-changes, main-publish, main-notify

create newsfeed hooks and conver NewsPanel to functional component
  public/app/core/components/AppChrome/NewsContainer.test.tsx
  public/app/core/components/AppChrome/NewsContainer.tsx
  public/app/core/components/AppChrome/NewsItem.tsx
  public/app/core/components/AppChrome/NewsWrapper.tsx
  public/app/core/components/AppChrome/TopSearchBar.tsx
  public/app/core/components/AppChrome/types.ts
  public/app/core/components/AppChrome/utils.ts
  public/app/plugins/panel/news/NewsPanel.tsx
  public/app/plugins/panel/news/component/News.tsx
  public/app/plugins/panel/news/useNewsFeed.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Apply PR review suggestions
  public/app/core/components/Select/FolderPicker.tsx
  public/app/features/alerting/unified/components/rule-editor/RuleFolderPicker.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Plugins: Create single point of entry for adding / removing plugins (#55463)
  pkg/api/fakes.go
  pkg/api/http_server.go
  pkg/api/plugins.go
  pkg/api/plugins_test.go
  pkg/cmd/grafana-cli/runner/wire.go
  pkg/plugins/config/config.go
  pkg/plugins/ifaces.go
  pkg/plugins/logger/logger.go
  pkg/plugins/manager/fakes/fakes.go
  pkg/plugins/manager/installer.go
  pkg/plugins/manager/installer_test.go
  pkg/plugins/manager/loader/ifaces.go
  pkg/plugins/manager/loader/loader.go
  pkg/plugins/manager/loader/loader_test.go
  pkg/plugins/manager/manager.go
  pkg/plugins/manager/manager_integration_test.go
  pkg/plugins/manager/manager_test.go
  pkg/plugins/manager/store/store.go
  pkg/plugins/manager/store/store_test.go
  pkg/plugins/plugins.go
  pkg/plugins/storage/fs.go
  pkg/server/wire.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

add eslint-plugin-jsx-a11y
  .eslintrc
  package.json
  yarn.lock
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Alerting: Character / allowed in dashboard folder names, but not in alert folder names (#54395)
  public/app/core/components/Select/FolderPicker.tsx
  public/app/features/alerting/unified/RuleEditor.test.tsx
  public/app/features/alerting/unified/components/rule-editor/DetailsStep.tsx
  public/app/features/alerting/unified/components/rule-editor/RuleFolderPicker.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

feat: hook up "run queries"
  public/app/features/alerting/unified/components/rule-editor/QueryEditor.tsx
  public/app/features/alerting/unified/components/rule-editor/QueryRows.tsx
  public/app/features/alerting/unified/components/rule-editor/query-and-alert-condition/QueryAndExpressionsStep.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

refactor(plugindetails): remove usage of toIconName and reduce nested if
  public/app/features/plugins/admin/hooks/usePluginDetailsTabs.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Introduces SceneContextObject, moves $timeRange to context
  .betterer.results
  public/app/features/scenes/components/NestedScene.tsx
  public/app/features/scenes/components/Scene.tsx
  public/app/features/scenes/components/SceneTimePicker.tsx
  public/app/features/scenes/components/VizPanel.tsx
  public/app/features/scenes/core/SceneContextObject.ts
  public/app/features/scenes/core/SceneObjectBase.test.ts
  public/app/features/scenes/core/SceneObjectBase.tsx
  public/app/features/scenes/core/SceneTimeRange.tsx
  public/app/features/scenes/core/typeguards.ts
  public/app/features/scenes/core/types.ts
  public/app/features/scenes/querying/SceneQueryRunner.ts
  public/app/features/scenes/scenes/demo.tsx
  public/app/features/scenes/scenes/nested.tsx
  public/app/features/scenes/scenes/nestedDataNodeReuse.tsx
  public/app/features/scenes/scenes/sceneWithRows.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

add eslint-plugin-jsx-a11y (#55677)
  .eslintrc
  package.json
  yarn.lock
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

turn on all the rules that are working anyway
  .eslintrc
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Alerting: support env variables in contact point settings when provsioning (#55666)
  pkg/services/provisioning/alerting/contact_point_types.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

reset files
  .betterer.results
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

reset evaluator mock whitespace
  pkg/services/ngalert/eval/evaluator_mock.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

CI: Update grabpl to 3.0.10 (#55678)
  .drone.yml
  scripts/drone/steps/lib.star
Due: pr-verify-drone, pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, trigger-test-release, main-integration-tests, main-windows, notify-drone-changes, main-publish, main-notify

search: fix frontend search engine
  .betterer.results
  public/app/features/search/service/frontend.ts
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Inject trace into HTTP request
  pkg/infra/usagestats/service/usage_stats.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

turn on all the rules that are working anyway (#55679)
  .eslintrc
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Explore: Add resize to split view, with Min/Max button (#54420)
  packages/grafana-ui/src/components/PageLayout/PageToolbar.tsx
  public/app/core/components/SplitPaneWrapper/SplitPaneWrapper.tsx
  public/app/core/components/SplitPaneWrapper/SplitView.tsx
  public/app/features/explore/ExplorePaneContainer.tsx
  public/app/features/explore/ExploreToolbar.tsx
  public/app/features/explore/QueryRows.tsx
  public/app/features/explore/Wrapper.test.tsx
  public/app/features/explore/Wrapper.tsx
  public/app/features/explore/state/main.test.ts
  public/app/features/explore/state/main.ts
  public/app/features/query/components/QueryEditorRow.tsx
  public/app/types/explore.ts
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Alerting: support env variables in contact point settings when provsioning (#55666) (#55680)
  pkg/services/provisioning/alerting/contact_point_types.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Chore: Update betterer results for elasticsearch
  .betterer.results
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

add table query helpers & test ordering
  public/app/features/correlations/CorrelationsPage.test.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Apply review feedback
  docs/sources/developers/http_api/reporting.md
Due: pr-docs, main-docs

dispatch clearFilters when an item is selected (#55512)
  public/app/features/search/hooks/useSearchQuery.ts
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Chore: Update betterer results for elasticsearch (#55682)
  .betterer.results
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Typo
  docs/sources/developers/http_api/reporting.md
Due: pr-docs, main-docs

Update tests
  public/app/features/alerting/unified/hooks/useExternalAMSelector.test.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

refactor some tests for disappearance
  public/app/features/correlations/CorrelationsPage.test.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Path conditions:
  pr-verify-drone: any of: scripts/drone/**, .drone.yml, .drone.star, but not: docs/**, *.md
  pr-test-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-test-backend: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, but not: docs/**, *.md
  pr-build-e2e: any file but: *.md, docs/**, latest.json
  pr-integration-tests: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, but not: docs/**, *.md
  pr-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  main-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  main-test-frontend: any file but: *.md, docs/**, latest.json
  main-test-backend: any file but: *.md, docs/**, latest.json
  main-build-e2e-publish: any file but: *.md, docs/**, latest.json
  trigger-test-release: any of: .drone.yml, pkg/build/**
  main-integration-tests: any file but: *.md, docs/**, latest.json
  main-windows: any file but: *.md, docs/**, latest.json
  notify-drone-changes: any of: .drone.yml, but not: exclude
  main-publish: any file but: *.md, docs/**, latest.json
  main-notify: any file but: *.md, docs/**, latest.json
