Repository grafana/grafana: changes, and which Drone steps are due for each by the changed paths.
All: pr-verify-drone, pr-verify-starlark, pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, trigger-test-release, end-to-end-tests-cloud-plugins-suite-azure, build-storybook, pr-integration-tests, pr-docs, pr-shellcheck, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, store-storybook, main-integration-tests, main-windows, notify-drone-changes, main-trigger-downstream, main-notify

pr-verify-drone:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.17.1
    name: identify-runner
  - commands:
    - go build -o ./bin/build -ldflags '-extldflags -static' ./pkg/build/cmd
    depends_on: []
    environment:
      CGO_ENABLED: 0
    image: golang:1.20.1
    name: compile-build-cmd
  - commands:
  ...

pr-verify-starlark:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.17.1
    name: identify-runner
  - commands:
    - go build -o ./bin/build -ldflags '-extldflags -static' ./pkg/build/cmd
    depends_on: []
    environment:
      CGO_ENABLED: 0
    image: golang:1.20.1
    name: compile-build-cmd
  - commands:
  ...

pr-test-frontend:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.17.1
    name: identify-runner
  - commands:
    - mkdir -p bin
    - curl -fL -o bin/grabpl https://grafana-downloads.storage.googleapis.com/grafana-build-pipeline/v3.0.30/grabpl
    - chmod +x bin/grabpl
    image: byrnedo/alpine-curl:0.1.8
  ...

pr-lint-frontend:
  steps:
  - commands:
    - is_fork=$(curl "https://$GITHUB_TOKEN@api.github.com/repos/grafana/grafana/pulls/$DRONE_PULL_REQUEST" | jq .head.repo.fork)
    - if [ "$is_fork" != false ]; then return 1; fi
  ...

pr-test-backend:
  steps:
  - commands:
    - is_fork=$(curl "https://$GITHUB_TOKEN@api.github.com/repos/grafana/grafana/pulls/$DRONE_PULL_REQUEST" | jq .head.repo.fork)
    - if [ "$is_fork" != false ]; then return 1; fi
  ...

pr-lint-backend:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.17.1
    name: identify-runner
  - commands:
    - go build -o ./bin/build -ldflags '-extldflags -static' ./pkg/build/cmd
    depends_on: []
    environment:
      CGO_ENABLED: 0
    image: golang:1.20.1
    name: compile-build-cmd
  - commands:
  ...

pr-build-e2e:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.17.1
    name: identify-runner
  - commands:
    - mkdir -p bin
    - curl -fL -o bin/grabpl https://grafana-downloads.storage.googleapis.com/grafana-build-pipeline/v3.0.30/grabpl
    - chmod +x bin/grabpl
    image: byrnedo/alpine-curl:0.1.8
  ...

trigger-test-release:
  commands:
  - git clone "https://$${GITHUB_TOKEN}@github.com/grafana/grafana-enterprise.git" --depth=1
  - cd grafana-enterprise
  - git fetch origin "refs/tags/*:refs/tags/*" --quiet
  - if git show-ref --tags $${TEST_TAG} --quiet; then git tag -d $${TEST_TAG} && git push --delete origin $${TEST_TAG}; fi
  ...

end-to-end-tests-cloud-plugins-suite-azure:
  commands:
  - cd /
  - ./cpp-e2e/scripts/ci-run.sh azure ${DRONE_SOURCE_BRANCH}
  depends_on:
  - grafana-server
  environment:
    AZURE_SP_APP_ID:
      from_secret: azure_sp_app_id
    AZURE_SP_PASSWORD:
      from_secret: azure_sp_app_pw
    AZURE_TENANT:
      from_secret: azure_tenant
    CYPRESS_CI: 'true'
  ...

notify-drone-changes:
  steps:
  - image: plugins/slack
    name: slack
    settings:
      channel: slack-webhooks-test
  ...

Add parallel queries behind feature flag
  pkg/promlib/querydata/request.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Fix lint
  pkg/promlib/querydata/request.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Update go.mod
  go.work.sum
  pkg/promlib/go.mod
  pkg/promlib/go.sum
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Update pkg/promlib/querydata/request.go
  pkg/promlib/querydata/request.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

fix lint imports
  pkg/services/authn/clients/ext_jwt.go
  pkg/services/authn/clients/ext_jwt_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Update README.md
  e2e/custom-plugins/app-with-exposed-components/README.md
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

depend on authlib user info
  pkg/storage/unified/resource/hooks.go
  pkg/storage/unified/resource/server.go
  pkg/storage/unified/resource/server_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Fix linter issue
  public/app/features/alerting/unified/api/prometheus.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Auth: Update unified storage to depend on AuthInfo rather than Requester (#91783)
  pkg/storage/unified/resource/hooks.go
  pkg/storage/unified/resource/server.go
  pkg/storage/unified/resource/server_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Update authlib to version that has correct commit to claims
  go.mod
  go.sum
  pkg/apimachinery/go.mod
  pkg/apimachinery/go.sum
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

sync
  pkg/apimachinery/go.sum
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Validate integration settings on create/update
  pkg/services/ngalert/models/receivers.go
  pkg/services/ngalert/models/receivers_test.go
  pkg/services/ngalert/models/testing.go
  pkg/services/ngalert/notifier/legacy_storage/errors.go
  pkg/services/ngalert/notifier/legacy_storage/receivers.go
  pkg/services/ngalert/notifier/receiver_svc.go
  pkg/services/ngalert/notifier/receiver_svc_test.go
  pkg/services/ngalert/provisioning/contactpoints.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

still working
  .betterer.results
  .github/CODEOWNERS
  package.json
  pkg/api/dtos/index.go
  pkg/api/http_server.go
  public/swagger/K8sNameLookup.tsx
  public/swagger/SwaggerPage.tsx
  public/swagger/context.tsx
  public/swagger/index.tsx
  public/swagger/wrapped.tsx
  scripts/webpack/webpack.common.js
  yarn.lock
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Identity: Update authlib to version that has correct commit to claims (#91784)
  go.mod
  go.sum
  pkg/apimachinery/go.mod
  pkg/apimachinery/go.sum
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

fix setup
  pkg/tests/testinfra/testinfra.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Tidy up and simplify
  public/app/plugins/datasource/tempo/SearchTraceQLEditor/SearchField.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

add more
  pkg/api/api.go
  pkg/api/swagger.go
  pkg/api/webassets/testdata/sample-assets-manifest.json
  pkg/api/webassets/webassets.go
  pkg/api/webassets/webassets_test.go
  pkg/tests/testinfra/testinfra.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Leverage UidToName to GetReceiver instead of GetReceivers
  pkg/registry/apis/alerting/notifications/receiver/legacy_storage.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Remove kubernetesPlaylists feature_toggle
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/api/playlist.go
  pkg/services/apiserver/README.md
  pkg/services/apiserver/config.go
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.go
  pkg/services/featuremgmt/toggles_gen.json
  pkg/services/store/entity/README.md
  pkg/setting/setting.go
  pkg/tests/apis/playlist/playlist_test.go
  public/app/features/playlist/api.ts
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Remove double import
  pkg/api/playlist.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Remove unified_storage_mode
  pkg/services/apiserver/config.go
  pkg/tests/testinfra/testinfra.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Read from config instead from feature_toggle
  packages/grafana-runtime/src/config.ts
  pkg/services/store/entity/README.md
  public/app/features/playlist/api.ts
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Regenerate feature-toggles
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
Due: pr-docs, main-docs

cover scenario for when unified storage is not defined
  public/app/features/playlist/api.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

clean up
  public/app/features/admin/state/actions.ts
  public/app/features/admin/state/reducers.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

update routes
  public/app/routes/routes.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Remove some unnecessary uses of simplejson
  pkg/services/ngalert/api/compat.go
  pkg/services/ngalert/models/receivers.go
  pkg/services/ngalert/notifier/legacy_storage/compat.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

update definitions
  public/app/types/ldap.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

alerting.notifications.receiver -> alerting.notifications.receivers
  pkg/services/ngalert/notifier/legacy_storage/errors.go
  pkg/services/ngalert/notifier/receiver_svc.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

wip
  public/app/features/admin/ldap/LdapDrawer.tsx
  public/app/features/admin/ldap/LdapSettingsPage.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

validator -> provenanceValidator
  pkg/services/ngalert/notifier/receiver_svc.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

fix
  pkg/api/http_server.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Only validate the modified receiver
  pkg/services/ngalert/notifier/legacy_storage/receivers.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

address feedback
  public/app/features/auth-config/fields.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Adhoc Filters: add new feature toggle for 'one of' operator (#91688)
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.go
  pkg/services/featuremgmt/toggles_gen.json
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, pr-docs, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Docs: Add docs for bulk updating team members (#91499)
  docs/sources/developers/http_api/team.md
Due: pr-docs, main-docs

RBCA: Better separation between action set svc and store (#91491)
  pkg/services/accesscontrol/resourcepermissions/service.go
  pkg/services/accesscontrol/resourcepermissions/service_test.go
  pkg/services/accesscontrol/resourcepermissions/store.go
  pkg/services/accesscontrol/resourcepermissions/store_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Path conditions:
  pr-verify-drone: any of: scripts/drone/**, .drone.yml, .drone.star, but not: docs/**, *.md
  pr-verify-starlark: any of: scripts/drone/**, .drone.star, but not: docs/**, *.md
  pr-test-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-lint-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-test-backend: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, but not: docs/**, *.md
  pr-lint-backend: any of: pkg/**, packaging/**, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, .bingo/**, but not: docs/**, *.md
  pr-build-e2e: any file but: *.md, docs/**, latest.json
  trigger-test-release: any of: .drone.yml, pkg/build/**
  end-to-end-tests-cloud-plugins-suite-azure: any of: pkg/tsdb/azuremonitor/**, public/app/plugins/datasource/azuremonitor/**, e2e/cloud-plugins-suite/azure-monitor.spec.ts
  build-storybook: any of: packages/grafana-ui/**
  pr-integration-tests: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, but not: docs/**, *.md
  pr-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  pr-shellcheck: any of: scripts/**/*.sh, but not: *.md, docs/**, latest.json
  main-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  main-test-frontend: any file but: *.md, docs/**, latest.json
  main-lint-frontend: any file but: *.md, docs/**, latest.json
  main-test-backend: any file but: *.md, docs/**, latest.json
  main-lint-backend: any file but: *.md, docs/**, latest.json
  main-build-e2e-publish: any file but: *.md, docs/**, latest.json
  store-storybook: any of: packages/grafana-ui/**
  main-integration-tests: any file but: *.md, docs/**, latest.json
  main-windows: any file but: *.md, docs/**, latest.json
  notify-drone-changes: any of: .drone.yml, but not: exclude
  main-trigger-downstream: any file but: *.md, docs/**, latest.json
  main-notify: any file but: *.md, docs/**, latest.json
