Repository grafana/grafana: changes, and which Drone steps are due for each by the changed paths.
All: pr-verify-drone, pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, pr-docs, main-docs, main-test-frontend, main-test-backend, main-build-e2e-publish, trigger-test-release, main-integration-tests, main-windows, notify-drone-changes, main-publish, main-notify

Path conditions:
  pr-verify-drone: any of: scripts/drone/**, .drone.yml, .drone.star, but not: docs/**, *.md
  pr-test-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-test-backend: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, but not: docs/**, *.md
  pr-build-e2e: any file but: *.md, docs/**, latest.json
  pr-integration-tests: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, but not: docs/**, *.md
  pr-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  main-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  main-test-frontend: any file but: *.md, docs/**, latest.json
  main-test-backend: any file but: *.md, docs/**, latest.json
  main-build-e2e-publish: any file but: *.md, docs/**, latest.json
  trigger-test-release: any of: .drone.yml, pkg/build/**
  main-integration-tests: any file but: *.md, docs/**, latest.json
  main-windows: any file but: *.md, docs/**, latest.json
  notify-drone-changes: any of: .drone.yml, but not: exclude
  main-publish: any file but: *.md, docs/**, latest.json
  main-notify: any file but: *.md, docs/**, latest.json

[v9.1.x] Docs: Renderer token (#61680)
  docs/sources/setup-grafana/configure-grafana/_index.md
  docs/sources/setup-grafana/image-rendering/_index.md
Due: pr-docs, main-docs

Refactor titleItem to construct anchors if needed
  packages/grafana-ui/src/components/PanelChrome/TitleItem.tsx
  public/app/features/dashboard/dashgrid/PanelLinks.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Loki Query Builder: Fix bug parsing range params (#61678)
  public/app/plugins/datasource/loki/querybuilder/parsing.test.ts
  public/app/plugins/datasource/loki/querybuilder/parsing.ts
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

When there is no frame add empty frame to get metadata attached to it
  pkg/tsdb/prometheus/querydata/response.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Update index.md to not escape dollar sign
  docs/sources/datasources/prometheus/template-variables/index.md
Due: pr-docs, main-docs

Chore: Remove mockstore and use dbtest instead (#61629)
  pkg/api/admin_test.go
  pkg/api/admin_users_test.go
  pkg/api/annotations_test.go
  pkg/api/common_test.go
  pkg/api/dashboard_permission_test.go
  pkg/api/dashboard_snapshot_test.go
  pkg/api/dashboard_test.go
  pkg/api/datasources_test.go
  pkg/api/folder_permission_test.go
  pkg/api/folder_test.go
  pkg/api/health_test.go
  pkg/api/ldap_debug_test.go
  pkg/api/org_users_test.go
  pkg/api/team_members_test.go
  pkg/api/team_test.go
  pkg/api/user_test.go
  pkg/infra/usagestats/service/api_test.go
  pkg/infra/usagestats/statscollector/prometheus_flavor_test.go
  pkg/infra/usagestats/statscollector/service_test.go
  pkg/server/wire.go
  pkg/services/alerting/conditions/query_interval_test.go
  pkg/services/alerting/conditions/query_test.go
  pkg/services/alerting/extractor_test.go
  pkg/services/sqlstore/mockstore/mockstore.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Auth: Fix disable/remove duplicate user entries metrics for performance reasons (#61675)
  pkg/services/login/authinfoservice/database/database.go
  pkg/services/login/authinfoservice/database/stats.go
  pkg/services/login/authinfoservice/service.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Chore: eslint rule for preventing e2e selectors in aria-label (#59731)
  .betterer.results
  .betterer.ts
  .eslintrc
  package.json
  packages/grafana-eslint-rules/LICENSE_APACHE2
  packages/grafana-eslint-rules/README.md
  packages/grafana-eslint-rules/index.cjs
  packages/grafana-eslint-rules/package.json
  packages/grafana-eslint-rules/rules/no-aria-label-e2e-selectors.cjs
  scripts/check-breaking-changes.sh
  yarn.lock
Due: pr-test-frontend, pr-build-e2e, pr-docs, main-docs, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

add some tests
  packages/grafana-ui/src/components/PanelChrome/PanelChrome.test.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

RBAC: Add permission to get usage report preview (#61570)
  pkg/infra/usagestats/service/accesscontrol.go
  pkg/infra/usagestats/service/api.go
  pkg/infra/usagestats/service/service.go
  pkg/infra/usagestats/service/usage_stats_test.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

replace backtick character in test
  public/app/plugins/datasource/cloudwatch/language/cloudwatch-logs/CloudWatchLogsLanguageProvider.test.ts
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Update a test & add a new test
  public/app/plugins/datasource/tempo/traceql/autocomplete.test.ts
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Dashboards: Promote dashboard kind to experimental maturity
  docs/sources/developers/kinds/core/dashboard/schema-reference.md
  kinds/dashboard/dashboard_kind.cue
  pkg/kindsys/report.json
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, pr-docs, main-docs, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

reuse Gabriel's concurrent setup code
  pkg/services/accesscontrol/acimpl/service_bench_test.go
  pkg/services/accesscontrol/actest/common.go
  pkg/services/searchV2/service_bench_test.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

fix error-related tests
  packages/grafana-ui/src/components/PanelChrome/PanelChrome.test.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Alerting: support basic auth to the state history loki client
  pkg/services/ngalert/ngalert.go
  pkg/services/ngalert/state/historian/loki.go
  pkg/services/ngalert/state/historian/loki_http.go
  pkg/services/ngalert/state/historian/loki_http_test.go
  pkg/setting/setting_unified_alerting.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Allow panels to drag and drop
  packages/grafana-ui/src/components/PanelChrome/PanelChrome.tsx
  public/app/features/dashboard/dashgrid/PanelStateWrapper.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

clean up
  packages/grafana-ui/src/components/Tooltip/Tooltip.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Add veneer to mudball
  kinds/dashboard/dashboard_kind.cue
  packages/grafana-schema/src/index.gen.ts
  packages/grafana-schema/src/index.ts
  packages/grafana-schema/src/schema/mudball.cue
  packages/grafana-schema/src/schema/mudball.gen.ts
  packages/grafana-schema/src/veneer/dashboard.types.ts
  packages/grafana-schema/src/veneer/mudball.types.ts
  public/app/plugins/panel/geomap/types.ts
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Fix type import
  public/app/plugins/panel/geomap/types.ts
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

fix go-lint
  pkg/services/ngalert/state/historian/loki_http_test.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Add individual auto_login option for each OAuth provider
  pkg/api/login.go
  pkg/login/social/social.go
  pkg/setting/setting.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

PublicDashboards: add timeSettingsEnabled on saving a public dashboard
  pkg/services/publicdashboards/service/service.go
  pkg/services/publicdashboards/service/service_test.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Prometheus: Reduce allocations parsing exemplars (#58959)
  pkg/tsdb/prometheus/querydata/framing_bench_test.go
  pkg/util/converter/prom.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

pair programming and bug squashing 💪
  public/app/features/alerting/unified/components/notification-policies/Policy.tsx
  public/app/features/alerting/unified/utils/amroutes.ts
  public/app/features/alerting/unified/utils/notification-policies.ts
  public/app/features/alerting/unified/utils/routeTree.ts
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Update order
  packages/grafana-schema/src/veneer/dashboard.types.ts
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

implement role middleware drop
  pkg/services/supportbundles/supportbundlesimpl/api.go
  pkg/services/supportbundles/supportbundlesimpl/service.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

wip
  pkg/services/supportbundles/supportbundlesimpl/service.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Chore: Drop dashboard service dependency from folder service (#61614)
  pkg/services/folder/folderimpl/folder.go
  pkg/services/folder/folderimpl/folder_test.go
  pkg/services/libraryelements/libraryelements_test.go
  pkg/services/librarypanels/librarypanels_test.go
  pkg/services/ngalert/tests/util.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Chore: Fix Swagger and OpenAPI specifications (#61669)
  pkg/api/org_users.go
  public/api-merged.json
  public/api-spec.json
  public/openapi3.json
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

kindsys: Rename mudball to common schemas
  Makefile
  embed.go
  kinds/gen.go
  packages/grafana-schema/src/common/common.gen.ts
  packages/grafana-schema/src/common/mudball.cue
  packages/grafana-schema/src/common/table.cue
  packages/grafana-schema/src/common/time.cue
  packages/grafana-schema/src/index.ts
  packages/grafana-schema/tsconfig.build.json
  packages/grafana-schema/tsconfig.json
  pkg/framework/coremodel/gen.go
  pkg/kindsys/report.json
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Add 'move' cursor to the header container
  packages/grafana-ui/src/components/PanelChrome/PanelChrome.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

use a dropdown buttongroup for actions
  public/app/features/alerting/unified/components/notification-policies/Policy.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Update all core plugin imports
  pkg/plugins/codegen/util_ts.go
  pkg/plugins/pfs/pfs.go
  public/app/plugins/panel/barchart/models.cue
  public/app/plugins/panel/bargauge/models.cue
  public/app/plugins/panel/gauge/models.cue
  public/app/plugins/panel/histogram/models.cue
  public/app/plugins/panel/piechart/models.cue
  public/app/plugins/panel/stat/models.cue
  public/app/plugins/panel/state-timeline/models.cue
  public/app/plugins/panel/status-history/models.cue
  public/app/plugins/panel/table/models.cue
  public/app/plugins/panel/timeseries/models.cue
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

refactor get links method
  public/app/features/canvas/elements/metricValue.tsx
  public/app/features/canvas/elements/text.tsx
  public/app/plugins/panel/canvas/utils.ts
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

use tenant id as x-scope-orgid header
  pkg/services/ngalert/ngalert.go
  pkg/services/ngalert/state/historian/loki_http.go
  pkg/services/ngalert/state/historian/loki_http_test.go
  pkg/setting/setting_unified_alerting.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Fix tests
  pkg/tests/api/prometheus/prometheus_test.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify
