Repository grafana/grafana: changes, and which Drone steps are due for each by the changed paths.
All: pr-verify-drone, pr-verify-starlark, pr-verify-storybook, pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, end-to-end-tests-cloud-plugins-suite-azure, build-storybook, pr-integration-tests, pr-docs, pr-shellcheck, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Path conditions:
  pr-verify-drone: any of: scripts/drone/**, .drone.yml, .drone.star, but not: docs/**, *.md
  pr-verify-starlark: any of: scripts/drone/**, .drone.star, but not: docs/**, *.md
  pr-verify-storybook: any of: packages/grafana-ui/**, but not: docs/**, *.md
  pr-test-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-lint-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-test-backend: any of: Makefile, pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, docs/sources/setup-grafana/configure-grafana/feature-toggles/**, devenv/**, but not: docs/**, *.md
  pr-lint-backend: any of: .golangci.toml, Makefile, pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, .bingo/**, but not: docs/**, *.md
  pr-build-e2e: any file but: *.md, docs/**, latest.json
  end-to-end-tests-cloud-plugins-suite-azure: any of: pkg/tsdb/azuremonitor/**, public/app/plugins/datasource/azuremonitor/**, e2e/cloud-plugins-suite/azure-monitor.spec.ts
  build-storybook: any of: packages/grafana-ui/**
  pr-integration-tests: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, but not: docs/**, *.md
  pr-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  pr-shellcheck: any of: scripts/**/*.sh, but not: *.md, docs/**, latest.json
  main-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  main-test-frontend: any file but: *.md, docs/**, latest.json
  main-lint-frontend: any file but: *.md, docs/**, latest.json
  main-test-backend: any file but: *.md, docs/**, latest.json
  main-lint-backend: any file but: *.md, docs/**, latest.json
  main-verify-storybook: any file but: *.md, docs/**, latest.json
  main-build-e2e-publish: any file but: *.md, docs/**, latest.json
  store-storybook: any of: packages/grafana-ui/**
  release-canary-npm-packages: any of: packages/**
  main-integration-tests: any file but: *.md, docs/**, latest.json
  main-trigger-downstream: any file but: *.md, docs/**, latest.json
  main-notify: any file but: *.md, docs/**, latest.json
  rgm-main-prerelease: any file but: *.md, docs/**, packages/**/*.md, latest.json

implement clone layout for responsive grid
  public/app/features/dashboard-scene/scene/layout-responsive-grid/ResponsiveGridLayoutManager.tsx
  public/app/features/dashboard-scene/scene/layout-rows/RowsLayoutManager.tsx
  public/app/features/dashboard-scene/scene/layout-tabs/TabsLayoutManager.tsx
  public/app/features/dashboard-scene/scene/types/DashboardLayoutManager.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Update Swagger
  pkg/services/ngalert/api/tooling/api.json
  pkg/services/ngalert/api/tooling/definitions/convert_prometheus_api.go
  pkg/services/ngalert/api/tooling/post.json
  pkg/services/ngalert/api/tooling/spec.json
  public/api-merged.json
  public/openapi3.json
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Provisioning: Test the GitHub client directly (#100808)
  go.mod
  go.sum
  go.work.sum
  pkg/registry/apis/provisioning/register.go
  pkg/registry/apis/provisioning/repository/github.go
  pkg/registry/apis/provisioning/repository/github/client.go
  pkg/registry/apis/provisioning/repository/github/client_mock.go
  pkg/registry/apis/provisioning/repository/github/factory.go
  pkg/registry/apis/provisioning/repository/github/impl.go
  pkg/server/test_env.go
  pkg/server/wire.go
  pkg/tests/apis/provisioning/provisioning_test.go
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Add deprecation notice
  packages/grafana-ui/src/components/DataSourceSettings/DataSourceHttpSettings.tsx
Due: pr-verify-storybook, pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Authz: Sync authlib and update authz client setup code (#100817)
  go.mod
  go.sum
  pkg/apimachinery/go.mod
  pkg/apimachinery/go.sum
  pkg/services/authz/rbac.go
  pkg/services/authz/rbac/service.go
  pkg/services/authz/token_auth.go
  pkg/services/authz/zanzana.go
  pkg/storage/unified/apistore/go.mod
  pkg/storage/unified/apistore/go.sum
  pkg/storage/unified/resource/go.mod
  pkg/storage/unified/resource/go.sum
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Add tests
  public/app/features/dashboard-scene/scene/layout-default/DefaultGridLayoutManager.test.tsx
  public/app/features/dashboard-scene/scene/layout-responsive-grid/ResponsiveGridLayoutManager.test.ts
  public/app/features/dashboard-scene/scene/layout-responsive-grid/ResponsiveGridLayoutManager.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

CI: Track backend code coverage
  .github/workflows/backend-coverage.yml
  .gitignore
  Makefile
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

search wrapper
  pkg/registry/apis/dashboard/search.go
  pkg/registry/apis/dashboard/search_test.go
  pkg/registry/apis/dashboard/v0alpha1/register.go
  pkg/services/apiserver/client/client.go
  pkg/services/dashboards/service/dashboard_service.go
  pkg/services/dashboards/service/dashboard_service_integration_test.go
  pkg/services/dashboardsnapshots/service/service_test.go
  pkg/services/dashboardversion/dashverimpl/dashver.go
  pkg/services/folder/folderimpl/folder.go
  pkg/services/folder/folderimpl/folder_test.go
  pkg/services/folder/folderimpl/folder_unifiedstorage_test.go
  pkg/services/libraryelements/libraryelements_test.go
  pkg/services/librarypanels/librarypanels_test.go
  pkg/services/ngalert/api/api_provisioning_test.go
  pkg/services/ngalert/provisioning/alert_rules_test.go
  pkg/services/ngalert/testutil/testutil.go
  pkg/services/provisioning/dashboards/file_reader_test.go
  pkg/services/provisioning/dashboards/validator_test.go
  pkg/services/publicdashboards/api/query_test.go
  pkg/services/publicdashboards/service/service_test.go
  pkg/setting/setting.go
  pkg/storage/legacysql/dualwrite/mock.go
  pkg/storage/unified/resource/go.mod
  pkg/storage/unified/resource/search_client.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

CI: Allow tests to fail
  .github/workflows/backend-coverage.yml
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Codeowners: Assign ownership of coverage tracking
  .github/CODEOWNERS
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Fix lint
  public/app/features/dashboard-scene/scene/layout-responsive-grid/ResponsiveGridLayoutManager.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Provisioning: Better clone/push error support (#100854)
  pkg/registry/apis/provisioning/jobs/export/worker.go
  pkg/registry/apis/provisioning/jobs/progress.go
  pkg/registry/apis/provisioning/repository/go-git/wrapper.go
  pkg/registry/apis/provisioning/repository/go-git/wrapper_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Chore: Update alpine docker image (minor) - 3.20.5 to 3.20.6 [security] (#100791)
  .drone.yml
  scripts/drone/utils/images.star
Due: pr-verify-drone, pr-verify-starlark, pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Add a test for fallback search
  public/app/features/alerting/unified/hooks/useFilteredRules.test.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

CI: Join coverage info in the job
  .github/workflows/backend-coverage.yml
  Makefile
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

CI: Attempt to parallellise tests
  .github/workflows/backend-coverage.yml
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

CI: Upload despite failures
  .github/workflows/backend-coverage.yml
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Keeper: fix Update sometimes failing because of missing condition clause on name+namespace
  pkg/storage/secret/metadata/keeper_store.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

[release-11.5.2] Chore: Update alpine docker image (minor) - 3.20.5 to 3.20.6 [security] (#100827)
  .drone.yml
  scripts/drone/utils/images.star
Due: pr-verify-drone, pr-verify-starlark, pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

[release-11.4.2] Chore: Update alpine docker image (minor) - 3.20.5 to 3.20.6 [security] (#100828)
  .drone.yml
  scripts/drone/utils/images.star
Due: pr-verify-drone, pr-verify-starlark, pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

[release-11.3.4] Chore: Update alpine docker image (minor) - 3.20.5 to 3.20.6 [security] (#100829)
  .drone.yml
  scripts/drone/utils/images.star
Due: pr-verify-drone, pr-verify-starlark, pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

[release-11.2.7] Chore: Update alpine docker image (minor) - 3.20.5 to 3.20.6 [security] (#100831)
  .drone.yml
  scripts/drone/utils/images.star
Due: pr-verify-drone, pr-verify-starlark, pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

[release-11.1.12] Chore: Update alpine docker image (minor) - 3.20.5 to 3.20.6 [security] (#100832)
  .drone.yml
  scripts/drone/utils/images.star
Due: pr-verify-drone, pr-verify-starlark, pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

[release-10.4.16] Chore: Update alpine docker image (minor) - 3.20.5 to 3.20.6 [security] (#100833)
  .drone.yml
  scripts/drone/utils/images.star
Due: pr-verify-drone, pr-verify-starlark, pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

[release-10.4.16] Bump github.com/golang-jwt/jwt/v4 from 4.5.0 to 4.5.1
  go.mod
  go.sum
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

CI: Pattern is not regex
  .github/workflows/backend-coverage.yml
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

feat(plugin-configs): replace webpack with rspack
  packages/grafana-plugin-configs/package.json
  packages/grafana-plugin-configs/rspack.config.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

feat(mssql-datasource): move to use rspack
  public/app/plugins/datasource/mysql/package.json
  public/app/plugins/datasource/mysql/rspack.config.ts
  yarn.lock
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

feat(postgresql): migrate to rspack
  public/app/plugins/datasource/grafana-postgresql-datasource/package.json
  public/app/plugins/datasource/grafana-postgresql-datasource/rspack.config.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

feat(pyroscope): migrate to rspack
  public/app/plugins/datasource/grafana-pyroscope-datasource/package.json
  public/app/plugins/datasource/grafana-pyroscope-datasource/rspack.config.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

feat(cloud-monitoring): migrate to rspack
  public/app/plugins/datasource/cloud-monitoring/package.json
  public/app/plugins/datasource/cloud-monitoring/rspack.config.ts
  public/app/plugins/datasource/cloud-monitoring/webpack.config.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

feat(plugin-configs): put back commit hash to versioning
  packages/grafana-plugin-configs/package.json
  packages/grafana-plugin-configs/rspack.config.ts
  yarn.lock
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

feat(azuremonitor): migrate to rspack
  public/app/plugins/datasource/azuremonitor/package.json
  public/app/plugins/datasource/azuremonitor/rspack.config.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, end-to-end-tests-cloud-plugins-suite-azure, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

feat(testdata): migrate to rspack
  public/app/plugins/datasource/grafana-testdata-datasource/package.json
  public/app/plugins/datasource/grafana-testdata-datasource/rspack.config.ts
  public/app/plugins/datasource/grafana-testdata-datasource/webpack.config.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

feat(mssql): migrate to rspack
  public/app/plugins/datasource/mssql/package.json
  public/app/plugins/datasource/mssql/rspack.config.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

feat(parca): migrate to rspack
  public/app/plugins/datasource/parca/package.json
  public/app/plugins/datasource/parca/rspack.config.ts
  public/app/plugins/datasource/parca/webpack.config.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

feat(jaeger): migrate to rspack
  public/app/plugins/datasource/jaeger/package.json
  public/app/plugins/datasource/jaeger/rspack.config.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

feat(zipkin): migrate to rspack
  public/app/plugins/datasource/zipkin/package.json
  public/app/plugins/datasource/zipkin/rspack.config.ts
  public/app/plugins/datasource/zipkin/webpack.config.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

chore(mysql): remove redundant rspack dep
  public/app/plugins/datasource/mysql/package.json
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

build(plugin-configs): add imports-loader to dependencies and require.resolve it
  packages/grafana-plugin-configs/package.json
  packages/grafana-plugin-configs/rspack.config.ts
  yarn.lock
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease
