Repository grafana/grafana: changes, and which Drone steps are due for each by the changed paths.
All: pr-verify-drone, pr-verify-starlark, pr-verify-storybook, pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, end-to-end-tests-cloud-plugins-suite-azure, build-storybook, pr-integration-tests, pr-docs, pr-shellcheck, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

pr-verify-drone:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.20.3
    name: identify-runner
  - commands:
    - go build -o ./bin/build -ldflags '-extldflags -static' ./pkg/build/cmd
    depends_on: []
    environment:
      CGO_ENABLED: 0
    image: golang:1.23.1-alpine
    name: compile-build-cmd
  - commands:
  ...

pr-verify-starlark:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.20.3
    name: identify-runner
  - commands:
    - go install github.com/bazelbuild/buildtools/buildifier@latest
    - buildifier --lint=warn -mode=check -r .
    depends_on: []
    image: golang:1.23.1-alpine
    name: lint-starlark

pr-verify-storybook:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.20.3
    name: identify-runner
  - commands:
    - yarn install --immutable || yarn install --immutable
    depends_on: []
    image: node:20.9.0-alpine
    name: yarn-install
  - commands:
    - yarn storybook --quiet
    depends_on:
    - yarn-install
  ...

pr-test-frontend:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.20.3
    name: identify-runner
  - commands:
    - yarn install --immutable || yarn install --immutable
    depends_on: []
    image: node:20.9.0-alpine
    name: yarn-install
  - commands:
    - apk add --update git bash
    - yarn betterer ci
  ...

pr-lint-frontend:
  steps:
  - commands:
    - echo $(/usr/bin/github-app-external-token) > /github-app/token
    environment:
      GITHUB_APP_ID:
        from_secret: github-app-app-id
      GITHUB_APP_INSTALLATION_ID:
        from_secret: github-app-installation-id
      GITHUB_APP_PRIVATE_KEY:
  ...

pr-test-backend:
  steps:
  - commands:
    - echo $(/usr/bin/github-app-external-token) > /github-app/token
    environment:
      GITHUB_APP_ID:
        from_secret: github-app-app-id
      GITHUB_APP_INSTALLATION_ID:
        from_secret: github-app-installation-id
      GITHUB_APP_PRIVATE_KEY:
  ...

pr-lint-backend:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.20.3
    name: identify-runner
  - commands:
    - go build -o ./bin/build -ldflags '-extldflags -static' ./pkg/build/cmd
    depends_on: []
    environment:
      CGO_ENABLED: 0
    image: golang:1.23.1-alpine
    name: compile-build-cmd
  - commands:
  ...

pr-build-e2e:
  steps:
  - commands:
    - echo $(/usr/bin/github-app-external-token) > /github-app/token
    environment:
      GITHUB_APP_ID:
        from_secret: github-app-app-id
      GITHUB_APP_INSTALLATION_ID:
        from_secret: github-app-installation-id
      GITHUB_APP_PRIVATE_KEY:
  ...

end-to-end-tests-cloud-plugins-suite-azure:
  commands:
  - GITHUB_TOKEN=$(cat /github-app/token)
  - cd /
  - ./cpp-e2e/scripts/ci-run.sh azure ${DRONE_SOURCE_BRANCH}
  depends_on:
  - grafana-server
  - github-app-generate-token
  environment:
    AZURE_SP_APP_ID:
      from_secret: azure_sp_app_id
    AZURE_SP_PASSWORD:
      from_secret: azure_sp_app_pw
  ...

Update endpoints
  public/app/features/apiserver/types.ts
  public/app/features/provisioning/RepositoryListPage.tsx
  public/app/features/provisioning/api/endpoints.ts
  public/app/features/provisioning/api/index.ts
  public/app/features/provisioning/hooks.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

fix(table-ng): multi sorting
  packages/grafana-ui/src/components/Table/TableNG/TableNG.tsx
Due: pr-verify-storybook, pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

typescript fixes
  packages/grafana-data/src/transformations/transformers/nulls/nullInsertThreshold.ts
  packages/grafana-ui/src/components/ButtonCascader/ButtonCascader.tsx
  packages/grafana-ui/src/components/Forms/Legacy/Select/IndicatorsContainer.tsx
  packages/grafana-ui/src/components/Forms/Legacy/Select/Select.tsx
  packages/grafana-ui/src/components/Layout/Stack/Stack.tsx
  packages/grafana-ui/src/components/ThemeDemos/EmotionPerfTest.tsx
  packages/grafana-ui/src/graveyard/GraphNG/nullInsertThreshold.ts
  public/app/features/admin/AdminFeatureTogglesPage.tsx
  public/app/features/alerting/unified/components/contact-points/ContactPoints.tsx
  public/app/features/alerting/unified/rule-list/components/RuleGroup.tsx
  public/app/features/browse-dashboards/components/BrowseActions/DescendantCount.tsx
  public/app/features/explore/ExploreActions.tsx
  public/app/features/geo/format/geojson.ts
  public/app/plugins/datasource/cloudwatch/utils/datalinks.test.ts
  public/app/plugins/panel/canvas/migrations.test.ts
  public/app/plugins/panel/graph/Legend/Legend.tsx
Due: pr-verify-storybook, pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Plugins: Disable SRI checks for filesystem plugins
  pkg/services/pluginsintegration/pluginassets/pluginassets.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Update tests
  pkg/services/pluginsintegration/pluginassets/pluginassets_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

don't need this change
  packages/grafana-ui/src/components/Layout/Stack/Stack.tsx
Due: pr-verify-storybook, pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

update webhook test
  pkg/apis/provisioning/v0alpha1/jobs.go
  pkg/registry/apis/provisioning/jobs/queue.go
  pkg/registry/apis/provisioning/jobs/worker.go
  pkg/registry/apis/provisioning/repository/github/testdata/webhook-push-ignored.json
  pkg/registry/apis/provisioning/repository/github_test.go
  pkg/tests/apis/provisioning/provisioning_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

set default code editor font to roboto mono
  packages/grafana-ui/src/components/Monaco/ReactMonacoEditor.tsx
Due: pr-verify-storybook, pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

opimize
  public/app/features/dashboard-scene/scene/LibraryPanelBehavior.tsx
  public/app/features/dashboard-scene/serialization/transformSaveModelToScene.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

format
  public/app/features/dashboard-scene/scene/LibraryPanelBehavior.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

AuthZ service: Add single flight groups for permission fetching (#98607)
  pkg/services/authz/rbac/service.go
  pkg/services/authz/rbac/service_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Stats: remove dependency on dashboards and folders (#98653)
  pkg/infra/usagestats/statscollector/concurrent_users_test.go
  pkg/services/stats/statsimpl/stats.go
  pkg/services/stats/statsimpl/stats_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

K8s: Dashboards: Add deletion validation for provisioned dashboards (#98504)
  pkg/registry/apis/dashboard/register.go
  pkg/registry/apis/dashboard/register_test.go
  pkg/registry/apis/dashboard/v0alpha1/register.go
  pkg/registry/apis/dashboard/v1alpha1/register.go
  pkg/registry/apis/dashboard/v2alpha1/register.go
  pkg/services/dashboards/service/dashboard_service.go
  pkg/services/dashboards/service/dashboard_service_test.go
  pkg/tests/apis/dashboard/dashboards_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

update docs to direct to our terraform provider for provisioning
  docs/sources/administration/data-source-management/teamlbac/_index.md
Due: pr-docs, main-docs

Use replace mutation for config update
  pkg/tests/apis/provisioning/testdata/openapi.json
  public/app/features/provisioning/ConfigForm.tsx
  public/app/features/provisioning/hooks.ts
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Filter out patch endpoints form the client
  public/app/features/provisioning/api/endpoints.ts
  scripts/generate-rtk-apis.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Rename put- endpoints to replace-
  pkg/services/apiserver/builder/helper.go
  public/app/features/provisioning/api/endpoints.ts
  scripts/parse-generated-api.ts
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Prometheus: Move LabelFilterItem to Combobox
  packages/grafana-prometheus/src/querybuilder/components/LabelFilterItemCombobox.tsx
  packages/grafana-prometheus/src/querybuilder/components/LabelFilters.tsx
  packages/grafana-prometheus/src/querybuilder/components/MetricsLabelsSection.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

fix test
  pkg/storage/unified/resource/document_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

removed kind
  pkg/storage/unified/search/testdata/doc/dashboard-aaa-out.json
  pkg/storage/unified/search/testdata/doc/folder-aaa-out.json
  pkg/storage/unified/search/testdata/doc/folder-bbb-out.json
  pkg/storage/unified/search/testdata/doc/playlist-aaa-out.json
  pkg/storage/unified/search/testdata/doc/report-aaa-out.json
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

test: align test with reality: we always want to push sync jobs on push
  pkg/registry/apis/provisioning/repository/github/testdata/webhook-push-nothing_relevant.json
  pkg/registry/apis/provisioning/repository/github_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

remove refresh
  e2e/plugin-e2e/prometheus/prometheus.spec.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Update imports
  public/app/features/provisioning/hooks.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

chore: remove unnecessary log msg
  pkg/registry/apis/provisioning/repository/local.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

chore: less keystrokes
  pkg/registry/apis/provisioning/export.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

POC/Provisioning: Pass contextual logger (#98248)
  pkg/registry/apis/provisioning/auth/identity.go
  pkg/registry/apis/provisioning/export.go
  pkg/registry/apis/provisioning/files.go
  pkg/registry/apis/provisioning/history.go
  pkg/registry/apis/provisioning/jobs/pullrequest.go
  pkg/registry/apis/provisioning/jobs/queue.go
  pkg/registry/apis/provisioning/jobs/worker.go
  pkg/registry/apis/provisioning/register.go
  pkg/registry/apis/provisioning/repository/github.go
  pkg/registry/apis/provisioning/repository/github_test.go
  pkg/registry/apis/provisioning/repository/local.go
  pkg/registry/apis/provisioning/repository/local_test.go
  pkg/registry/apis/provisioning/repository/repository.go
  pkg/registry/apis/provisioning/repository/s3.go
  pkg/registry/apis/provisioning/repository/unknown.go
  pkg/registry/apis/provisioning/repository_controller.go
  pkg/registry/apis/provisioning/resources/fileformat.go
  pkg/registry/apis/provisioning/resources/fileformat_test.go
  pkg/registry/apis/provisioning/resources/parser.go
  pkg/registry/apis/provisioning/resources/replicator.go
  pkg/registry/apis/provisioning/sync.go
  pkg/registry/apis/provisioning/test.go
  pkg/registry/apis/provisioning/webhook.go
  pkg/slogctx/slogctx.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

E2E: Adding selectors to improve interactions with panel edit options (#97802)
  packages/grafana-e2e-selectors/src/selectors/components.ts
  packages/grafana-ui/src/components/Portal/Portal.tsx
Due: pr-verify-storybook, pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

test: align test with reality: we always want to push sync jobs on push (#98676)
  pkg/registry/apis/provisioning/repository/github/testdata/webhook-push-nothing_relevant.json
  pkg/registry/apis/provisioning/repository/github_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

make sure all filters work together
  pkg/registry/apis/dashboard/search.go
  public/app/features/search/service/unified.ts
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Alerting: Add tests for combination of switch modes in the alert rule form (#98052)
  public/app/features/alerting/unified/RuleEditorGrafanaRecordingRules.test.tsx
  public/app/features/alerting/unified/RuleEditorGrafanaRules.test.tsx
  public/app/features/alerting/unified/RuleEditorRecordingRule.test.tsx
  public/app/features/alerting/unified/__snapshots__/RuleEditorGrafanaRecordingRules.test.tsx.snap
  public/app/features/alerting/unified/__snapshots__/RuleEditorGrafanaRules.test.tsx.snap
  public/app/features/alerting/unified/components/rule-editor/alert-rule-form/simplifiedRouting/SimplifiedRuleEditor.test.tsx
  public/app/features/alerting/unified/components/rule-editor/alert-rule-form/simplifiedRouting/__snapshots__/SimplifiedRuleEditor.test.tsx.snap
  public/test/helpers/alertingRuleEditor.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

POC/Provisioning: Test happy-path syncing with GitHub (#98663)
  pkg/registry/apis/provisioning/jobs/queue.go
  pkg/registry/apis/provisioning/jobs/worker.go
  pkg/tests/apis/provisioning/provisioning_test.go
  pkg/tests/apis/provisioning/testdata/text-options.json
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Change from update_permissions to set_permissions
  pkg/apimachinery/utils/verbs.go
  pkg/services/accesscontrol/authorizer.go
  pkg/services/authz/mappers/rbac_mapper.go
  pkg/services/authz/zanzana/common/tuple.go
  pkg/services/authz/zanzana/schema/schema_core.fga
  pkg/services/authz/zanzana/schema/schema_folder.fga
  pkg/services/authz/zanzana/schema/schema_resource.fga
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

fix: ensure deleting works
  pkg/tests/apis/provisioning/provisioning_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

POC/Provisioning: Update webhook test and constant (#98669)
  pkg/apis/provisioning/v0alpha1/jobs.go
  pkg/registry/apis/provisioning/jobs/queue.go
  pkg/registry/apis/provisioning/jobs/worker.go
  pkg/registry/apis/provisioning/repository/github/testdata/webhook-push-different_branch.json
  pkg/registry/apis/provisioning/repository/github_test.go
  pkg/registry/apis/provisioning/repository/local.go
  pkg/tests/apis/provisioning/provisioning_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

chore: we own /pkg/slogctx
  .github/CODEOWNERS
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

test
  devenv/datasources.yaml
  e2e/plugin-e2e/start-and-run-suite
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

add test
  public/app/features/dashboard-scene/scene/LibraryPanelBehavior.test.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

temporarily ignore steps
  .drone.yml
Due: pr-verify-drone, pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

run prettier
  docs/sources/administration/data-source-management/teamlbac/_index.md
Due: pr-docs, main-docs

Path conditions:
  pr-verify-drone: any of: scripts/drone/**, .drone.yml, .drone.star, but not: docs/**, *.md
  pr-verify-starlark: any of: scripts/drone/**, .drone.star, but not: docs/**, *.md
  pr-verify-storybook: any of: packages/grafana-ui/**, but not: docs/**, *.md
  pr-test-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-lint-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-test-backend: any of: Makefile, pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, docs/sources/setup-grafana/configure-grafana/feature-toggles/**, devenv/**, but not: docs/**, *.md
  pr-lint-backend: any of: .golangci.toml, Makefile, pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, .bingo/**, but not: docs/**, *.md
  pr-build-e2e: any file but: *.md, docs/**, latest.json
  end-to-end-tests-cloud-plugins-suite-azure: any of: pkg/tsdb/azuremonitor/**, public/app/plugins/datasource/azuremonitor/**, e2e/cloud-plugins-suite/azure-monitor.spec.ts
  build-storybook: any of: packages/grafana-ui/**
  pr-integration-tests: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, but not: docs/**, *.md
  pr-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  pr-shellcheck: any of: scripts/**/*.sh, but not: *.md, docs/**, latest.json
  main-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  main-test-frontend: any file but: *.md, docs/**, latest.json
  main-lint-frontend: any file but: *.md, docs/**, latest.json
  main-test-backend: any file but: *.md, docs/**, latest.json
  main-lint-backend: any file but: *.md, docs/**, latest.json
  main-verify-storybook: any file but: *.md, docs/**, latest.json
  main-build-e2e-publish: any file but: *.md, docs/**, latest.json
  store-storybook: any of: packages/grafana-ui/**
  release-canary-npm-packages: any of: packages/**
  main-integration-tests: any file but: *.md, docs/**, latest.json
  main-trigger-downstream: any file but: *.md, docs/**, latest.json
  main-notify: any file but: *.md, docs/**, latest.json
  rgm-main-prerelease: any file but: *.md, docs/**, packages/**/*.md, latest.json
