Repository grafana/grafana: changes, and which Drone steps are due for each by the changed paths.
All: pr-verify-drone, pr-verify-starlark, pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, trigger-test-release, end-to-end-tests-cloud-plugins-suite-azure, build-storybook, pr-integration-tests, pr-docs, pr-shellcheck, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, store-storybook, main-integration-tests, main-windows, notify-drone-changes, main-trigger-downstream, main-notify

Path conditions:
  pr-verify-drone: any of: scripts/drone/**, .drone.yml, .drone.star, but not: docs/**, *.md
  pr-verify-starlark: any of: scripts/drone/**, .drone.star, but not: docs/**, *.md
  pr-test-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-lint-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-test-backend: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, but not: docs/**, *.md
  pr-lint-backend: any of: pkg/**, packaging/**, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, .bingo/**, but not: docs/**, *.md
  pr-build-e2e: any file but: *.md, docs/**, latest.json
  trigger-test-release: any of: .drone.yml, pkg/build/**
  end-to-end-tests-cloud-plugins-suite-azure: any of: pkg/tsdb/azuremonitor/**, public/app/plugins/datasource/azuremonitor/**, e2e/cloud-plugins-suite/azure-monitor.spec.ts
  build-storybook: any of: packages/grafana-ui/**
  pr-integration-tests: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, but not: docs/**, *.md
  pr-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  pr-shellcheck: any of: scripts/**/*.sh, but not: *.md, docs/**, latest.json
  main-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  main-test-frontend: any file but: *.md, docs/**, latest.json
  main-lint-frontend: any file but: *.md, docs/**, latest.json
  main-test-backend: any file but: *.md, docs/**, latest.json
  main-lint-backend: any file but: *.md, docs/**, latest.json
  main-build-e2e-publish: any file but: *.md, docs/**, latest.json
  store-storybook: any of: packages/grafana-ui/**
  main-integration-tests: any file but: *.md, docs/**, latest.json
  main-windows: any file but: *.md, docs/**, latest.json
  notify-drone-changes: any of: .drone.yml, but not: exclude
  main-trigger-downstream: any file but: *.md, docs/**, latest.json
  main-notify: any file but: *.md, docs/**, latest.json

Don't show resource field for exemplars query
  public/app/plugins/datasource/azuremonitor/components/TracesQueryEditor/TracesQueryEditor.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, end-to-end-tests-cloud-plugins-suite-azure, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

When resetting operation ID for exemplars set query to default
  public/app/plugins/datasource/azuremonitor/components/TracesQueryEditor/TracesQueryEditor.test.tsx
  public/app/plugins/datasource/azuremonitor/components/TracesQueryEditor/TracesQueryEditor.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, end-to-end-tests-cloud-plugins-suite-azure, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Update query header to appropriately set the service value
  public/app/plugins/datasource/azuremonitor/components/QueryEditor/QueryHeader.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, end-to-end-tests-cloud-plugins-suite-azure, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

docs: add histogram play link (#87466)
  docs/sources/panels-visualizations/visualizations/histogram/index.md
Due: pr-docs, main-docs

ScopeNodes: Add naive filter functionality for scopenode.titles (#87721)
  pkg/registry/apis/scope/find.go
  pkg/registry/apis/scope/find_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

docs: add geomap play link (#87469)
  docs/sources/panels-visualizations/visualizations/geomap/index.md
Due: pr-docs, main-docs

Fix response frame creation and update tests
  pkg/tsdb/azuremonitor/loganalytics/azure-response-table-frame.go
  pkg/tsdb/azuremonitor/loganalytics/azure-response-table-frame_test.go
  pkg/tsdb/azuremonitor/testdata/traces/2-traces-single-table.json.single-trace-as-trace-format-from-exemplars-query.golden.jsonc
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, end-to-end-tests-cloud-plugins-suite-azure, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Prettier
  packages/grafana-ui/src/components/Table/DefaultCell.tsx
  packages/grafana-ui/src/components/Table/RowsList.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, store-storybook, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Correctly select resource
  pkg/tsdb/azuremonitor/loganalytics/traces.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, end-to-end-tests-cloud-plugins-suite-azure, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

feature toggle and other
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.go
  pkg/services/featuremgmt/toggles_gen.json
  public/app/features/alerting/routes.tsx
  public/app/features/alerting/unified/RuleList.v2.tsx
  public/app/features/alerting/unified/components/rule-list/AlertRuleListItem.tsx
  public/app/features/alerting/unified/components/rule-list/EvaluationGroup.tsx
  public/app/features/alerting/unified/utils/misc.ts
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, pr-docs, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

split methods
  pkg/services/ngalert/models/alert_query.go
  pkg/services/ngalert/models/alert_rule.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

scroll option into view whenever current focusedIndex changes
  packages/grafana-ui/src/components/Select/SelectMenu.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, store-storybook, main-integration-tests, main-windows, main-trigger-downstream, main-notify

minor cosmetic changes
  public/app/features/alerting/unified/RuleList.v2.tsx
  public/app/features/alerting/unified/components/MetaText.tsx
  public/app/features/alerting/unified/components/rule-list/AlertRuleListItem.tsx
  public/app/features/alerting/unified/components/rule-list/Namespace.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

[v10.3.x] Alerting: Add two sets of provisioning actions for rules and notifications (#87665)
  pkg/services/accesscontrol/models.go
  pkg/services/ngalert/accesscontrol.go
  pkg/services/ngalert/api/authorization.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

[v10.2.x] Alerting: Add two sets of provisioning actions for rules and notifications (#87666)
  pkg/services/accesscontrol/models.go
  pkg/services/ngalert/accesscontrol.go
  pkg/services/ngalert/api/authorization.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Unified Storage: Fixes bug with postgres connection string and adds tests (#87656)
  pkg/services/store/entity/db/dbimpl/dbEngine.go
  pkg/services/store/entity/db/dbimpl/dbEngine_test.go
  pkg/services/store/entity/db/dbimpl/dbimpl.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

docs: add text panel play link (#87497)
  docs/sources/panels-visualizations/visualizations/text/index.md
Due: pr-docs, main-docs

docs: add flame graph play link (#87498)
  docs/sources/panels-visualizations/visualizations/flame-graph/index.md
Due: pr-docs, main-docs

[v10.2.x] docs: add geomap play link (#87744)
  docs/sources/panels-visualizations/visualizations/geomap/index.md
Due: pr-docs, main-docs

[v10.3.x] docs: add geomap play link (#87745)
  docs/sources/panels-visualizations/visualizations/geomap/index.md
Due: pr-docs, main-docs

[v10.4.x] docs: add geomap play link (#87746)
  docs/sources/panels-visualizations/visualizations/geomap/index.md
Due: pr-docs, main-docs

Docs: update headings and add release info (#87058)
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  pkg/services/featuremgmt/toggles_gen_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, pr-docs, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Moved video to Use dashboards page
  docs/sources/dashboards/_index.md
  docs/sources/dashboards/use-dashboards/index.md
Due: pr-docs, main-docs
