Repository grafana/grafana: changes, and which Drone steps are due for each by the changed paths.
All: pr-verify-drone, pr-verify-starlark, pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, trigger-test-release, end-to-end-tests-cloud-plugins-suite-azure, build-storybook, pr-integration-tests, pr-docs, pr-shellcheck, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, store-storybook, main-integration-tests, main-windows, notify-drone-changes, main-trigger-downstream, main-notify

Path conditions:
  pr-verify-drone: any of: scripts/drone/**, .drone.yml, .drone.star, but not: docs/**, *.md
  pr-verify-starlark: any of: scripts/drone/**, .drone.star, but not: docs/**, *.md
  pr-test-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-lint-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-test-backend: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, but not: docs/**, *.md
  pr-lint-backend: any of: pkg/**, packaging/**, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, .bingo/**, but not: docs/**, *.md
  pr-build-e2e: any file but: *.md, docs/**, latest.json
  trigger-test-release: any of: .drone.yml, pkg/build/**
  end-to-end-tests-cloud-plugins-suite-azure: any of: pkg/tsdb/azuremonitor/**, public/app/plugins/datasource/azuremonitor/**, e2e/cloud-plugins-suite/azure-monitor.spec.ts
  build-storybook: any of: packages/grafana-ui/**
  pr-integration-tests: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, but not: docs/**, *.md
  pr-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  pr-shellcheck: any of: scripts/**/*.sh, but not: *.md, docs/**, latest.json
  main-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  main-test-frontend: any file but: *.md, docs/**, latest.json
  main-lint-frontend: any file but: *.md, docs/**, latest.json
  main-test-backend: any file but: *.md, docs/**, latest.json
  main-lint-backend: any file but: *.md, docs/**, latest.json
  main-build-e2e-publish: any file but: *.md, docs/**, latest.json
  store-storybook: any of: packages/grafana-ui/**
  main-integration-tests: any file but: *.md, docs/**, latest.json
  main-windows: any file but: *.md, docs/**, latest.json
  notify-drone-changes: any of: .drone.yml, but not: exclude
  main-trigger-downstream: any file but: *.md, docs/**, latest.json
  main-notify: any file but: *.md, docs/**, latest.json

fix more links
  CHANGELOG.md
  docs/sources/developers/plugins/create-a-grafana-plugin/develop-a-plugin/_index.md
  docs/sources/developers/plugins/create-a-grafana-plugin/extend-a-plugin/_index.md
  docs/sources/developers/plugins/get-started-with-plugins/_index.md
  docs/sources/developers/plugins/migration-guide/v6.x-v7.x/_index.md
Due: pr-docs, main-docs

Update Readme
  packages/grafana-eslint-rules/README.md
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, pr-docs, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

docs: fix broken links (#72582)
  CHANGELOG.md
  docs/sources/breaking-changes/breaking-changes-v10-0.md
  docs/sources/developers/plugins/create-a-grafana-plugin/develop-a-plugin/_index.md
  docs/sources/developers/plugins/create-a-grafana-plugin/extend-a-plugin/_index.md
  docs/sources/developers/plugins/get-started-with-plugins/_index.md
  docs/sources/developers/plugins/migration-guide/v6.x-v7.x/_index.md
Due: pr-docs, main-docs

remove references to groups_attribute_path for Okta and GitLab
  docs/sources/setup-grafana/configure-security/configure-authentication/gitlab/index.md
  docs/sources/setup-grafana/configure-security/configure-authentication/okta/index.md
Due: pr-docs, main-docs

Tracing: Trace to metrics default range (#72433)
  public/app/core/components/TraceToLogs/TraceToLogsSettings.tsx
  public/app/core/components/TraceToMetrics/TraceToMetricsSettings.tsx
  public/app/features/explore/TraceView/createSpanLink.test.ts
  public/app/features/explore/TraceView/createSpanLink.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Temporarily enable new query for benchmarks
  pkg/api/folder_bench_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

docs: fix broken link
  docs/sources/breaking-changes/breaking-changes-v10-0.md
Due: pr-docs, main-docs

scaffold nested folder structure
  e2e/dashboards-suite/dashboard-browse-nested.spec.ts
  e2e/dashboards-suite/utils/makeDashboard.ts
  scripts/grafana-server/custom.ini
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

update structure slightly
  e2e/dashboards-suite/dashboard-browse-nested.spec.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

update comments
  e2e/dashboards-suite/dashboard-browse-nested.spec.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Added basic scafold for Cypress test
  e2e/dashboards-suite/dashboard-browse-nested.spec.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

fix selector name, add table body selector, improve expand aria label
  e2e/dashboards-suite/dashboard-browse-nested.spec.ts
  packages/grafana-e2e-selectors/src/selectors/pages.ts
  public/app/features/browse-dashboards/BrowseDashboardsPage.test.tsx
  public/app/features/browse-dashboards/components/BrowseView.test.tsx
  public/app/features/browse-dashboards/components/CheckboxCell.tsx
  public/app/features/browse-dashboards/components/DashboardsTree.test.tsx
  public/app/features/browse-dashboards/components/DashboardsTree.tsx
  public/app/features/browse-dashboards/components/NameCell.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

skip test for now
  e2e/dashboards-suite/dashboard-browse-nested.spec.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Docs: remove references to `groups_attribute_path` for Okta and GitLab docs (#72588)
  docs/sources/setup-grafana/configure-security/configure-authentication/gitlab/index.md
  docs/sources/setup-grafana/configure-security/configure-authentication/okta/index.md
Due: pr-docs, main-docs

undo changes to cypress custom.ini
  scripts/grafana-server/custom.ini
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

lezer update rolled back
  package.json
  yarn.lock
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

rolled back react-virtualized-auto-sizer
  package.json
  yarn.lock
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

rolled back update to dangerously-set-html-content
  package.json
  yarn.lock
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

[v9.4.x] Docs: remove references to groups_attribute_path for Okta and GitLab docs (#72591)
  docs/sources/setup-grafana/configure-security/configure-authentication/gitlab/index.md
  docs/sources/setup-grafana/configure-security/configure-authentication/okta/index.md
Due: pr-docs, main-docs

[v10.1.x] Docs: remove references to `groups_attribute_path` for Okta and GitLab docs (#72593)
  docs/sources/setup-grafana/configure-security/configure-authentication/gitlab/index.md
  docs/sources/setup-grafana/configure-security/configure-authentication/okta/index.md
Due: pr-docs, main-docs

[v9.5.x] Docs: remove references to `groups_attribute_path` for Okta and GitLab docs (#72592)
  docs/sources/setup-grafana/configure-security/configure-authentication/gitlab/index.md
  docs/sources/setup-grafana/configure-security/configure-authentication/okta/index.md
Due: pr-docs, main-docs

clear selection state when indeterminate
  public/app/features/browse-dashboards/components/CheckboxHeaderCell.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

ensure search state is properly cleared when toggling the indeterminate checkbox
  public/app/features/search/page/components/columns.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

select everything in view
  public/app/features/search/page/components/columns.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Explore: Decouple SplitOpen and getFieldLinksForExplore from Panel visualizations (#71811)
  packages/grafana-data/src/field/fieldOverrides.ts
  packages/grafana-data/src/types/fieldOverrides.ts
  packages/grafana-data/src/utils/dataLinks.ts
  packages/grafana-ui/src/components/PanelChrome/PanelContext.ts
  public/app/features/explore/CustomContainer.tsx
  public/app/features/explore/Explore.tsx
  public/app/features/explore/Graph/ExploreGraph.tsx
  public/app/features/explore/RawPrometheus/RawPrometheusContainer.tsx
  public/app/features/explore/Table/TableContainer.tsx
  public/app/features/explore/hooks/useExploreDataLinkPostProcessor.ts
  public/app/features/explore/utils/links.test.ts
  public/app/features/explore/utils/links.ts
  public/app/features/panel/components/PanelRenderer.tsx
  public/app/features/query/state/PanelQueryRunner.ts
  public/app/plugins/panel/candlestick/CandlestickPanel.tsx
  public/app/plugins/panel/timeseries/TimeSeriesPanel.tsx
  public/app/plugins/panel/timeseries/plugins/ExemplarMarker.tsx
  public/app/plugins/panel/timeseries/plugins/ExemplarsPlugin.tsx
  public/app/plugins/panel/timeseries/utils.ts
  public/app/plugins/panel/trend/TrendPanel.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, store-storybook, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Update pkg/services/publicdashboards/service/query_test.go
  pkg/services/publicdashboards/service/query_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Explore: Do not update URL when time range changes to absolute (#72436)
  public/app/core/services/keybindingSrv.ts
  public/app/features/dashboard/services/TimeSrv.ts
  public/app/types/events.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Logs: Fix ui getting stuck when removing fields
  public/app/features/logs/components/LogDetailsRow.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

revert swc upgrade since it breaks CI metrics emit
  package.json
  yarn.lock
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Update public/app/features/logs/components/LogDetailsRow.tsx
  public/app/features/logs/components/LogDetailsRow.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Fix the rule details page for Grafana-managed rules
  public/app/features/alerting/unified/api/alertRuleApi.ts
  public/app/features/alerting/unified/components/rule-viewer/RuleViewer.v1.tsx
  public/app/features/alerting/unified/hooks/useCombinedRule.ts
  public/app/features/alerting/unified/hooks/useCombinedRuleNamespaces.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Fix test
  public/app/plugins/panel/flamegraph/components/FlameGraph/rendering.test.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

CI: Upgrade peter-evans/create-pull-request from `v3` to `v5`
  .github/workflows/alerting-swagger-gen.yml
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Chore: revert swc upgrade since it breaks CI metrics emit (#72598)
  package.json
  yarn.lock
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify
