Repository grafana/grafana: changes, and which Drone steps are due for each by the changed paths.
All: pr-verify-drone, pr-verify-starlark, pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, trigger-test-release, end-to-end-tests-cloud-plugins-suite-azure, build-storybook, pr-integration-tests, pr-docs, pr-shellcheck, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, store-storybook, main-integration-tests, main-windows, notify-drone-changes, main-trigger-downstream, main-notify

Path conditions:
  pr-verify-drone: any of: scripts/drone/**, .drone.yml, .drone.star, but not: docs/**, *.md
  pr-verify-starlark: any of: scripts/drone/**, .drone.star, but not: docs/**, *.md
  pr-test-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-lint-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-test-backend: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, but not: docs/**, *.md
  pr-lint-backend: any of: pkg/**, packaging/**, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, .bingo/**, but not: docs/**, *.md
  pr-build-e2e: any file but: *.md, docs/**, latest.json
  trigger-test-release: any of: .drone.yml, pkg/build/**
  end-to-end-tests-cloud-plugins-suite-azure: any of: pkg/tsdb/azuremonitor/**, public/app/plugins/datasource/azuremonitor/**, e2e/cloud-plugins-suite/azure-monitor.spec.ts
  build-storybook: any of: packages/grafana-ui/**
  pr-integration-tests: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, but not: docs/**, *.md
  pr-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  pr-shellcheck: any of: scripts/**/*.sh, but not: *.md, docs/**, latest.json
  main-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  main-test-frontend: any file but: *.md, docs/**, latest.json
  main-lint-frontend: any file but: *.md, docs/**, latest.json
  main-test-backend: any file but: *.md, docs/**, latest.json
  main-lint-backend: any file but: *.md, docs/**, latest.json
  main-build-e2e-publish: any file but: *.md, docs/**, latest.json
  store-storybook: any of: packages/grafana-ui/**
  main-integration-tests: any file but: *.md, docs/**, latest.json
  main-windows: any file but: *.md, docs/**, latest.json
  notify-drone-changes: any of: .drone.yml, but not: exclude
  main-trigger-downstream: any file but: *.md, docs/**, latest.json
  main-notify: any file but: *.md, docs/**, latest.json

Update docs/sources/setup-grafana/configure-security/secret-scan.md
  docs/sources/setup-grafana/configure-security/secret-scan.md
Due: pr-docs, main-docs

Fix banner button variant
  public/app/features/alerting/unified/components/receivers/TemplateForm.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

docs: add semi relative time ranges (#67559)
  docs/sources/dashboards/use-dashboards/index.md
Due: pr-docs, main-docs

TraceToLogs: Enable trace-to-log feature for cloud-logging-data-source-plugin
  public/app/core/components/TraceToLogs/TraceToLogsSettings.tsx
  public/app/features/explore/TraceView/createSpanLink.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

PageHeader: Set h1 style from wrapping element (#67735)
  public/app/core/components/Page/PageHeader.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Add missing type
  public/app/plugins/datasource/cloud-monitoring/components/Preprocessor.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Remove commented out code
  public/app/core/specs/backend_srv.test.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Chore: Upgrade Go to 1.20.4
  .drone.yml
  Dockerfile
  Makefile
  scripts/build/ci-build/Dockerfile
  scripts/drone/steps/lib.star
Due: pr-verify-drone, pr-verify-starlark, pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-build-e2e, trigger-test-release, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, notify-drone-changes, main-trigger-downstream, main-notify

Update docs/sources/fundamentals/exemplars/index.md
  docs/sources/fundamentals/exemplars/index.md
Due: pr-docs, main-docs

Fix renaming columns when displayName or displayNameFromDS are present
  public/app/plugins/panel/datagrid/DataGridPanel.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

fix tests
  public/app/features/explore/state/query.test.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

[v10.0.x] Alerting: Fix export button variant (#67747)
  public/app/features/alerting/unified/RuleList.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Alerting: Fix banner button variant (#67750)
  public/app/features/alerting/unified/components/receivers/TemplateForm.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

[v9.3.x] docs: add semi relative time ranges (#67759)
  docs/sources/dashboards/use-dashboards/index.md
Due: pr-docs, main-docs

[v9.4.x] docs: add semi relative time ranges (#67753)
  docs/sources/dashboards/use-dashboards/index.md
Due: pr-docs, main-docs

[v9.5.x] docs: add semi relative time ranges (#67754)
  docs/sources/dashboards/use-dashboards/index.md
Due: pr-docs, main-docs

[v10.0.x] Alerting: Fix banner button variant (#67758)
  public/app/features/alerting/unified/components/receivers/TemplateForm.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

[v10.0.x] docs: add semi relative time ranges (#67755)
  docs/sources/dashboards/use-dashboards/index.md
Due: pr-docs, main-docs

AlertRuleForm: s/Edit yaml/Edit YAML/ (#67714)
  public/app/features/alerting/unified/components/rule-editor/AlertRuleForm.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Spread initialState
  public/app/features/search/state/SearchStateManager.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Remove unused import
  public/app/features/search/state/SearchStateManager.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Link to config exemplars leads goes to top of page (#67687)
  docs/sources/fundamentals/exemplars/index.md
Due: pr-docs, main-docs

Elasticsearch: Run version check thorugh backend if enableElasticsearchBackendQuerying enabled (#67679)
  pkg/tsdb/elasticsearch/elasticsearch.go
  public/app/plugins/datasource/elasticsearch/datasource.test.ts
  public/app/plugins/datasource/elasticsearch/datasource.ts
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Update rgm.star
  .drone.yml
  scripts/drone/rgm.star
Due: pr-verify-drone, pr-verify-starlark, pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-build-e2e, trigger-test-release, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, notify-drone-changes, main-trigger-downstream, main-notify

[v10.0.x] AlertRuleForm: s/Edit yaml/Edit YAML/ (#67763)
  public/app/features/alerting/unified/components/rule-editor/AlertRuleForm.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Merge fix
  pkg/kinds/dashboard/dashboard_gen.go
  pkg/kinds/librarypanel/librarypanel_gen.go
  pkg/kinds/playlist/playlist_gen.go
  pkg/kinds/preferences/preferences_gen.go
  pkg/kinds/publicdashboard/publicdashboard_gen.go
  pkg/kinds/serviceaccount/serviceaccount_gen.go
  pkg/kinds/team/team_gen.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Only reset query
  public/app/features/search/state/SearchStateManager.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

updates default mysql image to 8 in mysql docker blocks
  devenv/docker/blocks/mysql/.env
  devenv/docker/blocks/mysql_tests/.env
  devenv/docker/blocks/mysql_tests/Dockerfile
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Add more test data to data.js
  devenv/docker/blocks/elastic/data/data.js
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify
