Repository grafana/grafana: changes, and which Drone steps are due for each by the changed paths.
All: pr-verify-drone, pr-verify-starlark, pr-verify-storybook, pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, end-to-end-tests-cloud-plugins-suite-azure, build-storybook, pr-integration-tests, pr-docs, pr-shellcheck, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Path conditions:
  pr-verify-drone: any of: scripts/drone/**, .drone.yml, .drone.star, but not: docs/**, *.md
  pr-verify-starlark: any of: scripts/drone/**, .drone.star, but not: docs/**, *.md
  pr-verify-storybook: any of: packages/grafana-ui/**, but not: docs/**, *.md
  pr-test-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-lint-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-test-backend: any of: Makefile, pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, docs/sources/setup-grafana/configure-grafana/feature-toggles/**, devenv/**, but not: docs/**, *.md
  pr-lint-backend: any of: .golangci.toml, Makefile, pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, .bingo/**, but not: docs/**, *.md
  pr-build-e2e: any file but: *.md, docs/**, latest.json
  end-to-end-tests-cloud-plugins-suite-azure: any of: pkg/tsdb/azuremonitor/**, public/app/plugins/datasource/azuremonitor/**, e2e/cloud-plugins-suite/azure-monitor.spec.ts
  build-storybook: any of: packages/grafana-ui/**
  pr-integration-tests: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, but not: docs/**, *.md
  pr-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  pr-shellcheck: any of: scripts/**/*.sh, but not: *.md, docs/**, latest.json
  main-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  main-test-frontend: any file but: *.md, docs/**, latest.json
  main-lint-frontend: any file but: *.md, docs/**, latest.json
  main-test-backend: any file but: *.md, docs/**, latest.json
  main-lint-backend: any file but: *.md, docs/**, latest.json
  main-verify-storybook: any file but: *.md, docs/**, latest.json
  main-build-e2e-publish: any file but: *.md, docs/**, latest.json
  store-storybook: any of: packages/grafana-ui/**
  release-canary-npm-packages: any of: packages/**
  main-integration-tests: any file but: *.md, docs/**, latest.json
  main-trigger-downstream: any file but: *.md, docs/**, latest.json
  main-notify: any file but: *.md, docs/**, latest.json
  rgm-main-prerelease: any file but: *.md, docs/**, packages/**/*.md, latest.json

chore: remove unified_service
  pkg/server/module_server.go
  pkg/storage/unified/sql/search_service.go
  pkg/storage/unified/sql/test/integration_test.go
  pkg/storage/unified/sql/unified_service.go
  pkg/tests/testinfra/testinfra.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

regen toggles
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/services/featuremgmt/toggles_gen.json
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

update snapshots
  pkg/tests/apis/openapi_snapshots/advisor.grafana.app-v0alpha1.json
  pkg/tests/apis/openapi_snapshots/collections.grafana.app-v1alpha1.json
  pkg/tests/apis/openapi_snapshots/correlations.grafana.app-v0alpha1.json
  pkg/tests/apis/openapi_snapshots/dashboard.grafana.app-v0alpha1.json
  pkg/tests/apis/openapi_snapshots/dashboard.grafana.app-v1beta1.json
  pkg/tests/apis/openapi_snapshots/dashboard.grafana.app-v2alpha1.json
  pkg/tests/apis/openapi_snapshots/dashboard.grafana.app-v2beta1.json
  pkg/tests/apis/openapi_snapshots/folder.grafana.app-v1beta1.json
  pkg/tests/apis/openapi_snapshots/historian.alerting.grafana.app-v0alpha1.json
  pkg/tests/apis/openapi_snapshots/iam.grafana.app-v0alpha1.json
  pkg/tests/apis/openapi_snapshots/logsdrilldown.grafana.app-v1alpha1.json
  pkg/tests/apis/openapi_snapshots/logsdrilldown.grafana.app-v1beta1.json
  pkg/tests/apis/openapi_snapshots/notifications.alerting.grafana.app-v0alpha1.json
  pkg/tests/apis/openapi_snapshots/playlist.grafana.app-v0alpha1.json
  pkg/tests/apis/openapi_snapshots/preferences.grafana.app-v1alpha1.json
  pkg/tests/apis/openapi_snapshots/provisioning.grafana.app-v0alpha1.json
  pkg/tests/apis/openapi_snapshots/rules.alerting.grafana.app-v0alpha1.json
  pkg/tests/apis/openapi_snapshots/shorturl.grafana.app-v1beta1.json
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

proposed fix
  pkg/services/authz/rbac/service.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

update
  pkg/tests/apis/helper.go
  pkg/tests/apis/openapi_snapshots/advisor.grafana.app-v0alpha1.json
  pkg/tests/apis/openapi_snapshots/collections.grafana.app-v1alpha1.json
  pkg/tests/apis/openapi_snapshots/correlations.grafana.app-v0alpha1.json
  pkg/tests/apis/openapi_snapshots/dashboard.grafana.app-v0alpha1.json
  pkg/tests/apis/openapi_snapshots/dashboard.grafana.app-v1beta1.json
  pkg/tests/apis/openapi_snapshots/dashboard.grafana.app-v2alpha1.json
  pkg/tests/apis/openapi_snapshots/dashboard.grafana.app-v2beta1.json
  pkg/tests/apis/openapi_snapshots/folder.grafana.app-v1beta1.json
  pkg/tests/apis/openapi_snapshots/grafana-testdata-datasource.datasource.grafana.app-v0alpha1.json
  pkg/tests/apis/openapi_snapshots/historian.alerting.grafana.app-v0alpha1.json
  pkg/tests/apis/openapi_snapshots/iam.grafana.app-v0alpha1.json
  pkg/tests/apis/openapi_snapshots/logsdrilldown.grafana.app-v1beta1.json
  pkg/tests/apis/openapi_snapshots/notifications.alerting.grafana.app-v0alpha1.json
  pkg/tests/apis/openapi_snapshots/playlist.grafana.app-v0alpha1.json
  pkg/tests/apis/openapi_snapshots/preferences.grafana.app-v1alpha1.json
  pkg/tests/apis/openapi_snapshots/provisioning.grafana.app-v0alpha1.json
  pkg/tests/apis/openapi_snapshots/rules.alerting.grafana.app-v0alpha1.json
  pkg/tests/apis/openapi_snapshots/shorturl.grafana.app-v1beta1.json
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Alerting: Store rule evaluation duration in the database (#116339)
  pkg/services/ngalert/models/instance.go
  pkg/services/ngalert/state/cache.go
  pkg/services/ngalert/state/cache_test.go
  pkg/services/ngalert/state/manager.go
  pkg/services/ngalert/state/manager_test.go
  pkg/services/ngalert/state/persister_sync.go
  pkg/services/ngalert/state/persister_sync_rule.go
  pkg/services/ngalert/store/instance_database.go
  pkg/services/ngalert/store/proto/v1/alert_rule_state.pb.go
  pkg/services/ngalert/store/proto/v1/alert_rule_state.proto
  pkg/services/ngalert/store/proto_instance_database.go
  pkg/services/ngalert/store/proto_instance_database_test.go
  pkg/services/sqlstore/migrations/migrations.go
  pkg/services/sqlstore/migrations/ualert/state_evaluation_duration_mig.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

cleanup
  go.mod
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Format fmt
  apps/provisioning/pkg/connection/github/connection_test.go
  apps/provisioning/pkg/repository/local/local_test.go
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

add integration tests
  pkg/tests/apis/iam/user_teams_search_integration_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

filter out imported contact points from simplified routing dropdown
  packages/grafana-alerting/src/grafana/contactPoints/components/ContactPointSelector/ContactPointSelector.test.scenario.ts
  packages/grafana-alerting/src/grafana/contactPoints/components/ContactPointSelector/ContactPointSelector.test.tsx
  packages/grafana-alerting/src/grafana/contactPoints/components/ContactPointSelector/ContactPointSelector.tsx
  public/app/features/alerting/unified/components/rule-editor/alert-rule-form/simplifiedRouting/SimplifiedRuleEditor.test.tsx
  public/app/features/alerting/unified/components/rule-editor/alert-rule-form/simplifiedRouting/contactPoint/ContactPointSelector.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Keep coverage in validator test for local
  apps/provisioning/pkg/repository/local/validator_test.go
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

update
  pkg/tests/apis/helper.go
  pkg/tests/apis/openapi_snapshots/grafana-testdata-datasource.datasource.grafana.app-v0alpha1.json
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Alerting: Store last error in the alert intance model
  pkg/services/ngalert/models/instance.go
  pkg/services/ngalert/state/cache.go
  pkg/services/ngalert/state/cache_test.go
  pkg/services/ngalert/state/manager.go
  pkg/services/ngalert/state/manager_test.go
  pkg/services/ngalert/state/persister_sync.go
  pkg/services/ngalert/state/persister_sync_rule.go
  pkg/services/ngalert/state/state_test.go
  pkg/services/ngalert/store/instance_database.go
  pkg/services/ngalert/store/proto/v1/alert_rule_state.pb.go
  pkg/services/ngalert/store/proto/v1/alert_rule_state.proto
  pkg/services/ngalert/store/proto_instance_database.go
  pkg/services/ngalert/store/proto_instance_database_test.go
  pkg/services/sqlstore/migrations/migrations.go
  pkg/services/sqlstore/migrations/ualert/state_last_error_mig.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

keep logsdrilldown
  pkg/tests/apis/openapi_snapshots/logsdrilldown.grafana.app-v1alpha1.json
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Do not build for validation in register
  apps/provisioning/pkg/repository/tester.go
  apps/provisioning/pkg/repository/validator.go
  apps/provisioning/pkg/repository/validator_test.go
  pkg/registry/apis/provisioning/register.go
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Use TemplateGroupTemplateKind from @grafana/api-clients
  public/app/features/alerting/unified/components/contact-points/useNotificationTemplates.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Chore: organize go.mod into sections (#116407)
  go.mod
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

add warnings in docs also
  docs/sources/developer-resources/api-reference/http-api/data_source.md
Due: pr-docs, main-docs

bump flamegraph storybook
  packages/grafana-flamegraph/package.json
  yarn.lock
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

consolidate copy of secure values
  pkg/registry/apis/provisioning/register.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Chore: Bump undici
  yarn.lock
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Use copy function in test endpoint
  pkg/registry/apis/provisioning/test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

lint
  pkg/services/sqlstore/permissions/dashboard.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Call Factory validate in validator
  apps/provisioning/pkg/connection/github/connection.go
  apps/provisioning/pkg/repository/tester.go
  apps/provisioning/pkg/repository/tester_test.go
  apps/provisioning/pkg/repository/validator.go
  apps/provisioning/pkg/repository/validator_test.go
  pkg/operators/provisioning/repo_operator.go
  pkg/registry/apis/provisioning/controller/health_test.go
  pkg/registry/apis/provisioning/register.go
  pkg/registry/apis/provisioning/register_validate_test.go
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Add Test method for Connection
  apps/provisioning/pkg/connection/connection.go
  apps/provisioning/pkg/connection/connection_mock.go
  apps/provisioning/pkg/connection/factory_test.go
  apps/provisioning/pkg/connection/github/connection.go
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

docs cleanup
  docs/sources/developer-resources/api-reference/http-api/data_source.md
Due: pr-docs, main-docs

Change the signature of Validate to return ErrorFields
  apps/provisioning/pkg/connection/extra_mock.go
  apps/provisioning/pkg/connection/factory.go
  apps/provisioning/pkg/connection/factory_mock.go
  apps/provisioning/pkg/connection/github/extra.go
  apps/provisioning/pkg/connection/github/validator.go
  apps/provisioning/pkg/connection/github/validator_test.go
  apps/provisioning/pkg/repository/extra_mock.go
  apps/provisioning/pkg/repository/factory.go
  apps/provisioning/pkg/repository/factory_mock.go
  apps/provisioning/pkg/repository/git/extra.go
  apps/provisioning/pkg/repository/git/validator.go
  apps/provisioning/pkg/repository/git/validator_test.go
  apps/provisioning/pkg/repository/github/extra.go
  apps/provisioning/pkg/repository/github/validator.go
  apps/provisioning/pkg/repository/github/validator_test.go
  apps/provisioning/pkg/repository/local/extra.go
  apps/provisioning/pkg/repository/local/validator.go
  apps/provisioning/pkg/repository/local/validator_test.go
  apps/provisioning/pkg/repository/tester_test.go
  apps/provisioning/pkg/repository/validator.go
  apps/provisioning/pkg/repository/validator_test.go
  pkg/registry/apis/provisioning/controller/health_test.go
  pkg/registry/apis/provisioning/register.go
  pkg/registry/apis/provisioning/register_validate_test.go
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Docs: Update SCIM provisioning to GA status
  docs/sources/setup-grafana/configure-access/configure-scim-provisioning/_index.md
  docs/sources/setup-grafana/configure-access/configure-scim-provisioning/configure-scim-with-entraid/_index.md
  docs/sources/setup-grafana/configure-access/configure-scim-provisioning/configure-scim-with-okta/_index.md
  docs/sources/setup-grafana/configure-access/configure-scim-provisioning/manage-users-teams/_index.md
Due: pr-docs, main-docs

fix: disallow empty strings in thee expression field of Feature Flags (#116336)
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/services/featuremgmt/models.go
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.json
  pkg/services/featuremgmt/toggles_gen_test.go
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Regenerate openapi spec, apis
  packages/grafana-api-clients/src/clients/rtkq/iam/v0alpha1/endpoints.gen.ts
  packages/grafana-api-clients/src/clients/rtkq/legacy/endpoints.gen.ts
  pkg/registry/apis/iam/externalgroupmapping/search_noop.go
  public/api-enterprise-spec.json
  public/api-merged.json
  public/openapi3.json
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Update tests to use TemplateGroupTemplateKind
  public/app/features/alerting/unified/components/receivers/TemplatesTable.test.tsx
  public/app/features/alerting/unified/components/receivers/form/fields/TemplateSelector.test.tsx
  public/app/features/alerting/unified/components/receivers/form/fields/TemplateSelector.tsx
  public/app/features/alerting/unified/mocks/server/handlers/k8s/templates.k8s.ts
  public/app/features/alerting/unified/types/notification-template.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

unified-storage: enable datastore and eventstore tests with sqlkv (#116387)
  pkg/storage/unified/resource/datastore_test.go
  pkg/storage/unified/resource/eventstore_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

test: Address flaky unit tests
  public/app/features/dashboard-scene/scene/layout-default/DashboardGridItem.test.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Health check for connection in controller
  apps/provisioning/pkg/connection/factory.go
  apps/provisioning/pkg/connection/factory_test.go
  apps/provisioning/pkg/connection/tester.go
  apps/provisioning/pkg/connection/tester_test.go
  pkg/operators/provisioning/connection_operator.go
  pkg/registry/apis/provisioning/controller/connection.go
  pkg/registry/apis/provisioning/register.go
  pkg/tests/apis/provisioning/connection_test.go
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

truncate long errors before saving
  pkg/services/ngalert/models/testing.go
  pkg/services/ngalert/store/instance_database.go
  pkg/services/ngalert/store/instance_database_test.go
  pkg/services/ngalert/store/proto_instance_database.go
  pkg/services/ngalert/store/proto_instance_database_test.go
  pkg/services/sqlstore/migrations/ualert/state_last_error_mig.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Fix linting
  apps/provisioning/pkg/connection/tester_test.go
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

add example colorblind theme
  packages/grafana-data/src/themes/registry.ts
  packages/grafana-data/src/themes/themeDefinitions/deuteranopia_protanopia_dark.json
  public/app/features/theme-playground/ThemePlayground.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Fix static check
  pkg/operators/provisioning/connection_operator.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

test: Address flaky unit tests (#116413)
  public/app/features/dashboard-scene/scene/layout-default/DashboardGridItem.test.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease
