Repository grafana/grafana: changes, and which Drone steps are due for each by the changed paths.
All: pr-verify-drone, pr-verify-starlark, pr-verify-storybook, pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, end-to-end-tests-cloud-plugins-suite-azure, build-storybook, pr-integration-tests, pr-docs, pr-shellcheck, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

pr-verify-drone:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.20.3
    name: identify-runner
  - commands:
    - go build -o ./bin/build -ldflags '-extldflags -static' ./pkg/build/cmd
    depends_on: []
    environment:
      CGO_ENABLED: 0
    image: golang:1.23.1-alpine
    name: compile-build-cmd
  - commands:
  ...

pr-verify-starlark:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.20.3
    name: identify-runner
  - commands:
    - go install github.com/bazelbuild/buildtools/buildifier@latest
    - buildifier --lint=warn -mode=check -r .
    depends_on: []
    image: golang:1.23.1-alpine
    name: lint-starlark

pr-verify-storybook:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.20.3
    name: identify-runner
  - commands:
    - yarn install --immutable || yarn install --immutable
    depends_on: []
    image: node:22.11.0-alpine
    name: yarn-install
  - commands:
    - yarn storybook --quiet
    depends_on:
    - yarn-install
  ...

pr-test-frontend:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.20.3
    name: identify-runner
  - commands:
    - yarn install --immutable || yarn install --immutable
    depends_on: []
    image: node:22.11.0-alpine
    name: yarn-install
  - commands:
    - apk add --update git bash
    - yarn betterer ci
  ...

pr-lint-frontend:
  steps:
  - commands:
    - echo $(/usr/bin/github-app-external-token) > /github-app/token
    environment:
      GITHUB_APP_ID:
        from_secret: github-app-app-id
      GITHUB_APP_INSTALLATION_ID:
        from_secret: github-app-installation-id
      GITHUB_APP_PRIVATE_KEY:
  ...

pr-test-backend:
  steps:
  - commands:
    - echo $(/usr/bin/github-app-external-token) > /github-app/token
    environment:
      GITHUB_APP_ID:
        from_secret: github-app-app-id
      GITHUB_APP_INSTALLATION_ID:
        from_secret: github-app-installation-id
      GITHUB_APP_PRIVATE_KEY:
  ...

pr-lint-backend:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.20.3
    name: identify-runner
  - commands:
    - go build -o ./bin/build -ldflags '-extldflags -static' ./pkg/build/cmd
    depends_on: []
    environment:
      CGO_ENABLED: 0
    image: golang:1.23.1-alpine
    name: compile-build-cmd
  - commands:
  ...

pr-build-e2e:
  steps:
  - commands:
    - echo $(/usr/bin/github-app-external-token) > /github-app/token
    environment:
      GITHUB_APP_ID:
        from_secret: github-app-app-id
      GITHUB_APP_INSTALLATION_ID:
        from_secret: github-app-installation-id
      GITHUB_APP_PRIVATE_KEY:
  ...

end-to-end-tests-cloud-plugins-suite-azure:
  commands:
  - GITHUB_TOKEN=$(cat /github-app/token)
  - cd /
  - ./cpp-e2e/scripts/ci-run.sh azure ${DRONE_SOURCE_BRANCH}
  depends_on:
  - grafana-server
  - github-app-generate-token
  environment:
    AZURE_SP_APP_ID:
      from_secret: azure_sp_app_id
    AZURE_SP_PASSWORD:
      from_secret: azure_sp_app_pw
  ...

test(rspack): recurse into subdirectories in `readAssets`
  scripts/rspack/plugins/testUtils.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

feat(rspack): emit `assets-manifest.json` via `rspack-manifest-plugin`
  package.json
  scripts/rspack/plugins/__fixtures__/assets-manifest/boot.js
  scripts/rspack/plugins/__fixtures__/assets-manifest/dark.css
  scripts/rspack/plugins/__fixtures__/assets-manifest/image.png
  scripts/rspack/plugins/__fixtures__/assets-manifest/index.js
  scripts/rspack/plugins/__fixtures__/assets-manifest/lazy.js
  scripts/rspack/plugins/__fixtures__/assets-manifest/light.css
  scripts/rspack/plugins/__fixtures__/assets-manifest/styles.css
  scripts/rspack/plugins/assetsManifest.test.ts
  scripts/rspack/plugins/assetsManifest.ts
  yarn.lock
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

remove unused
  public/app/features/dashboard/state/DashboardModel.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

LibraryElements: Treat folder_id as authoritative at the root
  pkg/registry/backgroundsvcs/background_services.go
  pkg/server/bootstrap/wire/sets.go
  pkg/server/bootstrap/wire/wire_gen.go
  pkg/server/wire_core.go
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.go
  pkg/services/featuremgmt/toggles_gen.json
  pkg/services/libraryelements/folder_consumer.go
  pkg/services/libraryelements/folder_consumer_test.go
  pkg/services/libraryelements/folder_uid_heal.go
  pkg/services/libraryelements/folder_uid_heal_test.go
  pkg/services/libraryelements/folder_uid_repair.go
  pkg/services/libraryelements/folder_uid_repair_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

feat(rspack): add dev build config
  .gitignore
  package.json
  project.json
  scripts/rspack/rspack.common.ts
  scripts/rspack/rspack.dev.ts
  yarn.lock
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Templating: Fix crash when the __data.fields proxy is coerced to a primitive (#130583)
  packages/grafana-data/src/field/getFieldDisplayValuesProxy.test.tsx
  packages/grafana-data/src/field/getFieldDisplayValuesProxy.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

User: match trimmed login against legacy spaced DB rows
  pkg/services/user/userimpl/store.go
  pkg/services/user/userimpl/user_test.go
  pkg/services/user/userk8s/user.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Have restore skill return Jira tickets to To Do
  .cursor/skills/restore-broken-baseline/SKILL.md
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Annotations: support substring match for new /tags endpoint
  pkg/registry/apps/annotation/grpc_store.go
  pkg/registry/apps/annotation/memory_store.go
  pkg/registry/apps/annotation/postgres_tags.go
  pkg/registry/apps/annotation/proto/store.proto
  pkg/registry/apps/annotation/sql_adapter.go
  pkg/registry/apps/annotation/storage.go
  pkg/registry/apps/annotation/storepb/v1/store.pb.go
  pkg/registry/apps/annotation/tags_handler.go
  pkg/registry/apps/annotation/tags_handler_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

User: block updates that steal trimmed legacy logins
  pkg/services/user/userimpl/store.go
  pkg/services/user/userimpl/user_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

docs: remove UTM tracking parameters from link
  README.md
Due: pr-docs, main-docs

Track run-grafana skill and restore its gitignore allowlist
  .claude/skills/run-grafana/SKILL.md
  .claude/skills/run-grafana/references/local-dev.md
  .claude/skills/run-grafana/scripts/start-local.sh
  .claude/skills/run-grafana/scripts/stop-local.sh
  .cursor/skills/run-grafana/SKILL.md
  .gitignore
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

TableNG: Add hidden sortable field option adjacent to filterable
  packages/grafana-schema/src/common/common.gen.ts
  packages/grafana-schema/src/common/table.cue
  packages/grafana-ui/src/components/Table/TableNG/render-hooks.test.tsx
  packages/grafana-ui/src/components/Table/TableNG/render-hooks.tsx
Due: pr-verify-storybook, pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Feature toggles: Add table.inspectDataTableNG (#130545)
  packages/grafana-runtime/src/internal/openFeature/openfeature-types.gen.d.ts
  packages/grafana-runtime/src/internal/openFeature/openfeature.gen.ts
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.json
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Notebooks: Sync edit mode through NotebookSceneUrlSync
  public/app/features/notebook/pages/NotebookScenePage.test.tsx
  public/app/features/notebook/pages/NotebookScenePage.tsx
  public/app/features/notebook/scene/NotebookScene.test.tsx
  public/app/features/notebook/scene/NotebookScene.tsx
  public/app/features/notebook/scene/NotebookSceneUrlSync.test.ts
  public/app/features/notebook/scene/NotebookSceneUrlSync.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

TableNG: Disable pointer cursor and hover underline for non-sortable columns
  packages/grafana-ui/src/components/Table/TableNG/components/HeaderCell.test.tsx
  packages/grafana-ui/src/components/Table/TableNG/components/HeaderCell.tsx
Due: pr-verify-storybook, pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

SQL Expressions: Contain horizontal editor overscroll (#130617)
  public/app/features/expressions/components/SqlExpressions/SqlEditor/SqlEditor.test.tsx
  public/app/features/expressions/components/SqlExpressions/SqlEditor/SqlEditor.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Docs: Update log level colors for debug and info
  docs/sources/visualizations/explore/logs-integration.md
Due: pr-docs, main-docs

User: only conflict-check login/email when Update changes them
  pkg/services/user/userimpl/store.go
  pkg/services/user/userimpl/user_test.go
  pkg/services/user/userk8s/user.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

ApiKeys: inject legacy database provider
  pkg/server/bootstrap/wire/wire_gen.go
  pkg/services/apikey/apikeyimpl/apikey.go
  pkg/services/apikey/apikeyimpl/xorm_store.go
  pkg/services/apikey/apikeyimpl/xorm_store_test.go
  pkg/services/quota/quotaimpl/quota_test.go
  pkg/services/serviceaccounts/database/store_test.go
  pkg/services/serviceaccounts/tests/common.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

ApiKeys: render count queries with SQL templates
  pkg/services/apikey/apikeyimpl/queries/count_api_keys.sql
  pkg/services/apikey/apikeyimpl/templates.go
  pkg/services/apikey/apikeyimpl/templates_test.go
  pkg/services/apikey/apikeyimpl/testdata/mysql--count_api_keys-global.sql
  pkg/services/apikey/apikeyimpl/testdata/mysql--count_api_keys-org.sql
  pkg/services/apikey/apikeyimpl/testdata/postgres--count_api_keys-global.sql
  pkg/services/apikey/apikeyimpl/testdata/postgres--count_api_keys-org.sql
  pkg/services/apikey/apikeyimpl/testdata/sqlite--count_api_keys-global.sql
  pkg/services/apikey/apikeyimpl/testdata/sqlite--count_api_keys-org.sql
  pkg/services/apikey/apikeyimpl/xorm_store.go
  pkg/services/apikey/apikeyimpl/xorm_store_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

AuthN: use request namespace in api key hook test
  pkg/services/authn/clients/api_key_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

AuthN: cover api key last-used hook context detachment
  pkg/services/authn/clients/api_key_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

AuthN: keep context values in api key last-used update
  pkg/services/authn/clients/api_key.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

DashboardModel: Don't compare moment objects in hasTimeChanged() (#130620)
  public/app/features/dashboard/state/DashboardModel.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

ran prettier
  docs/sources/datasources/opentsdb/annotations/index.md
  docs/sources/datasources/opentsdb/configure/index.md
  docs/sources/datasources/opentsdb/query-editor/index.md
Due: pr-docs, main-docs

SQL Expressions: Target reserved value field
  public/app/features/expressions/ExpressionDatasource.test.ts
  public/app/features/expressions/ExpressionDatasource.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Annotations: support substring match for new /tags endpoint (#130536)
  pkg/registry/apps/annotation/grpc_store.go
  pkg/registry/apps/annotation/memory_store.go
  pkg/registry/apps/annotation/postgres_tags.go
  pkg/registry/apps/annotation/proto/store.proto
  pkg/registry/apps/annotation/sql_adapter.go
  pkg/registry/apps/annotation/storage.go
  pkg/registry/apps/annotation/storepb/v1/store.pb.go
  pkg/registry/apps/annotation/tags_handler.go
  pkg/registry/apps/annotation/tags_handler_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Annotations: use `contains` param when searching tags via proxy
  pkg/services/annotations/annotationsapi/api_client.go
  pkg/services/annotations/annotationsapi/api_client_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Nav: Move hamburger and logo and make menu appear below top nav bar (#129580)
  public/app/core/components/AppChrome/AppChrome.test.tsx
  public/app/core/components/AppChrome/AppChromeMenu.tsx
  public/app/core/components/AppChrome/FullscreenWorkspace/FullscreenWorkspacePlatformBar.tsx
  public/app/core/components/AppChrome/MegaMenu/MegaMenu.tsx
  public/app/core/components/AppChrome/MegaMenu/MegaMenuHeader.tsx
  public/app/core/components/AppChrome/MegaMenu/MegaMenuItemText.tsx
  public/app/core/components/AppChrome/OrganizationSwitcher/OrganizationSwitcher.tsx
  public/app/core/components/AppChrome/TopBar/SingleTopBar.tsx
  public/locales/en-US/grafana.json
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Notebooks: Added simple editing toggle (#130535)
  public/app/features/notebook/list/NotebooksTable.tsx
  public/app/features/notebook/pages/NotebookScenePage.test.tsx
  public/app/features/notebook/pages/NotebookScenePage.tsx
  public/app/features/notebook/pages/NotebooksListPage.test.tsx
  public/app/features/notebook/permissions.test.ts
  public/app/features/notebook/permissions.ts
  public/app/features/notebook/scene/NotebookEditToggle.test.tsx
  public/app/features/notebook/scene/NotebookEditToggle.tsx
  public/app/features/notebook/scene/NotebookScene.test.tsx
  public/app/features/notebook/scene/NotebookScene.tsx
  public/app/features/notebook/scene/NotebookSceneUrlSync.test.ts
  public/app/features/notebook/scene/NotebookSceneUrlSync.ts
  public/app/features/notebook/scene/layout-notebook/NotebookCellRenderer.tsx
  public/app/features/notebook/scene/layout-notebook/NotebookLayoutManager.test.tsx
  public/app/features/notebook/scene/layout-notebook/NotebookLayoutManager.tsx
  public/app/features/notebook/scene/layout-notebook/cells/CodeCell.test.tsx
  public/app/features/notebook/scene/layout-notebook/cells/CodeCell.tsx
  public/app/features/notebook/scene/layout-notebook/cells/cellTypeRegistry.ts
  public/app/features/notebook/urls.test.ts
  public/app/features/notebook/urls.ts
  public/locales/en-US/grafana.json
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Annotations: use `contains` param when searching tags via proxy (#130590)
  pkg/services/annotations/annotationsapi/api_client.go
  pkg/services/annotations/annotationsapi/api_client_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

User: treat whitespace normalization as an Update identity change
  pkg/services/user/userimpl/store.go
  pkg/services/user/userimpl/user_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

prettier
  packages/grafana-data/src/datetime/luxon_moment_compat/format.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

TraceView: Add padding around event popover title
  public/app/features/explore/TraceView/components/TraceTimelineViewer/SpanDetail/AccordionLogs.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

TableNG: Add hidden sortable field option adjacent to filterable (#130625)
  packages/grafana-schema/src/common/common.gen.ts
  packages/grafana-schema/src/common/table.cue
  packages/grafana-ui/src/components/Table/TableNG/components/HeaderCell.test.tsx
  packages/grafana-ui/src/components/Table/TableNG/components/HeaderCell.tsx
  packages/grafana-ui/src/components/Table/TableNG/render-hooks.test.tsx
  packages/grafana-ui/src/components/Table/TableNG/render-hooks.tsx
Due: pr-verify-storybook, pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Table: Add jsdom shims for react-data-grid (TableNG) in tests
  public/test/jest-setup.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Table: Remove local scrollIntoView shims made redundant by the global one
  packages/grafana-ui/src/components/Table/TableNG/TableNG.test.tsx
  public/app/plugins/panel/logstable/LogsTable.test.tsx
Due: pr-verify-storybook, pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

feat(configprovider): add GetSections to the config provider interface
  pkg/configprovider/configprovider.go
  pkg/configprovider/configprovider_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

TableNG: Honor the hideHeader field option in the header cell
  packages/grafana-ui/src/components/Table/TableNG/components/HeaderCell.test.tsx
  packages/grafana-ui/src/components/Table/TableNG/components/HeaderCell.tsx
Due: pr-verify-storybook, pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Path conditions:
  pr-verify-drone: any of: scripts/drone/**, .drone.yml, .drone.star, but not: docs/**, *.md
  pr-verify-starlark: any of: scripts/drone/**, .drone.star, but not: docs/**, *.md
  pr-verify-storybook: any of: packages/grafana-ui/**, but not: docs/**, *.md
  pr-test-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-lint-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-test-backend: any of: Makefile, pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, docs/sources/setup-grafana/configure-grafana/feature-toggles/**, devenv/**, but not: docs/**, *.md
  pr-lint-backend: any of: .golangci.toml, Makefile, pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, .bingo/**, but not: docs/**, *.md
  pr-build-e2e: any file but: *.md, docs/**, latest.json
  end-to-end-tests-cloud-plugins-suite-azure: any of: pkg/tsdb/azuremonitor/**, public/app/plugins/datasource/azuremonitor/**, e2e/cloud-plugins-suite/azure-monitor.spec.ts
  build-storybook: any of: packages/grafana-ui/**
  pr-integration-tests: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, but not: docs/**, *.md
  pr-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  pr-shellcheck: any of: scripts/**/*.sh, but not: *.md, docs/**, latest.json
  main-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  main-test-frontend: any file but: *.md, docs/**, latest.json
  main-lint-frontend: any file but: *.md, docs/**, latest.json
  main-test-backend: any file but: *.md, docs/**, latest.json
  main-lint-backend: any file but: *.md, docs/**, latest.json
  main-verify-storybook: any file but: *.md, docs/**, latest.json
  main-build-e2e-publish: any file but: *.md, docs/**, latest.json
  store-storybook: any of: packages/grafana-ui/**
  release-canary-npm-packages: any of: packages/**
  main-integration-tests: any file but: *.md, docs/**, latest.json
  main-trigger-downstream: any file but: *.md, docs/**, latest.json
  main-notify: any file but: *.md, docs/**, latest.json
  rgm-main-prerelease: any file but: *.md, docs/**, packages/**/*.md, latest.json
