Repository grafana/grafana: changes, and which Drone steps are due for each by the changed paths.
All: pr-verify-drone, pr-verify-starlark, pr-verify-storybook, pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, end-to-end-tests-cloud-plugins-suite-azure, build-storybook, pr-integration-tests, pr-docs, pr-shellcheck, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

pr-verify-drone:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.20.3
    name: identify-runner
  - commands:
    - go build -o ./bin/build -ldflags '-extldflags -static' ./pkg/build/cmd
    depends_on: []
    environment:
      CGO_ENABLED: 0
    image: golang:1.23.1-alpine
    name: compile-build-cmd
  - commands:
  ...

pr-verify-starlark:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.20.3
    name: identify-runner
  - commands:
    - go install github.com/bazelbuild/buildtools/buildifier@latest
    - buildifier --lint=warn -mode=check -r .
    depends_on: []
    image: golang:1.23.1-alpine
    name: lint-starlark

pr-verify-storybook:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.20.3
    name: identify-runner
  - commands:
    - yarn install --immutable || yarn install --immutable
    depends_on: []
    image: node:22.11.0-alpine
    name: yarn-install
  - commands:
    - yarn storybook --quiet
    depends_on:
    - yarn-install
  ...

pr-test-frontend:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.20.3
    name: identify-runner
  - commands:
    - yarn install --immutable || yarn install --immutable
    depends_on: []
    image: node:22.11.0-alpine
    name: yarn-install
  - commands:
    - apk add --update git bash
    - yarn betterer ci
  ...

pr-lint-frontend:
  steps:
  - commands:
    - echo $(/usr/bin/github-app-external-token) > /github-app/token
    environment:
      GITHUB_APP_ID:
        from_secret: github-app-app-id
      GITHUB_APP_INSTALLATION_ID:
        from_secret: github-app-installation-id
      GITHUB_APP_PRIVATE_KEY:
  ...

pr-test-backend:
  steps:
  - commands:
    - echo $(/usr/bin/github-app-external-token) > /github-app/token
    environment:
      GITHUB_APP_ID:
        from_secret: github-app-app-id
      GITHUB_APP_INSTALLATION_ID:
        from_secret: github-app-installation-id
      GITHUB_APP_PRIVATE_KEY:
  ...

pr-lint-backend:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.20.3
    name: identify-runner
  - commands:
    - go build -o ./bin/build -ldflags '-extldflags -static' ./pkg/build/cmd
    depends_on: []
    environment:
      CGO_ENABLED: 0
    image: golang:1.23.1-alpine
    name: compile-build-cmd
  - commands:
  ...

pr-build-e2e:
  steps:
  - commands:
    - echo $(/usr/bin/github-app-external-token) > /github-app/token
    environment:
      GITHUB_APP_ID:
        from_secret: github-app-app-id
      GITHUB_APP_INSTALLATION_ID:
        from_secret: github-app-installation-id
      GITHUB_APP_PRIVATE_KEY:
  ...

end-to-end-tests-cloud-plugins-suite-azure:
  commands:
  - GITHUB_TOKEN=$(cat /github-app/token)
  - cd /
  - ./cpp-e2e/scripts/ci-run.sh azure ${DRONE_SOURCE_BRANCH}
  depends_on:
  - grafana-server
  - github-app-generate-token
  environment:
    AZURE_SP_APP_ID:
      from_secret: azure_sp_app_id
    AZURE_SP_PASSWORD:
      from_secret: azure_sp_app_pw
  ...

refactor(provisioning): move CachelessCronSource to unified, gate on config
  pkg/registry/apis/provisioning/informer/cachelesscronsource_test.go
  pkg/storage/unified/informer/cachelesscronsource.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

CodeMirror: Add SQL dialect configuration (#126966)
  packages/grafana-ui/src/components/CodeMirror/CodeEditor.test.tsx
  packages/grafana-ui/src/components/CodeMirror/CodeEditor.tsx
  packages/grafana-ui/src/components/CodeMirror/languageLoader.test.ts
  packages/grafana-ui/src/components/CodeMirror/languageLoader.ts
  packages/grafana-ui/src/components/CodeMirror/types.ts
  packages/grafana-ui/src/components/CodeMirror/useLanguageExtension.ts
  packages/grafana-ui/src/unstable.ts
  public/app/features/expressions/components/SqlExpressions/SqlEditor/SqlEditor.tsx
Due: pr-verify-storybook, pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

refactor(provisioning): complete cacheless move + config-flag gating
  pkg/operators/provisioning/jobs_operator.go
  pkg/registry/apis/provisioning/informer/historicjob.go
  pkg/registry/apis/provisioning/informer/historicjob_test.go
  pkg/registry/apis/provisioning/register.go
  pkg/storage/unified/informer/cachelesscronsource_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Provisioning: Use provider PR merge refs for Git Sync previews (hacky)
  apps/provisioning/pkg/repository/git/repository.go
  pkg/registry/apis/provisioning/webhooks/pullrequest/worker.go
  pkg/registry/apis/provisioning/webhooks/pullrequest/worker_test.go
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Revert "Provisioning: Use provider PR merge refs for Git Sync previews (hacky)"
  apps/provisioning/pkg/repository/git/repository.go
  pkg/registry/apis/provisioning/webhooks/pullrequest/worker.go
  pkg/registry/apis/provisioning/webhooks/pullrequest/worker_test.go
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Provisioning: diff pull requests against provider merge refs
  apps/provisioning/pkg/repository/git/repository.go
  apps/provisioning/pkg/repository/github/webhook.go
  apps/provisioning/pkg/repository/repository.go
  pkg/registry/apis/provisioning/webhooks/pullrequest/worker.go
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Provisioning: integration coverage for merge ref diffs and fallback
  pkg/tests/apis/provisioning/git/comparefiles/compare_files_test.go
  pkg/tests/apis/provisioning/git/webhook/webhook_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Provisioning: cover pull request ref resolution and fallback
  apps/provisioning/pkg/repository/git/branch_test.go
  apps/provisioning/pkg/repository/git/repository_test.go
  apps/provisioning/pkg/repository/github/webhook_test.go
  pkg/registry/apis/provisioning/webhooks/pullrequest/worker_test.go
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Provisioning: regenerate repository mocks
  apps/provisioning/pkg/repository/git/git_repository_mock.go
  apps/provisioning/pkg/repository/github/github_repository_mock.go
  apps/provisioning/pkg/repository/pull_request_repo_mock.go
  apps/provisioning/pkg/repository/versioned_mock.go
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Provisioning: Test root folder creation for folder and folderless sync modes
  pkg/tests/apis/provisioning/root_folder_sync_modes_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

refactor(provisioning): rename cacheless source to CachelessPeriodicListerInformer
  pkg/registry/apis/provisioning/informer/historicjob.go
  pkg/registry/apis/provisioning/informer/historicjob_test.go
  pkg/storage/unified/informer/cachelesscronsource.go
  pkg/storage/unified/informer/cachelessperiodiclisterinformer.go
  pkg/storage/unified/informer/cachelessperiodiclisterinformer_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

refactor(provisioning): rename to CachelessPeriodicInformer
  pkg/registry/apis/provisioning/informer/historicjob.go
  pkg/registry/apis/provisioning/informer/historicjob_test.go
  pkg/storage/unified/informer/cachelessperiodicinformer.go
  pkg/storage/unified/informer/cachelessperiodicinformer_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

chore: make test more robust
  public/app/features/dashboard-scene/panel-edit/PanelEditNext/PanelDataPaneNext.test.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Provisioning: Wait for folders to settle in root-folder sync-mode tests
  pkg/tests/apis/provisioning/root_folder_sync_modes_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Use uppercase SQL keyword completions
  packages/grafana-ui/src/components/CodeMirror/CodeEditor.test.tsx
  packages/grafana-ui/src/components/CodeMirror/CodeEditor.tsx
  packages/grafana-ui/src/components/CodeMirror/languageLoader.test.ts
  packages/grafana-ui/src/components/CodeMirror/languageLoader.ts
  packages/grafana-ui/src/components/CodeMirror/types.ts
  packages/grafana-ui/src/components/CodeMirror/useLanguageExtension.ts
  public/app/features/expressions/components/SqlExpressions/SqlEditor/SqlEditor.tsx
Due: pr-verify-storybook, pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

DataPro (migration): Migrate `core/utils/explore.ts` (re-land) (#128134)
  public/app/core/utils/explore.test.ts
  public/app/core/utils/explore.ts
  public/app/features/explore/state/query.test.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Provisioning: Move folder permission assertions to common package
  pkg/tests/apis/provisioning/common/permissions.go
  pkg/tests/apis/provisioning/root_folder_sync_modes_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Clarify ESLint automation PR and memory rules
  eslint-tech-debt-automation.md
Due: pr-docs, main-docs

Provisioning: update hand-written fakes for variadic CompareFiles
  pkg/registry/apis/provisioning/history_test.go
  pkg/registry/apis/provisioning/jobs/sync/sync_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Chore: fix eslint suppressions — no-locale-compare in RolePickerMenu
  eslint-suppressions.json
  public/app/core/components/RolePicker/RolePickerMenu.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Use SQL editor keyword source for uppercase completions
  packages/grafana-ui/src/components/CodeMirror/CodeEditor.test.tsx
  packages/grafana-ui/src/components/CodeMirror/CodeEditor.tsx
  packages/grafana-ui/src/components/CodeMirror/languageLoader.test.ts
  packages/grafana-ui/src/components/CodeMirror/languageLoader.ts
  packages/grafana-ui/src/components/CodeMirror/types.ts
  packages/grafana-ui/src/components/CodeMirror/useLanguageExtension.ts
  public/app/features/expressions/components/SqlExpressions/SqlEditor/SqlEditor.test.tsx
  public/app/features/expressions/components/SqlExpressions/SqlEditor/SqlEditor.tsx
Due: pr-verify-storybook, pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

attributes for err
  apps/provisioning/pkg/repository/github/impl.go
  apps/provisioning/pkg/repository/github/impl_test.go
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

CodeMirror: Address SQL dialect feedback
  packages/grafana-ui/src/components/CodeMirror/languageLoader.test.ts
  packages/grafana-ui/src/components/CodeMirror/languageLoader.ts
Due: pr-verify-storybook, pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Type CodeMirror SQL dialect loading in language loader (#128138)
  packages/grafana-ui/src/components/CodeMirror/languageLoader.test.ts
  packages/grafana-ui/src/components/CodeMirror/languageLoader.ts
Due: pr-verify-storybook, pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

unified-storage: use the same KV when running shared tests
  pkg/storage/unified/resource/lease/lease_test.go
  pkg/storage/unified/testing/kv.go
  pkg/storage/unified/testing/kv_test.go
  pkg/storage/unified/testing/lease.go
  pkg/storage/unified/testing/lease_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

CommandPalette: Instrument deep search results shown event
  public/app/features/commandPalette/CommandPalette.test.tsx
  public/app/features/commandPalette/CommandPalette.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Alerting: use Grafana service identity for folder service calls
  pkg/services/ngalert/store/alert_rule.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

alerting: track import method analytics in import to gma
  public/app/features/alerting/unified/Analytics.ts
  public/app/features/alerting/unified/components/import-to-gma/ConfirmConvertModal.tsx
  public/app/features/alerting/unified/components/import-to-gma/ImportToGMA.test.tsx
  public/app/features/alerting/unified/components/import-to-gma/ImportToGMA.tsx
  public/app/features/alerting/unified/components/import-to-gma/Wizard/types.ts
  public/app/features/alerting/unified/components/import-to-gma/steps/StepReviewEnableAutoSync.test.tsx
  public/app/features/alerting/unified/components/import-to-gma/steps/StepReviewEnableAutoSync.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

CodeMirror: Add capitalized keywords for SQL autocomplete
  packages/grafana-ui/src/components/CodeMirror/CodeEditor.test.tsx
  packages/grafana-ui/src/components/CodeMirror/CodeEditor.tsx
  packages/grafana-ui/src/components/CodeMirror/languageLoader.test.ts
  packages/grafana-ui/src/components/CodeMirror/languageLoader.ts
  public/app/features/expressions/components/SqlExpressions/SqlEditor/SqlEditor.test.tsx
  public/app/features/expressions/components/SqlExpressions/SqlEditor/SqlEditor.tsx
Due: pr-verify-storybook, pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Throw error with current limitation regarding expressions on both mixed and not mixed datasources
  public/app/plugins/datasource/mixed/MixedDataSource.test.ts
  public/app/plugins/datasource/mixed/MixedDataSource.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

fix(settings): Register [dashboard_cleanup] in default config so env overrides apply
  conf/defaults.ini
  conf/sample.ini
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Explore: default trace-to-logs span/trace ID filtering to on
  packages/grafana-o11y-ds-frontend/src/TraceToLogs/TraceToLogsSettings.test.tsx
  packages/grafana-o11y-ds-frontend/src/TraceToLogs/TraceToLogsSettings.tsx
  public/app/features/explore/TraceView/TraceView.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

update `runTestKVConcurrent`
  pkg/storage/unified/testing/kv.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

chore(annotations): integrate soft-deletion with migration proxy
  pkg/services/annotations/annotationsapi/api_client.go
  pkg/services/annotations/annotationsapi/handler.go
  pkg/services/annotations/annotationsapi/handler_test.go
  pkg/services/annotations/annotationsapi/migration_repository.go
  pkg/services/annotations/annotationsapi/migration_repository_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Alerting: add backwards compatibility test for notification settings object in rules API (#127475)
  pkg/tests/apis/alerting/rules/alertrule/alertrule_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

lint
  packages/grafana-ui/src/components/CodeMirror/CodeEditor.test.tsx
Due: pr-verify-storybook, pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

unified-storage: use the same KV when running shared tests (#128140)
  pkg/storage/unified/resource/lease/lease_test.go
  pkg/storage/unified/testing/kv.go
  pkg/storage/unified/testing/kv_test.go
  pkg/storage/unified/testing/lease.go
  pkg/storage/unified/testing/lease_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Extract core Wire graph into bootstrap/wire package (GE standalone step 01).
  Makefile
  pkg/cmd/grafana/main.go
  pkg/server/bootstrap/wire/doc.go
  pkg/server/bootstrap/wire/inject.go
  pkg/server/bootstrap/wire/oss_ext.go
  pkg/server/bootstrap/wire/register_oss.go
  pkg/server/bootstrap/wire/sets.go
  pkg/server/bootstrap/wire/wire_gen.go
  pkg/server/doc.go
  pkg/server/initialize_oss.go
  pkg/server/wire.go
  pkg/server/wire_core.go
  pkg/server/wire_gen.go
  pkg/server/wire_helpers.go
  pkg/server/wire_subinject_oss.go
  pkg/server/wireext/doc.go
  pkg/server/wireext/oss.go
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

babysit: Regenerate OpenAPI spec and API clients for rule search
  packages/grafana-api-clients/src/clients/rtkq/rules.alerting/v0alpha1/endpoints.gen.ts
  packages/grafana-openapi/src/apis/rules.alerting.grafana.app-v0alpha1.json
  pkg/tests/apis/openapi_snapshots/rules.alerting.grafana.app-v0alpha1.json
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Path conditions:
  pr-verify-drone: any of: scripts/drone/**, .drone.yml, .drone.star, but not: docs/**, *.md
  pr-verify-starlark: any of: scripts/drone/**, .drone.star, but not: docs/**, *.md
  pr-verify-storybook: any of: packages/grafana-ui/**, but not: docs/**, *.md
  pr-test-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-lint-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-test-backend: any of: Makefile, pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, docs/sources/setup-grafana/configure-grafana/feature-toggles/**, devenv/**, but not: docs/**, *.md
  pr-lint-backend: any of: .golangci.toml, Makefile, pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, .bingo/**, but not: docs/**, *.md
  pr-build-e2e: any file but: *.md, docs/**, latest.json
  end-to-end-tests-cloud-plugins-suite-azure: any of: pkg/tsdb/azuremonitor/**, public/app/plugins/datasource/azuremonitor/**, e2e/cloud-plugins-suite/azure-monitor.spec.ts
  build-storybook: any of: packages/grafana-ui/**
  pr-integration-tests: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, but not: docs/**, *.md
  pr-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  pr-shellcheck: any of: scripts/**/*.sh, but not: *.md, docs/**, latest.json
  main-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  main-test-frontend: any file but: *.md, docs/**, latest.json
  main-lint-frontend: any file but: *.md, docs/**, latest.json
  main-test-backend: any file but: *.md, docs/**, latest.json
  main-lint-backend: any file but: *.md, docs/**, latest.json
  main-verify-storybook: any file but: *.md, docs/**, latest.json
  main-build-e2e-publish: any file but: *.md, docs/**, latest.json
  store-storybook: any of: packages/grafana-ui/**
  release-canary-npm-packages: any of: packages/**
  main-integration-tests: any file but: *.md, docs/**, latest.json
  main-trigger-downstream: any file but: *.md, docs/**, latest.json
  main-notify: any file but: *.md, docs/**, latest.json
  rgm-main-prerelease: any file but: *.md, docs/**, packages/**/*.md, latest.json
