Repository grafana/grafana: changes, and which Drone steps are due for each by the changed paths.
All: pr-verify-drone, pr-verify-starlark, pr-build-e2e, end-to-end-tests-cloud-plugins-suite-azure, build-storybook, pr-docs, main-docs, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-trigger-downstream, main-notify, rgm-main-prerelease

Path conditions:
  pr-verify-drone: any of: scripts/drone/**, .drone.yml, .drone.star, but not: docs/**, *.md
  pr-verify-starlark: any of: scripts/drone/**, .drone.star, but not: docs/**, *.md
  pr-build-e2e: any file but: *.md, docs/**, latest.json
  end-to-end-tests-cloud-plugins-suite-azure: any of: pkg/tsdb/azuremonitor/**, public/app/plugins/datasource/azuremonitor/**, e2e/cloud-plugins-suite/azure-monitor.spec.ts
  build-storybook: any of: packages/grafana-ui/**
  pr-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  main-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  main-build-e2e-publish: any file but: *.md, docs/**, latest.json
  store-storybook: any of: packages/grafana-ui/**
  release-canary-npm-packages: any of: packages/**
  main-trigger-downstream: any file but: *.md, docs/**, latest.json
  main-notify: any file but: *.md, docs/**, latest.json
  rgm-main-prerelease: any file but: *.md, docs/**, packages/**/*.md, latest.json

template tests
  pkg/registry/apis/iam/resourcepermission/queries/permission_remove.sql
  pkg/registry/apis/iam/resourcepermission/templates.go
  pkg/registry/apis/iam/resourcepermission/templates_test.go
  pkg/registry/apis/iam/resourcepermission/testdata/mysql--permission_remove-remove_permission.sql
  pkg/registry/apis/iam/resourcepermission/testdata/postgres--permission_remove-remove_permission.sql
  pkg/registry/apis/iam/resourcepermission/testdata/sqlite--permission_remove-remove_permission.sql
Due: pr-build-e2e, main-build-e2e-publish, main-trigger-downstream, main-notify, rgm-main-prerelease

Log details: column sizing and JSON values (#110807)
  public/app/features/logs/components/panel/LogLineDetails.test.tsx
  public/app/features/logs/components/panel/LogLineDetailsFields.tsx
  public/app/features/logs/components/panel/LogLineDetailsLinks.tsx
Due: pr-build-e2e, main-build-e2e-publish, main-trigger-downstream, main-notify, rgm-main-prerelease

merge main
  pkg/services/apiserver/options/extra.go
Due: pr-build-e2e, main-build-e2e-publish, main-trigger-downstream, main-notify, rgm-main-prerelease

Provisioning: Add k8s annotations for legacy folder provisioning (#110827)
  pkg/registry/apis/folders/conversions.go
  pkg/services/dashboards/dashboard.go
  pkg/services/dashboards/dashboard_provisioning_mock.go
  pkg/services/dashboards/service/dashboard_service.go
  pkg/services/dashboards/service/dashboard_service_test.go
  pkg/services/folder/folderimpl/folder_unifiedstorage.go
  pkg/services/folder/model.go
  pkg/services/provisioning/alerting/rules_provisioner.go
  pkg/services/provisioning/dashboards/dashboard.go
  pkg/services/provisioning/dashboards/file_reader.go
Due: pr-build-e2e, main-build-e2e-publish, main-trigger-downstream, main-notify, rgm-main-prerelease

Remove logs
  public/app/features/connections/components/FeatureHighlightsTabPage.tsx
Due: pr-build-e2e, main-build-e2e-publish, main-trigger-downstream, main-notify, rgm-main-prerelease

tests added
  public/app/core/selectors/navModel.test.ts
Due: pr-build-e2e, main-build-e2e-publish, main-trigger-downstream, main-notify, rgm-main-prerelease

Provisioning: Configurable Repository Types in monolith and operators (#110822)
  apps/provisioning/pkg/repository/factory.go
  apps/provisioning/pkg/repository/factory_test.go
  pkg/operators/provisioning/config.go
  pkg/registry/apis/provisioning/extras/register.go
  pkg/registry/apis/wireset.go
  pkg/server/wire_gen.go
  pkg/setting/setting.go
  pkg/tests/apis/provisioning/repository_test.go
Due: pr-build-e2e, main-build-e2e-publish, main-trigger-downstream, main-notify, rgm-main-prerelease

expect 34
  pkg/tests/apis/openapi_test.go
Due: pr-build-e2e, main-build-e2e-publish, main-trigger-downstream, main-notify, rgm-main-prerelease

Remove unused style
  public/app/features/connections/components/FeatureHighlightsTabPage.tsx
Due: pr-build-e2e, main-build-e2e-publish, main-trigger-downstream, main-notify, rgm-main-prerelease

Use absolute URL for checkbox image to avoid issue on Firefox (#62)
  public/app/features/variables/pickers/shared/VariableOptions.tsx
Due: pr-build-e2e, main-build-e2e-publish, main-trigger-downstream, main-notify, rgm-main-prerelease

refactor(histogram): move Histogram code to in-repo plugin package
  packages/grafana-histogram/CHANGELOG.md
  packages/grafana-histogram/LICENSE_APACHE2
  packages/grafana-histogram/README.md
  packages/grafana-histogram/package.json
  packages/grafana-histogram/project.json
  packages/grafana-histogram/rollup.config.ts
  packages/grafana-histogram/src/Histogram.tsx
  packages/grafana-histogram/src/HistogramPanel.tsx
  packages/grafana-histogram/src/HistogramTooltip.tsx
  packages/grafana-histogram/src/config.ts
  packages/grafana-histogram/src/index.ts
  packages/grafana-histogram/src/migrations.test.ts
  packages/grafana-histogram/src/migrations.ts
  packages/grafana-histogram/src/panelcfg.gen.ts
  packages/grafana-histogram/src/utils.ts
  packages/grafana-histogram/src/utils/duplicated.ts
  packages/grafana-histogram/tsconfig.build.json
  packages/grafana-histogram/tsconfig.json
  packages/grafana-ui/src/index.ts
Due: pr-build-e2e, build-storybook, pr-docs, main-docs, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-trigger-downstream, main-notify, rgm-main-prerelease

chore(histogram): install new in-repo package
  yarn.lock
Due: pr-build-e2e, main-build-e2e-publish, main-trigger-downstream, main-notify, rgm-main-prerelease

fix(histogram): remove CUE config, use pure TypeScript interface
  packages/grafana-histogram/src/Histogram.tsx
  packages/grafana-histogram/src/HistogramPanel.tsx
  packages/grafana-histogram/src/config.ts
  packages/grafana-histogram/src/index.ts
  packages/grafana-histogram/src/migrations.ts
  packages/grafana-histogram/src/panelcfg.gen.ts
  packages/grafana-histogram/src/types.ts
  public/app/plugins/panel/histogram/HistogramPanel.tsx
Due: pr-build-e2e, main-build-e2e-publish, release-canary-npm-packages, main-trigger-downstream, main-notify, rgm-main-prerelease

refactor(histogram): consume Histogram in-repo in Grafana via wrapper
  public/app/plugins/panel/histogram/HistogramPanel.tsx
  public/app/plugins/panel/histogram/module.tsx
Due: pr-build-e2e, main-build-e2e-publish, main-trigger-downstream, main-notify, rgm-main-prerelease

chore(codeowners): make DataViz owners of new Histogram package
  .github/CODEOWNERS
Due: pr-build-e2e, main-build-e2e-publish, main-trigger-downstream, main-notify, rgm-main-prerelease

refactor(histogram): don't reach into Grafana's global i18n translations
  packages/grafana-histogram/package.json
  packages/grafana-histogram/src/HistogramPanel.tsx
  packages/grafana-histogram/src/locales/en-US/grafana-histogram.json
  packages/grafana-histogram/src/locales/i18next-parser.config.cjs
  public/locales/en-US/grafana.json
Due: pr-build-e2e, main-build-e2e-publish, release-canary-npm-packages, main-trigger-downstream, main-notify, rgm-main-prerelease

Use the new authorizer
  pkg/registry/apis/iam/authorizer.go
  pkg/services/authz/rbac/mapper.go
  pkg/services/authz/rbac/resolver.go
  pkg/tests/apis/iam/service_account_integration_test.go
Due: pr-build-e2e, main-build-e2e-publish, main-trigger-downstream, main-notify, rgm-main-prerelease

Added vale rule skip commands
  docs/sources/panels-visualizations/visualizations/table/index.md
Due: pr-docs, main-docs

make gen toggles
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.json
Due: pr-build-e2e, pr-docs, main-docs, main-build-e2e-publish, main-trigger-downstream, main-notify, rgm-main-prerelease

Remove unused hooks
  public/app/features/connections/hooks/useDataSourceSettingsNav.ts
  public/app/features/connections/hooks/useDataSourceTabNav.ts
  public/app/features/connections/pages/DataSourceDashboardsPage.tsx
  public/app/features/datasources/components/DataSourceTabPage.tsx
Due: pr-build-e2e, main-build-e2e-publish, main-trigger-downstream, main-notify, rgm-main-prerelease

name field must match either k8s regex or grafana legacy uid regex. Adds tests.
  pkg/storage/unified/resource/datastore.go
  pkg/storage/unified/resource/datastore_test.go
Due: pr-build-e2e, main-build-e2e-publish, main-trigger-downstream, main-notify, rgm-main-prerelease

Migrate LdapPage from connect() to React-Redux hooks
  public/app/features/admin/ldap/LdapPage.tsx
Due: pr-build-e2e, main-build-e2e-publish, main-trigger-downstream, main-notify, rgm-main-prerelease

Added back shared file
  docs/sources/shared/visualizations/panel-filtering.md
Due: pr-docs, main-docs

Added shared file references
  docs/sources/dashboards/variables/add-template-variables/index.md
  docs/sources/panels-visualizations/visualizations/table/index.md
Due: pr-docs, main-docs

Do not enable by default for now
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.json
Due: pr-build-e2e, main-build-e2e-publish, release-canary-npm-packages, main-trigger-downstream, main-notify, rgm-main-prerelease

Snapshots: Fix breadcrumb when not logged in (#110820)
  public/app/core/selectors/navModel.test.ts
  public/app/features/dashboard-scene/scene/DashboardSceneRenderer.tsx
Due: pr-build-e2e, main-build-e2e-publish, main-trigger-downstream, main-notify, rgm-main-prerelease

Added shared file ref to bar chart
  docs/sources/panels-visualizations/visualizations/bar-chart/index.md
  docs/sources/shared/visualizations/panel-filtering.md
Due: pr-docs, main-docs

Vale lint
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.go
  pkg/services/featuremgmt/toggles_gen.json
Due: pr-build-e2e, pr-docs, main-docs, main-build-e2e-publish, release-canary-npm-packages, main-trigger-downstream, main-notify, rgm-main-prerelease

moves invalid test to being valid
  pkg/storage/unified/resource/datastore_test.go
Due: pr-build-e2e, main-build-e2e-publish, main-trigger-downstream, main-notify, rgm-main-prerelease

Refactoring
  public/app/features/connections/components/FeatureHighlightsTabPage/FeatureHighlightsTabPage.tsx
  public/app/features/connections/components/FeatureHighlightsTabPage/Footer.tsx
  public/app/features/connections/components/FeatureHighlightsTabPage/Footnote.tsx
  public/app/features/connections/pages/CacheFeatureHighlightPage.tsx
  public/app/features/connections/pages/InsightsFeatureHighlightPage.tsx
  public/app/features/connections/pages/PermissionsFeatureHighlightPage.tsx
Due: pr-build-e2e, main-build-e2e-publish, main-trigger-downstream, main-notify, rgm-main-prerelease

Update style and i18n
  public/app/features/connections/components/FeatureHighlightsTabPage/Footer.tsx
  public/app/features/connections/components/FeatureHighlightsTabPage/Footnote.tsx
  public/locales/en-US/grafana.json
Due: pr-build-e2e, main-build-e2e-publish, main-trigger-downstream, main-notify, rgm-main-prerelease

Updated screenshots and alt text
  docs/sources/shared/visualizations/panel-filtering.md
Due: pr-docs, main-docs

Refactoring
  public/app/features/connections/hooks/useDataSourceSettingsNav.ts
  public/app/features/connections/pages/DataSourceDashboardsPage.tsx
  public/app/features/datasources/components/DataSourceTabPage.tsx
Due: pr-build-e2e, main-build-e2e-publish, main-trigger-downstream, main-notify, rgm-main-prerelease

assert can use
  pkg/tests/apis/alerting/notifications/receivers/receiver_test.go
Due: pr-build-e2e, main-build-e2e-publish, main-trigger-downstream, main-notify, rgm-main-prerelease

Added another screenshot for bar chart interaction
  docs/sources/shared/visualizations/panel-filtering.md
Due: pr-docs, main-docs

Provisioning: Fix auth check
  pkg/storage/unified/apistore/managed.go
Due: pr-build-e2e, main-build-e2e-publish, main-trigger-downstream, main-notify, rgm-main-prerelease

WIP
  apps/correlations/Makefile
  apps/correlations/go.mod
  apps/correlations/go.sum
  apps/correlations/kinds/correlations.cue
  apps/correlations/kinds/cue.mod/module.cue
  apps/correlations/kinds/manifest.cue
  apps/correlations/pkg/apis/correlations_manifest.go
  apps/correlations/pkg/app/app.go
  go.work
  pkg/registry/apps/apps.go
  pkg/registry/apps/correlations/register.go
  pkg/registry/apps/wireset.go
  pkg/server/wire_gen.go
Due: pr-build-e2e, main-build-e2e-publish, main-trigger-downstream, main-notify, rgm-main-prerelease

support panel actions
  apps/dashboard/kinds/v2beta1/dashboard_spec.cue
  apps/dashboard/pkg/apis/dashboard/v2beta1/dashboard_spec.cue
  apps/dashboard/pkg/apis/dashboard/v2beta1/dashboard_spec_gen.go
  packages/grafana-schema/src/schema/dashboard/v2beta1/types.spec.gen.ts
  public/app/features/dashboard-scene/serialization/transformSceneToSaveModelSchemaV2.ts
  public/app/features/dashboard-scene/serialization/transformToV1TypesUtils.ts
Due: pr-build-e2e, main-build-e2e-publish, release-canary-npm-packages, main-trigger-downstream, main-notify, rgm-main-prerelease

fail to create with wrong origin
  pkg/services/ngalert/notifier/receiver_svc.go
  pkg/services/ngalert/notifier/receiver_svc_test.go
Due: pr-build-e2e, main-build-e2e-publish, main-trigger-downstream, main-notify, rgm-main-prerelease

Added content for filtering using the Dashboard data source
  docs/sources/dashboards/variables/add-template-variables/index.md
  docs/sources/shared/visualizations/panel-filtering.md
Due: pr-docs, main-docs
