Repository grafana/grafana: changes, and which Drone steps are due for each by the changed paths.
All: pr-verify-drone, pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, pr-docs, main-docs, main-test-frontend, main-test-backend, main-build-e2e-publish, trigger-test-release, main-integration-tests, main-windows, notify-drone-changes, main-publish, main-notify

pr-verify-drone:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.15.6
    name: identify-runner
  - commands:
    - mkdir -p bin
    - curl -fL -o bin/grabpl https://grafana-downloads.storage.googleapis.com/grafana-build-pipeline/v3.0.5/grabpl
    - chmod +x bin/grabpl
    image: byrnedo/alpine-curl:0.1.8
  ...

pr-test-frontend:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.15.6
    name: identify-runner
  - commands:
    - mkdir -p bin
    - curl -fL -o bin/grabpl https://grafana-downloads.storage.googleapis.com/grafana-build-pipeline/v3.0.5/grabpl
    - chmod +x bin/grabpl
    image: byrnedo/alpine-curl:0.1.8
  ...

pr-test-backend:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.15.6
    name: identify-runner
  - commands:
    - mkdir -p bin
    - curl -fL -o bin/grabpl https://grafana-downloads.storage.googleapis.com/grafana-build-pipeline/v3.0.5/grabpl
    - chmod +x bin/grabpl
    image: byrnedo/alpine-curl:0.1.8
  ...

pr-build-e2e:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.15.6
    name: identify-runner
  - commands:
    - mkdir -p bin
    - curl -fL -o bin/grabpl https://grafana-downloads.storage.googleapis.com/grafana-build-pipeline/v3.0.5/grabpl
    - chmod +x bin/grabpl
    image: byrnedo/alpine-curl:0.1.8
  ...

pr-integration-tests:
  steps:
  - commands:
    - mkdir -p bin
    - curl -fL -o bin/grabpl https://grafana-downloads.storage.googleapis.com/grafana-build-pipeline/v3.0.5/grabpl
    - chmod +x bin/grabpl
    image: byrnedo/alpine-curl:0.1.8
    name: grabpl
  - commands:
  ...

pr-docs:
  steps:
  - commands:
    - mkdir -p bin
    - curl -fL -o bin/grabpl https://grafana-downloads.storage.googleapis.com/grafana-build-pipeline/v3.0.5/grabpl
    - chmod +x bin/grabpl
    image: byrnedo/alpine-curl:0.1.8
    name: grabpl
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.15.6
  ...

main-docs:
  steps:
  - commands:
    - mkdir -p bin
    - curl -fL -o bin/grabpl https://grafana-downloads.storage.googleapis.com/grafana-build-pipeline/v3.0.5/grabpl
    - chmod +x bin/grabpl
    image: byrnedo/alpine-curl:0.1.8
    name: grabpl
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.15.6
  ...

main-test-frontend:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.15.6
    name: identify-runner
  - commands:
    - mkdir -p bin
    - curl -fL -o bin/grabpl https://grafana-downloads.storage.googleapis.com/grafana-build-pipeline/v3.0.5/grabpl
    - chmod +x bin/grabpl
    image: byrnedo/alpine-curl:0.1.8
  ...

main-test-backend:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.15.6
    name: identify-runner
  - commands:
    - mkdir -p bin
    - curl -fL -o bin/grabpl https://grafana-downloads.storage.googleapis.com/grafana-build-pipeline/v3.0.5/grabpl
    - chmod +x bin/grabpl
    image: byrnedo/alpine-curl:0.1.8
  ...

remove datasource from sqlstore
  pkg/services/accesscontrol/filter_bench_test.go
  pkg/services/accesscontrol/filter_test.go
  pkg/services/accesscontrol/resourcepermissions/store_bench_test.go
  pkg/services/export/export_ds.go
  pkg/services/export/git_export_job.go
  pkg/services/export/service.go
  pkg/services/publicdashboards/api/api_test.go
  pkg/services/sqlstore/datasource.go
  pkg/services/sqlstore/datasource_test.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

stop propagation on the header so version can be highlighted
  public/app/core/components/AppChrome/TopBar/TopNavBarMenu.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

rever previous change
  public/app/plugins/datasource/loki/datasource.test.ts
  public/app/plugins/datasource/loki/datasource.ts
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

only dispatch `initQuery` if the DS is uninitialized
  public/app/plugins/datasource/elasticsearch/components/QueryEditor/ElasticsearchQueryContext.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Use generic style names
  public/app/plugins/datasource/jaeger/CheatSheet.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Rephrase to avoid 'click here' phrasing for links
  public/app/plugins/datasource/jaeger/CheatSheet.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Docs: adding setup, provisioning docs
  docs/sources/alerting/fundamentals/_index.md
  docs/sources/alerting/set-up/_index.md
  docs/sources/alerting/set-up/configure-alertmanager/index.md
  docs/sources/alerting/set-up/provision-alerting-resources/index.md
Due: pr-docs, main-docs

add set up, alertmanager
  docs/sources/alerting/set-up/_index.md
Due: pr-docs, main-docs

Adds link to provisioning from set up page
  docs/sources/alerting/set-up/_index.md
Due: pr-docs, main-docs

renames topics in set up section
  docs/sources/alerting/set-up/_index.md
Due: pr-docs, main-docs

fixes alertmanager link
  docs/sources/alerting/set-up/_index.md
Due: pr-docs, main-docs

Refactor versions.go
  pkg/build/cmd/buildbackend.go
  pkg/build/cmd/builddocker.go
  pkg/build/cmd/buildinternalplugins.go
  pkg/build/cmd/storestorybook.go
  pkg/build/config/variant.go
  pkg/build/config/version.go
  pkg/build/config/versions.go
  pkg/build/plugins/build.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, trigger-test-release, main-integration-tests, main-windows, main-publish, main-notify

Fix header/footer not sticky (#55285)
  .betterer.results
  packages/grafana-ui/src/components/Table/Table.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

s/ReleaseModeConfig/BuildConfig
  pkg/build/cmd/buildbackend.go
  pkg/build/cmd/builddocker.go
  pkg/build/cmd/buildinternalplugins.go
  pkg/build/cmd/storestorybook.go
  pkg/build/config/version.go
  pkg/build/plugins/build.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, trigger-test-release, main-integration-tests, main-windows, main-publish, main-notify

removing article for alertmanager
  docs/sources/alerting/set-up/_index.md
Due: pr-docs, main-docs

searchv2: add traceid to logs
  pkg/services/searchV2/index.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

remove datasource from sqlstore (#55288)
  pkg/services/accesscontrol/filter_bench_test.go
  pkg/services/accesscontrol/filter_test.go
  pkg/services/accesscontrol/resourcepermissions/store_bench_test.go
  pkg/services/export/export_ds.go
  pkg/services/export/git_export_job.go
  pkg/services/export/service.go
  pkg/services/publicdashboards/api/api_test.go
  pkg/services/sqlstore/datasource.go
  pkg/services/sqlstore/datasource_test.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Add alertmanager choice fetching
  public/app/features/alerting/unified/Receivers.tsx
  public/app/features/alerting/unified/api/alertingApi.ts
  public/app/features/alerting/unified/api/alertmanager.ts
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

CI: Refactor `versions.go` (#55238)
  pkg/build/cmd/buildbackend.go
  pkg/build/cmd/builddocker.go
  pkg/build/cmd/buildinternalplugins.go
  pkg/build/cmd/storestorybook.go
  pkg/build/config/variant.go
  pkg/build/config/version.go
  pkg/build/config/versions.go
  pkg/build/plugins/build.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, trigger-test-release, main-integration-tests, main-windows, main-publish, main-notify

Loki, Prometheus: Remove beta tag from query builder (#55150)
  public/app/plugins/datasource/loki/querybuilder/components/LokiQueryEditorSelector.tsx
  public/app/plugins/datasource/prometheus/querybuilder/components/PromQueryEditorSelector.tsx
  public/app/plugins/datasource/prometheus/querybuilder/shared/QueryEditorModeToggle.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Fix header/footer not sticky (#55285) (#55294)
  .betterer.results
  packages/grafana-ui/src/components/Table/Table.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Fix header/footer not sticky (#55285) (#55293)
  .betterer.results
  packages/grafana-ui/src/components/Table/Table.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Transfomation node from json demo
  public/app/features/scenes/core/serialization.ts
  public/app/features/scenes/scenes/index.tsx
  public/app/features/scenes/scenes/transformationNodeFromJson.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

feat(loki-monaco-editor): add monaco-logql as a dependency
  package.json
  yarn.lock
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Move fetch images from build-pipeline
  pkg/build/cmd/fetchimages.go
  pkg/build/cmd/main.go
  pkg/build/cmd/storestorybook.go
  pkg/build/config/version.go
  pkg/build/config/versions.go
  pkg/build/docker/dockerconfig.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, trigger-test-release, main-integration-tests, main-windows, main-publish, main-notify

fix(plugins): expose emotion/react to plugins to prevent load failures
  public/app/features/plugins/plugin_loader.ts
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

GH-6169 catch errors, improve types, add FN_README
  public/app/fn-app/fn-dashboard-page/render-fn-dashboard.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Modify drone
  .drone.yml
  scripts/drone/events/release.star
Due: pr-verify-drone, pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, trigger-test-release, main-integration-tests, main-windows, notify-drone-changes, main-publish, main-notify

Replace zerolog with builtin log
  pkg/build/cmd/fetchimages.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, trigger-test-release, main-integration-tests, main-windows, main-publish, main-notify

Remove duplicate type checks
  public/app/core/logsModel.test.ts
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

StatPanel: Add padding between horizontal name and value
  packages/grafana-ui/src/components/BigValue/BigValue.tsx
  packages/grafana-ui/src/components/BigValue/BigValueLayout.tsx
  public/app/plugins/panel/stat/StatPanel.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Build: Reintroduce babel for grafana-ui
  packages/grafana-ui/package.json
  packages/grafana-ui/rollup.config.ts
  yarn.lock
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Fix lint
  pkg/build/cmd/fetchimages.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, trigger-test-release, main-integration-tests, main-windows, main-publish, main-notify

Loki: Remove any type from logsModel.test.ts (#55287)
  .betterer.results
  public/app/core/logsModel.test.ts
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Mock reportInteraction in tests
  public/app/plugins/datasource/loki/querybuilder/components/QueryPatternsModal.test.tsx
  public/app/plugins/datasource/loki/querybuilder/components/QueryPatternsModal.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Add test for RemoveMetadataFromQueryData function
  pkg/services/publicdashboards/queries/dashboard_queries_test.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

OAuth: Allow assigning Server Admin (#54780)
  conf/defaults.ini
  conf/sample.ini
  devenv/docker/blocks/oauth/cloak.sql
  devenv/docker/blocks/oauth/readme.md
  docs/sources/setup-grafana/configure-security/configure-authentication/azuread.md
  docs/sources/setup-grafana/configure-security/configure-authentication/generic-oauth.md
  docs/sources/setup-grafana/configure-security/configure-authentication/github.md
  docs/sources/setup-grafana/configure-security/configure-authentication/gitlab.md
  docs/sources/setup-grafana/configure-security/configure-authentication/okta.md
  pkg/api/login_oauth.go
  pkg/login/social/azuread_oauth.go
  pkg/login/social/azuread_oauth_test.go
  pkg/login/social/errors.go
  pkg/login/social/generic_oauth.go
  pkg/login/social/generic_oauth_test.go
  pkg/login/social/github_oauth.go
  pkg/login/social/github_oauth_test.go
  pkg/login/social/gitlab_oauth.go
  pkg/login/social/okta_oauth.go
  pkg/login/social/social.go
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, pr-docs, main-docs, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Add comment explaining verbose validity logic
  public/app/core/utils/explore.ts
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Path conditions:
  pr-verify-drone: any of: scripts/drone/**, .drone.yml, .drone.star, but not: docs/**, *.md
  pr-test-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-test-backend: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, but not: docs/**, *.md
  pr-build-e2e: any file but: *.md, docs/**, latest.json
  pr-integration-tests: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, but not: docs/**, *.md
  pr-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  main-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  main-test-frontend: any file but: *.md, docs/**, latest.json
  main-test-backend: any file but: *.md, docs/**, latest.json
  main-build-e2e-publish: any file but: *.md, docs/**, latest.json
  trigger-test-release: any of: .drone.yml, pkg/build/**
  main-integration-tests: any file but: *.md, docs/**, latest.json
  main-windows: any file but: *.md, docs/**, latest.json
  notify-drone-changes: any of: .drone.yml, but not: exclude
  main-publish: any file but: *.md, docs/**, latest.json
  main-notify: any file but: *.md, docs/**, latest.json
