Repository grafana/grafana: changes, and which Drone steps are due for each by the changed paths.
All: pr-verify-drone, pr-verify-starlark, pr-verify-storybook, pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, end-to-end-tests-cloud-plugins-suite-azure, build-storybook, pr-integration-tests, pr-docs, pr-shellcheck, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Path conditions:
  pr-verify-drone: any of: scripts/drone/**, .drone.yml, .drone.star, but not: docs/**, *.md
  pr-verify-starlark: any of: scripts/drone/**, .drone.star, but not: docs/**, *.md
  pr-verify-storybook: any of: packages/grafana-ui/**, but not: docs/**, *.md
  pr-test-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-lint-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-test-backend: any of: Makefile, pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, docs/sources/setup-grafana/configure-grafana/feature-toggles/**, devenv/**, but not: docs/**, *.md
  pr-lint-backend: any of: .golangci.toml, Makefile, pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, .bingo/**, but not: docs/**, *.md
  pr-build-e2e: any file but: *.md, docs/**, latest.json
  end-to-end-tests-cloud-plugins-suite-azure: any of: pkg/tsdb/azuremonitor/**, public/app/plugins/datasource/azuremonitor/**, e2e/cloud-plugins-suite/azure-monitor.spec.ts
  build-storybook: any of: packages/grafana-ui/**
  pr-integration-tests: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, but not: docs/**, *.md
  pr-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  pr-shellcheck: any of: scripts/**/*.sh, but not: *.md, docs/**, latest.json
  main-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  main-test-frontend: any file but: *.md, docs/**, latest.json
  main-lint-frontend: any file but: *.md, docs/**, latest.json
  main-test-backend: any file but: *.md, docs/**, latest.json
  main-lint-backend: any file but: *.md, docs/**, latest.json
  main-verify-storybook: any file but: *.md, docs/**, latest.json
  main-build-e2e-publish: any file but: *.md, docs/**, latest.json
  store-storybook: any of: packages/grafana-ui/**
  release-canary-npm-packages: any of: packages/**
  main-integration-tests: any file but: *.md, docs/**, latest.json
  main-trigger-downstream: any file but: *.md, docs/**, latest.json
  main-notify: any file but: *.md, docs/**, latest.json
  rgm-main-prerelease: any file but: *.md, docs/**, packages/**/*.md, latest.json

Provisioning: deduplicate commit signing fields into one shared object
  public/app/features/provisioning/Wizard/fields.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Provisioning: scope empty PathValue helper to resetSigning
  public/app/features/provisioning/Config/CommitOptionsSection.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Alerting: Fix inhibition status flickering during load of alert rule detail (#126288)
  public/app/features/alerting/unified/components/rule-viewer/RuleViewer.test.tsx
  public/app/features/alerting/unified/components/rule-viewer/RuleViewer.tsx
  public/app/features/alerting/unified/hooks/useHasInhibitedInstances.ts
  public/app/features/alerting/unified/hooks/useInhibitedAlerts.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

DataSources: Make DataSourceSrv.reload() return Promise<void>
  packages/grafana-runtime/src/services/dataSourceSrv.ts
  public/app/features/explore/spec/helper/setup.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

SQLStore: exponential backoff with jitter for SQLITE_BUSY transaction retries
  conf/defaults.ini
  conf/sample.ini
  pkg/services/sqlstore/database_config.go
  pkg/services/sqlstore/transactions.go
  pkg/services/sqlstore/transactions_test.go
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Provisioning: Add dedicated Webhook section and move dashboard previews to pull request options
  public/app/features/provisioning/Config/BranchOptionsSection.test.tsx
  public/app/features/provisioning/Config/BranchOptionsSection.tsx
  public/app/features/provisioning/Config/CommitOptionsSection.test.tsx
  public/app/features/provisioning/Config/CommitOptionsSection.tsx
  public/app/features/provisioning/Config/ConfigForm.tsx
  public/app/features/provisioning/Config/ConfigFormGithubCollapse.test.tsx
  public/app/features/provisioning/Config/ConfigFormGithubCollapse.tsx
  public/app/features/provisioning/Config/GitHubDashboardPreviewField.test.tsx
  public/app/features/provisioning/Config/GitHubDashboardPreviewField.tsx
  public/app/features/provisioning/Config/PullRequestOptionsSection.test.tsx
  public/app/features/provisioning/Config/PullRequestOptionsSection.tsx
  public/app/features/provisioning/Config/WebhookSection.test.tsx
  public/app/features/provisioning/Config/WebhookSection.tsx
  public/locales/en-US/grafana.json
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Provisioning: Fix prettier formatting in branch/commit option sections
  public/app/features/provisioning/Config/BranchOptionsSection.tsx
  public/app/features/provisioning/Config/CommitOptionsSection.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

search: drive bleve field mappings from SearchFieldDefinition capabilities
  pkg/storage/unified/resource/search_field.go
  pkg/storage/unified/resource/search_field_test.go
  pkg/storage/unified/search/bleve_mappings.go
  pkg/storage/unified/search/bleve_mappings_golden_test.go
  pkg/storage/unified/search/bleve_mappings_internal_test.go
  pkg/storage/unified/search/testdata/bleve_mapping_empty.json
  pkg/storage/unified/search/testdata/bleve_mapping_filterable_string.json
  pkg/storage/unified/search/testdata/bleve_mapping_selectable_fields.json
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Provisioning: move commit signing validators into utils/validators
  public/app/features/provisioning/Config/CommitOptionsSection.tsx
  public/app/features/provisioning/utils/validators.test.ts
  public/app/features/provisioning/utils/validators.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Provisioning: Use test-utils harness instead of jest.mock in webhook/preview tests
  public/app/features/provisioning/Config/GitHubDashboardPreviewField.test.tsx
  public/app/features/provisioning/Config/WebhookSection.test.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

chore: reduce circular deps in Table utils
  packages/grafana-ui/src/components/Table/CellActions.tsx
  packages/grafana-ui/src/components/Table/Cells/BarGaugeCell.tsx
  packages/grafana-ui/src/components/Table/Cells/DefaultCell.tsx
  packages/grafana-ui/src/components/Table/Cells/ImageCell.tsx
  packages/grafana-ui/src/components/Table/Cells/JSONViewCell.tsx
  packages/grafana-ui/src/components/Table/Cells/SparklineCell.tsx
  packages/grafana-ui/src/components/Table/DataLinksActionsTooltip.tsx
  packages/grafana-ui/src/components/Table/TableNG/TableNG.tsx
  packages/grafana-ui/src/components/Table/TableRT/RowsList.tsx
  packages/grafana-ui/src/components/Table/cellUtils.ts
  packages/grafana-ui/src/components/Table/utils.test.ts
  packages/grafana-ui/src/components/Table/utils.ts
  packages/grafana-ui/src/internal/index.ts
Due: pr-verify-storybook, pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Provisioning: place trufflehog:ignore on same line as test URLs
  public/app/features/provisioning/utils/validators.test.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

SQLStore: exponential backoff with jitter for SQLITE_BUSY transaction retries (#126318)
  conf/defaults.ini
  conf/sample.ini
  pkg/services/sqlstore/database_config.go
  pkg/services/sqlstore/transactions.go
  pkg/services/sqlstore/transactions_test.go
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Provisioning: Rename GitHubDashboardPreviewField to DashboardPreviewField
  public/app/features/provisioning/Config/ConfigForm.tsx
  public/app/features/provisioning/Config/DashboardPreviewField.test.tsx
  public/app/features/provisioning/Config/DashboardPreviewField.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Dashboards: Remove legacy DashboardGrid panel layout (#126268)
  eslint-suppressions.json
  public/app/features/dashboard/components/AddLibraryPanelWidget/AddLibraryPanelWidget.tsx
  public/app/features/dashboard/components/DashboardRow/DashboardRow.test.tsx
  public/app/features/dashboard/components/DashboardRow/DashboardRow.tsx
  public/app/features/dashboard/components/RowOptions/RowOptionsButton.tsx
  public/app/features/dashboard/components/RowOptions/RowOptionsForm.test.tsx
  public/app/features/dashboard/components/RowOptions/RowOptionsForm.tsx
  public/app/features/dashboard/components/RowOptions/RowOptionsModal.tsx
  public/app/features/dashboard/dashgrid/DashboardGrid.test.tsx
  public/app/features/dashboard/dashgrid/DashboardGrid.tsx
  public/locales/en-US/grafana.json
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Provisioning: derive signing key secret in a shared helper
  public/app/features/provisioning/Config/ConfigForm.tsx
  public/app/features/provisioning/Wizard/hooks/useWizardSubmission.ts
  public/app/features/provisioning/hooks/useCreateOrUpdateRepository.ts
  public/app/features/provisioning/utils/data.test.ts
  public/app/features/provisioning/utils/data.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Provisioning: Make dashboard previews self-contained in pull request options
  public/app/features/provisioning/Config/ConfigForm.tsx
  public/app/features/provisioning/Config/DashboardPreviewField.test.tsx
  public/app/features/provisioning/Config/DashboardPreviewField.tsx
  public/app/features/provisioning/Config/PullRequestOptionsSection.test.tsx
  public/app/features/provisioning/Config/PullRequestOptionsSection.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Updates for 13.1
  docs/sources/developer-resources/api-reference/_index.md
  docs/sources/developer-resources/api-reference/http-api/_index.md
  docs/sources/developer-resources/api-reference/http-api/apis-migration.md
Due: pr-docs, main-docs

Dashboards: Remove legacy DashboardPanel render chain
  eslint-suppressions.json
  public/app/features/dashboard/dashgrid/DashboardPanel.tsx
  public/app/features/dashboard/dashgrid/LazyLoader.tsx
  public/app/features/dashboard/dashgrid/PanelHeader/PanelHeaderMenu.tsx
  public/app/features/dashboard/dashgrid/PanelHeader/PanelHeaderMenuProvider.tsx
  public/app/features/dashboard/dashgrid/PanelHeader/PanelHeaderMenuWrapper.tsx
  public/app/features/dashboard/dashgrid/PanelLoadTimeMonitor.test.tsx
  public/app/features/dashboard/dashgrid/PanelLoadTimeMonitor.tsx
  public/app/features/dashboard/dashgrid/PanelStateWrapper.test.tsx
  public/app/features/dashboard/dashgrid/PanelStateWrapper.tsx
  public/app/features/dashboard/dashgrid/liveTimer.ts
  public/app/features/dashboard/dashgrid/panelOptionsLogger.test.ts
  public/app/features/dashboard/dashgrid/panelOptionsLogger.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

unified-storage: fix flaky TestPeriodicBookmarks by ignoring context cancellation in Watch (#126285)
  pkg/storage/unified/resource/server.go
  pkg/storage/unified/resource/server_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

silence linter
  pkg/services/sqlstore/migrator/postgres_dialect.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Provisioning: Pass repoType to PullRequestOptionsSection instead of isGithub
  public/app/features/provisioning/Config/ConfigForm.tsx
  public/app/features/provisioning/Config/PullRequestOptionsSection.test.tsx
  public/app/features/provisioning/Config/PullRequestOptionsSection.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

UsageInsights: Expose option to disable the presence indicators to the frontend (#126250)
  packages/grafana-data/src/types/config.ts
  packages/grafana-runtime/src/config.ts
  pkg/api/dtos/frontend_settings.go
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

DataSources: Guard reloadDataSourceInstanceSettings against concurrent reloads
  packages/grafana-runtime/src/services/dataSource/settings.test.ts
  packages/grafana-runtime/src/services/dataSource/settings.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Fix
  docs/sources/developer-resources/api-reference/http-api/apis-migration.md
Due: pr-docs, main-docs

search: drive bleve field mappings from SearchFieldDefinition capabilities (#126280)
  pkg/storage/unified/resource/search_field.go
  pkg/storage/unified/resource/search_field_test.go
  pkg/storage/unified/search/bleve_mappings.go
  pkg/storage/unified/search/bleve_mappings_golden_test.go
  pkg/storage/unified/search/bleve_mappings_internal_test.go
  pkg/storage/unified/search/testdata/bleve_mapping_empty.json
  pkg/storage/unified/search/testdata/bleve_mapping_filterable_string.json
  pkg/storage/unified/search/testdata/bleve_mapping_selectable_fields.json
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Provisioning: mock deriveSigningKeySecret in useWizardSubmission test
  public/app/features/provisioning/Wizard/hooks/useWizardSubmission.test.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Prettier
  docs/sources/developer-resources/api-reference/http-api/apis-migration.md
Due: pr-docs, main-docs

Provisioning: Align wizard FinishStep with ConfigForm sections
  public/app/features/provisioning/Config/ConfigForm.tsx
  public/app/features/provisioning/Config/WebhookSection.test.tsx
  public/app/features/provisioning/Config/WebhookSection.tsx
  public/app/features/provisioning/Wizard/FinishStep.test.tsx
  public/app/features/provisioning/Wizard/FinishStep.tsx
  public/locales/en-US/grafana.json
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Provisioning: Rename webhook section label to 'Webhook options'
  public/app/features/provisioning/Config/WebhookSection.test.tsx
  public/app/features/provisioning/Config/WebhookSection.tsx
  public/app/features/provisioning/Wizard/FinishStep.test.tsx
  public/locales/en-US/grafana.json
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

flamegraph: fix font/size changes when switching between HiDPI and standard displays
  packages/grafana-flamegraph/src/FlameGraph/FlameGraph.tsx
  packages/grafana-flamegraph/src/FlameGraph/FlameGraphCanvas.test.tsx
  packages/grafana-flamegraph/src/FlameGraph/FlameGraphCanvas.tsx
  packages/grafana-flamegraph/src/FlameGraph/rendering.test.ts
  packages/grafana-flamegraph/src/FlameGraph/rendering.ts
  packages/grafana-flamegraph/src/constants.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

fix: Ensure the split between table and flamegraph in both, remains 50% throughout zooming in and out.
  packages/grafana-flamegraph/src/FlameGraphContainer.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Beauty edit
  docs/sources/developer-resources/api-reference/http-api/apis-migration.md
Due: pr-docs, main-docs

Update text
  docs/sources/visualizations/panels-visualizations/visualizations/node-graph/index.md
Due: pr-docs, main-docs

IAM: Migrate the org users search endpoint to use k8s APIs (#126135)
  apps/iam/kinds/manifest.cue
  apps/iam/pkg/apis/iam/v0alpha1/getsearchusers_response_types_gen.go
  apps/iam/pkg/apis/iam/v0alpha1/zz_openapi_gen.go
  apps/iam/pkg/apis/iam_manifest.go
  packages/grafana-api-clients/src/clients/rtkq/legacy/endpoints.gen.ts
  packages/grafana-openapi/src/api/openapi3.json
  packages/grafana-openapi/src/apis/iam.grafana.app-v0alpha1.json
  pkg/api/org_users.go
  pkg/api/org_users_test.go
  pkg/registry/apis/iam/user/legacy_search.go
  pkg/registry/apis/iam/user/search.go
  pkg/registry/apis/iam/user/search_test.go
  pkg/services/user/model.go
  pkg/services/user/userk8s/user.go
  pkg/services/user/userk8s/user_test.go
  pkg/storage/unified/search/builders/testdata/doc/user-with-last-seen-at-and-role-out.json
  pkg/storage/unified/search/builders/testdata/doc/user-with-login-and-email-out.json
  pkg/storage/unified/search/builders/testdata/doc/user-with-login-only-out.json
  pkg/storage/unified/search/builders/user.go
  pkg/tests/apis/openapi_snapshots/iam.grafana.app-v0alpha1.json
  public/api-enterprise-spec.json
  public/api-merged.json
  public/openapi3.json
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Fix tests
  pkg/registry/apis/iam/team_search_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Edits
  docs/sources/developer-resources/api-reference/http-api/apis-migration.md
Due: pr-docs, main-docs

Fixing link
  docs/sources/developer-resources/api-reference/http-api/apis-migration.md
Due: pr-docs, main-docs

Dashboards: Remove dead code orphaned by legacy panel removal
  public/app/core/log_events.ts
  public/app/core/profiler.ts
  public/app/features/dashboard/dashgrid/PanelHeader/PanelHeaderTitleItems.tsx
  public/app/features/dashboard/dashgrid/PanelLinks.tsx
  public/app/features/dashboard/utils/getPanelChromeProps.tsx
  public/app/features/dashboard/utils/loadSnapshotData.ts
  public/app/features/panel/panellinks/linkSuppliers.ts
  public/app/features/panel/state/actions.ts
  public/app/features/panel/state/reducers.ts
  public/app/plugins/datasource/grafana/utils.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Chore: Drop direct react-grid-layout dependency
  package.json
  yarn.lock
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease
