Repository grafana/grafana: changes, and which Drone steps are due for each by the changed paths.
All: pr-verify-drone, pr-verify-starlark, pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, trigger-test-release, end-to-end-tests-cloud-plugins-suite-azure, build-storybook, pr-integration-tests, pr-docs, pr-shellcheck, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, store-storybook, main-integration-tests, main-windows, notify-drone-changes, main-trigger-downstream, main-notify

Path conditions:
  pr-verify-drone: any of: scripts/drone/**, .drone.yml, .drone.star, but not: docs/**, *.md
  pr-verify-starlark: any of: scripts/drone/**, .drone.star, but not: docs/**, *.md
  pr-test-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-lint-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-test-backend: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, but not: docs/**, *.md
  pr-lint-backend: any of: pkg/**, packaging/**, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, .bingo/**, but not: docs/**, *.md
  pr-build-e2e: any file but: *.md, docs/**, latest.json
  trigger-test-release: any of: .drone.yml, pkg/build/**
  end-to-end-tests-cloud-plugins-suite-azure: any of: pkg/tsdb/azuremonitor/**, public/app/plugins/datasource/azuremonitor/**, e2e/cloud-plugins-suite/azure-monitor.spec.ts
  build-storybook: any of: packages/grafana-ui/**
  pr-integration-tests: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, but not: docs/**, *.md
  pr-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  pr-shellcheck: any of: scripts/**/*.sh, but not: *.md, docs/**, latest.json
  main-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  main-test-frontend: any file but: *.md, docs/**, latest.json
  main-lint-frontend: any file but: *.md, docs/**, latest.json
  main-test-backend: any file but: *.md, docs/**, latest.json
  main-lint-backend: any file but: *.md, docs/**, latest.json
  main-build-e2e-publish: any file but: *.md, docs/**, latest.json
  store-storybook: any of: packages/grafana-ui/**
  main-integration-tests: any file but: *.md, docs/**, latest.json
  main-windows: any file but: *.md, docs/**, latest.json
  notify-drone-changes: any of: .drone.yml, but not: exclude
  main-trigger-downstream: any file but: *.md, docs/**, latest.json
  main-notify: any file but: *.md, docs/**, latest.json

CI: Split `/bin/build artifacts *` subcommand (#66005)
  .drone.yml
  pkg/build/cmd/flags.go
  pkg/build/cmd/main.go
  pkg/build/cmd/publishartifacts.go
  pkg/build/cmd/publishconfig.go
  pkg/build/cmd/publishstaticassets.go
  pkg/build/cmd/publishstorybook.go
  pkg/build/env/fallback.go
  pkg/build/env/fallback_test.go
  pkg/build/gcloud/storage/gsutil.go
  scripts/drone/events/release.star
Due: pr-verify-drone, pr-verify-starlark, pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, trigger-test-release, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, notify-drone-changes, main-trigger-downstream, main-notify

WIP
  public/app/core/utils/explore.test.ts
  public/app/core/utils/explore.ts
  public/app/features/explore/ExplorePage.tsx
  public/app/features/explore/ExplorePaneContainer.tsx
  public/app/features/explore/hooks/useExploreCorrelations.ts
  public/app/features/explore/hooks/useExplorePageTitle.ts
  public/app/features/explore/hooks/useStateSync.ts
  public/app/features/explore/hooks/useURLSync.ts
  public/app/features/explore/hooks/utils.test.ts
  public/app/features/explore/hooks/utils.ts
  public/app/features/explore/state/explorePane.test.ts
  public/app/features/explore/state/explorePane.ts
  public/app/features/explore/state/main.ts
  public/app/features/explore/state/query.ts
  public/app/features/explore/state/utils.ts
  public/app/types/store.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Moving new db functions to their own file to ease review
  pkg/services/accesscontrol/database/database.go
  pkg/services/accesscontrol/database/database_test.go
  pkg/services/accesscontrol/database/externalservices.go
  pkg/services/accesscontrol/database/externalservices_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

scaffold new browse routes
  public/app/features/browse-dashboards/components/BrowseDashboardsPage.tsx
  public/app/features/browse-dashboards/components/NestedDashboardListPage.tsx
  public/app/routes/routes.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

load nested data
  public/app/features/browse-dashboards/BrowseDashboardsPage.tsx
  public/app/features/search/components/DashboardListPage.tsx
  public/app/features/search/service/folders.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

a part of rtk query
  public/app/core/reducers/root.ts
  public/app/features/browse-dashboards/BrowseDashboardsPage.tsx
  public/app/features/browse-dashboards/api/browseDashboardsAPI.ts
  public/app/features/browse-dashboards/components/BrowseActions.tsx
  public/app/features/browse-dashboards/components/BrowseDashboardsPage.tsx
  public/app/features/browse-dashboards/components/BrowseDashboardsView.tsx
  public/app/features/browse-dashboards/components/FolderSearchView.tsx
  public/app/features/browse-dashboards/components/FolderView.tsx
  public/app/features/browse-dashboards/components/NestedDashboardListPage.tsx
  public/app/features/browse-dashboards/components/NestedDashboardsList.tsx
  public/app/features/browse-dashboards/components/SearchView.tsx
  public/app/routes/routes.tsx
  public/app/store/configureStore.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

link nested dashboards items
  public/app/features/browse-dashboards/BrowseDashboardsPage.tsx
  public/app/features/browse-dashboards/components/BrowseView.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

.
  public/app/features/browse-dashboards/BrowseDashboardsPage.tsx
  public/app/features/browse-dashboards/components/BrowseDashboardsView.tsx
  public/app/features/browse-dashboards/components/BrowseView.tsx
  public/app/features/browse-dashboards/components/FolderSearchView.tsx
  public/app/features/browse-dashboards/components/FolderView.tsx
  public/app/features/browse-dashboards/components/NestedDashboardsList.tsx
  public/app/features/browse-dashboards/components/SearchView.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

add comment about bad code, update codeowners
  .github/CODEOWNERS
  public/app/features/browse-dashboards/components/BrowseView.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

[v9.2.x] CI: Split `/bin/build artifacts *` subcommand (#66005) (#66340)
  .drone.yml
  pkg/build/cmd/flags.go
  pkg/build/cmd/main.go
  pkg/build/cmd/publishartifacts.go
  pkg/build/cmd/publishconfig.go
  pkg/build/cmd/publishstaticassets.go
  pkg/build/cmd/publishstorybook.go
  pkg/build/env/fallback.go
  pkg/build/env/fallback_test.go
  pkg/build/gcloud/storage/gsutil.go
  scripts/drone/events/release.star
Due: pr-verify-drone, pr-verify-starlark, pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, trigger-test-release, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, notify-drone-changes, main-trigger-downstream, main-notify

Add more tests for multiple matchers
  pkg/services/ngalert/api/api_prometheus_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

refactor test
  pkg/plugins/manager/fakes/fakes.go
  pkg/plugins/manager/loader/loader_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Chore: Use maintained crypto library (#66304)
  pkg/plugins/manager/signature/manifest.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

[v9.3.x] CI: Split `/bin/build artifacts *` subcommand (#66005) (#66341)
  .drone.yml
  pkg/build/cmd/flags.go
  pkg/build/cmd/main.go
  pkg/build/cmd/publishartifacts.go
  pkg/build/cmd/publishconfig.go
  pkg/build/cmd/publishstaticassets.go
  pkg/build/cmd/publishstorybook.go
  pkg/build/env/fallback.go
  pkg/build/env/fallback_test.go
  pkg/build/gcloud/storage/gsutil.go
  scripts/drone/events/release.star
Due: pr-verify-drone, pr-verify-starlark, pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, trigger-test-release, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, notify-drone-changes, main-trigger-downstream, main-notify

Ensure we check external service roles are assigned once only
  pkg/services/accesscontrol/database/externalservices.go
  pkg/services/accesscontrol/database/externalservices_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

[v9.5.x] CI: Split `/bin/build artifacts *` subcommand (#66005) (#66345)
  .drone.yml
  pkg/build/cmd/flags.go
  pkg/build/cmd/main.go
  pkg/build/cmd/publishartifacts.go
  pkg/build/cmd/publishconfig.go
  pkg/build/cmd/publishstaticassets.go
  pkg/build/cmd/publishstorybook.go
  pkg/build/env/fallback.go
  pkg/build/env/fallback_test.go
  pkg/build/gcloud/storage/gsutil.go
  scripts/drone/events/release.star
Due: pr-verify-drone, pr-verify-starlark, pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, trigger-test-release, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, notify-drone-changes, main-trigger-downstream, main-notify

Remove unecessary variabl
  pkg/services/accesscontrol/database/externalservices.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

tidies
  public/app/features/browse-dashboards/BrowseDashboardsPage.tsx
  public/app/features/browse-dashboards/components/BrowseActions.tsx
  public/app/features/browse-dashboards/components/BrowseView.tsx
  public/app/features/browse-dashboards/components/SearchView.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

unsync times when changing history causes one of the ranges to not be in sync
  public/app/features/explore/hooks/useStateSync.ts
  public/app/features/explore/state/time.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

getAssignments -> getRoleAssignments
  pkg/services/accesscontrol/database/externalservices.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Chore: Soft failure in plugin initialization (#66210)
  pkg/plugins/manager/fakes/fakes.go
  pkg/plugins/manager/loader/loader.go
  pkg/plugins/manager/loader/loader_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Revert "Templating: Replace __data , __field and __cell_n with macros (#65324)"
  .betterer.results
  packages/grafana-data/src/field/fieldDisplay.test.ts
  packages/grafana-data/src/field/fieldDisplay.ts
  packages/grafana-data/src/field/fieldOverrides.test.ts
  packages/grafana-data/src/field/fieldOverrides.ts
  packages/grafana-data/src/field/templateProxies.test.ts
  packages/grafana-data/src/field/templateProxies.ts
  packages/grafana-data/src/types/ScopedVars.ts
  public/app/features/inspector/InspectJSONTab.tsx
  public/app/features/templating/dataMacros.test.ts
  public/app/features/templating/dataMacros.ts
  public/app/features/templating/fieldAccessorCache.ts
  public/app/features/templating/macroRegistry.ts
  public/app/features/templating/template_srv.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

[v9.4.x] CI: Split `/bin/build artifacts *` subcommand (#66005) (#66344)
  .drone.yml
  pkg/build/cmd/flags.go
  pkg/build/cmd/main.go
  pkg/build/cmd/publishartifacts.go
  pkg/build/cmd/publishconfig.go
  pkg/build/cmd/publishstaticassets.go
  pkg/build/cmd/publishstorybook.go
  pkg/build/env/fallback.go
  pkg/build/env/fallback_test.go
  pkg/build/gcloud/storage/gsutil.go
  scripts/drone/events/release.star
Due: pr-verify-drone, pr-verify-starlark, pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, trigger-test-release, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, notify-drone-changes, main-trigger-downstream, main-notify

Fix another dashboardpage test
  public/app/features/dashboard/containers/DashboardPage.test.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

NestedFolders: New Browse Dashboards views (#66003)
  .github/CODEOWNERS
  public/app/core/reducers/root.ts
  public/app/features/browse-dashboards/BrowseDashboardsPage.tsx
  public/app/features/browse-dashboards/api/browseDashboardsAPI.ts
  public/app/features/browse-dashboards/components/BrowseActions.tsx
  public/app/features/browse-dashboards/components/BrowseView.tsx
  public/app/features/browse-dashboards/components/SearchView.tsx
  public/app/features/search/components/DashboardListPage.tsx
  public/app/features/search/service/folders.ts
  public/app/routes/routes.tsx
  public/app/store/configureStore.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Apply suggestions from code review
  docs/sources/alerting/set-up/provision-alerting-resources/_index.md
Due: pr-docs, main-docs

support grafana wildcard version
  go.mod
  go.sum
  pkg/api/plugins.go
  pkg/cmd/grafana-cli/commands/install_command.go
  pkg/plugins/manager/loader/initializer/initializer.go
  pkg/plugins/repo/client.go
  pkg/plugins/repo/errors.go
  pkg/plugins/repo/ifaces.go
  pkg/plugins/repo/models.go
  pkg/plugins/repo/service.go
  pkg/plugins/repo/service_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

AzureMonitor: Traces - Add correlation API support (#65855)
  pkg/tsdb/azuremonitor/loganalytics/azure-log-analytics-datasource.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, end-to-end-tests-cloud-plugins-suite-azure, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Service accounts: Refactor to make roleOptions act as Users for service accounts (#66107)
  public/app/features/serviceaccounts/components/ServiceAccountProfile.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Fix property from merge
  pkg/tsdb/azuremonitor/loganalytics/azure-log-analytics-datasource.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, end-to-end-tests-cloud-plugins-suite-azure, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Changed comment for Close()
  pkg/plugins/localfiles.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Add tests for LocalFS
  pkg/plugins/localfiles_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Fixes to token rotation
  public/app/core/services/backend_srv.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

PR review changes
  docs/sources/setup-grafana/configure-grafana/_index.md
Due: pr-docs, main-docs

Docs: Plugins: Traacing: Removed manual instance management instructions
  docs/sources/developers/plugins/add-distributed-tracing-for-backend-plugins.md
Due: pr-docs, main-docs
