Repository grafana/grafana: changes, and which Drone steps are due for each by the changed paths.
All: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, pr-docs

Path conditions:
  pr-test-frontend: any file but: docs/**
  pr-test-backend: any file but: docs/**
  pr-build-e2e: any file but: docs/**
  pr-integration-tests: any file but: docs/**
  pr-docs: any of: docs/**, packages/**

Update dependency @microsoft/api-extractor to v7.25.0
  package.json
  yarn.lock
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests

Update dependency @microsoft/api-extractor-model to v7.18.0
  package.json
  yarn.lock
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests

Update CHANGELOG.md
  pkg/services/ngalert/CHANGELOG.md
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests

RBAC: docs, update alerting.rules write permission (#50304) (#50329)
  docs/sources/enterprise/access-control/rbac-fixed-basic-role-definitions.md
Due: pr-docs

Chore: Convert ReferenceLink.test.js to RTL
  .betterer.results
  packages/jaeger-ui-components/src/url/ReferenceLink.test.tsx
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, pr-docs

"Release: Updated versions in package to 8.5.5"
  lerna.json
  package.json
  packages/grafana-data/package.json
  packages/grafana-e2e-selectors/package.json
  packages/grafana-e2e/package.json
  packages/grafana-runtime/package.json
  packages/grafana-schema/package.json
  packages/grafana-toolkit/package.json
  packages/grafana-ui/package.json
  packages/jaeger-ui-components/package.json
  plugins-bundled/internal/input-datasource/package.json
  yarn.lock
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, pr-docs

AzureMonitor: Clean namespace when changing the resource (#50311)
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/MetricsQueryEditor/setQueryValue.test.ts
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/MetricsQueryEditor/setQueryValue.ts
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests

ReleaseNotes: Updated changelog and release notes for 8.5.5
  CHANGELOG.md
  docs/sources/release-notes/_index.md
  docs/sources/release-notes/release-notes-8-5-5.md
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, pr-docs

base sql editor
  package.json
  public/app/plugins/datasource/mysql/MySqlDatasource.ts
  public/app/plugins/datasource/mysql/MySqlQueryModel.ts
  public/app/plugins/datasource/mysql/module copy.ts
  public/app/plugins/datasource/mysql/mySqlMetaQuery.ts
  public/app/plugins/datasource/mysql/query_ctrl copy.ts
  public/app/plugins/datasource/mysql/specs/datasource.test.ts
  public/app/plugins/datasource/sql/components/ConfirmModal.tsx
  public/app/plugins/datasource/sql/components/DatasetSelector.tsx
  public/app/plugins/datasource/sql/components/ErrorBoundary.tsx
  public/app/plugins/datasource/sql/components/QueryEditor.tsx
  public/app/plugins/datasource/sql/components/QueryHeader.tsx
  public/app/plugins/datasource/sql/components/TableSelector.tsx
  public/app/plugins/datasource/sql/components/query-editor-raw/QueryEditorRaw.tsx
  public/app/plugins/datasource/sql/components/query-editor-raw/QueryToolbox.tsx
  public/app/plugins/datasource/sql/components/query-editor-raw/QueryValidator.tsx
  public/app/plugins/datasource/sql/components/query-editor-raw/RawEditor.tsx
  public/app/plugins/datasource/sql/components/query-editor-raw/sqlCompletionProvider.ts
  public/app/plugins/datasource/sql/components/visual-query-builder/AwesomeQueryBuilder.tsx
  public/app/plugins/datasource/sql/components/visual-query-builder/GroupByRow.tsx
  public/app/plugins/datasource/sql/components/visual-query-builder/OrderByRow.tsx
  public/app/plugins/datasource/sql/components/visual-query-builder/Preview.tsx
  public/app/plugins/datasource/sql/components/visual-query-builder/SQLGroupByRow.tsx
  public/app/plugins/datasource/sql/components/visual-query-builder/SQLOrderByRow.tsx
  public/app/plugins/datasource/sql/components/visual-query-builder/SQLSelectRow.tsx
  public/app/plugins/datasource/sql/components/visual-query-builder/SQLWhereRow.tsx
  public/app/plugins/datasource/sql/components/visual-query-builder/SelectRow.tsx
  public/app/plugins/datasource/sql/components/visual-query-builder/VisualEditor.tsx
  public/app/plugins/datasource/sql/components/visual-query-builder/WhereRow.tsx
  public/app/plugins/datasource/sql/constants.ts
  public/app/plugins/datasource/sql/datasource/datasource.ts
  public/app/plugins/datasource/sql/defaults.ts
  public/app/plugins/datasource/sql/expressions.ts
  public/app/plugins/datasource/sql/types.ts
  public/app/plugins/datasource/sql/utils/formatSQL.ts
  public/app/plugins/datasource/sql/utils/sql.utils.ts
  public/app/plugins/datasource/sql/utils/useColumns.ts
  public/app/plugins/datasource/sql/utils/useSqlChange.ts
  yarn.lock
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests

touch up and testing
  pkg/tsdb/prometheus/resource/resource.go
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests

Alerting: Fix database unavailable removes rules from scheduler (#49874)
  pkg/services/ngalert/CHANGELOG.md
  pkg/services/ngalert/metrics/ngalert.go
  pkg/services/ngalert/schedule/fetcher.go
  pkg/services/ngalert/schedule/fetcher_test.go
  pkg/services/ngalert/schedule/registry.go
  pkg/services/ngalert/schedule/registry_test.go
  pkg/services/ngalert/schedule/schedule.go
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests

Update docs/sources/alerting/alerting-limitations.md
  docs/sources/alerting/alerting-limitations.md
Due: pr-docs

WIP
  public/app/plugins/datasource/loki/querybuilder/LokiQueryModeller.ts
  public/app/plugins/datasource/loki/querybuilder/parsing.ts
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests

use react component
  package.json
  public/app/plugins/datasource/mysql/module copy.ts
  public/app/plugins/datasource/mysql/module.ts
  yarn.lock
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests

Improve docs for values in custom annotations and labels
  docs/sources/alerting/fundamentals/annotation-label/variables-label-annotation.md
Due: pr-docs

Chore: Convert ReferenceLink.test.js to RTL (#50338)
  .betterer.results
  packages/jaeger-ui-components/src/url/ReferenceLink.test.tsx
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, pr-docs

Alerting: Fix database unavailable removes rules from scheduler (#49874) (#50345)
  pkg/services/ngalert/CHANGELOG.md
  pkg/services/ngalert/metrics/ngalert.go
  pkg/services/ngalert/schedule/fetcher.go
  pkg/services/ngalert/schedule/fetcher_test.go
  pkg/services/ngalert/schedule/registry.go
  pkg/services/ngalert/schedule/registry_test.go
  pkg/services/ngalert/schedule/schedule.go
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests

"Release: Updated versions in package to 8.5.5" (#50339)
  lerna.json
  package.json
  packages/grafana-data/package.json
  packages/grafana-e2e-selectors/package.json
  packages/grafana-e2e/package.json
  packages/grafana-runtime/package.json
  packages/grafana-schema/package.json
  packages/grafana-toolkit/package.json
  packages/grafana-ui/package.json
  packages/jaeger-ui-components/package.json
  plugins-bundled/internal/input-datasource/package.json
  yarn.lock
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, pr-docs

Plugins: Separate manager read/write components (#50313)
  pkg/api/http_server.go
  pkg/api/plugins.go
  pkg/plugins/ifaces.go
  pkg/plugins/manager/registry/in_memory_test.go
  pkg/server/wire.go
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests

ReleaseNotes: Updated changelog and release notes for 8.5.5 (#50340)
  CHANGELOG.md
  docs/sources/release-notes/_index.md
  docs/sources/release-notes/release-notes-8-5-5.md
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, pr-docs

Alerting: replace a duplicated configuration key
  conf/defaults.ini
  pkg/services/ngalert/image/service.go
  pkg/setting/setting_unified_alerting.go
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests

fixed failing slack tests
  pkg/services/ngalert/notifier/channels/slack_test.go
  pkg/tests/api/alerting/api_notification_channel_test.go
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests

Alerting: decapitalize log lines and use "err" as the key for errors
  pkg/services/ngalert/CHANGELOG.md
  pkg/services/ngalert/api/api_prometheus.go
  pkg/services/ngalert/api/api_ruler.go
  pkg/services/ngalert/ngalert.go
  pkg/services/ngalert/notifier/channels/alertmanager.go
  pkg/services/ngalert/notifier/channels/dingding.go
  pkg/services/ngalert/notifier/channels/discord.go
  pkg/services/ngalert/notifier/channels/email.go
  pkg/services/ngalert/notifier/channels/googlechat.go
  pkg/services/ngalert/notifier/channels/kafka.go
  pkg/services/ngalert/notifier/channels/line.go
  pkg/services/ngalert/notifier/channels/opsgenie.go
  pkg/services/ngalert/notifier/channels/pagerduty.go
  pkg/services/ngalert/notifier/channels/pushover.go
  pkg/services/ngalert/notifier/channels/sensugo.go
  pkg/services/ngalert/notifier/channels/slack.go
  pkg/services/ngalert/notifier/channels/telegram.go
  pkg/services/ngalert/notifier/channels/threema.go
  pkg/services/ngalert/notifier/channels/utils.go
  pkg/services/ngalert/notifier/channels/victorops.go
  pkg/services/ngalert/notifier/channels/wecom.go
  pkg/services/ngalert/notifier/crypto.go
  pkg/services/ngalert/notifier/multiorg_alertmanager.go
  pkg/services/ngalert/schedule/schedule.go
  pkg/services/ngalert/state/manager.go
  pkg/services/ngalert/store/alert_rule.go
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests

Address doc suggestions
  docs/sources/alerting/fundamentals/annotation-label/how-to-use-labels.md
Due: pr-docs

feature-flag removed
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.go
  public/app/plugins/datasource/loki/datasource.ts
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, pr-docs

loki: remove frontend-mode
  public/app/plugins/datasource/loki/backendResultTransformer.test.ts
  public/app/plugins/datasource/loki/datasource.test.ts
  public/app/plugins/datasource/loki/datasource.ts
  public/app/plugins/datasource/loki/result_transformer.test.ts
  public/app/plugins/datasource/loki/result_transformer.ts
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests

Replace openssl with openssl3 in Dockerfile
  Dockerfile
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests

truncate the title to 130 characters if needed
  pkg/services/ngalert/notifier/channels/opsgenie.go
  pkg/services/ngalert/notifier/channels/opsgenie_test.go
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests

unnecessary validation removed
  pkg/services/ngalert/notifier/available_channels.go
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests

Updating migration docs to include most relevant breaking changes
  docs/sources/release-notes/release-notes-9-0-0-beta2.md
  docs/sources/whatsnew/whats-new-in-v9-0.md
Due: pr-docs

--amend
  CHANGELOG.md
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests

Backport 50340 to v8.5.x (#50355)
  CHANGELOG.md
  docs/sources/release-notes/_index.md
  docs/sources/release-notes/release-notes-8-5-5.md
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, pr-docs

Chore: update latest stable 8.5.5
  latest.json
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests

Add Network Insights Dasboard
  public/app/plugins/datasource/grafana-azure-monitor-datasource/dashboards/networkInsightsDashboard.json
  public/app/plugins/datasource/grafana-azure-monitor-datasource/plugin.json
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests

cleanup
  public/app/plugins/datasource/mysql/MySqlDatasource.ts
  public/app/plugins/datasource/mysql/module.ts
  public/app/plugins/datasource/mysql/specs/datasource.test.ts
  public/app/plugins/datasource/sql/components/QueryEditor.tsx
  public/app/plugins/datasource/sql/datasource/SqlDatasource.ts
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests
