Repository grafana/grafana: changes, and which Drone steps are due for each by the changed paths.
All: pr-verify-drone, pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, pr-docs, main-docs, main-test-frontend, main-test-backend, main-build-e2e-publish, trigger-test-release, main-integration-tests, main-windows, notify-drone-changes, main-publish, main-notify

Path conditions:
  pr-verify-drone: any of: scripts/drone/**, .drone.yml, .drone.star, but not: docs/**, *.md
  pr-test-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-test-backend: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, but not: docs/**, *.md
  pr-build-e2e: any file but: *.md, docs/**, latest.json
  pr-integration-tests: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, but not: docs/**, *.md
  pr-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  main-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  main-test-frontend: any file but: *.md, docs/**, latest.json
  main-test-backend: any file but: *.md, docs/**, latest.json
  main-build-e2e-publish: any file but: *.md, docs/**, latest.json
  trigger-test-release: any of: .drone.yml, pkg/build/**
  main-integration-tests: any file but: *.md, docs/**, latest.json
  main-windows: any file but: *.md, docs/**, latest.json
  notify-drone-changes: any of: .drone.yml, but not: exclude
  main-publish: any file but: *.md, docs/**, latest.json
  main-notify: any file but: *.md, docs/**, latest.json

CI: Run permission filter benchmarks
  .drone.yml
  scripts/drone/events/pr.star
  scripts/drone/pipelines/benchmarks.star
Due: pr-verify-drone, pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, trigger-test-release, main-integration-tests, main-windows, notify-drone-changes, main-publish, main-notify

AuthN: Change error returned when sign up is disabled for provider (#65110)
  pkg/services/authn/authnimpl/sync/user_sync.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

minor update to feature request description
  .github/ISSUE_TEMPLATE/config.yml
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

feat(pluginextensions): add pluginName to frontendsettings apps
  pkg/api/frontendsettings.go
  pkg/api/frontendsettings_test.go
  pkg/plugins/models.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Simplify Correlations wizard
  public/app/features/correlations/Forms/AddCorrelationForm.tsx
  public/app/features/correlations/Forms/ConfigureCorrelationBasicInfoForm.tsx
  public/app/features/correlations/Forms/ConfigureCorrelationSourceForm.tsx
  public/app/features/correlations/Forms/ConfigureCorrelationTargetForm.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Cloudwatch: Add MeteredIOBytes metric for EFS
  pkg/tsdb/cloudwatch/constants/metrics.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

feat(pluginextensions): add pluginName to plugin extensions registry items
  packages/grafana-data/src/types/pluginExtensions.ts
  packages/grafana-runtime/src/config.ts
  public/app/features/plugins/extensions/registryFactory.ts
  public/app/features/plugins/pluginPreloader.ts
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

feat(panelmenu): prevent rendering extension links if panelchrome feature flag enabled
  public/app/features/dashboard/utils/getPanelMenu.ts
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

feat(panelheader): introduce new extensions menu for panelchrome
  public/app/features/dashboard/dashgrid/PanelHeader/PanelHeaderExtensionsMenu.tsx
  public/app/features/dashboard/dashgrid/PanelStateWrapper.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

wip(panelchrome): throwing stuff together to make it work
  packages/grafana-ui/src/components/PanelChrome/PanelChrome.tsx
  packages/grafana-ui/src/components/PanelChrome/PanelExtensionsMenu.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

fix ModalManager rendering
  public/app/core/services/ModalManager.ts
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Fix x-value being formatted as time when not necessary (#65095)
  public/app/plugins/panel/xychart/TooltipView.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Change to trigger the benchmark tests
  pkg/api/api.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

[v9.4.x] Fix x-value being formatted as time when not necessary (#65114)
  public/app/plugins/panel/xychart/TooltipView.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Dashboards: Show copy menu item to editors (regardless of dashboard edit state) (#64826)
  public/app/features/dashboard/utils/getPanelMenu.ts
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

fix some more unit tests
  public/app/features/alerting/TestRuleResult.test.tsx
  public/app/features/alerting/unified/Receivers.test.tsx
  public/app/plugins/datasource/loki/components/LokiContextUi.test.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

remove result field from loginattempt
  pkg/services/loginattempt/loginattemptimpl/login_attempt.go
  pkg/services/loginattempt/loginattemptimpl/login_attempt_test.go
  pkg/services/loginattempt/loginattemptimpl/models.go
  pkg/services/loginattempt/loginattemptimpl/store.go
  pkg/services/loginattempt/loginattemptimpl/store_test.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Update docs/sources/administration/api-keys/index.md
  docs/sources/administration/api-keys/index.md
Due: pr-docs, main-docs

Alerting: Elide requests to Loki if nothing should be recorded (#65011)
  pkg/services/ngalert/state/historian/annotation.go
  pkg/services/ngalert/state/historian/loki.go
  pkg/services/ngalert/state/historian/loki_test.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Add benchmark step for mysql 8
  .drone.yml
  scripts/drone/pipelines/benchmarks.star
  scripts/drone/services/services.star
Due: pr-verify-drone, pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, trigger-test-release, main-integration-tests, main-windows, notify-drone-changes, main-publish, main-notify

Apply suggestions from code review
  docs/sources/administration/api-keys/index.md
Due: pr-docs, main-docs

Fix typo
  .drone.yml
  scripts/drone/pipelines/benchmarks.star
Due: pr-verify-drone, pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, trigger-test-release, main-integration-tests, main-windows, notify-drone-changes, main-publish, main-notify

chore: minor update to feature request description (#65112)
  .github/ISSUE_TEMPLATE/config.yml
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Fix reusing logs volume when limited/non-limited are used
  packages/grafana-data/src/types/logs.ts
  public/app/core/logsModel.ts
  public/app/features/explore/LogsVolumePanelList.tsx
  public/app/features/explore/state/query.ts
  public/app/features/logs/utils.test.ts
  public/app/features/logs/utils.ts
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

[v9.4.x] Alerting: Elide requests to Loki if nothing should be recorded (#65118)
  pkg/services/ngalert/state/historian/annotation.go
  pkg/services/ngalert/state/historian/loki.go
  pkg/services/ngalert/state/historian/loki_test.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

formatting
  docs/sources/administration/api-keys/index.md
Due: pr-docs, main-docs

Use more specific property name
  public/app/features/explore/Graph/ExploreGraph.tsx
  public/app/features/explore/LogsVolumePanel.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

chore(extensions): update placements type import
  public/app/features/dashboard/dashgrid/PanelHeader/PanelHeaderExtensionsMenu.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Increase test timeout
  .drone.yml
  scripts/drone/pipelines/benchmarks.star
Due: pr-verify-drone, pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, trigger-test-release, main-integration-tests, main-windows, notify-drone-changes, main-publish, main-notify

Use JSON instead of data.Labels string format as label repr
  pkg/services/ngalert/state/historian/loki.go
  pkg/services/ngalert/state/historian/loki_http.go
  pkg/services/ngalert/state/historian/loki_test.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Drop debug log line
  pkg/services/ngalert/state/historian/loki_http.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Drop unnecessary conversions after move to plain strings to appease linter
  pkg/services/ngalert/state/historian/encode.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify
