Repository grafana/grafana: changes, and which Drone steps are due for each by the changed paths.
All: pr-verify-drone, pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, pr-docs, main-docs, main-test-frontend, main-test-backend, main-build-e2e-publish, trigger-test-release, main-integration-tests, main-windows, notify-drone-changes, main-publish, main-notify

Path conditions:
  pr-verify-drone: any of: scripts/drone/**, .drone.yml, .drone.star, but not: docs/**, *.md
  pr-test-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-test-backend: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, but not: docs/**, *.md
  pr-build-e2e: any file but: *.md, docs/**, latest.json
  pr-integration-tests: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, but not: docs/**, *.md
  pr-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  main-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  main-test-frontend: any file but: *.md, docs/**, latest.json
  main-test-backend: any file but: *.md, docs/**, latest.json
  main-build-e2e-publish: any file but: *.md, docs/**, latest.json
  trigger-test-release: any of: .drone.yml, pkg/build/**
  main-integration-tests: any file but: *.md, docs/**, latest.json
  main-windows: any file but: *.md, docs/**, latest.json
  notify-drone-changes: any of: .drone.yml, but not: exclude
  main-publish: any file but: *.md, docs/**, latest.json
  main-notify: any file but: *.md, docs/**, latest.json

Fix bar gauge and dashboard migrator tests
  packages/grafana-ui/src/components/BarGauge/BarGauge.test.tsx
  public/app/features/dashboard/state/DashboardMigrator.test.ts
  public/app/features/dashboard/state/DashboardMigrator.ts
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Fix potential undefined references causing test failures
  packages/grafana-ui/src/components/Table/DefaultCell.tsx
  packages/grafana-ui/src/components/Table/utils.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Fix another potential reference error in DefaultCell
  packages/grafana-ui/src/components/Table/DefaultCell.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Span link feature tracking
  packages/jaeger-ui-components/src/TraceTimelineViewer/SpanBarRow.tsx
  packages/jaeger-ui-components/src/TraceTimelineViewer/SpanDetail/index.tsx
  packages/jaeger-ui-components/src/TraceTimelineViewer/SpanDetailRow.tsx
  packages/jaeger-ui-components/src/TraceTimelineViewer/SpanLinks.tsx
  packages/jaeger-ui-components/src/TraceTimelineViewer/VirtualizedTraceView.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Try to fix breaking change detection.
  packages/grafana-ui/src/components/Table/types.ts
  packages/grafana-ui/src/components/index.ts
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Cache setting changes
  public/app/plugins/panel/table/TableCellOptionEditor.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

PMM-10871 link fix (#592)
  public/app/percona/settings/Settings.constants.ts
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Rollback the breaking change from the API version
  go.mod
  go.sum
  pkg/tsdb/phlare/instance.go
  pkg/tsdb/phlare/query.go
  pkg/tsdb/phlare/query_test.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

CloudWatch: Add missing CloudWatchSynthetics dimension
  pkg/tsdb/cloudwatch/constants/metrics.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

move panel links to PanelChrome
  packages/grafana-ui/src/components/PanelChrome/PanelChrome.story.tsx
  packages/grafana-ui/src/components/PanelChrome/PanelChrome.tsx
  packages/grafana-ui/src/components/PanelChrome/PanelLinks.tsx
  packages/grafana-ui/src/components/PanelChrome/index.ts
  public/app/features/dashboard/dashgrid/PanelHeader/PanelHeaderTitleItems.tsx
  public/app/features/dashboard/dashgrid/PanelStateWrapper.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Add missing AWS/DynamoDB metric
  pkg/tsdb/cloudwatch/constants/metrics.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Remove unused queries prop
  packages/grafana-data/src/types/transformations.ts
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

PanelChrome: Implement Panel header with error, loading, and streaming data status (#60147)
  packages/grafana-ui/src/components/IconButton/IconButton.tsx
  packages/grafana-ui/src/components/LoadingBar/LoadingBar.tsx
  packages/grafana-ui/src/components/PanelChrome/PanelChrome.story.tsx
  packages/grafana-ui/src/components/PanelChrome/PanelChrome.test.tsx
  packages/grafana-ui/src/components/PanelChrome/PanelChrome.tsx
  packages/grafana-ui/src/components/PanelChrome/PanelStatus.tsx
  public/api-merged.json
  public/api-spec.json
  public/app/features/dashboard/dashgrid/PanelStateWrapper.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Move tempuser model to tempuser package
  pkg/api/org_invite.go
  pkg/api/signup.go
  pkg/infra/db/dbtest/dbtest.go
  pkg/services/cleanup/cleanup.go
  pkg/services/notifications/notifications.go
  pkg/services/temp_user/model.go
  pkg/services/temp_user/temp_user.go
  pkg/services/temp_user/tempuserimpl/store.go
  pkg/services/temp_user/tempuserimpl/store_test.go
  pkg/services/temp_user/tempuserimpl/temp_user.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Fix lint
  pkg/codegen/jenny_basecorereg.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

TextPanel: Refactor to functional component (#60885)
  public/app/plugins/panel/text/TextPanel.tsx
  public/app/plugins/panel/text/TextPanelEditor.tsx
  public/app/plugins/panel/text/module.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Add prometheus metrics and tracing to plugins updater
  pkg/services/updatechecker/plugins.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Remove org model duplicates
  pkg/api/org.go
  pkg/api/org_invite.go
  pkg/api/org_users.go
  pkg/api/org_users_test.go
  pkg/models/org_user.go
  pkg/services/authn/authnimpl/usersync/orgsync.go
  pkg/services/login/loginservice/loginservice.go
  pkg/services/login/loginservice/loginservice_test.go
  pkg/services/org/model.go
  pkg/services/org/orgimpl/store.go
  pkg/services/org/orgimpl/store_test.go
  pkg/services/serviceaccounts/database/store.go
  pkg/services/sqlstore/migrations/accesscontrol/team_membership.go
  pkg/services/sqlstore/migrations/accesscontrol/test/ac_test.go
  pkg/services/sqlstore/user.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Kinds: New schema for kinds report
  pkg/kindsys/report.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Add xorm tags for ID
  pkg/services/temp_user/model.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Remove unused generated files
  pkg/tsdb/parca/buf.gen.yaml
  pkg/tsdb/parca/gen/parca/google/pprof/profile.pb.go
  pkg/tsdb/parca/gen/parca/google/pprof/profile_vtproto.pb.go
  pkg/tsdb/parca/gen/parca/parca/debuginfo/v1alpha1/debuginfo.pb.go
  pkg/tsdb/parca/gen/parca/parca/debuginfo/v1alpha1/debuginfo_vtproto.pb.go
  pkg/tsdb/parca/gen/parca/parca/metastore/v1alpha1/metastore.pb.go
  pkg/tsdb/parca/gen/parca/parca/metastore/v1alpha1/metastore_vtproto.pb.go
  pkg/tsdb/parca/gen/parca/parca/profilestore/v1alpha1/profilestore.pb.go
  pkg/tsdb/parca/gen/parca/parca/profilestore/v1alpha1/profilestore_vtproto.pb.go
  pkg/tsdb/parca/gen/parca/parca/query/v1alpha1/query.pb.go
  pkg/tsdb/parca/gen/parca/parca/query/v1alpha1/query_vtproto.pb.go
  pkg/tsdb/parca/gen/parca/parca/scrape/v1alpha1/scrape.pb.go
  pkg/tsdb/parca/gen/parca/parca/scrape/v1alpha1/scrape_vtproto.pb.go
  pkg/tsdb/parca/gen/parca/parca/share/v1alpha1/share.pb.go
  pkg/tsdb/parca/gen/parca/parca/share/v1alpha1/share_vtproto.pb.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Bring back raw folder in grafana-schema
  packages/grafana-schema/src/index.gen.ts
  packages/grafana-schema/src/raw/dashboard/x/dashboard_types.gen.ts
  packages/grafana-schema/src/raw/playlist/x/playlist_types.gen.ts
  packages/grafana-schema/src/raw/team/x/team_types.gen.ts
  packages/grafana-schema/src/veneer/dashboard.types.ts
  pkg/codegen/jenny_tsveneerindex.go
  pkg/kindsys/load.go
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

add underlay
  packages/grafana-ui/src/components/DateTimePickers/RelativeTimeRangePicker/RelativeTimeRangePicker.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Add TODOs
  pkg/services/updatechecker/plugins.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Fix number of pages calculation
  public/app/features/admin/AdminEditOrgPage.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

PMM-9262 redirect to restores after confirmation (#590)
  public/app/percona/backup/Backup.constants.ts
  public/app/percona/backup/Backup.messages.ts
  public/app/percona/backup/components/BackupInventory/BackupInventory.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Another lint
  pkg/codegen/jenny_tsveneerindex.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Move panel header notices to PanelChrome
  packages/grafana-ui/src/components/PanelChrome/PanelChrome.tsx
  public/app/features/dashboard/dashgrid/PanelHeader/PanelHeaderTitleItems.tsx
  public/app/features/dashboard/dashgrid/PanelStateWrapper.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

add error message when trying to set log groups before saving
  public/app/plugins/datasource/cloudwatch/components/ConfigEditor.tsx
  public/app/plugins/datasource/cloudwatch/components/LogGroups/LogGroupsField.tsx
  public/app/plugins/datasource/cloudwatch/components/LogGroups/LogGroupsSelector.tsx
  public/app/plugins/datasource/cloudwatch/hooks.ts
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Elasticsearch: Use interval provided by data request in backend (#60480)
  pkg/tsdb/elasticsearch/client/client.go
  pkg/tsdb/elasticsearch/client/client_test.go
  pkg/tsdb/elasticsearch/client/models.go
  pkg/tsdb/elasticsearch/client/search_request.go
  pkg/tsdb/elasticsearch/client/search_request_test.go
  pkg/tsdb/elasticsearch/elasticsearch.go
  pkg/tsdb/elasticsearch/models.go
  pkg/tsdb/elasticsearch/parse_query.go
  pkg/tsdb/elasticsearch/parse_query_test.go
  pkg/tsdb/elasticsearch/querydata_test.go
  pkg/tsdb/elasticsearch/testdata_request/logs.queries.json
  pkg/tsdb/elasticsearch/testdata_request/metric_multi.queries.json
  pkg/tsdb/elasticsearch/time_series_query.go
  pkg/tsdb/elasticsearch/time_series_query_test.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

RelativeTimeRangePicker: correctly trap focus in overlay (#60984)
  packages/grafana-ui/src/components/DateTimePickers/RelativeTimeRangePicker/RelativeTimeRangePicker.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Use SearchOrgUsers for all org users methods
  pkg/api/common_test.go
  pkg/api/org_users.go
  pkg/api/org_users_test.go
  pkg/services/org/model.go
  pkg/services/org/orgimpl/store.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Remove use of "Structured" word in kinds
  kinds/gen.go
  pkg/codegen/generators.go
  pkg/codegen/tmpl/kind_corestructured.tmpl
  pkg/codegen/tmpl/kind_registry.tmpl
  pkg/kinds/dashboard/dashboard_kind_gen.go
  pkg/kinds/playlist/playlist_kind_gen.go
  pkg/kinds/team/team_kind_gen.go
  pkg/kindsys/kind.go
  pkg/kindsys/kindmetas.go
  pkg/kindsys/load.go
  pkg/kindsys/report.go
  pkg/registry/corekind/base.go
  pkg/registry/corekind/base_gen.go
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

add redirect notice for datasources and plugins pages
  public/app/features/connections/components/ConnectionsRedirectNotice/ConnectionsRedirectNotice.tsx
  public/app/features/connections/components/ConnectionsRedirectNotice/index.ts
  public/app/features/datasources/pages/DataSourcesListPage.tsx
  public/app/features/plugins/admin/pages/Browse.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Hide run queries button in Correlations Page when showing Loki and Prometheus editors
  packages/grafana-data/src/types/app.ts
  public/app/features/correlations/Forms/QueryEditorField.tsx
  public/app/plugins/datasource/loki/components/LokiQueryEditor.test.tsx
  public/app/plugins/datasource/loki/components/LokiQueryEditor.tsx
  public/app/plugins/datasource/prometheus/querybuilder/components/PromQueryEditorSelector.test.tsx
  public/app/plugins/datasource/prometheus/querybuilder/components/PromQueryEditorSelector.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

RBAC: rewrite team member api test to not use mock
  pkg/api/team_members_test.go
  pkg/services/team/teamtest/team.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Move the test that checks the tick values to TickLabels.test.tsx
  packages/jaeger-ui-components/src/TracePageHeader/SpanGraph/TickLabels.test.tsx
  packages/jaeger-ui-components/src/TracePageHeader/SpanGraph/index.test.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Delete unused function and remove some structured words
  pkg/codegen/generators.go
  pkg/codegen/jenny_corestructkind.go
  pkg/kindsys/load.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify
