Repository grafana/grafana: changes, and which Drone steps are due for each by the changed paths.
All: pr-verify-drone, pr-verify-starlark, pr-verify-storybook, pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, end-to-end-tests-cloud-plugins-suite-azure, build-storybook, pr-integration-tests, pr-docs, pr-shellcheck, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Path conditions:
  pr-verify-drone: any of: scripts/drone/**, .drone.yml, .drone.star, but not: docs/**, *.md
  pr-verify-starlark: any of: scripts/drone/**, .drone.star, but not: docs/**, *.md
  pr-verify-storybook: any of: packages/grafana-ui/**, but not: docs/**, *.md
  pr-test-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-lint-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-test-backend: any of: Makefile, pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, docs/sources/setup-grafana/configure-grafana/feature-toggles/**, devenv/**, but not: docs/**, *.md
  pr-lint-backend: any of: .golangci.toml, Makefile, pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, .bingo/**, but not: docs/**, *.md
  pr-build-e2e: any file but: *.md, docs/**, latest.json
  end-to-end-tests-cloud-plugins-suite-azure: any of: pkg/tsdb/azuremonitor/**, public/app/plugins/datasource/azuremonitor/**, e2e/cloud-plugins-suite/azure-monitor.spec.ts
  build-storybook: any of: packages/grafana-ui/**
  pr-integration-tests: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, but not: docs/**, *.md
  pr-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  pr-shellcheck: any of: scripts/**/*.sh, but not: *.md, docs/**, latest.json
  main-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  main-test-frontend: any file but: *.md, docs/**, latest.json
  main-lint-frontend: any file but: *.md, docs/**, latest.json
  main-test-backend: any file but: *.md, docs/**, latest.json
  main-lint-backend: any file but: *.md, docs/**, latest.json
  main-verify-storybook: any file but: *.md, docs/**, latest.json
  main-build-e2e-publish: any file but: *.md, docs/**, latest.json
  store-storybook: any of: packages/grafana-ui/**
  release-canary-npm-packages: any of: packages/**
  main-integration-tests: any file but: *.md, docs/**, latest.json
  main-trigger-downstream: any file but: *.md, docs/**, latest.json
  main-notify: any file but: *.md, docs/**, latest.json
  rgm-main-prerelease: any file but: *.md, docs/**, packages/**/*.md, latest.json

Chore: Use Vault secrets in `pr-patch-check-event.yml` (#104725)
  .github/workflows/pr-patch-check-event.yml
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Dashboards: Fix moving to general folder (#104655)
  pkg/registry/apis/dashboard/register.go
  pkg/tests/apis/dashboard/integration/api_validation_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Folders and Dashboards: Version check fixes (#104663)
  pkg/registry/apis/dashboard/register.go
  pkg/registry/apis/folders/conversions.go
  pkg/services/folder/folderimpl/conversions.go
  pkg/services/folder/folderimpl/folder_unifiedstorage.go
  pkg/services/folder/folderimpl/unifiedstore.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Chore: Use Vault secrets in `sync-mirror-event.yml` (#104705)
  .github/workflows/sync-mirror-event.yml
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Chore: Use Vault secrets in `create-next-release-branch.yml` (#104730)
  .github/workflows/create-next-release-branch.yml
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Chore: Use Vault secrets in `migrate-prs.yml` (#104714)
  .github/workflows/migrate-prs.yml
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Transformation: Allow boolean for calculate field (#104659)
  public/app/features/transformers/editors/CalculateFieldTransformerEditor/CalculateFieldTransformerEditor.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Transformations: Omit showing base field names when field.name is unique (#104660)
  public/app/features/transformers/utils.test.ts
  public/app/features/transformers/utils.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Chore: Use Vault secrets in `release-pr.yml` (#104723)
  .github/workflows/release-pr.yml
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

CI: use shallow clone with backport action (#104750)
  .github/workflows/backport.yml
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

CI: cd grafana in backport action (#104753)
  .github/workflows/backport.yml
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

CI: `cd grafana` after clone in backport action (#104752)
  .github/workflows/backport.yml
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

CI: manually `git clone` for backport action (#104751)
  .github/workflows/backport.yml
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Transformations: Use field name matcher for finding group by fields (#104664)
  packages/grafana-data/src/transformations/transformers/groupBy.test.ts
  packages/grafana-data/src/transformations/transformers/groupBy.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

CI: Backport action can't combine `with` and `working-directory` (#104754)
  .github/workflows/backport.yml
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

docs(alerting): add recommendation to reduce duplicated `DatasourceError` alerts (#104679)
  docs/sources/alerting/fundamentals/alert-rule-evaluation/state-and-health.md
Due: pr-docs, main-docs

Provisioning: Show in NavTree based on org role, not access control (#104599)
  pkg/services/navtree/navtreeimpl/admin.go
  public/app/features/provisioning/GettingStarted/GettingStarted.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Dashboards: Fix missing folder info in /search for dashboards (#104666)
  pkg/services/dashboards/service/dashboard_service.go
  pkg/services/dashboards/service/dashboard_service_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Alerting: Enable the remote Alertmanager feature using only feature toggles (#101410)
  conf/defaults.ini
  pkg/services/ngalert/ngalert.go
  pkg/setting/setting_unified_alerting.go
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

SCIM: Rename `assertion_attribute_external_uid` (#104613)
  pkg/services/ssosettings/strategies/saml_strategy.go
  pkg/services/ssosettings/strategies/saml_strategy_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Scopes: Highlight current active item/dashboard (#104403)
  public/app/core/components/AppChrome/AppChrome.tsx
  public/app/features/scopes/dashboards/ScopesDashboardsService.test.ts
  public/app/features/scopes/dashboards/ScopesDashboardsService.ts
  public/app/features/scopes/dashboards/ScopesDashboardsTree.tsx
  public/app/features/scopes/dashboards/ScopesDashboardsTreeFolderItem.tsx
  public/app/features/scopes/dashboards/ScopesNavigationTreeLink.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

update betterer results file after merge conflict introduced in #103744 (#104685)
  .betterer.results
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

fix(unified-storage): only fetch from history table if rv changed (#104740)
  pkg/storage/unified/sql/notifier_sql.go
  pkg/storage/unified/sql/notifier_sql_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Provisioning: Update graphic (#104770)
  public/app/features/provisioning/GettingStarted/GettingStarted.tsx
  public/img/provisioning/provisioning.svg
  public/img/provisioning/provisioning.webp
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Provisioning: cover most cases in go-git clone (#104513)
  pkg/registry/apis/provisioning/repository/go-git/wrapper.go
  pkg/registry/apis/provisioning/repository/go-git/wrapper_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Alerting: Make receiver optional in routing preview and handle fallback case (#104639)
  public/app/features/alerting/unified/components/rule-editor/notificaton-preview/NotificationPreviewByAlertManager.tsx
  public/app/features/alerting/unified/components/rule-editor/notificaton-preview/NotificationRoute.tsx
  public/app/features/alerting/unified/components/rule-editor/notificaton-preview/NotificationRouteDetailsModal.tsx
  public/app/features/alerting/unified/components/rule-editor/notificaton-preview/UnknownContactPointDetails.tsx
  public/locales/en-US/grafana.json
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Border radius: Improve rule and fix remaining violations (#104569)
  eslint.config.js
  packages/grafana-eslint-rules/rules/no-border-radius-literal.cjs
  packages/grafana-eslint-rules/tests/no-border-radius-literal.test.js
  packages/grafana-flamegraph/src/FlameGraphHeader.tsx
  packages/grafana-ui/src/components/DateTimePickers/TimeRangePicker/CalendarBody.tsx
  packages/grafana-ui/src/components/Table/TableNG/TableNG.tsx
  packages/grafana-ui/src/themes/GlobalStyles/card.ts
  packages/grafana-ui/src/themes/GlobalStyles/code.ts
  packages/grafana-ui/src/themes/GlobalStyles/dashboardGrid.ts
  packages/grafana-ui/src/themes/GlobalStyles/dashdiff.ts
  packages/grafana-ui/src/themes/GlobalStyles/elements.ts
  packages/grafana-ui/src/themes/GlobalStyles/filterTable.ts
  public/app/features/alerting/unified/components/AlertStateDot.tsx
  public/app/features/alerting/unified/components/contact-points/ContactPoint.tsx
  public/app/features/dashboard/components/TransformationsEditor/TransformationEditor.tsx
  public/app/plugins/panel/canvas/globalStyles.ts
  public/app/plugins/panel/datagrid/utils.ts
Due: pr-verify-storybook, pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

unified-storage: expose memberlist cluster label config (#104643)
  pkg/server/memberlist.go
  pkg/server/ring.go
  pkg/setting/setting.go
  pkg/setting/setting_unified_storage.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Internationalisation: Check and mark up tooltip content prop (#104536)
  packages/grafana-eslint-rules/rules/no-untranslated-strings.cjs
  packages/grafana-ui/src/components/DateTimePickers/TimeRangePicker/TimeRangeContent.tsx
  packages/grafana-ui/src/components/PanelChrome/LoadingIndicator.tsx
  packages/grafana-ui/src/components/PanelChrome/PanelChrome.tsx
  public/app/core/components/AccessControl/PermissionListItem.tsx
  public/app/core/components/ForgottenPassword/ChangePassword.tsx
  public/app/features/admin/AdminFeatureTogglesTable.tsx
  public/app/features/admin/Users/UsersTable.tsx
  public/app/features/admin/ldap/LdapConnectionStatus.tsx
  public/app/features/admin/ldap/LdapUserGroups.tsx
  public/app/features/alerting/unified/components/bridges/DeclareIncidentButton.tsx
  public/app/features/alerting/unified/components/mute-timings/MuteTimingTimeRange.tsx
  public/app/features/alerting/unified/components/notification-policies/Policy.tsx
  public/app/features/alerting/unified/components/receivers/TemplatesTable.tsx
  public/app/features/alerting/unified/components/rule-editor/DashboardPicker.tsx
  public/app/features/alerting/unified/components/rule-editor/rule-types/DisabledTooltip.tsx
  public/app/features/alerting/unified/components/rules/AlertStateTag.tsx
  public/app/features/alerting/unified/components/rules/RuleDetails.tsx
  public/app/features/alerting/unified/components/rules/RuleListErrors.tsx
  public/app/features/alerting/unified/components/rules/RuleState.tsx
  public/app/features/alerting/unified/components/rules/RulesTable.tsx
  public/app/features/alerting/unified/components/rules/central-state-history/CentralAlertHistoryScene.tsx
  public/app/features/alerting/unified/components/rules/state-history/LokiStateHistory.tsx
  public/app/features/alerting/unified/plugins/PluginOriginBadge.tsx
  public/app/features/alerting/unified/rule-list/components/GroupStatus.tsx
  public/app/features/api-keys/ApiKeysTable.tsx
  public/app/features/dashboard-scene/settings/variables/VariableEditorListRow.tsx
  public/app/features/dashboard-scene/settings/variables/VariablesUnknownTable.tsx
  public/app/features/dashboard-scene/settings/version-history/VersionHistoryButtons.tsx
  public/app/features/explore/CorrelationEditorModeBar.tsx
  public/app/features/explore/Logs/LogsVolumePanel.tsx
  public/app/features/explore/TraceView/components/TracePageHeader/SpanFilters/SpanFilters.tsx
  public/app/features/explore/TraceView/components/TracePageHeader/TracePageHeader.tsx
  public/app/features/explore/TraceView/components/common/CopyIcon.tsx
  public/app/features/logs/components/LogRow.tsx
  public/app/features/plugins/admin/components/UpdateAllModalBody.tsx
  public/app/features/plugins/admin/pages/Browse.tsx
  public/app/features/profile/UserProfileEditForm.tsx
  public/app/features/serviceaccounts/components/ServiceAccountTokensTable.tsx
  public/locales/en-US/grafana.json
Due: pr-verify-storybook, pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Zanzana: Fix health check endpoint (#104670)
  pkg/services/authz/zanzana/server/server.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

TestData: Support a steps scenario (#104736)
  pkg/tsdb/grafana-testdata-datasource/kinds/query.go
  pkg/tsdb/grafana-testdata-datasource/kinds/query.panel.schema.json
  pkg/tsdb/grafana-testdata-datasource/kinds/query.request.schema.json
  pkg/tsdb/grafana-testdata-datasource/kinds/query.types.json
  pkg/tsdb/grafana-testdata-datasource/scenarios.go
  public/app/plugins/datasource/grafana-testdata-datasource/QueryEditor.tsx
  public/app/plugins/datasource/grafana-testdata-datasource/dataquery.ts
  public/app/plugins/datasource/grafana-testdata-datasource/datasource.ts
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Grafana UI: Update `CollapsableSection` to be controlled (#104642)
  packages/grafana-ui/src/components/Collapse/CollapsableSection.tsx
Due: pr-verify-storybook, pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Chore: Migrate to Vault Secrets (#104701)
  .github/workflows/community-release.yml
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Chore: Use Vault secrets in `github-release.yml` (#104707)
  .github/workflows/github-release.yml
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Internationalisation: Use new shared Crowdin token from vault (#104764)
  .github/workflows/i18n-crowdin-create-tasks.yml
  .github/workflows/i18n-crowdin-download.yml
  .github/workflows/i18n-crowdin-upload.yml
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

TableNG: Fix interpolation for actions (#104577)
  packages/grafana-ui/src/components/Table/TableNG/Cells/TableCellNG.tsx
  packages/grafana-ui/src/components/Table/TableNG/TableNG.tsx
  packages/grafana-ui/src/components/Table/TableNG/types.ts
Due: pr-verify-storybook, pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Actions: Add button style customization (#104126)
  packages/grafana-data/src/types/action.ts
  packages/grafana-ui/src/components/Actions/ActionButton.tsx
  packages/grafana-ui/src/components/VizTooltip/VizTooltipFooter.tsx
  public/app/features/actions/ActionEditor.tsx
  public/app/features/actions/utils.ts
  public/locales/en-US/grafana.json
Due: pr-verify-storybook, pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Chore: Use Vault secrets in `changelog.yml` (#104721)
  .github/workflows/changelog.yml
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

StateTimeline: Improve auto migration from discrete panel (#104671)
  public/app/plugins/panel/state-timeline/__snapshots__/migrations.test.ts.snap
  public/app/plugins/panel/state-timeline/migrations.test.ts
  public/app/plugins/panel/state-timeline/migrations.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease
