Repository grafana/grafana: changes, and which Drone steps are due for each by the changed paths.
All: pr-verify-drone, pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, pr-docs, main-docs, main-test-frontend, main-test-backend, main-build-e2e-publish, trigger-test-release, main-integration-tests, main-windows, notify-drone-changes, main-publish, main-notify

pr-verify-drone:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.15.6
    name: identify-runner
  - commands:
    - mkdir -p bin
    - curl -fL -o bin/grabpl https://grafana-downloads.storage.googleapis.com/grafana-build-pipeline/v3.0.5/grabpl
    - chmod +x bin/grabpl
    image: byrnedo/alpine-curl:0.1.8
  ...

pr-test-frontend:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.15.6
    name: identify-runner
  - commands:
    - mkdir -p bin
    - curl -fL -o bin/grabpl https://grafana-downloads.storage.googleapis.com/grafana-build-pipeline/v3.0.5/grabpl
    - chmod +x bin/grabpl
    image: byrnedo/alpine-curl:0.1.8
  ...

pr-test-backend:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.15.6
    name: identify-runner
  - commands:
    - mkdir -p bin
    - curl -fL -o bin/grabpl https://grafana-downloads.storage.googleapis.com/grafana-build-pipeline/v3.0.5/grabpl
    - chmod +x bin/grabpl
    image: byrnedo/alpine-curl:0.1.8
  ...

pr-build-e2e:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.15.6
    name: identify-runner
  - commands:
    - mkdir -p bin
    - curl -fL -o bin/grabpl https://grafana-downloads.storage.googleapis.com/grafana-build-pipeline/v3.0.5/grabpl
    - chmod +x bin/grabpl
    image: byrnedo/alpine-curl:0.1.8
  ...

pr-integration-tests:
  steps:
  - commands:
    - mkdir -p bin
    - curl -fL -o bin/grabpl https://grafana-downloads.storage.googleapis.com/grafana-build-pipeline/v3.0.5/grabpl
    - chmod +x bin/grabpl
    image: byrnedo/alpine-curl:0.1.8
    name: grabpl
  - commands:
  ...

pr-docs:
  steps:
  - commands:
    - mkdir -p bin
    - curl -fL -o bin/grabpl https://grafana-downloads.storage.googleapis.com/grafana-build-pipeline/v3.0.5/grabpl
    - chmod +x bin/grabpl
    image: byrnedo/alpine-curl:0.1.8
    name: grabpl
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.15.6
  ...

main-docs:
  steps:
  - commands:
    - mkdir -p bin
    - curl -fL -o bin/grabpl https://grafana-downloads.storage.googleapis.com/grafana-build-pipeline/v3.0.5/grabpl
    - chmod +x bin/grabpl
    image: byrnedo/alpine-curl:0.1.8
    name: grabpl
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.15.6
  ...

main-test-frontend:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.15.6
    name: identify-runner
  - commands:
    - mkdir -p bin
    - curl -fL -o bin/grabpl https://grafana-downloads.storage.googleapis.com/grafana-build-pipeline/v3.0.5/grabpl
    - chmod +x bin/grabpl
    image: byrnedo/alpine-curl:0.1.8
  ...

main-test-backend:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.15.6
    name: identify-runner
  - commands:
    - mkdir -p bin
    - curl -fL -o bin/grabpl https://grafana-downloads.storage.googleapis.com/grafana-build-pipeline/v3.0.5/grabpl
    - chmod +x bin/grabpl
    image: byrnedo/alpine-curl:0.1.8
  ...

Mention the need for Subscription Reader role (#51844)
  docs/sources/datasources/azuremonitor/_index.md
Due: pr-docs, main-docs

Mention the need for Subscription Reader role (#51844) (#55436)
  docs/sources/datasources/azuremonitor/_index.md
Due: pr-docs, main-docs

Remove line style option from manual panel options
  .betterer.results
  public/app/plugins/panel/xychart/ManualEditor.tsx
  public/app/plugins/panel/xychart/scatter.ts
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Chore: Move SearchOrgs to org service (#55416)
  pkg/api/common_test.go
  pkg/api/dashboard_test.go
  pkg/api/ldap_debug.go
  pkg/api/ldap_debug_test.go
  pkg/api/org.go
  pkg/plugins/manager/manager_integration_test.go
  pkg/services/export/git_export_job.go
  pkg/services/export/service.go
  pkg/services/live/live.go
  pkg/services/org/model.go
  pkg/services/org/org.go
  pkg/services/org/orgimpl/org.go
  pkg/services/org/orgtest/fake.go
  pkg/services/searchV2/allowed_actions_test.go
  pkg/services/searchV2/service.go
  pkg/services/sqlstore/store.go
  pkg/services/thumbs/crawler_auth.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Fix test
  public/app/features/alerting/unified/RuleEditor.test.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

devenv: removed obsolete elastic docker configs (#55402)
  devenv/docker/blocks/elastic7/docker-compose.yaml
  devenv/docker/blocks/elastic7/elasticsearch.yml
  devenv/docker/blocks/elastic7/filebeat.yml
  devenv/docker/blocks/elastic7/metricbeat.yml
  devenv/docker/blocks/elastic77/docker-compose.yaml
  devenv/docker/blocks/elastic77/elasticsearch.yml
  devenv/docker/blocks/elastic77/filebeat.yml
  devenv/docker/blocks/elastic77/metricbeat.yml
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

fixed a minor bug and did some small refactorings.
  pkg/api/datasources.go
  pkg/api/plugins.go
  pkg/services/pluginsettings/service/service.go
  pkg/services/pluginsettings/service/service_test.go
  pkg/services/pluginsettings/utils.go
  pkg/services/pluginsettings/utils_test.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Alerting: Fix default query's data source when no default datasource specified (#55435)
  public/app/features/alerting/unified/RuleEditor.test.tsx
  public/app/features/alerting/unified/components/rule-editor/QueryEditor.test.tsx
  public/app/features/alerting/unified/utils/datasource.ts
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

user essentials mob! :trident:
  package.json
  public/app/core/services/echo/backends/analytics/GA4Backend.ts
  yarn.lock
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Alerting: Fix enter key 'clicking' first button on form (#55222)
  packages/grafana-ui/src/components/Card/Card.tsx
  public/app/features/query/components/QueryEditorRowHeader.tsx
  public/app/plugins/datasource/prometheus/components/PromQueryField.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Chore: Update slate and related packages (#54566)
  .betterer.results
  .github/renovate.json5
  .gitignore
  .yarn/patches/slate-dev-environment-npm-0.2.5-9aeb7da7b5.patch
  .yarnrc.yml
  package.json
  packages/grafana-toolkit/src/config/webpack.plugin.config.ts
  packages/grafana-ui/package.json
  packages/grafana-ui/src/components/DataLinks/DataLinkInput.tsx
  packages/grafana-ui/src/components/QueryField/QueryField.test.tsx
  packages/grafana-ui/src/components/QueryField/QueryField.tsx
  packages/grafana-ui/src/slate-plugins/braces.test.tsx
  packages/grafana-ui/src/slate-plugins/braces.ts
  packages/grafana-ui/src/slate-plugins/clear.test.tsx
  packages/grafana-ui/src/slate-plugins/clear.ts
  packages/grafana-ui/src/slate-plugins/clipboard.ts
  packages/grafana-ui/src/slate-plugins/indentation.ts
  packages/grafana-ui/src/slate-plugins/newline.ts
  packages/grafana-ui/src/slate-plugins/runner.test.tsx
  packages/grafana-ui/src/slate-plugins/runner.ts
  packages/grafana-ui/src/slate-plugins/selection_shortcuts.ts
  packages/grafana-ui/src/slate-plugins/slate-prism/index.ts
  packages/grafana-ui/src/slate-plugins/slate-prism/options.tsx
  packages/grafana-ui/src/slate-plugins/suggestions.test.tsx
  packages/grafana-ui/src/slate-plugins/suggestions.tsx
  packages/grafana-ui/src/types/completion.ts
  packages/grafana-ui/tsconfig.build.json
  packages/jaeger-ui-components/package.json
  public/app/features/alerting/unified/components/Expression.tsx
  public/app/features/plugins/plugin_loader.ts
  public/app/plugins/datasource/cloudwatch/components/LogsQueryField.tsx
  public/app/plugins/datasource/loki/components/LokiQueryField.tsx
  public/app/plugins/datasource/prometheus/components/PromQueryField.tsx
  yarn.lock
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

add triage/needs-confirmation to collector (#55189)
  .github/metrics-collector.json
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

V8.5.12 security patch (#486)
  pkg/api/datasources.go
  pkg/api/datasources_test.go
  pkg/services/datasources/service/datasource_service.go
  pkg/services/datasources/service/datasource_service_test.go
  pkg/services/ngalert/eval/eval.go
  pkg/services/query/query.go
  pkg/services/query/query_test.go
  pkg/services/sqlstore/migrations/accesscontrol/admin_only.go
  pkg/services/sqlstore/migrations/accesscontrol/dashboard_permissions.go
  pkg/services/sqlstore/migrations/migrations.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

user essentials mob! :trident:
  conf/defaults.ini
  conf/sample.ini
  docs/sources/setup-grafana/configure-grafana/_index.md
  packages/grafana-data/src/types/config.ts
  packages/grafana-runtime/src/config.ts
  pkg/api/dtos/index.go
  pkg/api/frontendsettings.go
  pkg/api/index.go
  pkg/setting/setting.go
  public/app/app.ts
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, pr-docs, main-docs, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Fix small issues
  package.json
  public/app/features/plugins/plugin_loader.ts
  yarn.lock
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

"Release: Updated versions in package to 8.5.13" (#529)
  lerna.json
  package.json
  packages/grafana-data/package.json
  packages/grafana-e2e-selectors/package.json
  packages/grafana-e2e/package.json
  packages/grafana-runtime/package.json
  packages/grafana-schema/package.json
  packages/grafana-toolkit/package.json
  packages/grafana-ui/package.json
  packages/jaeger-ui-components/package.json
  plugins-bundled/internal/input-datasource/package.json
  yarn.lock
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Chore: Split temporary user (invite) service (#55397)
  pkg/api/org_invite.go
  pkg/api/org_users_test.go
  pkg/api/signup.go
  pkg/server/wire.go
  pkg/services/cleanup/cleanup.go
  pkg/services/sqlstore/login_attempt.go
  pkg/services/sqlstore/login_attempt_test.go
  pkg/services/sqlstore/store.go
  pkg/services/sqlstore/temp_user.go
  pkg/services/sqlstore/temp_user_test.go
  pkg/services/temp_user/tempuserimpl/store.go
  pkg/services/temp_user/tempuserimpl/store_test.go
  pkg/services/temp_user/tempuserimpl/temp_user.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

fix unit test
  public/app/core/components/MegaMenu/MegaMenu.test.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Elasticsearch: Rename public/app/plugins/datasource/elasticsearch/language_provider.ts to follow convention (#55430)
  .betterer.results
  public/app/plugins/datasource/elasticsearch/LanguageProvider.test.ts
  public/app/plugins/datasource/elasticsearch/LanguageProvider.ts
  public/app/plugins/datasource/elasticsearch/datasource.ts
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

V9.1.3.1 security patch (#492)
  pkg/api/datasources.go
  pkg/api/datasources_test.go
  pkg/services/datasources/service/datasource_service.go
  pkg/services/datasources/service/datasource_service_test.go
  pkg/services/sqlstore/migrations/accesscontrol/admin_only.go
  pkg/services/sqlstore/migrations/accesscontrol/dashboard_permissions.go
  pkg/services/sqlstore/migrations/migrations.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Chore: Update slate and related packages (#54566) (#55439)
  .betterer.results
  .github/renovate.json5
  .gitignore
  .yarn/patches/slate-dev-environment-npm-0.2.5-9aeb7da7b5.patch
  .yarnrc.yml
  package.json
  packages/grafana-toolkit/src/config/webpack.plugin.config.ts
  packages/grafana-ui/package.json
  packages/grafana-ui/src/components/DataLinks/DataLinkInput.tsx
  packages/grafana-ui/src/components/QueryField/QueryField.test.tsx
  packages/grafana-ui/src/components/QueryField/QueryField.tsx
  packages/grafana-ui/src/slate-plugins/braces.test.tsx
  packages/grafana-ui/src/slate-plugins/braces.ts
  packages/grafana-ui/src/slate-plugins/clear.test.tsx
  packages/grafana-ui/src/slate-plugins/clear.ts
  packages/grafana-ui/src/slate-plugins/clipboard.ts
  packages/grafana-ui/src/slate-plugins/indentation.ts
  packages/grafana-ui/src/slate-plugins/newline.ts
  packages/grafana-ui/src/slate-plugins/runner.test.tsx
  packages/grafana-ui/src/slate-plugins/runner.ts
  packages/grafana-ui/src/slate-plugins/selection_shortcuts.ts
  packages/grafana-ui/src/slate-plugins/slate-prism/index.ts
  packages/grafana-ui/src/slate-plugins/slate-prism/options.tsx
  packages/grafana-ui/src/slate-plugins/suggestions.test.tsx
  packages/grafana-ui/src/slate-plugins/suggestions.tsx
  packages/grafana-ui/src/types/completion.ts
  packages/grafana-ui/tsconfig.build.json
  packages/jaeger-ui-components/package.json
  public/app/features/alerting/unified/components/Expression.tsx
  public/app/features/plugins/plugin_loader.ts
  public/app/plugins/datasource/cloudwatch/components/LogsQueryField.tsx
  public/app/plugins/datasource/loki/components/LokiQueryField.tsx
  public/app/plugins/datasource/prometheus/components/PromQueryField.tsx
  yarn.lock
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

user essentials mob! :trident:
  public/app/core/services/echo/backends/analytics/GA4Backend.ts
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

force updatge the betterer results file
  .betterer.results
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

CSSTransition fixes warnings (#55340)
  packages/grafana-ui/src/components/Dropdown/Dropdown.tsx
  public/app/core/components/MegaMenu/NavBarMenu.tsx
  public/app/core/components/NavBar/NavBarMenu.tsx
  public/app/features/search/components/DashboardSearchModal.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

create structure for team service
  pkg/server/wire.go
  pkg/services/team/team.go
  pkg/services/team/teamimpl/team.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Add storybook bucket for main builds
  pkg/build/config/versions.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, trigger-test-release, main-integration-tests, main-windows, main-publish, main-notify

Add some org methods to org service interface
  pkg/services/org/model.go
  pkg/services/org/org.go
  pkg/services/org/orgimpl/org.go
  pkg/services/org/orgtest/fake.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Auth: reduce allocs (#55410)
  pkg/services/accesscontrol/accesscontrol.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Bug: Rollback change in search
  pkg/services/searchV2/service.go
  pkg/services/sqlstore/store.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

add nil pointer fix
  pkg/api/plugins.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

"Release: Updated versions in package to 9.1.6" (#531)
  lerna.json
  package.json
  packages/grafana-data/package.json
  packages/grafana-e2e-selectors/package.json
  packages/grafana-e2e/package.json
  packages/grafana-runtime/package.json
  packages/grafana-schema/package.json
  packages/grafana-toolkit/package.json
  packages/grafana-ui/package.json
  packages/jaeger-ui-components/package.json
  plugins-bundled/internal/input-datasource/package.json
  yarn.lock
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

force updatge the betterer results file (#55447)
  .betterer.results
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Echo: Add support for Google Analytics 4 (#55446)
  conf/defaults.ini
  conf/sample.ini
  docs/sources/setup-grafana/configure-grafana/_index.md
  package.json
  packages/grafana-data/src/types/config.ts
  packages/grafana-runtime/src/config.ts
  pkg/api/dtos/index.go
  pkg/api/frontendsettings.go
  pkg/api/index.go
  pkg/setting/setting.go
  public/app/app.ts
  public/app/core/services/echo/backends/analytics/GA4Backend.ts
  yarn.lock
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, pr-docs, main-docs, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Chore: minor code cleanups
  .betterer.results
  public/app/plugins/datasource/loki/components/LokiQueryField.tsx
  public/app/plugins/datasource/loki/components/monaco-query-field/MonacoQueryField.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Correlations: Return 200 instead of 404 for empt correlation lists (#55242)
  pkg/services/correlations/api.go
  pkg/services/correlations/database.go
  pkg/tests/api/correlations/correlations_read_test.go
  public/app/features/correlations/CorrelationsPage.test.tsx
  public/app/features/correlations/CorrelationsPage.tsx
  public/app/features/correlations/Forms/AddCorrelationForm.tsx
  public/app/features/correlations/Forms/EditCorrelationForm.tsx
  public/app/features/correlations/useCorrelations.ts
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Chore: Create structure for team service (#55444)
  pkg/server/wire.go
  pkg/services/team/team.go
  pkg/services/team/teamimpl/team.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Add storybook bucket for main builds (#55448)
  pkg/build/config/versions.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, trigger-test-release, main-integration-tests, main-windows, main-publish, main-notify

Path conditions:
  pr-verify-drone: any of: scripts/drone/**, .drone.yml, .drone.star, but not: docs/**, *.md
  pr-test-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-test-backend: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, but not: docs/**, *.md
  pr-build-e2e: any file but: *.md, docs/**, latest.json
  pr-integration-tests: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, but not: docs/**, *.md
  pr-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  main-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  main-test-frontend: any file but: *.md, docs/**, latest.json
  main-test-backend: any file but: *.md, docs/**, latest.json
  main-build-e2e-publish: any file but: *.md, docs/**, latest.json
  trigger-test-release: any of: .drone.yml, pkg/build/**
  main-integration-tests: any file but: *.md, docs/**, latest.json
  main-windows: any file but: *.md, docs/**, latest.json
  notify-drone-changes: any of: .drone.yml, but not: exclude
  main-publish: any file but: *.md, docs/**, latest.json
  main-notify: any file but: *.md, docs/**, latest.json
