Repository grafana/grafana: changes, and which Drone steps are due for each by the changed paths.
All: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, pr-docs

Path conditions:
  pr-test-frontend: any file but: docs/**
  pr-test-backend: any file but: docs/**
  pr-build-e2e: any file but: docs/**
  pr-integration-tests: any file but: docs/**
  pr-docs: any of: docs/**, packages/**

ConfirmDeleteModal fix small typo when getting folders
  public/app/features/search/page/components/ConfirmDeleteModal.tsx
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests

simplify getting a slice of keys (#48889)
  pkg/services/ngalert/schedule/schedule.go
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests

move alertRuleRegistry to its own file
  pkg/services/ngalert/schedule/registry.go
  pkg/services/ngalert/schedule/schedule.go
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests

move tests to separate file
  pkg/services/ngalert/schedule/registry_test.go
  pkg/services/ngalert/schedule/schedule_unit_test.go
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests

Fix: Legacy alerts: When import dashboard for the first time should create alerts
  pkg/services/dashboards/manager/dashboard_service.go
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests

Nits on about-rbas.md
  docs/sources/enterprise/access-control/about-rbac.md
Due: pr-docs

Alerting: Move alertRuleRegistry to its own file (#48890)
  pkg/services/ngalert/schedule/registry.go
  pkg/services/ngalert/schedule/registry_test.go
  pkg/services/ngalert/schedule/schedule.go
  pkg/services/ngalert/schedule/schedule_unit_test.go
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests

rename variable
  pkg/services/sqlstore/migrations/ualert/ualert.go
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests

changes after merge
  pkg/services/ngalert/schedule/registry.go
  pkg/services/ngalert/schedule/registry_test.go
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests

Update pkg/services/sqlstore/migrations/ualert/ualert.go
  pkg/services/sqlstore/migrations/ualert/ualert.go
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests

Tracing: Add ability to write trace to metrics query (#48824)
  docs/sources/datasources/jaeger.md
  docs/sources/datasources/tempo.md
  docs/sources/datasources/zipkin.md
  public/app/core/components/TraceToMetrics/TraceToMetricsSettings.tsx
  public/app/features/explore/TraceView/createSpanLink.test.ts
  public/app/features/explore/TraceView/createSpanLink.tsx
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, pr-docs

Context menu beirng to front/sent to back (#47851)
  public/app/features/canvas/runtime/element.tsx
  public/app/features/canvas/runtime/frame.tsx
  public/app/features/canvas/runtime/scene.tsx
  public/app/features/canvas/types.ts
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests

some more implementation
  pkg/services/sqlstore/db/db.go
  pkg/services/sqlstore/mockstore/mockstore.go
  pkg/services/sqlstore/sqlstore.go
  pkg/services/team/model.go
  pkg/services/team/team.go
  pkg/services/team/teamimpl/store.go
  pkg/services/team/teamimpl/team.go
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests

Accesscontrol: Rename scope permissions:delegate (#48898)
  docs/sources/enterprise/access-control/custom-role-actions-scopes.md
  docs/sources/enterprise/access-control/manage-rbac-roles.md
  docs/sources/http_api/access_control.md
  pkg/services/accesscontrol/evaluator_test.go
  public/api-merged.json
  public/api-spec.json
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, pr-docs

Search: use bluge index for frontend search (playground) (#48847)
  package.json
  public/app/features/search/page/SearchPage.tsx
  public/app/features/search/page/components/ActionRow.tsx
  public/app/features/search/page/components/ConfirmDeleteModal.tsx
  public/app/features/search/page/components/FolderSection.tsx
  public/app/features/search/page/components/FolderView.tsx
  public/app/features/search/page/components/SearchResultsGrid.tsx
  public/app/features/search/page/components/SearchResultsTable.tsx
  public/app/features/search/page/components/columns.tsx
  public/app/features/search/service/backend.ts
  public/app/features/search/service/bluge.ts
  public/app/features/search/service/minisearcher.ts
  public/app/features/search/service/searcher.test.ts
  public/app/features/search/service/searcher.ts
  public/app/features/search/service/types.ts
  public/app/plugins/datasource/grafana/components/QueryEditor.tsx
  public/app/plugins/datasource/grafana/types.ts
  yarn.lock
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests

Manage rbac roles
  docs/sources/enterprise/access-control/custom-role-actions-scopes.md
  docs/sources/enterprise/access-control/manage-rbac-roles.md
  docs/sources/enterprise/access-control/plan-rbac-rollout-strategy.md
Due: pr-docs

Nit.
  docs/sources/enterprise/access-control/manage-rbac-roles.md
Due: pr-docs

Rephrase
  docs/sources/enterprise/access-control/manage-rbac-roles.md
Due: pr-docs

Comment
  docs/sources/enterprise/access-control/manage-rbac-roles.md
Due: pr-docs

Add version to the role
  docs/sources/enterprise/access-control/manage-rbac-roles.md
Due: pr-docs

platform agnostic filter
  pkg/services/sqlstore/migrations/ualert/permissions.go
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests

extract method toGettableRuleGroupConfig
  pkg/services/ngalert/api/api_ruler.go
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests

scheduler to use a short version of alert rule model
  pkg/services/ngalert/models/alert_rule.go
  pkg/services/ngalert/schedule/fetcher.go
  pkg/services/ngalert/store/alert_rule.go
  pkg/services/ngalert/store/testing.go
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests

use fusebit vars
  packages/grafana-data/src/themes/createColors.ts
  packages/grafana-data/src/themes/createTypography.ts
  packages/grafana-data/src/themes/palette.ts
  packages/grafana-ui/src/components/Logs/getLogRowStyles.ts
  packages/grafana-ui/src/themes/fusebit.ts
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, pr-docs

change fa-inverse hex
  public/sass/base/font-awesome/_variables.scss
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests

use fusebit pallete
  packages/grafana-data/src/themes/createColors.ts
  packages/grafana-data/src/themes/palette.ts
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, pr-docs

allow embeding false
  conf/defaults.ini
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests

convert LogMessageAnsi tests to RTL
  .betterer.results
  packages/grafana-ui/src/components/Logs/LogMessageAnsi.test.tsx
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, pr-docs

Update pkg/services/ngalert/models/alert_rule.go
  pkg/services/ngalert/models/alert_rule.go
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests

rename
  pkg/services/ngalert/models/alert_rule.go
  pkg/services/ngalert/schedule/fetcher.go
  pkg/services/ngalert/store/alert_rule.go
  pkg/services/ngalert/store/testing.go
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests

Transformation: Added variance and standard deviation (#48844)
  docs/sources/panels/calculation-types.md
  packages/grafana-data/src/transformations/fieldReducer.test.ts
  packages/grafana-data/src/transformations/fieldReducer.ts
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, pr-docs

Transformation: Added variance and standard deviation (#48844) (#48921)
  docs/sources/panels/calculation-types.md
  packages/grafana-data/src/transformations/fieldReducer.test.ts
  packages/grafana-data/src/transformations/fieldReducer.ts
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, pr-docs

feat: ensure tests pass with experimental feature flag enabled
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/NewMetricsQueryEditor/MetricsQueryEditor.test.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/NewMetricsQueryEditor/MetricsQueryEditor.tsx
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests

feat: avoid duplicate unit tests for experimental MetricsQueryEditor
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/NewMetricsQueryEditor/MetricsQueryEditor.test.tsx
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests

feat: migrate Azure Metrics Query Editor Field to experimental UI
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/Field.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/NewMetricsQueryEditor/MetricsQueryEditor.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/QueryEditor/QueryEditor.test.tsx
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests

AzureMonitor: begin moving metrics query editor to use @grafana/experimental (#48878)
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/Field.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/NewMetricsQueryEditor/MetricsQueryEditor.test.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/NewMetricsQueryEditor/MetricsQueryEditor.tsx
  public/app/plugins/datasource/grafana-azure-monitor-datasource/components/QueryEditor/QueryEditor.test.tsx
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests

loki: backend-mode: add "limit" dataframe meta attribute (#48894)
  public/app/plugins/datasource/loki/backendResultTransformer.test.ts
  public/app/plugins/datasource/loki/backendResultTransformer.ts
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests

Alerting: Parse Loki BuildInfo response
  public/app/features/alerting/unified/api/buildInfo.ts
  public/app/types/unified-alerting-dto.ts
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests
