Repository grafana/grafana: changes, and which Drone steps are due for each by the changed paths.
All: pr-verify-drone, pr-verify-starlark, pr-verify-storybook, pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, end-to-end-tests-cloud-plugins-suite-azure, build-storybook, pr-integration-tests, pr-docs, pr-shellcheck, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

pr-verify-drone:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.20.3
    name: identify-runner
  - commands:
    - go build -o ./bin/build -ldflags '-extldflags -static' ./pkg/build/cmd
    depends_on: []
    environment:
      CGO_ENABLED: 0
    image: golang:1.23.1-alpine
    name: compile-build-cmd
  - commands:
  ...

pr-verify-starlark:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.20.3
    name: identify-runner
  - commands:
    - go install github.com/bazelbuild/buildtools/buildifier@latest
    - buildifier --lint=warn -mode=check -r .
    depends_on: []
    image: golang:1.23.1-alpine
    name: lint-starlark

pr-verify-storybook:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.20.3
    name: identify-runner
  - commands:
    - yarn install --immutable || yarn install --immutable
    depends_on: []
    image: node:20.9.0-alpine
    name: yarn-install
  - commands:
    - yarn storybook --quiet
    depends_on:
    - yarn-install
  ...

pr-test-frontend:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.20.3
    name: identify-runner
  - commands:
    - yarn install --immutable || yarn install --immutable
    depends_on: []
    image: node:20.9.0-alpine
    name: yarn-install
  - commands:
    - apk add --update git bash
    - yarn betterer ci
  ...

pr-lint-frontend:
  steps:
  - commands:
    - echo $(/usr/bin/github-app-external-token) > /github-app/token
    environment:
      GITHUB_APP_ID:
        from_secret: github-app-app-id
      GITHUB_APP_INSTALLATION_ID:
        from_secret: github-app-installation-id
      GITHUB_APP_PRIVATE_KEY:
  ...

pr-test-backend:
  steps:
  - commands:
    - echo $(/usr/bin/github-app-external-token) > /github-app/token
    environment:
      GITHUB_APP_ID:
        from_secret: github-app-app-id
      GITHUB_APP_INSTALLATION_ID:
        from_secret: github-app-installation-id
      GITHUB_APP_PRIVATE_KEY:
  ...

pr-lint-backend:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.20.3
    name: identify-runner
  - commands:
    - go build -o ./bin/build -ldflags '-extldflags -static' ./pkg/build/cmd
    depends_on: []
    environment:
      CGO_ENABLED: 0
    image: golang:1.23.1-alpine
    name: compile-build-cmd
  - commands:
  ...

pr-build-e2e:
  steps:
  - commands:
    - echo $(/usr/bin/github-app-external-token) > /github-app/token
    environment:
      GITHUB_APP_ID:
        from_secret: github-app-app-id
      GITHUB_APP_INSTALLATION_ID:
        from_secret: github-app-installation-id
      GITHUB_APP_PRIVATE_KEY:
  ...

end-to-end-tests-cloud-plugins-suite-azure:
  commands:
  - GITHUB_TOKEN=$(cat /github-app/token)
  - cd /
  - ./cpp-e2e/scripts/ci-run.sh azure ${DRONE_SOURCE_BRANCH}
  depends_on:
  - grafana-server
  - github-app-generate-token
  environment:
    AZURE_SP_APP_ID:
      from_secret: azure_sp_app_id
    AZURE_SP_PASSWORD:
      from_secret: azure_sp_app_pw
  ...

fix: two ways to feed config (config_ini was missed)
  pkg/services/apiserver/config.go
  pkg/services/apiserver/options/kube-aggregator.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

fix client cert passing into available controller
  pkg/services/apiserver/aggregator/aggregator.go
  pkg/services/apiserver/service.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

fix
  pkg/services/apiserver/config.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

address feedback
  pkg/services/apiserver/aggregator/aggregator.go
  pkg/services/apiserver/aggregator/config.go
  pkg/services/apiserver/service.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

add logs using infra log
  pkg/services/apiserver/aggregator/aggregator.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

strip logs
  pkg/services/apiserver/aggregator/aggregator.go
  pkg/services/apiserver/options/extra.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

go.mod changes post disconnect enterprise
  go.mod
  go.sum
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

aggregation: fix config.ini reading of the new bool (#101099)
  pkg/services/apiserver/aggregator/aggregator.go
  pkg/services/apiserver/aggregator/config.go
  pkg/services/apiserver/config.go
  pkg/services/apiserver/options/extra.go
  pkg/services/apiserver/options/kube-aggregator.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

add landing page before wizard
  .betterer.results
  public/app/features/provisioning/OnboardingPage.tsx
  public/app/features/provisioning/RepositoryListPage.tsx
  public/app/features/provisioning/Wizard/MigrateToProvisioningPage.tsx
  public/app/features/provisioning/utils/routes.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

update docs
  docs/sources/setup-grafana/image-rendering/_index.md
Due: pr-docs, main-docs

avoid starting sync jobs on legacy
  pkg/registry/apis/provisioning/controller/repository.go
  pkg/registry/apis/provisioning/register.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

newlines
  pkg/registry/apis/provisioning/controller/repository.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Update onboarding page
  public/app/features/provisioning/OnboardingPage.tsx
  public/app/features/provisioning/RepositoryListPage.tsx
  public/img/provisioning-empty.svg
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Update URL
  public/app/features/provisioning/OnboardingPage.tsx
  public/app/features/provisioning/constants.ts
  public/img/provisioning-empty.svg
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Remove unused
  public/app/features/provisioning/OnboardingPage.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

TabsLayout: Implementts url sync and removes double scene object reference
  public/app/features/dashboard-scene/scene/layout-tabs/TabItem.tsx
  public/app/features/dashboard-scene/scene/layout-tabs/TabItemRenderer.tsx
  public/app/features/dashboard-scene/scene/layout-tabs/TabsLayoutManager.tsx
  public/app/features/dashboard-scene/scene/layout-tabs/TabsLayoutManagerRenderer.tsx
  public/app/features/dashboard-scene/serialization/layoutSerializers/TabsLayoutSerializer.ts
  public/app/features/dashboard-scene/serialization/transformSceneToSaveModelSchemaV2.test.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Do not allow removing last tab
  public/app/features/dashboard-scene/scene/layout-tabs/TabsLayoutManager.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Update public/app/features/dashboard-scene/edit-pane/DashboardEditPaneSplitter.tsx
  public/app/features/dashboard-scene/edit-pane/DashboardEditPaneSplitter.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

AccessControl: Allow plugin roles to include `plugins:write` (#101089)
  pkg/services/accesscontrol/pluginutils/utils.go
  pkg/services/accesscontrol/pluginutils/utils_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Add deleteAll button
  public/app/features/provisioning/RepositoryListPage.tsx
  public/app/features/provisioning/api/endpoints.gen.ts
  scripts/generate-rtk-apis.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Improved text
  public/app/features/provisioning/RepositoryListPage.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

betterer
  .betterer.results
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Provisioning: Avoid starting sync jobs when using legacy storage (#101114)
  pkg/registry/apis/provisioning/controller/repository.go
  pkg/registry/apis/provisioning/register.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Alerting: API to create rule groups using mimirtool
  pkg/services/ngalert/api/api.go
  pkg/services/ngalert/api/api_convert_prometheus.go
  pkg/services/ngalert/api/api_convert_prometheus_test.go
  pkg/services/ngalert/api/authorization.go
  pkg/services/ngalert/api/errors.go
  pkg/services/ngalert/api/persist.go
  pkg/services/ngalert/models/provisioning.go
  pkg/services/ngalert/prom/convert.go
  pkg/services/ngalert/prom/convert_test.go
  pkg/services/ngalert/prom/models.go
  pkg/services/ngalert/store/alert_rule.go
  pkg/services/ngalert/store/alert_rule_test.go
  pkg/services/ngalert/store/namespace.go
  pkg/services/ngalert/store/namespace_test.go
  pkg/services/ngalert/tests/fakes/rules.go
  pkg/tests/api/alerting/api_convert_prometheus_test.go
  pkg/tests/api/alerting/testing.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Remove old permissions
  pkg/services/ngalert/api/authorization.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Strict header check
  pkg/services/ngalert/api/api_convert_prometheus.go
  pkg/services/ngalert/api/api_convert_prometheus_test.go
  pkg/services/ngalert/api/errors.go
  pkg/tests/api/alerting/api_convert_prometheus_test.go
  pkg/tests/api/alerting/testing.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Adjust log messages
  pkg/services/ngalert/api/api_convert_prometheus.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Update Swagger
  pkg/services/ngalert/api/tooling/api.json
  pkg/services/ngalert/api/tooling/definitions/convert_prometheus_api.go
  pkg/services/ngalert/api/tooling/post.json
  pkg/services/ngalert/api/tooling/spec.json
  public/api-merged.json
  public/openapi3.json
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Alerting: API to read rule groups using mimirtool
  pkg/services/ngalert/api/api_convert_prometheus.go
  pkg/services/ngalert/api/api_convert_prometheus_test.go
  pkg/services/ngalert/api/api_provisioning.go
  pkg/services/ngalert/api/tooling/api.json
  pkg/services/ngalert/api/tooling/definitions/convert_prometheus_api.go
  pkg/services/ngalert/api/tooling/post.json
  pkg/services/ngalert/api/tooling/spec.json
  pkg/services/ngalert/models/alert_rule.go
  pkg/services/ngalert/models/testing.go
  pkg/services/ngalert/provisioning/alert_rules.go
  pkg/services/ngalert/provisioning/alert_rules_test.go
  pkg/services/ngalert/store/alert_rule.go
  pkg/services/ngalert/store/alert_rule_test.go
  pkg/services/ngalert/tests/fakes/rules.go
  pkg/tests/api/alerting/api_convert_prometheus_test.go
  pkg/tests/api/alerting/testing.go
  public/api-merged.json
  public/openapi3.json
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Alerting: API to delete rule groups using mimirtool
  pkg/services/ngalert/api/api_convert_prometheus.go
  pkg/services/ngalert/api/api_convert_prometheus_test.go
  pkg/services/ngalert/api/api_provisioning.go
  pkg/services/ngalert/api/errors.go
  pkg/services/ngalert/api/tooling/api.json
  pkg/services/ngalert/provisioning/alert_rules.go
  pkg/services/ngalert/provisioning/alert_rules_test.go
  pkg/services/ngalert/store/deltas.go
  pkg/services/ngalert/store/deltas_test.go
  pkg/services/ngalert/tests/fakes/rules.go
  pkg/tests/api/alerting/api_convert_prometheus_test.go
  pkg/tests/api/alerting/testing.go
  public/api-merged.json
  public/openapi3.json
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Alerting: Generate stable UUID for alert rules in Prometheus conversion
  pkg/services/ngalert/prom/convert.go
  pkg/services/ngalert/prom/convert_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Rename the label to __grafana_alert_rule_uid__
  pkg/services/ngalert/prom/convert.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Alerting: Add math node to the converted Prometheus rules
  pkg/services/ngalert/prom/convert.go
  pkg/services/ngalert/prom/convert_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

scopes: moves scopes to enterprise (#100746)
  go.work.sum
  pkg/apimachinery/apis/common/v0alpha1/doc.go
  pkg/apimachinery/apis/common/v0alpha1/types.go
  pkg/apimachinery/apis/common/v0alpha1/zz_generated.deepcopy.go
  pkg/apimachinery/apis/common/v0alpha1/zz_generated.openapi.go
  pkg/apimachinery/apis/common/v0alpha1/zz_generated.openapi_violation_exceptions.list
  pkg/apis/scope/v0alpha1/doc.go
  pkg/apis/scope/v0alpha1/register.go
  pkg/apis/scope/v0alpha1/types.go
  pkg/apis/scope/v0alpha1/zz_generated.deepcopy.go
  pkg/apis/scope/v0alpha1/zz_generated.defaults.go
  pkg/apis/scope/v0alpha1/zz_generated.openapi.go
  pkg/apis/scope/v0alpha1/zz_generated.openapi_violation_exceptions.list
  pkg/registry/apis/apis.go
  pkg/registry/apis/scope/find.go
  pkg/registry/apis/scope/find_scope_dashboards.go
  pkg/registry/apis/scope/find_test.go
  pkg/registry/apis/scope/register.go
  pkg/registry/apis/scope/storage.go
  pkg/registry/apis/wireset.go
  pkg/tests/apis/scopes/scope_nodes_example_test.go
  pkg/tests/apis/scopes/scopes_test.go
  pkg/tests/apis/scopes/testdata/example-scope-dashboard-binding-abc.yaml
  pkg/tests/apis/scopes/testdata/example-scope-dashboard-binding-xyz.yaml
  pkg/tests/apis/scopes/testdata/example-scope.yaml
  pkg/tests/apis/scopes/testdata/example-scope2.yaml
  pkg/tests/apis/scopes/testdata/example-scope3.yaml
  pkg/tests/apis/scopes/testdata/scopeNodesExample/scopeNodes.json
  pkg/tests/apis/scopes/testdata/scopeNodesExample/scopes.json
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Provisioning: Onboarding landing page (#101112)
  .betterer.results
  public/app/features/provisioning/OnboardingPage.tsx
  public/app/features/provisioning/RepositoryListPage.tsx
  public/app/features/provisioning/Wizard/MigrateToProvisioningPage.tsx
  public/app/features/provisioning/api/endpoints.gen.ts
  public/app/features/provisioning/constants.ts
  public/app/features/provisioning/utils/routes.ts
  public/img/provisioning-empty.svg
  scripts/generate-rtk-apis.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

update doc
  docs/sources/setup-grafana/image-rendering/_index.md
Due: pr-docs, main-docs

Storage: Filter List requests using accessclient item checker (#101080)
  pkg/storage/secret/metadata/keeper_store.go
  pkg/storage/secret/metadata/secure_value_store.go
  pkg/tests/apis/secret/keeper_test.go
  pkg/tests/apis/secret/secure_value_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

use the same sync worker
  pkg/registry/apis/provisioning/jobs/migrate/worker.go
  pkg/registry/apis/provisioning/register.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Search for folders with a stable sort
  pkg/services/ngalert/store/namespace.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

[release-11.2.8] IAM: fix grafana_com OAuth connector config overriding (#101077)
  pkg/login/social/connectors/grafana_com_oauth.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Path conditions:
  pr-verify-drone: any of: scripts/drone/**, .drone.yml, .drone.star, but not: docs/**, *.md
  pr-verify-starlark: any of: scripts/drone/**, .drone.star, but not: docs/**, *.md
  pr-verify-storybook: any of: packages/grafana-ui/**, but not: docs/**, *.md
  pr-test-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-lint-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-test-backend: any of: Makefile, pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, docs/sources/setup-grafana/configure-grafana/feature-toggles/**, devenv/**, but not: docs/**, *.md
  pr-lint-backend: any of: .golangci.toml, Makefile, pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, .bingo/**, but not: docs/**, *.md
  pr-build-e2e: any file but: *.md, docs/**, latest.json
  end-to-end-tests-cloud-plugins-suite-azure: any of: pkg/tsdb/azuremonitor/**, public/app/plugins/datasource/azuremonitor/**, e2e/cloud-plugins-suite/azure-monitor.spec.ts
  build-storybook: any of: packages/grafana-ui/**
  pr-integration-tests: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, but not: docs/**, *.md
  pr-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  pr-shellcheck: any of: scripts/**/*.sh, but not: *.md, docs/**, latest.json
  main-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  main-test-frontend: any file but: *.md, docs/**, latest.json
  main-lint-frontend: any file but: *.md, docs/**, latest.json
  main-test-backend: any file but: *.md, docs/**, latest.json
  main-lint-backend: any file but: *.md, docs/**, latest.json
  main-verify-storybook: any file but: *.md, docs/**, latest.json
  main-build-e2e-publish: any file but: *.md, docs/**, latest.json
  store-storybook: any of: packages/grafana-ui/**
  release-canary-npm-packages: any of: packages/**
  main-integration-tests: any file but: *.md, docs/**, latest.json
  main-trigger-downstream: any file but: *.md, docs/**, latest.json
  main-notify: any file but: *.md, docs/**, latest.json
  rgm-main-prerelease: any file but: *.md, docs/**, packages/**/*.md, latest.json
