Repository grafana/grafana: changes, and which Drone steps are due for each by the changed paths.
All: pr-verify-drone, pr-verify-starlark, pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, trigger-test-release, end-to-end-tests-cloud-plugins-suite-azure, build-storybook, pr-integration-tests, pr-docs, pr-shellcheck, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, store-storybook, main-integration-tests, main-windows, notify-drone-changes, main-trigger-downstream, main-notify

Path conditions:
  pr-verify-drone: any of: scripts/drone/**, .drone.yml, .drone.star, but not: docs/**, *.md
  pr-verify-starlark: any of: scripts/drone/**, .drone.star, but not: docs/**, *.md
  pr-test-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-lint-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-test-backend: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, but not: docs/**, *.md
  pr-lint-backend: any of: pkg/**, packaging/**, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, .bingo/**, but not: docs/**, *.md
  pr-build-e2e: any file but: *.md, docs/**, latest.json
  trigger-test-release: any of: .drone.yml, pkg/build/**
  end-to-end-tests-cloud-plugins-suite-azure: any of: pkg/tsdb/azuremonitor/**, public/app/plugins/datasource/azuremonitor/**, e2e/cloud-plugins-suite/azure-monitor.spec.ts
  build-storybook: any of: packages/grafana-ui/**
  pr-integration-tests: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, but not: docs/**, *.md
  pr-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  pr-shellcheck: any of: scripts/**/*.sh, but not: *.md, docs/**, latest.json
  main-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  main-test-frontend: any file but: *.md, docs/**, latest.json
  main-lint-frontend: any file but: *.md, docs/**, latest.json
  main-test-backend: any file but: *.md, docs/**, latest.json
  main-lint-backend: any file but: *.md, docs/**, latest.json
  main-build-e2e-publish: any file but: *.md, docs/**, latest.json
  store-storybook: any of: packages/grafana-ui/**
  main-integration-tests: any file but: *.md, docs/**, latest.json
  main-windows: any file but: *.md, docs/**, latest.json
  notify-drone-changes: any of: .drone.yml, but not: exclude
  main-trigger-downstream: any file but: *.md, docs/**, latest.json
  main-notify: any file but: *.md, docs/**, latest.json

EmptyState: Don't apply animation when `prefers-reduced-motion` is set (#87638)
  packages/grafana-ui/src/components/EmptyState/GrotNotFound/GrotNotFound.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, store-storybook, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Chore: Bump lerna to 8.1.3
  package.json
  yarn.lock
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Chore: Remove redux-rtl test helper (#87596)
  public/app/core/components/Signup/SignupPage.test.tsx
  public/app/core/components/Signup/VerifyEmailPage.test.tsx
  public/app/features/auth-config/AuthDrawer.test.tsx
  public/app/features/logs/components/log-context/LogRowContextModal.test.tsx
  public/test/redux-rtl.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Chore: Bump transitive tar to 6.2.1
  yarn.lock
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Improve alert rule loading on the clone page
  public/app/features/alerting/unified/CloneRuleEditor.tsx
  public/app/features/alerting/unified/ExistingRuleEditor.tsx
  public/app/features/alerting/unified/components/rules/RuleDetails.test.tsx
  public/app/features/alerting/unified/hooks/useCombinedRule.ts
  public/app/features/alerting/unified/hooks/useIsRuleEditable.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

chore(npm): bump ejs to 3.1.10 for dependabot
  yarn.lock
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

update spinner aria label
  packages/grafana-ui/src/components/Spinner/Spinner.tsx
  public/locales/en-US/grafana.json
  public/locales/pseudo-LOCALE/grafana.json
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, store-storybook, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Chore: Bump lerna and tar (#87699)
  package.json
  yarn.lock
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Elasticsearch: Fix setting of default maxConcurrentShardRequests
  pkg/tsdb/elasticsearch/client/client.go
  pkg/tsdb/elasticsearch/elasticsearch.go
  pkg/tsdb/elasticsearch/elasticsearch_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Chore: Bump ejs to 3.10.0 (#87701)
  yarn.lock
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Spinner: Change spinner icon when `prefers-reduced-motion` is set (#87641)
  packages/grafana-ui/src/components/Spinner/Spinner.tsx
  public/app/core/components/AppChrome/OrganizationSwitcher/OrganizationSwitcher.test.tsx
  public/app/core/components/AppChrome/TopBar/TopSearchBarSection.test.tsx
  public/locales/en-US/grafana.json
  public/locales/pseudo-LOCALE/grafana.json
  public/test/jest-setup.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, store-storybook, main-integration-tests, main-windows, main-trigger-downstream, main-notify

chore(storybook): run yarn dlx storybook@latest upgrade
  packages/grafana-ui/.storybook/main.ts
  packages/grafana-ui/package.json
  yarn.lock
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, store-storybook, main-integration-tests, main-windows, main-trigger-downstream, main-notify

don't parse userID if entity isn't user or service account
  pkg/services/dashboards/service/dashboard_service.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Add float test scenario
  pkg/tsdb/elasticsearch/elasticsearch_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

review
  pkg/services/datasources/service/datasource.go
  pkg/services/sqlstore/migrations/datasource_mig.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Upgrade grafana-plugin-sdk-go to v0.230.0
  go.mod
  go.sum
  go.work.sum
  pkg/apiserver/go.mod
  pkg/apiserver/go.sum
  pkg/promlib/go.mod
  pkg/promlib/go.sum
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

tutorials: alerting get started url fix (#87697)
  docs/sources/tutorials/alerting-get-started/index.md
Due: pr-docs, main-docs

Upgrade grafana-plugin-sdk-go to v0.230.0 (#87706)
  go.mod
  go.sum
  go.work.sum
  pkg/apiserver/go.mod
  pkg/apiserver/go.sum
  pkg/promlib/go.mod
  pkg/promlib/go.sum
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

remove changes from go.work.sum
  go.work.sum
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Update traces query builder
  pkg/tsdb/azuremonitor/loganalytics/traces.go
  pkg/tsdb/azuremonitor/loganalytics/traces_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, end-to-end-tests-cloud-plugins-suite-azure, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Update instance test
  pkg/tsdb/azuremonitor/azuremonitor_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, end-to-end-tests-cloud-plugins-suite-azure, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Fix deleting rules when silencing/resuming rule from a panel alert tab
  public/app/features/alerting/unified/components/MenuItemPauseRule.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Elasticsearch: Fix URL creation and allowlist for `/_mapping` requests (#80970)
  pkg/tsdb/elasticsearch/elasticsearch.go
  public/app/plugins/datasource/elasticsearch/datasource.test.ts
  public/app/plugins/datasource/elasticsearch/datasource.ts
  public/app/plugins/datasource/elasticsearch/mocks.ts
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

make toggle disabled color when disabled
  packages/grafana-ui/src/components/Switch/Switch.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, store-storybook, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Apply prettier fixes
  public/app/features/alerting/unified/components/contact-points/DuplicateMessageTemplate.tsx
  public/app/features/alerting/unified/components/contact-points/__mocks__/grafanaManagedServer.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Remove unneeded props to allow for easier testing
  public/app/features/alerting/unified/Templates.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Change to test Templates behaviour at higher level
  public/app/features/alerting/unified/Templates.test.tsx
  public/app/features/alerting/unified/components/contact-points/DuplicateMessageTemplate.test.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

use frontend mode alias regex
  pkg/tsdb/influxdb/influxql/util/util.go
  pkg/tsdb/influxdb/influxql/util/util_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

fix: in generated file
  packages/grafana-schema/src/raw/dashboard/x/dashboard_types.gen.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Improve alert rule loading on the modify export page
  public/app/features/alerting/unified/components/export/GrafanaModifyExport.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

remove comment
  pkg/tsdb/influxdb/influxql/util/util.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Revert "fix: in generated file"
  packages/grafana-schema/src/raw/dashboard/x/dashboard_types.gen.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Use the correct list of clouds, add test, fix error condition handling
  pkg/services/pluginsintegration/pluginconfig/request.go
  pkg/services/pluginsintegration/pluginconfig/request_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

fix(canvas): resize element on moving
  public/app/features/canvas/runtime/element.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

admission controllers
  go.mod
  go.sum
  go.work.sum
  pkg/plugins/backendplugin/coreplugin/core_plugin.go
  pkg/plugins/backendplugin/grpcplugin/client_v2.go
  pkg/plugins/backendplugin/grpcplugin/grpc_plugin.go
  pkg/plugins/backendplugin/ifaces.go
  pkg/plugins/ifaces.go
  pkg/plugins/manager/client/client.go
  pkg/plugins/manager/client/clienttest/clienttest.go
  pkg/plugins/manager/client/decorator.go
  pkg/plugins/plugins.go
  pkg/services/datasources/service/datasource.go
  pkg/services/pluginsintegration/clientmiddleware/caching_middleware.go
  pkg/services/pluginsintegration/clientmiddleware/clear_auth_headers_middleware.go
  pkg/services/pluginsintegration/clientmiddleware/contextual_logger_middleware.go
  pkg/services/pluginsintegration/clientmiddleware/cookies_middleware.go
  pkg/services/pluginsintegration/clientmiddleware/forward_id_middleware.go
  pkg/services/pluginsintegration/clientmiddleware/grafana_request_id_header_middleware.go
  pkg/services/pluginsintegration/clientmiddleware/httpclient_middleware.go
  pkg/services/pluginsintegration/clientmiddleware/logger_middleware.go
  pkg/services/pluginsintegration/clientmiddleware/metrics_middleware.go
  pkg/services/pluginsintegration/clientmiddleware/oauthtoken_middleware.go
  pkg/services/pluginsintegration/clientmiddleware/plugin_request_meta_middleware.go
  pkg/services/pluginsintegration/clientmiddleware/resource_response_middleware.go
  pkg/services/pluginsintegration/clientmiddleware/status_source_middleware.go
  pkg/services/pluginsintegration/clientmiddleware/tracing_header_middleware.go
  pkg/services/pluginsintegration/clientmiddleware/tracing_middleware.go
  pkg/services/pluginsintegration/clientmiddleware/tracing_middleware_test.go
  pkg/services/pluginsintegration/clientmiddleware/user_header_middleware.go
  pkg/services/pluginsintegration/clientmiddleware/utils.go
  pkg/tsdb/grafana-testdata-datasource/admission_handler.go
  pkg/tsdb/grafana-testdata-datasource/testdata.go
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Add comment
  pkg/tsdb/elasticsearch/elasticsearch.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

sync grafana admins
  pkg/services/accesscontrol/database/zanzana.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Elasticsearch: Fix setting of default maxConcurrentShardRequests (#87703)
  pkg/tsdb/elasticsearch/client/client.go
  pkg/tsdb/elasticsearch/elasticsearch.go
  pkg/tsdb/elasticsearch/elasticsearch_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

docs: add youtube video
  docs/sources/panels-visualizations/visualizations/dashboard-list/index.md
Due: pr-docs, main-docs

Style tweaks to make alert rule more visible
  public/app/features/alerting/unified/components/silences/MatchersField.tsx
  public/app/features/alerting/unified/components/silences/SilenceGrafanaRuleDrawer.tsx
  public/app/features/alerting/unified/components/silences/SilencesEditor.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify
