Repository grafana/grafana: changes, and which Drone steps are due for each by the changed paths.
All: pr-verify-drone, pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, pr-docs, main-docs, main-test-frontend, main-test-backend, main-build-e2e-publish, trigger-test-release, main-integration-tests, main-windows, notify-drone-changes, main-publish, main-notify

Path conditions:
  pr-verify-drone: any of: scripts/drone/**, .drone.yml, .drone.star, but not: docs/**, *.md
  pr-test-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-test-backend: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, but not: docs/**, *.md
  pr-build-e2e: any file but: *.md, docs/**, latest.json
  pr-integration-tests: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, but not: docs/**, *.md
  pr-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  main-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  main-test-frontend: any file but: *.md, docs/**, latest.json
  main-test-backend: any file but: *.md, docs/**, latest.json
  main-build-e2e-publish: any file but: *.md, docs/**, latest.json
  trigger-test-release: any of: .drone.yml, pkg/build/**
  main-integration-tests: any file but: *.md, docs/**, latest.json
  main-windows: any file but: *.md, docs/**, latest.json
  notify-drone-changes: any of: .drone.yml, but not: exclude
  main-publish: any file but: *.md, docs/**, latest.json
  main-notify: any file but: *.md, docs/**, latest.json

add info for background service
  pkg/services/user/userimpl/user.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

PMM-11113: new Portal connection layout (#603)
  public/app/percona/dbaas/components/PMMServerURLWarning/PMMServerUrlWarning.messages.ts
  public/app/percona/dbaas/components/PMMServerURLWarning/PMMServerUrlWarning.tsx
  public/app/percona/settings/components/Platform/Connect/Connect.styles.ts
  public/app/percona/settings/components/Platform/Connect/Connect.tsx
  public/app/percona/settings/components/Platform/Platform.messages.ts
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

ensure anon enabled is collected even if client is not registered
  pkg/services/authn/authnimpl/usage_stats.go
  pkg/services/authn/clients/anonymous.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

docs: update documentation
  docs/sources/explore/logs-integration.md
Due: pr-docs, main-docs

AuthN: support sync cache for proxy client (#62874)
  pkg/services/authn/authn.go
  pkg/services/authn/authnimpl/service.go
  pkg/services/authn/clients/proxy.go
  pkg/services/authn/clients/proxy_test.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

refactor: add function in login for externSynced
  pkg/api/login_oauth.go
  pkg/api/user.go
  pkg/services/login/authinfo.go
  pkg/services/login/authinfo_test.go
  pkg/services/user/model.go
  pkg/services/user/userimpl/store.go
  public/app/features/admin/UserAdminPage.tsx
  public/app/types/user.ts
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Use useCombinedRuleNamespace to simplify groups fetching
  public/app/features/alerting/unified/components/rule-editor/FolderAndGroup.tsx
  public/app/features/alerting/unified/components/rule-editor/GrafanaEvaluationBehavior.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Auth: removes temporary cache of user session token (#62730)
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/services/auth/authimpl/auth_token.go
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.go
  pkg/services/quota/quotaimpl/quota_test.go
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, pr-docs, main-docs, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Refactor file parsing for code sharing
  public/app/features/dashboard/containers/DashboardPage.tsx
  public/app/features/dataframe-import/constants.ts
  public/app/features/dataframe-import/index.ts
  public/app/features/dataframe-import/types.ts
  public/app/features/dataframe-import/utils.test.ts
  public/app/features/dataframe-import/utils.ts
  public/app/plugins/datasource/grafana/components/QueryEditor.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

chore(npm): bump simple-git to 3.16.0
  yarn.lock
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

reorder and begin adding availability
  docs/sources/whatsnew/whats-new-in-v9-4.md
Due: pr-docs, main-docs

chore: add optional tracking for datasources list viewed
  public/app/features/datasources/components/DataSourcesList.tsx
  public/app/features/datasources/tracking.ts
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

fix usage stats test
  pkg/infra/usagestats/statscollector/service_test.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

fix some more any/type assertions
  .betterer.results
  public/app/plugins/datasource/prometheus/datasource.test.ts
  public/app/plugins/datasource/testdata/QueryEditor.test.tsx
  public/app/plugins/datasource/testdata/components/PredictablePulseEditor.tsx
  public/app/plugins/datasource/testdata/components/RawFrameEditor.tsx
  public/app/plugins/datasource/testdata/components/SimulationQueryEditor.tsx
  public/app/plugins/datasource/testdata/constants.ts
  public/app/plugins/datasource/testdata/nodeGraphUtils.ts
  public/app/plugins/datasource/testdata/runStreams.ts
  public/app/plugins/panel/barchart/bars.ts
  public/app/plugins/panel/barchart/module.tsx
  public/app/plugins/panel/barchart/utils.ts
  public/app/plugins/panel/debug/RenderInfoViewer.tsx
  public/app/plugins/panel/gauge/GaugeMigrations.ts
  public/app/plugins/panel/gettingstarted/GettingStarted.tsx
  public/app/plugins/panel/gettingstarted/components/Step.tsx
  public/app/plugins/panel/gettingstarted/types.ts
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

chore(storybook): bump to 6.5.16
  .yarnrc.yml
  packages/grafana-ui/package.json
  yarn.lock
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

more any/type assertion fixes
  .betterer.results
  public/app/plugins/datasource/loki/getDerivedFields.ts
  public/app/plugins/datasource/loki/liveStreamsResultTransformer.ts
  public/app/plugins/datasource/loki/querybuilder/components/LokiQueryBuilder.tsx
  public/app/plugins/datasource/loki/querybuilder/components/LokiQueryBuilderContainer.tsx
  public/app/plugins/datasource/loki/querybuilder/parsing.ts
  public/app/plugins/datasource/loki/querybuilder/state.ts
  public/app/plugins/datasource/mixed/MixedDataSource.test.ts
  public/app/plugins/datasource/mixed/MixedDataSource.ts
  public/app/plugins/datasource/prometheus/components/PromExploreExtraField.test.tsx
  public/app/plugins/datasource/prometheus/components/PromLink.test.tsx
  public/app/plugins/datasource/prometheus/components/PromQueryEditorByApp.test.tsx
  public/app/plugins/datasource/prometheus/components/PromQueryField.test.tsx
  public/app/plugins/datasource/prometheus/components/PrometheusMetricsBrowser.tsx
  public/app/plugins/datasource/prometheus/configuration/AzureCredentials.ts
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

update codeowners
  .github/CODEOWNERS
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Datasources: Add optional tracking for datasources list viewed (#62949)
  public/app/features/datasources/components/DataSourcesList.tsx
  public/app/features/datasources/tracking.ts
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

fix typo
  public/app/features/alerting/unified/Home.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

MSSQL/Postgres: List views in table dropdown as well (#62867)
  public/app/plugins/datasource/mssql/MSSqlMetaQuery.ts
  public/app/plugins/datasource/postgres/postgresMetaQuery.ts
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

corrects typo
  docs/sources/administration/roles-and-permissions/access-control/plan-rbac-rollout-strategy/index.md
Due: pr-docs, main-docs

Remove publishpackages/go
  pkg/build/cmd/publishpackages.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, trigger-test-release, main-integration-tests, main-windows, main-publish, main-notify

fix remaining imports
  pkg/tests/api/alerting/api_alertmanager_test.go
  pkg/tests/api/correlations/common_test.go
  pkg/tests/api/dashboards/api_dashboards_test.go
  pkg/tests/api/plugins/api_plugins_test.go
  pkg/tests/testinfra/testinfra.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Alerting: fix "policy" typo (#62953)
  public/app/features/alerting/unified/Home.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

whitespace
  pkg/services/supportbundles/bundleregistry/service_test.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Add canonical URL to all HTTP API docs
  docs/sources/developers/http_api/_index.md
  docs/sources/developers/http_api/access_control.md
  docs/sources/developers/http_api/admin.md
  docs/sources/developers/http_api/alerting.md
  docs/sources/developers/http_api/alerting_notification_channels.md
  docs/sources/developers/http_api/alerting_provisioning.md
  docs/sources/developers/http_api/annotations.md
  docs/sources/developers/http_api/auth.md
  docs/sources/developers/http_api/correlations.md
  docs/sources/developers/http_api/create-api-tokens-for-org.md
  docs/sources/developers/http_api/curl-examples.md
  docs/sources/developers/http_api/dashboard.md
  docs/sources/developers/http_api/dashboard_permissions.md
  docs/sources/developers/http_api/dashboard_versions.md
  docs/sources/developers/http_api/data_source.md
  docs/sources/developers/http_api/datasource_permissions.md
  docs/sources/developers/http_api/external_group_sync.md
  docs/sources/developers/http_api/folder.md
  docs/sources/developers/http_api/folder_dashboard_search.md
  docs/sources/developers/http_api/folder_permissions.md
  docs/sources/developers/http_api/library_element.md
  docs/sources/developers/http_api/licensing.md
  docs/sources/developers/http_api/org.md
  docs/sources/developers/http_api/other.md
  docs/sources/developers/http_api/playlist.md
  docs/sources/developers/http_api/preferences.md
  docs/sources/developers/http_api/query_history.md
  docs/sources/developers/http_api/reporting.md
  docs/sources/developers/http_api/serviceaccount.md
  docs/sources/developers/http_api/short_url.md
  docs/sources/developers/http_api/snapshot.md
  docs/sources/developers/http_api/team.md
  docs/sources/developers/http_api/user.md
Due: pr-docs, main-docs

Chore: remove unused export
  public/app/plugins/datasource/loki/datasource.ts
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Backport enterprise checks
  .drone.yml
  .github/CODEOWNERS
  .github/workflows/enterprise-pr-check.yml
  pkg/build/grafana/build.go
  scripts/drone/events/release.star
Due: pr-verify-drone, pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, trigger-test-release, main-integration-tests, main-windows, notify-drone-changes, main-publish, main-notify

CI: Remove variants arg from `package` step (#62858)
  .drone.yml
  pkg/build/cmd/package.go
  scripts/drone/events/release.star
  scripts/drone/pipelines/build.star
  scripts/drone/steps/lib.star
Due: pr-verify-drone, pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, trigger-test-release, main-integration-tests, main-windows, notify-drone-changes, main-publish, main-notify

convert auth_proxy to cache bytearray
  pkg/services/contexthandler/auth_proxy_test.go
  pkg/services/contexthandler/authproxy/authproxy.go
  pkg/services/contexthandler/authproxy/authproxy_test.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

change auth to use bytearray cache
  pkg/services/rendering/auth.go
  pkg/services/rendering/rendering.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

convert jwt middleware to use byte array cache
  pkg/middleware/middleware_test.go
  pkg/services/auth/jwt/key_sets.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

chore(npm): bump qs
  yarn.lock
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

revert: unwanted change from merge
  pkg/services/ngalert/state/manager_bench_test.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

chore(npm): bump http-cache-semantics to 4.1.1
  yarn.lock
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

update delivery warning component
  public/app/features/alerting/unified/NotificationPolicies.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Docs: corrects typo (#62954)
  docs/sources/administration/roles-and-permissions/access-control/plan-rbac-rollout-strategy/index.md
Due: pr-docs, main-docs

CODEOWNERS update
  .github/CODEOWNERS
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify
