Repository grafana/grafana: changes, and which Drone steps are due for each by the changed paths.
All: pr-verify-drone, pr-verify-starlark, pr-verify-storybook, pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, end-to-end-tests-cloud-plugins-suite-azure, build-storybook, pr-integration-tests, pr-docs, pr-shellcheck, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Path conditions:
  pr-verify-drone: any of: scripts/drone/**, .drone.yml, .drone.star, but not: docs/**, *.md
  pr-verify-starlark: any of: scripts/drone/**, .drone.star, but not: docs/**, *.md
  pr-verify-storybook: any of: packages/grafana-ui/**, but not: docs/**, *.md
  pr-test-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-lint-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-test-backend: any of: Makefile, pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, docs/sources/setup-grafana/configure-grafana/feature-toggles/**, devenv/**, but not: docs/**, *.md
  pr-lint-backend: any of: .golangci.toml, Makefile, pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, .bingo/**, but not: docs/**, *.md
  pr-build-e2e: any file but: *.md, docs/**, latest.json
  end-to-end-tests-cloud-plugins-suite-azure: any of: pkg/tsdb/azuremonitor/**, public/app/plugins/datasource/azuremonitor/**, e2e/cloud-plugins-suite/azure-monitor.spec.ts
  build-storybook: any of: packages/grafana-ui/**
  pr-integration-tests: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, but not: docs/**, *.md
  pr-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  pr-shellcheck: any of: scripts/**/*.sh, but not: *.md, docs/**, latest.json
  main-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  main-test-frontend: any file but: *.md, docs/**, latest.json
  main-lint-frontend: any file but: *.md, docs/**, latest.json
  main-test-backend: any file but: *.md, docs/**, latest.json
  main-lint-backend: any file but: *.md, docs/**, latest.json
  main-verify-storybook: any file but: *.md, docs/**, latest.json
  main-build-e2e-publish: any file but: *.md, docs/**, latest.json
  store-storybook: any of: packages/grafana-ui/**
  release-canary-npm-packages: any of: packages/**
  main-integration-tests: any file but: *.md, docs/**, latest.json
  main-trigger-downstream: any file but: *.md, docs/**, latest.json
  main-notify: any file but: *.md, docs/**, latest.json
  rgm-main-prerelease: any file but: *.md, docs/**, packages/**/*.md, latest.json

lint
  docs/sources/datasources/prometheus/troubleshooting/index.md
Due: pr-docs, main-docs

name change, remove unnecessary check
  pkg/services/ngalert/provisioning/alert_rules.go
  pkg/services/ngalert/provisioning/validation/provenance_consistency.go
  pkg/services/ngalert/provisioning/validation/provenance_consistency_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

refactor UpdateAlertRule, gofmt
  pkg/services/ngalert/provisioning/alert_rules.go
  pkg/services/ngalert/provisioning/validation/provenance_consistency_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

use uint32 instead of float64
  pkg/promlib/models/query.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Prometheus: Introduce filtering /series endpoint for prometheus versions that don't support match[] parameter (#116648)
  packages/grafana-prometheus/src/resource_clients.test.ts
  packages/grafana-prometheus/src/resource_clients.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

fix(prometheus-dashboard): add correct units to stats panels
  public/app/plugins/datasource/prometheus/dashboards/prometheus_2_stats.json
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Provisioning: fix connection repo list
  apps/provisioning/pkg/connection/github/client.go
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Provisioning: return better errors when Connection fields are invalid
  apps/provisioning/pkg/connection/connection.go
  apps/provisioning/pkg/connection/connection_token_mock.go
  apps/provisioning/pkg/connection/github/connection.go
  apps/provisioning/pkg/connection/github/connection_test.go
  apps/provisioning/pkg/connection/github/token.go
  apps/provisioning/pkg/connection/github/validator.go
  apps/provisioning/pkg/connection/github/validator_test.go
  pkg/registry/apis/provisioning/controller/connection.go
  pkg/registry/apis/provisioning/controller/connection_test.go
  pkg/tests/apis/provisioning/connection_test.go
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

fix: prevent DB connection from closing due to DB provider being GCd
  pkg/storage/unified/resource/storage_backend.go
  pkg/storage/unified/sql/server.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

DOCS: Added a troubleshooting guide to Prometheus data source docs (#115281)
  docs/sources/datasources/prometheus/_index.md
  docs/sources/datasources/prometheus/troubleshooting/index.md
Due: pr-docs, main-docs

Prometheus: Introduce failsafe PromQueryFormat unmarshalling (#116670)
  pkg/promlib/models/query.go
  pkg/promlib/models/query_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Add enrichments docs
  docs/sources/alerting/set-up/configure-rbac/_index.md
  docs/sources/alerting/set-up/configure-rbac/access-roles/index.md
Due: pr-docs, main-docs

Frontend: Use Ready condition instead of state field in ConnectionStatusBadge
  public/app/features/provisioning/Connection/ConnectionForm.test.tsx
  public/app/features/provisioning/Connection/ConnectionList.test.tsx
  public/app/features/provisioning/Connection/ConnectionStatusBadge.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

refactor: update QueryEditorContentHeader layout and styles
  public/app/features/dashboard-scene/panel-edit/PanelEditNext/QueryEditor/QueryEditorContentHeader.tsx
  public/app/features/dashboard-scene/scene/DashboardControls.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Provisioning: return better errors when Connection fields are invalid (#116846)
  apps/provisioning/pkg/connection/connection.go
  apps/provisioning/pkg/connection/connection_token_mock.go
  apps/provisioning/pkg/connection/github/connection.go
  apps/provisioning/pkg/connection/github/connection_test.go
  apps/provisioning/pkg/connection/github/token.go
  apps/provisioning/pkg/connection/github/validator.go
  apps/provisioning/pkg/connection/github/validator_test.go
  pkg/registry/apis/provisioning/controller/connection.go
  pkg/registry/apis/provisioning/controller/connection_test.go
  pkg/tests/apis/provisioning/connection_test.go
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

feat: integrate QueryEditorUIContext for managing selected query state across components
  public/app/features/dashboard-scene/panel-edit/PanelEditNext/QueryEditor/QueryEditorContent.tsx
  public/app/features/dashboard-scene/panel-edit/PanelEditNext/QueryEditor/QueryEditorContext.tsx
  public/app/features/dashboard-scene/panel-edit/PanelEditNext/QueryEditor/QueryEditorContextWrapper.tsx
  public/app/features/dashboard-scene/panel-edit/PanelEditNext/QueryEditor/Sidebar/SidebarCard.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

refactor: update QueryEditor context to manage selected query directly instead of refId
  public/app/features/dashboard-scene/panel-edit/PanelEditNext/QueryEditor/QueryEditorContent.tsx
  public/app/features/dashboard-scene/panel-edit/PanelEditNext/QueryEditor/QueryEditorContext.tsx
  public/app/features/dashboard-scene/panel-edit/PanelEditNext/QueryEditor/QueryEditorContextWrapper.tsx
  public/app/features/dashboard-scene/panel-edit/PanelEditNext/QueryEditor/Sidebar/SidebarCard.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

remove backend file change
  pkg/services/shorturls/shorturl.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

fix: prevent DB connection from closing due to DB provider being GCd (#116853)
  pkg/storage/unified/resource/storage_backend.go
  pkg/storage/unified/sql/server.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Alerting: Update docs to reflect enrichment RBAC perms (#116860)
  docs/sources/alerting/set-up/configure-rbac/_index.md
  docs/sources/alerting/set-up/configure-rbac/access-roles/index.md
Due: pr-docs, main-docs

unified-storage: remove sqltemplate from sqlkv package
  pkg/storage/unified/resource/data/sqlkv_update_legacy_resource_history_full.sql
  pkg/storage/unified/resource/datastore.go
  pkg/storage/unified/resource/dialect.go
  pkg/storage/unified/resource/queries.go
  pkg/storage/unified/resource/sqlkv.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

improve message when failing
  .github/workflows/pr-frontend-backend-separation.yml
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

fix: prevent deselection of SidebarCard
  public/app/features/dashboard-scene/panel-edit/PanelEditNext/QueryEditor/Sidebar/SidebarCard.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

test
  pkg/services/shorturls/shorturl.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

LBAC: update CRD schema (#116792)
  apps/iam/kinds/v0alpha1/teamlbacspec.cue
  apps/iam/pkg/apis/iam/v0alpha1/register.go
  apps/iam/pkg/apis/iam/v0alpha1/teamlbacrule_spec_gen.go
  apps/iam/pkg/apis/iam/v0alpha1/zz_openapi_gen.go
  pkg/registry/apis/iam/register.go
  pkg/tests/apis/openapi_snapshots/iam.grafana.app-v0alpha1.json
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

feat: add default selection logic for queries in QueryEditorContextWrapper
  public/app/features/dashboard-scene/panel-edit/PanelEditNext/QueryEditor/QueryEditorContextWrapper.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Remove state field references from frontend
  public/app/features/provisioning/Connection/ConnectionForm.test.tsx
  public/app/features/provisioning/Connection/ConnectionList.test.tsx
  public/app/features/provisioning/Connection/ConnectionListItem.tsx
  public/app/features/provisioning/Wizard/SelectableConnectionCard.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

init: constants file
  public/app/features/dashboard-scene/panel-edit/PanelEditNext/constants.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

refactor: update getEditorType function to utilize isExpressionQuery
  public/app/features/dashboard-scene/panel-edit/PanelEditNext/QueryEditor/Sidebar/SidebarCard.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Add Auth condition to Connection status
  apps/provisioning/pkg/apis/provisioning/v0alpha1/health.go
  pkg/registry/apis/provisioning/controller/conditions.go
  pkg/registry/apis/provisioning/controller/connection.go
  pkg/tests/apis/provisioning/connection_test.go
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Use Ready condition instead of state field in tests
  pkg/tests/apis/provisioning/connection_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Add Spec condition to Connection status for spec validation tracking
  apps/provisioning/pkg/apis/provisioning/v0alpha1/health.go
  pkg/registry/apis/provisioning/controller/conditions.go
  pkg/registry/apis/provisioning/controller/connection.go
  pkg/tests/apis/provisioning/connection_test.go
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Remove Auth condition code from Spec PR
  apps/provisioning/pkg/apis/provisioning/v0alpha1/health.go
  pkg/registry/apis/provisioning/controller/connection.go
  pkg/tests/apis/provisioning/connection_test.go
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

feat: add transformations to PanelContext
  public/app/features/dashboard-scene/panel-edit/PanelEditNext/QueryEditor/QueryEditorContext.tsx
  public/app/features/dashboard-scene/panel-edit/PanelEditNext/QueryEditor/QueryEditorContextWrapper.tsx
  public/app/features/dashboard-scene/panel-edit/PanelEditNext/QueryEditor/Sidebar/QueryEditorSidebar.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Add unit tests for buildSpecCondition and remove unused import
  pkg/registry/apis/provisioning/controller/conditions_test.go
  pkg/registry/apis/provisioning/controller/connection.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

logging
  packages/grafana-data/src/themes/schema.generated.json
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Add state field to test mocks for TypeScript compatibility
  public/app/features/provisioning/Connection/ConnectionForm.test.tsx
  public/app/features/provisioning/Connection/ConnectionList.test.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

feat (query editor v2): Init constants file (#116863)
  public/app/features/dashboard-scene/panel-edit/PanelEditNext/constants.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease
