Repository grafana/grafana: changes, and which Drone steps are due for each by the changed paths.
All: pr-verify-drone, pr-verify-starlark, pr-verify-storybook, pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, end-to-end-tests-cloud-plugins-suite-azure, build-storybook, pr-integration-tests, pr-docs, pr-shellcheck, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

pr-verify-drone:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.20.3
    name: identify-runner
  - commands:
    - go build -o ./bin/build -ldflags '-extldflags -static' ./pkg/build/cmd
    depends_on: []
    environment:
      CGO_ENABLED: 0
    image: golang:1.23.1-alpine
    name: compile-build-cmd
  - commands:
  ...

pr-verify-starlark:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.20.3
    name: identify-runner
  - commands:
    - go install github.com/bazelbuild/buildtools/buildifier@latest
    - buildifier --lint=warn -mode=check -r .
    depends_on: []
    image: golang:1.23.1-alpine
    name: lint-starlark

pr-verify-storybook:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.20.3
    name: identify-runner
  - commands:
    - yarn install --immutable || yarn install --immutable
    depends_on: []
    image: node:22.11.0-alpine
    name: yarn-install
  - commands:
    - yarn storybook --quiet
    depends_on:
    - yarn-install
  ...

pr-test-frontend:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.20.3
    name: identify-runner
  - commands:
    - yarn install --immutable || yarn install --immutable
    depends_on: []
    image: node:22.11.0-alpine
    name: yarn-install
  - commands:
    - apk add --update git bash
    - yarn betterer ci
  ...

pr-lint-frontend:
  steps:
  - commands:
    - echo $(/usr/bin/github-app-external-token) > /github-app/token
    environment:
      GITHUB_APP_ID:
        from_secret: github-app-app-id
      GITHUB_APP_INSTALLATION_ID:
        from_secret: github-app-installation-id
      GITHUB_APP_PRIVATE_KEY:
  ...

pr-test-backend:
  steps:
  - commands:
    - echo $(/usr/bin/github-app-external-token) > /github-app/token
    environment:
      GITHUB_APP_ID:
        from_secret: github-app-app-id
      GITHUB_APP_INSTALLATION_ID:
        from_secret: github-app-installation-id
      GITHUB_APP_PRIVATE_KEY:
  ...

pr-lint-backend:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.20.3
    name: identify-runner
  - commands:
    - go build -o ./bin/build -ldflags '-extldflags -static' ./pkg/build/cmd
    depends_on: []
    environment:
      CGO_ENABLED: 0
    image: golang:1.23.1-alpine
    name: compile-build-cmd
  - commands:
  ...

pr-build-e2e:
  steps:
  - commands:
    - echo $(/usr/bin/github-app-external-token) > /github-app/token
    environment:
      GITHUB_APP_ID:
        from_secret: github-app-app-id
      GITHUB_APP_INSTALLATION_ID:
        from_secret: github-app-installation-id
      GITHUB_APP_PRIVATE_KEY:
  ...

end-to-end-tests-cloud-plugins-suite-azure:
  commands:
  - GITHUB_TOKEN=$(cat /github-app/token)
  - cd /
  - ./cpp-e2e/scripts/ci-run.sh azure ${DRONE_SOURCE_BRANCH}
  depends_on:
  - grafana-server
  - github-app-generate-token
  environment:
    AZURE_SP_APP_ID:
      from_secret: azure_sp_app_id
    AZURE_SP_PASSWORD:
      from_secret: azure_sp_app_pw
  ...

Library panels: Route folder-delete queries through a legacy database provider
  pkg/services/libraryelements/database.go
  pkg/services/libraryelements/libraryelements.go
  pkg/services/libraryelements/libraryelements_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Keep the default delete on the caller's ambient transaction
  pkg/services/libraryelements/database.go
  pkg/services/libraryelements/libraryelements_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Fix library panel delete to actually use the routed database connection
  pkg/services/libraryelements/database.go
  pkg/services/libraryelements/libraryelements.go
  pkg/services/libraryelements/libraryelements_test.go
  pkg/services/librarypanels/librarypanels.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

IAM: Return ErrUserAlreadyExists on duplicate create (#134480)
  pkg/services/user/userk8s/user.go
  pkg/services/user/userk8s/user_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Prettier
  public/app/features/notebook/extensions/AddToNotebookFormExposedComponent.test.tsx
  public/app/features/notebook/extensions/AddToNotebookFormExposedComponent.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Folders: return HTTP 400 for invalid children paging
  pkg/registry/apis/folders/sub_children.go
  pkg/registry/apis/folders/sub_children_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Rewrite comment
  pkg/services/libraryelements/libraryelements.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Alerting: Show notification history UI when the backend doesn't report the setting
  packages/grafana-runtime/src/config.ts
  public/app/features/alerting/routes.tsx
  public/app/features/alerting/unified/components/contact-points/ContactPointHeader.tsx
  public/app/features/alerting/unified/components/rule-viewer/RuleViewer.tsx
  public/app/features/alerting/unified/components/rules/central-state-history/CentralAlertHistoryPage.test.tsx
  public/app/features/alerting/unified/components/rules/central-state-history/CentralAlertHistoryPage.tsx
  public/app/features/alerting/unified/featureToggles.test.ts
  public/app/features/alerting/unified/featureToggles.ts
  public/app/features/alerting/unified/notifications/NotificationsListSceneObject.tsx
  public/app/features/alerting/unified/triage/instance-details/InstanceDetailsDrawer.tsx
  public/app/features/alerting/unified/triage/instance-details/InstanceTimeline.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

AuthZ: IAM: add authz.useLegacyCheck feature toggle
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.go
  pkg/services/featuremgmt/toggles_gen.json
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Update .github/workflows/backend-unit-tests.yml
  .github/workflows/backend-unit-tests.yml
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Update .github/workflows/pr-test-integration.yml
  .github/workflows/pr-test-integration.yml
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

lint
  public/app/features/alerting/unified/components/rule-editor/DashboardPicker.test.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Apply batched suggestions from code review
  .github/workflows/pr-test-integration.yml
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Quotas: Handle both unified storage error representations (#134484)
  apps/quotas/go.mod
  apps/quotas/go.sum
  apps/quotas/pkg/app/app.go
  apps/quotas/pkg/app/app_errors_test.go
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Alerting: Configure inclusion of alert history in screenshots (#134319)
  conf/defaults.ini
  conf/sample.ini
  docs/sources/setup-grafana/configure-grafana/_index.md
  pkg/services/screenshot/screenshot.go
  pkg/services/screenshot/screenshot_test.go
  pkg/setting/setting_unified_alerting.go
  pkg/setting/setting_unified_alerting_test.go
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, pr-docs, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

drop the unused legacyDatabaseProvider fallback
  pkg/services/libraryelements/database.go
  pkg/services/libraryelements/libraryelements.go
  pkg/services/libraryelements/libraryelements_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Modify tests
  public/app/core/navigation/GrafanaRoute.test.tsx
  public/app/core/navigation/mtFallback.test.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Homepage: Bring back the empty Recent tab's dashboard CTA
  public/app/features/home/DashboardTabs/DashboardTabs.test.tsx
  public/app/features/home/DashboardTabs/RecentActivityTab.tsx
  public/app/features/home/analytics/types.ts
  public/locales/en-US/grafana.json
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Homepage: Track Recent activity exposure, kind filter and row position
  public/app/features/home/DashboardTabs/DashboardTabs.test.tsx
  public/app/features/home/DashboardTabs/DashboardTabs.tsx
  public/app/features/home/DashboardTabs/RecentActivityFooter.tsx
  public/app/features/home/DashboardTabs/RecentActivityTab.tsx
  public/app/features/home/analytics/main.ts
  public/app/features/home/analytics/types.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Homepage: Load the dashboards card like the summary cards
  public/app/features/home/DashboardTabs/DashboardTabs.tsx
  public/app/features/home/DashboardTabs/DashboardTabsSkeleton.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

prune supressions
  eslint-suppressions.json
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

CI: Run tests that were not running after GE module migration (#134479)
  .github/workflows/backend-unit-tests.yml
  .github/workflows/pr-test-integration.yml
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Provisioning: Fix "already in target folder" error when moving nested items to the repo root (#134450)
  public/app/features/provisioning/components/BulkActions/BulkMoveProvisionedResource.test.tsx
  public/app/features/provisioning/components/BulkActions/BulkMoveProvisionedResource.tsx
  public/app/features/provisioning/components/BulkActions/utils.test.ts
  public/app/features/provisioning/components/BulkActions/utils.ts
  public/app/features/provisioning/hooks/useSelectedItemParentUIDs.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Provisioning: Remove the provisioning.gitConventions feature toggle (#134471)
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  packages/grafana-runtime/src/internal/openFeature/openfeature-types.gen.d.ts
  packages/grafana-runtime/src/internal/openFeature/openfeature.gen.ts
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.go
  pkg/services/featuremgmt/toggles_gen.json
  public/app/features/provisioning/Config/BranchOptionsSection.test.tsx
  public/app/features/provisioning/Config/BranchOptionsSection.tsx
  public/app/features/provisioning/Config/CommitOptionsSection.test.tsx
  public/app/features/provisioning/Config/CommitOptionsSection.tsx
  public/app/features/provisioning/Config/PullRequestOptionsSection.test.tsx
  public/app/features/provisioning/Config/PullRequestOptionsSection.tsx
  public/app/features/provisioning/Wizard/FinishStep.test.tsx
  public/app/features/provisioning/components/BulkActions/BulkDeleteProvisionedResource.test.tsx
  public/app/features/provisioning/components/BulkActions/BulkMoveProvisionedResource.test.tsx
  public/app/features/provisioning/components/Dashboards/SaveProvisionedDashboardForm.test.tsx
  public/app/features/provisioning/components/Folders/NewProvisionedFolderForm.test.tsx
  public/app/features/provisioning/components/Folders/RenameProvisionedFolderForm.test.tsx
  public/app/features/provisioning/components/Shared/SaveProvisionedResourceDrawer.test.tsx
  public/app/features/provisioning/components/Shared/SaveProvisionedResourceDrawer.tsx
  public/app/features/provisioning/components/defaults.ts
  public/app/features/provisioning/hooks/useBranchTemplate.test.tsx
  public/app/features/provisioning/hooks/useBranchTemplate.ts
  public/app/features/provisioning/hooks/useCommitMessageTemplate.test.tsx
  public/app/features/provisioning/hooks/useCommitMessageTemplate.ts
  public/app/features/provisioning/hooks/useProvisionedDashboardData.test.ts
  public/app/features/provisioning/hooks/useProvisionedDashboardData.ts
  public/app/features/provisioning/hooks/useProvisionedFolderFormData.test.ts
  public/app/features/provisioning/hooks/useProvisionedFolderFormData.ts
  public/app/features/provisioning/hooks/usePullRequestTitle.test.tsx
  public/app/features/provisioning/hooks/usePullRequestTitle.ts
  public/app/features/provisioning/hooks/useTemplateAutofill.ts
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, pr-docs, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Signal Explorer: Load more metrics on scroll instead of a "Show more" button (#133803)
  public/app/features/explore/SignalExplorer/LabelValues.tsx
  public/app/features/explore/SignalExplorer/MetricsList.test.tsx
  public/app/features/explore/SignalExplorer/MetricsList.tsx
  public/app/features/explore/SignalExplorer/SignalExplorer.test.tsx
  public/app/features/explore/SignalExplorer/data/useMetricCatalog.test.ts
  public/app/features/explore/SignalExplorer/data/useMetricCatalog.ts
  public/app/features/explore/SignalExplorer/hooks/useLoadMoreSentinel.ts
  public/app/features/explore/SignalExplorer/hooks/useVisibleBatch.ts
  public/locales/en-US/grafana.json
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Dashboards API: migrate library panel repeat based on apiserver resolution (#134330)
  packages/grafana-runtime/src/internal/openFeature/openfeature-types.gen.d.ts
  packages/grafana-runtime/src/internal/openFeature/openfeature.gen.ts
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.json
  public/app/features/dashboard-scene/actions/dashboard/applyDashboardSpec.test.ts
  public/app/features/dashboard-scene/scene/LibraryPanelBehavior.test.tsx
  public/app/features/dashboard-scene/scene/LibraryPanelBehavior.tsx
  public/app/features/dashboard-scene/serialization/transformSaveModelSchemaV2ToScene.test.ts
  public/app/features/dashboard-scene/serialization/transformSaveModelSchemaV2ToScene.ts
  public/app/features/dashboard-scene/serialization/transformSaveModelToScene.test.ts
  public/app/features/dashboard-scene/serialization/transformSaveModelToScene.ts
  public/app/features/dashboard/api/ResponseTransformers.test.ts
  public/app/features/dashboard/api/ResponseTransformers.ts
  public/app/features/dashboard/api/types.ts
  public/app/features/dashboard/api/v2.test.ts
  public/app/types/dashboard.ts
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Docs: add gcx CLI query note to Prometheus data source (#133998)
  docs/sources/datasources/prometheus/_index.md
Due: pr-docs, main-docs

fix
  pkg/registry/apis/iam/legacy/watch.go
  pkg/registry/apis/iam/legacy/watch_test.go
  pkg/services/team/teamimpl/watch.go
  pkg/tests/apis/iam/legacy_watch_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Router: Metrics and tracing improvements. (#134486)
  pkg/router/AGENTS.md
  pkg/router/metrics.go
  pkg/router/metrics_test.go
  pkg/router/plugin.go
  pkg/router/plugin_auth_outcome_test.go
  pkg/router/plugin_breaker.go
  pkg/router/plugin_breaker_test.go
  pkg/router/plugin_manifests.go
  pkg/router/plugin_manifests_test.go
  pkg/router/plugin_tracing.go
  pkg/router/request_outcome.go
  pkg/router/specs/2026-09-26-router-metrics.md
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Folders: return HTTP 400 for invalid children paging (#134489)
  pkg/registry/apis/folders/sub_children.go
  pkg/registry/apis/folders/sub_children_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Docs: add gcx CLI query note to Tempo data source (#134003)
  docs/sources/datasources/tempo/_index.md
Due: pr-docs, main-docs

Saved Queries: Remove rbac toggle FE usage
  eslint-suppressions.json
  public/app/features/commandPalette/actions/staticActions.test.tsx
  public/app/features/dashboard-scene/panel-edit/PanelDataPane/PanelDataQueriesTab.test.tsx
  public/app/features/dashboard-scene/scene/UnconfiguredPanel.test.tsx
  public/app/features/explore/Explore.test.tsx
  public/app/features/explore/QueryLibrary/utils/identity.test.ts
  public/app/features/explore/QueryLibrary/utils/identity.ts
  public/app/features/explore/SecondaryActions.test.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

fix(transformations): address filter value review feedback
  packages/grafana-data/src/transformations/transformers/filterByValue.matchers.test.ts
  public/app/features/transformers/FilterByValueTransformer/FilterByValueFilterEditor.tsx
  public/app/features/transformers/FilterByValueTransformer/FilterByValueTransformerEditor.test.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Alerting: Show notification history UI when the backend doesn't report the setting (#134490)
  packages/grafana-runtime/src/config.ts
  public/app/features/alerting/routes.tsx
  public/app/features/alerting/unified/components/contact-points/ContactPointHeader.tsx
  public/app/features/alerting/unified/components/rule-viewer/RuleViewer.tsx
  public/app/features/alerting/unified/components/rules/central-state-history/CentralAlertHistoryPage.test.tsx
  public/app/features/alerting/unified/components/rules/central-state-history/CentralAlertHistoryPage.tsx
  public/app/features/alerting/unified/featureToggles.test.ts
  public/app/features/alerting/unified/featureToggles.ts
  public/app/features/alerting/unified/notifications/NotificationsListSceneObject.tsx
  public/app/features/alerting/unified/triage/instance-details/InstanceDetailsDrawer.tsx
  public/app/features/alerting/unified/triage/instance-details/InstanceTimeline.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Notebooks: Quick add to last-added notebook
  public/app/features/dashboard-scene/scene/PanelMenuBehavior.test.tsx
  public/app/features/dashboard-scene/scene/PanelMenuBehavior.tsx
  public/app/features/explore/extensions/AddToNotebook/quickAddFromExplore.ts
  public/app/features/explore/extensions/ToolbarExtensionPoint.tsx
  public/app/features/explore/extensions/getExploreExtensionConfigs.test.tsx
  public/app/features/explore/extensions/getExploreExtensionConfigs.tsx
  public/app/features/notebook/addPanel/AddPanelToNotebookModalBody.test.tsx
  public/app/features/notebook/addPanel/AddPanelToNotebookModalBody.tsx
  public/app/features/notebook/addPanel/addPanelToNotebook.test.tsx
  public/app/features/notebook/addPanel/quickAddPanelToNotebook.test.tsx
  public/app/features/notebook/addPanel/quickAddPanelToNotebook.tsx
  public/app/features/notebook/addPanel/recentNotebook.test.ts
  public/app/features/notebook/addPanel/recentNotebook.ts
  public/app/features/notebook/api/notebookResource.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Notebooks: Extract quick-add translations
  public/locales/en-US/grafana.json
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Explore: Show full extension menu labels
  public/app/features/explore/extensions/ToolbarExtensionPointMenu.test.tsx
  public/app/features/explore/extensions/ToolbarExtensionPointMenu.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Notebooks: Expand long quick-add labels on hover
  packages/grafana-ui/src/components/PanelChrome/PanelMenu.test.tsx
  packages/grafana-ui/src/components/PanelChrome/PanelMenu.tsx
  public/app/features/explore/extensions/ToolbarExtensionPointMenu.test.tsx
  public/app/features/explore/extensions/ToolbarExtensionPointMenu.tsx
Due: pr-verify-storybook, pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Notebooks: Preserve menu alignment and serialize quick adds
  packages/grafana-ui/src/components/PanelChrome/PanelMenu.tsx
  public/app/features/explore/extensions/ToolbarExtensionPointMenu.tsx
  public/app/features/notebook/addPanel/quickAddPanelToNotebook.test.tsx
  public/app/features/notebook/addPanel/quickAddPanelToNotebook.tsx
Due: pr-verify-storybook, pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Path conditions:
  pr-verify-drone: any of: scripts/drone/**, .drone.yml, .drone.star, but not: docs/**, *.md
  pr-verify-starlark: any of: scripts/drone/**, .drone.star, but not: docs/**, *.md
  pr-verify-storybook: any of: packages/grafana-ui/**, but not: docs/**, *.md
  pr-test-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-lint-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-test-backend: any of: Makefile, pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, docs/sources/setup-grafana/configure-grafana/feature-toggles/**, devenv/**, but not: docs/**, *.md
  pr-lint-backend: any of: .golangci.toml, Makefile, pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, .bingo/**, but not: docs/**, *.md
  pr-build-e2e: any file but: *.md, docs/**, latest.json
  end-to-end-tests-cloud-plugins-suite-azure: any of: pkg/tsdb/azuremonitor/**, public/app/plugins/datasource/azuremonitor/**, e2e/cloud-plugins-suite/azure-monitor.spec.ts
  build-storybook: any of: packages/grafana-ui/**
  pr-integration-tests: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, but not: docs/**, *.md
  pr-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  pr-shellcheck: any of: scripts/**/*.sh, but not: *.md, docs/**, latest.json
  main-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  main-test-frontend: any file but: *.md, docs/**, latest.json
  main-lint-frontend: any file but: *.md, docs/**, latest.json
  main-test-backend: any file but: *.md, docs/**, latest.json
  main-lint-backend: any file but: *.md, docs/**, latest.json
  main-verify-storybook: any file but: *.md, docs/**, latest.json
  main-build-e2e-publish: any file but: *.md, docs/**, latest.json
  store-storybook: any of: packages/grafana-ui/**
  release-canary-npm-packages: any of: packages/**
  main-integration-tests: any file but: *.md, docs/**, latest.json
  main-trigger-downstream: any file but: *.md, docs/**, latest.json
  main-notify: any file but: *.md, docs/**, latest.json
  rgm-main-prerelease: any file but: *.md, docs/**, packages/**/*.md, latest.json
