Repository grafana/grafana: changes, and which Drone steps are due for each by the changed paths.
All: pr-verify-drone, pr-verify-starlark, pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, trigger-test-release, end-to-end-tests-cloud-plugins-suite-azure, build-storybook, pr-integration-tests, pr-docs, pr-shellcheck, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, store-storybook, main-integration-tests, main-windows, notify-drone-changes, main-trigger-downstream, main-notify

Path conditions:
  pr-verify-drone: any of: scripts/drone/**, .drone.yml, .drone.star, but not: docs/**, *.md
  pr-verify-starlark: any of: scripts/drone/**, .drone.star, but not: docs/**, *.md
  pr-test-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-lint-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-test-backend: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, but not: docs/**, *.md
  pr-lint-backend: any of: pkg/**, packaging/**, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, .bingo/**, but not: docs/**, *.md
  pr-build-e2e: any file but: *.md, docs/**, latest.json
  trigger-test-release: any of: .drone.yml, pkg/build/**
  end-to-end-tests-cloud-plugins-suite-azure: any of: pkg/tsdb/azuremonitor/**, public/app/plugins/datasource/azuremonitor/**, e2e/cloud-plugins-suite/azure-monitor.spec.ts
  build-storybook: any of: packages/grafana-ui/**
  pr-integration-tests: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, but not: docs/**, *.md
  pr-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  pr-shellcheck: any of: scripts/**/*.sh, but not: *.md, docs/**, latest.json
  main-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  main-test-frontend: any file but: *.md, docs/**, latest.json
  main-lint-frontend: any file but: *.md, docs/**, latest.json
  main-test-backend: any file but: *.md, docs/**, latest.json
  main-lint-backend: any file but: *.md, docs/**, latest.json
  main-build-e2e-publish: any file but: *.md, docs/**, latest.json
  store-storybook: any of: packages/grafana-ui/**
  main-integration-tests: any file but: *.md, docs/**, latest.json
  main-windows: any file but: *.md, docs/**, latest.json
  notify-drone-changes: any of: .drone.yml, but not: exclude
  main-trigger-downstream: any file but: *.md, docs/**, latest.json
  main-notify: any file but: *.md, docs/**, latest.json

Update docs/sources/datasources/loki/query-editor/index.md
  docs/sources/datasources/loki/query-editor/index.md
Due: pr-docs, main-docs

docs: update angular docs for cloudflare
  docs/sources/developers/angular_deprecation/angular-plugins.md
Due: pr-docs, main-docs

WIP
  public/app/features/datasources/components/picker/DataSourceDropdown.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Schemas: minor updates from the k8s branch (#71688)
  docs/sources/developers/kinds/core/dashboard/schema-reference.md
  docs/sources/developers/kinds/core/preferences/schema-reference.md
  kinds/dashboard/dashboard_kind.cue
  kinds/preferences/preferences_kind.cue
  packages/grafana-schema/src/index.gen.ts
  packages/grafana-schema/src/raw/dashboard/x/dashboard_types.gen.ts
  packages/grafana-schema/src/raw/preferences/x/preferences_types.gen.ts
  pkg/codegen/jenny_go_resources.go
  pkg/kinds/accesspolicy/accesspolicy_gen.go
  pkg/kinds/dashboard/dashboard_gen.go
  pkg/kinds/dashboard/dashboard_spec_gen.go
  pkg/kinds/folder/folder_gen.go
  pkg/kinds/librarypanel/librarypanel_gen.go
  pkg/kinds/playlist/playlist_gen.go
  pkg/kinds/preferences/preferences_gen.go
  pkg/kinds/preferences/preferences_spec_gen.go
  pkg/kinds/publicdashboard/publicdashboard_gen.go
  pkg/kinds/role/role_gen.go
  pkg/kinds/rolebinding/rolebinding_gen.go
  pkg/kinds/team/team_gen.go
  pkg/services/dashboards/models_test.go
  pkg/services/libraryelements/model/model_test.go
  pkg/services/playlist/model_test.go
  pkg/services/team/model_test.go
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, pr-docs, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Update docs/sources/setup-grafana/configure-grafana/_index.md
  docs/sources/setup-grafana/configure-grafana/_index.md
Due: pr-docs, main-docs

Update _index.md (#71400)
  docs/sources/setup-grafana/installation/_index.md
Due: pr-docs, main-docs

Update docs/sources/datasources/loki/_index.md
  docs/sources/datasources/loki/_index.md
Due: pr-docs, main-docs

Remove unused architectures of enterprise2
  pkg/build/config/versions.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, trigger-test-release, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

TimeSeries / StateTimeline: Add support for rendering enum fields (#64179)
  packages/grafana-data/src/field/displayProcessor.ts
  packages/grafana-data/src/transformations/matchers/fieldTypeMatcher.ts
  packages/grafana-data/src/transformations/matchers/ids.ts
  packages/grafana-ui/src/components/GraphNG/GraphNG.tsx
  packages/grafana-ui/src/components/GraphNG/__snapshots__/utils.test.ts.snap
  packages/grafana-ui/src/components/GraphNG/utils.ts
  packages/grafana-ui/src/components/TimeSeries/utils.ts
  packages/grafana-ui/src/components/uPlot/utils.ts
  public/app/core/components/TimelineChart/TimelineChart.tsx
  public/app/core/components/TimelineChart/utils.ts
  public/app/plugins/panel/flamegraph/components/FlameGraph/dataTransform.ts
  public/app/plugins/panel/timeseries/plugins/ThresholdControlsPlugin.tsx
  public/app/plugins/panel/timeseries/utils.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, store-storybook, main-integration-tests, main-windows, main-trigger-downstream, main-notify

fixes for readability
  public/app/features/datasources/components/picker/DataSourceDropdown.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Update docs/sources/setup-grafana/configure-grafana/configure-custom-branding/index.md
  docs/sources/setup-grafana/configure-grafana/configure-custom-branding/index.md
Due: pr-docs, main-docs

made changes suggested in PR
  docs/sources/datasources/loki/_index.md
  docs/sources/datasources/loki/configure-loki-data-source.md
Due: pr-docs, main-docs

fix
  public/app/features/datasources/components/picker/DataSourceDropdown.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Add influxdbSqlSupport feature toggle
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.go
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, pr-docs, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

fix
  public/app/plugins/datasource/testdata/testData/flameGraphResponse.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Update _index.md (#72068)
  docs/sources/setup-grafana/image-rendering/_index.md
Due: pr-docs, main-docs

TestData: Update Flame Graph scenario to use enum field type for label (#72082)
  public/app/plugins/datasource/testdata/testData/flameGraphResponse.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Add SQL option to the config page
  .betterer.results
  public/app/plugins/datasource/influxdb/components/editor/config/ConfigEditor.tsx
  public/app/plugins/datasource/influxdb/components/editor/config/InfluxFluxConfig.tsx
  public/app/plugins/datasource/influxdb/components/editor/config/InfluxInfluxQLConfig.tsx
  public/app/plugins/datasource/influxdb/components/editor/config/InfluxSQLConfig.tsx
  public/app/plugins/datasource/influxdb/types.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

remove hack for labelField.type
  public/app/plugins/panel/flamegraph/components/FlameGraph/dataTransform.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Add SQL backend
  go.mod
  go.sum
  pkg/tsdb/influxdb/fsql/arrow.go
  pkg/tsdb/influxdb/fsql/client.go
  pkg/tsdb/influxdb/fsql/executor.go
  pkg/tsdb/influxdb/fsql/fsql.go
  pkg/tsdb/influxdb/fsql/macro.go
  pkg/tsdb/influxdb/fsql/query_model.go
  pkg/tsdb/influxdb/healthcheck.go
  pkg/tsdb/influxdb/influxdb.go
  pkg/tsdb/influxdb/models/datasource_info.go
  pkg/tsdb/influxdb/settings.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

remove unused
  public/app/plugins/panel/flamegraph/components/FlameGraph/dataTransform.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Add metadata support in config page
  public/app/plugins/datasource/influxdb/components/editor/config/InfluxSQLConfig.tsx
  public/app/plugins/datasource/influxdb/components/editor/query/QueryEditor.tsx
  public/app/plugins/datasource/influxdb/components/editor/variable/VariableQueryEditor.tsx
  public/app/plugins/datasource/influxdb/datasource.ts
  public/app/plugins/datasource/influxdb/specs/datasource.test.ts
  public/app/plugins/datasource/influxdb/types.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Implement unified querying
  pkg/tsdb/influxdb/fsql/fsql.go
  pkg/tsdb/influxdb/fsql/query_model.go
  pkg/tsdb/influxdb/healthcheck.go
  pkg/tsdb/influxdb/influxdb.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Fix healthcheck query
  pkg/tsdb/influxdb/healthcheck.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Phlare: Set enum field type to enum instead of integer (#72078)
  pkg/tsdb/grafana-pyroscope-datasource/query.go
  pkg/tsdb/grafana-pyroscope-datasource/query_test.go
  public/app/plugins/panel/flamegraph/components/FlameGraph/dataTransform.ts
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

fsql tests
  pkg/tsdb/influxdb/fsql/arrow_test.go
  pkg/tsdb/influxdb/fsql/client.go
  pkg/tsdb/influxdb/fsql/flightsql_test.go
  pkg/tsdb/influxdb/fsql/fsql.go
  pkg/tsdb/influxdb/fsql/macro_test.go
  pkg/tsdb/influxdb/influxdb.go
  pkg/tsdb/influxdb/models/datasource_info.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

secure grpc by default
  pkg/tsdb/influxdb/fsql/fsql.go
  pkg/tsdb/influxdb/influxdb.go
  pkg/tsdb/influxdb/models/datasource_info.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

code cleanup
  pkg/tsdb/influxdb/fsql/client.go
  pkg/tsdb/influxdb/fsql/fsql.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Query handing for sql mode
  public/app/plugins/datasource/influxdb/datasource.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Implement a placeholder sql editor
  public/app/plugins/datasource/influxdb/components/editor/query/QueryEditor.tsx
  public/app/plugins/datasource/influxdb/components/editor/query/fsql/FSQLEditor.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

add storage config
  pkg/services/grafana-apiserver/log.go
  pkg/services/grafana-apiserver/service.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

add admission and authz plugins
  pkg/services/grafana-apiserver/service.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Hotfix enterprise2 requirements
  pkg/build/cmd/fetchimages.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, trigger-test-release, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Address PR comments
  public/app/features/alerting/unified/api/alertRuleApi.ts
  public/app/features/alerting/unified/components/rule-editor/GrafanaRuleInspector.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify
