Repository grafana/grafana: changes, and which Drone steps are due for each by the changed paths.
All: pr-verify-drone, pr-verify-starlark, pr-verify-storybook, pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, end-to-end-tests-cloud-plugins-suite-azure, build-storybook, pr-integration-tests, pr-docs, pr-shellcheck, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Path conditions:
  pr-verify-drone: any of: scripts/drone/**, .drone.yml, .drone.star, but not: docs/**, *.md
  pr-verify-starlark: any of: scripts/drone/**, .drone.star, but not: docs/**, *.md
  pr-verify-storybook: any of: packages/grafana-ui/**, but not: docs/**, *.md
  pr-test-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-lint-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-test-backend: any of: Makefile, pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, docs/sources/setup-grafana/configure-grafana/feature-toggles/**, devenv/**, but not: docs/**, *.md
  pr-lint-backend: any of: .golangci.toml, Makefile, pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, .bingo/**, but not: docs/**, *.md
  pr-build-e2e: any file but: *.md, docs/**, latest.json
  end-to-end-tests-cloud-plugins-suite-azure: any of: pkg/tsdb/azuremonitor/**, public/app/plugins/datasource/azuremonitor/**, e2e/cloud-plugins-suite/azure-monitor.spec.ts
  build-storybook: any of: packages/grafana-ui/**
  pr-integration-tests: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, but not: docs/**, *.md
  pr-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  pr-shellcheck: any of: scripts/**/*.sh, but not: *.md, docs/**, latest.json
  main-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  main-test-frontend: any file but: *.md, docs/**, latest.json
  main-lint-frontend: any file but: *.md, docs/**, latest.json
  main-test-backend: any file but: *.md, docs/**, latest.json
  main-lint-backend: any file but: *.md, docs/**, latest.json
  main-verify-storybook: any file but: *.md, docs/**, latest.json
  main-build-e2e-publish: any file but: *.md, docs/**, latest.json
  store-storybook: any of: packages/grafana-ui/**
  release-canary-npm-packages: any of: packages/**
  main-integration-tests: any file but: *.md, docs/**, latest.json
  main-trigger-downstream: any file but: *.md, docs/**, latest.json
  main-notify: any file but: *.md, docs/**, latest.json
  rgm-main-prerelease: any file but: *.md, docs/**, packages/**/*.md, latest.json

Text: Add thresholds support (#131384)
  devenv/dev-dashboards/panel-text/text-panel.json
  e2e-playwright/panels-suite/text-v2.spec.ts
  public/app/plugins/panel/text/v2/module.test.ts
  public/app/plugins/panel/text/v2/module.tsx
  public/app/plugins/panel/text/v2/renderContent.test.ts
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

fix(PanelEditNext): don't let an unbuildable filter crash the debug drawer
  public/app/features/dashboard-scene/panel-edit/PanelEditNext/QueryEditor/hooks/useTransformationDebugData.test.ts
  public/app/features/dashboard-scene/panel-edit/PanelEditNext/QueryEditor/hooks/useTransformationDebugData.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Delete two comments per review
  pkg/storage/unified/proto/search.proto
  pkg/storage/unified/resource/search_hybrid.go
  pkg/storage/unified/resourcepb/search_grpc.pb.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

AWS: Rework the external ID tests around BeforeSave.
  pkg/services/datasources/awsexternalid/aws_external_id_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Highlight first - on by default; Removed search clear
  packages/grafana-ui/src/components/Combobox/MultiCombobox.test.tsx
  packages/grafana-ui/src/components/Combobox/MultiCombobox.tsx
  public/app/features/provisioning/Repository/ResourceTreeView.test.tsx
Due: pr-verify-storybook, pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

changes applied
  public/app/features/dashboard-scene/v2schema/dashboardV2Schema.ts
  public/app/features/notebook/scene/layout-notebook/NotebookCellRenderer.test.tsx
  public/app/features/notebook/scene/layout-notebook/NotebookCellRenderer.tsx
  public/app/features/notebook/scene/layout-notebook/NotebookLayoutManager.test.tsx
  public/app/features/notebook/scene/layout-notebook/PanelQueryEditor.test.tsx
  public/app/features/notebook/scene/layout-notebook/PanelQueryEditor.tsx
  public/app/features/notebook/scene/layout-notebook/PanelQueryEditorRow.tsx
  public/app/features/notebook/scene/layout-notebook/edit/NotebookBlockTypeMenu.tsx
  public/app/plugins/panel/piechart/suggestions.ts
  public/locales/en-US/grafana.json
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

chore(PanelEditNext): add error boundary, prevent per-render error reporting
  public/app/features/dashboard-scene/panel-edit/PanelEditNext/QueryEditor/TransformationEditorRenderer.test.tsx
  public/app/features/dashboard-scene/panel-edit/PanelEditNext/QueryEditor/TransformationEditorRenderer.tsx
  public/app/features/dashboard-scene/panel-edit/PanelEditNext/QueryEditor/hooks/useTransformedFrames.test.ts
  public/app/features/dashboard-scene/panel-edit/PanelEditNext/QueryEditor/hooks/useTransformedFrames.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

External hybrid: per-leg authz, drop FTS retrofit migration
  pkg/storage/unified/resource/search_hybrid.go
  pkg/storage/unified/resource/search_hybrid_test.go
  pkg/storage/unified/search/vector/schema.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

External hybrid: resolve folder titles; clarify FTS index comment
  pkg/storage/unified/proto/search.proto
  pkg/storage/unified/resource/search_hybrid.go
  pkg/storage/unified/resource/search_hybrid_test.go
  pkg/storage/unified/resourcepb/search.pb.go
  pkg/storage/unified/search/vector/pgvector.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

fix(PanelEditNext): add deps to error boundaries
  public/app/features/dashboard-scene/panel-edit/PanelEditNext/QueryEditor/TransformationEditorRenderer.test.tsx
  public/app/features/dashboard-scene/panel-edit/PanelEditNext/QueryEditor/TransformationEditorRenderer.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Folders: Count variables as descendants in delete warnings
  public/app/api/clients/folder/v1beta1/index.test.ts
  public/app/api/clients/folder/v1beta1/index.ts
  public/app/api/clients/folder/v1beta1/utils.test.ts
  public/app/features/browse-dashboards/api/browseDashboardsAPI.test.ts
  public/app/features/browse-dashboards/api/browseDashboardsAPI.ts
  public/app/features/browse-dashboards/components/BrowseActions/AffectedFolderContents.test.tsx
  public/app/features/browse-dashboards/components/BrowseActions/utils.test.ts
  public/app/features/browse-dashboards/components/BrowseActions/utils.ts
  public/app/types/folders.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

from query to viz
  public/app/features/notebook/scene/layout-notebook/NotebookCellRenderer.tsx
  public/app/features/notebook/scene/layout-notebook/NotebookLayoutManager.test.tsx
  public/app/features/notebook/scene/layout-notebook/NotebookLayoutManager.tsx
  public/app/features/notebook/scene/layout-notebook/PanelQueryEditor.test.tsx
  public/app/features/notebook/scene/layout-notebook/edit/NotebookBlockTypeMenu.tsx
  public/app/features/notebook/types.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Alerting: Add the Config API data layer for external Alertmanager auto-sync
  public/app/features/alerting/unified/api/configApi.ts
  public/app/features/alerting/unified/hooks/useIsAutoSyncActive.test.ts
  public/app/features/alerting/unified/mocks/server/configure/alertmanagers.ts
  public/app/features/alerting/unified/mocks/server/configure/datasources.ts
  public/app/features/alerting/unified/mocks/server/handlers/k8s/config.k8s.ts
  public/app/features/alerting/unified/utils/autoSync.test.ts
  public/app/features/alerting/unified/utils/autoSync.ts
  public/app/features/alerting/unified/utils/constants.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Alerting: Refactor useIsAutoSyncActive onto the shared Config-API helpers
  public/app/features/alerting/unified/hooks/useIsAutoSyncActive.test.ts
  public/app/features/alerting/unified/hooks/useIsAutoSyncActive.ts
  public/app/features/alerting/unified/rule-list/RuleList.v2.test.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Alerting: Migrate the auto-sync settings hook and panel onto the Config API
  public/app/features/alerting/unified/api/alertmanagerApi.ts
  public/app/features/alerting/unified/components/settings/AutoSyncConfiguration.test.tsx
  public/app/features/alerting/unified/components/settings/AutoSyncConfiguration.tsx
  public/app/features/alerting/unified/components/settings/AutoSyncStatusBadge.tsx
  public/app/features/alerting/unified/components/settings/useAutoSyncConfiguration.test.tsx
  public/app/features/alerting/unified/components/settings/useAutoSyncConfiguration.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

ApiServer: instrument watch requests distinctly from GETs (#131454)
  pkg/apiserver/endpoints/filters/watch_instrumentation.go
  pkg/apiserver/endpoints/filters/watch_instrumentation_test.go
  pkg/services/apiserver/builder/helper.go
  pkg/services/apiserver/builder/watch_metrics.go
  pkg/services/apiserver/builder/watch_server_span.go
  pkg/services/apiserver/builder/watch_server_span_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Alerting: Migrate the Import-to-GMA wizard's auto-sync integration
  public/app/features/alerting/unified/components/import-to-gma/ImportToGMA.test.tsx
  public/app/features/alerting/unified/components/import-to-gma/ImportToGMA.tsx
  public/app/features/alerting/unified/components/import-to-gma/ImportToGMAAutoSyncBlock.test.tsx
  public/app/features/alerting/unified/components/import-to-gma/steps/Step1AlertmanagerResources.test.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

chore: add OpenFeature codegen for playlistsRBAC feature toggle
  packages/grafana-runtime/src/internal/openFeature/openfeature-types.gen.d.ts
  packages/grafana-runtime/src/internal/openFeature/openfeature.gen.ts
  pkg/services/featuremgmt/registry.go
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

feat: add hook for playlistsRBAC feature flag
  public/app/features/playlist/utils.test.ts
  public/app/features/playlist/utils.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Alerting: Retire the legacy admin_config auto-sync path
  public/app/features/alerting/unified/mocks/server/configure/admin_config.ts
  public/app/features/alerting/unified/settings/import/PromoteConfirmModal.test.tsx
  public/app/features/alerting/unified/settings/import/usePromoteStagedConfig.ts
  public/locales/en-US/grafana.json
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

refactor: migrate playlistsRBAC consumers off legacy API
  public/app/core/navtree/buildStaticNavTree.test.ts
  public/app/core/navtree/sections/dashboards.navEntry.ts
  public/app/features/playlist/PlaylistCard.tsx
  public/app/features/playlist/PlaylistPage.test.tsx
  public/app/features/playlist/PlaylistPage.tsx
  public/app/routes/routes.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Text: Add value mappings support (#131409)
  devenv/dev-dashboards/panel-text/text-panel.json
  e2e-playwright/panels-suite/text-v2.spec.ts
  public/app/plugins/panel/text/v2/module.test.ts
  public/app/plugins/panel/text/v2/module.tsx
  public/app/plugins/panel/text/v2/renderContent.test.ts
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Unified storage: enforce per-result authz for ext.grafana.app external vector collections (#131503)
  pkg/apimachinery/identity/context.go
  pkg/services/authz/rbac/mapper.go
  pkg/services/authz/rbac/mapper_test.go
  pkg/storage/unified/proto/vector_store.proto
  pkg/storage/unified/resource/search.go
  pkg/storage/unified/resource/search_vector_test.go
  pkg/storage/unified/resource/vector_store_server.go
  pkg/storage/unified/resource/vector_store_server_test.go
  pkg/storage/unified/resourcepb/vector_store.pb.go
  pkg/storage/unified/resourcepb/vector_store_grpc.pb.go
  pkg/storage/unified/search/vector/catalog.go
  pkg/storage/unified/search/vector/data/vector_collection_refresh_meta.sql
  pkg/storage/unified/search/vector/integration_test.go
  pkg/storage/unified/search/vector/pgvector.go
  pkg/storage/unified/search/vector/queries_test.go
  pkg/storage/unified/search/vector/store.go
  pkg/storage/unified/search/vector/testdata/postgres--vector_collection_refresh_meta-simple.sql
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

display none modified
  public/app/features/notebook/scene/layout-notebook/NotebookCellRenderer.tsx
  public/app/features/notebook/scene/layout-notebook/NotebookLayoutManager.test.tsx
  public/app/features/notebook/scene/layout-notebook/PanelQueryEditor.test.tsx
  public/app/features/notebook/scene/layout-notebook/PanelQueryEditorRow.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Store tsvector at write time for external rows
  pkg/storage/unified/resource/vector_store_server.go
  pkg/storage/unified/search/vector/data/vector_collection_lexical_search.sql
  pkg/storage/unified/search/vector/data/vector_collection_upsert.sql
  pkg/storage/unified/search/vector/integration_test.go
  pkg/storage/unified/search/vector/pgvector.go
  pkg/storage/unified/search/vector/queries.go
  pkg/storage/unified/search/vector/queries_test.go
  pkg/storage/unified/search/vector/schema.go
  pkg/storage/unified/search/vector/testdata/postgres--vector_collection_lexical_search-no_filters.sql
  pkg/storage/unified/search/vector/testdata/postgres--vector_collection_lexical_search-with_folder_filter.sql
  pkg/storage/unified/search/vector/testdata/postgres--vector_collection_lexical_search-with_metadata_filters.sql
  pkg/storage/unified/search/vector/testdata/postgres--vector_collection_lexical_search-with_uid_filter.sql
  pkg/storage/unified/search/vector/testdata/postgres--vector_collection_upsert-external_with_ts.sql
  pkg/storage/unified/search/vector/testdata/postgres--vector_collection_upsert-simple.sql
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

test
  pkg/storage/unified/resource/datastore.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Annotations: set time_end for points in new API
  pkg/registry/apps/annotation/k8s_adapter.go
  pkg/registry/apps/annotation/k8s_adapter_test.go
  pkg/registry/apps/annotation/migrations/00008_backfill_time_end.sql
  pkg/registry/apps/annotation/migrations/00009_widen_time_end_index.sql
  pkg/registry/apps/annotation/migrator/convert.go
  pkg/registry/apps/annotation/migrator/convert_test.go
  pkg/registry/apps/annotation/postgres_partitioned.go
  pkg/registry/apps/annotation/postgres_schema.go
  pkg/services/annotations/annotationsapi/handler.go
  pkg/services/annotations/annotationsapi/handler_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

checkFolderContentsAccess also checks variables:delete
  pkg/registry/apis/folders/cascade_delete.go
  pkg/registry/apis/folders/cascade_delete_storage.go
  pkg/registry/apis/folders/cascade_delete_storage_test.go
  pkg/registry/apis/folders/cascade_delete_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Allow folder filter on external collections
  pkg/storage/unified/proto/search.proto
  pkg/storage/unified/resource/search_hybrid.go
  pkg/storage/unified/resource/search_hybrid_test.go
  pkg/storage/unified/resourcepb/search.pb.go
  pkg/storage/unified/search/vector/lexical.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

feedback applied
  public/app/features/notebook/scene/layout-notebook/NotebookCellRenderer.test.tsx
  public/app/features/notebook/scene/layout-notebook/NotebookCellRenderer.tsx
  public/app/features/notebook/scene/layout-notebook/PanelQueryEditor.test.tsx
  public/app/features/notebook/scene/layout-notebook/PanelQueryEditor.tsx
  public/app/features/notebook/scene/layout-notebook/setQueryRunnerQueries.test.ts
  public/app/features/notebook/scene/layout-notebook/setQueryRunnerQueries.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Alerting: Surface external Alertmanager sync health in the settings UI
  public/app/features/alerting/unified/components/settings/AutoSyncConfiguration.test.tsx
  public/app/features/alerting/unified/components/settings/AutoSyncConfiguration.tsx
  public/app/features/alerting/unified/components/settings/AutoSyncStatusBadge.test.tsx
  public/app/features/alerting/unified/components/settings/AutoSyncStatusBadge.tsx
  public/app/features/alerting/unified/components/settings/useAutoSyncConfiguration.test.tsx
  public/app/features/alerting/unified/components/settings/useAutoSyncConfiguration.tsx
  public/app/features/alerting/unified/mocks/server/handlers/k8s/config.k8s.ts
  public/app/features/alerting/unified/utils/autoSync.ts
  public/locales/en-US/grafana.json
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Folder: add bare-minimum folder-controller operator skeleton (#131441)
  pkg/operators/folder/config.go
  pkg/operators/folder/controller.go
  pkg/operators/folder/list.go
  pkg/operators/register.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Query Editor: Keep unresolved mixed-panel rows visible and recover from failed loads
  public/app/features/query/components/QueryEditorRow.test.tsx
  public/app/features/query/components/QueryEditorRow.tsx
  public/app/features/query/components/QueryEditorRows.test.tsx
  public/app/features/query/components/QueryEditorRows.tsx
  public/app/features/query/components/queryDataSourceIdentity.test.ts
  public/app/features/query/components/queryDataSourceIdentity.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

collapsed/uncollapse fixed
  public/app/features/notebook/scene/layout-notebook/PanelQueryEditorRow.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

fix: add missing event tracking
  public/app/features/dashboard-scene/panel-edit/PanelEditNext/QueryEditor/QueryCoauthoring.test.tsx
  public/app/features/dashboard-scene/panel-edit/PanelEditNext/QueryEditor/QueryCoauthoring.tsx
  public/app/features/dashboard-scene/panel-edit/PanelEditNext/QueryEditor/queryCoauthoringTracking.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

chore(eslint): only show error if behavior is not defined
  eslint.config.js
  packages/grafana-eslint-rules/README.md
  packages/grafana-eslint-rules/rules/no-restricted-syntax.cjs
  packages/grafana-eslint-rules/tests/no-restricted-syntax.test.js
  public/app/features/dashboard-scene/utils/createPanelDataTransformer.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, pr-docs, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

build(rspack): ship app polyfills from the webpack build only
  public/app/app.ts
  public/app/polyfills.ts
  scripts/webpack/webpack.common.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

feat(panel-context): ad-hoc transformation contract
  packages/grafana-ui/src/components/PanelChrome/PanelContext.test.ts
  packages/grafana-ui/src/components/PanelChrome/PanelContext.ts
Due: pr-verify-storybook, pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

arrow up and down navigation in progress
  public/app/features/notebook/scene/layout-notebook/NotebookCellRenderer.tsx
  public/app/features/notebook/scene/layout-notebook/NotebookLayoutManager.test.tsx
  public/app/features/notebook/scene/layout-notebook/NotebookLayoutManager.tsx
  public/app/features/notebook/scene/layout-notebook/cells/CodeCell.tsx
  public/app/features/notebook/scene/layout-notebook/cells/MarkdownCell.tsx
  public/app/features/notebook/scene/layout-notebook/cells/cellTypeRegistry.ts
  public/app/features/notebook/scene/layout-notebook/cells/focusExtension.test.ts
  public/app/features/notebook/scene/layout-notebook/cells/focusExtension.ts
  public/app/features/notebook/scene/layout-notebook/edit/NotebookCellFrame.test.tsx
  public/app/features/notebook/scene/layout-notebook/edit/NotebookCellFrame.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

DataViz: Add `grafana.adHocTransformations` feature toggle
  packages/grafana-runtime/src/internal/openFeature/openfeature-types.gen.d.ts
  packages/grafana-runtime/src/internal/openFeature/openfeature.gen.ts
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.json
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease
