Repository grafana/grafana: changes, and which Drone steps are due for each by the changed paths.
All: pr-verify-drone, pr-verify-starlark, pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, trigger-test-release, end-to-end-tests-cloud-plugins-suite-azure, build-storybook, pr-integration-tests, pr-docs, pr-shellcheck, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, store-storybook, main-integration-tests, main-windows, notify-drone-changes, main-trigger-downstream, main-notify

Path conditions:
  pr-verify-drone: any of: scripts/drone/**, .drone.yml, .drone.star, but not: docs/**, *.md
  pr-verify-starlark: any of: scripts/drone/**, .drone.star, but not: docs/**, *.md
  pr-test-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-lint-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-test-backend: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, but not: docs/**, *.md
  pr-lint-backend: any of: pkg/**, packaging/**, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, .bingo/**, but not: docs/**, *.md
  pr-build-e2e: any file but: *.md, docs/**, latest.json
  trigger-test-release: any of: .drone.yml, pkg/build/**
  end-to-end-tests-cloud-plugins-suite-azure: any of: pkg/tsdb/azuremonitor/**, public/app/plugins/datasource/azuremonitor/**, e2e/cloud-plugins-suite/azure-monitor.spec.ts
  build-storybook: any of: packages/grafana-ui/**
  pr-integration-tests: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, but not: docs/**, *.md
  pr-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  pr-shellcheck: any of: scripts/**/*.sh, but not: *.md, docs/**, latest.json
  main-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  main-test-frontend: any file but: *.md, docs/**, latest.json
  main-lint-frontend: any file but: *.md, docs/**, latest.json
  main-test-backend: any file but: *.md, docs/**, latest.json
  main-lint-backend: any file but: *.md, docs/**, latest.json
  main-build-e2e-publish: any file but: *.md, docs/**, latest.json
  store-storybook: any of: packages/grafana-ui/**
  main-integration-tests: any file but: *.md, docs/**, latest.json
  main-windows: any file but: *.md, docs/**, latest.json
  notify-drone-changes: any of: .drone.yml, but not: exclude
  main-trigger-downstream: any file but: *.md, docs/**, latest.json
  main-notify: any file but: *.md, docs/**, latest.json

test commit
  docs/sources/whatsnew/whats-new-next/index.md
Due: pr-docs, main-docs

Keep more field information in function, integrate it with new editor
  public/app/features/correlations/Forms/TransformationsEditor.tsx
  public/app/features/correlations/Forms/types.ts
  public/app/features/explore/CorrelationTransformationAddModal.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Content additions
  docs/sources/whatsnew/whats-new-next/index.md
Due: pr-docs, main-docs

Additional edits
  docs/sources/whatsnew/whats-new-next/index.md
Due: pr-docs, main-docs

Added cloud metadata
  docs/sources/whatsnew/whats-new-next/index.md
Due: pr-docs, main-docs

datasource query stubs
  pkg/apis/datasources/v0alpha1/doc.go
  pkg/apis/datasources/v0alpha1/openapi.go
  pkg/apis/datasources/v0alpha1/register.go
  pkg/apis/datasources/v0alpha1/storage.go
  pkg/apis/datasources/v0alpha1/types.go
  pkg/apis/datasources/v0alpha1/zz_generated.deepcopy.go
  pkg/apis/wireset.go
  pkg/registry/apis/apis.go
  pkg/services/grafana-apiserver/common.go
  pkg/services/grafana-apiserver/request_handler.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

datasource query stubs
  pkg/apis/datasources/v0alpha1/configStorage.go
  pkg/apis/datasources/v0alpha1/instanceStorage.go
  pkg/apis/datasources/v0alpha1/zz_generated.openapi.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

remove xorm tag
  pkg/services/ngalert/models/alert_rule.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Remove "now" language
  docs/sources/whatsnew/whats-new-next/index.md
Due: pr-docs, main-docs

add contact points
  pkg/services/ngalert/api/tooling/definitions/contact_points.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

add compat layer
  pkg/services/ngalert/api/compat_contact_points.go
  pkg/services/ngalert/api/compat_contact_points_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

enable export to HCL
  pkg/services/ngalert/api/api_provisioning.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Alerting: Add UID of rules to response that were affected by update group request (#75985)
  pkg/services/ngalert/api/api_ruler.go
  pkg/services/ngalert/api/persist.go
  pkg/services/ngalert/api/tooling/api.json
  pkg/services/ngalert/api/tooling/definitions/cortex-ruler.go
  pkg/services/ngalert/api/tooling/post.json
  pkg/services/ngalert/api/tooling/spec.json
  pkg/services/ngalert/models/alert_rule.go
  pkg/services/ngalert/provisioning/alert_rules.go
  pkg/services/ngalert/provisioning/persist.go
  pkg/services/ngalert/store/alert_rule.go
  pkg/services/ngalert/store/alert_rule_test.go
  pkg/services/ngalert/tests/fakes/rules.go
  pkg/tests/api/alerting/api_alertmanager_test.go
  pkg/tests/api/alerting/api_prometheus_test.go
  pkg/tests/api/alerting/api_ruler_test.go
  pkg/tests/api/alerting/testing.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

default the variable value to All
  public/app/plugins/datasource/azuremonitor/dashboards/appInsightsFailureDependencies.json
  public/app/plugins/datasource/azuremonitor/dashboards/appInsightsFailureExceptions.json
  public/app/plugins/datasource/azuremonitor/dashboards/appInsightsFailureOperations.json
  public/app/plugins/datasource/azuremonitor/dashboards/appInsightsPerfDependencies.json
  public/app/plugins/datasource/azuremonitor/dashboards/appInsightsPerfOperations.json
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, end-to-end-tests-cloud-plugins-suite-azure, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

datasource query stubs
  pkg/apis/datasources/v0alpha1/register.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

missed a few spots to assume that the values of the variable are in an array
  public/app/plugins/datasource/azuremonitor/dashboards/appInsightsFailureDependencies.json
  public/app/plugins/datasource/azuremonitor/dashboards/appInsightsFailureExceptions.json
  public/app/plugins/datasource/azuremonitor/dashboards/appInsightsFailureOperations.json
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, end-to-end-tests-cloud-plugins-suite-azure, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Remove vendored dashAlert
  pkg/services/ngalert/migration/alert_rule.go
  pkg/services/ngalert/migration/alert_rule_test.go
  pkg/services/ngalert/migration/dash_alert.go
  pkg/services/ngalert/migration/silences.go
  pkg/services/ngalert/migration/ualert.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

showing datasources
  pkg/apis/datasources/v0alpha1/configStorage.go
  pkg/apis/datasources/v0alpha1/instanceStorage.go
  pkg/apis/datasources/v0alpha1/register.go
  pkg/services/grafana-apiserver/request_handler.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

showing datasources
  pkg/apis/datasources/v0alpha1/query.go
  pkg/apis/datasources/v0alpha1/query_test.go
  pkg/apis/datasources/v0alpha1/register.go
  pkg/apis/datasources/v0alpha1/runner.go
  pkg/apis/datasources/v0alpha1/time_range.go
  pkg/apis/datasources/v0alpha1/time_range_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

lint
  pkg/apis/datasources/v0alpha1/query.go
  pkg/apis/datasources/v0alpha1/runner.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Chore: remove LegacyForms from Ldap Page
  public/app/features/admin/ldap/LdapPage.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

remove references to gf-form
  public/app/features/admin/ldap/LdapPage.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

i18n: Mark up Explore's Query Inspector for translations
  public/app/features/inspector/QueryInspector.tsx
  public/locales/de-DE/grafana.json
  public/locales/en-US/grafana.json
  public/locales/es-ES/grafana.json
  public/locales/fr-FR/grafana.json
  public/locales/pseudo-LOCALE/grafana.json
  public/locales/zh-Hans/grafana.json
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

add text options for button
  .betterer.results
  public/app/features/canvas/elements/button.tsx
  public/app/features/canvas/elements/rectangle.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

remove vertical align option for time being as am not able to figure it out; probably will be easier after refactoring text alignment to be based on flex vs textAlignment / verticalAlign
  public/app/features/canvas/elements/button.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Plugin: Deriving fields by name from parsed logs
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.go
  public/app/plugins/datasource/loki/configuration/DerivedField.tsx
  public/app/plugins/datasource/loki/configuration/DerivedFields.tsx
  public/app/plugins/datasource/loki/getDerivedFields.test.ts
  public/app/plugins/datasource/loki/getDerivedFields.ts
  public/app/plugins/datasource/loki/types.ts
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, pr-docs, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Update _index.md (#75359)
  docs/sources/alerting/set-up/configure-high-availability/_index.md
Due: pr-docs, main-docs

fix color
  public/app/features/canvas/element.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

docs: fix minor inaccuracies
  docs/sources/setup-grafana/installation/docker/index.md
Due: pr-docs, main-docs

chore: remove legacy components and classes
  public/app/plugins/datasource/opentsdb/components/OpenTsdbDetails.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Fix datasource unit tests
  public/app/plugins/datasource/prometheus/datasource.test.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

update default size, color, text size
  public/app/features/canvas/element.ts
  public/app/features/canvas/elements/button.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Alert: Cleanup old alert rule versions
  pkg/services/ngalert/store/alert_rule.go
  pkg/services/ngalert/store/alert_rule_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Remove timeSrv imports from metric_find_query
  public/app/plugins/datasource/prometheus/datasource.tsx
  public/app/plugins/datasource/prometheus/language_provider.ts
  public/app/plugins/datasource/prometheus/metric_find_query.test.ts
  public/app/plugins/datasource/prometheus/metric_find_query.ts
  public/app/plugins/datasource/prometheus/querybuilder/components/MetricsLabelsSection.tsx
  public/app/plugins/datasource/prometheus/variables.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Remove timeSrv imports
  public/app/plugins/datasource/prometheus/metric_find_query.ts
  public/app/plugins/datasource/prometheus/querycache/QueryCache.ts
  public/app/plugins/datasource/prometheus/variables.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Noop refactor - combine most external store access into migration/store
  pkg/server/wire.go
  pkg/services/ngalert/migration/alert_rule.go
  pkg/services/ngalert/migration/alert_rule_test.go
  pkg/services/ngalert/migration/channel.go
  pkg/services/ngalert/migration/channel_test.go
  pkg/services/ngalert/migration/cond_trans.go
  pkg/services/ngalert/migration/dash_alert.go
  pkg/services/ngalert/migration/migration_test.go
  pkg/services/ngalert/migration/permissions.go
  pkg/services/ngalert/migration/persist.go
  pkg/services/ngalert/migration/service.go
  pkg/services/ngalert/migration/silences.go
  pkg/services/ngalert/migration/store/database.go
  pkg/services/ngalert/migration/store/models.go
  pkg/services/ngalert/migration/store/testing.go
  pkg/services/ngalert/migration/testing.go
  pkg/services/ngalert/migration/ualert.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

add empty test case in sheet utils
  public/app/core/utils/sheet.test.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Create timeSeriesData.json
  packages/grafana-e2e/cypress/fixtures/timeSeriesData.json
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

fix keyboard a11y
  public/app/plugins/panel/xychart/ManualEditor.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Remove redundant code
  public/app/plugins/datasource/prometheus/datasource.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify
