Repository grafana/grafana: changes, and which Drone steps are due for each by the changed paths.
All: pr-verify-drone, pr-verify-starlark, pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, trigger-test-release, end-to-end-tests-cloud-plugins-suite-azure, build-storybook, pr-integration-tests, pr-docs, pr-shellcheck, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, store-storybook, main-integration-tests, main-windows, notify-drone-changes, main-trigger-downstream, main-notify

Path conditions:
  pr-verify-drone: any of: scripts/drone/**, .drone.yml, .drone.star, but not: docs/**, *.md
  pr-verify-starlark: any of: scripts/drone/**, .drone.star, but not: docs/**, *.md
  pr-test-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-lint-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-test-backend: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, but not: docs/**, *.md
  pr-lint-backend: any of: pkg/**, packaging/**, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, .bingo/**, but not: docs/**, *.md
  pr-build-e2e: any file but: *.md, docs/**, latest.json
  trigger-test-release: any of: .drone.yml, pkg/build/**
  end-to-end-tests-cloud-plugins-suite-azure: any of: pkg/tsdb/azuremonitor/**, public/app/plugins/datasource/azuremonitor/**, e2e/cloud-plugins-suite/azure-monitor.spec.ts
  build-storybook: any of: packages/grafana-ui/**
  pr-integration-tests: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, but not: docs/**, *.md
  pr-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  pr-shellcheck: any of: scripts/**/*.sh, but not: *.md, docs/**, latest.json
  main-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  main-test-frontend: any file but: *.md, docs/**, latest.json
  main-lint-frontend: any file but: *.md, docs/**, latest.json
  main-test-backend: any file but: *.md, docs/**, latest.json
  main-lint-backend: any file but: *.md, docs/**, latest.json
  main-build-e2e-publish: any file but: *.md, docs/**, latest.json
  store-storybook: any of: packages/grafana-ui/**
  main-integration-tests: any file but: *.md, docs/**, latest.json
  main-windows: any file but: *.md, docs/**, latest.json
  notify-drone-changes: any of: .drone.yml, but not: exclude
  main-trigger-downstream: any file but: *.md, docs/**, latest.json
  main-notify: any file but: *.md, docs/**, latest.json

implement alert rule specific abilities
  public/app/features/alerting/unified/MoreActionsRuleButtons.tsx
  public/app/features/alerting/unified/components/Authorize.tsx
  public/app/features/alerting/unified/components/rules/RuleDetailsActionButtons.tsx
  public/app/features/alerting/unified/components/rules/RuleListGroupView.tsx
  public/app/features/alerting/unified/hooks/useAbilities.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Only show original field list in transformation field list
  public/app/features/explore/CorrelationHelper.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

fix tests
  public/app/features/alerting/unified/MoreActionsRuleButtons.tsx
  public/app/features/alerting/unified/RuleList.test.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Alerting: Use correct URL for modify export (#77714)
  public/app/features/alerting/unified/components/rules/RuleActionsButtons.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Provisioning: orgs
  docs/sources/administration/provisioning/index.md
  docs/sources/developers/http_api/admin.md
  pkg/api/accesscontrol.go
  pkg/api/admin_provisioning.go
  pkg/api/admin_provisioning_test.go
  pkg/api/api.go
  pkg/services/provisioning/orgs/config_reader.go
  pkg/services/provisioning/orgs/config_reader_test.go
  pkg/services/provisioning/orgs/org_provisioner.go
  pkg/services/provisioning/orgs/org_provisioner_test.go
  pkg/services/provisioning/orgs/testdata/test-configs/broken-yaml/broken.yaml
  pkg/services/provisioning/orgs/testdata/test-configs/broken-yaml/not.yaml.text
  pkg/services/provisioning/orgs/testdata/test-configs/correct-properties/correct-properties.yaml
  pkg/services/provisioning/orgs/testdata/test-configs/empty_folder/.gitignore
  pkg/services/provisioning/orgs/testdata/test-configs/incorrect-settings/incorrect-settings.yaml
  pkg/services/provisioning/orgs/types.go
  pkg/services/provisioning/provisioning.go
  pkg/services/provisioning/provisioning_mock.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, pr-docs, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

use util.SplitString, implement DynamicSection KeysHash
  pkg/setting/setting.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

InfluxDB: Add new truthiness operators (`Is` and `Is Not`) to InfluxQL Query Builder (#77923)
  pkg/tsdb/influxdb/models/query.go
  pkg/tsdb/influxdb/models/query_test.go
  public/app/plugins/datasource/influxdb/components/editor/query/influxql/visual/TagsSection.tsx
  public/app/plugins/datasource/influxdb/influx_query_model.test.ts
  public/app/plugins/datasource/influxdb/influx_query_model.ts
  public/app/plugins/datasource/influxdb/queryUtils.test.ts
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

more deprecation notices
  pkg/cmd/grafana/apiserver/server.go
  pkg/services/dashboardsnapshots/database/database.go
  pkg/services/dashboardsnapshots/database/database_test.go
  pkg/services/dashboardsnapshots/service/service.go
  pkg/setting/setting.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

add auth handler
  pkg/services/grafana-apiserver/auth_handler.go
  pkg/services/grafana-apiserver/service.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Chore: Update settings to support k8s needs (#78235)
  pkg/setting/setting.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Fix tests
  pkg/services/annotations/annotationsimpl/loki/alert_state_history_store_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Fix lint
  pkg/services/annotations/annotationsimpl/loki/alert_state_history_store_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

add dev mode check
  pkg/services/grafana-apiserver/service.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

remove k8s user authorizer
  pkg/services/grafana-apiserver/auth/authorizer/provider.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

handle regex in parentheses for label filter value
  public/app/plugins/datasource/prometheus/querybuilder/components/LabelFilterItem.tsx
  public/app/plugins/datasource/prometheus/querybuilder/components/LabelFilters.test.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

add e2e test for adding logs table from explore to dashboard
  e2e/various-suite/loki-table-explore-to-dash.spec.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

remove uncessary reset
  e2e/various-suite/loki-table-explore-to-dash.spec.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

remove some uncessary data
  e2e/various-suite/loki-table-explore-to-dash.spec.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Correlations: Ensure datasource uid property exists when a link is created (#78167)
  public/app/features/correlations/utils.test.ts
  public/app/features/correlations/utils.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Use field list in field dropdown instead of all variables
  public/app/features/explore/CorrelationHelper.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Correlations: Only show original field list in transformation field list (#78230)
  public/app/features/explore/CorrelationHelper.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

check something besides time
  e2e/various-suite/loki-table-explore-to-dash.spec.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

clean up
  e2e/various-suite/loki-table-explore-to-dash.spec.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

fix: handle empty filters in prometheus datasource variable query function `label_values`
  public/app/plugins/datasource/prometheus/metric_find_query.test.ts
  public/app/plugins/datasource/prometheus/metric_find_query.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

CloudWatch Logs: Support fetching fields in monaco editor
  packages/grafana-ui/src/components/Monaco/CodeEditor.tsx
  packages/grafana-ui/src/components/Monaco/types.ts
  public/app/plugins/datasource/cloudwatch/components/QueryEditor/LogsQueryEditor/LogsQueryField.tsx
  public/app/plugins/datasource/cloudwatch/datasource.ts
  public/app/plugins/datasource/cloudwatch/language/logs/completion/CompletionItemProvider.test.ts
  public/app/plugins/datasource/cloudwatch/language/logs/completion/CompletionItemProvider.ts
  public/app/plugins/datasource/cloudwatch/language/monarch/register.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, store-storybook, main-integration-tests, main-windows, main-trigger-downstream, main-notify

generate a self-signed cert when running in https or http2 mode without a provided cert
  pkg/api/http_server.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

[v9.4.x] fix(alerting): fallback to dashboard to get the full targets PART3
  pkg/services/sqlstore/migrations/ualert/alert_rule.go
  pkg/services/sqlstore/migrations/ualert/alert_rule_graphite.go
  pkg/services/sqlstore/migrations/ualert/alert_rule_test.go
  pkg/services/sqlstore/migrations/ualert/ualert.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

mention feature flag in the new tooltip option
  docs/sources/panels-visualizations/visualizations/heatmap/index.md
Due: pr-docs, main-docs

fix lint
  public/app/plugins/datasource/cloudwatch/language/logs/completion/CompletionItemProvider.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

add auth wrappers
  pkg/services/grafana-apiserver/auth/authorizer/provider.go
  pkg/services/grafana-apiserver/service.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

add auth wrappers
  pkg/services/grafana-apiserver/auth_handler.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Don't show extension dropdown if no extensions are registered
  public/app/features/alerting/unified/components/extensions/AlertInstanceExtensionPoint.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

WIP-add menu groups
  public/app/features/explore/ShortLinkButtonMenu.tsx
  public/app/features/explore/utils/links.ts
  public/locales/de-DE/grafana.json
  public/locales/en-US/grafana.json
  public/locales/es-ES/grafana.json
  public/locales/fr-FR/grafana.json
  public/locales/pseudo-LOCALE/grafana.json
  public/locales/zh-Hans/grafana.json
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

changes
  pkg/tsdb/grafana-pyroscope-datasource/instance.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

add auth wrappers
  pkg/infra/appcontext/user.go
  pkg/services/grafana-apiserver/service.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

TooltipPlugin2: Absorb ZoomPlugin (#78160)
  packages/grafana-ui/src/components/uPlot/plugins/TooltipPlugin2.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, store-storybook, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Look at each field to see if they are time series
  packages/grafana-data/src/dataframe/index.ts
  packages/grafana-data/src/dataframe/utils.ts
  public/app/features/transformers/timeSeriesTable/TimeSeriesTableTransformEditor.tsx
  public/app/features/transformers/timeSeriesTable/timeSeriesTableTransformer.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Add further tests
  public/app/features/transformers/timeSeriesTable/timeSeriesTableTransformer.test.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

K8s: Ensure there is always a user in appcontext.User (#78247)
  pkg/infra/appcontext/user.go
  pkg/services/grafana-apiserver/auth/authorizer/provider.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify
