Repository grafana/grafana: changes, and which Drone steps are due for each by the changed paths.
All: pr-verify-drone, pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, pr-docs, main-docs, main-test-frontend, main-test-backend, main-build-e2e-publish, trigger-test-release, main-integration-tests, main-windows, notify-drone-changes, main-publish, main-notify

pr-verify-drone:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.15.6
    name: identify-runner
  - commands:
    - mkdir -p bin
    - curl -fL -o bin/grabpl https://grafana-downloads.storage.googleapis.com/grafana-build-pipeline/v3.0.5/grabpl
    - chmod +x bin/grabpl
    image: byrnedo/alpine-curl:0.1.8
  ...

pr-test-frontend:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.15.6
    name: identify-runner
  - commands:
    - mkdir -p bin
    - curl -fL -o bin/grabpl https://grafana-downloads.storage.googleapis.com/grafana-build-pipeline/v3.0.5/grabpl
    - chmod +x bin/grabpl
    image: byrnedo/alpine-curl:0.1.8
  ...

pr-test-backend:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.15.6
    name: identify-runner
  - commands:
    - mkdir -p bin
    - curl -fL -o bin/grabpl https://grafana-downloads.storage.googleapis.com/grafana-build-pipeline/v3.0.5/grabpl
    - chmod +x bin/grabpl
    image: byrnedo/alpine-curl:0.1.8
  ...

pr-build-e2e:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.15.6
    name: identify-runner
  - commands:
    - mkdir -p bin
    - curl -fL -o bin/grabpl https://grafana-downloads.storage.googleapis.com/grafana-build-pipeline/v3.0.5/grabpl
    - chmod +x bin/grabpl
    image: byrnedo/alpine-curl:0.1.8
  ...

pr-integration-tests:
  steps:
  - commands:
    - mkdir -p bin
    - curl -fL -o bin/grabpl https://grafana-downloads.storage.googleapis.com/grafana-build-pipeline/v3.0.5/grabpl
    - chmod +x bin/grabpl
    image: byrnedo/alpine-curl:0.1.8
    name: grabpl
  - commands:
  ...

pr-docs:
  steps:
  - commands:
    - mkdir -p bin
    - curl -fL -o bin/grabpl https://grafana-downloads.storage.googleapis.com/grafana-build-pipeline/v3.0.5/grabpl
    - chmod +x bin/grabpl
    image: byrnedo/alpine-curl:0.1.8
    name: grabpl
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.15.6
  ...

main-docs:
  steps:
  - commands:
    - mkdir -p bin
    - curl -fL -o bin/grabpl https://grafana-downloads.storage.googleapis.com/grafana-build-pipeline/v3.0.5/grabpl
    - chmod +x bin/grabpl
    image: byrnedo/alpine-curl:0.1.8
    name: grabpl
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.15.6
  ...

main-test-frontend:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.15.6
    name: identify-runner
  - commands:
    - mkdir -p bin
    - curl -fL -o bin/grabpl https://grafana-downloads.storage.googleapis.com/grafana-build-pipeline/v3.0.5/grabpl
    - chmod +x bin/grabpl
    image: byrnedo/alpine-curl:0.1.8
  ...

main-test-backend:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.15.6
    name: identify-runner
  - commands:
    - mkdir -p bin
    - curl -fL -o bin/grabpl https://grafana-downloads.storage.googleapis.com/grafana-build-pipeline/v3.0.5/grabpl
    - chmod +x bin/grabpl
    image: byrnedo/alpine-curl:0.1.8
  ...

Update tests
  packages/grafana-ui/src/components/Table/utils.test.ts
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Add optional chaining
  packages/grafana-ui/src/components/Table/Table.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Tempo: Add the ability to show/hide the Span column in the table when using TraceQL
  packages/grafana-schema/src/schema/mudball.gen.ts
  packages/grafana-ui/src/components/Table/Table.tsx
  packages/grafana-ui/src/components/Table/utils.ts
  public/app/plugins/datasource/tempo/resultTransformer.ts
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Use resource call query_result query (#57232)
  public/app/plugins/datasource/prometheus/datasource.test.ts
  public/app/plugins/datasource/prometheus/datasource.tsx
  public/app/plugins/datasource/prometheus/metric_find_query.test.ts
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Show subcols in a subtable
  .betterer.results
  packages/grafana-schema/src/schema/mudball.gen.ts
  packages/grafana-ui/src/components/Table/Table.tsx
  packages/grafana-ui/src/components/Table/utils.tsx
  public/app/plugins/datasource/tempo/resultTransformer.ts
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Rename pkg/framework/kind to pkg/kindsys
  LICENSING.md
  embed.go
  go.sum
  kinds/gen.go
  kinds/raw/constraint.cue
  kinds/structured/constraint.cue
  pkg/codegen/corekind.go
  pkg/codegen/generators.go
  pkg/codegen/tmpl/kind_registry.tmpl
  pkg/kinds/dashboard/dashboard_test.go
  pkg/kinds/dashboard/kind_gen.go
  pkg/kinds/svg/kind_gen.go
  pkg/kindsys/corestructured.cue
  pkg/kindsys/customstructured.cue
  pkg/kindsys/errors.go
  pkg/kindsys/kind.go
  pkg/kindsys/load.go
  pkg/kindsys/raw.cue
  pkg/kindsys/slot.cue
  pkg/kindsys/type.cue
  pkg/kindsys/type.go
  pkg/registry/corekind/base.go
  pkg/registry/corekind/base_gen.go
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, pr-docs, main-docs, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Add more space for the subtable
  packages/grafana-ui/src/components/Table/Table.tsx
  packages/grafana-ui/src/components/Table/utils.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Remove unused import
  packages/grafana-ui/src/components/Table/Table.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Better expander icon. Improved the subtable styling. Integrated with real data
  packages/grafana-ui/src/components/Table/Table.tsx
  packages/grafana-ui/src/components/Table/utils.tsx
  public/app/plugins/datasource/tempo/resultTransformer.ts
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Fix expanding the wrong index when table already has an expanded row
  packages/grafana-ui/src/components/Table/Table.tsx
  packages/grafana-ui/src/components/Table/utils.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

updated some logs
  pkg/services/ngalert/ngalert.go
  pkg/services/ngalert/schedule/schedule.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Use resource call query_result query (#57232) (#57364)
  public/app/plugins/datasource/prometheus/datasource.test.ts
  public/app/plugins/datasource/prometheus/datasource.tsx
  public/app/plugins/datasource/prometheus/metric_find_query.test.ts
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Fixing tests
  pkg/services/publicdashboards/api/api_test.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Renaming method
  pkg/services/publicdashboards/api/api.go
  pkg/services/publicdashboards/api/middleware.go
  pkg/services/publicdashboards/api/middleware_test.go
  pkg/services/publicdashboards/internal/tokens/tokens.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Adding validation for correct access token
  pkg/services/publicdashboards/api/api.go
  pkg/services/publicdashboards/api/middleware.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Adding missing tests
  pkg/services/publicdashboards/api/api_test.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Fixing linter
  pkg/services/publicdashboards/api/api.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Fixing method name
  pkg/services/publicdashboards/api/api.go
  pkg/services/publicdashboards/api/middleware.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Removing middleware and moving into the api methods
  pkg/services/publicdashboards/api/api.go
  pkg/services/publicdashboards/api/api_test.go
  pkg/services/publicdashboards/api/middleware.go
  pkg/services/publicdashboards/service/service.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Fixing lint
  pkg/services/publicdashboards/internal/tokens/tokens.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

chore: split up makefile
  emails/Makefile
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

clean up html processing
  emails/Makefile
  emails/assets/css/ink.css
  emails/assets/css/style.css
  emails/grunt/aliases.yaml
  emails/grunt/assemble.js
  emails/grunt/premailer.js
  emails/grunt/processhtml.js
  emails/grunt/replace.js
  emails/grunt/uncss.js
  emails/grunt/watch.js
  emails/package-lock.json
  emails/package.json
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

use dynamic year for email templates
  emails/templates/partials/layout/default.txt
  emails/templates/partials/layout/footer.mjml
  emails/templates/reset_password.txt
  public/emails/ng_alert_notification.html
  public/emails/reset_password.html
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

inline email templates
  emails/templates/invited_to_org.mjml
  emails/templates/partials/invited_to_org.mjml
  emails/templates/partials/reset_password.mjml
  emails/templates/reset_password.mjml
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Commit changed test data
  pkg/tsdb/loki/testdata/empty.golden.jsonc
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

chore: copy txt templates
  emails/grunt/replace.js
  public/emails/alert_notification.txt
  public/emails/new_user_invite.txt
  public/emails/ng_alert_notification.txt
  public/emails/reset_password.txt
  public/emails/signup_started.txt
  public/emails/welcome_on_signup.txt
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

tweak makefile
  emails/Makefile
  public/emails/invited_to_org.html
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

I18n: Show languages in local names
  contribute/internationalization.md
  public/app/core/components/SharedPreferences/SharedPreferences.tsx
  public/app/core/internationalization/constants.test.ts
  public/app/core/internationalization/constants.ts
  public/app/core/internationalization/index.tsx
  public/locales/en-US/grafana.json
  public/locales/es-ES/grafana.json
  public/locales/fr-FR/grafana.json
  public/locales/pseudo-LOCALE/grafana.json
  public/locales/zh-Hans/grafana.json
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

fix tests
  pkg/services/ngalert/schedule/schedule_test.go
  pkg/services/ngalert/schedule/schedule_unit_test.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

converting more templates
  emails/templates/alert_notification.html
  emails/templates/alert_notification.txt
  emails/templates/invited_to_org.txt
  emails/templates/new_user_invite.html
  emails/templates/new_user_invite.mjml
  public/emails/invited_to_org.txt
  public/emails/new_user_invite.html
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

lint
  pkg/services/ngalert/schedule/schedule_test.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

convert more templates
  emails/templates/invited_to_org.mjml
  emails/templates/new_user_invite.mjml
  emails/templates/ng_alert_notification.html
  public/emails/invited_to_org.html
  public/emails/new_user_invite.html
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

updates database tests after adding toggle for annotations
  pkg/services/publicdashboards/database/database_test.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Contact points tab: Remove error count in integrations details and show only Error label (#57325)
  public/app/features/alerting/unified/Receivers.test.tsx
  public/app/features/alerting/unified/components/receivers/ReceiversTable.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

adds test to ensure no annotations returned when annotations disabled for pubdash
  pkg/services/publicdashboards/service/service_test.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

convert all other templates
  emails/templates/signup_started.html
  emails/templates/signup_started.mjml
  emails/templates/welcome_on_signup.html
  emails/templates/welcome_on_signup.mjml
  public/emails/reset_password.html
  public/emails/signup_started.html
  public/emails/welcome_on_signup.html
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

updates failing service test for annotations
  pkg/services/publicdashboards/service/service_test.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Add core structured kind generator
  kinds/gen.go
  pkg/codegen/generators.go
  pkg/codegen/tmpl/kind_corestructured.tmpl
  pkg/kinds/dashboard/dashboard_kind_gen.go
  pkg/kindsys/kind.go
  pkg/kindsys/load.go
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Adding comment
  pkg/services/publicdashboards/api/middleware.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Path conditions:
  pr-verify-drone: any of: scripts/drone/**, .drone.yml, .drone.star, but not: docs/**, *.md
  pr-test-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-test-backend: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, but not: docs/**, *.md
  pr-build-e2e: any file but: *.md, docs/**, latest.json
  pr-integration-tests: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, but not: docs/**, *.md
  pr-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  main-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  main-test-frontend: any file but: *.md, docs/**, latest.json
  main-test-backend: any file but: *.md, docs/**, latest.json
  main-build-e2e-publish: any file but: *.md, docs/**, latest.json
  trigger-test-release: any of: .drone.yml, pkg/build/**
  main-integration-tests: any file but: *.md, docs/**, latest.json
  main-windows: any file but: *.md, docs/**, latest.json
  notify-drone-changes: any of: .drone.yml, but not: exclude
  main-publish: any file but: *.md, docs/**, latest.json
  main-notify: any file but: *.md, docs/**, latest.json
