Repository grafana/grafana: changes, and which Drone steps are due for each by the changed paths.
All: pr-verify-drone, pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, pr-docs, main-docs, main-test-frontend, main-test-backend, main-build-e2e-publish, trigger-test-release, main-integration-tests, main-windows, notify-drone-changes, main-publish, main-notify

Path conditions:
  pr-verify-drone: any of: scripts/drone/**, .drone.yml, .drone.star, but not: docs/**, *.md
  pr-test-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-test-backend: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, but not: docs/**, *.md
  pr-build-e2e: any file but: *.md, docs/**, latest.json
  pr-integration-tests: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, but not: docs/**, *.md
  pr-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  main-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  main-test-frontend: any file but: *.md, docs/**, latest.json
  main-test-backend: any file but: *.md, docs/**, latest.json
  main-build-e2e-publish: any file but: *.md, docs/**, latest.json
  trigger-test-release: any of: .drone.yml, pkg/build/**
  main-integration-tests: any file but: *.md, docs/**, latest.json
  main-windows: any file but: *.md, docs/**, latest.json
  notify-drone-changes: any of: .drone.yml, but not: exclude
  main-publish: any file but: *.md, docs/**, latest.json
  main-notify: any file but: *.md, docs/**, latest.json

remove command palette feature toggle
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.go
  public/app/AppWrapper.tsx
  public/app/core/components/AppChrome/AppChrome.tsx
  public/app/core/components/AppChrome/TopSearchBar.tsx
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, pr-docs, main-docs, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Alerting: hide "silence" button for external AM setups (#62133) (#62693)
  pkg/services/ngalert/api/api_configuration.go
  pkg/services/ngalert/api/tooling/definitions/admin.go
  public/app/features/alerting/unified/AlertGroups.tsx
  public/app/features/alerting/unified/AmRoutes.tsx
  public/app/features/alerting/unified/Receivers.test.tsx
  public/app/features/alerting/unified/Receivers.tsx
  public/app/features/alerting/unified/Silences.tsx
  public/app/features/alerting/unified/api/alertmanagerApi.ts
  public/app/features/alerting/unified/components/GrafanaAlertmanagerDeliveryWarning.test.tsx
  public/app/features/alerting/unified/components/GrafanaAlertmanagerDeliveryWarning.tsx
  public/app/features/alerting/unified/components/rules/RuleDetails.test.tsx
  public/app/features/alerting/unified/components/rules/RuleDetailsActionButtons.tsx
  public/app/features/alerting/unified/components/silences/MatchedSilencedRules.tsx
  public/app/features/alerting/unified/mocks.ts
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

add: generic oauth to the configuration
  pkg/api/dtos/frontend_settings.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

undo irrelevant AppChrome changes
  public/app/core/components/AppChrome/AppChrome.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

refactor: change debug to warn
  pkg/login/social/generic_oauth.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

interpolate variables
  public/app/plugins/datasource/prometheus/datasource.tsx
  public/app/plugins/datasource/prometheus/middleware/PrometheusIncrementalStorage.test.ts
  public/app/plugins/datasource/prometheus/middleware/PrometheusIncrementalStorage.ts
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Add dragClassCancel back to PanelMenu
  packages/grafana-ui/src/components/PanelChrome/PanelChrome.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Manage longpress behaviour
  packages/grafana-ui/src/components/ToolbarButton/ToolbarButton.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Plugins: Ensure proxy route bodies are valid JSON (#61771)
  pkg/api/pluginproxy/utils.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Chore: Move theme model to thumbs service
  pkg/api/render.go
  pkg/models/theme.go
  pkg/services/alerting/notifier.go
  pkg/services/alerting/notifier_test.go
  pkg/services/dashboards/models.go
  pkg/services/rendering/interface.go
  pkg/services/rendering/mock.go
  pkg/services/rendering/rendering.go
  pkg/services/rendering/rendering_test.go
  pkg/services/screenshot/option.go
  pkg/services/thumbs/crawler.go
  pkg/services/thumbs/dashboard_thumbs.go
  pkg/services/thumbs/dashboardthumbsimpl/dashboard_thumbs.go
  pkg/services/thumbs/dashboardthumbsimpl/store.go
  pkg/services/thumbs/dashboardthumbsimpl/store_test.go
  pkg/services/thumbs/dashboardthumbsimpl/xorm_store.go
  pkg/services/thumbs/model/model.go
  pkg/services/thumbs/repo.go
  pkg/services/thumbs/service.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

baldm0mma/addRowNumbers/ revert footerCell
  packages/grafana-ui/src/components/Table/FooterCell.tsx
  packages/grafana-ui/src/components/Table/FooterRow.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

baldm0mma/addRowNumbers/ revert tests
  packages/grafana-ui/src/components/Table/Table.test.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

baldm0mma/addRowNumbers/ skip tests
  packages/grafana-ui/src/components/Table/Table.test.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

baldm0mma/addRowNumbers/ revert table isCountRowSet
  packages/grafana-ui/src/components/Table/Table.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

baldm0mma/addRowNumbers/ remove cloneDeep
  packages/grafana-ui/src/components/Table/Table.tsx
  packages/grafana-ui/src/components/Table/utils.ts
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Tempo: Remove tempoApmTable feature flag (#62499)
  docs/sources/datasources/tempo/_index.md
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.go
  public/app/plugins/datasource/tempo/QueryEditor/ServiceGraphSection.tsx
  public/app/plugins/datasource/tempo/datasource.test.ts
  public/app/plugins/datasource/tempo/datasource.ts
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, pr-docs, main-docs, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

baldm0mma/addRowNumbers/ update filterFields
  packages/grafana-ui/src/components/Table/utils.ts
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

add dashboard controller
  pkg/apimachinery/bridge/clientset.go
  pkg/server/backgroundsvcs/background_services.go
  pkg/server/wire.go
  pkg/services/store/k8saccess/controller.go
  pkg/services/store/k8saccess/dashboard_service.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

prettier
  public/app/plugins/panel/heatmap/utils.ts
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

deleted link to moved content
  docs/sources/dashboards/manage-dashboards/index.md
Due: pr-docs, main-docs

fixed resource name in controller's GVR
  pkg/services/store/k8saccess/controller.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Cloudwatch: Fix log group variable interpolation
  public/app/plugins/datasource/cloudwatch/variables.test.ts
  public/app/plugins/datasource/cloudwatch/variables.ts
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

only check for forks if in PRs
  .drone.yml
Due: pr-verify-drone, pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, trigger-test-release, main-integration-tests, main-windows, notify-drone-changes, main-publish, main-notify

forgot to commit starlark
  scripts/drone/steps/lib.star
Due: pr-verify-drone, pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Fix URL of docs preview
  docs/README.md
Due: pr-docs, main-docs

[v9.4.x] Tempo: Remove tempoApmTable feature flag (#62702)
  docs/sources/datasources/tempo/_index.md
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.go
  public/app/plugins/datasource/tempo/QueryEditor/ServiceGraphSection.tsx
  public/app/plugins/datasource/tempo/datasource.test.ts
  public/app/plugins/datasource/tempo/datasource.ts
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, pr-docs, main-docs, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Fix URL of docs preview (#62704)
  docs/README.md
Due: pr-docs, main-docs

[v9.2.x] docs: deleted link to moved content (#62703)
  docs/sources/dashboards/manage-dashboards/index.md
Due: pr-docs, main-docs

fix linting errors
  .drone.yml
  scripts/drone/steps/lib.star
Due: pr-verify-drone, pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, trigger-test-release, main-integration-tests, main-windows, notify-drone-changes, main-publish, main-notify

Explore: Fix graph not updating when changing config (#62473)
  public/app/features/explore/Graph/ExploreGraph.tsx
  public/app/features/explore/Graph/useStructureRev.test.ts
  public/app/features/explore/Graph/useStructureRev.ts
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

[v9.0.x] QueryEditorRow: Fixes issue loading query editor when data source variable selected (#62657)
  public/app/features/query/components/QueryEditorRow.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

fix linting errors
  scripts/drone/steps/lib.star
Due: pr-verify-drone, pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Auth: Add Generic oauth skip org role sync setting (#62418)
  conf/defaults.ini
  docs/sources/setup-grafana/configure-grafana/_index.md
  docs/sources/setup-grafana/configure-security/configure-authentication/generic-oauth/index.md
  packages/grafana-data/src/types/config.ts
  pkg/api/dtos/frontend_settings.go
  pkg/api/frontendsettings.go
  pkg/login/social/generic_oauth.go
  pkg/login/social/generic_oauth_test.go
  pkg/services/login/authinfo.go
  pkg/setting/setting.go
  public/app/features/admin/UserAdminPage.tsx
  public/app/features/admin/UserListAdminPage.tsx
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, pr-docs, main-docs, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

migrate UpdateCounters back to runtime
  docs/sources/developers/kinds/composable/debugpanelcfg/schema-reference.md
  public/app/plugins/panel/debug/RenderInfoViewer.tsx
  public/app/plugins/panel/debug/panelcfg.cue
  public/app/plugins/panel/debug/panelcfg.gen.ts
Due: pr-test-frontend, pr-build-e2e, pr-docs, main-docs, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

refactor, rewrite, and optimize merging algorithm
  public/app/plugins/datasource/prometheus/middleware/PrometheusIncrementalStorage.ts
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Chore: Move library elements models to library elements service (#62507)
  pkg/api/dashboard_test.go
  pkg/api/folder.go
  pkg/models/libraryelements.go
  pkg/services/libraryelements/api.go
  pkg/services/libraryelements/database.go
  pkg/services/libraryelements/guard.go
  pkg/services/libraryelements/libraryelements.go
  pkg/services/libraryelements/libraryelements_create_test.go
  pkg/services/libraryelements/libraryelements_delete_test.go
  pkg/services/libraryelements/libraryelements_get_all_test.go
  pkg/services/libraryelements/libraryelements_get_test.go
  pkg/services/libraryelements/libraryelements_patch_test.go
  pkg/services/libraryelements/libraryelements_permissions_test.go
  pkg/services/libraryelements/libraryelements_test.go
  pkg/services/libraryelements/model/model.go
  pkg/services/libraryelements/writers.go
  pkg/services/librarypanels/librarypanels.go
  pkg/services/librarypanels/librarypanels_test.go
  pkg/services/sqlstore/migrations/libraryelements.go
  pkg/services/stats/statsimpl/stats.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

forgot to cd into grafana-enterprise
  .drone.yml
  scripts/drone/steps/lib.star
Due: pr-verify-drone, pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, trigger-test-release, main-integration-tests, main-windows, notify-drone-changes, main-publish, main-notify
