Repository grafana/grafana: changes, and which Drone steps are due for each by the changed paths.
All: pr-verify-drone, pr-verify-starlark, pr-verify-storybook, pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, end-to-end-tests-cloud-plugins-suite-azure, build-storybook, pr-integration-tests, pr-docs, pr-shellcheck, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Path conditions:
  pr-verify-drone: any of: scripts/drone/**, .drone.yml, .drone.star, but not: docs/**, *.md
  pr-verify-starlark: any of: scripts/drone/**, .drone.star, but not: docs/**, *.md
  pr-verify-storybook: any of: packages/grafana-ui/**, but not: docs/**, *.md
  pr-test-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-lint-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-test-backend: any of: Makefile, pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, docs/sources/setup-grafana/configure-grafana/feature-toggles/**, devenv/**, but not: docs/**, *.md
  pr-lint-backend: any of: .golangci.toml, Makefile, pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, .bingo/**, but not: docs/**, *.md
  pr-build-e2e: any file but: *.md, docs/**, latest.json
  end-to-end-tests-cloud-plugins-suite-azure: any of: pkg/tsdb/azuremonitor/**, public/app/plugins/datasource/azuremonitor/**, e2e/cloud-plugins-suite/azure-monitor.spec.ts
  build-storybook: any of: packages/grafana-ui/**
  pr-integration-tests: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, but not: docs/**, *.md
  pr-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  pr-shellcheck: any of: scripts/**/*.sh, but not: *.md, docs/**, latest.json
  main-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  main-test-frontend: any file but: *.md, docs/**, latest.json
  main-lint-frontend: any file but: *.md, docs/**, latest.json
  main-test-backend: any file but: *.md, docs/**, latest.json
  main-lint-backend: any file but: *.md, docs/**, latest.json
  main-verify-storybook: any file but: *.md, docs/**, latest.json
  main-build-e2e-publish: any file but: *.md, docs/**, latest.json
  store-storybook: any of: packages/grafana-ui/**
  release-canary-npm-packages: any of: packages/**
  main-integration-tests: any file but: *.md, docs/**, latest.json
  main-trigger-downstream: any file but: *.md, docs/**, latest.json
  main-notify: any file but: *.md, docs/**, latest.json
  rgm-main-prerelease: any file but: *.md, docs/**, packages/**/*.md, latest.json

fix remaining
  eslint-suppressions.json
  public/app/core/components/SVG/SanitizedSVG.tsx
  public/app/features/alerting/unified/home/GettingStarted.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Alerting: Forward per-integration notification rate limits to remote AM
  conf/defaults.ini
  docs/sources/setup-grafana/configure-grafana/_index.md
  pkg/services/ngalert/ngalert.go
  pkg/services/ngalert/remote/client/alertmanager_configuration.go
  pkg/setting/setting_unified_alerting.go
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, pr-docs, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

fix type assertion
  public/app/features/alerting/unified/components/receivers/form/GrafanaReceiverForm.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

unified-storage: patch client RV validation to steady (#123058)
  pkg/storage/unified/apistore/store.go
  pkg/storage/unified/resource/datastore.go
  pkg/storage/unified/resource/server.go
  pkg/storage/unified/resource/storage_backend.go
  pkg/storage/unified/sql/backend.go
  pkg/storage/unified/testing/storage_backend_sql_compatibility.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Settings: Fix GF_UNIFIED_STORAGE_* env overrides for bare section keys (#123060)
  pkg/setting/setting_unified_storage.go
  pkg/setting/setting_unified_storage_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Update tests
  packages/grafana-test-utils/src/handlers/apis/dashboard.grafana.app/v0alpha1/handlers.ts
  packages/grafana-test-utils/src/handlers/index.ts
  public/app/features/search/service/searcher.ts
  public/app/features/search/state/SearchStateManager.test.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

go.sum: remove stale dolthub/vitess and old fork hashes
  go.sum
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Apply suggestion from @mgyongyosi
  pkg/registry/apis/iam/authorizer/external_group_mapping.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

add aria-pressed state for filterpill buttons
  packages/grafana-ui/src/components/FilterPill/FilterPill.test.tsx
  packages/grafana-ui/src/components/FilterPill/FilterPill.tsx
Due: pr-verify-storybook, pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

unified-storage: patch client RV validation to slow (#123059)
  pkg/storage/unified/apistore/store.go
  pkg/storage/unified/resource/datastore.go
  pkg/storage/unified/resource/server.go
  pkg/storage/unified/resource/storage_backend.go
  pkg/storage/unified/sql/backend.go
  pkg/storage/unified/testing/storage_backend_sql_compatibility.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

prettier
  packages/grafana-ui/src/components/FilterPill/FilterPill.tsx
Due: pr-verify-storybook, pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

FS: Dynamically set `lang` on `html` (#123044)
  pkg/services/frontend/index.html
  public/boot/index.ts
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

lint
  pkg/services/ngalert/notifier/receiver_testing_svc_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Provisioning: List resources should return correct api version (#122653)
  pkg/apiserver/registry/generic/versioned_store.go
  pkg/registry/apis/provisioning/register.go
  pkg/tests/apis/provisioning/apiversion/helper_test.go
  pkg/tests/apis/provisioning/apiversion/version_test.go
  pkg/tests/apis/provisioning/common/testing.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Update docs/sources/alerting/guides/when-slos-reduce-alert-noise.md
  docs/sources/alerting/guides/when-slos-reduce-alert-noise.md
Due: pr-docs, main-docs

just use built in themes for now
  packages/grafana-ui/package.json
  packages/grafana-ui/src/components/CodeMirror/CodeEditor.test.tsx
  packages/grafana-ui/src/components/CodeMirror/CodeEditor.tsx
  yarn.lock
Due: pr-verify-storybook, pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

chore: fix first sync expectation of just another test
  pkg/tests/apis/provisioning/folderapiversion/folder_api_version_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

IAM: Inline GlobalRole service identity swap into rest.go
  pkg/registry/apis/iam/globalrole/identity_wrapper.go
  pkg/registry/apis/iam/globalrole/identity_wrapper_test.go
  pkg/registry/apis/iam/globalrole/inmemory/api_installer.go
  pkg/registry/apis/iam/globalrole/inmemory/rest.go
  pkg/registry/apis/iam/globalrole/inmemory/rest_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

remove focus override now we no longer use FocusScope
  public/app/plugins/datasource/azuremonitor/components/ResourceField/ResourceField.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, end-to-end-tests-cloud-plugins-suite-azure, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

IAM: Require matching token permission on GlobalRole access policy reads
  pkg/registry/apis/iam/globalrole/inmemory/api_installer.go
  pkg/registry/apis/iam/globalrole/inmemory/api_installer_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Provisioning: folder move should work even on quota (#122832)
  apps/provisioning/pkg/quotas/mock_quota_tracker.go
  apps/provisioning/pkg/quotas/tracker.go
  apps/provisioning/pkg/quotas/tracker_test.go
  pkg/registry/apis/provisioning/jobs/sync/full.go
  pkg/registry/apis/provisioning/jobs/sync/full_hierarchical_test.go
  pkg/registry/apis/provisioning/jobs/sync/incremental.go
  pkg/registry/apis/provisioning/jobs/sync/incremental_test.go
  pkg/tests/apis/provisioning/quota/foldermetadata/helpers_test.go
  pkg/tests/apis/provisioning/quota/foldermetadata/sync_quota_metadata_test.go
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Add try catch
  public/app/core/components/SharedPreferences/SharedPreferencesFunctional.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

add storybook
  packages/grafana-ui/src/components/CodeMirror/CodeEditor.story.tsx
Due: pr-verify-storybook, pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

remove editor from SqlExpr
  public/app/features/expressions/components/SqlExpressions/SqlExpr.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

go.sum: update hashes for GMS, vitess, and schemads fork versions
  go.sum
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

fix lint
  pkg/registry/apis/iam/globalrole/inmemory/rest_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Enhance CodeEditor with accessibility attributes
  packages/grafana-ui/src/components/CodeMirror/CodeEditor.story.tsx
  packages/grafana-ui/src/components/CodeMirror/CodeEditor.test.tsx
  packages/grafana-ui/src/components/CodeMirror/CodeEditor.tsx
Due: pr-verify-storybook, pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

fix: storybook test
  packages/grafana-ui/src/components/CodeMirror/CodeEditor.story.tsx
Due: pr-verify-storybook, pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Chore: fix return type for UPlotScaleBuilder.getConfig (#122069)
  packages/grafana-ui/src/components/uPlot/config/UPlotScaleBuilder.test.ts
  packages/grafana-ui/src/components/uPlot/config/UPlotScaleBuilder.ts
Due: pr-verify-storybook, pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

see if basic theme doesnt fail a11y
  package.json
  packages/grafana-ui/src/components/CodeMirror/CodeEditor.tsx
  yarn.lock
Due: pr-verify-storybook, pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

IAM: Add read-only in-memory GlobalRole API for OSS (#122853)
  pkg/registry/apis/iam/globalrole/inmemory/api_installer.go
  pkg/registry/apis/iam/globalrole/inmemory/api_installer_test.go
  pkg/registry/apis/iam/globalrole/inmemory/models.go
  pkg/registry/apis/iam/globalrole/inmemory/models_test.go
  pkg/registry/apis/iam/globalrole/inmemory/rest.go
  pkg/registry/apis/iam/globalrole/inmemory/rest_test.go
  pkg/registry/apis/wireset.go
  pkg/server/wire_gen.go
  pkg/services/accesscontrol/annotations.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

I18n: Revert "Skip loading en-US translations at runtime in plugins" (#122188)
  packages/grafana-i18n/src/i18n.test.tsx
  packages/grafana-i18n/src/i18n.tsx
  public/app/features/plugins/importer/addTranslationsToI18n.test.ts
  public/app/features/plugins/importer/addTranslationsToI18n.ts
  public/app/features/plugins/loader/pluginLoader.mock.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

docs: fix typos (seperate -> separate, creataed -> created)
  contribute/feature-toggles.md
  contribute/merge-pull-request.md
  docs/sources/setup-grafana/configure-grafana/_index.md
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, pr-docs, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Apply suggestions from code review
  docs/sources/visualizations/dashboards/build-dashboards/create-dashboard/dashboard-groupings.md
Due: pr-docs, main-docs

Replaced filters with scope
  docs/sources/visualizations/dashboards/build-dashboards/create-dashboard/dashboard-groupings.md
Due: pr-docs, main-docs

Alerting: Allow restricting contact point integration types (#118858)
  apps/plugins/go.mod
  apps/plugins/go.sum
  conf/defaults.ini
  conf/sample.ini
  docs/sources/setup-grafana/configure-grafana/_index.md
  eslint-suppressions.json
  pkg/api/alerting.go
  pkg/registry/apps/alerting/notifications/integrationtypeschema/handler.go
  pkg/registry/apps/alerting/notifications/register.go
  pkg/services/ngalert/api/api_provisioning_test.go
  pkg/services/ngalert/ngalert.go
  pkg/services/ngalert/notifier/integration_schemas.go
  pkg/services/ngalert/notifier/receiver_svc.go
  pkg/services/ngalert/notifier/receiver_svc_test.go
  pkg/services/ngalert/notifier/receiver_testing_svc.go
  pkg/services/ngalert/notifier/receiver_testing_svc_test.go
  pkg/services/ngalert/provisioning/contactpoints.go
  pkg/services/ngalert/provisioning/contactpoints_test.go
  pkg/services/provisioning/alerting/contact_point_types.go
  pkg/services/provisioning/provisioning.go
  pkg/setting/setting_unified_alerting.go
  pkg/setting/setting_unified_alerting_test.go
  pkg/tests/apis/alerting/notifications/integrationtypeschema/integrationtypeschema_test.go
  pkg/tests/apis/alerting/notifications/receivers/receiver_test.go
  pkg/tests/testinfra/testinfra.go
  public/app/features/alerting/unified/components/receivers/form/ChannelSubForm.tsx
  public/app/features/alerting/unified/components/receivers/form/GrafanaReceiverForm.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, pr-docs, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease
