Repository grafana/grafana: changes, and which Drone steps are due for each by the changed paths.
All: pr-verify-drone, pr-verify-starlark, pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, trigger-test-release, end-to-end-tests-cloud-plugins-suite-azure, build-storybook, pr-integration-tests, pr-docs, pr-shellcheck, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, store-storybook, main-integration-tests, main-windows, notify-drone-changes, main-trigger-downstream, main-notify

Path conditions:
  pr-verify-drone: any of: scripts/drone/**, .drone.yml, .drone.star, but not: docs/**, *.md
  pr-verify-starlark: any of: scripts/drone/**, .drone.star, but not: docs/**, *.md
  pr-test-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-lint-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-test-backend: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, but not: docs/**, *.md
  pr-lint-backend: any of: pkg/**, packaging/**, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, .bingo/**, but not: docs/**, *.md
  pr-build-e2e: any file but: *.md, docs/**, latest.json
  trigger-test-release: any of: .drone.yml, pkg/build/**
  end-to-end-tests-cloud-plugins-suite-azure: any of: pkg/tsdb/azuremonitor/**, public/app/plugins/datasource/azuremonitor/**, e2e/cloud-plugins-suite/azure-monitor.spec.ts
  build-storybook: any of: packages/grafana-ui/**
  pr-integration-tests: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, but not: docs/**, *.md
  pr-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  pr-shellcheck: any of: scripts/**/*.sh, but not: *.md, docs/**, latest.json
  main-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  main-test-frontend: any file but: *.md, docs/**, latest.json
  main-lint-frontend: any file but: *.md, docs/**, latest.json
  main-test-backend: any file but: *.md, docs/**, latest.json
  main-lint-backend: any file but: *.md, docs/**, latest.json
  main-build-e2e-publish: any file but: *.md, docs/**, latest.json
  store-storybook: any of: packages/grafana-ui/**
  main-integration-tests: any file but: *.md, docs/**, latest.json
  main-windows: any file but: *.md, docs/**, latest.json
  notify-drone-changes: any of: .drone.yml, but not: exclude
  main-trigger-downstream: any file but: *.md, docs/**, latest.json
  main-notify: any file but: *.md, docs/**, latest.json

update wording of comment for removing flame graph check in future
  e2e/smoke-tests-suite/panels_smokescreen.spec.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

run make gen-cue command to fix schema build step
  packages/grafana-schema/src/raw/dashboard/x/dashboard_types.gen.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

make array indexable
  .betterer.results
  packages/grafana-data/src/transformations/transformers/calculateField.ts
  packages/grafana-data/src/transformations/transformers/convertFieldType.ts
  packages/grafana-data/src/vector/AsNumberVector.ts
  packages/grafana-data/src/vector/BinaryOperationVector.test.ts
  packages/grafana-data/src/vector/BinaryOperationVector.ts
  packages/grafana-data/src/vector/CircularVector.test.ts
  packages/grafana-data/src/vector/ConstantVector.test.ts
  packages/grafana-data/src/vector/ConstantVector.ts
  packages/grafana-data/src/vector/FormattedVector.ts
  packages/grafana-data/src/vector/IndexVector.ts
  packages/grafana-data/src/vector/RowVector.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Alerting: Capture refID of rule's condition expression in Loki state history entries (#66419)
  pkg/services/ngalert/state/historian/loki.go
  pkg/services/ngalert/state/historian/loki_test.go
  pkg/services/ngalert/state/historian/model/rule.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Fix wrong PostableAlert
  pkg/services/ngalert/api/tooling/definitions/alertmanager.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Regenerate api
  pkg/services/ngalert/api/tooling/api.json
  pkg/services/ngalert/api/tooling/post.json
  pkg/services/ngalert/api/tooling/spec.json
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Alerting: Use default page size of 5000 when querying Loki for state history (#66315)
  pkg/services/ngalert/state/historian/loki_http.go
  pkg/services/ngalert/state/historian/loki_http_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Annotations: Support filtering the target panels (#66325)
  .betterer.results
  devenv/dev-dashboards/annotations/annotation-filtering.json
  devenv/dev-dashboards/feature-templating/datadata-macros.json
  devenv/dev-dashboards/migrations/migrations.json
  devenv/dev-dashboards/panel-common/shared_queries.json
  devenv/dev-dashboards/panel-table/table_tests_new.json
  devenv/jsonnet/dev-dashboards.libsonnet
  docs/sources/developers/kinds/core/dashboard/schema-reference.md
  e2e/various-suite/filter-annotations.spec.ts
  kinds/dashboard/dashboard_kind.cue
  packages/grafana-data/src/types/annotations.ts
  packages/grafana-data/src/types/datasource.ts
  packages/grafana-e2e-selectors/src/selectors/components.ts
  packages/grafana-e2e-selectors/src/selectors/pages.ts
  packages/grafana-schema/src/index.gen.ts
  packages/grafana-schema/src/raw/dashboard/x/dashboard_types.gen.ts
  packages/grafana-schema/src/veneer/dashboard.types.ts
  pkg/kinds/dashboard/dashboard_types_gen.go
  pkg/services/publicdashboards/service/query.go
  pkg/services/publicdashboards/service/query_test.go
  public/app/features/dashboard/components/AnnotationSettings/AnnotationSettingsEdit.tsx
  public/app/features/dashboard/components/DashboardSettings/AnnotationsSettings.test.tsx
  public/app/features/dashboard/components/SubMenu/AnnotationPicker.tsx
  public/app/features/dashboard/components/SubMenu/Annotations.tsx
  public/app/features/dashboard/state/DashboardMigrator.test.ts
  public/app/features/dashboard/state/DashboardModel.test.ts
  public/app/features/dashboard/state/__fixtures__/dashboardFixtures.ts
  public/app/features/query/state/DashboardQueryRunner/utils.ts
  public/app/plugins/datasource/grafana/datasource.ts
  public/app/plugins/datasource/grafana/types.ts
  public/app/plugins/panel/graph/event_editor.ts
  public/app/plugins/panel/timeseries/plugins/annotations/AnnotationMarker.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, pr-docs, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

merge main
  .yarn/sdks/prettier/package.json
  .yarn/sdks/typescript/lib/tsserver.js
  .yarn/sdks/typescript/lib/tsserverlibrary.js
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

more comments
  packages/grafana-data/src/vector/AppendedVectors.ts
  packages/grafana-data/src/vector/AsNumberVector.ts
  packages/grafana-data/src/vector/BinaryOperationVector.ts
  packages/grafana-data/src/vector/ConstantVector.ts
  packages/grafana-data/src/vector/FormattedVector.ts
  packages/grafana-data/src/vector/IndexVector.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

add sorted test
  packages/grafana-data/src/vector/SortedVector.test.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Update packages/grafana-data/src/types/vector.ts
  packages/grafana-data/src/types/vector.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

FieldValues: Implement array accessors for deprecated Vector types (#66807)
  .betterer.results
  packages/grafana-data/src/transformations/transformers/calculateField.ts
  packages/grafana-data/src/transformations/transformers/convertFieldType.ts
  packages/grafana-data/src/types/vector.ts
  packages/grafana-data/src/vector/AppendedVectors.test.ts
  packages/grafana-data/src/vector/AppendedVectors.ts
  packages/grafana-data/src/vector/AsNumberVector.ts
  packages/grafana-data/src/vector/BinaryOperationVector.test.ts
  packages/grafana-data/src/vector/BinaryOperationVector.ts
  packages/grafana-data/src/vector/CircularVector.test.ts
  packages/grafana-data/src/vector/CircularVector.ts
  packages/grafana-data/src/vector/ConstantVector.test.ts
  packages/grafana-data/src/vector/ConstantVector.ts
  packages/grafana-data/src/vector/FormattedVector.ts
  packages/grafana-data/src/vector/IndexVector.ts
  packages/grafana-data/src/vector/RowVector.ts
  packages/grafana-data/src/vector/SortedVector.test.ts
  packages/grafana-data/src/vector/SortedVector.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

baldm0mma/sql_datasource_update/ update wioth cascadeDisable
  public/app/features/plugins/sql/components/DatasetSelector.tsx
  public/app/features/plugins/sql/components/QueryEditor.tsx
  public/app/features/plugins/sql/components/QueryHeader.tsx
  public/app/features/plugins/sql/components/SqlComponents.test.tsx
  public/app/features/plugins/sql/components/TableSelector.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

fix variable definitions
  public/app/plugins/datasource/graphite/components/GraphiteVariableEditor.tsx
  public/app/plugins/datasource/graphite/components/helpers.ts
  public/app/plugins/datasource/graphite/datasource.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

add watchers
  docs/sources/developers/kinds/core/accesspolicy/schema-reference.md
Due: pr-docs, main-docs

Add optional Name to TestTemplatesErrorResult, improve swagger spec, Kind as enum
  pkg/services/ngalert/api/tooling/definitions/alertmanager.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

add watchers
  pkg/services/k8s/resources/accesspolicy/watcher.go
  pkg/services/k8s/resources/accesspolicy/wire.go
  pkg/services/k8s/resources/folder/watcher.go
  pkg/services/k8s/resources/folder/wire.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

skip
  pkg/services/k8s/resources/dashboard/store_wrapper.go
  pkg/services/k8s/resources/dashboard/utils.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

support ArrayFrame
  packages/grafana-data/src/dataframe/ArrayDataFrame.test.ts
  packages/grafana-data/src/dataframe/ArrayDataFrame.ts
  packages/grafana-data/src/types/vector.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

use raw values not thema values
  pkg/services/k8s/resources/dashboard/dashboard_crd_gen.go
  pkg/services/k8s/resources/dashboard/dashboard_watcher_gen.go
  pkg/services/k8s/resources/dashboard/watcher.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

use unstructured watcher
  pkg/services/k8s/resources/dashboard/dashboard_crd_gen.go
  pkg/services/k8s/resources/dashboard/dashboard_watcher_gen.go
  pkg/services/k8s/resources/dashboard/watcher.go
  pkg/services/k8s/resources/dashboard/wire.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

remove comment section
  pkg/services/k8s/resources/dashboard/store_wrapper.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Variables: Add new format id (#66793)
  packages/grafana-schema/src/common/common.gen.ts
  packages/grafana-schema/src/common/variables.cue
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

better
  pkg/codegen/jenny_crd_watcher.go
  pkg/services/k8s/resources/dashboard/dashboard_watcher_gen.go
  pkg/services/k8s/resources/dashboard/unstructured_watcher.go
  pkg/services/k8s/resources/dashboard/watcher.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

unstructured
  pkg/services/k8s/apiserver/storage.go
  pkg/services/k8s/resources/dashboard/watcher.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

revert datasource change
  pkg/tsdb/postgres/postgres.go
  pkg/tsdb/postgres/postgres_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

updated final version for review
  docs/sources/setup-grafana/installation/docker/index.md
Due: pr-docs, main-docs

fix small line breaks
  docs/sources/setup-grafana/installation/docker/index.md
Due: pr-docs, main-docs

typo fix
  pkg/services/k8s/apiserver/storage.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

fix plural name
  kinds/accesspolicy/access_policy_kind.cue
  pkg/services/k8s/resources/accesspolicy/accesspolicy.crd.yml
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Connections: Simplify connections nav
  pkg/services/navtree/navtreeimpl/navtree.go
  public/app/features/connections/Connections.test.tsx
  public/app/features/connections/Connections.tsx
  public/app/features/connections/__mocks__/store.navIndex.mock.ts
  public/app/features/connections/pages/DataSourcesListPage.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Live: Update Centrifuge to the latest version (#66637)
  go.mod
  go.sum
  pkg/services/live/live.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

rough cut of Role kind
  docs/sources/developers/kinds/core/role/schema-reference.md
  kinds/role/role_kind.cue
  packages/grafana-schema/src/index.gen.ts
  packages/grafana-schema/src/raw/role/x/role_types.gen.ts
  pkg/kinds/role/role_kind_gen.go
  pkg/kinds/role/role_types_gen.go
  pkg/registry/corecrd/registry_gen.go
  pkg/registry/corekind/base_gen.go
  pkg/services/k8s/resources/role/role.crd.yml
  pkg/services/k8s/resources/role/role_crd_gen.go
  pkg/services/k8s/resources/role/role_watcher_gen.go
  pkg/services/k8s/resources/wireset_gen.go
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, pr-docs, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Refactor and clean up
  public/app/features/datasources/components/picker/DataSourceDropdown.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

rough cut of TeamRole kind
  docs/sources/developers/kinds/core/teamrole/schema-reference.md
  kinds/teamrole/teamrole_kind.cue
  packages/grafana-schema/src/index.gen.ts
  packages/grafana-schema/src/raw/teamrole/x/teamrole_types.gen.ts
  pkg/kinds/teamrole/teamrole_kind_gen.go
  pkg/kinds/teamrole/teamrole_types_gen.go
  pkg/registry/corecrd/registry_gen.go
  pkg/registry/corekind/base_gen.go
  pkg/services/k8s/resources/teamrole/teamrole.crd.yml
  pkg/services/k8s/resources/teamrole/teamrole_crd_gen.go
  pkg/services/k8s/resources/teamrole/teamrole_watcher_gen.go
  pkg/services/k8s/resources/wireset_gen.go
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, pr-docs, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

remove context query
  public/app/features/explore/Logs.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

WIP refactors and tests
  devenv/dev-dashboards/panel-datagrid/datagrid_metric_values.json
  devenv/jsonnet/dev-dashboards.libsonnet
  e2e/datagrid-suite/datagrid-data-change.spec.ts
  public/app/plugins/panel/datagrid/DataGridPanel.test.tsx
  public/app/plugins/panel/datagrid/DataGridPanel.tsx
  public/app/plugins/panel/datagrid/components/AddColumn.tsx
  public/app/plugins/panel/datagrid/components/DatagridContextMenu.tsx
  public/app/plugins/panel/datagrid/components/RenameColumnCell.tsx
  public/app/plugins/panel/datagrid/components/SimpleInput.tsx
  public/app/plugins/panel/datagrid/state.ts
  public/app/plugins/panel/datagrid/utils.test.ts
  public/app/plugins/panel/datagrid/utils.ts
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify
