Repository grafana/grafana: changes, and which Drone steps are due for each by the changed paths.
All: pr-verify-drone, pr-verify-starlark, pr-verify-storybook, pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, end-to-end-tests-cloud-plugins-suite-azure, build-storybook, pr-integration-tests, pr-docs, pr-shellcheck, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Path conditions:
  pr-verify-drone: any of: scripts/drone/**, .drone.yml, .drone.star, but not: docs/**, *.md
  pr-verify-starlark: any of: scripts/drone/**, .drone.star, but not: docs/**, *.md
  pr-verify-storybook: any of: packages/grafana-ui/**, but not: docs/**, *.md
  pr-test-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-lint-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-test-backend: any of: Makefile, pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, docs/sources/setup-grafana/configure-grafana/feature-toggles/**, devenv/**, but not: docs/**, *.md
  pr-lint-backend: any of: .golangci.toml, Makefile, pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, .bingo/**, but not: docs/**, *.md
  pr-build-e2e: any file but: *.md, docs/**, latest.json
  end-to-end-tests-cloud-plugins-suite-azure: any of: pkg/tsdb/azuremonitor/**, public/app/plugins/datasource/azuremonitor/**, e2e/cloud-plugins-suite/azure-monitor.spec.ts
  build-storybook: any of: packages/grafana-ui/**
  pr-integration-tests: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, but not: docs/**, *.md
  pr-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  pr-shellcheck: any of: scripts/**/*.sh, but not: *.md, docs/**, latest.json
  main-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  main-test-frontend: any file but: *.md, docs/**, latest.json
  main-lint-frontend: any file but: *.md, docs/**, latest.json
  main-test-backend: any file but: *.md, docs/**, latest.json
  main-lint-backend: any file but: *.md, docs/**, latest.json
  main-verify-storybook: any file but: *.md, docs/**, latest.json
  main-build-e2e-publish: any file but: *.md, docs/**, latest.json
  store-storybook: any of: packages/grafana-ui/**
  release-canary-npm-packages: any of: packages/**
  main-integration-tests: any file but: *.md, docs/**, latest.json
  main-trigger-downstream: any file but: *.md, docs/**, latest.json
  main-notify: any file but: *.md, docs/**, latest.json
  rgm-main-prerelease: any file but: *.md, docs/**, packages/**/*.md, latest.json

IAM: Fix team search for unistore (#115250)
  pkg/registry/apis/iam/team/legacy_search.go
  pkg/registry/apis/iam/team_search.go
  pkg/registry/apis/iam/team_search_test.go
  pkg/storage/unified/search/builders/team_search.go
  pkg/tests/apis/iam/team_search_integration_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

fix go workspace
  go.mod
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

update workspace
  go.mod
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

minor refactoring
  pkg/setting/startup_setting.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

remove settings from apps.go registry
  pkg/registry/apps/apps.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

replace deprecated feature toggle reference with the app settings
  conf/defaults.ini
  pkg/registry/apps/apps.go
  pkg/setting/setting.go
  pkg/setting/setting_app_registry.go
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

rename settings, remove all the traces from default.ini
  conf/defaults.ini
  pkg/registry/apps/apps.go
  pkg/setting/setting.go
  pkg/setting/setting_app_registry.go
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Revert "Plugins: Add PluginInsights UI (#111603)" (#115574)
  eslint-suppressions.json
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.json
  public/app/features/plugins/admin/api.ts
  public/app/features/plugins/admin/components/PluginDetailsPage.test.tsx
  public/app/features/plugins/admin/components/PluginDetailsPage.tsx
  public/app/features/plugins/admin/components/PluginDetailsPanel.test.tsx
  public/app/features/plugins/admin/components/PluginDetailsPanel.tsx
  public/app/features/plugins/admin/components/PluginInsights.test.tsx
  public/app/features/plugins/admin/components/PluginInsights.tsx
  public/app/features/plugins/admin/mocks/catalogPlugin.mock.ts
  public/app/features/plugins/admin/mocks/mockHelpers.ts
  public/app/features/plugins/admin/state/actions.ts
  public/app/features/plugins/admin/state/hooks.ts
  public/app/features/plugins/admin/state/reducer.ts
  public/app/features/plugins/admin/types.ts
  public/locales/en-US/grafana.json
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Refactor test mocks according TESTING.md
  SETUP_ALERTING_DEV.md
  public/app/features/alerting/unified/components/rule-viewer/AlertRuleMenu.test.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, pr-docs, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Remove duplicate mock functions
  public/app/features/alerting/unified/components/rule-viewer/AlertRuleMenu.test.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Replace snapshot test with more readable assertion
  public/app/features/alerting/unified/components/rule-viewer/AlertRuleMenu.test.tsx
  public/app/features/alerting/unified/components/rule-viewer/__snapshots__/AlertRuleMenu.test.tsx.snap
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

refactor: merge access checkers with original fallthrough behavior
  apps/provisioning/pkg/auth/session_access_checker.go
  apps/provisioning/pkg/auth/session_access_checker_test.go
  apps/provisioning/pkg/auth/token_access_checker.go
  apps/provisioning/pkg/auth/token_access_checker_test.go
  apps/provisioning/pkg/auth/unified_access_checker.go
  apps/provisioning/pkg/auth/unified_access_checker_test.go
  pkg/registry/apis/provisioning/register.go
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

[release-12.0.8] Packages: correct types path so validation script passes (#115446)
  scripts/prepare-npm-package.js
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

LibraryPanels: Use getFolders legacy
  pkg/server/wire_gen.go
  pkg/services/libraryelements/database.go
  pkg/services/libraryelements/libraryelements.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

event propogation issues
  packages/grafana-ui/src/components/PanelChrome/PanelChrome.tsx
  public/app/features/dashboard-scene/scene/layouts-shared/CanvasGridAddActions.tsx
Due: pr-verify-storybook, pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Remove SETUP_ALERTING_DEV.md file
  SETUP_ALERTING_DEV.md
Due: pr-docs, main-docs

Added dashboard layouts section
  docs/sources/visualizations/dashboards/build-dashboards/create-dashboard/index.md
Due: pr-docs, main-docs

Alerting: Fix receiver_name and has_prometheus_definition filters with compact=true
  pkg/services/ngalert/api/api_prometheus_test.go
  pkg/services/ngalert/store/alert_rule.go
  pkg/services/ngalert/store/compat.go
  pkg/services/ngalert/store/compat_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Action items width
  public/app/features/dashboard-scene/scene/layouts-shared/CanvasGridAddActions.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Fix dashboard service test type mismatch and lint errors
  pkg/services/dashboards/service/dashboard_service_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

chore: a drop-in replacement for FeatureToggles.IsEnabledGlobally in app settings (#113449)
  pkg/registry/apps/apps.go
  pkg/setting/setting.go
  pkg/setting/startup_setting.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Update migration testdata to fix template variable datasource references
  apps/dashboard/pkg/migration/conversion/testdata/migrated_dashboards_output/v1beta1-mig-v11.no-op-migration.v42.v2alpha1.json
  apps/dashboard/pkg/migration/conversion/testdata/migrated_dashboards_output/v1beta1-mig-v11.no-op-migration.v42.v2beta1.json
  apps/dashboard/pkg/migration/conversion/testdata/migrated_dashboards_output/v1beta1-mig-v14.shared_crosshair_to_graph_tooltip.v42.v2alpha1.json
  apps/dashboard/pkg/migration/conversion/testdata/migrated_dashboards_output/v1beta1-mig-v14.shared_crosshair_to_graph_tooltip.v42.v2beta1.json
  apps/dashboard/pkg/migration/conversion/testdata/migrated_dashboards_output/v1beta1-mig-v2.panels-and-services.v42.v2alpha1.json
  apps/dashboard/pkg/migration/conversion/testdata/migrated_dashboards_output/v1beta1-mig-v2.panels-and-services.v42.v2beta1.json
  apps/dashboard/pkg/migration/conversion/testdata/migrated_dashboards_output/v1beta1-mig-v23.multi_variable_alignment.v42.v2alpha1.json
  apps/dashboard/pkg/migration/conversion/testdata/migrated_dashboards_output/v1beta1-mig-v23.multi_variable_alignment.v42.v2beta1.json
  apps/dashboard/pkg/migration/conversion/testdata/migrated_dashboards_output/v1beta1-mig-v25.no-op-migration.v42.v2alpha1.json
  apps/dashboard/pkg/migration/conversion/testdata/migrated_dashboards_output/v1beta1-mig-v25.no-op-migration.v42.v2beta1.json
  apps/dashboard/pkg/migration/conversion/testdata/migrated_dashboards_output/v1beta1-mig-v28.remove_variable_properties.v42.v2alpha1.json
  apps/dashboard/pkg/migration/conversion/testdata/migrated_dashboards_output/v1beta1-mig-v28.remove_variable_properties.v42.v2beta1.json
  apps/dashboard/pkg/migration/conversion/testdata/migrated_dashboards_output/v1beta1-mig-v28.singlestat_and_variable_properties.v42.v2alpha1.json
  apps/dashboard/pkg/migration/conversion/testdata/migrated_dashboards_output/v1beta1-mig-v28.singlestat_and_variable_properties.v42.v2beta1.json
  apps/dashboard/pkg/migration/conversion/testdata/migrated_dashboards_output/v1beta1-mig-v29.query_variables_refresh_and_options.v42.v2alpha1.json
  apps/dashboard/pkg/migration/conversion/testdata/migrated_dashboards_output/v1beta1-mig-v29.query_variables_refresh_and_options.v42.v2beta1.json
  apps/dashboard/pkg/migration/conversion/testdata/migrated_dashboards_output/v1beta1-mig-v32.no_op_migration.v42.v2alpha1.json
  apps/dashboard/pkg/migration/conversion/testdata/migrated_dashboards_output/v1beta1-mig-v32.no_op_migration.v42.v2beta1.json
  apps/dashboard/pkg/migration/conversion/testdata/migrated_dashboards_output/v1beta1-mig-v6.pulldowns_and_templating.v42.v2alpha1.json
  apps/dashboard/pkg/migration/conversion/testdata/migrated_dashboards_output/v1beta1-mig-v6.pulldowns_and_templating.v42.v2beta1.json
  apps/dashboard/pkg/migration/conversion/testdata/output/migrated_dev_dashboards/datasource-influxdb/v0alpha1.influxdb-templated.v42.v2alpha1.json
  apps/dashboard/pkg/migration/conversion/testdata/output/migrated_dev_dashboards/datasource-influxdb/v0alpha1.influxdb-templated.v42.v2beta1.json
  apps/dashboard/pkg/migration/conversion/testdata/output/migrated_dev_dashboards/datasource-mssql/v0alpha1.mssql_fakedata.v42.v2alpha1.json
  apps/dashboard/pkg/migration/conversion/testdata/output/migrated_dev_dashboards/datasource-mssql/v0alpha1.mssql_fakedata.v42.v2beta1.json
  apps/dashboard/pkg/migration/conversion/testdata/output/migrated_dev_dashboards/datasource-mssql/v0alpha1.mssql_unittest.v42.v2alpha1.json
  apps/dashboard/pkg/migration/conversion/testdata/output/migrated_dev_dashboards/datasource-mssql/v0alpha1.mssql_unittest.v42.v2beta1.json
  apps/dashboard/pkg/migration/conversion/testdata/output/migrated_dev_dashboards/datasource-mysql/v0alpha1.mysql_fakedata.v42.v2alpha1.json
  apps/dashboard/pkg/migration/conversion/testdata/output/migrated_dev_dashboards/datasource-mysql/v0alpha1.mysql_fakedata.v42.v2beta1.json
  apps/dashboard/pkg/migration/conversion/testdata/output/migrated_dev_dashboards/datasource-mysql/v0alpha1.mysql_unittest.v42.v2alpha1.json
  apps/dashboard/pkg/migration/conversion/testdata/output/migrated_dev_dashboards/datasource-mysql/v0alpha1.mysql_unittest.v42.v2beta1.json
  apps/dashboard/pkg/migration/conversion/testdata/output/migrated_dev_dashboards/datasource-postgres/v0alpha1.postgres_fakedata.v42.v2alpha1.json
  apps/dashboard/pkg/migration/conversion/testdata/output/migrated_dev_dashboards/datasource-postgres/v0alpha1.postgres_fakedata.v42.v2beta1.json
  apps/dashboard/pkg/migration/conversion/testdata/output/migrated_dev_dashboards/datasource-postgres/v0alpha1.postgres_unittest.v42.v2alpha1.json
  apps/dashboard/pkg/migration/conversion/testdata/output/migrated_dev_dashboards/datasource-postgres/v0alpha1.postgres_unittest.v42.v2beta1.json
  apps/dashboard/pkg/migration/conversion/v0alpha1_to_v1beta1.go
  apps/dashboard/pkg/migration/conversion/v1beta1_to_v2alpha1.go
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

update
  apps/dashboard/pkg/migration/conversion/testdata/migrated_dashboards_output/v1beta1-mig-v15.mimir_rollout_debugging.v42.v0alpha1.json
  apps/dashboard/pkg/migration/testdata/input/v15.mimir_rollout_debugging.json
  apps/dashboard/pkg/migration/testdata/output/latest_version/v15.mimir_rollout_debugging.v42.json
  apps/dashboard/pkg/migration/testdata/output/single_version/v15.mimir_rollout_debugging.v15.json
  public/app/features/dashboard-scene/utils/variables.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

bump scenes
  package.json
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

yarn lock
  yarn.lock
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Rudderstack: Add new config option for rudderstack v3 url (#115374)
  conf/defaults.ini
  conf/sample.ini
  docs/sources/setup-grafana/configure-grafana/_index.md
  packages/grafana-data/src/types/config.ts
  packages/grafana-runtime/src/config.ts
  pkg/api/dtos/frontend_settings.go
  pkg/api/frontendsettings.go
  pkg/services/frontend/frontend_settings.go
  pkg/services/frontend/index.go
  pkg/setting/setting.go
  public/app/core/services/echo/init.ts
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, pr-docs, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Dashboards: AdHoc and GroupBy wrapper (#115124)
  package.json
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.go
  pkg/services/featuremgmt/toggles_gen.json
  public/app/features/dashboard-scene/scene/DashboardControls.tsx
  public/app/features/dashboard-scene/scene/DrilldownControls.tsx
  public/app/features/dashboard-scene/scene/VariableControls.tsx
  public/app/features/dashboard-scene/serialization/transformSaveModelSchemaV2ToScene.ts
  public/app/features/dashboard-scene/utils/variables.ts
  yarn.lock
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Add additional test coverage for scale editor
  public/app/plugins/panel/heatmap/YBucketScaleEditor.test.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Fix series naming convention
  pkg/tsdb/graphite/healthcheck.go
  pkg/tsdb/graphite/query.go
  pkg/tsdb/graphite/query_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Gate behind feature toggles
  public/app/features/dashboard-scene/settings/variables/VariableEditorForm.tsx
  public/app/features/dashboard-scene/settings/variables/components/CustomVariableForm.test.tsx
  public/app/features/dashboard-scene/settings/variables/components/CustomVariableForm.tsx
  public/app/features/dashboard-scene/settings/variables/components/QueryVariableForm.tsx
  public/app/features/dashboard-scene/settings/variables/components/VariableValuesPreview.tsx
  public/app/features/dashboard-scene/settings/variables/editors/CustomVariableEditor/CustomVariableEditor.test.tsx
  public/app/features/dashboard-scene/settings/variables/editors/CustomVariableEditor/CustomVariableEditor.tsx
  public/app/features/dashboard-scene/settings/variables/editors/CustomVariableEditor/ModalEditor.tsx
  public/app/features/dashboard-scene/settings/variables/editors/CustomVariableEditor/ModalEditorNonMultiProps.tsx
  public/app/features/dashboard-scene/settings/variables/editors/QueryVariableEditor.tsx
  public/app/features/dashboard-scene/settings/variables/useVariableSelectionOptionsCategory.tsx
  public/app/features/dashboard-scene/utils/variables.test.ts
  public/app/features/panel/panellinks/link_srv.ts
  public/app/features/panel/panellinks/specs/link_srv.test.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

add resizer
  public/app/features/expressions/components/SqlExpressions/SqlExpr.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Revert "chore: a drop-in replacement for FeatureToggles.IsEnabledGlobally in app settings (#113449)"
  pkg/registry/apps/apps.go
  pkg/setting/setting.go
  pkg/setting/startup_setting.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Change FeatureToggles.IsEnabledGlobally deprecation message
  pkg/services/featuremgmt/models.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

switch to flex
  public/app/features/expressions/components/SqlExpressions/SqlExpr.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Fix build issues
  apps/dashboard/pkg/apis/dashboard_manifest.go
  public/app/features/dashboard-scene/settings/variables/editors/CustomVariableEditor/CustomVariableEditor.test.tsx
  public/locales/en-US/grafana.json
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Revert "refactor: merge access checkers with original fallthrough behavior"
  apps/provisioning/pkg/auth/session_access_checker.go
  apps/provisioning/pkg/auth/session_access_checker_test.go
  apps/provisioning/pkg/auth/token_access_checker.go
  apps/provisioning/pkg/auth/token_access_checker_test.go
  apps/provisioning/pkg/auth/unified_access_checker.go
  apps/provisioning/pkg/auth/unified_access_checker_test.go
  pkg/registry/apis/provisioning/register.go
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

switch back to grid
  public/app/features/expressions/components/SqlExpressions/SqlExpr.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

fix api doc
  pkg/tests/apis/openapi_snapshots/dashboard.grafana.app-v0alpha1.json
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

try this
  public/app/features/expressions/components/SqlExpressions/SqlExpr.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease
