Repository grafana/grafana: changes, and which Drone steps are due for each by the changed paths.
All: pr-verify-drone, pr-verify-starlark, pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, trigger-test-release, end-to-end-tests-cloud-plugins-suite-azure, build-storybook, pr-integration-tests, pr-docs, pr-shellcheck, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, store-storybook, main-integration-tests, main-windows, notify-drone-changes, main-trigger-downstream, main-notify

pr-verify-drone:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.17.1
    name: identify-runner
  - commands:
    - go build -o ./bin/build -ldflags '-extldflags -static' ./pkg/build/cmd
    depends_on: []
    environment:
      CGO_ENABLED: 0
    image: golang:1.20.1
    name: compile-build-cmd
  - commands:
  ...

pr-verify-starlark:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.17.1
    name: identify-runner
  - commands:
    - go build -o ./bin/build -ldflags '-extldflags -static' ./pkg/build/cmd
    depends_on: []
    environment:
      CGO_ENABLED: 0
    image: golang:1.20.1
    name: compile-build-cmd
  - commands:
  ...

pr-test-frontend:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.17.1
    name: identify-runner
  - commands:
    - mkdir -p bin
    - curl -fL -o bin/grabpl https://grafana-downloads.storage.googleapis.com/grafana-build-pipeline/v3.0.30/grabpl
    - chmod +x bin/grabpl
    image: byrnedo/alpine-curl:0.1.8
  ...

pr-lint-frontend:
  steps:
  - commands:
    - is_fork=$(curl "https://$GITHUB_TOKEN@api.github.com/repos/grafana/grafana/pulls/$DRONE_PULL_REQUEST" | jq .head.repo.fork)
    - if [ "$is_fork" != false ]; then return 1; fi
  ...

pr-test-backend:
  steps:
  - commands:
    - is_fork=$(curl "https://$GITHUB_TOKEN@api.github.com/repos/grafana/grafana/pulls/$DRONE_PULL_REQUEST" | jq .head.repo.fork)
    - if [ "$is_fork" != false ]; then return 1; fi
  ...

pr-lint-backend:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.17.1
    name: identify-runner
  - commands:
    - go build -o ./bin/build -ldflags '-extldflags -static' ./pkg/build/cmd
    depends_on: []
    environment:
      CGO_ENABLED: 0
    image: golang:1.20.1
    name: compile-build-cmd
  - commands:
  ...

pr-build-e2e:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.17.1
    name: identify-runner
  - commands:
    - mkdir -p bin
    - curl -fL -o bin/grabpl https://grafana-downloads.storage.googleapis.com/grafana-build-pipeline/v3.0.30/grabpl
    - chmod +x bin/grabpl
    image: byrnedo/alpine-curl:0.1.8
  ...

trigger-test-release:
  commands:
  - git clone "https://$${GITHUB_TOKEN}@github.com/grafana/grafana-enterprise.git" --depth=1
  - cd grafana-enterprise
  - git fetch origin "refs/tags/*:refs/tags/*" --quiet
  - if git show-ref --tags $${TEST_TAG} --quiet; then git tag -d $${TEST_TAG} && git push --delete origin $${TEST_TAG}; fi
  ...

end-to-end-tests-cloud-plugins-suite-azure:
  commands:
  - cd /
  - ./cpp-e2e/scripts/ci-run.sh azure ${DRONE_SOURCE_BRANCH}
  depends_on:
  - grafana-server
  environment:
    AZURE_SP_APP_ID:
      from_secret: azure_sp_app_id
    AZURE_SP_PASSWORD:
      from_secret: azure_sp_app_pw
    AZURE_TENANT:
      from_secret: azure_tenant
    CYPRESS_CI: 'true'
  ...

notify-drone-changes:
  steps:
  - image: plugins/slack
    name: slack
    settings:
      channel: slack-webhooks-test
  ...

Chore: Migrate `gf-form` classes to emotion globals (#91632)
  .betterer.results
  packages/grafana-ui/src/themes/GlobalStyles/forms.ts
  public/sass/_angular.scss
  public/sass/_grafana.scss
  public/sass/components/_gf-form.scss
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, store-storybook, main-integration-tests, main-windows, main-trigger-downstream, main-notify

fix height problems
  public/app/features/dashboard-scene/scene/DashboardGridItem.tsx
  public/app/features/dashboard-scene/serialization/transformSceneToSaveModel.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

key fragment
  public/app/features/alerting/unified/components/notification-policies/Policy.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Chore: Migrate `dashboard_grid` styles to emotion (#91673)
  packages/grafana-ui/src/themes/GlobalStyles/GlobalStyles.tsx
  packages/grafana-ui/src/themes/GlobalStyles/dashboardGrid.ts
  public/app/features/dashboard/containers/DashboardPage.tsx
  public/sass/_grafana.scss
  public/sass/components/_dashboard_grid.scss
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, store-storybook, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Prometheus: Add support to make parallel queries (#90316)
  go.work.sum
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/promlib/go.mod
  pkg/promlib/go.sum
  pkg/promlib/querydata/request.go
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.go
  pkg/services/featuremgmt/toggles_gen.json
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

changed wording
  docs/sources/tutorials/alerting-get-started/index.md
Due: pr-docs, main-docs

Benchmark with variable and a panel
  devenv/dev-dashboards/benchmark/bench-query-variable-single-panel.json
  devenv/jsonnet/dev-dashboards.libsonnet
  e2e/scenes/benchmarks/dashboard-rendering-benchmark.spec.ts
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Sparkline: Support spanNulls graph config prop (#91797)
  packages/grafana-ui/src/components/Sparkline/Sparkline.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, store-storybook, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Tempo: Tidy up and organise (#90649)
  public/app/plugins/datasource/tempo/SearchTraceQLEditor/GroupByField.test.tsx
  public/app/plugins/datasource/tempo/SearchTraceQLEditor/SearchField.test.tsx
  public/app/plugins/datasource/tempo/SearchTraceQLEditor/TagsInput.test.tsx
  public/app/plugins/datasource/tempo/SearchTraceQLEditor/TraceQLSearch.test.tsx
  public/app/plugins/datasource/tempo/VariableQueryEditor.test.tsx
  public/app/plugins/datasource/tempo/datasource.test.ts
  public/app/plugins/datasource/tempo/datasource.ts
  public/app/plugins/datasource/tempo/graphTransform.test.ts
  public/app/plugins/datasource/tempo/resultTransformer.test.ts
  public/app/plugins/datasource/tempo/test/mockJsonResponse.json
  public/app/plugins/datasource/tempo/test/mockServiceGraph.json
  public/app/plugins/datasource/tempo/test/mocks.ts
  public/app/plugins/datasource/tempo/test/testResponse.ts
  public/app/plugins/datasource/tempo/test/test_utils.ts
  public/app/plugins/datasource/tempo/variables.test.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Tempo: Simplify span filters logic and fix regex for tag only search (#90819)
  public/app/features/explore/TraceView/components/utils/filter-spans.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Cloud migrations: GetSnapshotList only returns snapshots that belong to a session that exists
  pkg/services/cloudmigration/cloudmigrationimpl/xorm_store.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Vendoring
  go.mod
  go.sum
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Bookmarks: Create Bookmarks landing page (#91538)
  public/app/core/components/AppChrome/MegaMenu/utils.ts
  public/app/core/components/Bookmarks/BookmarksPage.tsx
  public/app/routes/routes.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Cloud migrations: test GetSnapshotList
  pkg/services/cloudmigration/cloudmigrationimpl/xorm_store_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

change the gap and remove report abuse button from core plugins
  public/app/features/plugins/admin/components/PluginDetailsRightPanel.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Extensions: e2e test usePluginComponent hook (#91750)
  devenv/plugins.yaml
  e2e/custom-plugins/app-with-exposed-components/README.md
  e2e/custom-plugins/app-with-exposed-components/img/logo.svg
  e2e/custom-plugins/app-with-exposed-components/module.js
  e2e/custom-plugins/app-with-exposed-components/plugin.json
  e2e/custom-plugins/app-with-exposed-components/plugins/myorg-componentexposer-app/img/logo.svg
  e2e/custom-plugins/app-with-exposed-components/plugins/myorg-componentexposer-app/module.js
  e2e/custom-plugins/app-with-exposed-components/plugins/myorg-componentexposer-app/plugin.json
  e2e/custom-plugins/app-with-extension-point/plugins/myorg-b-app/plugin.json
  e2e/plugin-e2e/plugin-e2e-api-tests/as-admin-user/extensions/extensionPoints.spec.ts
  e2e/plugin-e2e/plugin-e2e-api-tests/as-admin-user/extensions/extensions.spec.ts
  e2e/plugin-e2e/plugin-e2e-api-tests/as-admin-user/extensions/useExposedComponent.spec.ts
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Handle dag cycle error
  public/app/features/alerting/unified/components/rule-editor/query-and-alert-condition/reducer.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

pkg/tsdb/parca: Don't use arrow table reader
  go.sum
  pkg/tsdb/parca/query.go
  pkg/tsdb/parca/query_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

updates from prettier
  docs/sources/datasources/tempo/configure-tempo-data-source.md
Due: pr-docs, main-docs

add one more test case for GetSnapshotList
  pkg/services/cloudmigration/cloudmigrationimpl/xorm_store_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

check if installed
  pkg/services/pluginsintegration/plugininstaller/service.go
  pkg/services/pluginsintegration/plugininstaller/service_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Add todo comments
  pkg/services/authn/clients/passwordless.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Update docs/sources/tutorials/alerting-get-started/index.md
  docs/sources/tutorials/alerting-get-started/index.md
Due: pr-docs, main-docs

applied suggestions
  docs/sources/tutorials/grafana-fundamentals/index.md
Due: pr-docs, main-docs

Added max logo size
  docs/sources/dashboards/create-reports/index.md
Due: pr-docs, main-docs

fix test
  pkg/services/cloudmigration/cloudmigrationimpl/xorm_store_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Alerting: Vendor in latest grafana/alerting package (#91786)
  go.mod
  go.sum
  pkg/services/ngalert/api/api_alertmanager.go
  pkg/services/ngalert/api/api_alertmanager_test.go
  pkg/services/ngalert/notifier/alertmanager_mock/Alertmanager.go
  pkg/services/ngalert/notifier/legacy_storage/persist_mock.go
  pkg/services/ngalert/notifier/multiorg_alertmanager.go
  pkg/services/ngalert/notifier/testreceivers.go
  pkg/services/ngalert/remote/alertmanager.go
  pkg/services/ngalert/remote/forked_alertmanager_test.go
  pkg/services/ngalert/remote/mock/remoteAlertmanager.go
  pkg/services/ngalert/remote/remote_primary_forked_alertmanager.go
  pkg/services/ngalert/remote/remote_secondary_forked_alertmanager.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Remote typedID struct
  pkg/api/admin_users.go
  pkg/api/org_users.go
  pkg/api/user.go
  pkg/api/user_test.go
  pkg/apimachinery/identity/requester.go
  pkg/apimachinery/identity/static.go
  pkg/apimachinery/identity/typed_id.go
  pkg/registry/apis/dashboard/legacy/sql_dashboards.go
  pkg/registry/apis/dashboard/sub_dto.go
  pkg/services/accesscontrol/accesscontrol.go
  pkg/services/accesscontrol/middleware.go
  pkg/services/anonymous/anonimpl/client_test.go
  pkg/services/auth/idimpl/service.go
  pkg/services/authn/authnimpl/service.go
  pkg/services/authn/authnimpl/service_test.go
  pkg/services/authn/authnimpl/sync/oauth_token_sync.go
  pkg/services/authn/identity.go
  pkg/services/contexthandler/contexthandler.go
  pkg/services/dashboards/database/database.go
  pkg/services/folder/folderimpl/sqlstore.go
  pkg/services/live/live.go
  pkg/services/ngalert/api/api_ruler.go
  pkg/services/team/teamapi/team.go
  pkg/services/user/identity.go
  pkg/storage/unified/resource/grpc/authenticator.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Refactor identity struct to store type in seperate field
  pkg/api/common_test.go
  pkg/api/login_test.go
  pkg/api/org_test.go
  pkg/apimachinery/identity/typed_id.go
  pkg/middleware/auth_test.go
  pkg/middleware/quota_test.go
  pkg/services/accesscontrol/authorize_in_org_test.go
  pkg/services/anonymous/anonimpl/client.go
  pkg/services/anonymous/anonimpl/client_test.go
  pkg/services/auth/idimpl/service_test.go
  pkg/services/authn/authnimpl/service.go
  pkg/services/authn/authnimpl/service_test.go
  pkg/services/authn/authnimpl/sync/oauth_token_sync.go
  pkg/services/authn/authnimpl/sync/oauth_token_sync_test.go
  pkg/services/authn/authnimpl/sync/org_sync.go
  pkg/services/authn/authnimpl/sync/org_sync_test.go
  pkg/services/authn/authnimpl/sync/rbac_sync.go
  pkg/services/authn/authnimpl/sync/rbac_sync_test.go
  pkg/services/authn/authnimpl/sync/user_sync.go
  pkg/services/authn/authnimpl/sync/user_sync_test.go
  pkg/services/authn/clients/api_key.go
  pkg/services/authn/clients/api_key_test.go
  pkg/services/authn/clients/basic_test.go
  pkg/services/authn/clients/ext_jwt.go
  pkg/services/authn/clients/ext_jwt_test.go
  pkg/services/authn/clients/grafana.go
  pkg/services/authn/clients/grafana_test.go
  pkg/services/authn/clients/oauth_test.go
  pkg/services/authn/clients/password_test.go
  pkg/services/authn/clients/proxy.go
  pkg/services/authn/clients/proxy_test.go
  pkg/services/authn/clients/render.go
  pkg/services/authn/clients/render_test.go
  pkg/services/authn/clients/session.go
  pkg/services/authn/clients/session_test.go
  pkg/services/authn/identity.go
  pkg/services/contexthandler/contexthandler_test.go
  pkg/services/oauthtoken/oauth_token_test.go
  pkg/services/user/userimpl/verifier.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Use IsIdentityTypeFrom claims package
  pkg/api/dashboard.go
  pkg/api/folder.go
  pkg/api/index.go
  pkg/api/org.go
  pkg/api/user.go
  pkg/api/user_token.go
  pkg/apimachinery/identity/typed_id.go
  pkg/services/accesscontrol/acimpl/service.go
  pkg/services/auth/idimpl/service.go
  pkg/services/contexthandler/contexthandler.go
  pkg/services/dashboards/service/dashboard_service.go
  pkg/services/dashboardsnapshots/database/database.go
  pkg/services/oauthtoken/oauth_token.go
  pkg/services/pluginsintegration/clientmiddleware/user_header_middleware.go
  pkg/services/serviceaccounts/api/api.go
  pkg/util/proxyutil/proxyutil.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Remove useage of TypedID
  pkg/services/accesscontrol/accesscontrol.go
  pkg/services/accesscontrol/acimpl/service.go
  pkg/services/accesscontrol/api/api.go
  pkg/services/accesscontrol/database/database.go
  pkg/services/authn/clients/ext_jwt.go
  pkg/services/authz/server.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Add IsIdentityType to requester interface
  pkg/apimachinery/identity/requester.go
  pkg/apimachinery/identity/static.go
  pkg/services/authn/identity.go
  pkg/services/user/identity.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Remove unused functions
  pkg/apimachinery/identity/typed_id.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Remove usage of TypedID
  pkg/services/authn/authnimpl/service.go
  pkg/services/authn/clients/ext_jwt.go
  pkg/storage/unified/resource/grpc/authenticator.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Fix check
  pkg/services/contexthandler/contexthandler.go
  pkg/services/user/identity.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Use IsIdentityType from interface
  pkg/api/admin_users.go
  pkg/api/dashboard.go
  pkg/api/folder.go
  pkg/api/index.go
  pkg/api/org.go
  pkg/api/user.go
  pkg/api/user_token.go
  pkg/apimachinery/identity/requester.go
  pkg/services/accesscontrol/acimpl/service.go
  pkg/services/auth/idimpl/service.go
  pkg/services/authn/authnimpl/service.go
  pkg/services/authn/authnimpl/sync/oauth_token_sync.go
  pkg/services/authn/authnimpl/sync/org_sync.go
  pkg/services/authn/authnimpl/sync/rbac_sync.go
  pkg/services/authn/authnimpl/sync/user_sync.go
  pkg/services/authn/clients/api_key.go
  pkg/services/authn/clients/proxy.go
  pkg/services/authn/identity.go
  pkg/services/contexthandler/contexthandler.go
  pkg/services/dashboards/service/dashboard_service.go
  pkg/services/dashboardsnapshots/database/database.go
  pkg/services/oauthtoken/oauth_token.go
  pkg/services/pluginsintegration/clientmiddleware/user_header_middleware.go
  pkg/services/serviceaccounts/api/api.go
  pkg/services/user/identity.go
  pkg/util/proxyutil/proxyutil.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Update ResolveIdentity to take string representation of typedID
  pkg/api/org_users.go
  pkg/services/accesscontrol/accesscontrol.go
  pkg/services/accesscontrol/middleware.go
  pkg/services/anonymous/anonimpl/client.go
  pkg/services/anonymous/anonimpl/client_test.go
  pkg/services/authn/authn.go
  pkg/services/authn/authnimpl/service.go
  pkg/services/authn/authnimpl/service_test.go
  pkg/services/authn/authntest/fake.go
  pkg/services/authn/authntest/mock.go
  pkg/services/authn/clients/api_key.go
  pkg/services/authn/clients/api_key_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Initial impl
  pkg/services/ngalert/remote/alertmanager.go
  pkg/services/ngalert/remote/client/mimir.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Chore: Add skeleton for background plugin installer (#91743)
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/registry/backgroundsvcs/background_services.go
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.go
  pkg/services/featuremgmt/toggles_gen.json
  pkg/services/pluginsintegration/plugininstaller/service.go
  pkg/services/pluginsintegration/plugininstaller/service_test.go
  pkg/services/pluginsintegration/pluginsintegration.go
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, pr-docs, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Add code to test templates and receivers
  pkg/services/ngalert/notifier/templates.go
  pkg/services/ngalert/remote/alertmanager.go
  pkg/services/ngalert/remote/client/mimir.go
  pkg/services/ngalert/remote/remote_primary_forked_alertmanager.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Path conditions:
  pr-verify-drone: any of: scripts/drone/**, .drone.yml, .drone.star, but not: docs/**, *.md
  pr-verify-starlark: any of: scripts/drone/**, .drone.star, but not: docs/**, *.md
  pr-test-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-lint-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-test-backend: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, but not: docs/**, *.md
  pr-lint-backend: any of: pkg/**, packaging/**, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, .bingo/**, but not: docs/**, *.md
  pr-build-e2e: any file but: *.md, docs/**, latest.json
  trigger-test-release: any of: .drone.yml, pkg/build/**
  end-to-end-tests-cloud-plugins-suite-azure: any of: pkg/tsdb/azuremonitor/**, public/app/plugins/datasource/azuremonitor/**, e2e/cloud-plugins-suite/azure-monitor.spec.ts
  build-storybook: any of: packages/grafana-ui/**
  pr-integration-tests: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, but not: docs/**, *.md
  pr-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  pr-shellcheck: any of: scripts/**/*.sh, but not: *.md, docs/**, latest.json
  main-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  main-test-frontend: any file but: *.md, docs/**, latest.json
  main-lint-frontend: any file but: *.md, docs/**, latest.json
  main-test-backend: any file but: *.md, docs/**, latest.json
  main-lint-backend: any file but: *.md, docs/**, latest.json
  main-build-e2e-publish: any file but: *.md, docs/**, latest.json
  store-storybook: any of: packages/grafana-ui/**
  main-integration-tests: any file but: *.md, docs/**, latest.json
  main-windows: any file but: *.md, docs/**, latest.json
  notify-drone-changes: any of: .drone.yml, but not: exclude
  main-trigger-downstream: any file but: *.md, docs/**, latest.json
  main-notify: any file but: *.md, docs/**, latest.json
