Repository grafana/grafana: changes, and which Drone steps are due for each by the changed paths.
All: pr-verify-drone, pr-verify-starlark, pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, trigger-test-release, end-to-end-tests-cloud-plugins-suite-azure, build-storybook, pr-integration-tests, pr-docs, pr-shellcheck, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, store-storybook, main-integration-tests, main-windows, notify-drone-changes, main-trigger-downstream, main-notify

pr-verify-drone:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.17.1
    name: identify-runner
  - commands:
    - go build -o ./bin/build -ldflags '-extldflags -static' ./pkg/build/cmd
    depends_on: []
    environment:
      CGO_ENABLED: 0
    image: golang:1.20.1
    name: compile-build-cmd
  - commands:
  ...

pr-verify-starlark:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.17.1
    name: identify-runner
  - commands:
    - go build -o ./bin/build -ldflags '-extldflags -static' ./pkg/build/cmd
    depends_on: []
    environment:
      CGO_ENABLED: 0
    image: golang:1.20.1
    name: compile-build-cmd
  - commands:
  ...

pr-test-frontend:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.17.1
    name: identify-runner
  - commands:
    - mkdir -p bin
    - curl -fL -o bin/grabpl https://grafana-downloads.storage.googleapis.com/grafana-build-pipeline/v3.0.30/grabpl
    - chmod +x bin/grabpl
    image: byrnedo/alpine-curl:0.1.8
  ...

pr-lint-frontend:
  steps:
  - commands:
    - is_fork=$(curl "https://$GITHUB_TOKEN@api.github.com/repos/grafana/grafana/pulls/$DRONE_PULL_REQUEST" | jq .head.repo.fork)
    - if [ "$is_fork" != false ]; then return 1; fi
  ...

pr-test-backend:
  steps:
  - commands:
    - is_fork=$(curl "https://$GITHUB_TOKEN@api.github.com/repos/grafana/grafana/pulls/$DRONE_PULL_REQUEST" | jq .head.repo.fork)
    - if [ "$is_fork" != false ]; then return 1; fi
  ...

pr-lint-backend:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.17.1
    name: identify-runner
  - commands:
    - go build -o ./bin/build -ldflags '-extldflags -static' ./pkg/build/cmd
    depends_on: []
    environment:
      CGO_ENABLED: 0
    image: golang:1.20.1
    name: compile-build-cmd
  - commands:
  ...

pr-build-e2e:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.17.1
    name: identify-runner
  - commands:
    - mkdir -p bin
    - curl -fL -o bin/grabpl https://grafana-downloads.storage.googleapis.com/grafana-build-pipeline/v3.0.30/grabpl
    - chmod +x bin/grabpl
    image: byrnedo/alpine-curl:0.1.8
  ...

trigger-test-release:
  commands:
  - git clone "https://$${GITHUB_TOKEN}@github.com/grafana/grafana-enterprise.git" --depth=1
  - cd grafana-enterprise
  - git fetch origin "refs/tags/*:refs/tags/*" --quiet
  - if git show-ref --tags $${TEST_TAG} --quiet; then git tag -d $${TEST_TAG} && git push --delete origin $${TEST_TAG}; fi
  ...

end-to-end-tests-cloud-plugins-suite-azure:
  commands:
  - cd /
  - ./cpp-e2e/scripts/ci-run.sh azure ${DRONE_SOURCE_BRANCH}
  depends_on:
  - grafana-server
  environment:
    AZURE_SP_APP_ID:
      from_secret: azure_sp_app_id
    AZURE_SP_PASSWORD:
      from_secret: azure_sp_app_pw
    AZURE_TENANT:
      from_secret: azure_tenant
    CYPRESS_CI: 'true'
  ...

notify-drone-changes:
  steps:
  - image: plugins/slack
    name: slack
    settings:
      channel: slack-webhooks-test
  ...

Google Cloud Monitoring: Fix project variable (#66524)
  pkg/tsdb/cloudmonitoring/cloudmonitoring.go
  public/app/plugins/datasource/cloud-monitoring/components/VariableQueryEditor.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Alerting: Update migration to put alerts to the default folder if dashboard folder is missing (#65577)
  pkg/services/sqlstore/migrations/ualert/migration_test.go
  pkg/services/sqlstore/migrations/ualert/ualert.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

fix
  public/app/plugins/datasource/elasticsearch/configuration/ElasticDetails.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

RBAC: Feature to override default assignments (#66561)
  pkg/services/accesscontrol/acimpl/service.go
  pkg/services/accesscontrol/acimpl/service_test.go
  pkg/services/accesscontrol/models.go
  pkg/services/accesscontrol/roles.go
  pkg/setting/setting.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

rename ID to Id and dashboards.Dashboard to models.Dashboard
  pkg/services/sqlstore/migrations/ualert/migration_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Adjusting styles
  public/app/features/datasources/components/picker/DataSourceCard.tsx
  public/app/features/datasources/components/picker/DataSourceList.tsx
  public/app/features/datasources/components/picker/DataSourceModal.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

WIP vizwrapper
  public/app/features/alerting/unified/components/PanelPluginsButtonGroup.tsx
  public/app/features/alerting/unified/components/rule-editor/QueryWrapper.tsx
  public/app/features/alerting/unified/components/rule-editor/VizWrapper.tsx
  public/app/features/alerting/unified/components/rule-viewer/RuleViewerVisualization.tsx
  public/app/features/explore/Graph/ExploreGraph.tsx
  public/app/features/explore/Graph/GraphContainer.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Cloudwatch: fix todos
  pkg/tsdb/cloudwatch/kinds/dataquery/types_dataquery_gen.go
  public/app/plugins/datasource/cloudwatch/__mocks__/sqlUtils.ts
  public/app/plugins/datasource/cloudwatch/dataquery.cue
  public/app/plugins/datasource/cloudwatch/dataquery.gen.ts
  public/app/plugins/datasource/cloudwatch/expressions.ts
  public/app/plugins/datasource/cloudwatch/types.ts
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

[v9.4.x] Google Cloud Monitoring: Fix project variable (#66602)
  pkg/tsdb/cloudmonitoring/cloudmonitoring.go
  public/app/plugins/datasource/cloud-monitoring/components/VariableQueryEditor.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

[v9.5.x] Google Cloud Monitoring: Fix project variable (#66603)
  pkg/tsdb/cloudmonitoring/cloudmonitoring.go
  public/app/plugins/datasource/cloud-monitoring/components/VariableQueryEditor.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Update docs/sources/datasources/loki/query-editor/index.md
  docs/sources/datasources/loki/query-editor/index.md
Due: pr-docs, main-docs

Loki docs: Add how to start live tailing logs (#65945)
  docs/sources/datasources/loki/query-editor/index.md
  docs/sources/explore/logs-integration.md
Due: pr-docs, main-docs

removed duplicate query data source section
  docs/sources/datasources/prometheus/_index.md
Due: pr-docs, main-docs

Add Security: Trusted types section
  docs/sources/whatsnew/whats-new-in-v10-0.md
Due: pr-docs, main-docs

adds stats for case insensitive login
  pkg/api/org_users_test.go
  pkg/api/team_members_test.go
  pkg/api/user_test.go
  pkg/cmd/grafana-cli/commands/conflict_user_command.go
  pkg/cmd/grafana-cli/commands/conflict_user_command_test.go
  pkg/services/accesscontrol/database/database_test.go
  pkg/services/accesscontrol/resourcepermissions/api_test.go
  pkg/services/accesscontrol/resourcepermissions/service_test.go
  pkg/services/accesscontrol/resourcepermissions/store_bench_test.go
  pkg/services/accesscontrol/resourcepermissions/store_test.go
  pkg/services/dashboards/database/acl_test.go
  pkg/services/dashboards/database/database_folder_test.go
  pkg/services/guardian/accesscontrol_guardian_test.go
  pkg/services/libraryelements/libraryelements_test.go
  pkg/services/librarypanels/librarypanels_test.go
  pkg/services/login/authinfoservice/user_auth_test.go
  pkg/services/org/orgimpl/store_test.go
  pkg/services/queryhistory/queryhistory_test.go
  pkg/services/quota/quotaimpl/quota_test.go
  pkg/services/serviceaccounts/database/store_test.go
  pkg/services/serviceaccounts/tests/common.go
  pkg/services/stats/statsimpl/stats_test.go
  pkg/services/team/teamimpl/store_test.go
  pkg/services/user/userimpl/store_test.go
  pkg/services/user/userimpl/user.go
  pkg/tests/api/alerting/api_alertmanager_test.go
  pkg/tests/api/correlations/common_test.go
  pkg/tests/api/dashboards/api_dashboards_test.go
  pkg/tests/api/plugins/api_plugins_test.go
  pkg/tests/api/stats/admin_test.go
  pkg/tests/testinfra/testinfra.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Minor update to datasource test
  pkg/tsdb/azuremonitor/azuremonitor_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, end-to-end-tests-cloud-plugins-suite-azure, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

revert changes to analytics
  packages/grafana-runtime/src/analytics/types.ts
  public/app/features/query/state/queryAnalytics.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

more deprecation notices
  packages/grafana-runtime/src/analytics/types.ts
  public/app/features/dashboard/state/DashboardModel.ts
  public/app/features/dashboard/state/analyticsProcessor.ts
  public/app/features/query/state/queryAnalytics.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Update macros test
  pkg/tsdb/azuremonitor/macros/macros_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, end-to-end-tests-cloud-plugins-suite-azure, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

docs: adds license guidance to publishing criteria (#64984)
  docs/sources/developers/plugins/publishing-and-signing-criteria.md
Due: pr-docs, main-docs

Chore: Update @grafana/e2e (#66365)
  e2e/cloud-plugins-suite/azure-monitor.spec.ts
  packages/grafana-e2e/src/flows/addDataSource.ts
  packages/grafana-e2e/src/flows/configurePanel.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, end-to-end-tests-cloud-plugins-suite-azure, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Update selectors in tests
  public/app/plugins/datasource/azuremonitor/components/MetricsQueryEditor/MetricsQueryEditor.test.tsx
  public/app/plugins/datasource/azuremonitor/components/QueryEditor/QueryEditor.test.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, end-to-end-tests-cloud-plugins-suite-azure, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Update naming
  public/app/plugins/datasource/azuremonitor/resourcePicker/resourcePickerData.test.ts
  public/app/plugins/datasource/azuremonitor/resourcePicker/resourcePickerData.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, end-to-end-tests-cloud-plugins-suite-azure, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Datasources: Add documentation around secure socks proxy
  docs/sources/datasources/proxy.md
Due: pr-docs, main-docs

resolving merge conflict for backport PR
  docs/sources/dashboards/use-dashboards/index.md
Due: pr-docs, main-docs

Lint
  public/app/plugins/datasource/azuremonitor/resourcePicker/resourcePickerData.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, end-to-end-tests-cloud-plugins-suite-azure, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Fix test
  public/app/plugins/datasource/azuremonitor/components/MetricsQueryEditor/MetricsQueryEditor.test.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, end-to-end-tests-cloud-plugins-suite-azure, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

[v9.3.x] docs: put the numbers before dashboard elements (#66610)
  docs/sources/dashboards/use-dashboards/index.md
Due: pr-docs, main-docs

Remove secure socks proxy feature toggle
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  packages/grafana-data/src/types/config.ts
  packages/grafana-data/src/types/featureToggles.gen.ts
  packages/grafana-runtime/src/config.ts
  packages/grafana-ui/src/components/DataSourceSettings/DataSourceHttpSettings.tsx
  packages/grafana-ui/src/components/DataSourceSettings/types.ts
  pkg/api/dtos/frontend_settings.go
  pkg/api/frontendsettings.go
  pkg/infra/httpclient/httpclientprovider/http_client_provider.go
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.go
  pkg/tsdb/cloudwatch/cloudwatch.go
  pkg/tsdb/mssql/mssql.go
  pkg/tsdb/mysql/mysql.go
  pkg/tsdb/postgres/postgres.go
  public/app/angular/partials/http_settings_next.html
  public/app/plugins/datasource/alertmanager/ConfigEditor.tsx
  public/app/plugins/datasource/azuremonitor/components/ConfigEditor.tsx
  public/app/plugins/datasource/cloud-monitoring/components/ConfigEditor/ConfigEditor.tsx
  public/app/plugins/datasource/cloudwatch/components/ConfigEditor.tsx
  public/app/plugins/datasource/elasticsearch/configuration/ConfigEditor.tsx
  public/app/plugins/datasource/graphite/configuration/ConfigEditor.tsx
  public/app/plugins/datasource/influxdb/components/ConfigEditor.tsx
  public/app/plugins/datasource/jaeger/components/ConfigEditor.tsx
  public/app/plugins/datasource/loki/configuration/ConfigEditor.tsx
  public/app/plugins/datasource/mssql/configuration/ConfigurationEditor.tsx
  public/app/plugins/datasource/mysql/configuration/ConfigurationEditor.tsx
  public/app/plugins/datasource/opentsdb/components/ConfigEditor.tsx
  public/app/plugins/datasource/parca/ConfigEditor.tsx
  public/app/plugins/datasource/phlare/ConfigEditor.tsx
  public/app/plugins/datasource/postgres/configuration/ConfigurationEditor.tsx
  public/app/plugins/datasource/prometheus/configuration/ConfigEditor.tsx
  public/app/plugins/datasource/tempo/configuration/ConfigEditor.tsx
  public/app/plugins/datasource/zipkin/ConfigEditor.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, end-to-end-tests-cloud-plugins-suite-azure, build-storybook, pr-integration-tests, pr-docs, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, store-storybook, main-integration-tests, main-windows, main-trigger-downstream, main-notify

OpenSearch: Add feature toggle for detecting version (#66386)
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.go
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, pr-docs, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

lint
  packages/grafana-ui/src/components/Table/SparklineCell.tsx
  public/app/features/transformers/joinByLabels/joinByLabels.ts
  public/app/features/transformers/rowsToFields/rowsToFields.ts
  public/app/plugins/datasource/testdata/nodeGraphUtils.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, store-storybook, main-integration-tests, main-windows, main-trigger-downstream, main-notify

[v9.5.x] Explore: Allow supplementary query data provider to be undefined for mixed data sources (#66422) (#66577)
  public/app/features/explore/state/query.test.ts
  public/app/features/explore/state/query.ts
  public/app/features/explore/utils/supplementaryQueries.test.ts
  public/app/features/explore/utils/supplementaryQueries.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Add comment about alertmanager
  public/app/plugins/datasource/alertmanager/ConfigEditor.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Path conditions:
  pr-verify-drone: any of: scripts/drone/**, .drone.yml, .drone.star, but not: docs/**, *.md
  pr-verify-starlark: any of: scripts/drone/**, .drone.star, but not: docs/**, *.md
  pr-test-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-lint-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-test-backend: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, but not: docs/**, *.md
  pr-lint-backend: any of: pkg/**, packaging/**, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, .bingo/**, but not: docs/**, *.md
  pr-build-e2e: any file but: *.md, docs/**, latest.json
  trigger-test-release: any of: .drone.yml, pkg/build/**
  end-to-end-tests-cloud-plugins-suite-azure: any of: pkg/tsdb/azuremonitor/**, public/app/plugins/datasource/azuremonitor/**, e2e/cloud-plugins-suite/azure-monitor.spec.ts
  build-storybook: any of: packages/grafana-ui/**
  pr-integration-tests: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, but not: docs/**, *.md
  pr-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  pr-shellcheck: any of: scripts/**/*.sh, but not: *.md, docs/**, latest.json
  main-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  main-test-frontend: any file but: *.md, docs/**, latest.json
  main-lint-frontend: any file but: *.md, docs/**, latest.json
  main-test-backend: any file but: *.md, docs/**, latest.json
  main-lint-backend: any file but: *.md, docs/**, latest.json
  main-build-e2e-publish: any file but: *.md, docs/**, latest.json
  store-storybook: any of: packages/grafana-ui/**
  main-integration-tests: any file but: *.md, docs/**, latest.json
  main-windows: any file but: *.md, docs/**, latest.json
  notify-drone-changes: any of: .drone.yml, but not: exclude
  main-trigger-downstream: any file but: *.md, docs/**, latest.json
  main-notify: any file but: *.md, docs/**, latest.json
