Repository grafana/grafana: changes, and which Drone steps are due for each by the changed paths.
All: pr-verify-drone, pr-verify-starlark, pr-verify-storybook, pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, end-to-end-tests-cloud-plugins-suite-azure, build-storybook, pr-integration-tests, pr-docs, pr-shellcheck, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Path conditions:
  pr-verify-drone: any of: scripts/drone/**, .drone.yml, .drone.star, but not: docs/**, *.md
  pr-verify-starlark: any of: scripts/drone/**, .drone.star, but not: docs/**, *.md
  pr-verify-storybook: any of: packages/grafana-ui/**, but not: docs/**, *.md
  pr-test-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-lint-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-test-backend: any of: Makefile, pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, docs/sources/setup-grafana/configure-grafana/feature-toggles/**, devenv/**, but not: docs/**, *.md
  pr-lint-backend: any of: .golangci.toml, Makefile, pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, .bingo/**, but not: docs/**, *.md
  pr-build-e2e: any file but: *.md, docs/**, latest.json
  end-to-end-tests-cloud-plugins-suite-azure: any of: pkg/tsdb/azuremonitor/**, public/app/plugins/datasource/azuremonitor/**, e2e/cloud-plugins-suite/azure-monitor.spec.ts
  build-storybook: any of: packages/grafana-ui/**
  pr-integration-tests: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, but not: docs/**, *.md
  pr-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  pr-shellcheck: any of: scripts/**/*.sh, but not: *.md, docs/**, latest.json
  main-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  main-test-frontend: any file but: *.md, docs/**, latest.json
  main-lint-frontend: any file but: *.md, docs/**, latest.json
  main-test-backend: any file but: *.md, docs/**, latest.json
  main-lint-backend: any file but: *.md, docs/**, latest.json
  main-verify-storybook: any file but: *.md, docs/**, latest.json
  main-build-e2e-publish: any file but: *.md, docs/**, latest.json
  store-storybook: any of: packages/grafana-ui/**
  release-canary-npm-packages: any of: packages/**
  main-integration-tests: any file but: *.md, docs/**, latest.json
  main-trigger-downstream: any file but: *.md, docs/**, latest.json
  main-notify: any file but: *.md, docs/**, latest.json
  rgm-main-prerelease: any file but: *.md, docs/**, packages/**/*.md, latest.json

fix(unified-storage): break dependency from dualwriter in resource module (#101788)
  pkg/registry/apis/dashboard/search.go
  pkg/services/apiserver/client/client.go
  pkg/storage/legacysql/dualwrite/types.go
  pkg/storage/unified/resource/search_client.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Service Accounts: Don't show error pop-ups for Service Account and Renderer UI flows (#101776)
  pkg/api/user.go
  public/app/core/services/backend_srv.ts
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

AuthZ: Test List (#101721)
  pkg/services/authz/rbac/service_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Dynamic Dashboards: Workaround for making responsive items selectable (#101794)
  public/app/features/dashboard-scene/scene/layout-responsive-grid/ResponsiveGridLayoutManager.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Docs: Fix plugin installation title by removing non-breaking space (#101798)
  docs/sources/administration/plugin-management/index.md
Due: pr-docs, main-docs

Docs: Add dashboard variables content (#101733)
  docs/Makefile
  docs/sources/panels-visualizations/query-transform-data/transform-data/index.md
  scripts/docs/generate-transformations.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, pr-docs, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Unified Storage: Remove wildcard queries (#101441)
  pkg/registry/apis/dashboard/search.go
  pkg/registry/apis/dashboard/search_test.go
  pkg/storage/unified/resource/document.go
  pkg/storage/unified/resource/document_test.go
  pkg/storage/unified/search/bleve.go
  pkg/storage/unified/search/bleve_mappings.go
  pkg/storage/unified/search/bleve_mappings_test.go
  pkg/storage/unified/search/bleve_search_test.go
  pkg/storage/unified/search/custom_analyzers.go
  pkg/storage/unified/search/testdata/doc/dashboard-aaa-out.json
  pkg/storage/unified/search/testdata/doc/folder-aaa-out.json
  pkg/storage/unified/search/testdata/doc/folder-bbb-out.json
  pkg/storage/unified/search/testdata/doc/playlist-aaa-out.json
  pkg/storage/unified/search/testdata/doc/report-aaa-out.json
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Alerting: Add recording rule target datasource support to Prometheus conversion API (#101799)
  pkg/services/ngalert/api/api.go
  pkg/services/ngalert/api/api_convert_prometheus.go
  pkg/services/ngalert/api/api_convert_prometheus_test.go
  pkg/services/ngalert/prom/convert.go
  pkg/services/ngalert/prom/convert_test.go
  pkg/tests/api/alerting/api_convert_prometheus_test.go
  pkg/tests/testinfra/testinfra.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Add debug info for encodeIdentityInMetadata (#101801)
  pkg/storage/unified/resource/grpc/authenticator.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

i18n: Marking up Pagination and PageToolbar in Grafana-UI for translation (#101738)
  .betterer.results
  packages/grafana-ui/src/components/PageLayout/PageToolbar.tsx
  packages/grafana-ui/src/components/Pagination/Pagination.tsx
  public/locales/en-US/grafana.json
  public/locales/pseudo-LOCALE/grafana.json
Due: pr-verify-storybook, pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Dashboard: Editing selection redesign (#101763)
  packages/grafana-ui/src/components/PanelChrome/PanelChrome.tsx
  packages/grafana-ui/src/themes/GlobalStyles/dashboardGrid.ts
  public/app/features/dashboard-scene/scene/layout-rows/RowItemMenu.tsx
  public/app/features/dashboard-scene/scene/layout-rows/RowItemRenderer.tsx
  public/app/features/dashboard-scene/scene/layout-tabs/TabItemMenu.tsx
  public/app/features/dashboard-scene/scene/layout-tabs/TabItemRenderer.tsx
  public/app/features/dashboard-scene/scene/layout-tabs/TabsLayoutManagerRenderer.tsx
Due: pr-verify-storybook, pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Alerting: Improve performance of the setting GUID during migration (#101800)
  pkg/services/sqlstore/migrations/ualert/alert_rule_version_guid_mig.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Docs: Group Attribute Sync feature in private preview (#101822)
  docs/sources/developers/http_api/group_attribute_sync.md
  docs/sources/setup-grafana/configure-security/configure-group-attribute-sync.md
Due: pr-docs, main-docs

Invite User: Add invite user button in top bar (#101809)
  packages/grafana-data/src/types/featureToggles.gen.ts
  packages/grafana-e2e-selectors/src/selectors/pages.ts
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.go
  pkg/services/featuremgmt/toggles_gen.json
  public/app/core/components/AppChrome/TopBar/InviteUserButton.tsx
  public/app/core/components/AppChrome/TopBar/SingleTopBar.tsx
  public/app/features/dashboard-scene/sharing/ShareButton/ShareMenu.test.tsx
  public/app/features/dashboard-scene/sharing/ShareButton/ShareMenu.tsx
  public/locales/en-US/grafana.json
  public/locales/pseudo-LOCALE/grafana.json
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Alerting: Re-encrypt existing contact points before get and patch in legacy config API (#101263)
  pkg/services/ngalert/api/api_alertmanager_test.go
  pkg/services/ngalert/notifier/alertmanager_config.go
  pkg/services/ngalert/notifier/crypto.go
  pkg/tests/api/alerting/api_notification_channel_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Alerting: Include time range in template dashboard and panel urls (#101095)
  go.mod
  go.sum
  pkg/services/ngalert/notifier/templates_test.go
  pkg/storage/unified/apistore/go.mod
  pkg/storage/unified/apistore/go.sum
  pkg/storage/unified/resource/go.mod
  pkg/storage/unified/resource/go.sum
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Chore: Move code verification to proper workflow (#101742)
  .github/workflows/pr-backend-code-checks.yml
  .github/workflows/pr-backend-unit-tests.yml
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Chore: Bump gofpdf (#101823)
  go.mod
  go.sum
  go.work.sum
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Docs: traces visualization refactor (#101476)
  docs/sources/panels-visualizations/visualizations/traces/index.md
Due: pr-docs, main-docs

Geomap: WebGL for Marker Layer (#95457)
  public/app/plugins/panel/geomap/layers/data/markersLayer.tsx
  public/app/plugins/panel/geomap/style/markers.test.ts
  public/app/plugins/panel/geomap/style/markers.ts
  public/app/plugins/panel/geomap/style/types.ts
  public/app/plugins/panel/geomap/style/utils.test.ts
  public/app/plugins/panel/geomap/style/utils.ts
  public/app/plugins/panel/geomap/utils/getLayersExtent.ts
  public/app/plugins/panel/geomap/utils/layers.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Transformations: Improve groupBy field selection and aggregated field types (#101753)
  packages/grafana-data/src/transformations/fieldReducer.ts
  packages/grafana-data/src/transformations/transformers/groupBy.test.ts
  packages/grafana-data/src/transformations/transformers/groupBy.ts
  public/app/features/transformers/editors/GroupByTransformerEditor.tsx
  public/app/features/transformers/utils.test.ts
  public/app/features/transformers/utils.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

K8s: Schema v2: Return 406 in /api (#101842)
  pkg/api/dashboard.go
  pkg/api/dashboard_test.go
  pkg/api/swagger_responses.go
  pkg/tests/apis/dashboard/dashboards_test.go
  public/api-merged.json
  public/openapi3.json
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

K8s: Dashboards: Fix provisioning (#101844)
  pkg/services/dashboards/service/dashboard_service.go
  pkg/services/dashboards/service/dashboard_service_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

K8s: Dashboard History: Improve Error Handling (#101816)
  pkg/services/dashboardversion/dashverimpl/dashver.go
  pkg/services/dashboardversion/dashverimpl/dashver_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

K8s: Fix plugin updater (#101843)
  pkg/registry/backgroundsvcs/background_services.go
  pkg/services/plugindashboards/service/dashboard_updater.go
  pkg/services/plugindashboards/service/dashboard_updater_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Dashboard: Auto focus title fields in edit pane (#101668)
  public/app/features/dashboard-scene/edit-pane/DashboardEditPane.tsx
  public/app/features/dashboard-scene/edit-pane/shared.ts
  public/app/features/dashboard-scene/panel-edit/getPanelFrameOptions.tsx
  public/app/features/dashboard-scene/scene/DashboardScene.test.tsx
  public/app/features/dashboard-scene/scene/DashboardScene.tsx
  public/app/features/dashboard-scene/scene/layout-default/DefaultGridLayoutManager.tsx
  public/app/features/dashboard-scene/scene/layout-responsive-grid/ResponsiveGridLayoutManager.tsx
  public/app/features/dashboard-scene/scene/layout-rows/RowItemEditor.tsx
  public/app/features/dashboard-scene/scene/layout-rows/RowsLayoutManager.tsx
  public/app/features/dashboard-scene/scene/layout-tabs/TabItemEditor.tsx
  public/app/features/dashboard-scene/scene/layouts-shared/addNew.ts
  public/app/features/dashboard-scene/scene/layouts-shared/utils.ts
  public/app/features/dashboard-scene/scene/setDashboardPanelContext.ts
  public/app/features/dashboard-scene/utils/utils.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Provisioning: Register middleware and reducer (#101859)
  public/app/core/reducers/root.ts
  public/app/store/configureStore.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Dashboards tabs: If trying to navigate to non existing tab with url, default to the first tab (#101784)
  public/app/features/dashboard-scene/scene/layout-tabs/TabsLayoutManager.tsx
  public/app/features/dashboard-scene/scene/layout-tabs/TabsLayoutManagerRenderer.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Alerting docs: dynamic label changes (#101781)
  docs/sources/alerting/alerting-rules/templates/_index.md
  docs/sources/alerting/alerting-rules/templates/examples.md
  docs/sources/shared/alerts/note-dynamic-labels.md
Due: pr-docs, main-docs

Loki: Removal of `Resolution` in query editors (#101860)
  docs/sources/datasources/loki/query-editor/index.md
  public/app/plugins/datasource/loki/components/AnnotationsQueryEditor.tsx
  public/app/plugins/datasource/loki/components/LokiOptionFields.test.tsx
  public/app/plugins/datasource/loki/components/LokiOptionFields.tsx
  public/app/plugins/datasource/loki/querybuilder/components/LokiQueryBuilderOptions.test.tsx
  public/app/plugins/datasource/loki/querybuilder/components/LokiQueryBuilderOptions.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, pr-docs, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Auth: Update to authlib (#101863)
  go.mod
  go.sum
  go.work.sum
  pkg/apimachinery/go.mod
  pkg/apimachinery/go.sum
  pkg/storage/unified/apistore/go.mod
  pkg/storage/unified/apistore/go.sum
  pkg/storage/unified/resource/go.mod
  pkg/storage/unified/resource/go.sum
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Alerting docs: clarify `No data/Error` alerts skip pending period (#101431)
  docs/sources/alerting/fundamentals/alert-rule-evaluation/state-and-health.md
  docs/sources/shared/alerts/table-configure-no-data-and-error.md
Due: pr-docs, main-docs

Alerting docs: clarify the `export` JSON format are for file provisioning (#101617)
  docs/sources/shared/alerts/alerting-provisioning-export-produces.md
  docs/sources/shared/alerts/alerting_provisioning.md
Due: pr-docs, main-docs

Alerting docs: clarify values included in `Alert.Labels` and `Alert.Values` (#101571)
  docs/sources/alerting/configure-notifications/template-notifications/reference.md
Due: pr-docs, main-docs

Plugin: expose nested folder component from core grafana (#97765)
  packages/grafana-runtime/src/components/FolderPicker.tsx
  packages/grafana-runtime/src/index.ts
  public/app/app.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Tempo: add support for sum_over_time metrics queries (#101545)
  pkg/tsdb/tempo/traceql_query.go
  pkg/tsdb/tempo/traceql_query_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Folders: Add k8s API client (#101862)
  pkg/tests/apis/openapi_test.go
  public/app/core/reducers/root.ts
  public/app/features/folders/api/baseAPI.ts
  public/app/features/folders/api/endpoints.gen.ts
  public/app/features/folders/api/index.ts
  public/app/store/configureStore.ts
  scripts/generate-rtk-apis.ts
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Chore: Remove pseudoizer and use i18next-pseudo instead (#101690)
  Makefile
  package.json
  packages/grafana-ui/src/utils/i18n.tsx
  public/app/core/internationalization/constants.ts
  public/locales/pseudo-LOCALE/grafana.json
  public/locales/pseudo.mjs
  yarn.lock
Due: pr-verify-storybook, pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Support Spanner's UNION syntax, which needs to be UNION DISTINCT or UNION ALL. (#101768)
  pkg/infra/db/sqlbuilder.go
  pkg/services/accesscontrol/database/database.go
  pkg/services/accesscontrol/filter.go
  pkg/services/annotations/accesscontrol/accesscontrol.go
  pkg/services/dashboards/database/database.go
  pkg/services/libraryelements/database.go
  pkg/services/sqlstore/migrator/dialect.go
  pkg/services/sqlstore/migrator/spanner_dialect.go
  pkg/services/sqlstore/permissions/dashboard.go
  pkg/services/sqlstore/permissions/dashboard_filter_no_subquery.go
  pkg/services/sqlstore/permissions/dashboard_test.go
  pkg/services/sqlstore/permissions/dashboards_bench_test.go
  pkg/services/sqlstore/searchstore/search_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease
