Repository grafana/grafana: changes, and which Drone steps are due for each by the changed paths.
All: pr-verify-drone, pr-verify-starlark, pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, trigger-test-release, end-to-end-tests-cloud-plugins-suite-azure, build-storybook, pr-integration-tests, pr-docs, pr-shellcheck, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, store-storybook, main-integration-tests, main-windows, notify-drone-changes, main-trigger-downstream, main-notify

pr-verify-drone:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.17.1
    name: identify-runner
  - commands:
    - go build -o ./bin/build -ldflags '-extldflags -static' ./pkg/build/cmd
    depends_on: []
    environment:
      CGO_ENABLED: 0
    image: golang:1.20.1
    name: compile-build-cmd
  - commands:
  ...

pr-verify-starlark:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.17.1
    name: identify-runner
  - commands:
    - go build -o ./bin/build -ldflags '-extldflags -static' ./pkg/build/cmd
    depends_on: []
    environment:
      CGO_ENABLED: 0
    image: golang:1.20.1
    name: compile-build-cmd
  - commands:
  ...

pr-test-frontend:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.17.1
    name: identify-runner
  - commands:
    - mkdir -p bin
    - curl -fL -o bin/grabpl https://grafana-downloads.storage.googleapis.com/grafana-build-pipeline/v3.0.30/grabpl
    - chmod +x bin/grabpl
    image: byrnedo/alpine-curl:0.1.8
  ...

pr-lint-frontend:
  steps:
  - commands:
    - is_fork=$(curl "https://$GITHUB_TOKEN@api.github.com/repos/grafana/grafana/pulls/$DRONE_PULL_REQUEST" | jq .head.repo.fork)
    - if [ "$is_fork" != false ]; then return 1; fi
  ...

pr-test-backend:
  steps:
  - commands:
    - is_fork=$(curl "https://$GITHUB_TOKEN@api.github.com/repos/grafana/grafana/pulls/$DRONE_PULL_REQUEST" | jq .head.repo.fork)
    - if [ "$is_fork" != false ]; then return 1; fi
  ...

pr-lint-backend:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.17.1
    name: identify-runner
  - commands:
    - go build -o ./bin/build -ldflags '-extldflags -static' ./pkg/build/cmd
    depends_on: []
    environment:
      CGO_ENABLED: 0
    image: golang:1.20.1
    name: compile-build-cmd
  - commands:
  ...

pr-build-e2e:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.17.1
    name: identify-runner
  - commands:
    - mkdir -p bin
    - curl -fL -o bin/grabpl https://grafana-downloads.storage.googleapis.com/grafana-build-pipeline/v3.0.30/grabpl
    - chmod +x bin/grabpl
    image: byrnedo/alpine-curl:0.1.8
  ...

trigger-test-release:
  commands:
  - git clone "https://$${GITHUB_TOKEN}@github.com/grafana/grafana-enterprise.git" --depth=1
  - cd grafana-enterprise
  - git fetch origin "refs/tags/*:refs/tags/*" --quiet
  - if git show-ref --tags $${TEST_TAG} --quiet; then git tag -d $${TEST_TAG} && git push --delete origin $${TEST_TAG}; fi
  ...

end-to-end-tests-cloud-plugins-suite-azure:
  commands:
  - cd /
  - ./cpp-e2e/scripts/ci-run.sh azure ${DRONE_SOURCE_BRANCH}
  depends_on:
  - grafana-server
  environment:
    AZURE_SP_APP_ID:
      from_secret: azure_sp_app_id
    AZURE_SP_PASSWORD:
      from_secret: azure_sp_app_pw
    AZURE_TENANT:
      from_secret: azure_tenant
    CYPRESS_CI: 'true'
  ...

notify-drone-changes:
  steps:
  - image: plugins/slack
    name: slack
    settings:
      channel: slack-webhooks-test
  ...

Remove redundant methods
  .betterer.results
  public/app/plugins/datasource/loki/components/VariableQueryEditor.test.tsx
  public/app/plugins/datasource/loki/components/VariableQueryEditor.tsx
  public/app/plugins/datasource/loki/datasource.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Chore: Update "Observability" nav group subtitle (#78579)
  public/app/core/utils/navBarItem-translations.ts
  public/app/features/connections/__mocks__/store.navIndex.mock.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

fix LabelType enum
  public/app/plugins/datasource/loki/LanguageProvider.test.ts
  public/app/plugins/datasource/loki/LanguageProvider.ts
  public/app/plugins/datasource/loki/responseUtils.test.ts
  public/app/plugins/datasource/loki/responseUtils.ts
  public/app/plugins/datasource/loki/types.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Make parseStringToVariableQuery private
  public/app/plugins/datasource/loki/datasource.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

fix CompletionDataProvider test
  public/app/plugins/datasource/loki/components/monaco-query-field/monaco-completion-provider/CompletionDataProvider.test.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Loki: improve structured metadata in devenv
  devenv/docker/blocks/loki/data/data.js
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Remove password now that the header is only sent when you provide an username
  .drone.yml
  Makefile
  scripts/drone/steps/lib.star
Due: pr-verify-drone, pr-verify-starlark, pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-build-e2e, trigger-test-release, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, notify-drone-changes, main-trigger-downstream, main-notify

postgres: removed xorm from unit tests
  pkg/tsdb/grafana-postgresql-datasource/postgres_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Remove the adding of the /alertmanager suffix
  pkg/services/ngalert/remote/alertmanager_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Loki: Add structured metadata keys to autocomplete (#78584)
  public/app/plugins/datasource/loki/LanguageProvider.test.ts
  public/app/plugins/datasource/loki/LanguageProvider.ts
  public/app/plugins/datasource/loki/components/monaco-query-field/monaco-completion-provider/CompletionDataProvider.test.ts
  public/app/plugins/datasource/loki/components/monaco-query-field/monaco-completion-provider/completions.test.ts
  public/app/plugins/datasource/loki/components/monaco-query-field/monaco-completion-provider/completions.ts
  public/app/plugins/datasource/loki/responseUtils.test.ts
  public/app/plugins/datasource/loki/responseUtils.ts
  public/app/plugins/datasource/loki/types.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Update
  public/app/features/dashboard-scene/serialization/__snapshots__/transformSceneToSaveModel.test.ts.snap
  public/app/features/dashboard-scene/serialization/testfiles/repeating_rows_and_panels.json
  public/app/features/dashboard-scene/serialization/transformSceneToSaveModel.test.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

DashboardSchema: Remove some old panel types
  docs/sources/developers/kinds/core/dashboard/schema-reference.md
  kinds/dashboard/dashboard_kind.cue
  packages/grafana-schema/src/index.gen.ts
  packages/grafana-schema/src/raw/dashboard/x/dashboard_types.gen.ts
  packages/grafana-schema/src/veneer/dashboard.types.ts
  pkg/kinds/dashboard/dashboard_spec_gen.go
  public/app/features/dashboard-scene/serialization/transformSceneToSaveModel.test.ts
  public/app/features/dashboard-scene/serialization/transformSceneToSaveModel.ts
  public/app/features/dashboard/components/DashboardPrompt/DashboardPrompt.test.tsx
  public/app/features/dashboard/components/DashboardPrompt/DashboardPrompt.tsx
  public/app/features/dashboard/state/DashboardMigrator.test.ts
  public/app/features/dashboard/state/DashboardModel.test.ts
  public/app/features/dashboard/state/__fixtures__/dashboardFixtures.ts
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, pr-docs, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

fix(alerting): proper handling for queries with multiple conditions
  pkg/services/ngalert/migration/cond_trans.go
  pkg/services/ngalert/migration/cond_trans_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Lock when cleaning-up external services
  pkg/services/extsvcauth/registry/service.go
  pkg/services/extsvcauth/registry/service_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

wip
  public/app/features/alerting/unified/components/rule-editor/alert-rule-form/simplifiedRouting/MuteTimingFields.tsx
  public/app/features/alerting/unified/components/rule-editor/alert-rule-form/simplifiedRouting/RouteSettings.tsx
  public/app/features/alerting/unified/components/rule-editor/alert-rule-form/simplifiedRouting/SimplifiedRouting.tsx
  public/app/features/alerting/unified/types/rule-form.ts
  public/app/features/alerting/unified/utils/rule-form.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

fix(alerting): fallback to dashboard to get the full targets
  pkg/services/ngalert/migration/alert_rule.go
  pkg/services/ngalert/migration/alert_rule_graphite.go
  pkg/services/ngalert/migration/alert_rule_graphite_test.go
  pkg/services/ngalert/migration/alert_rule_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Loki: Fix renderers for json, logfmt, keep and drop pipe operations
  public/app/plugins/datasource/loki/querybuilder/operationUtils.test.ts
  public/app/plugins/datasource/loki/querybuilder/operationUtils.ts
  public/app/plugins/datasource/loki/querybuilder/operations.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

add label addition based on labeltype
  packages/grafana-data/src/types/datasource.ts
  packages/grafana-data/src/types/logs.ts
  public/app/features/explore/Explore.tsx
  public/app/features/logs/components/LogDetailsRow.tsx
  public/app/plugins/datasource/loki/datasource.ts
  public/app/plugins/datasource/loki/modifyQuery.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Refactor
  pkg/services/dashboards/dashboard.go
  pkg/services/dashboards/dashboard_service_mock.go
  pkg/services/dashboards/models.go
  pkg/services/dashboards/service/dashboard_service.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Tempo: Embed flame graph in span details (#77537)
  .betterer.results
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  packages/grafana-data/src/types/featureToggles.gen.ts
  packages/grafana-flamegraph/src/FlameGraph/FlameGraph.tsx
  packages/grafana-flamegraph/src/FlameGraph/FlameGraphCanvas.tsx
  packages/grafana-flamegraph/src/FlameGraphContainer.tsx
  packages/grafana-flamegraph/src/index.ts
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.go
  public/app/core/components/TraceToProfiles/TraceToProfilesSettings.test.tsx
  public/app/core/components/TraceToProfiles/TraceToProfilesSettings.tsx
  public/app/features/explore/Explore.tsx
  public/app/features/explore/TraceView/TraceView.test.tsx
  public/app/features/explore/TraceView/TraceView.tsx
  public/app/features/explore/TraceView/TraceViewContainer.test.tsx
  public/app/features/explore/TraceView/TraceViewContainer.tsx
  public/app/features/explore/TraceView/components/TraceTimelineViewer/ListView/index.test.tsx
  public/app/features/explore/TraceView/components/TraceTimelineViewer/ListView/index.tsx
  public/app/features/explore/TraceView/components/TraceTimelineViewer/SpanDetail/SpanFlameGraph.tsx
  public/app/features/explore/TraceView/components/TraceTimelineViewer/SpanDetail/index.test.tsx
  public/app/features/explore/TraceView/components/TraceTimelineViewer/SpanDetail/index.tsx
  public/app/features/explore/TraceView/components/TraceTimelineViewer/SpanDetailRow.test.tsx
  public/app/features/explore/TraceView/components/TraceTimelineViewer/SpanDetailRow.tsx
  public/app/features/explore/TraceView/components/TraceTimelineViewer/VirtualizedTraceView.tsx
  public/app/features/explore/TraceView/components/TraceTimelineViewer/index.tsx
  public/app/features/explore/TraceView/createSpanLink.test.ts
  public/app/features/explore/TraceView/createSpanLink.tsx
  public/app/plugins/panel/flamegraph/FlameGraphPanel.tsx
  public/app/plugins/panel/traces/TracesPanel.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, pr-docs, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Loki: improve structured metadata in devenv (#78587)
  devenv/docker/blocks/loki/data/data.js
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Use feature flag for permissions
  pkg/api/index.go
  pkg/services/accesscontrol/accesscontrol.go
  pkg/services/accesscontrol/acimpl/service.go
  pkg/services/authn/authnimpl/sync/permission_sync.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Use feature flag
  pkg/services/accesscontrol/acimpl/service.go
  pkg/services/dashboards/service/dashboard_service.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

add the /alertmanager suffix to the sender
  pkg/services/ngalert/remote/alertmanager.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

remove some gf-form
  .betterer.results
  public/app/core/navigation/GrafanaRouteError.tsx
  public/app/features/dashboard/components/ShareModal/ShareLink.tsx
  public/app/features/transformers/editors/RenameByRegexTransformer.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Doc: Update image rendering configuration (#77042)
  conf/defaults.ini
  docs/sources/setup-grafana/configure-grafana/_index.md
  docs/sources/setup-grafana/image-rendering/_index.md
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, pr-docs, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Make spacing and trimming more consistent
  public/app/plugins/datasource/loki/querybuilder/operationUtils.test.ts
  public/app/plugins/datasource/loki/querybuilder/operationUtils.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Update pkg/services/ngalert/remote/alertmanager_test.go
  pkg/services/ngalert/remote/alertmanager_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Update pkg/services/ngalert/remote/alertmanager.go
  pkg/services/ngalert/remote/alertmanager.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Fix
  public/app/plugins/datasource/loki/querybuilder/operationUtils.test.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Apply suggestions from code review
  pkg/services/ngalert/remote/alertmanager.go
  pkg/services/ngalert/remote/alertmanager_test.go
  pkg/services/ngalert/remote/client/mimir.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

DashboardScene: Fixes angular panels inside collapsed rows (#78532)
  public/app/features/dashboard-scene/serialization/__snapshots__/transformSceneToSaveModel.test.ts.snap
  public/app/features/dashboard-scene/serialization/testfiles/repeating_rows_and_panels.json
  public/app/features/dashboard-scene/serialization/transformSaveModelToScene.ts
  public/app/features/dashboard-scene/serialization/transformSceneToSaveModel.test.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

switch to debounceTime
  public/app/plugins/panel/table/TablePanel.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Docs: Improve comments for panel props for plugins
  packages/grafana-data/src/types/panel.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

lower debounce to 100
  public/app/plugins/panel/table/TablePanel.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Loki: Fix trailing comma in renderers for `json`, `logfmt`, `keep` and `drop` operations (#78594)
  public/app/plugins/datasource/loki/querybuilder/operationUtils.test.ts
  public/app/plugins/datasource/loki/querybuilder/operationUtils.ts
  public/app/plugins/datasource/loki/querybuilder/operations.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Add more context to logs around token rotation, revocation
  pkg/api/user_token.go
  pkg/services/auth/authimpl/auth_token.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Add context
  pkg/tsdb/azuremonitor/azuremonitor.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, end-to-end-tests-cloud-plugins-suite-azure, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Add unit test
  public/app/plugins/datasource/loki/querySplitting.test.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Use e2e component selectors
  packages/grafana-e2e-selectors/src/selectors/components.ts
  packages/grafana-ui/src/components/Forms/RadioButtonGroup/RadioButton.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, store-storybook, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Path conditions:
  pr-verify-drone: any of: scripts/drone/**, .drone.yml, .drone.star, but not: docs/**, *.md
  pr-verify-starlark: any of: scripts/drone/**, .drone.star, but not: docs/**, *.md
  pr-test-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-lint-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-test-backend: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, but not: docs/**, *.md
  pr-lint-backend: any of: pkg/**, packaging/**, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, .bingo/**, but not: docs/**, *.md
  pr-build-e2e: any file but: *.md, docs/**, latest.json
  trigger-test-release: any of: .drone.yml, pkg/build/**
  end-to-end-tests-cloud-plugins-suite-azure: any of: pkg/tsdb/azuremonitor/**, public/app/plugins/datasource/azuremonitor/**, e2e/cloud-plugins-suite/azure-monitor.spec.ts
  build-storybook: any of: packages/grafana-ui/**
  pr-integration-tests: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, but not: docs/**, *.md
  pr-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  pr-shellcheck: any of: scripts/**/*.sh, but not: *.md, docs/**, latest.json
  main-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  main-test-frontend: any file but: *.md, docs/**, latest.json
  main-lint-frontend: any file but: *.md, docs/**, latest.json
  main-test-backend: any file but: *.md, docs/**, latest.json
  main-lint-backend: any file but: *.md, docs/**, latest.json
  main-build-e2e-publish: any file but: *.md, docs/**, latest.json
  store-storybook: any of: packages/grafana-ui/**
  main-integration-tests: any file but: *.md, docs/**, latest.json
  main-windows: any file but: *.md, docs/**, latest.json
  notify-drone-changes: any of: .drone.yml, but not: exclude
  main-trigger-downstream: any file but: *.md, docs/**, latest.json
  main-notify: any file but: *.md, docs/**, latest.json
