Repository grafana/grafana: changes, and which Drone steps are due for each by the changed paths.
All: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, pr-docs

pr-test-frontend:
  steps:
  - image: meltwater/drone-cache:v1.2.2
    name: restore-cache
    pull: always
    settings:
      backend: gcs
      bucket: test-julien
      cache_key: test123
      json_key:
        from_secret: tf_google_credentials
      mount:
      - yarncache
      - node_modules
      restore: 'true'
  - commands:
  ...

pr-test-backend:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.15
    name: identify-runner
  - commands:
    - mkdir -p bin
    - curl -fL -o bin/grabpl https://grafana-downloads.storage.googleapis.com/grafana-build-pipeline/v2.9.41/grabpl
    - chmod +x bin/grabpl
    image: byrnedo/alpine-curl:0.1.8
  ...

pr-build-e2e:
  steps:
  - image: meltwater/drone-cache:v1.2.2
    name: restore-cache
    pull: always
    settings:
      backend: gcs
      bucket: test-julien
      cache_key: test123
      json_key:
        from_secret: tf_google_credentials
      mount:
      - yarncache
      - node_modules
      restore: 'true'
  - commands:
  ...

pr-integration-tests:
  steps:
  - commands:
    - mkdir -p bin
    - curl -fL -o bin/grabpl https://grafana-downloads.storage.googleapis.com/grafana-build-pipeline/v2.9.41/grabpl
    - chmod +x bin/grabpl
    image: byrnedo/alpine-curl:0.1.8
    name: grabpl
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.15
  ...

pr-docs:
  steps:
  - image: meltwater/drone-cache:v1.2.2
    name: restore-cache
    pull: always
    settings:
      backend: gcs
      bucket: test-julien
      cache_key: test123
      json_key:
        from_secret: tf_google_credentials
      mount:
      - yarncache
      - node_modules
      restore: 'true'
  - commands:
  ...

golint
  pkg/services/ngalert/provisioning/alert_rules_test.go
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests

golint
  pkg/services/ngalert/api/api_provisioning_test.go
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests

Include whats new section for geomap panel for 9.1
  docs/sources/whatsnew/whats-new-in-v9-1.md
Due: pr-docs

Alerting: fetch interval from stored namespace UID (#53195)
  pkg/services/ngalert/provisioning/alert_rules.go
  pkg/services/ngalert/provisioning/alert_rules_test.go
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests

fix
  public/app/features/dashboard/containers/DashboardPage.tsx
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests

Alerting: use duration model for alert rule provisioning api (#53196)
  pkg/services/ngalert/api/api_provisioning.go
  pkg/services/ngalert/api/api_provisioning_test.go
  pkg/services/ngalert/api/tooling/definitions/provisioning_alert_rules.go
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests

Alerting: fetch interval from stored namespace UID (#53195) (#53636)
  pkg/services/ngalert/provisioning/alert_rules.go
  pkg/services/ngalert/provisioning/alert_rules_test.go
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests

Add gdev dashboard with some geomap 9.1 features
  devenv/dev-dashboards/panel-geomap/geomap-9.1.json
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests

Update capitalization to match across the dashboard
  devenv/dev-dashboards/panel-geomap/geomap-9.1.json
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests

Alerting: use duration model for alert rule provisioning api (#53196) (#53637)
  pkg/services/ngalert/api/api_provisioning.go
  pkg/services/ngalert/api/api_provisioning_test.go
  pkg/services/ngalert/api/tooling/definitions/provisioning_alert_rules.go
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests

remove old logs
  public/app/features/dashboard/containers/DashboardPage.tsx
  public/app/fn-app/create-mfe.ts
  public/app/fn-app/fn-dashboard-page/render-fn-dashboard.tsx
  public/app/fn_app.ts
  public/microfrontends/fn_dashboard/index.html
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests

use createPortal API
  public/app/features/dashboard/containers/DashboardPage.tsx
  public/microfrontends/fn_dashboard/index.html
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests

add useful logs
  public/app/fn-app/create-mfe.ts
  public/microfrontends/fn_dashboard/index.html
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests

Add support for nanosecond precision intervals.
  packages/grafana-data/src/valueFormats/dateTimeFormatters.ts
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, pr-docs

Add trailing comma
  packages/grafana-data/src/valueFormats/dateTimeFormatters.ts
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, pr-docs

Refactor plugin generator for extensibility
  pkg/codegen/pluggen.go
  pkg/plugins/pfs/pfs.go
  public/app/plugins/gen.go
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests

fix
  public/app/fn-app/fn-dashboard-page/render-fn-dashboard.tsx
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests

Add missing reference update that got lost after 53050
  docs/sources/dashboards/use-dashboards.md
Due: pr-docs

added redux state -- no more prop drilling
  public/app/core/reducers/fn-slice.ts
  public/app/core/reducers/index.ts
  public/app/fn-app/fn-dashboard-page/render-fn-dashboard.tsx
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests

docs: refactor work, combines time-series topics (#53530)
  docs/sources/dashboards/annotations.md
  docs/sources/shared/visualizations/legend-mode.md
  docs/sources/shared/visualizations/tooltip-mode.md
  docs/sources/visualizations/time-series/_index.md
  docs/sources/visualizations/time-series/annotate-time-series.md
  docs/sources/visualizations/time-series/change-axis-display.md
  docs/sources/visualizations/time-series/graph-color-scheme.md
  docs/sources/visualizations/time-series/graph-time-series-as-bars.md
  docs/sources/visualizations/time-series/graph-time-series-as-lines.md
  docs/sources/visualizations/time-series/graph-time-series-as-points.md
  docs/sources/visualizations/time-series/graph-time-series-stacking.md
  docs/sources/visualizations/time-series/index.md
Due: pr-docs

ColorInput: Add isClearable prop
  packages/grafana-ui/src/components/ColorPicker/ColorInput.tsx
  packages/grafana-ui/src/components/ColorPicker/ColorPickerInput.tsx
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, pr-docs

Added buttons to annotations editor
  public/app/features/dashboard/components/AnnotationSettings/AnnotationSettingsEdit.tsx
  public/app/features/dashboard/components/DashboardSettings/AnnotationsSettings.tsx
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests

RBAC: Fix various ui issues for role picker (#53589)
  public/app/core/components/RolePicker/RolePicker.tsx
  public/app/core/components/RolePicker/RolePickerMenu.tsx
  public/app/core/components/RolePicker/TeamRolePicker.tsx
  public/app/core/components/RolePicker/UserRolePicker.tsx
  public/app/features/admin/UserOrgs.tsx
  public/app/features/serviceaccounts/ServiceAccountCreatePage.tsx
  public/app/features/serviceaccounts/components/ServiceAccountRoleRow.tsx
  public/app/features/serviceaccounts/components/ServiceAccountsListItem.tsx
  public/app/features/teams/TeamList.tsx
  public/app/features/users/UsersTable.tsx
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests

RBAC: Fix various ui issues for role picker (#53589) (#53644)
  public/app/core/components/RolePicker/RolePicker.tsx
  public/app/core/components/RolePicker/RolePickerMenu.tsx
  public/app/core/components/RolePicker/TeamRolePicker.tsx
  public/app/core/components/RolePicker/UserRolePicker.tsx
  public/app/features/admin/UserOrgs.tsx
  public/app/features/serviceaccounts/ServiceAccountCreatePage.tsx
  public/app/features/serviceaccounts/components/ServiceAccountRoleRow.tsx
  public/app/features/serviceaccounts/components/ServiceAccountsListItem.tsx
  public/app/features/teams/TeamList.tsx
  public/app/features/users/UsersTable.tsx
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests

AccessControl: Move GetCacheKey to SignedInUser (#53591)
  pkg/services/user/model.go
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests

Docs: Fix missing reference update on dashboard page (#53641)
  docs/sources/dashboards/use-dashboards.md
Due: pr-docs

Update test and remove unneeded util function
  public/app/plugins/datasource/cloud-monitoring/__mocks__/cloudMonitoringQuery.ts
  public/app/plugins/datasource/cloud-monitoring/__mocks__/utils.ts
  public/app/plugins/datasource/cloud-monitoring/datasource.test.ts
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests

Refactor autocompletion provider
  public/app/features/alerting/unified/components/receivers/TemplateEditor.tsx
  public/app/features/alerting/unified/components/receivers/editor/alertManagerSuggestions.ts
  public/app/features/alerting/unified/components/receivers/editor/autocomplete.ts
  public/app/features/alerting/unified/components/receivers/editor/language.ts
  public/app/features/alerting/unified/components/receivers/editor/suggestionDefinition.ts
  public/app/features/alerting/unified/components/receivers/editor/templateDataSuggestions.ts
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests

Rename to avoid duplicate mock
  public/app/plugins/datasource/cloud-monitoring/__mocks__/cloudMonitoringInstanceSettings.ts
  public/app/plugins/datasource/cloud-monitoring/datasource.test.ts
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests

refactor: make content after slider accessible
  packages/grafana-ui/src/components/Slider/RangeSlider.tsx
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, pr-docs

refactor: update slider version
  package.json
  yarn.lock
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests

CloudMonitor: Fix to hide queries when used in conjunction with Expressions (#53537)
  public/app/plugins/datasource/cloud-monitoring/__mocks__/cloudMonitoringInstanceSettings.ts
  public/app/plugins/datasource/cloud-monitoring/__mocks__/cloudMonitoringQuery.ts
  public/app/plugins/datasource/cloud-monitoring/datasource.test.ts
  public/app/plugins/datasource/cloud-monitoring/datasource.ts
  public/app/plugins/datasource/cloud-monitoring/functions.ts
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests

ColorPickerInput: Enable input clearing (#53587)
  packages/grafana-ui/src/components/ColorPicker/ColorInput.tsx
  packages/grafana-ui/src/components/ColorPicker/ColorPickerInput.test.tsx
  packages/grafana-ui/src/components/ColorPicker/ColorPickerInput.tsx
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, pr-docs

Chore: Add user methods to service (#53595)
  pkg/services/user/user.go
  pkg/services/user/userimpl/user.go
  pkg/services/user/usertest/fake.go
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests

Path conditions:
  pr-test-frontend: any file but: docs/**
  pr-test-backend: any file but: docs/**
  pr-build-e2e: any file but: docs/**
  pr-integration-tests: any file but: docs/**
  pr-docs: any of: docs/**, packages/**
