Repository grafana/grafana: changes, and which Drone steps are due for each by the changed paths.
All: pr-verify-drone, pr-verify-starlark, pr-verify-storybook, pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, end-to-end-tests-cloud-plugins-suite-azure, build-storybook, pr-integration-tests, pr-docs, pr-shellcheck, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

pr-verify-drone:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.20.3
    name: identify-runner
  - commands:
    - go build -o ./bin/build -ldflags '-extldflags -static' ./pkg/build/cmd
    depends_on: []
    environment:
      CGO_ENABLED: 0
    image: golang:1.23.1-alpine
    name: compile-build-cmd
  - commands:
  ...

pr-verify-starlark:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.20.3
    name: identify-runner
  - commands:
    - go install github.com/bazelbuild/buildtools/buildifier@latest
    - buildifier --lint=warn -mode=check -r .
    depends_on: []
    image: golang:1.23.1-alpine
    name: lint-starlark

pr-verify-storybook:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.20.3
    name: identify-runner
  - commands:
    - yarn install --immutable || yarn install --immutable
    depends_on: []
    image: node:20.9.0-alpine
    name: yarn-install
  - commands:
    - yarn storybook --quiet
    depends_on:
    - yarn-install
  ...

pr-test-frontend:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.20.3
    name: identify-runner
  - commands:
    - yarn install --immutable || yarn install --immutable
    depends_on: []
    image: node:20.9.0-alpine
    name: yarn-install
  - commands:
    - apk add --update git bash
    - yarn betterer ci
  ...

pr-lint-frontend:
  steps:
  - commands:
    - echo $(/usr/bin/github-app-external-token) > /github-app/token
    environment:
      GITHUB_APP_ID:
        from_secret: github-app-app-id
      GITHUB_APP_INSTALLATION_ID:
        from_secret: github-app-installation-id
      GITHUB_APP_PRIVATE_KEY:
  ...

pr-test-backend:
  steps:
  - commands:
    - echo $(/usr/bin/github-app-external-token) > /github-app/token
    environment:
      GITHUB_APP_ID:
        from_secret: github-app-app-id
      GITHUB_APP_INSTALLATION_ID:
        from_secret: github-app-installation-id
      GITHUB_APP_PRIVATE_KEY:
  ...

pr-lint-backend:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.20.3
    name: identify-runner
  - commands:
    - go build -o ./bin/build -ldflags '-extldflags -static' ./pkg/build/cmd
    depends_on: []
    environment:
      CGO_ENABLED: 0
    image: golang:1.23.1-alpine
    name: compile-build-cmd
  - commands:
  ...

pr-build-e2e:
  steps:
  - commands:
    - echo $(/usr/bin/github-app-external-token) > /github-app/token
    environment:
      GITHUB_APP_ID:
        from_secret: github-app-app-id
      GITHUB_APP_INSTALLATION_ID:
        from_secret: github-app-installation-id
      GITHUB_APP_PRIVATE_KEY:
  ...

end-to-end-tests-cloud-plugins-suite-azure:
  commands:
  - GITHUB_TOKEN=$(cat /github-app/token)
  - cd /
  - ./cpp-e2e/scripts/ci-run.sh azure ${DRONE_SOURCE_BRANCH}
  depends_on:
  - grafana-server
  - github-app-generate-token
  environment:
    AZURE_SP_APP_ID:
      from_secret: azure_sp_app_id
    AZURE_SP_PASSWORD:
      from_secret: azure_sp_app_pw
  ...

Simplify resource picker class
  public/app/plugins/datasource/azuremonitor/datasource.ts
  public/app/plugins/datasource/azuremonitor/resourcePicker/resourcePickerData.test.ts
  public/app/plugins/datasource/azuremonitor/resourcePicker/resourcePickerData.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, end-to-end-tests-cloud-plugins-suite-azure, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Start updating tests
  public/app/plugins/datasource/azuremonitor/azure_monitor/azure_monitor_datasource.test.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, end-to-end-tests-cloud-plugins-suite-azure, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

User decides if migrate or connect
  .betterer.results
  public/app/features/provisioning/OnboardingPage.tsx
  public/app/features/provisioning/Wizard/ConnectPage.tsx
  public/app/features/provisioning/Wizard/ConnectionStep.tsx
  public/app/features/provisioning/Wizard/MigratePage.tsx
  public/app/features/provisioning/Wizard/ProvisioningWizard.tsx
  public/app/features/provisioning/constants.ts
  public/app/features/provisioning/utils/routes.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Improve style based based on review
  public/app/features/provisioning/Wizard/ConnectionStep.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

don't show error pop-ups for SAs and renderer
  pkg/api/user.go
  public/app/core/services/backend_srv.ts
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

show explicit apply values
  pkg/apis/provisioning/v0alpha1/zz_generated.deepcopy.go
  pkg/apis/provisioning/v0alpha1/zz_generated.openapi.go
  pkg/tests/apis/openapi_snapshots/provisioning.grafana.app-v0alpha1.json
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Refactor slightly
  pkg/services/authz/rbac/service_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Chore: Bump google.golang.org/grpc to v1.64.1
  go.mod
  go.sum
  pkg/apiserver/go.mod
  pkg/apiserver/go.sum
  pkg/build/go.mod
  pkg/build/go.sum
  pkg/promlib/go.mod
  pkg/promlib/go.sum
  scripts/modowners/go.mod
  scripts/modowners/go.sum
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Chore: Bump github.com/rs/cors to v1.11.1
  go.mod
  go.sum
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Add linting ignore
  pkg/api/accesscontrol.go
  pkg/api/frontendsettings.go
  pkg/services/authn/authnimpl/usage_stats.go
  pkg/services/guardian/accesscontrol_guardian.go
  pkg/services/guardian/accesscontrol_guardian_test.go
  pkg/services/queryhistory/api.go
  pkg/services/sqlstore/migrations/accesscontrol/test/ac_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Chore: Bump github.com/golang/glog to v1.2.4
  go.mod
  go.sum
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Chore: Bump filippo.io/age to v1.2.1
  go.mod
  go.sum
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Chore: Bump github.com/ua-parser/uap-go to v0.0.0-20250213224047-9c035f085b90
  go.mod
  go.sum
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

more input validation coverage
  pkg/services/authz/rbac/service_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Chore: Bump github.com/go-jose/go-jose/v3 to v3.0.4
  go.mod
  go.sum
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Convert Migrate wizard into a Connection Wizard (#101575)
  .betterer.results
  public/app/features/provisioning/NewRepositoryPage.tsx
  public/app/features/provisioning/OnboardingPage.tsx
  public/app/features/provisioning/RepositoryListPage.tsx
  public/app/features/provisioning/Wizard/ConnectPage.tsx
  public/app/features/provisioning/Wizard/ConnectionStep.tsx
  public/app/features/provisioning/Wizard/MigratePage.tsx
  public/app/features/provisioning/Wizard/MigrateToProvisioningPage.tsx
  public/app/features/provisioning/Wizard/ProvisioningWizard.tsx
  public/app/features/provisioning/Wizard/PullStep.tsx
  public/app/features/provisioning/Wizard/types.ts
  public/app/features/provisioning/constants.ts
  public/app/features/provisioning/utils.ts
  public/app/features/provisioning/utils/routes.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Chore: Bump golang.org/x/oauth2 to v0.28.0
  go.mod
  go.sum
  pkg/apiserver/go.mod
  pkg/apiserver/go.sum
  pkg/build/go.mod
  pkg/build/go.sum
  pkg/promlib/go.mod
  pkg/promlib/go.sum
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

only hide non 4xx error pop'ups
  pkg/api/user.go
  public/app/core/services/backend_srv.ts
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Chore: Bump github.com/elazarl/goproxy to v1.7.1
  go.mod
  go.sum
  pkg/apimachinery/go.mod
  pkg/apimachinery/go.sum
  pkg/apiserver/go.mod
  pkg/apiserver/go.sum
  pkg/build/go.mod
  pkg/build/go.sum
  pkg/build/wire/go.mod
  pkg/build/wire/go.sum
  pkg/promlib/go.mod
  pkg/promlib/go.sum
  pkg/util/xorm/go.mod
  pkg/util/xorm/go.sum
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Chore: Bump golang.org/x/net to v0.36.0
  go.mod
  go.sum
  pkg/apimachinery/go.mod
  pkg/apimachinery/go.sum
  pkg/apiserver/go.mod
  pkg/apiserver/go.sum
  pkg/build/go.mod
  pkg/build/go.sum
  pkg/promlib/go.mod
  pkg/promlib/go.sum
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

more static ignore
  pkg/services/authn/authnimpl/usage_stats_test.go
  pkg/services/queryhistory/api.go
  pkg/setting/setting.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Dashboards: Rename layout display names: Default grid => Custom, Responsive grid => Auto (#101673)
  public/app/features/dashboard-scene/scene/layout-default/DefaultGridLayoutManager.tsx
  public/app/features/dashboard-scene/scene/layout-responsive-grid/ResponsiveGridLayoutManager.tsx
  public/locales/en-US/grafana.json
  public/locales/pseudo-LOCALE/grafana.json
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Require user
  pkg/services/authz/rbac/service_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Chore: Bump github.com/moby/moby to v27.5.1
  go.mod
  go.sum
  go.work.sum
  pkg/build/cmd/publishaws.go
  pkg/build/cmd/publishaws_test.go
  pkg/build/go.mod
  pkg/build/go.sum
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

typo
  pkg/services/authz/rbac/service_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Chore: Bump github.com/elazarl/goproxy to v1.7.1
  go.mod
  go.sum
  go.work.sum
  pkg/apimachinery/go.mod
  pkg/apimachinery/go.sum
  pkg/apiserver/go.mod
  pkg/apiserver/go.sum
  pkg/build/go.mod
  pkg/build/go.sum
  pkg/promlib/go.mod
  pkg/promlib/go.sum
  pkg/semconv/go.mod
  pkg/semconv/go.sum
  pkg/storage/unified/resource/go.mod
  pkg/storage/unified/resource/go.sum
  pkg/util/xorm/go.mod
  pkg/util/xorm/go.sum
  scripts/modowners/go.mod
  scripts/modowners/go.sum
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Chore: Bump github.com/openfga/openfga to v1.8.5
  go.mod
  go.sum
  go.work.sum
  pkg/apimachinery/go.mod
  pkg/apimachinery/go.sum
  pkg/apiserver/go.mod
  pkg/apiserver/go.sum
  pkg/build/go.mod
  pkg/build/go.sum
  pkg/promlib/go.mod
  pkg/promlib/go.sum
  pkg/semconv/go.mod
  pkg/semconv/go.sum
  pkg/storage/unified/resource/go.mod
  pkg/storage/unified/resource/go.sum
  pkg/util/xorm/go.mod
  pkg/util/xorm/go.sum
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Chore: Bump github.com/moby/moby to v27.5.1
  go.sum
  go.work.sum
  pkg/apimachinery/go.mod
  pkg/apimachinery/go.sum
  pkg/apiserver/go.mod
  pkg/apiserver/go.sum
  pkg/build/cmd/publishaws.go
  pkg/build/cmd/publishaws_test.go
  pkg/build/go.mod
  pkg/build/go.sum
  pkg/promlib/go.mod
  pkg/promlib/go.sum
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Zanzana: bump openfga version (#94485)
  go.mod
  go.sum
  go.work
  go.work.sum
  pkg/apimachinery/go.mod
  pkg/apimachinery/go.sum
  pkg/apiserver/go.mod
  pkg/apiserver/go.sum
  pkg/build/go.mod
  pkg/build/go.sum
  pkg/build/wire/go.mod
  pkg/build/wire/go.sum
  pkg/promlib/go.mod
  pkg/promlib/go.sum
  pkg/semconv/go.mod
  pkg/semconv/go.sum
  pkg/services/authz/zanzana/logger/logger.go
  pkg/services/authz/zanzana/store/assets/assets.go
  pkg/services/authz/zanzana/store/assets/migrations/sqlite/001_initialize_schema.sql
  pkg/services/authz/zanzana/store/assets/migrations/sqlite/002_add_authorization_model_version.sql
  pkg/services/authz/zanzana/store/assets/migrations/sqlite/003_add_reverse_lookup_index.sql
  pkg/services/authz/zanzana/store/assets/migrations/sqlite/004_add_authorization_model_serialized_protobuf.sql
  pkg/services/authz/zanzana/store/assets/migrations/sqlite/005_add_conditions_to_tuples.sql
  pkg/services/authz/zanzana/store/migration/migrator.go
  pkg/services/authz/zanzana/store/sqlite/config.go
  pkg/services/authz/zanzana/store/sqlite/store.go
  pkg/services/authz/zanzana/store/sqlite/store_test.go
  pkg/services/authz/zanzana/store/sqlite/write.go
  pkg/services/authz/zanzana/store/store.go
  pkg/storage/unified/resource/go.mod
  pkg/storage/unified/resource/go.sum
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Run update workspaces
  go.mod
  go.sum
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Fix naming and include missing error
  public/app/plugins/datasource/azuremonitor/resourcePicker/resourcePickerData.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, end-to-end-tests-cloud-plugins-suite-azure, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Update resource graph data source mock
  public/app/plugins/datasource/azuremonitor/__mocks__/datasource.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, end-to-end-tests-cloud-plugins-suite-azure, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Update tests
  public/app/plugins/datasource/azuremonitor/azure_monitor/azure_monitor_datasource.test.ts
  public/app/plugins/datasource/azuremonitor/components/ResourcePicker/ResourcePicker.test.tsx
  public/app/plugins/datasource/azuremonitor/resourcePicker/resourcePickerData.test.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, end-to-end-tests-cloud-plugins-suite-azure, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Move everything to GettingStarted Package
  .betterer.results
  public/app/features/provisioning/ConfigFormGithubCollapse.tsx
  public/app/features/provisioning/GettingStarted/FeatureCard.tsx
  public/app/features/provisioning/GettingStarted/FeatureList.tsx
  public/app/features/provisioning/GettingStarted/GettingStartedPage.tsx
  public/app/features/provisioning/GettingStarted/SetupModal.tsx
  public/app/features/provisioning/GettingStarted/SetupStep.tsx
  public/app/features/provisioning/GettingStarted/Sidebar.tsx
  public/app/features/provisioning/GettingStarted/SidebarItem.tsx
  public/app/features/provisioning/GettingStarted/StatusAlerts.tsx
  public/app/features/provisioning/GettingStarted/types.ts
  public/app/features/provisioning/GettingStarted/utils.ts
  public/app/features/provisioning/RepositoryListPage.tsx
  public/app/features/provisioning/Setup/SetupPage.tsx
  public/app/features/provisioning/constants.ts
  public/app/features/provisioning/utils/routes.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

linting
  packages/grafana-prometheus/src/components/metrics-browser/MetricsBrowserContext.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Remove unneeded parser
  public/app/plugins/datasource/azuremonitor/azure_monitor/response_parser.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, end-to-end-tests-cloud-plugins-suite-azure, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Fix missing usage
  public/app/features/provisioning/GettingStarted/GettingStartedPage.tsx
  public/app/features/provisioning/RepositoryListPage.tsx
  public/app/features/provisioning/utils/routes.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Getting started tab
  public/app/features/provisioning/RepositoryListPage.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

show explicit apply values
  pkg/apis/provisioning/v0alpha1/types.go
  pkg/apis/provisioning/v0alpha1/zz_generated.deepcopy.go
  pkg/apis/provisioning/v0alpha1/zz_generated.openapi.go
  pkg/registry/apis/provisioning/files.go
  pkg/registry/apis/provisioning/resources/parser.go
  pkg/tests/apis/openapi_snapshots/provisioning.grafana.app-v0alpha1.json
  public/app/features/provisioning/api/endpoints.gen.ts
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

fix lint
  public/app/features/provisioning/DeleteRepositoryButton.tsx
  public/app/features/provisioning/RepositoryListPage.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Path conditions:
  pr-verify-drone: any of: scripts/drone/**, .drone.yml, .drone.star, but not: docs/**, *.md
  pr-verify-starlark: any of: scripts/drone/**, .drone.star, but not: docs/**, *.md
  pr-verify-storybook: any of: packages/grafana-ui/**, but not: docs/**, *.md
  pr-test-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-lint-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-test-backend: any of: Makefile, pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, docs/sources/setup-grafana/configure-grafana/feature-toggles/**, devenv/**, but not: docs/**, *.md
  pr-lint-backend: any of: .golangci.toml, Makefile, pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, .bingo/**, but not: docs/**, *.md
  pr-build-e2e: any file but: *.md, docs/**, latest.json
  end-to-end-tests-cloud-plugins-suite-azure: any of: pkg/tsdb/azuremonitor/**, public/app/plugins/datasource/azuremonitor/**, e2e/cloud-plugins-suite/azure-monitor.spec.ts
  build-storybook: any of: packages/grafana-ui/**
  pr-integration-tests: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, but not: docs/**, *.md
  pr-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  pr-shellcheck: any of: scripts/**/*.sh, but not: *.md, docs/**, latest.json
  main-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  main-test-frontend: any file but: *.md, docs/**, latest.json
  main-lint-frontend: any file but: *.md, docs/**, latest.json
  main-test-backend: any file but: *.md, docs/**, latest.json
  main-lint-backend: any file but: *.md, docs/**, latest.json
  main-verify-storybook: any file but: *.md, docs/**, latest.json
  main-build-e2e-publish: any file but: *.md, docs/**, latest.json
  store-storybook: any of: packages/grafana-ui/**
  release-canary-npm-packages: any of: packages/**
  main-integration-tests: any file but: *.md, docs/**, latest.json
  main-trigger-downstream: any file but: *.md, docs/**, latest.json
  main-notify: any file but: *.md, docs/**, latest.json
  rgm-main-prerelease: any file but: *.md, docs/**, packages/**/*.md, latest.json
