Repository grafana/grafana: changes, and which Drone steps are due for each by the changed paths.
All: pr-verify-drone, pr-verify-starlark, pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, trigger-test-release, end-to-end-tests-cloud-plugins-suite-azure, build-storybook, pr-integration-tests, pr-docs, pr-shellcheck, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, store-storybook, main-integration-tests, main-windows, notify-drone-changes, main-trigger-downstream, main-notify

Path conditions:
  pr-verify-drone: any of: scripts/drone/**, .drone.yml, .drone.star, but not: docs/**, *.md
  pr-verify-starlark: any of: scripts/drone/**, .drone.star, but not: docs/**, *.md
  pr-test-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-lint-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-test-backend: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, but not: docs/**, *.md
  pr-lint-backend: any of: pkg/**, packaging/**, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, .bingo/**, but not: docs/**, *.md
  pr-build-e2e: any file but: *.md, docs/**, latest.json
  trigger-test-release: any of: .drone.yml, pkg/build/**
  end-to-end-tests-cloud-plugins-suite-azure: any of: pkg/tsdb/azuremonitor/**, public/app/plugins/datasource/azuremonitor/**, e2e/cloud-plugins-suite/azure-monitor.spec.ts
  build-storybook: any of: packages/grafana-ui/**
  pr-integration-tests: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, but not: docs/**, *.md
  pr-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  pr-shellcheck: any of: scripts/**/*.sh, but not: *.md, docs/**, latest.json
  main-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  main-test-frontend: any file but: *.md, docs/**, latest.json
  main-lint-frontend: any file but: *.md, docs/**, latest.json
  main-test-backend: any file but: *.md, docs/**, latest.json
  main-lint-backend: any file but: *.md, docs/**, latest.json
  main-build-e2e-publish: any file but: *.md, docs/**, latest.json
  store-storybook: any of: packages/grafana-ui/**
  main-integration-tests: any file but: *.md, docs/**, latest.json
  main-windows: any file but: *.md, docs/**, latest.json
  notify-drone-changes: any of: .drone.yml, but not: exclude
  main-trigger-downstream: any file but: *.md, docs/**, latest.json
  main-notify: any file but: *.md, docs/**, latest.json

Internationalization: Markup for Playlist Page
  public/app/features/playlist/PlaylistPage.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

PR feedback
  public/app/features/alerting/unified/hooks/useAbilities.ts
  public/app/features/alerting/unified/state/AlertmanagerContext.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Elasticsearch: Improve backend instrumentation of calls
  pkg/tsdb/elasticsearch/elasticsearch.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

[v9.4.x] CI: Run auto-milestone workflow also on reopened pull-requests (#74524)
  .github/workflows/auto-milestone.yml
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

[v9.5.x] CI: Run auto-milestone workflow also on reopened pull-requests (#74525)
  .github/workflows/auto-milestone.yml
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

[v10.0.x] CI: Run auto-milestone workflow also on reopened pull-requests (#74526)
  .github/workflows/auto-milestone.yml
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

feat: add tooltip for interval picker
  packages/grafana-ui/src/components/RefreshPicker/RefreshPicker.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, store-storybook, main-integration-tests, main-windows, main-trigger-downstream, main-notify

fix linter
  public/app/features/manage-dashboards/DashboardImportPage.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Elasticsearch: Improve backend instrumentation of `QueryData` calls (#74172)
  pkg/tsdb/elasticsearch/client/client.go
  pkg/tsdb/elasticsearch/client/client_test.go
  pkg/tsdb/elasticsearch/client/index_pattern.go
  pkg/tsdb/elasticsearch/data_query.go
  pkg/tsdb/elasticsearch/data_query_test.go
  pkg/tsdb/elasticsearch/elasticsearch.go
  pkg/tsdb/elasticsearch/parse_query.go
  pkg/tsdb/elasticsearch/parse_query_test.go
  pkg/tsdb/elasticsearch/querydata_test.go
  pkg/tsdb/elasticsearch/response_parser.go
  pkg/tsdb/elasticsearch/response_parser_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Elasticsearch: Improve backend instrumentation of `CallResource` calls (#74530)
  pkg/tsdb/elasticsearch/elasticsearch.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

[v10.1.x] CI: Run auto-milestone workflow also on reopened pull-requests (#74527)
  .github/workflows/auto-milestone.yml
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

adjust Loki to logging convention
  pkg/tsdb/loki/loki.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Cleanup
  public/app/features/explore/ContentOutline/ContentOutline.tsx
  public/app/features/explore/ContentOutline/ContentOutlineContext.tsx
  public/app/features/explore/ContentOutline/ContentOutlineItem.tsx
  public/app/features/explore/Explore.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Docs: updates ambiguous link (#74496)
  docs/sources/setup-grafana/configure-grafana/_index.md
Due: pr-docs, main-docs

no global state
  public/app/core/components/SVG/SanitizedSVG.test.tsx
  public/app/core/components/SVG/SanitizedSVG.tsx
  public/app/core/components/SVG/utils.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Fix call resource logging
  pkg/tsdb/loki/api.go
  pkg/tsdb/loki/loki.go
  pkg/tsdb/loki/streaming.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

refactor: remove ts error
  packages/grafana-ui/src/components/Dropdown/ButtonSelect.tsx
  packages/grafana-ui/src/components/RefreshPicker/RefreshPicker.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, store-storybook, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Update dataquery
  pkg/tsdb/loki/api.go
  pkg/tsdb/loki/loki.go
  pkg/tsdb/loki/streaming.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Make displayOrderId optional
  public/app/features/explore/ContentOutline/ContentOutlineContext.tsx
  public/app/features/explore/ContentOutline/ContentOutlineItem.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

postgres/sql: fix imports
  public/app/features/plugins/sql/ResponseParser.ts
  public/app/features/plugins/sql/datasource/SqlDatasource.ts
  public/app/plugins/datasource/postgres/configuration/ConfigurationEditor.tsx
  public/app/plugins/datasource/postgres/configuration/useAutoDetectFeatures.ts
  public/app/plugins/datasource/postgres/datasource.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Update
  pkg/tsdb/loki/loki.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Plugins: Fix applying default extension and AMD detection (#74471)
  public/app/features/plugins/loader/constants.ts
  public/app/features/plugins/loader/pluginLoader.mock.ts
  public/app/features/plugins/loader/systemjsHooks.test.ts
  public/app/features/plugins/loader/systemjsHooks.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Remove redundant logging
  pkg/tsdb/loki/loki.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Cleanup
  packages/grafana-ui/src/components/PanelChrome/PanelChrome.tsx
  public/app/features/explore/Graph/GraphContainer.tsx
  public/app/features/explore/NodeGraph/NodeGraphContainer.tsx
  public/app/features/explore/Table/TableContainer.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, store-storybook, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Cleanup
  public/img/icons/custom/gf-traces-2.svg
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

feat: extract new translations
  public/locales/de-DE/grafana.json
  public/locales/en-US/grafana.json
  public/locales/es-ES/grafana.json
  public/locales/fr-FR/grafana.json
  public/locales/pseudo-LOCALE/grafana.json
  public/locales/zh-Hans/grafana.json
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Fix TODO
  pkg/tsdb/loki/api.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

HttpRequestMethod enum
  docs/sources/developers/kinds/composable/canvas/panelcfg/schema-reference.md
  packages/grafana-schema/src/raw/composable/canvas/panelcfg/x/CanvasPanelCfg_types.gen.ts
  public/app/plugins/panel/canvas/editor/element/APIEditor.tsx
  public/app/plugins/panel/canvas/panelcfg.cue
  public/app/plugins/panel/canvas/panelcfg.gen.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, pr-docs, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Update public/app/features/playlist/PlaylistEditPage.tsx
  public/app/features/playlist/PlaylistEditPage.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Update PlaylistForm.tsx
  public/app/features/playlist/PlaylistForm.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Update public/app/features/playlist/PlaylistPage.tsx
  public/app/features/playlist/PlaylistPage.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Rename action to stage and use variables
  pkg/tsdb/loki/api.go
  pkg/tsdb/loki/loki.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

chore(npm): bump systemjs-cjs-extra to 0.1.1
  packages/grafana-runtime/package.json
  yarn.lock
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Elasticsearch: Adjust naming in logging according to convention
  pkg/tsdb/elasticsearch/client/client.go
  pkg/tsdb/elasticsearch/data_query.go
  pkg/tsdb/elasticsearch/elasticsearch.go
  pkg/tsdb/elasticsearch/response_parser.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Docs alerting: meta monitoring topics (#74440)
  docs/sources/alerting/monitor/_index.md
  docs/sources/alerting/monitor/meta-monitoring/_index.md
Due: pr-docs, main-docs
