Repository grafana/grafana: changes, and which Drone steps are due for each by the changed paths.
All: pr-verify-drone, pr-verify-starlark, pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, trigger-test-release, end-to-end-tests-cloud-plugins-suite-azure, build-storybook, pr-integration-tests, pr-docs, pr-shellcheck, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, store-storybook, main-integration-tests, main-windows, notify-drone-changes, main-trigger-downstream, main-notify

pr-verify-drone:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.17.1
    name: identify-runner
  - commands:
    - go build -o ./bin/build -ldflags '-extldflags -static' ./pkg/build/cmd
    depends_on: []
    environment:
      CGO_ENABLED: 0
    image: golang:1.20.1
    name: compile-build-cmd
  - commands:
  ...

pr-verify-starlark:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.17.1
    name: identify-runner
  - commands:
    - go build -o ./bin/build -ldflags '-extldflags -static' ./pkg/build/cmd
    depends_on: []
    environment:
      CGO_ENABLED: 0
    image: golang:1.20.1
    name: compile-build-cmd
  - commands:
  ...

pr-test-frontend:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.17.1
    name: identify-runner
  - commands:
    - mkdir -p bin
    - curl -fL -o bin/grabpl https://grafana-downloads.storage.googleapis.com/grafana-build-pipeline/v3.0.30/grabpl
    - chmod +x bin/grabpl
    image: byrnedo/alpine-curl:0.1.8
  ...

pr-lint-frontend:
  steps:
  - commands:
    - is_fork=$(curl "https://$GITHUB_TOKEN@api.github.com/repos/grafana/grafana/pulls/$DRONE_PULL_REQUEST" | jq .head.repo.fork)
    - if [ "$is_fork" != false ]; then return 1; fi
  ...

pr-test-backend:
  steps:
  - commands:
    - is_fork=$(curl "https://$GITHUB_TOKEN@api.github.com/repos/grafana/grafana/pulls/$DRONE_PULL_REQUEST" | jq .head.repo.fork)
    - if [ "$is_fork" != false ]; then return 1; fi
  ...

pr-lint-backend:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.17.1
    name: identify-runner
  - commands:
    - go build -o ./bin/build -ldflags '-extldflags -static' ./pkg/build/cmd
    depends_on: []
    environment:
      CGO_ENABLED: 0
    image: golang:1.20.1
    name: compile-build-cmd
  - commands:
  ...

pr-build-e2e:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.17.1
    name: identify-runner
  - commands:
    - mkdir -p bin
    - curl -fL -o bin/grabpl https://grafana-downloads.storage.googleapis.com/grafana-build-pipeline/v3.0.30/grabpl
    - chmod +x bin/grabpl
    image: byrnedo/alpine-curl:0.1.8
  ...

trigger-test-release:
  commands:
  - git clone "https://$${GITHUB_TOKEN}@github.com/grafana/grafana-enterprise.git" --depth=1
  - cd grafana-enterprise
  - git fetch origin "refs/tags/*:refs/tags/*" --quiet
  - if git show-ref --tags $${TEST_TAG} --quiet; then git tag -d $${TEST_TAG} && git push --delete origin $${TEST_TAG}; fi
  ...

end-to-end-tests-cloud-plugins-suite-azure:
  commands:
  - cd /
  - ./cpp-e2e/scripts/ci-run.sh azure ${DRONE_SOURCE_BRANCH}
  depends_on:
  - grafana-server
  environment:
    AZURE_SP_APP_ID:
      from_secret: azure_sp_app_id
    AZURE_SP_PASSWORD:
      from_secret: azure_sp_app_pw
    AZURE_TENANT:
      from_secret: azure_tenant
    CYPRESS_CI: 'true'
  ...

notify-drone-changes:
  steps:
  - image: plugins/slack
    name: slack
    settings:
      channel: slack-webhooks-test
  ...

DashboardScene: Set maxDataPointsFromWidth to true (#76319)
  public/app/features/dashboard-scene/serialization/transformSaveModelToScene.test.ts
  public/app/features/dashboard-scene/utils/createPanelDataProvider.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Explore: Use short units in graphs (#76358)
  public/app/features/explore/Graph/ExploreGraph.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Chore: Update grafana/saml to the latest (#76363)
  go.mod
  go.sum
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Sandbox: e2e tests for apps running inside the frontend sandbox (#76357)
  e2e/custom-plugins/frontend-sandbox-app-test/img/logo.svg
  e2e/custom-plugins/frontend-sandbox-app-test/module.js
  e2e/custom-plugins/frontend-sandbox-app-test/plugin.json
  e2e/custom-plugins/frontend-sandbox-panel-test/img/logo.svg
  e2e/panels-suite/frontend-sandbox-panel.spec.ts
  e2e/various-suite/frontend-sandbox-app.spec.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Schema: Clean up / correct panel schema (#76346)
  docs/sources/developers/kinds/core/dashboard/schema-reference.md
  kinds/dashboard/dashboard_kind.cue
  packages/grafana-schema/src/raw/dashboard/x/dashboard_types.gen.ts
  packages/grafana-schema/src/veneer/dashboard.types.ts
  pkg/kinds/dashboard/dashboard_spec_gen.go
  public/app/features/alerting/TestRuleResult.test.tsx
  public/app/features/dashboard-scene/serialization/transformSaveModelToScene.test.ts
  public/app/features/dashboard-scene/serialization/transformSceneToSaveModel.test.ts
  public/app/features/dashboard/components/DashboardPrompt/DashboardPrompt.test.tsx
  public/app/features/dashboard/components/GenAI/utils.test.ts
  public/app/features/dashboard/state/DashboardMigrator.test.ts
  public/app/features/dashboard/state/DashboardModel.test.ts
  public/app/features/dashboard/state/__fixtures__/dashboardFixtures.ts
  public/app/features/dashboard/state/reducers.test.ts
  public/app/features/dashboard/utils/panelMerge.test.ts
  public/app/plugins/datasource/dashboard/DashboardQueryEditor.test.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, pr-docs, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Update origin annotation names (#76301)
  pkg/kinds/general.go
  pkg/services/dashboards/models_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Chore: Add grafana-data transformations to BI squad in CODEOWNERS (#76314)
  .github/CODEOWNERS
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Alerting: Add provenance field to /api/v1/provisioning/alert-rules (#76252)
  pkg/services/ngalert/api/api_provisioning.go
  pkg/services/ngalert/api/compat.go
  pkg/services/ngalert/provisioning/alert_rules.go
  pkg/tests/api/alerting/api_provisioning_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Fix container width not being set after latest scenes update (#76372)
  public/app/features/dashboard-scene/utils/test-utils.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

RBAC: Fix plugins pages access-control (#76321)
  pkg/api/api.go
  pkg/middleware/auth.go
  pkg/services/navtree/navtreeimpl/admin.go
  public/app/features/plugins/admin/routes.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Alerting: add help texts to insights (#76366)
  public/app/features/alerting/unified/home/Insights.tsx
  public/app/features/alerting/unified/insights/SectionFooter.tsx
  public/app/features/alerting/unified/insights/SectionSubheader.tsx
  public/app/features/alerting/unified/insights/grafana/AlertsByStateScene.tsx
  public/app/features/alerting/unified/insights/grafana/EvalSuccessVsFailuresScene.tsx
  public/app/features/alerting/unified/insights/grafana/Firing.tsx
  public/app/features/alerting/unified/insights/grafana/InstanceStatusScene.tsx
  public/app/features/alerting/unified/insights/grafana/MissedIterationsScene.tsx
  public/app/features/alerting/unified/insights/grafana/MostFiredInstancesTable.tsx
  public/app/features/alerting/unified/insights/grafana/Paused.tsx
  public/app/features/alerting/unified/insights/grafana/RulesByEvaluation.tsx
  public/app/features/alerting/unified/insights/grafana/RulesByEvaluationPercentage.tsx
  public/app/features/alerting/unified/insights/grafana/alertmanager/NotificationsScene.tsx
  public/app/features/alerting/unified/insights/grafana/alertmanager/SilencesByStateScene.tsx
  public/app/features/alerting/unified/insights/mimir/AlertsByState.tsx
  public/app/features/alerting/unified/insights/mimir/InvalidConfig.tsx
  public/app/features/alerting/unified/insights/mimir/Notifications.tsx
  public/app/features/alerting/unified/insights/mimir/Silences.tsx
  public/app/features/alerting/unified/insights/mimir/perGroup/RuleGroupEvaluationDurationIntervalRatioScene.tsx
  public/app/features/alerting/unified/insights/mimir/perGroup/RuleGroupEvaluationDurationScene.tsx
  public/app/features/alerting/unified/insights/mimir/perGroup/RuleGroupEvaluationsScene.tsx
  public/app/features/alerting/unified/insights/mimir/perGroup/RuleGroupIntervalScene.tsx
  public/app/features/alerting/unified/insights/mimir/perGroup/RulesPerGroupScene.tsx
  public/app/features/alerting/unified/insights/mimir/rules/EvalSuccessVsFailuresScene.tsx
  public/app/features/alerting/unified/insights/mimir/rules/Firing.tsx
  public/app/features/alerting/unified/insights/mimir/rules/InstancesByState.tsx
  public/app/features/alerting/unified/insights/mimir/rules/InstancesPercentageByState.tsx
  public/app/features/alerting/unified/insights/mimir/rules/MissedIterationsScene.tsx
  public/app/features/alerting/unified/insights/mimir/rules/MostFiredRules.tsx
  public/app/features/alerting/unified/insights/mimir/rules/Pending.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Custom variable: Initialize options from query if not present in persisted model (#76403)
  public/app/features/variables/state/actions.test.ts
  public/app/features/variables/state/actions.ts
  public/app/features/variables/state/processVariable.test.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Alerting: Use new endpoints in the Modify Export (#75796)
  public/app/features/alerting/unified/api/alertRuleApi.ts
  public/app/features/alerting/unified/components/export/GrafanaModifyExport.tsx
  public/app/features/alerting/unified/components/rule-editor/FolderAndGroup.tsx
  public/app/features/alerting/unified/components/rule-editor/GrafanaEvaluationBehavior.tsx
  public/app/features/alerting/unified/components/rule-editor/alert-rule-form/AlertRuleForm.tsx
  public/app/features/alerting/unified/components/rule-editor/alert-rule-form/ModifyExportRuleForm.tsx
  public/app/features/alerting/unified/components/rule-editor/alert-rule-form/getPayloadToExport.test.ts
  public/app/features/alerting/unified/components/rule-editor/util.ts
  public/app/features/alerting/unified/components/rules/RuleActionsButtons.tsx
  public/app/features/alerting/unified/utils/rule-form.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Canvas: Button API - Block Calls to Grafana (#76309)
  public/app/plugins/panel/canvas/editor/element/utils.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Minor fixes for TraceQL query editor (#76344)
  package.json
  public/app/plugins/datasource/tempo/traceql/TraceQLEditor.test.tsx
  public/app/plugins/datasource/tempo/traceql/TraceQLEditor.tsx
  public/app/plugins/datasource/tempo/traceql/errorHighlighting.ts
  yarn.lock
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Teams: Move team API to own service (#76347)
  pkg/api/api.go
  pkg/api/common_test.go
  pkg/api/http_server.go
  pkg/api/preferences.go
  pkg/registry/backgroundsvcs/background_services.go
  pkg/server/wire.go
  pkg/services/preference/prefapi/api.go
  pkg/services/team/teamapi/api.go
  pkg/services/team/teamapi/team.go
  pkg/services/team/teamapi/team_members.go
  pkg/services/team/teamapi/team_members_test.go
  pkg/services/team/teamapi/team_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Alerting: Enable Insights landing page (#76381)
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, pr-docs, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Chore: Update @testing-library/dom to v9.3.3 (#76364)
  package.json
  packages/grafana-data/package.json
  packages/grafana-runtime/package.json
  packages/grafana-ui/package.json
  yarn.lock
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, store-storybook, main-integration-tests, main-windows, main-trigger-downstream, main-notify

FeatureToggle: Add awsDatasourcesNewFormStyling feature toggle (#76110)
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.go
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, pr-docs, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Auth: None basic role update docs (#75955)
  docs/sources/administration/roles-and-permissions/access-control/_index.md
  docs/sources/administration/roles-and-permissions/access-control/manage-rbac-roles/index.md
  docs/sources/administration/roles-and-permissions/access-control/plan-rbac-rollout-strategy/index.md
  docs/sources/administration/user-management/manage-org-users/index.md
  docs/sources/setup-grafana/configure-grafana/enterprise-configuration/index.md
  docs/sources/setup-grafana/configure-security/configure-authentication/generic-oauth/index.md
Due: pr-docs, main-docs

i18n: Markup Explorer Graph for translation (#76099)
  public/app/features/explore/Graph/GraphContainer.tsx
  public/locales/de-DE/grafana.json
  public/locales/en-US/grafana.json
  public/locales/es-ES/grafana.json
  public/locales/fr-FR/grafana.json
  public/locales/pseudo-LOCALE/grafana.json
  public/locales/zh-Hans/grafana.json
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Chore: Improve EchoSrv logging (#76385)
  packages/grafana-ui/src/utils/logger.ts
  public/app/core/services/echo/Echo.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, store-storybook, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Alerting: text updates / replace panel (#76407)
  public/app/features/alerting/unified/home/Insights.tsx
  public/app/features/alerting/unified/insights/grafana/MostFiredRulesTable.tsx
  public/app/features/alerting/unified/insights/grafana/alertmanager/AlertsByState.tsx
  public/app/features/alerting/unified/insights/mimir/rules/MostFiredRules.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Playlist: Use a different go struct for sql service vs k8s (#76393)
  docs/sources/developers/kinds/core/playlist/schema-reference.md
  kinds/playlist/playlist_kind.cue
  packages/grafana-schema/src/index.gen.ts
  packages/grafana-schema/src/raw/playlist/x/playlist_types.gen.ts
  pkg/apis/playlist/v0alpha1/conversions.go
  pkg/apis/playlist/v0alpha1/conversions_test.go
  pkg/apis/playlist/v0alpha1/legacy_storage.go
  pkg/apis/playlist/v0alpha1/openapi.go
  pkg/apis/playlist/v0alpha1/register.go
  pkg/apis/playlist/v0alpha1/types.go
  pkg/apis/playlist/v0alpha1/types_test.go
  pkg/apis/playlist/v0alpha1/zz_generated.deepcopy.go
  pkg/apis/playlist/v0alpha1/zz_generated.openapi.go
  pkg/kinds/playlist/playlist_gen.go
  pkg/kinds/playlist/playlist_kind_gen.go
  pkg/kinds/playlist/playlist_metadata_gen.go
  pkg/kinds/playlist/playlist_spec_gen.go
  pkg/kinds/playlist/playlist_status_gen.go
  pkg/kindsysreport/codegen/report.json
  pkg/registry/corekind/base_gen.go
  pkg/services/playlist/model.go
  pkg/services/playlist/playlistimpl/playlist.go
  pkg/services/store/kind/playlist/summary.go
  pkg/services/store/kind/playlist/summary_test.go
  pkg/services/store/kind/registry.go
  pkg/services/store/kind/registry_test.go
  public/app/features/playlist/api.ts
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, pr-docs, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

RBAC: Allow the basic role None as option of the org role selector (#76335)
  public/app/features/admin/OrgRolePicker.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

[Docs] Annotate visualizations update (#76395)
  docs/sources/dashboards/build-dashboards/annotate-visualizations/index.md
Due: pr-docs, main-docs

PluginExtensions: Made it possible to control modal size from extension (#76232)
  packages/grafana-data/src/types/index.ts
  packages/grafana-data/src/types/pluginExtensions.ts
  public/app/features/plugins/extensions/utils.test.tsx
  public/app/features/plugins/extensions/utils.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Fix typo in link label (#76443)
  docs/sources/alerting/manage-notifications/template-notifications/_index.md
Due: pr-docs, main-docs

CI: github-release workflow should forward "latest" input (#75139)
  .github/workflows/github-release.yml
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

AuthN: Add service account token generation to `ExtSvcAccountsService` (#76327)
  pkg/services/extsvcauth/errors.go
  pkg/services/extsvcauth/extsvcaccounts/models.go
  pkg/services/extsvcauth/extsvcaccounts/service.go
  pkg/services/extsvcauth/extsvcaccounts/service_test.go
  pkg/services/extsvcauth/models.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

TraceView/TracesPanel: Allow providing custom span link creator function (#76332)
  public/app/features/explore/TraceView/TraceView.tsx
  public/app/plugins/panel/traces/TracesPanel.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Auth: Enable `None` role for 10.2 (#76343)
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.go
  public/app/core/components/RolePicker/BuiltinRoleSelector.tsx
  public/app/core/components/RolePicker/RolePickerMenu.tsx
  public/app/features/org/UserInviteForm.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, pr-docs, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

TimeSeries: Fix showing datalinks when clicking on a point (#76492)
  public/app/plugins/panel/timeseries/plugins/ContextMenuPlugin.tsx
  public/app/plugins/panel/trend/TrendPanel.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

DashboardScene: Support for dashboard PanelContext actions via state hook (#76192)
  .betterer.results
  docs/sources/developers/kinds/core/dashboard/schema-reference.md
  kinds/dashboard/dashboard_kind.cue
  package.json
  packages/grafana-schema/src/raw/dashboard/x/dashboard_types.gen.ts
  pkg/kinds/dashboard/dashboard_spec_gen.go
  public/app/features/dashboard-scene/scene/DashboardScene.tsx
  public/app/features/dashboard-scene/scene/LibraryVizPanel.tsx
  public/app/features/dashboard-scene/scene/setDashboardPanelContext.test.ts
  public/app/features/dashboard-scene/scene/setDashboardPanelContext.ts
  public/app/features/dashboard-scene/serialization/transformSaveModelToScene.test.ts
  public/app/features/dashboard-scene/serialization/transformSaveModelToScene.ts
  public/app/features/dashboard-scene/serialization/transformSceneToSaveModel.ts
  yarn.lock
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, pr-docs, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

chore(76107): Remove legacy form from InfluxConfigEditor (#76382)
  public/app/plugins/datasource/influxdb/components/editor/config/ConfigEditor.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Test data source: Add random node radius for nodegraph (#75381)
  public/app/plugins/datasource/grafana-testdata-datasource/nodeGraphUtils.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Alerting: Add rules export on a folder level (#76016)
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.go
  public/app/features/alerting/routes.tsx
  public/app/features/alerting/unified/MoreActionsRuleButtons.tsx
  public/app/features/alerting/unified/RuleEditor.tsx
  public/app/features/alerting/unified/RuleList.test.tsx
  public/app/features/alerting/unified/RuleList.tsx
  public/app/features/alerting/unified/RuleViewer.tsx
  public/app/features/alerting/unified/api/alertRuleApi.ts
  public/app/features/alerting/unified/components/export/GrafanaModifyExport.test.tsx
  public/app/features/alerting/unified/components/export/GrafanaRuleExporter.tsx
  public/app/features/alerting/unified/components/export/GrafanaRuleFolderExporter.tsx
  public/app/features/alerting/unified/components/export/GrafanaRuleGroupExporter.tsx
  public/app/features/alerting/unified/components/rule-viewer/RuleViewer.v1.test.tsx
  public/app/features/alerting/unified/components/rules/RuleActionsButtons.tsx
  public/app/features/alerting/unified/components/rules/RuleDetailsActionButtons.tsx
  public/app/features/alerting/unified/components/rules/RulesGroup.test.tsx
  public/app/features/alerting/unified/components/rules/RulesGroup.tsx
  public/app/features/alerting/unified/components/rules/RulesTable.test.tsx
  public/app/features/alerting/unified/mockApi.ts
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, pr-docs, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Prometheus: Variable query, allow for label values query type with label, label filters and no metric (#76472)
  public/app/plugins/datasource/prometheus/components/VariableQueryEditor.test.tsx
  public/app/plugins/datasource/prometheus/components/VariableQueryEditor.tsx
  public/app/plugins/datasource/prometheus/migrations/variableMigration.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Path conditions:
  pr-verify-drone: any of: scripts/drone/**, .drone.yml, .drone.star, but not: docs/**, *.md
  pr-verify-starlark: any of: scripts/drone/**, .drone.star, but not: docs/**, *.md
  pr-test-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-lint-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-test-backend: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, but not: docs/**, *.md
  pr-lint-backend: any of: pkg/**, packaging/**, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, .bingo/**, but not: docs/**, *.md
  pr-build-e2e: any file but: *.md, docs/**, latest.json
  trigger-test-release: any of: .drone.yml, pkg/build/**
  end-to-end-tests-cloud-plugins-suite-azure: any of: pkg/tsdb/azuremonitor/**, public/app/plugins/datasource/azuremonitor/**, e2e/cloud-plugins-suite/azure-monitor.spec.ts
  build-storybook: any of: packages/grafana-ui/**
  pr-integration-tests: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, but not: docs/**, *.md
  pr-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  pr-shellcheck: any of: scripts/**/*.sh, but not: *.md, docs/**, latest.json
  main-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  main-test-frontend: any file but: *.md, docs/**, latest.json
  main-lint-frontend: any file but: *.md, docs/**, latest.json
  main-test-backend: any file but: *.md, docs/**, latest.json
  main-lint-backend: any file but: *.md, docs/**, latest.json
  main-build-e2e-publish: any file but: *.md, docs/**, latest.json
  store-storybook: any of: packages/grafana-ui/**
  main-integration-tests: any file but: *.md, docs/**, latest.json
  main-windows: any file but: *.md, docs/**, latest.json
  notify-drone-changes: any of: .drone.yml, but not: exclude
  main-trigger-downstream: any file but: *.md, docs/**, latest.json
  main-notify: any file but: *.md, docs/**, latest.json
