Repository grafana/grafana: changes, and which Drone steps are due for each by the changed paths.
All: pr-verify-drone, pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, pr-docs, main-docs, main-test-frontend, main-test-backend, main-build-e2e-publish, trigger-test-release, main-integration-tests, main-windows, notify-drone-changes, main-publish, main-notify

Path conditions:
  pr-verify-drone: any of: scripts/drone/**, .drone.yml, .drone.star, but not: docs/**, *.md
  pr-test-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-test-backend: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, but not: docs/**, *.md
  pr-build-e2e: any file but: *.md, docs/**, latest.json
  pr-integration-tests: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, but not: docs/**, *.md
  pr-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  main-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  main-test-frontend: any file but: *.md, docs/**, latest.json
  main-test-backend: any file but: *.md, docs/**, latest.json
  main-build-e2e-publish: any file but: *.md, docs/**, latest.json
  trigger-test-release: any of: .drone.yml, pkg/build/**
  main-integration-tests: any file but: *.md, docs/**, latest.json
  main-windows: any file but: *.md, docs/**, latest.json
  notify-drone-changes: any of: .drone.yml, but not: exclude
  main-publish: any file but: *.md, docs/**, latest.json
  main-notify: any file but: *.md, docs/**, latest.json

[v9.3.x] CloudWatch: Fix deeplinks to still be able to pass log group names (#60216)
  public/app/plugins/datasource/cloudwatch/utils/datalinks.test.ts
  public/app/plugins/datasource/cloudwatch/utils/datalinks.ts
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

refactor: make query for the SearchQuery
  pkg/services/serviceaccounts/api/api.go
  pkg/services/serviceaccounts/database/store.go
  pkg/services/serviceaccounts/database/store_test.go
  pkg/services/serviceaccounts/manager/service.go
  pkg/services/serviceaccounts/manager/service_test.go
  pkg/services/serviceaccounts/manager/store.go
  pkg/services/serviceaccounts/models.go
  pkg/services/serviceaccounts/tests/common.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

user essentials mob! :trident:
  packages/grafana-ui/src/components/Sparkline/Sparkline.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Chore: Refactor trace-generators.js to TypeScript (#59431)
  packages/jaeger-ui-components/src/demo/chance.d.ts
  packages/jaeger-ui-components/src/demo/trace-generators.ts
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

use css class rather css strings
  public/app/features/explore/LogsNavigationPages.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

WIP: Implement backend CheckHealth in SQL engine datasources
  pkg/tsdb/sqleng/sql_engine.go
  public/app/features/plugins/sql/datasource/SqlDatasource.ts
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Implement Backend CheckHealth in Postgres datasource
  pkg/tsdb/postgres/postgres.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

[v9.3.x] Tempo: Fix TraceQL autocomplete issues (#60058) (#60125) (#60170)
  .betterer.results
  public/app/plugins/datasource/tempo/traceql/autocomplete.test.ts
  public/app/plugins/datasource/tempo/traceql/autocomplete.ts
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Alerting: Add provisioning endpoint to fetch all rules (#59989)
  pkg/services/ngalert/api/api_provisioning.go
  pkg/services/ngalert/api/authorization.go
  pkg/services/ngalert/api/generated_base_api_provisioning.go
  pkg/services/ngalert/api/provisioning.go
  pkg/services/ngalert/api/tooling/api.json
  pkg/services/ngalert/api/tooling/definitions/provisioning_alert_rules.go
  pkg/services/ngalert/api/tooling/post.json
  pkg/services/ngalert/api/tooling/spec.json
  pkg/services/ngalert/provisioning/alert_rules.go
  public/api-merged.json
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Chore: Remove `%w` and `err` from print line (#60215)
  pkg/build/cmd/genversions.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, trigger-test-release, main-integration-tests, main-windows, main-publish, main-notify

Fixed so we link to the proper job and step.
  .github/workflows/scripts/pr-get-job-link.js
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

fix: grouping to matrix empty value test
  packages/grafana-data/src/transformations/transformers/groupingToMatrix.test.ts
  packages/grafana-data/src/types/transformations.ts
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

user essentials mob! :trident:
  packages/grafana-ui/src/components/Sparkline/Sparkline.tsx
  public/app/plugins/panel/stat/StatPanel.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Loki: Set custom width for modals in the loki query editor (#59714)
  public/app/plugins/datasource/loki/querybuilder/components/LabelBrowserModal.tsx
  public/app/plugins/datasource/loki/querybuilder/components/QueryPatternsModal.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

VizPanel - add variables dependencies definition
  public/app/features/scenes/components/VizPanel/VizPanel.tsx
  public/app/features/scenes/components/VizPanel/VizPanelRenderer.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Fix login flow
  pkg/login/ldap_login.go
  pkg/services/multildap/multildap.go
  pkg/services/multildap/multildap_test.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

feat(loki-monaco-autocomplete): remove leftover parser detection
  public/app/plugins/datasource/loki/components/monaco-query-field/monaco-completion-provider/situation.test.ts
  public/app/plugins/datasource/loki/components/monaco-query-field/monaco-completion-provider/situation.ts
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Add icon
  public/img/icons/unicons/flip.svg
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Fix X-ID-Token and X-Id-Token being present twice (Fixes #59940)
  pkg/infra/httpclient/httpclientprovider/set_headers_middleware.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Update oauth token middleware tests
  pkg/services/pluginsintegration/clientmiddleware/oauthtoken_middleware_test.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Docs: adds workaround for editing provisioned rules using the HTTP API (#59094)
  docs/sources/alerting/set-up/provision-alerting-resources/_index.md
Due: pr-docs, main-docs

Migrate variables to scene variables
  .betterer.results
  public/app/features/scenes/components/VizPanel/VizPanel.tsx
  public/app/features/scenes/dashboard/DashboardScene.tsx
  public/app/features/scenes/dashboard/DashboardsLoader.test.ts
  public/app/features/scenes/dashboard/DashboardsLoader.ts
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

[v9.3.x] Docs: adds workaround for editing provisioned rules using the HTTP API (#60224)
  docs/sources/alerting/set-up/provision-alerting-resources/_index.md
Due: pr-docs, main-docs

TopNav: Align profile button with search bar toggle (#60212)
  public/app/core/components/AppChrome/TopSearchBar.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

use the branding menu logo in topnav
  public/app/core/components/AppChrome/TopSearchBar.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

change format of query builder hints
  public/app/plugins/datasource/prometheus/querybuilder/shared/QueryBuilderHints.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Elasticsearch: Add query building for raw data and raw document queries to backend (#59741)
  pkg/tsdb/elasticsearch/client/search_request.go
  pkg/tsdb/elasticsearch/models.go
  pkg/tsdb/elasticsearch/snapshot_test.go
  pkg/tsdb/elasticsearch/testdata_request/raw_data.queries.json
  pkg/tsdb/elasticsearch/testdata_request/raw_data.request.line1.json
  pkg/tsdb/elasticsearch/testdata_request/raw_document.queries.json
  pkg/tsdb/elasticsearch/testdata_request/raw_document.request.line1.json
  pkg/tsdb/elasticsearch/time_series_query.go
  pkg/tsdb/elasticsearch/time_series_query_test.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Update README.md
  devenv/docker/blocks/auth/openldap-mac/README.md
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Delete width, height and fill on the flip svg file
  public/img/icons/unicons/flip.svg
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

deprecate sentry
  .github/renovate.json5
  pkg/api/frontend_logging.go
  pkg/setting/setting_sentry.go
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Align test
  pkg/services/multildap/multildap.go
  pkg/services/multildap/multildap_test.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Remove traceqlEditor feature flag.
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.go
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, pr-docs, main-docs, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

fix tests
  public/app/plugins/datasource/prometheus/querybuilder/components/PromQueryBuilder.test.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Remove traceId query type from Tempo and replace it with traceQl
  public/app/plugins/datasource/prometheus/result_transformer.ts
  public/app/plugins/datasource/tempo/QueryEditor/QueryField.tsx
  public/app/plugins/datasource/tempo/datasource.test.ts
  public/app/plugins/datasource/tempo/datasource.ts
  public/app/plugins/datasource/tempo/resultTransformer.ts
  public/app/plugins/datasource/tempo/types.ts
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Elasticsearch: backend: do not set name for time-fields (#60169)
  pkg/tsdb/elasticsearch/response_parser.go
  pkg/tsdb/elasticsearch/response_parser_frontend_test.go
  pkg/tsdb/elasticsearch/response_parser_test.go
  pkg/tsdb/elasticsearch/testdata/trimedges_string.golden.jsonc
  pkg/tsdb/elasticsearch/testdata_response/metric_complex.a.golden.jsonc
  pkg/tsdb/elasticsearch/testdata_response/metric_multi.a.golden.jsonc
  pkg/tsdb/elasticsearch/testdata_response/metric_multi.b.golden.jsonc
  pkg/tsdb/elasticsearch/testdata_response/metric_simple.a.golden.jsonc
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Update
  pkg/tsdb/elasticsearch/snapshot_test.go
  pkg/tsdb/elasticsearch/time_series_query.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

ignore log statement result
  pkg/setting/setting_sentry.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Snapshots: Fix originalUrl spoof security issue
  pkg/api/dashboard_snapshot.go
  public/app/features/dashboard/components/DashNav/DashNav.tsx
  public/app/features/dashboard/components/DashNav/hooks.tsx
  public/app/features/dashboard/components/ShareModal/ShareSnapshot.tsx
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

use existing modal management tools
  packages/grafana-ui/src/components/ConfirmModal/ConfirmModal.tsx
  public/app/features/dashboard/components/DashNav/DashNav.tsx
  public/app/features/dashboard/components/DashNav/hooks.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Remove unused hooks file
  public/app/features/dashboard/components/DashNav/hooks.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify
