Repository grafana/grafana: changes, and which Drone steps are due for each by the changed paths.
All: pr-verify-drone, pr-verify-starlark, pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, trigger-test-release, end-to-end-tests-cloud-plugins-suite-azure, build-storybook, pr-integration-tests, pr-docs, pr-shellcheck, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, store-storybook, main-integration-tests, main-windows, notify-drone-changes, main-trigger-downstream, main-notify

Path conditions:
  pr-verify-drone: any of: scripts/drone/**, .drone.yml, .drone.star, but not: docs/**, *.md
  pr-verify-starlark: any of: scripts/drone/**, .drone.star, but not: docs/**, *.md
  pr-test-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-lint-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-test-backend: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, but not: docs/**, *.md
  pr-lint-backend: any of: pkg/**, packaging/**, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, .bingo/**, but not: docs/**, *.md
  pr-build-e2e: any file but: *.md, docs/**, latest.json
  trigger-test-release: any of: .drone.yml, pkg/build/**
  end-to-end-tests-cloud-plugins-suite-azure: any of: pkg/tsdb/azuremonitor/**, public/app/plugins/datasource/azuremonitor/**, e2e/cloud-plugins-suite/azure-monitor.spec.ts
  build-storybook: any of: packages/grafana-ui/**
  pr-integration-tests: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, but not: docs/**, *.md
  pr-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  pr-shellcheck: any of: scripts/**/*.sh, but not: *.md, docs/**, latest.json
  main-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  main-test-frontend: any file but: *.md, docs/**, latest.json
  main-lint-frontend: any file but: *.md, docs/**, latest.json
  main-test-backend: any file but: *.md, docs/**, latest.json
  main-lint-backend: any file but: *.md, docs/**, latest.json
  main-build-e2e-publish: any file but: *.md, docs/**, latest.json
  store-storybook: any of: packages/grafana-ui/**
  main-integration-tests: any file but: *.md, docs/**, latest.json
  main-windows: any file but: *.md, docs/**, latest.json
  notify-drone-changes: any of: .drone.yml, but not: exclude
  main-trigger-downstream: any file but: *.md, docs/**, latest.json
  main-notify: any file but: *.md, docs/**, latest.json

refactor + tests
  public/app/features/dashboard-scene/scene/DashboardScene.test.tsx
  public/app/features/dashboard-scene/scene/DashboardScene.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

InfluxDB: Fix escaping template variable when it was used in parentheses (#83400)
  public/app/plugins/datasource/influxdb/datasource.test.ts
  public/app/plugins/datasource/influxdb/datasource.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

InfluxDB: Fix sql query generation by adding quotes around the identifiers (#83765)
  public/app/plugins/datasource/influxdb/fsql/datasource.flightsql.ts
  public/app/plugins/datasource/influxdb/fsql/sqlUtil.test.ts
  public/app/plugins/datasource/influxdb/fsql/sqlUtil.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Fix autoformatting mistake for bash file
  e2e/run-suite
  package.json
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Start decoupling
  pkg/tsdb/loki/api.go
  pkg/tsdb/loki/loki.go
  pkg/tsdb/loki/streaming.go
  pkg/tsdb/loki/tracing/settings.go
  pkg/tsdb/loki/tracing/test_helper.go
  pkg/tsdb/loki/tracing/tracing.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

ExtSvcAccounts: FIX tests that accidently depended on enterprise (#84535)
  pkg/services/serviceaccounts/manager/service_test.go
  pkg/services/serviceaccounts/manager/stats_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

reset edit index on variable delete
  public/app/features/dashboard-scene/settings/VariablesEditView.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Cloudwatch: Remove cloudWatchWildCardDimensionValues feature toggle (#84329)
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.go
  pkg/services/featuremgmt/toggles_gen.json
  pkg/tsdb/cloudwatch/features/features.go
  pkg/tsdb/cloudwatch/get_dimension_values_for_wildcards.go
  pkg/tsdb/cloudwatch/get_dimension_values_for_wildcards_test.go
  pkg/tsdb/cloudwatch/test_utils.go
  pkg/tsdb/cloudwatch/time_series_query.go
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, pr-docs, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

InfluxDB: Fix interpolation of multi value template variables by adding parenthesis around them (#83577)
  public/app/plugins/datasource/influxdb/datasource.test.ts
  public/app/plugins/datasource/influxdb/datasource.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Service accounts: Same Org fix migration to account for duplicate entries (#84349)
  pkg/services/sqlstore/migrations/user/service_account_multiple_org_login_migrator.go
  pkg/services/sqlstore/migrations/user/test/service_account_test.go
  pkg/services/sqlstore/migrations/user/test/user_test.go
  pkg/services/sqlstore/migrations/user_mig.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

adjust delete variable test
  public/app/features/dashboard-scene/settings/VariablesEditView.test.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

feat(canvas): refactor items
  public/app/features/canvas/elements/cloud.tsx
  public/app/features/canvas/elements/parallelogram.tsx
  public/app/features/canvas/elements/triangle.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Fixes
  public/app/features/dashboard-scene/scene/DashboardScene.tsx
  public/app/features/dashboard-scene/scene/ScopesFiltersScene.tsx
  public/app/features/dashboard-scene/scene/ScopesScene.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Authn: Add function to resolve identity from org and namespace id (#84555)
  pkg/api/org_users.go
  pkg/services/auth/identity/requester.go
  pkg/services/authn/authn.go
  pkg/services/authn/authnimpl/service.go
  pkg/services/authn/authntest/fake.go
  pkg/services/authn/authntest/mock.go
  pkg/services/authn/clients/identity.go
  pkg/services/authn/identity.go
  pkg/services/user/identity.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Update http_server.go
  pkg/api/http_server.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

[v10.4.x] InfluxDB: Fix interpolation of multi value template variables by adding parenthesis around them (#84590)
  public/app/plugins/datasource/influxdb/datasource.test.ts
  public/app/plugins/datasource/influxdb/datasource.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Use settings
  pkg/server/wire.go
  pkg/tsdb/loki/tracing/tracing.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Fix merge
  yarn.lock
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

hook up the old ones. mostly works :/
  packages/grafana-ui/src/components/uPlot/plugins/TooltipPlugin.tsx
  public/app/plugins/panel/candlestick/CandlestickPanel.tsx
  public/app/plugins/panel/heatmap/HeatmapPanel.tsx
  public/app/plugins/panel/state-timeline/StateTimelinePanel.tsx
  public/app/plugins/panel/status-history/StatusHistoryPanel.tsx
  public/app/plugins/panel/timeseries/TimeSeriesPanel.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, store-storybook, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Prometheus/Scopes: Update to use scopespec type from app
  pkg/promlib/models/query.go
  pkg/promlib/models/scope.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

refactor: remove step for extracting pr number
  .github/workflows/i18n-crowdin-download.yml
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

refactor test
  pkg/tests/api/plugins/api_plugins_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Deleted local images and linked to uploaded ones
  docs/sources/panels-visualizations/configure-standard-options/custom_unit_currency_v11.0.png
  docs/sources/panels-visualizations/configure-standard-options/custom_unit_thumbsup_v11.0.png
  docs/sources/panels-visualizations/configure-standard-options/index.md
  docs/sources/panels-visualizations/configure-standard-options/thumbsup_panel_v11.0.png
Due: pr-docs, main-docs

DashboardScene: Don't show switch to old dashboard architecture toggle unless you are in dev mode (#84444)
  public/app/features/dashboard-scene/scene/NavToolbarActions.tsx
  public/app/features/dashboard/containers/DashboardPageProxy.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Enable dashboardScene using local storage and only for the scene folder
  e2e/cypress/support/commands.js
  e2e/cypress/support/e2e.js
  e2e/run-suite
  e2e/scenes/panels_smokescreen.spec.ts
  scripts/grafana-server/custom.ini
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Alerting: Fix wrong use of empty list in times field in the UI (#84179)
  public/app/features/alerting/unified/MuteTimings.test.tsx
  public/app/features/alerting/unified/components/mute-timings/MuteTimingForm.tsx
  public/app/features/alerting/unified/components/mute-timings/MuteTimingTimeInterval.tsx
  public/app/features/alerting/unified/components/mute-timings/MuteTimingTimeRange.tsx
  public/app/features/alerting/unified/components/mute-timings/MuteTimingsTable.tsx
  public/app/features/alerting/unified/types/mute-timing-form.ts
  public/app/features/alerting/unified/utils/mute-timings.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Alerting: Fix optional fields requiring validation rule (#84584)
  public/app/features/alerting/unified/components/receivers/form/fields/OptionField.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Add missing folders
  e2e/scenes/shared/smokeTestScenario.ts
  e2e/scenes/smoke-tests-suite/1-smoketests.spec.ts
  e2e/scenes/smoke-tests-suite/panels_smokescreen.spec.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

refactor: milestone step
  .github/workflows/i18n-crowdin-download.yml
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Set the feature toggle in the before of all tests
  e2e/cypress/support/e2e.js
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

WIP - still needs to support alert instance matching and silences
  public/app/features/alerting/unified/utils/alertmanager.ts
  public/app/features/alerting/unified/utils/amroutes.ts
  public/app/features/alerting/unified/utils/matchers.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

datatrails: style: update buttons to secondary solid format (#84526)
  public/app/features/trails/ActionTabs/AddToFiltersGraphAction.tsx
  public/app/features/trails/ActionTabs/BreakdownScene.tsx
  public/app/features/trails/SelectMetricAction.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Remove config projection fetch method
  pkg/services/annotations/annotationsimpl/loki/historian_store.go
  pkg/services/annotations/annotationsimpl/loki/historian_store_test.go
  pkg/services/ngalert/state/historian/loki_http.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Select: Fixes virtualized select showing empty space above selected value (#84544)
  packages/grafana-runtime/package.json
  packages/grafana-ui/src/components/Select/Select.story.tsx
  packages/grafana-ui/src/components/Select/SelectMenu.tsx
  yarn.lock
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, store-storybook, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Table: Fixes migration for hidden columns in angular table (#84579)
  public/app/plugins/panel/table/migrations.test.ts
  public/app/plugins/panel/table/migrations.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

fix test types
  public/app/core/services/echo/backends/grafana-javascript-agent/GrafanaJavascriptAgentBackend.test.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Update LogRows.tsx
  public/app/features/logs/components/LogRows.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Alerting/Annotations: Prevent panics from composite store jobs from crashing Grafana (#83459)
  pkg/services/annotations/annotationsimpl/annotations.go
  pkg/services/annotations/annotationsimpl/composite_store.go
  pkg/services/annotations/annotationsimpl/composite_store_test.go
  pkg/services/annotations/annotationsimpl/loki/historian_store.go
  pkg/services/annotations/annotationsimpl/loki/historian_store_test.go
  pkg/services/annotations/annotationsimpl/store.go
  pkg/services/annotations/annotationsimpl/xorm_store.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify
