Repository grafana/grafana: changes, and which Drone steps are due for each by the changed paths.
All: pr-verify-drone, pr-verify-starlark, pr-verify-storybook, pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, end-to-end-tests-cloud-plugins-suite-azure, build-storybook, pr-integration-tests, pr-docs, pr-shellcheck, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

pr-verify-drone:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.20.3
    name: identify-runner
  - commands:
    - go build -o ./bin/build -ldflags '-extldflags -static' ./pkg/build/cmd
    depends_on: []
    environment:
      CGO_ENABLED: 0
    image: golang:1.23.1-alpine
    name: compile-build-cmd
  - commands:
  ...

pr-verify-starlark:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.20.3
    name: identify-runner
  - commands:
    - go install github.com/bazelbuild/buildtools/buildifier@latest
    - buildifier --lint=warn -mode=check -r .
    depends_on: []
    image: golang:1.23.1-alpine
    name: lint-starlark

pr-verify-storybook:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.20.3
    name: identify-runner
  - commands:
    - yarn install --immutable || yarn install --immutable
    depends_on: []
    image: node:20.9.0-alpine
    name: yarn-install
  - commands:
    - yarn storybook --quiet
    depends_on:
    - yarn-install
  ...

pr-test-frontend:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.20.3
    name: identify-runner
  - commands:
    - yarn install --immutable || yarn install --immutable
    depends_on: []
    image: node:20.9.0-alpine
    name: yarn-install
  - commands:
    - apk add --update git bash
    - yarn betterer ci
  ...

pr-lint-frontend:
  steps:
  - commands:
    - echo $(/usr/bin/github-app-external-token) > /github-app/token
    environment:
      GITHUB_APP_ID:
        from_secret: github-app-app-id
      GITHUB_APP_INSTALLATION_ID:
        from_secret: github-app-installation-id
      GITHUB_APP_PRIVATE_KEY:
  ...

pr-test-backend:
  steps:
  - commands:
    - echo $(/usr/bin/github-app-external-token) > /github-app/token
    environment:
      GITHUB_APP_ID:
        from_secret: github-app-app-id
      GITHUB_APP_INSTALLATION_ID:
        from_secret: github-app-installation-id
      GITHUB_APP_PRIVATE_KEY:
  ...

pr-lint-backend:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.20.3
    name: identify-runner
  - commands:
    - go build -o ./bin/build -ldflags '-extldflags -static' ./pkg/build/cmd
    depends_on: []
    environment:
      CGO_ENABLED: 0
    image: golang:1.23.1-alpine
    name: compile-build-cmd
  - commands:
  ...

pr-build-e2e:
  steps:
  - commands:
    - echo $(/usr/bin/github-app-external-token) > /github-app/token
    environment:
      GITHUB_APP_ID:
        from_secret: github-app-app-id
      GITHUB_APP_INSTALLATION_ID:
        from_secret: github-app-installation-id
      GITHUB_APP_PRIVATE_KEY:
  ...

end-to-end-tests-cloud-plugins-suite-azure:
  commands:
  - GITHUB_TOKEN=$(cat /github-app/token)
  - cd /
  - ./cpp-e2e/scripts/ci-run.sh azure ${DRONE_SOURCE_BRANCH}
  depends_on:
  - grafana-server
  - github-app-generate-token
  environment:
    AZURE_SP_APP_ID:
      from_secret: azure_sp_app_id
    AZURE_SP_PASSWORD:
      from_secret: azure_sp_app_pw
  ...

Grafana UI: `LoginPage` - Replace `HorizontalGroup` with `Stack` (#86068)
  .betterer.results
  public/app/core/components/Login/LoginPage.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Storage: dualwriter delete implementation (#86000)
  pkg/apiserver/rest/dualwriter.go
  pkg/apiserver/rest/dualwriter_mode1.go
  pkg/apiserver/rest/dualwriter_mode1_test.go
  pkg/apiserver/rest/dualwriter_mode2.go
  pkg/apiserver/rest/dualwriter_mode2_test.go
  pkg/apiserver/rest/dualwriter_mode3.go
  pkg/apiserver/rest/dualwriter_mode3_test.go
  pkg/apiserver/rest/dualwriter_mode4.go
  pkg/apiserver/rest/dualwriter_mode4_test.go
  pkg/apiserver/rest/spy_client.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Alerting docs: simplify `Supported data sources` section (#85795)
  docs/sources/alerting/fundamentals/alert-rules/_index.md
Due: pr-docs, main-docs

Auth: Add `IsClientEnabled` and `IsEnabled` for the `authn.Service` and `authn.Client` interfaces (#86034)
  pkg/api/frontendsettings_test.go
  pkg/api/login.go
  pkg/api/login_test.go
  pkg/services/anonymous/anonimpl/client.go
  pkg/services/authn/authn.go
  pkg/services/authn/authnimpl/service.go
  pkg/services/authn/authntest/fake.go
  pkg/services/authn/authntest/mock.go
  pkg/services/authn/clients/api_key.go
  pkg/services/authn/clients/basic.go
  pkg/services/authn/clients/ext_jwt.go
  pkg/services/authn/clients/form.go
  pkg/services/authn/clients/identity.go
  pkg/services/authn/clients/jwt.go
  pkg/services/authn/clients/oauth.go
  pkg/services/authn/clients/oauth_test.go
  pkg/services/authn/clients/proxy.go
  pkg/services/authn/clients/render.go
  pkg/services/authn/clients/session.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Docs: add data source type play link; cleanup (#86077)
  docs/sources/datasources/_index.md
Due: pr-docs, main-docs

Implement API server client in Scopes (#85266)
  .github/CODEOWNERS
  packages/grafana-data/src/types/scopes.ts
  packages/grafana-prometheus/src/dataquery.ts
  packages/grafana-prometheus/src/datasource.ts
  public/app/features/apiserver/server.ts
  public/app/features/apiserver/types.ts
  public/app/features/dashboard-scene/scene/ScopesDashboardsScene.tsx
  public/app/features/dashboard-scene/scene/ScopesFiltersScene.tsx
  public/app/features/dashboard-scene/scene/ScopesScene.test.tsx
  public/app/features/scopes/server.ts
  public/app/plugins/datasource/prometheus/dataquery.ts
  public/app/plugins/datasource/prometheus/datasource.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Fix Canvas crashing in scenes dashboard (#86117)
  public/app/plugins/panel/canvas/module.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Chore: Install Playwright deps manually (#86008)
  .drone.yml
  scripts/drone/steps/lib.star
  scripts/drone/utils/images.star
Due: pr-verify-drone, pr-verify-starlark, pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Server: Fix 'server' subcommand double-registration (#86083)
  pkg/cmd/grafana/main.go
  pkg/cmd/grafana/main_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

mysql: decouple sqleng (#86057)
  .golangci.toml
  pkg/tsdb/mysql/macros.go
  pkg/tsdb/mysql/mysql.go
  pkg/tsdb/mysql/mysql_snapshot_test.go
  pkg/tsdb/mysql/mysql_test.go
  pkg/tsdb/mysql/sqleng/sql_engine.go
  pkg/tsdb/mysql/sqleng/sql_engine_test.go
  pkg/tsdb/mysql/sqleng/util/util.go
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

postgres: decouple sqleng (#86055)
  pkg/tsdb/grafana-postgresql-datasource/macros.go
  pkg/tsdb/grafana-postgresql-datasource/postgres.go
  pkg/tsdb/grafana-postgresql-datasource/postgres_snapshot_test.go
  pkg/tsdb/grafana-postgresql-datasource/postgres_test.go
  pkg/tsdb/grafana-postgresql-datasource/sqleng/sql_engine.go
  pkg/tsdb/grafana-postgresql-datasource/sqleng/sql_engine_test.go
  pkg/tsdb/grafana-postgresql-datasource/sqleng/util/util.go
  pkg/tsdb/grafana-postgresql-datasource/tlsmanager.go
  pkg/tsdb/grafana-postgresql-datasource/tlsmanager_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Explore: Query history does not save filtered queries (#85825)
  public/app/features/explore/state/query.test.ts
  public/app/features/explore/state/query.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Explore: Change service in hook, un-skip test (#85894)
  public/app/features/explore/hooks/useExplorePageTitle.ts
  public/app/features/explore/spec/queryHistory.test.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Chore: `RolePickerMenu` and `RolePickerSubmenu` - Replace `HorizontalGroup` with `Stack` (#86145)
  .betterer.results
  public/app/core/components/RolePicker/RolePickerMenu.tsx
  public/app/core/components/RolePicker/RolePickerSubMenu.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

alerting>tutorial>fix (#86101)
  docs/sources/tutorials/alerting-get-started/index.md
Due: pr-docs, main-docs

Chore: `ActionRow` - Replace `HorizontalGroup` with `Stack` (#86143)
  .betterer.results
  public/app/features/search/page/components/ActionRow.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Alerting: Return a 400 and errutil error when trying to delete a contact point that is referenced by a policy (#85481)
  pkg/services/ngalert/api/api_provisioning.go
  pkg/services/ngalert/provisioning/contactpoints.go
  pkg/services/ngalert/provisioning/errors.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Chore: Add codemod and betterer config to make barrel imports explicit (#80913)
  .betterer.results
  .betterer.ts
  .eslintrc
  .github/CODEOWNERS
  package.json
  scripts/ci-frontend-metrics.sh
  scripts/codemods/explicit-barrel-imports.cjs
  yarn.lock
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, pr-shellcheck, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Docs: add best practices Play link (#86076)
  docs/sources/dashboards/build-dashboards/best-practices/index.md
Due: pr-docs, main-docs

Docs: add panel overview (#86075)
  docs/sources/panels-visualizations/panel-editor-overview/index.md
  docs/sources/panels-visualizations/panel-overview/index.md
Due: pr-docs, main-docs

Docs: add tags section to dashboard settings docs (#85875)
  docs/sources/dashboards/build-dashboards/modify-dashboard-settings/index.md
Due: pr-docs, main-docs

Docs: add dashboards landing page (#86001)
  docs/sources/dashboards/_index.md
Due: pr-docs, main-docs

Chore: Fix link in `UsersTable` (#86152)
  public/app/features/admin/Users/UsersTable.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Prometheus: Respect dashboard queries when querying ad hoc filter labels (#85674)
  packages/grafana-prometheus/src/datasource.ts
  packages/grafana-prometheus/src/language_provider.test.ts
  packages/grafana-prometheus/src/language_provider.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Chore: Use `handleReducedMotion` to smooth the animation in `LoadingBar` (#85808)
  packages/grafana-ui/src/components/LoadingBar/LoadingBar.tsx
Due: pr-verify-storybook, pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

K8s: add ID token to requests outbound to new query endpoint (#86214)
  pkg/api/metrics.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Docs: add template var Play link; cleanup existing (#86074)
  docs/sources/dashboards/variables/_index.md
Due: pr-docs, main-docs

Prometheus: Add native histogram functions (#86002)
  packages/grafana-prometheus/src/components/monaco-query-field/promql.ts
  packages/grafana-prometheus/src/promql.ts
  packages/grafana-prometheus/src/querybuilder/operations.ts
  packages/grafana-prometheus/src/querybuilder/parsing.test.ts
  packages/grafana-prometheus/src/querybuilder/types.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

docs: query data/relative time range override play link (#86213)
  docs/sources/panels-visualizations/query-transform-data/_index.md
Due: pr-docs, main-docs

Docs: added bar gauge play link (#86205)
  docs/sources/panels-visualizations/visualizations/bar-gauge/index.md
Due: pr-docs, main-docs

docs: added logs panel play link; added dedup options, reformatted fig (#86209)
  docs/sources/panels-visualizations/visualizations/logs/index.md
Due: pr-docs, main-docs

docs: add thresholds play link (#86212)
  docs/sources/panels-visualizations/configure-thresholds/index.md
Due: pr-docs, main-docs

docs: add annotations play link (#86206)
  docs/sources/dashboards/build-dashboards/annotate-visualizations/index.md
Due: pr-docs, main-docs

Chore: add missing modowner (#86234)
  go.mod
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

DashboardScene: Fix empty row repeat issue (#86095)
  public/app/features/dashboard-scene/scene/RowRepeaterBehavior.test.tsx
  public/app/features/dashboard-scene/scene/RowRepeaterBehavior.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Playlists: Enable kubernetesPlaylists by default in OSS (#86259)
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.json
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, pr-docs, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

DashboardScene: Fixes saving dashboard with angular panels (#86098)
  .betterer.results
  public/app/features/dashboard-scene/serialization/transformSceneToSaveModel.test.ts
  public/app/features/dashboard-scene/serialization/transformSceneToSaveModel.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Docs: Fix typos (#85651)
  .github/bot.md
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

mssql: decouple sqleng (#86130)
  .github/CODEOWNERS
  pkg/tsdb/mssql/macros.go
  pkg/tsdb/mssql/mssql.go
  pkg/tsdb/mssql/mssql_test.go
  pkg/tsdb/mssql/sqleng/sql_engine.go
  pkg/tsdb/mssql/sqleng/sql_engine_test.go
  pkg/tsdb/mssql/sqleng/util/util.go
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Path conditions:
  pr-verify-drone: any of: scripts/drone/**, .drone.yml, .drone.star, but not: docs/**, *.md
  pr-verify-starlark: any of: scripts/drone/**, .drone.star, but not: docs/**, *.md
  pr-verify-storybook: any of: packages/grafana-ui/**, but not: docs/**, *.md
  pr-test-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-lint-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-test-backend: any of: Makefile, pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, docs/sources/setup-grafana/configure-grafana/feature-toggles/**, devenv/**, but not: docs/**, *.md
  pr-lint-backend: any of: .golangci.toml, Makefile, pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, .bingo/**, but not: docs/**, *.md
  pr-build-e2e: any file but: *.md, docs/**, latest.json
  end-to-end-tests-cloud-plugins-suite-azure: any of: pkg/tsdb/azuremonitor/**, public/app/plugins/datasource/azuremonitor/**, e2e/cloud-plugins-suite/azure-monitor.spec.ts
  build-storybook: any of: packages/grafana-ui/**
  pr-integration-tests: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, but not: docs/**, *.md
  pr-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  pr-shellcheck: any of: scripts/**/*.sh, but not: *.md, docs/**, latest.json
  main-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  main-test-frontend: any file but: *.md, docs/**, latest.json
  main-lint-frontend: any file but: *.md, docs/**, latest.json
  main-test-backend: any file but: *.md, docs/**, latest.json
  main-lint-backend: any file but: *.md, docs/**, latest.json
  main-verify-storybook: any file but: *.md, docs/**, latest.json
  main-build-e2e-publish: any file but: *.md, docs/**, latest.json
  store-storybook: any of: packages/grafana-ui/**
  release-canary-npm-packages: any of: packages/**
  main-integration-tests: any file but: *.md, docs/**, latest.json
  main-trigger-downstream: any file but: *.md, docs/**, latest.json
  main-notify: any file but: *.md, docs/**, latest.json
  rgm-main-prerelease: any file but: *.md, docs/**, packages/**/*.md, latest.json
