Repository grafana/grafana: changes, and which Drone steps are due for each by the changed paths.
All: pr-verify-drone, pr-verify-starlark, pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, trigger-test-release, end-to-end-tests-cloud-plugins-suite-azure, build-storybook, pr-integration-tests, pr-docs, pr-shellcheck, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, store-storybook, main-integration-tests, main-windows, notify-drone-changes, main-trigger-downstream, main-notify

pr-verify-drone:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.17.1
    name: identify-runner
  - commands:
    - go build -o ./bin/build -ldflags '-extldflags -static' ./pkg/build/cmd
    depends_on: []
    environment:
      CGO_ENABLED: 0
    image: golang:1.20.1
    name: compile-build-cmd
  - commands:
  ...

pr-verify-starlark:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.17.1
    name: identify-runner
  - commands:
    - go build -o ./bin/build -ldflags '-extldflags -static' ./pkg/build/cmd
    depends_on: []
    environment:
      CGO_ENABLED: 0
    image: golang:1.20.1
    name: compile-build-cmd
  - commands:
  ...

pr-test-frontend:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.17.1
    name: identify-runner
  - commands:
    - mkdir -p bin
    - curl -fL -o bin/grabpl https://grafana-downloads.storage.googleapis.com/grafana-build-pipeline/v3.0.30/grabpl
    - chmod +x bin/grabpl
    image: byrnedo/alpine-curl:0.1.8
  ...

pr-lint-frontend:
  steps:
  - commands:
    - is_fork=$(curl "https://$GITHUB_TOKEN@api.github.com/repos/grafana/grafana/pulls/$DRONE_PULL_REQUEST" | jq .head.repo.fork)
    - if [ "$is_fork" != false ]; then return 1; fi
  ...

pr-test-backend:
  steps:
  - commands:
    - is_fork=$(curl "https://$GITHUB_TOKEN@api.github.com/repos/grafana/grafana/pulls/$DRONE_PULL_REQUEST" | jq .head.repo.fork)
    - if [ "$is_fork" != false ]; then return 1; fi
  ...

pr-lint-backend:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.17.1
    name: identify-runner
  - commands:
    - go build -o ./bin/build -ldflags '-extldflags -static' ./pkg/build/cmd
    depends_on: []
    environment:
      CGO_ENABLED: 0
    image: golang:1.20.1
    name: compile-build-cmd
  - commands:
  ...

pr-build-e2e:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.17.1
    name: identify-runner
  - commands:
    - mkdir -p bin
    - curl -fL -o bin/grabpl https://grafana-downloads.storage.googleapis.com/grafana-build-pipeline/v3.0.30/grabpl
    - chmod +x bin/grabpl
    image: byrnedo/alpine-curl:0.1.8
  ...

trigger-test-release:
  commands:
  - git clone "https://$${GITHUB_TOKEN}@github.com/grafana/grafana-enterprise.git" --depth=1
  - cd grafana-enterprise
  - git fetch origin "refs/tags/*:refs/tags/*" --quiet
  - if git show-ref --tags $${TEST_TAG} --quiet; then git tag -d $${TEST_TAG} && git push --delete origin $${TEST_TAG}; fi
  ...

end-to-end-tests-cloud-plugins-suite-azure:
  commands:
  - cd /
  - ./cpp-e2e/scripts/ci-run.sh azure ${DRONE_SOURCE_BRANCH}
  depends_on:
  - grafana-server
  environment:
    AZURE_SP_APP_ID:
      from_secret: azure_sp_app_id
    AZURE_SP_PASSWORD:
      from_secret: azure_sp_app_pw
    AZURE_TENANT:
      from_secret: azure_tenant
    CYPRESS_CI: 'true'
  ...

notify-drone-changes:
  steps:
  - image: plugins/slack
    name: slack
    settings:
      channel: slack-webhooks-test
  ...

Trend viz case correction
  public/app/plugins/panel/trend/module.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

ux updates
  packages/grafana-ui/src/components/DataLinks/DataLinksInlineEditor/DataLinksInlineEditor.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, store-storybook, main-integration-tests, main-windows, main-trigger-downstream, main-notify

fix backend
  pkg/tsdb/tempo/trace_transform.go
  pkg/tsdb/tempo/trace_transform_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

fix: wrap text with trans component as betterer ask
  public/app/features/gops/configuration-tracker/components/ConfigCard.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Insert a new form element just before the submit button if it's not already present
  .betterer.results
  public/app/features/canvas/elements/form/elements/FormElementTypeEditor.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

fix: update extraction
  public/locales/en-US/grafana.json
  public/locales/pseudo-LOCALE/grafana.json
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

use ErrResp in autogenerated routes
  pkg/services/ngalert/api/generated_base_api_alertmanager.go
  pkg/services/ngalert/api/generated_base_api_configuration.go
  pkg/services/ngalert/api/generated_base_api_provisioning.go
  pkg/services/ngalert/api/generated_base_api_ruler.go
  pkg/services/ngalert/api/generated_base_api_testing.go
  pkg/services/ngalert/api/tooling/swagger-codegen/templates/controller-api.mustache
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

fix selecto glitch when adding certain elements
  public/app/features/canvas/runtime/sceneAbleManagement.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

GOps: Setup FullStory in the IRM configuration tracker (#90442)
  .betterer.results
  public/app/features/gops/configuration-tracker/components/ConfigCard.tsx
  public/app/features/gops/configuration-tracker/components/Essentials.tsx
  public/app/features/gops/configuration-tracker/components/ProgressBar.tsx
  public/locales/en-US/grafana.json
  public/locales/pseudo-LOCALE/grafana.json
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

minor doc updates
  public/app/features/canvas/runtime/sceneAbleManagement.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Use getINSubQueryArgs
  pkg/services/ngalert/store/alert_rule.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Corrections from panel to visualization and edits.
  docs/sources/panels-visualizations/visualizations/pie-chart/index.md
Due: pr-docs, main-docs

Capitalization edits
  docs/sources/panels-visualizations/visualizations/pie-chart/index.md
Due: pr-docs, main-docs

Capitalization edits 2
  docs/sources/panels-visualizations/visualizations/pie-chart/index.md
Due: pr-docs, main-docs

Vizards: Add custom options to viz element
  public/app/features/canvas/elements/visualization.tsx
  public/app/features/canvas/types.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Change from panel to visualization and edits
  docs/sources/panels-visualizations/visualizations/pie-chart/index.md
Due: pr-docs, main-docs

Vizards: Add custom options to viz element (#91655)
  public/app/features/canvas/elements/visualization.tsx
  public/app/features/canvas/types.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Add text input, collapse each form item in editor, refactor updating api,
  public/app/features/canvas/elements/form/elements/FormElementTypeEditor.tsx
  public/app/features/canvas/elements/form/elements/Select.tsx
  public/app/features/canvas/elements/form/elements/SelectionEditor.tsx
  public/app/features/canvas/elements/form/elements/TextInput.tsx
  public/app/features/canvas/elements/form/elements/TextInputEditor.tsx
  public/app/features/canvas/elements/form/elements/utils.ts
  public/app/features/canvas/elements/form/form.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Vizards: Add background color opacity slider
  packages/grafana-schema/src/raw/composable/canvas/panelcfg/x/CanvasPanelCfg_types.gen.ts
  public/app/features/canvas/elements/cloud.tsx
  public/app/features/canvas/elements/ellipse.tsx
  public/app/features/canvas/elements/parallelogram.tsx
  public/app/features/canvas/elements/triangle.tsx
  public/app/features/canvas/runtime/element.tsx
  public/app/plugins/panel/canvas/editor/options.ts
  public/app/plugins/panel/canvas/panelcfg.cue
  public/app/plugins/panel/canvas/panelcfg.gen.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Fix triangle
  public/app/features/canvas/elements/triangle.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Vizards: Add background color opacity slider (#91658)
  packages/grafana-schema/src/raw/composable/canvas/panelcfg/x/CanvasPanelCfg_types.gen.ts
  public/app/features/canvas/elements/cloud.tsx
  public/app/features/canvas/elements/ellipse.tsx
  public/app/features/canvas/elements/parallelogram.tsx
  public/app/features/canvas/elements/triangle.tsx
  public/app/features/canvas/runtime/element.tsx
  public/app/plugins/panel/canvas/editor/options.ts
  public/app/plugins/panel/canvas/panelcfg.cue
  public/app/plugins/panel/canvas/panelcfg.gen.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Number input; improve onChange handling
  public/app/features/canvas/elements/form/elements/FormElementTypeEditor.tsx
  public/app/features/canvas/elements/form/elements/NumberInput.tsx
  public/app/features/canvas/elements/form/elements/NumberInputEditor.tsx
  public/app/features/canvas/elements/form/elements/TextInput.tsx
  public/app/features/canvas/elements/form/form.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

ignore viz element when generating visualization
  public/app/features/canvas/runtime/sceneElementManagement.ts
  public/app/plugins/panel/canvas/components/CanvasContextMenu.tsx
  public/app/plugins/panel/canvas/editor/layer/TreeNavigationEditor.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Canvas: Form element improvements + text and number input (#91659)
  .betterer.results
  public/app/features/canvas/elements/form/elements/FormElementTypeEditor.tsx
  public/app/features/canvas/elements/form/elements/NumberInput.tsx
  public/app/features/canvas/elements/form/elements/NumberInputEditor.tsx
  public/app/features/canvas/elements/form/elements/Select.tsx
  public/app/features/canvas/elements/form/elements/SelectionEditor.tsx
  public/app/features/canvas/elements/form/elements/TextInput.tsx
  public/app/features/canvas/elements/form/elements/TextInputEditor.tsx
  public/app/features/canvas/elements/form/elements/utils.ts
  public/app/features/canvas/elements/form/form.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

do not return spanid for count metrics
  pkg/tsdb/tempo/trace_transform.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

update children metrics links
  public/app/features/explore/TraceView/components/TraceTimelineViewer/SpanDetail/AccordianMetricRef.tsx
  public/app/features/explore/TraceView/components/url/MetricLink.tsx
  public/app/features/explore/TraceView/utils/transform.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

fix lint
  public/app/features/transformers/editors/GroupingToMatrixTransformerEditor.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Transformations: Add variable support to select groupingToMatrix (#88551)
  packages/grafana-data/src/transformations/transformers/groupingToMatrix.ts
  public/app/features/transformers/editors/GroupingToMatrixTransformerEditor.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

adjust limit and fix detail render
  pkg/tsdb/tempo/trace.go
  pkg/tsdb/tempo/trace_transform.go
  public/app/features/explore/TraceView/components/TraceTimelineViewer/SpanDetail/AccordianMetricRef.tsx
  public/app/features/explore/TraceView/components/TraceTimelineViewer/SpanDetail/index.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

remove le value parsing as numbers
  packages/grafana-prometheus/src/result_transformer.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

add tests
  packages/grafana-prometheus/src/result_transformer.test.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Add default form elements to Form element
  public/app/features/canvas/elements/form/form.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Docs: Add warning on UUIDs not being available before 10.2.0 (#91372)
  docs/sources/administration/roles-and-permissions/access-control/rbac-fixed-basic-role-definitions/index.md
Due: pr-docs, main-docs

now with monaco editor
  public/app/swagger/SwaggerPage.tsx
  public/app/swagger/wrapped.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

allow insecure connections (for testing purposes); remove audience checks
  pkg/services/grpcserver/service.go
  pkg/storage/unified/resource/client_wrapper.go
  pkg/storage/unified/sql/service.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

now with a landing page
  pkg/api/swagger.go
  public/app/swagger/SwaggerPage.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

E2C: use `TextLink` component for consistency (#91642)
  public/app/features/migrate-to-cloud/MigrateToCloud.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Scopes: Lift scopes at global level
  .betterer.results
  public/app/core/components/AppChrome/AppChrome.tsx
  public/app/core/components/AppChrome/NavToolbar/NavToolbar.tsx
  public/app/features/dashboard-scene/embedding/EmbeddedDashboard.tsx
  public/app/features/dashboard-scene/pages/DashboardScenePageStateManager.ts
  public/app/features/dashboard-scene/panel-edit/PanelEditorRenderer.tsx
  public/app/features/dashboard-scene/scene/DashboardScene.tsx
  public/app/features/dashboard-scene/scene/DashboardSceneRenderer.tsx
  public/app/features/dashboard-scene/scene/Scopes/ScopesScene.tsx
  public/app/features/dashboard/api/dashboard_api.ts
  public/app/features/dashboard/utils/getScopesFromUrl.ts
  public/app/features/scopes/ScopesFacadeScene.ts
  public/app/features/scopes/index.ts
  public/app/features/scopes/instance.tsx
  public/app/features/scopes/internal/ScopesDashboardsScene.tsx
  public/app/features/scopes/internal/ScopesFiltersScene.tsx
  public/app/features/scopes/internal/ScopesInput.tsx
  public/app/features/scopes/internal/ScopesScene.test.tsx
  public/app/features/scopes/internal/ScopesScene.tsx
  public/app/features/scopes/internal/ScopesTree.tsx
  public/app/features/scopes/internal/ScopesTreeHeadline.tsx
  public/app/features/scopes/internal/ScopesTreeItem.tsx
  public/app/features/scopes/internal/ScopesTreeLoading.tsx
  public/app/features/scopes/internal/ScopesTreeSearch.tsx
  public/app/features/scopes/internal/api.ts
  public/app/features/scopes/internal/testUtils.tsx
  public/app/features/scopes/internal/types.ts
  public/app/features/scopes/internal/utils.ts
  public/app/features/scopes/useScopes.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Fixes
  public/app/features/scopes/ScopesFacadeScene.ts
  public/app/features/scopes/internal/ScopesDashboardsScene.tsx
  public/app/features/scopes/internal/ScopesFiltersScene.tsx
  public/app/features/scopes/testUtils.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Tests
  public/app/features/scopes/scopes.test.tsx
  public/app/features/scopes/testUtils.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Path conditions:
  pr-verify-drone: any of: scripts/drone/**, .drone.yml, .drone.star, but not: docs/**, *.md
  pr-verify-starlark: any of: scripts/drone/**, .drone.star, but not: docs/**, *.md
  pr-test-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-lint-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-test-backend: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, but not: docs/**, *.md
  pr-lint-backend: any of: pkg/**, packaging/**, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, .bingo/**, but not: docs/**, *.md
  pr-build-e2e: any file but: *.md, docs/**, latest.json
  trigger-test-release: any of: .drone.yml, pkg/build/**
  end-to-end-tests-cloud-plugins-suite-azure: any of: pkg/tsdb/azuremonitor/**, public/app/plugins/datasource/azuremonitor/**, e2e/cloud-plugins-suite/azure-monitor.spec.ts
  build-storybook: any of: packages/grafana-ui/**
  pr-integration-tests: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, but not: docs/**, *.md
  pr-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  pr-shellcheck: any of: scripts/**/*.sh, but not: *.md, docs/**, latest.json
  main-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  main-test-frontend: any file but: *.md, docs/**, latest.json
  main-lint-frontend: any file but: *.md, docs/**, latest.json
  main-test-backend: any file but: *.md, docs/**, latest.json
  main-lint-backend: any file but: *.md, docs/**, latest.json
  main-build-e2e-publish: any file but: *.md, docs/**, latest.json
  store-storybook: any of: packages/grafana-ui/**
  main-integration-tests: any file but: *.md, docs/**, latest.json
  main-windows: any file but: *.md, docs/**, latest.json
  notify-drone-changes: any of: .drone.yml, but not: exclude
  main-trigger-downstream: any file but: *.md, docs/**, latest.json
  main-notify: any file but: *.md, docs/**, latest.json
