Repository grafana/grafana: changes, and which Drone steps are due for each by the changed paths.
All: pr-verify-drone, pr-verify-starlark, pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, trigger-test-release, end-to-end-tests-cloud-plugins-suite-azure, build-storybook, pr-integration-tests, pr-docs, pr-shellcheck, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, store-storybook, main-integration-tests, main-windows, notify-drone-changes, main-trigger-downstream, main-notify

pr-verify-drone:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.17.1
    name: identify-runner
  - commands:
    - go build -o ./bin/build -ldflags '-extldflags -static' ./pkg/build/cmd
    depends_on: []
    environment:
      CGO_ENABLED: 0
    image: golang:1.20.1
    name: compile-build-cmd
  - commands:
  ...

pr-verify-starlark:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.17.1
    name: identify-runner
  - commands:
    - go build -o ./bin/build -ldflags '-extldflags -static' ./pkg/build/cmd
    depends_on: []
    environment:
      CGO_ENABLED: 0
    image: golang:1.20.1
    name: compile-build-cmd
  - commands:
  ...

pr-test-frontend:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.17.1
    name: identify-runner
  - commands:
    - mkdir -p bin
    - curl -fL -o bin/grabpl https://grafana-downloads.storage.googleapis.com/grafana-build-pipeline/v3.0.30/grabpl
    - chmod +x bin/grabpl
    image: byrnedo/alpine-curl:0.1.8
  ...

pr-lint-frontend:
  steps:
  - commands:
    - is_fork=$(curl "https://$GITHUB_TOKEN@api.github.com/repos/grafana/grafana/pulls/$DRONE_PULL_REQUEST" | jq .head.repo.fork)
    - if [ "$is_fork" != false ]; then return 1; fi
  ...

pr-test-backend:
  steps:
  - commands:
    - is_fork=$(curl "https://$GITHUB_TOKEN@api.github.com/repos/grafana/grafana/pulls/$DRONE_PULL_REQUEST" | jq .head.repo.fork)
    - if [ "$is_fork" != false ]; then return 1; fi
  ...

pr-lint-backend:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.17.1
    name: identify-runner
  - commands:
    - go build -o ./bin/build -ldflags '-extldflags -static' ./pkg/build/cmd
    depends_on: []
    environment:
      CGO_ENABLED: 0
    image: golang:1.20.1
    name: compile-build-cmd
  - commands:
  ...

pr-build-e2e:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.17.1
    name: identify-runner
  - commands:
    - mkdir -p bin
    - curl -fL -o bin/grabpl https://grafana-downloads.storage.googleapis.com/grafana-build-pipeline/v3.0.30/grabpl
    - chmod +x bin/grabpl
    image: byrnedo/alpine-curl:0.1.8
  ...

trigger-test-release:
  commands:
  - git clone "https://$${GITHUB_TOKEN}@github.com/grafana/grafana-enterprise.git" --depth=1
  - cd grafana-enterprise
  - git fetch origin "refs/tags/*:refs/tags/*" --quiet
  - if git show-ref --tags $${TEST_TAG} --quiet; then git tag -d $${TEST_TAG} && git push --delete origin $${TEST_TAG}; fi
  ...

end-to-end-tests-cloud-plugins-suite-azure:
  commands:
  - cd /
  - ./cpp-e2e/scripts/ci-run.sh azure ${DRONE_SOURCE_BRANCH}
  depends_on:
  - grafana-server
  environment:
    AZURE_SP_APP_ID:
      from_secret: azure_sp_app_id
    AZURE_SP_PASSWORD:
      from_secret: azure_sp_app_pw
    AZURE_TENANT:
      from_secret: azure_tenant
    CYPRESS_CI: 'true'
  ...

notify-drone-changes:
  steps:
  - image: plugins/slack
    name: slack
    settings:
      channel: slack-webhooks-test
  ...

renames
  packages/grafana-data/src/types/action.ts
  packages/grafana-ui/src/components/Actions/ActionEditor.tsx
  public/app/features/canvas/utils.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, store-storybook, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Aggregation: Support apidiscovery.k8s.io/v2
  pkg/aggregator/apiserver/apiserver.go
  pkg/aggregator/apiserver/handler_apis.go
  pkg/aggregator/apiserver/handler_apis_test.go
  pkg/aggregator/go.mod
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Docs: fix broken links in developer contributing guide
  docs/sources/developers/contribute.md
Due: pr-docs, main-docs

remove the list commands from team+user services
  pkg/services/team/model.go
  pkg/services/team/team.go
  pkg/services/team/teamimpl/store.go
  pkg/services/team/teamimpl/team.go
  pkg/services/team/teamtest/team.go
  pkg/services/user/model.go
  pkg/services/user/user.go
  pkg/services/user/userimpl/store.go
  pkg/services/user/userimpl/user.go
  pkg/services/user/userimpl/user_test.go
  pkg/services/user/usertest/fake.go
  pkg/services/user/usertest/mock.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Update api.go
  pkg/services/accesscontrol/api/api.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

trying to pull request
  README.md
Due: pr-docs, main-docs

Update docs/sources/setup-grafana/configure-security/configure-authentication/keycloak/index.md
  docs/sources/setup-grafana/configure-security/configure-authentication/keycloak/index.md
Due: pr-docs, main-docs

Aggregation: Support apidiscovery.k8s.io/v2 (#91938)
  pkg/aggregator/apiserver/apiserver.go
  pkg/aggregator/apiserver/handler_apis.go
  pkg/aggregator/apiserver/handler_apis_test.go
  pkg/aggregator/go.mod
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

feat: add target folder to api query
  public/app/features/browse-dashboards/api/browseDashboardsAPI.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

feat: hand over targetFolder data to api query
  public/app/features/browse-dashboards/components/PermanentlyDeleteModal.tsx
  public/app/features/browse-dashboards/components/RecentlyDeletedActions.tsx
  public/app/features/browse-dashboards/components/RestoreModal.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

refactor: use a sidecar service to encapsulate the state
  packages/grafana-data/src/types/pluginExtensions.ts
  packages/grafana-runtime/src/services/appEvents.ts
  public/app/AppWrapper.tsx
  public/app/app.ts
  public/app/core/context/SidecarContext.ts
  public/app/core/reducers/appSidecar.ts
  public/app/core/reducers/root.ts
  public/app/core/services/SidecarService.ts
  public/app/features/explore/extensions/getExploreExtensionConfigs.test.tsx
  public/app/features/plugins/extensions/getPluginExtensions.ts
  public/app/features/plugins/extensions/usePluginExtensions.tsx
  public/app/features/plugins/extensions/utils.test.tsx
  public/app/features/plugins/extensions/utils.tsx
  public/app/features/plugins/extensions/validators.test.tsx
  public/app/features/plugins/utils.test.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

address feedback
  public/app/features/auth-config/FieldRenderer.tsx
  public/app/features/auth-config/components/ServerDiscoveryField.tsx
  public/app/features/auth-config/components/ServerDiscoveryModal.tsx
  public/app/features/auth-config/fields.tsx
  public/app/features/auth-config/types.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Navigation: Fix scope dashboards selector with `bodyScrolling` (#91892)
  public/app/core/components/AppChrome/AppChrome.tsx
  public/app/features/scopes/index.ts
  public/app/features/scopes/internal/ScopesDashboardsScene.tsx
  public/app/features/scopes/useScopesDashboardsState.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Update pkg/registry/apis/identity/legacy/legacy_sql.go
  pkg/registry/apis/identity/legacy/legacy_sql.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Update pkg/registry/apis/identity/display.go
  pkg/registry/apis/identity/display.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Plugin Instrumentation: Add `target` property to request logs
  pkg/services/pluginsintegration/clientmiddleware/logger_middleware.go
  pkg/services/pluginsintegration/pluginsintegration.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

remove comment
  pkg/services/pluginsintegration/clientmiddleware/logger_middleware.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

remove error
  pkg/services/pluginsintegration/clientmiddleware/logger_middleware.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Allow more time for token refresh, tracing
  pkg/services/oauthtoken/oauth_token.go
  pkg/services/oauthtoken/oauth_token_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Identity: remove GetIDClaims (#91901)
  pkg/apimachinery/identity/requester.go
  pkg/services/authn/identity.go
  pkg/services/user/identity.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

cleanup and make a legacysql interface
  pkg/registry/apis/dashboard/legacy/rv.go
  pkg/registry/apis/dashboard/legacy/sql_dashboards.go
  pkg/registry/apis/identity/display.go
  pkg/registry/apis/identity/legacy/legacy_sql.go
  pkg/registry/apis/identity/register.go
  pkg/storage/legacysql/README.md
  pkg/storage/legacysql/rv.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

support wasm
  scripts/webpack/webpack.common.js
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

jest testing fix
  jest.config.js
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Make it work when bodyScrolling is disabled
  public/app/features/dashboard-scene/scene/DashboardSceneRenderer.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

localization fix
  public/app/features/trails/Breakdown/ByFrameRepeater.tsx
  public/app/features/trails/Breakdown/LabelBreakdownScene.tsx
  public/locales/en-US/grafana.json
  public/locales/pseudo-LOCALE/grafana.json
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

use unknown instead of any
  public/app/features/trails/Breakdown/utils.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Distroless
  .drone.yml
  devenv/docker/blocks/mimir_backend/docker-compose.yaml
  scripts/drone/utils/images.star
Due: pr-verify-drone, pr-verify-starlark, pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, trigger-test-release, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, notify-drone-changes, main-trigger-downstream, main-notify

Dockerhub distroless image
  .drone.yml
  devenv/docker/blocks/mimir_backend/docker-compose.yaml
  scripts/drone/utils/images.star
Due: pr-verify-drone, pr-verify-starlark, pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, trigger-test-release, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, notify-drone-changes, main-trigger-downstream, main-notify

Lint
  lerna.json
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

backendResultTransformer: use templateSrv to highlight search words from variables
  public/app/plugins/datasource/loki/backendResultTransformer.ts
  public/app/plugins/datasource/loki/datasource.ts
  public/app/plugins/datasource/loki/queryUtils.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Alerting: Add error to annotations on data source errors (#91594)
  pkg/services/ngalert/state/manager_private_test.go
  pkg/services/ngalert/state/manager_test.go
  pkg/services/ngalert/state/state.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Add unit tests
  public/app/plugins/datasource/loki/backendResultTransformer.test.ts
  public/app/plugins/datasource/loki/backendResultTransformer.ts
  public/app/plugins/datasource/loki/queryUtils.test.ts
  public/app/plugins/datasource/loki/queryUtils.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Formatting
  public/app/plugins/datasource/loki/datasource.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Simplify how nav items are stored
  public/app/core/components/AppChrome/MegaMenu/MegaMenu.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

update i18n
  public/app/features/trails/Breakdown/ByFrameRepeater.tsx
  public/locales/en-US/grafana.json
  public/locales/pseudo-LOCALE/grafana.json
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Don't wrap single app in split wrapper
  public/app/AppWrapper.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

update betterer
  .betterer.results
  public/app/features/trails/Breakdown/utils.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Retry on Mysql Deadlock error 1213
  pkg/infra/serverlock/serverlock.go
  pkg/services/oauthtoken/oauth_token.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Path conditions:
  pr-verify-drone: any of: scripts/drone/**, .drone.yml, .drone.star, but not: docs/**, *.md
  pr-verify-starlark: any of: scripts/drone/**, .drone.star, but not: docs/**, *.md
  pr-test-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-lint-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-test-backend: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, but not: docs/**, *.md
  pr-lint-backend: any of: pkg/**, packaging/**, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, .bingo/**, but not: docs/**, *.md
  pr-build-e2e: any file but: *.md, docs/**, latest.json
  trigger-test-release: any of: .drone.yml, pkg/build/**
  end-to-end-tests-cloud-plugins-suite-azure: any of: pkg/tsdb/azuremonitor/**, public/app/plugins/datasource/azuremonitor/**, e2e/cloud-plugins-suite/azure-monitor.spec.ts
  build-storybook: any of: packages/grafana-ui/**
  pr-integration-tests: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, but not: docs/**, *.md
  pr-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  pr-shellcheck: any of: scripts/**/*.sh, but not: *.md, docs/**, latest.json
  main-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  main-test-frontend: any file but: *.md, docs/**, latest.json
  main-lint-frontend: any file but: *.md, docs/**, latest.json
  main-test-backend: any file but: *.md, docs/**, latest.json
  main-lint-backend: any file but: *.md, docs/**, latest.json
  main-build-e2e-publish: any file but: *.md, docs/**, latest.json
  store-storybook: any of: packages/grafana-ui/**
  main-integration-tests: any file but: *.md, docs/**, latest.json
  main-windows: any file but: *.md, docs/**, latest.json
  notify-drone-changes: any of: .drone.yml, but not: exclude
  main-trigger-downstream: any file but: *.md, docs/**, latest.json
  main-notify: any file but: *.md, docs/**, latest.json
