Repository grafana/grafana: changes, and which Drone steps are due for each by the changed paths.
All: pr-verify-drone, pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, pr-docs, main-docs, main-test-frontend, main-test-backend, main-build-e2e-publish, trigger-test-release, main-integration-tests, main-windows, notify-drone-changes, main-publish, main-notify

pr-verify-drone:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.15.6
    name: identify-runner
  - commands:
    - mkdir -p bin
    - curl -fL -o bin/grabpl https://grafana-downloads.storage.googleapis.com/grafana-build-pipeline/v3.0.5/grabpl
    - chmod +x bin/grabpl
    image: byrnedo/alpine-curl:0.1.8
  ...

pr-test-frontend:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.15.6
    name: identify-runner
  - commands:
    - mkdir -p bin
    - curl -fL -o bin/grabpl https://grafana-downloads.storage.googleapis.com/grafana-build-pipeline/v3.0.5/grabpl
    - chmod +x bin/grabpl
    image: byrnedo/alpine-curl:0.1.8
  ...

pr-test-backend:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.15.6
    name: identify-runner
  - commands:
    - mkdir -p bin
    - curl -fL -o bin/grabpl https://grafana-downloads.storage.googleapis.com/grafana-build-pipeline/v3.0.5/grabpl
    - chmod +x bin/grabpl
    image: byrnedo/alpine-curl:0.1.8
  ...

pr-build-e2e:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.15.6
    name: identify-runner
  - commands:
    - mkdir -p bin
    - curl -fL -o bin/grabpl https://grafana-downloads.storage.googleapis.com/grafana-build-pipeline/v3.0.5/grabpl
    - chmod +x bin/grabpl
    image: byrnedo/alpine-curl:0.1.8
  ...

pr-integration-tests:
  steps:
  - commands:
    - mkdir -p bin
    - curl -fL -o bin/grabpl https://grafana-downloads.storage.googleapis.com/grafana-build-pipeline/v3.0.5/grabpl
    - chmod +x bin/grabpl
    image: byrnedo/alpine-curl:0.1.8
    name: grabpl
  - commands:
  ...

pr-docs:
  steps:
  - commands:
    - mkdir -p bin
    - curl -fL -o bin/grabpl https://grafana-downloads.storage.googleapis.com/grafana-build-pipeline/v3.0.5/grabpl
    - chmod +x bin/grabpl
    image: byrnedo/alpine-curl:0.1.8
    name: grabpl
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.15.6
  ...

main-docs:
  steps:
  - commands:
    - mkdir -p bin
    - curl -fL -o bin/grabpl https://grafana-downloads.storage.googleapis.com/grafana-build-pipeline/v3.0.5/grabpl
    - chmod +x bin/grabpl
    image: byrnedo/alpine-curl:0.1.8
    name: grabpl
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.15.6
  ...

main-test-frontend:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.15.6
    name: identify-runner
  - commands:
    - mkdir -p bin
    - curl -fL -o bin/grabpl https://grafana-downloads.storage.googleapis.com/grafana-build-pipeline/v3.0.5/grabpl
    - chmod +x bin/grabpl
    image: byrnedo/alpine-curl:0.1.8
  ...

main-test-backend:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.15.6
    name: identify-runner
  - commands:
    - mkdir -p bin
    - curl -fL -o bin/grabpl https://grafana-downloads.storage.googleapis.com/grafana-build-pipeline/v3.0.5/grabpl
    - chmod +x bin/grabpl
    image: byrnedo/alpine-curl:0.1.8
  ...

Chore: Remove live from models (#61711)
  pkg/services/live/database/storage.go
  pkg/services/live/database/tests/storage_test.go
  pkg/services/live/features/broadcast.go
  pkg/services/live/features/broadcast_mock.go
  pkg/services/live/features/broadcast_test.go
  pkg/services/live/features/comment.go
  pkg/services/live/features/dashboard.go
  pkg/services/live/features/plugin.go
  pkg/services/live/live.go
  pkg/services/live/managedstream/runner.go
  pkg/services/live/model/model.go
  pkg/services/live/pipeline/data_output_builtin.go
  pkg/services/live/pipeline/pipeline.go
  pkg/services/live/pipeline/subscribe_builtin.go
  pkg/services/live/pipeline/subscribe_managed_stream.go
  pkg/services/live/pipeline/subscribe_multiple.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

refactor: add another test
  public/app/features/explore/state/query.test.ts
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Remove live.go from models
  pkg/models/live.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Add drag class to header instead of container to prevent issues with the viz
  packages/grafana-ui/src/components/PanelChrome/PanelChrome.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

RBAC: Rewrite ldap rbac tests
  pkg/api/ldap_debug_test.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Change Id to ID
  pkg/services/live/database/storage.go
  pkg/services/live/database/tests/storage_test.go
  pkg/services/live/features/broadcast.go
  pkg/services/live/features/broadcast_test.go
  pkg/services/live/model/model.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Improve filter checker, remove unused code, improve search Readme
  public/app/features/alerting/unified/components/rules/RulesFilter.tsx
  public/app/features/alerting/unified/hooks/useFilteredRules.ts
  public/app/features/alerting/unified/search/README.md
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Alerting: Create query interface for state history along with annotation-based implementation (#61646)
  pkg/services/ngalert/models/history.go
  pkg/services/ngalert/ngalert.go
  pkg/services/ngalert/state/historian/annotation.go
  pkg/services/ngalert/state/historian/annotation_test.go
  pkg/services/ngalert/state/historian/loki.go
  pkg/services/ngalert/state/historian/query.go
  pkg/services/ngalert/state/historian/sql.go
  pkg/services/ngalert/state/manager_test.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Add --init to all podman invocations to ensure ^C works on MacOS
  docs/Makefile
Due: pr-docs, main-docs

RBAC: Rewrite ldap rbac tests (#61743)
  pkg/api/ldap_debug_test.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

feat(pluginregistry): begin wiring up registry
  packages/grafana-data/src/types/pluginExtensions.ts
  public/app/features/plugins/extensions/registry.test.ts
  public/app/features/plugins/extensions/registry.ts
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Lint
  pkg/api/admin_test.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

RBAC: Rewrite admin api test setup to not use mocked access control
  pkg/api/admin_test.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Caching and nested routes working
  .betterer.results
  public/app/features/scenes/apps/GrafanaMonitoringApp2.tsx
  public/app/features/scenes/apps/scenes.ts
  public/app/features/scenes/components/app/SceneApp.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Chore: update `CODEOWNERS` for edge & multitenancy squads (#61672)
  .github/CODEOWNERS
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

uFuzzy
  public/app/plugins/panel/flamegraph/components/FlameGraph/FlameGraph.tsx
  public/app/plugins/panel/flamegraph/components/FlameGraph/rendering.ts
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Simplify model
  .betterer.results
  public/app/features/scenes/apps/GrafanaMonitoringApp2.tsx
  public/app/features/scenes/components/app/SceneApp.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

refactor: extend tests with datasourceInstance
  public/app/features/explore/state/query.test.ts
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Azure Monitor: Fix frame display name with multiple resources
  pkg/tsdb/azuremonitor/metrics/azuremonitor-datasource.go
  pkg/tsdb/azuremonitor/metrics/azuremonitor-datasource_test.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Remove duplicate feature flag
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.go
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

RBAC: Rewrite admin api test setup to not use mocked access control (#61741)
  pkg/api/admin_test.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

RBAC: Rewrite rbac provisioning api tests
  pkg/api/admin_provisioning_test.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

[v9.3.x] Variables: Allow user to filter values in dropdown using white space. (#61739)
  public/app/features/variables/pickers/OptionsPicker/OptionsPicker.tsx
  public/app/features/variables/pickers/OptionsPicker/actions.test.ts
  public/app/features/variables/pickers/OptionsPicker/reducer.test.ts
  public/app/features/variables/pickers/OptionsPicker/reducer.ts
  public/app/features/variables/pickers/shared/VariableInput.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

feat(pluginextensions): prevent duplicate links and clean up
  public/app/features/plugins/extensions/registry.test.ts
  public/app/features/plugins/extensions/registry.ts
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

changed `checked` propery to `value`
  public/app/plugins/datasource/elasticsearch/configuration/ElasticDetails.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Remove dashboard ACL from models
  pkg/api/annotations_test.go
  pkg/api/common_test.go
  pkg/api/dashboard_permission.go
  pkg/api/dashboard_permission_test.go
  pkg/api/dashboard_snapshot_test.go
  pkg/api/dashboard_test.go
  pkg/api/folder_permission.go
  pkg/api/folder_permission_test.go
  pkg/api/folder_test.go
  pkg/api/org_users_test.go
  pkg/infra/db/sqlbuilder_test.go
  pkg/models/dashboard_acl.go
  pkg/services/dashboards/dashboard.go
  pkg/services/dashboards/dashboard_service_mock.go
  pkg/services/dashboards/database/acl.go
  pkg/services/dashboards/database/acl_test.go
  pkg/services/dashboards/database/database.go
  pkg/services/dashboards/database/database_folder_test.go
  pkg/services/dashboards/database/database_test.go
  pkg/services/dashboards/models.go
  pkg/services/dashboards/service/dashboard_service.go
  pkg/services/dashboards/service/dashboard_service_integration_test.go
  pkg/services/dashboards/service/dashboard_service_test.go
  pkg/services/dashboards/store_mock.go
  pkg/services/folder/folderimpl/folder.go
  pkg/services/guardian/accesscontrol_guardian.go
  pkg/services/guardian/guardian.go
  pkg/services/guardian/guardian_test.go
  pkg/services/guardian/guardian_util_test.go
  pkg/services/libraryelements/libraryelements_test.go
  pkg/services/librarypanels/librarypanels_test.go
  pkg/services/sqlstore/migrations/accesscontrol/dashboard_permissions.go
  pkg/services/team/teamimpl/store_test.go
  pkg/services/user/userimpl/store_test.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Remove percentTitle
  public/app/plugins/panel/flamegraph/components/FlameGraph/FlameGraphTooltip.test.ts
  public/app/plugins/panel/flamegraph/components/FlameGraph/FlameGraphTooltip.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

revert changing the prop in the event
  public/app/plugins/datasource/elasticsearch/configuration/ElasticDetails.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Elasticsearch: Fix create span link if no tags
  public/app/features/explore/TraceView/createSpanLink.test.ts
  public/app/features/explore/TraceView/createSpanLink.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

[Panel] Extract styling duplication in new TitleItem component (#61625)
  packages/grafana-ui/src/components/DateTimePickers/TimeRangePicker.tsx
  packages/grafana-ui/src/components/PanelChrome/PanelDescription.tsx
  packages/grafana-ui/src/components/PanelChrome/TitleItem.tsx
  packages/grafana-ui/src/components/PanelChrome/index.ts
  packages/grafana-ui/src/components/index.ts
  public/app/features/dashboard/dashgrid/PanelHeader/PanelHeaderTitleItems.tsx
  public/app/features/dashboard/dashgrid/PanelLinks.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

RBAC: Rewrite rbac provisioning api test
  pkg/api/admin_provisioning_test.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

lint
  pkg/api/admin_provisioning_test.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Small refactor, add parsing explanations
  public/app/features/alerting/unified/search/searchParser.ts
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

docs, link data source to build plugin task
  docs/sources/datasources/_index.md
Due: pr-docs, main-docs

API: Correctly use new grafana_com.api_url setting in /api/gnet proxy
  pkg/api/grafana_com_proxy.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

fetch remotely
  pkg/plugins/manager/loader/finder/fs.go
  pkg/plugins/manager/loader/finder/fs_test.go
  pkg/plugins/manager/loader/finder/http.go
  pkg/plugins/manager/loader/finder/ifaces.go
  pkg/plugins/manager/loader/loader.go
  pkg/plugins/manager/signature/manifest.go
  pkg/plugins/manager/signature/signature.go
  pkg/plugins/manager/store/store.go
  pkg/plugins/plugins.go
  pkg/plugins/remotefiles.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Reduce jargon and sentence length
  docs/sources/datasources/_index.md
Due: pr-docs, main-docs

Elasticsearch: Fix toggle-settings are not shown correctly (#61751)
  public/app/plugins/datasource/elasticsearch/configuration/ElasticDetails.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Path conditions:
  pr-verify-drone: any of: scripts/drone/**, .drone.yml, .drone.star, but not: docs/**, *.md
  pr-test-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-test-backend: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, but not: docs/**, *.md
  pr-build-e2e: any file but: *.md, docs/**, latest.json
  pr-integration-tests: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, but not: docs/**, *.md
  pr-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  main-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  main-test-frontend: any file but: *.md, docs/**, latest.json
  main-test-backend: any file but: *.md, docs/**, latest.json
  main-build-e2e-publish: any file but: *.md, docs/**, latest.json
  trigger-test-release: any of: .drone.yml, pkg/build/**
  main-integration-tests: any file but: *.md, docs/**, latest.json
  main-windows: any file but: *.md, docs/**, latest.json
  notify-drone-changes: any of: .drone.yml, but not: exclude
  main-publish: any file but: *.md, docs/**, latest.json
  main-notify: any file but: *.md, docs/**, latest.json
