Repository grafana/grafana: changes, and which Drone steps are due for each by the changed paths.
All: pr-verify-drone, pr-verify-starlark, pr-build-e2e, end-to-end-tests-cloud-plugins-suite-azure, build-storybook, pr-docs, main-docs, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-trigger-downstream, main-notify, rgm-main-prerelease

pr-verify-drone:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.21.3
    name: identify-runner
  - commands:
    - go build -o ./bin/build -ldflags '-extldflags -static' ./pkg/build/cmd
    depends_on: []
    environment:
      CGO_ENABLED: 0
    image: golang:1.24.5-alpine
    name: compile-build-cmd
  - commands:
  ...

pr-verify-starlark:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.21.3
    name: identify-runner
  - commands:
    - go install github.com/bazelbuild/buildtools/buildifier@latest
    - buildifier --lint=warn -mode=check -r .
    depends_on: []
    image: golang:1.24.5-alpine
    name: lint-starlark

pr-build-e2e:
  steps:
  - commands:
    - echo $(/usr/bin/github-app-external-token) > /github-app/token
    environment:
      GITHUB_APP_ID:
        from_secret: github-app-app-id
      GITHUB_APP_INSTALLATION_ID:
        from_secret: github-app-installation-id
      GITHUB_APP_PRIVATE_KEY:
  ...

end-to-end-tests-cloud-plugins-suite-azure:
  commands:
  - GITHUB_TOKEN=$(cat /github-app/token)
  - cd /
  - ./cpp-e2e/scripts/ci-run.sh azure ${DRONE_SOURCE_BRANCH}
  depends_on:
  - grafana-server
  - github-app-generate-token
  environment:
    AZURE_SP_APP_ID:
      from_secret: azure_sp_app_id
    AZURE_SP_PASSWORD:
      from_secret: azure_sp_app_pw
  ...

build-storybook:
  commands:
  - yarn storybook:build
  - ./bin/build verify-storybook
  depends_on:
  - rgm-package
  - build-frontend-packages
  environment:
    NODE_OPTIONS: --max_old_space_size=4096
  image: node:22.16.0-alpine

pr-docs:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.21.3
    name: identify-runner
  - commands:
    - yarn install --immutable || yarn install --immutable
    depends_on: []
    image: node:22.16.0-alpine
    name: yarn-install
  - commands:
    - yarn run prettier:checkDocs
    depends_on:
  ...

main-docs:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.21.3
    name: identify-runner
  - commands:
    - yarn install --immutable || yarn install --immutable
    depends_on: []
    image: node:22.16.0-alpine
    name: yarn-install
  - commands:
    - yarn run prettier:checkDocs
    depends_on:
  ...

main-build-e2e-publish:
  steps:
  - commands:
    - echo $(/usr/bin/github-app-external-token) > /github-app/token
    environment:
      GITHUB_APP_ID:
        from_secret: github-app-app-id
      GITHUB_APP_INSTALLATION_ID:
        from_secret: github-app-installation-id
      GITHUB_APP_PRIVATE_KEY:
  ...

store-storybook:
  commands:
  - ./bin/build store-storybook --deployment canary
  depends_on:
  - build-storybook
  - end-to-end-tests-cloud-plugins-suite-azure
  - playwright-plugin-e2e
  environment:
    GCP_KEY:
      from_secret: gcp_grafanauploads
    PRERELEASE_BUCKET:
      from_secret: prerelease_bucket
  ...

reorganize to pre-calc the per-field stuff
  packages/grafana-ui/src/components/Table/TableNG/TableNG.tsx
  packages/grafana-ui/src/components/Table/TableNG/components/TableCellTooltip.tsx
Due: pr-build-e2e, build-storybook, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-trigger-downstream, main-notify, rgm-main-prerelease

[InfluxDB] Config design improvements (#108562)
  packages/grafana-ui/src/components/DataSourceSettings/CertificationKey.tsx
  public/app/plugins/datasource/influxdb/components/editor/config-v2/AdvancedDBConnectionSettings.tsx
  public/app/plugins/datasource/influxdb/components/editor/config-v2/AdvancedHttpSettings.tsx
  public/app/plugins/datasource/influxdb/components/editor/config-v2/AuthSettings.test.tsx
  public/app/plugins/datasource/influxdb/components/editor/config-v2/AuthSettings.tsx
  public/app/plugins/datasource/influxdb/components/editor/config-v2/ConfigEditor.tsx
  public/app/plugins/datasource/influxdb/components/editor/config-v2/DatabaseConnectionSection.tsx
  public/app/plugins/datasource/influxdb/components/editor/config-v2/InfluxFluxDBConnection.tsx
  public/app/plugins/datasource/influxdb/components/editor/config-v2/InfluxInfluxQLDBConnection.tsx
  public/app/plugins/datasource/influxdb/components/editor/config-v2/InfluxSQLDBConnection.tsx
  public/app/plugins/datasource/influxdb/components/editor/config-v2/LeftSideBar.tsx
  public/app/plugins/datasource/influxdb/components/editor/config-v2/UrlAndAuthenticationSection.tsx
  public/app/plugins/datasource/influxdb/components/editor/config-v2/constants.ts
  public/app/plugins/datasource/influxdb/types.ts
Due: pr-build-e2e, build-storybook, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-trigger-downstream, main-notify, rgm-main-prerelease

poc
  pkg/storage/unified/resource/search.go
  pkg/storage/unified/search/bleve.go
Due: pr-build-e2e, main-build-e2e-publish, main-trigger-downstream, main-notify, rgm-main-prerelease

[create-pull-request] automated change
  go.mod
  go.sum
Due: pr-build-e2e, main-build-e2e-publish, main-trigger-downstream, main-notify, rgm-main-prerelease

Added glossary term
  docs/sources/panels-visualizations/visualizations/table/index.md
Due: pr-docs, main-docs

bulk delete and bulk move job: after job success, refetch folders
  public/app/features/browse-dashboards/components/BulkActions/BulkDeleteProvisionedResource.tsx
  public/app/features/browse-dashboards/components/BulkActions/BulkMoveProvisionedResource.tsx
  public/app/features/browse-dashboards/components/BulkActions/utils.ts
  public/app/features/dashboard-scene/utils/useProvisionedRequestHandler.ts
  public/app/features/provisioning/Job/FinishedJobStatus.tsx
  public/app/features/provisioning/Job/JobStatus.tsx
Due: pr-build-e2e, main-build-e2e-publish, main-trigger-downstream, main-notify, rgm-main-prerelease

use linear gradient for triangle
  packages/grafana-ui/src/components/Table/TableNG/TableNG.tsx
  packages/grafana-ui/src/components/Table/TableNG/styles.ts
Due: pr-build-e2e, build-storybook, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-trigger-downstream, main-notify, rgm-main-prerelease

chore: handle sql button styling differently
  public/app/features/expressions/components/SqlExpr.tsx
Due: pr-build-e2e, main-build-e2e-publish, main-trigger-downstream, main-notify, rgm-main-prerelease

fix url to pull requests
  .github/workflows/alerting-update-module.yml
Due: pr-build-e2e, main-build-e2e-publish, main-trigger-downstream, main-notify, rgm-main-prerelease

add default labels
  .github/workflows/alerting-update-module.yml
Due: pr-build-e2e, main-build-e2e-publish, main-trigger-downstream, main-notify, rgm-main-prerelease

send message to slack
  .github/workflows/alerting-update-module.yml
Due: pr-build-e2e, main-build-e2e-publish, main-trigger-downstream, main-notify, rgm-main-prerelease

chore: initial query formatted
  public/app/features/expressions/components/SqlExpr.tsx
Due: pr-build-e2e, main-build-e2e-publish, main-trigger-downstream, main-notify, rgm-main-prerelease

linter
  pkg/registry/apis/provisioning/register.go
Due: pr-build-e2e, main-build-e2e-publish, main-trigger-downstream, main-notify, rgm-main-prerelease

update e2e to reflect current behavior, that clicking caret multiple times doesn't toggle pinning
  e2e-playwright/panels-suite/table-kitchenSink.spec.ts
  packages/grafana-ui/src/components/Table/TableNG/styles.ts
Due: pr-build-e2e, build-storybook, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-trigger-downstream, main-notify, rgm-main-prerelease

fallback to main if the same branch is not found in alerting repo
  .github/workflows/alerting-update-module.yml
Due: pr-build-e2e, main-build-e2e-publish, main-trigger-downstream, main-notify, rgm-main-prerelease

clean up event handlers a bit
  packages/grafana-ui/src/components/Table/TableNG/components/TableCellTooltip.tsx
Due: pr-build-e2e, build-storybook, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-trigger-downstream, main-notify, rgm-main-prerelease

restore test for toggle click
  e2e-playwright/panels-suite/table-kitchenSink.spec.ts
Due: pr-build-e2e, main-build-e2e-publish, main-trigger-downstream, main-notify, rgm-main-prerelease

fix message
  .github/workflows/alerting-update-module.yml
Due: pr-build-e2e, main-build-e2e-publish, main-trigger-downstream, main-notify, rgm-main-prerelease

restructuring content and style edits
  docs/sources/troubleshooting/_index.md
  docs/sources/troubleshooting/har-captures/index.md
Due: pr-docs, main-docs

run prettier
  docs/sources/troubleshooting/har-captures/index.md
Due: pr-docs, main-docs

scratch reviewers
  .github/workflows/alerting-update-module.yml
Due: pr-build-e2e, main-build-e2e-publish, main-trigger-downstream, main-notify, rgm-main-prerelease

alright, re-remove the toggle case
  e2e-playwright/panels-suite/table-kitchenSink.spec.ts
Due: pr-build-e2e, main-build-e2e-publish, main-trigger-downstream, main-notify, rgm-main-prerelease

chore: fix styling last time
  public/app/features/expressions/components/SqlExpr.tsx
Due: pr-build-e2e, main-build-e2e-publish, main-trigger-downstream, main-notify, rgm-main-prerelease

fix
  .github/workflows/alerting-update-module.yml
Due: pr-build-e2e, main-build-e2e-publish, main-trigger-downstream, main-notify, rgm-main-prerelease

fix unit tests
  public/app/features/browse-dashboards/components/DeleteProvisionedFolderForm.test.tsx
  public/app/features/browse-dashboards/components/NewProvisionedFolderForm.test.tsx
  public/app/features/dashboard-scene/utils/useProvisionedRequestHandler.test.ts
Due: pr-build-e2e, main-build-e2e-publish, main-trigger-downstream, main-notify, rgm-main-prerelease

hacking on how we could retrieve and index new events when getting an index that has already been built and cached
  pkg/storage/unified/sql/data/resource_history_list_delta.sql
Due: pr-build-e2e, main-build-e2e-publish, main-trigger-downstream, main-notify, rgm-main-prerelease

hacking on how we could retrieve and index new events when getting an index that has already been built and cached
  pkg/storage/unified/resource/search.go
  pkg/storage/unified/resource/server.go
  pkg/storage/unified/search/bleve.go
  pkg/storage/unified/sql/backend.go
  pkg/storage/unified/sql/data/resource_history_read_latest_rv.sql
Due: pr-build-e2e, main-build-e2e-publish, main-trigger-downstream, main-notify, rgm-main-prerelease

Provisioning: Update for standalone (#109524)
  pkg/registry/apis/provisioning/register.go
Due: pr-build-e2e, main-build-e2e-publish, main-trigger-downstream, main-notify, rgm-main-prerelease

wip investigation
  pkg/services/dashboardimport/utils/dash_template_evaluator.go
  public/app/features/dashboard-scene/scene/export/exporters.ts
  public/app/features/dashboard-scene/v2schema/ImportDashboardFormV2.tsx
  public/app/features/dashboard-scene/v2schema/ImportDashboardOverviewV2.tsx
  public/app/features/dashboard/state/DashboardModel.ts
Due: pr-build-e2e, main-build-e2e-publish, main-trigger-downstream, main-notify, rgm-main-prerelease

Git Sync: Add repository controller
  .gitignore
  apps/provisioning/Makefile
  apps/provisioning/cmd/repository-controller/Makefile
  apps/provisioning/cmd/repository-controller/README.md
  apps/provisioning/cmd/repository-controller/main.go
Due: pr-build-e2e, main-build-e2e-publish, main-trigger-downstream, main-notify, rgm-main-prerelease

Resource picker filter tests
  public/app/plugins/datasource/azuremonitor/components/ResourcePicker/ResourcePicker.test.tsx
  public/app/plugins/datasource/azuremonitor/mocks/datasource.ts
Due: pr-build-e2e, end-to-end-tests-cloud-plugins-suite-azure, main-build-e2e-publish, main-trigger-downstream, main-notify, rgm-main-prerelease

fix test, branch flow check
  public/app/features/browse-dashboards/components/BulkActions/BulkDeleteProvisionedResource.tsx
  public/app/features/browse-dashboards/components/BulkActions/BulkMoveProvisionedResource.tsx
  public/app/features/dashboard-scene/settings/DeleteProvisionedDashboardForm.test.tsx
Due: pr-build-e2e, main-build-e2e-publish, main-trigger-downstream, main-notify, rgm-main-prerelease

fix legacy string value issues
  apps/dashboard/pkg/migration/conversion/testdata/input/v1beta1.variable-conversions.json
  apps/dashboard/pkg/migration/conversion/testdata/output/v1beta1.variable-conversions.v0alpha1.json
  public/app/features/dashboard/api/ResponseTransformers.ts
  public/app/features/dashboard/api/ResponseTransformersToBackend.test.ts
Due: pr-build-e2e, main-build-e2e-publish, main-trigger-downstream, main-notify, rgm-main-prerelease

fix slack step
  .github/workflows/alerting-update-module.yml
Due: pr-build-e2e, main-build-e2e-publish, main-trigger-downstream, main-notify, rgm-main-prerelease

cursor pointer
  packages/grafana-ui/src/components/Table/TableNG/styles.ts
Due: pr-build-e2e, build-storybook, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-trigger-downstream, main-notify, rgm-main-prerelease

tests(integration): Verify admin user is in place on StartGrafana env
  pkg/tests/api/annotations/annotations_test.go
  pkg/tests/api/dashboards/api_dashboards_test.go
  pkg/tests/api/folders/api_folder_test.go
  pkg/tests/api/folders/api_folders_test.go
  pkg/tests/api/publicdashboards/public_dashboard_query_test.go
  pkg/tests/api/publicdashboards/public_dashboards_api_test.go
  pkg/tests/testinfra/testinfra.go
  pkg/tests/utils.go
Due: pr-build-e2e, main-build-e2e-publish, main-trigger-downstream, main-notify, rgm-main-prerelease

Path conditions:
  pr-verify-drone: any of: scripts/drone/**, .drone.yml, .drone.star, but not: docs/**, *.md
  pr-verify-starlark: any of: scripts/drone/**, .drone.star, but not: docs/**, *.md
  pr-build-e2e: any file but: *.md, docs/**, latest.json
  end-to-end-tests-cloud-plugins-suite-azure: any of: pkg/tsdb/azuremonitor/**, public/app/plugins/datasource/azuremonitor/**, e2e/cloud-plugins-suite/azure-monitor.spec.ts
  build-storybook: any of: packages/grafana-ui/**
  pr-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  main-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  main-build-e2e-publish: any file but: *.md, docs/**, latest.json
  store-storybook: any of: packages/grafana-ui/**
  release-canary-npm-packages: any of: packages/**
  main-trigger-downstream: any file but: *.md, docs/**, latest.json
  main-notify: any file but: *.md, docs/**, latest.json
  rgm-main-prerelease: any file but: *.md, docs/**, packages/**/*.md, latest.json
