Repository grafana/grafana: changes, and which Drone steps are due for each by the changed paths.
All: pr-verify-drone, pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, pr-docs, main-docs, main-test-frontend, main-test-backend, main-build-e2e-publish, trigger-test-release, main-integration-tests, main-windows, notify-drone-changes, main-publish, main-notify

Path conditions:
  pr-verify-drone: any of: scripts/drone/**, .drone.yml, .drone.star, but not: docs/**, *.md
  pr-test-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-test-backend: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, but not: docs/**, *.md
  pr-build-e2e: any file but: *.md, docs/**, latest.json
  pr-integration-tests: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, but not: docs/**, *.md
  pr-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  main-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  main-test-frontend: any file but: *.md, docs/**, latest.json
  main-test-backend: any file but: *.md, docs/**, latest.json
  main-build-e2e-publish: any file but: *.md, docs/**, latest.json
  trigger-test-release: any of: .drone.yml, pkg/build/**
  main-integration-tests: any file but: *.md, docs/**, latest.json
  main-windows: any file but: *.md, docs/**, latest.json
  notify-drone-changes: any of: .drone.yml, but not: exclude
  main-publish: any file but: *.md, docs/**, latest.json
  main-notify: any file but: *.md, docs/**, latest.json

Users: Fix org user always getting org id = 1 on auto assign false (#63708)
  pkg/api/org_users_test.go
  pkg/services/accesscontrol/database/database_test.go
  pkg/services/org/orgimpl/org.go
  pkg/services/org/orgimpl/org_test.go
  pkg/services/org/orgimpl/store.go
  pkg/services/org/orgimpl/store_test.go
  pkg/services/serviceaccounts/database/store_test.go
  pkg/services/user/userimpl/user.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Bump coverage versions (#63755)
  .github/workflows/cloud-data-sources-code-coverage.yml
  .github/workflows/ox-code-coverage.yml
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Alerting: Prevent resetting the form on evaluation group interval change (#63763)
  public/app/features/alerting/unified/components/rule-editor/AlertRuleForm.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

AzureMonitor: Fix template variables in ARG subscription field (#63731)
  public/app/plugins/datasource/azuremonitor/components/ArgQueryEditor/ArgQueryEditor.test.tsx
  public/app/plugins/datasource/azuremonitor/components/ArgQueryEditor/ArgQueryEditor.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Chore: Upgrade Go to 1.20.1 and Alpine to 3.17 (#63639)
  .drone.yml
  Dockerfile
  Makefile
  packaging/docker/build.sh
  pkg/build/docker/build.go
  pkg/util/errutil/log.go
  scripts/build/ci-build/Dockerfile
  scripts/drone/steps/lib.star
Due: pr-verify-drone, pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, trigger-test-release, main-integration-tests, main-windows, notify-drone-changes, main-publish, main-notify

API: Cache-Control (browser caching) for datasource resources: part 2 (#63060)
  pkg/middleware/middleware.go
  pkg/middleware/middleware_test.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Plugins: Remove stream handler from plugins DTO (#63812)
  pkg/api/dashboard_test.go
  pkg/plugins/plugins.go
  pkg/services/live/live.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Datasources: Add user_agent header customization for outgoing HTTP requests (#63769)
  conf/defaults.ini
  conf/sample.ini
  docs/sources/setup-grafana/configure-grafana/_index.md
  pkg/api/pluginproxy/ds_proxy.go
  pkg/infra/httpclient/httpclientprovider/http_client_provider.go
  pkg/setting/setting.go
  pkg/setting/setting_data_proxy.go
  pkg/tsdb/azuremonitor/resourcegraph/azure-resource-graph-datasource.go
  pkg/tsdb/azuremonitor/resourcegraph/azure-resource-graph-datasource_test.go
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, pr-docs, main-docs, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

[DOC] Change APM dashboard to Service Graph view (#63818)
  docs/sources/datasources/tempo/_index.md
  docs/sources/explore/trace-integration.md
Due: pr-docs, main-docs

TimeSeries: Fix legend and tooltip colors changing after data refreshes (#63823)
  packages/grafana-ui/src/components/TimeSeries/utils.ts
  public/app/plugins/panel/timeseries/utils.test.ts
  public/app/plugins/panel/timeseries/utils.ts
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Elasticsearch: Implement processing of logs query results in backend (#63647)
  pkg/tsdb/elasticsearch/client/client.go
  pkg/tsdb/elasticsearch/client/client_test.go
  pkg/tsdb/elasticsearch/elasticsearch.go
  pkg/tsdb/elasticsearch/querydata_test.go
  pkg/tsdb/elasticsearch/response_parser.go
  pkg/tsdb/elasticsearch/response_parser_test.go
  pkg/tsdb/elasticsearch/snapshot_test.go
  pkg/tsdb/elasticsearch/testdata_response/logs.a.golden.jsonc
  pkg/tsdb/elasticsearch/testdata_response/logs.queries.json
  pkg/tsdb/elasticsearch/testdata_response/logs.response.json
  pkg/tsdb/elasticsearch/time_series_query.go
  pkg/tsdb/elasticsearch/time_series_query_test.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

PublicDashboards: Email sharing (#63762)
  docs/sources/dashboards/dashboard-public/index.md
  packages/grafana-e2e-selectors/src/selectors/pages.ts
  public/app/features/dashboard/api/publicDashboardApi.ts
  public/app/features/dashboard/components/ShareModal/SharePublicDashboard/ConfigPublicDashboard/ConfigPublicDashboard.tsx
  public/app/features/dashboard/components/ShareModal/SharePublicDashboard/ConfigPublicDashboard/EmailSharingConfiguration.tsx
  public/app/features/dashboard/components/ShareModal/SharePublicDashboard/SharePublicDashboard.test.tsx
  public/app/features/dashboard/components/ShareModal/SharePublicDashboard/SharePublicDashboardUtils.ts
  public/app/features/dashboard/components/ShareModal/SharePublicDashboard/utilsTest.tsx
  public/app/features/manage-dashboards/components/PublicDashboardListTable/DeletePublicDashboardModal.tsx
Due: pr-test-frontend, pr-build-e2e, pr-docs, main-docs, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Service accounts: Remove Add API keys buttons and remove one state of migrating for API keys tab (#63411)
  .betterer.results
  pkg/services/apikey/apikey.go
  pkg/services/apikey/apikeyimpl/apikey.go
  pkg/services/apikey/apikeyimpl/sqlx_store.go
  pkg/services/apikey/apikeyimpl/store.go
  pkg/services/apikey/apikeyimpl/xorm_store.go
  pkg/services/apikey/apikeytest/fake.go
  pkg/services/navtree/navtreeimpl/admin.go
  pkg/services/serviceaccounts/api/api.go
  pkg/services/serviceaccounts/api/api_test.go
  pkg/services/serviceaccounts/api/token_test.go
  pkg/services/serviceaccounts/database/store.go
  pkg/services/serviceaccounts/manager/service.go
  pkg/services/serviceaccounts/manager/service_test.go
  pkg/services/serviceaccounts/manager/store.go
  pkg/services/serviceaccounts/models.go
  public/app/core/components/Footer/Footer.tsx
  public/app/features/api-keys/APIKeysMigratedCard.tsx
  public/app/features/api-keys/ApiKeysActionBar.tsx
  public/app/features/api-keys/ApiKeysAddedModal.test.tsx
  public/app/features/api-keys/ApiKeysAddedModal.tsx
  public/app/features/api-keys/ApiKeysController.tsx
  public/app/features/api-keys/ApiKeysForm.tsx
  public/app/features/api-keys/ApiKeysPage.test.tsx
  public/app/features/api-keys/ApiKeysPage.tsx
  public/app/features/api-keys/MigrateToServiceAccountsCard.tsx
  public/app/features/api-keys/state/actions.ts
  public/app/features/api-keys/state/reducers.ts
  public/app/features/api-keys/state/selectors.test.ts
  public/app/features/serviceaccounts/ServiceAccountsListPage.test.tsx
  public/app/features/serviceaccounts/ServiceAccountsListPage.tsx
  public/app/features/serviceaccounts/constants.ts
  public/app/features/serviceaccounts/state/actions.ts
  public/app/features/serviceaccounts/state/reducers.ts
  public/app/types/apiKeys.ts
  public/app/types/serviceaccount.ts
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

fix terminal commands (#63719)
  docs/sources/setup-grafana/configure-security/configure-private-datasource-connect/index.md
Due: pr-docs, main-docs

Changelog: Updated changelog for 9.2.13 (#63886)
  CHANGELOG.md
Due: pr-docs, main-docs

API: Enable serving Swagger UI by default and add docs and guidelines (#63489)
  contribute/backend/README.md
  docs/sources/developers/http_api/_index.md
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/api/README.md
  pkg/api/api.go
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.go
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, pr-docs, main-docs, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Add documentation for private data source connect using kubernetes (#63863)
  docs/sources/setup-grafana/configure-security/configure-private-datasource-connect/index.md
Due: pr-docs, main-docs

Plugins: Add simple plugin sources service (#63814)
  pkg/api/plugin_resource_test.go
  pkg/plugins/manager/fakes/fakes.go
  pkg/plugins/manager/manager_integration_test.go
  pkg/plugins/manager/sources/ifaces.go
  pkg/plugins/manager/sources/sources.go
  pkg/plugins/manager/sources/sources_test.go
  pkg/plugins/manager/store/store.go
  pkg/plugins/manager/store/store_test.go
  pkg/services/pluginsintegration/pluginsintegration.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Chore: Let wire inject prometheus.Registerer (#62195)
  pkg/infra/metrics/service.go
  pkg/server/wire.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Profiling: Enable flame graph & Phlare/Parca data sources for all users (#63488)
  docs/sources/datasources/parca.md
  docs/sources/datasources/phlare.md
  docs/sources/panels-visualizations/visualizations/flame-graph/index.md
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/api/frontendsettings.go
  pkg/api/plugins.go
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.go
  pkg/tests/api/plugins/data/expectedListResp.json
  public/app/features/explore/Explore.tsx
  public/app/features/explore/utils/decorators.test.ts
  public/app/features/explore/utils/decorators.ts
  public/app/plugins/panel/flamegraph/components/FlameGraphContainer.tsx
  public/app/plugins/panel/flamegraph/plugin.json
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, pr-docs, main-docs, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Chore: Update thema and cuesty v0.1.6 (#63629)
  go.mod
  go.sum
  pkg/tsdb/azuremonitor/kinds/dataquery/types_dataquery_gen.go
  pkg/tsdb/cloudwatch/kinds/dataquery/types_dataquery_gen.go
  pkg/tsdb/elasticsearch/kinds/dataquery/types_dataquery_gen.go
  public/app/plugins/datasource/elasticsearch/dataquery.cue
  public/app/plugins/datasource/elasticsearch/dataquery.gen.ts
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Changelog: Updated changelog for 9.3.7 (#63853)
  CHANGELOG.md
Due: pr-docs, main-docs

Plugins: Introduce plugin package specific logger (#62204)
  pkg/plugins/backendplugin/backendplugin.go
  pkg/plugins/backendplugin/coreplugin/core_plugin.go
  pkg/plugins/backendplugin/coreplugin/core_plugin_test.go
  pkg/plugins/backendplugin/coreplugin/registry.go
  pkg/plugins/backendplugin/grpcplugin/client.go
  pkg/plugins/backendplugin/grpcplugin/client_v2.go
  pkg/plugins/backendplugin/grpcplugin/grpc_plugin.go
  pkg/plugins/backendplugin/grpcplugin/log_wrapper.go
  pkg/plugins/backendplugin/ifaces.go
  pkg/plugins/backendplugin/instrumentation/instrumentation.go
  pkg/plugins/backendplugin/provider/provider.go
  pkg/plugins/config/config.go
  pkg/plugins/log/fake.go
  pkg/plugins/log/ifaces.go
  pkg/plugins/log/infra_wrapper.go
  pkg/plugins/log/logger.go
  pkg/plugins/logger/ifaces.go
  pkg/plugins/logger/logger.go
  pkg/plugins/manager/fakes/fakes.go
  pkg/plugins/manager/installer.go
  pkg/plugins/manager/installer_test.go
  pkg/plugins/manager/loader/finder/finder.go
  pkg/plugins/manager/loader/finder/finder_test.go
  pkg/plugins/manager/loader/initializer/initializer.go
  pkg/plugins/manager/loader/initializer/initializer_test.go
  pkg/plugins/manager/loader/loader.go
  pkg/plugins/manager/loader/loader_test.go
  pkg/plugins/manager/process/process.go
  pkg/plugins/manager/process/process_test.go
  pkg/plugins/manager/signature/manifest.go
  pkg/plugins/manager/signature/manifest_test.go
  pkg/plugins/manager/signature/signature.go
  pkg/plugins/plugincontext/plugincontext.go
  pkg/plugins/plugins.go
  pkg/plugins/repo/client.go
  pkg/plugins/repo/service.go
  pkg/plugins/storage/fs.go
  pkg/tests/api/plugins/backendplugin/backendplugin_test.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

NodeGraph: Support icons for nodes (#60989)
  docs/sources/panels-visualizations/visualizations/node-graph/index.md
  packages/grafana-data/src/utils/nodeGraph.ts
  public/app/plugins/datasource/testdata/nodeGraphUtils.ts
  public/app/plugins/panel/nodeGraph/EdgeLabel.tsx
  public/app/plugins/panel/nodeGraph/Node.test.tsx
  public/app/plugins/panel/nodeGraph/Node.tsx
  public/app/plugins/panel/nodeGraph/NodeGraph.test.tsx
  public/app/plugins/panel/nodeGraph/NodeGraph.tsx
  public/app/plugins/panel/nodeGraph/types.ts
  public/app/plugins/panel/nodeGraph/useContextMenu.tsx
  public/app/plugins/panel/nodeGraph/utils.test.ts
  public/app/plugins/panel/nodeGraph/utils.ts
Due: pr-test-frontend, pr-build-e2e, pr-docs, main-docs, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

TraceView: Reworked header (#63105)
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.go
  public/app/features/explore/TraceView/TraceView.tsx
  public/app/features/explore/TraceView/components/TracePageHeader/NewTracePageHeader.test.tsx
  public/app/features/explore/TraceView/components/TracePageHeader/NewTracePageHeader.tsx
  public/app/features/explore/TraceView/components/TracePageHeader/TracePageHeader.test.tsx
  public/app/features/explore/TraceView/components/TracePageHeader/TracePageHeader.tsx
  public/app/features/explore/TraceView/components/TracePageHeader/index.tsx
  public/app/features/explore/TraceView/components/index.ts
  public/app/features/explore/TraceView/components/model/find-trace-name.test.ts
  public/app/features/explore/TraceView/components/model/trace-viewer.ts
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, pr-docs, main-docs, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Changelog: Updated changelog for 9.3.8 (#63854)
  CHANGELOG.md
Due: pr-docs, main-docs

Navigation: reserve horizontal space for img in SectionNavItem to avoid layout shift (#63722)
  public/app/core/components/PageNew/SectionNavItem.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Prometheus: Fix panic-ing when closing response body (#63895)
  pkg/tsdb/prometheus/querydata/request.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Changelog: Updated changelog for 8.5.21 (#63882)
  CHANGELOG.md
Due: pr-docs, main-docs

Select: Show icon in the grafana/ui Select component (#63827)
  packages/grafana-ui/src/components/Select/SingleValue.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

NPM: Stop using the folder path before the name path (#63851)
  pkg/build/gcloud/storage/gsutil.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, trigger-test-release, main-integration-tests, main-windows, main-publish, main-notify

Connections: Fix minor issues around Your connections/Data sources page (#63801)
  public/app/features/connections/Connections.test.tsx
  public/app/features/connections/Connections.tsx
  public/app/features/connections/pages/DataSourcesListPage.tsx
  public/app/features/datasources/pages/DataSourcesListPage.test.tsx
  public/app/features/datasources/pages/DataSourcesListPage.tsx
  public/app/features/datasources/state/actions.ts
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Prometheus: Handle jsonnet strings in variables.ts and fix types (#63875)
  public/app/plugins/datasource/prometheus/types.ts
  public/app/plugins/datasource/prometheus/variables.ts
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Dockerfile: Allow building docker images locally for different editions (#63893)
  Dockerfile
  Makefile
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Heatmap: Migrate to CUE (#62173)
  .betterer.results
  docs/sources/developers/kinds/composable/heatmappanelcfg/schema-reference.md
  packages/grafana-schema/src/common/common.gen.ts
  packages/grafana-schema/src/common/heatmap.cue
  pkg/kindsys/report.json
  pkg/plugins/pfs/corelist/corelist_load_gen.go
  public/app/features/transformers/calculateHeatmap/editor/AxisEditor.tsx
  public/app/features/transformers/calculateHeatmap/editor/helper.ts
  public/app/features/transformers/calculateHeatmap/heatmap.test.ts
  public/app/features/transformers/calculateHeatmap/heatmap.ts
  public/app/features/transformers/calculateHeatmap/models.gen.ts
  public/app/plugins/gen.go
  public/app/plugins/panel/heatmap/HeatmapHoverView.tsx
  public/app/plugins/panel/heatmap/HeatmapPanel.tsx
  public/app/plugins/panel/heatmap/fields.test.ts
  public/app/plugins/panel/heatmap/fields.ts
  public/app/plugins/panel/heatmap/migrations.ts
  public/app/plugins/panel/heatmap/models.gen.ts
  public/app/plugins/panel/heatmap/module.tsx
  public/app/plugins/panel/heatmap/palettes.ts
  public/app/plugins/panel/heatmap/panelcfg.cue
  public/app/plugins/panel/heatmap/panelcfg.gen.ts
  public/app/plugins/panel/heatmap/suggestions.ts
  public/app/plugins/panel/heatmap/types.ts
  public/app/plugins/panel/heatmap/utils.ts
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, pr-docs, main-docs, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Command Palette: Display dashboard location (#63807)
  public/app/features/commandPalette/ResultItem.tsx
  public/app/features/commandPalette/actions/dashboardActions.ts
  public/app/features/commandPalette/actions/staticActions.ts
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

DataSourcePicker: Add new style of data source picker. (#63736)
  .github/CODEOWNERS
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.go
  public/app/features/datasource-drawer/DataSourceDrawer.test.ts
  public/app/features/datasource-drawer/DataSourceDrawer.tsx
  public/app/features/datasource-drawer/DataSourcePicker.tsx
  public/app/features/datasource-drawer/DataSourcePickerWithHistory.test.ts
  public/app/features/datasource-drawer/DataSourcePickerWithHistory.tsx
  public/app/features/datasource-drawer/components/DataSourceCard.tsx
  public/app/features/datasource-drawer/components/DataSourceDisplay.tsx
  public/app/features/datasource-drawer/types.ts
  public/app/features/query/components/QueryGroup.tsx
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, pr-docs, main-docs, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

FieldNamePicker: support the isClearable option (#63828)
  packages/grafana-data/src/field/overrides/processors.ts
  packages/grafana-ui/src/components/MatchersUI/FieldNamePicker.tsx
  public/app/features/transformers/editors/ConvertFieldTypeTransformerEditor.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Migrate table to cue model (#61852)
  docs/sources/developers/kinds/composable/tablepanelcfg/schema-reference.md
  packages/grafana-schema/src/common/common.gen.ts
  packages/grafana-schema/src/common/table.cue
  packages/grafana-schema/src/veneer/common.types.ts
  pkg/kindsys/report.json
  pkg/plugins/pfs/corelist/corelist_load_gen.go
  public/app/features/alerting/unified/components/rule-editor/VizWrapper.tsx
  public/app/features/alerting/unified/components/rule-viewer/RuleViewerVisualization.tsx
  public/app/features/dashboard/components/PanelEditor/PanelEditorTableView.tsx
  public/app/features/scenes/builders/panelBuilders.ts
  public/app/plugins/gen.go
  public/app/plugins/panel/table/TablePanel.tsx
  public/app/plugins/panel/table/migrations.ts
  public/app/plugins/panel/table/models.gen.ts
  public/app/plugins/panel/table/module.tsx
  public/app/plugins/panel/table/panelcfg.cue
  public/app/plugins/panel/table/panelcfg.gen.ts
  public/app/plugins/panel/table/plugin.json
  public/app/plugins/panel/table/suggestions.ts
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, pr-docs, main-docs, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Navigation: Fix broken layout at 544px (#63793)
  packages/grafana-data/src/themes/breakpoints.ts
  public/app/core/components/AppChrome/Organization/OrganizationSwitcher.test.tsx
  public/app/core/components/AppChrome/Organization/OrganizationSwitcher.tsx
  public/app/core/components/AppChrome/QuickAdd/QuickAdd.tsx
  public/app/core/components/AppChrome/TopBar/TopSearchBarSection.test.tsx
  public/app/core/components/AppChrome/TopBar/TopSearchBarSection.tsx
  public/app/core/components/AppChrome/TopSearchBarCommandPaletteTrigger.tsx
  public/app/core/hooks/useMediaQueryChange.ts
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify
