Repository grafana/grafana: changes, and which Drone steps are due for each by the changed paths.
All: pr-verify-drone, pr-verify-starlark, pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, trigger-test-release, end-to-end-tests-cloud-plugins-suite-azure, build-storybook, pr-integration-tests, pr-docs, pr-shellcheck, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, store-storybook, main-integration-tests, main-windows, notify-drone-changes, main-trigger-downstream, main-notify

Path conditions:
  pr-verify-drone: any of: scripts/drone/**, .drone.yml, .drone.star, but not: docs/**, *.md
  pr-verify-starlark: any of: scripts/drone/**, .drone.star, but not: docs/**, *.md
  pr-test-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-lint-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-test-backend: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, but not: docs/**, *.md
  pr-lint-backend: any of: pkg/**, packaging/**, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, .bingo/**, but not: docs/**, *.md
  pr-build-e2e: any file but: *.md, docs/**, latest.json
  trigger-test-release: any of: .drone.yml, pkg/build/**
  end-to-end-tests-cloud-plugins-suite-azure: any of: pkg/tsdb/azuremonitor/**, public/app/plugins/datasource/azuremonitor/**, e2e/cloud-plugins-suite/azure-monitor.spec.ts
  build-storybook: any of: packages/grafana-ui/**
  pr-integration-tests: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, but not: docs/**, *.md
  pr-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  pr-shellcheck: any of: scripts/**/*.sh, but not: *.md, docs/**, latest.json
  main-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  main-test-frontend: any file but: *.md, docs/**, latest.json
  main-lint-frontend: any file but: *.md, docs/**, latest.json
  main-test-backend: any file but: *.md, docs/**, latest.json
  main-lint-backend: any file but: *.md, docs/**, latest.json
  main-build-e2e-publish: any file but: *.md, docs/**, latest.json
  store-storybook: any of: packages/grafana-ui/**
  main-integration-tests: any file but: *.md, docs/**, latest.json
  main-windows: any file but: *.md, docs/**, latest.json
  notify-drone-changes: any of: .drone.yml, but not: exclude
  main-trigger-downstream: any file but: *.md, docs/**, latest.json
  main-notify: any file but: *.md, docs/**, latest.json

nil for the actionsetservice
  pkg/tests/api/alerting/api_backtesting_test.go
  pkg/tests/api/alerting/api_prometheus_test.go
  pkg/tests/api/alerting/api_ruler_test.go
  pkg/tests/api/alerting/api_testing_test.go
  pkg/tests/api/folders/api_folders_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

EmptyState: Apply `completed` empty state in Notifications page (#86504)
  public/app/features/notifications/StoredNotifications.tsx
  public/locales/en-US/grafana.json
  public/locales/pseudo-LOCALE/grafana.json
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

RolePicker: Identity Access team as codeowners
  .github/CODEOWNERS
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

ephemeral instances: add workflow run id env var (#86528)
  .github/workflows/ephemeral-instances-pr-comment.yml
  .github/workflows/ephemeral-instances-pr-opened-closed.yml
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

update error messages in tests for decrypting config
  pkg/services/ngalert/remote/alertmanager_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Update betterer results
  .betterer.results
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Revert "nil for the actionsetservice"
  pkg/tests/api/alerting/api_backtesting_test.go
  pkg/tests/api/alerting/api_prometheus_test.go
  pkg/tests/api/alerting/api_ruler_test.go
  pkg/tests/api/alerting/api_testing_test.go
  pkg/tests/api/folders/api_folders_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Alerting: Remove isDefault field from receivers in the Alertmanager configuration
  pkg/services/ngalert/api/api_alertmanager_test.go
  pkg/services/ngalert/api/api_provisioning_test.go
  pkg/services/ngalert/api/test-data/post-user-config.json
  pkg/services/ngalert/api/test-data/test-receiver.json
  pkg/services/ngalert/notifier/multiorg_alertmanager_remote_test.go
  pkg/services/ngalert/notifier/multiorg_alertmanager_test.go
  pkg/services/ngalert/provisioning/templates_test.go
  pkg/setting/setting_unified_alerting.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

doc/jaeger: fix tempo tracesToLogsV2 custom query
  docs/sources/datasources/jaeger/_index.md
Due: pr-docs, main-docs

Alerting: Implement SaveAndApplyDefaultConfig in the remote Alertmanager struct (#85005)
  go.work.sum
  pkg/services/ngalert/ngalert.go
  pkg/services/ngalert/notifier/multiorg_alertmanager_remote_test.go
  pkg/services/ngalert/remote/alertmanager.go
  pkg/services/ngalert/remote/alertmanager_test.go
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

doc/tempo: fix tempo tracesToLogsV2 custom query
  docs/sources/datasources/tempo/configure-tempo-data-source.md
Due: pr-docs, main-docs

doc/zipkin: fix tempo tracesToLogsV2 custom query
  docs/sources/datasources/zipkin/_index.md
Due: pr-docs, main-docs

RolePicker: Identity Access team as codeowners (#86602)
  .github/CODEOWNERS
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Add minWidth and maxWidth props to the Box component
  packages/grafana-ui/src/components/Layout/Box/Box.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, store-storybook, main-integration-tests, main-windows, main-trigger-downstream, main-notify

prettier
  public/app/plugins/datasource/influxdb/__mocks__/response.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Add timezone selector to Storybook toolbar
  packages/grafana-ui/.storybook/grafanaTimeZones.ts
  packages/grafana-ui/.storybook/preview.ts
  packages/grafana-ui/src/utils/storybook/withTimeZone.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, store-storybook, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Alerting: Fix typo ('Alert manager' -> 'Alertmanager')
  public/app/features/alerting/unified/components/rule-editor/alert-rule-form/simplifiedRouting/AlertManagerRouting.tsx
  public/app/features/alerting/unified/components/rule-editor/notificaton-preview/NotificationPreviewByAlertManager.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Prometheus: Do not throw error for label_join function 10.4.x (#86467)
  public/app/plugins/datasource/prometheus/querybuilder/operations.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Prometheus: Do not throw error for label_join function (#86465)
  packages/grafana-prometheus/src/querybuilder/operations.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Alerting: Remove isDefault field from receivers (Alertmanager configuration) (#86605)
  pkg/services/ngalert/api/api_alertmanager_test.go
  pkg/services/ngalert/api/api_provisioning_test.go
  pkg/services/ngalert/api/test-data/post-user-config.json
  pkg/services/ngalert/api/test-data/test-receiver.json
  pkg/services/ngalert/notifier/multiorg_alertmanager_remote_test.go
  pkg/services/ngalert/notifier/multiorg_alertmanager_test.go
  pkg/services/ngalert/provisioning/templates_test.go
  pkg/setting/setting_unified_alerting.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Update the docs for state_periodic_save_interval
  docs/sources/alerting/set-up/performance-limitations/index.md
Due: pr-docs, main-docs

Toggling legend from the content outline
  public/app/features/explore/Graph/ExploreGraph.tsx
  public/app/features/explore/Logs/Logs.tsx
  public/app/features/explore/Logs/LogsVolumePanel.tsx
  public/app/features/explore/Logs/LogsVolumePanelList.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Grafana UI: `Text.story.tsx` - Replace `VerticalGroup` with `Stack` (#86584)
  .betterer.results
  packages/grafana-ui/src/components/Text/Text.story.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, store-storybook, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Replace VerticalGroup with Stack
  .betterer.results
  public/app/core/components/AppNotifications/AppNotificationList.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Replace VerticalGroup with Stack
  .betterer.results
  public/app/core/components/ForgottenPassword/ChangePassword.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

fixes
  pkg/util/shortid_generator_test.go
  public/app/features/alerting/unified/mocks.ts
  public/app/features/plugins/datasource_srv.test.ts
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Chore: `AppNotificationList`- Replace `VerticalGroup` with `Stack` (#86612)
  .betterer.results
  public/app/core/components/AppNotifications/AppNotificationList.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

linter fix and adding a comment
  pkg/cmd/grafana-cli/utils/command_line.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

docs: add candlestick video
  docs/sources/panels-visualizations/visualizations/candlestick/index.md
Due: pr-docs, main-docs

fix regex
  public/app/features/plugins/datasource_srv.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

RBAC: Add actionsets struct and write path (#86108)
  pkg/api/folder_bench_test.go
  pkg/server/wire.go
  pkg/services/accesscontrol/database/database_test.go
  pkg/services/accesscontrol/ossaccesscontrol/permissions_services.go
  pkg/services/accesscontrol/resourcepermissions/service.go
  pkg/services/accesscontrol/resourcepermissions/service_test.go
  pkg/services/accesscontrol/resourcepermissions/store.go
  pkg/services/accesscontrol/resourcepermissions/store_test.go
  pkg/tests/api/alerting/api_backtesting_test.go
  pkg/tests/api/alerting/api_prometheus_test.go
  pkg/tests/api/alerting/api_ruler_test.go
  pkg/tests/api/alerting/api_testing_test.go
  pkg/tests/api/folders/api_folders_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Replace VerticalGroup with Stack
  .betterer.results
  public/app/core/components/Login/LoginServiceButtons.tsx
  public/app/core/components/Login/UserSignup.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

fix front-end test
  public/app/features/alerting/unified/components/rule-editor/notificaton-preview/NotificationPreview.test.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

fix test
  pkg/services/ngalert/remote/alertmanager_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Chore: Remove VertigalGroup from BenchmarksPage
  .betterer.results
  public/app/features/sandbox/BenchmarksPage.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Loki ad-hoc filters: add filters after label_format
  public/app/plugins/datasource/loki/datasource.test.ts
  public/app/plugins/datasource/loki/modifyQuery.test.ts
  public/app/plugins/datasource/loki/modifyQuery.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

alerting: email doc >url fix (#86574)
  docs/sources/alerting/configure-notifications/manage-contact-points/integrations/configure-email.md
Due: pr-docs, main-docs

Alerting: WIP: Use rules from scheduler.
  pkg/services/ngalert/api/api.go
  pkg/services/ngalert/api/api_prometheus.go
  pkg/services/ngalert/api/api_ruler.go
  pkg/services/ngalert/ngalert.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Chore: add comment explaining rationale
  public/app/plugins/datasource/loki/modifyQuery.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify
