Repository grafana/grafana: changes, and which Drone steps are due for each by the changed paths.
All: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, pr-docs

pr-test-frontend:
  steps:
  - image: meltwater/drone-cache:v1.2.2
    name: restore-cache
    pull: always
    settings:
      backend: gcs
      bucket: test-julien
      cache_key: test123
      json_key:
        from_secret: tf_google_credentials
      mount:
      - yarncache
      - node_modules
      restore: 'true'
  - commands:
  ...

pr-test-backend:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.15
    name: identify-runner
  - commands:
    - mkdir -p bin
    - curl -fL -o bin/grabpl https://grafana-downloads.storage.googleapis.com/grafana-build-pipeline/v2.9.41/grabpl
    - chmod +x bin/grabpl
    image: byrnedo/alpine-curl:0.1.8
  ...

pr-build-e2e:
  steps:
  - image: meltwater/drone-cache:v1.2.2
    name: restore-cache
    pull: always
    settings:
      backend: gcs
      bucket: test-julien
      cache_key: test123
      json_key:
        from_secret: tf_google_credentials
      mount:
      - yarncache
      - node_modules
      restore: 'true'
  - commands:
  ...

pr-integration-tests:
  steps:
  - commands:
    - mkdir -p bin
    - curl -fL -o bin/grabpl https://grafana-downloads.storage.googleapis.com/grafana-build-pipeline/v2.9.41/grabpl
    - chmod +x bin/grabpl
    image: byrnedo/alpine-curl:0.1.8
    name: grabpl
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.15
  ...

pr-docs:
  steps:
  - image: meltwater/drone-cache:v1.2.2
    name: restore-cache
    pull: always
    settings:
      backend: gcs
      bucket: test-julien
      cache_key: test123
      json_key:
        from_secret: tf_google_credentials
      mount:
      - yarncache
      - node_modules
      restore: 'true'
  - commands:
  ...

Update capitalization of new enum
  public/app/plugins/datasource/loki/types.ts
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests

Added test for the space inside string value autocomplete case
  public/app/plugins/datasource/tempo/traceql/autocomplete.test.ts
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests

Simplify else case
  pkg/api/dashboard_snapshot.go
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests

Storage: add `WithContents` option to `storage.Get()` (#53105)
  pkg/infra/filestorage/api.go
  pkg/infra/filestorage/cdk_blob_filestorage.go
  pkg/infra/filestorage/db_filestorage.go
  pkg/infra/filestorage/file_storage_mock.go
  pkg/infra/filestorage/fs_integration_test.go
  pkg/infra/filestorage/test_utils.go
  pkg/infra/filestorage/wrapper.go
  pkg/services/store/service.go
  pkg/services/store/service_test.go
  pkg/services/store/tree.go
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests

Add scope_validation_enabled config setting to rbac section
  conf/defaults.ini
  conf/sample.ini
  pkg/setting/setting.go
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests

Use the onChange func when the value of the limit field is changed
  public/app/plugins/datasource/tempo/traceql/QueryEditor.tsx
  public/app/plugins/datasource/tempo/traceql/TempoQueryBuilderOptions.tsx
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests

add query editor to module
  public/app/plugins/datasource/opentsdb/components/OpenTsdbQueryEditor.tsx
  public/app/plugins/datasource/opentsdb/module.ts
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests

"Release: Updated versions in package to 9.0.8" (#476)
  lerna.json
  package.json
  packages/grafana-data/package.json
  packages/grafana-e2e-selectors/package.json
  packages/grafana-e2e/package.json
  packages/grafana-runtime/package.json
  packages/grafana-schema/package.json
  packages/grafana-toolkit/package.json
  packages/grafana-ui/package.json
  packages/jaeger-ui-components/package.json
  plugins-bundled/internal/input-datasource/package.json
  yarn.lock
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, pr-docs

Fix enum capitalization in component
  public/app/plugins/datasource/loki/components/VariableQueryEditor.tsx
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests

document
  public/app/features/alerting/unified/api/buildInfo.ts
  public/app/types/unified-alerting-dto.ts
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests

feat(loki-query-editor): replace unnecessary class with class method
  public/app/plugins/datasource/loki/components/__snapshots__/LokiExploreQueryEditor.test.tsx.snap
  public/app/plugins/datasource/loki/metricFindQuery.ts
  public/app/plugins/datasource/loki/variables.test.ts
  public/app/plugins/datasource/loki/variables.ts
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests

WIP
  public/app/features/alerting/unified/api/buildInfo.ts
  public/app/plugins/datasource/prometheus/metric_find_query.ts
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests

Rename config setting
  conf/defaults.ini
  conf/sample.ini
  pkg/setting/setting.go
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests

Add PackagesBucketEnterprise2 field in config
  pkg/build/config/versions.go
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests

Jaeger: Add cheat sheet
  public/app/plugins/datasource/jaeger/CheatSheet.tsx
  public/app/plugins/datasource/jaeger/module.ts
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests

Chore: Use PascalCase for the JSON File tab for consistency with other tabs
  public/app/plugins/datasource/jaeger/components/QueryEditor.tsx
  public/app/plugins/datasource/tempo/QueryEditor/QueryField.tsx
  public/app/plugins/datasource/zipkin/QueryField.tsx
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests

Add PackagesBucketEnterprise2 field in config (#54449)
  pkg/build/config/versions.go
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests

remove extra async, remove broken cortex config
  devenv/docker/blocks/cortex/Dockerfile
  devenv/docker/blocks/cortex/cortex.yml
  devenv/docker/blocks/cortex/docker-compose.yaml
  devenv/docker/blocks/cortex/prometheus.yml
  public/app/features/alerting/unified/api/buildInfo.ts
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests

Fix placement on duplicate element
  public/app/features/canvas/runtime/frame.tsx
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests

code review updates
  public/app/features/alerting/unified/api/buildInfo.ts
  public/app/types/unified-alerting-dto.ts
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests

remove addfromsource from API
  pkg/plugins/ifaces.go
  pkg/plugins/manager/manager.go
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests

Remove permission_validation_enabled from sample.ini and defaults.ini
  conf/defaults.ini
  conf/sample.ini
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests

"Release: Updated versions in package to 8.3.11"
  lerna.json
  package.json
  packages/grafana-data/package.json
  packages/grafana-e2e-selectors/package.json
  packages/grafana-e2e/package.json
  packages/grafana-runtime/package.json
  packages/grafana-schema/package.json
  packages/grafana-toolkit/package.json
  packages/grafana-ui/package.json
  packages/jaeger-ui-components/package.json
  plugins-bundled/internal/input-datasource/package.json
  yarn.lock
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, pr-docs

"Release: Updated versions in package to 8.4.11"
  lerna.json
  package.json
  packages/grafana-data/package.json
  packages/grafana-e2e-selectors/package.json
  packages/grafana-e2e/package.json
  packages/grafana-runtime/package.json
  packages/grafana-schema/package.json
  packages/grafana-toolkit/package.json
  packages/grafana-ui/package.json
  packages/jaeger-ui-components/package.json
  plugins-bundled/internal/input-datasource/package.json
  yarn.lock
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, pr-docs

"Release: Updated versions in package to 8.5.11"
  lerna.json
  package.json
  packages/grafana-data/package.json
  packages/grafana-e2e-selectors/package.json
  packages/grafana-e2e/package.json
  packages/grafana-runtime/package.json
  packages/grafana-schema/package.json
  packages/grafana-toolkit/package.json
  packages/grafana-ui/package.json
  packages/jaeger-ui-components/package.json
  plugins-bundled/internal/input-datasource/package.json
  yarn.lock
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, pr-docs

ReleaseNotes: Updated changelog and release notes for 8.4.11
  CHANGELOG.md
  docs/sources/release-notes/_index.md
  docs/sources/release-notes/release-notes-8-4-11.md
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, pr-docs

ReleaseNotes: Updated changelog and release notes for 8.3.11
  CHANGELOG.md
  docs/sources/release-notes/_index.md
  docs/sources/release-notes/release-notes-8-3-11.md
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, pr-docs

Syntax highlight fix when using >< operators
  public/app/plugins/datasource/tempo/traceql/traceql.ts
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests

ReleaseNotes: Updated changelog and release notes for 8.5.11
  CHANGELOG.md
  docs/sources/release-notes/_index.md
  docs/sources/release-notes/release-notes-8-5-11.md
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, pr-docs

prettify
  docs/sources/dashboards/shortcuts.md
Due: pr-docs

Apply suggestions from code review
  pkg/services/sqlstore/migrations/query_history_star_mig.go
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests

FIX: RBAC prevents deleting empty snapshots (#54385)
  pkg/api/dashboard_snapshot.go
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests

Update query_history_star_mig.go
  pkg/services/sqlstore/migrations/query_history_star_mig.go
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests

Canvas: Fix minor duplication bug #54462
  public/app/features/canvas/runtime/frame.tsx
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests

Plugins: Split plugin manager into smaller components (#54384)
  pkg/api/fakes.go
  pkg/cmd/grafana-cli/runner/wire.go
  pkg/plugins/ifaces.go
  pkg/plugins/manager/client/client.go
  pkg/plugins/manager/dashboards/filestore.go
  pkg/plugins/manager/dashboards/filestore_test.go
  pkg/plugins/manager/dashboards/ifaces.go
  pkg/plugins/manager/fakes/fakes.go
  pkg/plugins/manager/manager.go
  pkg/plugins/manager/manager_integration_test.go
  pkg/plugins/manager/manager_test.go
  pkg/plugins/manager/process/ifaces.go
  pkg/plugins/manager/process/process.go
  pkg/plugins/manager/process/process_test.go
  pkg/plugins/manager/store.go
  pkg/plugins/manager/store/store.go
  pkg/plugins/manager/store/store_test.go
  pkg/plugins/plugins.go
  pkg/server/backgroundsvcs/background_services.go
  pkg/server/wire.go
  pkg/services/plugindashboards/service/service.go
  pkg/services/plugindashboards/service/service_test.go
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests

fix unit tests
  public/app/features/alerting/unified/api/buildInfo.test.ts
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests

"Release: Updated versions in package to 9.1.3"
  lerna.json
  package.json
  packages/grafana-data/package.json
  packages/grafana-e2e-selectors/package.json
  packages/grafana-e2e/package.json
  packages/grafana-runtime/package.json
  packages/grafana-schema/package.json
  packages/grafana-toolkit/package.json
  packages/grafana-ui/package.json
  packages/jaeger-ui-components/package.json
  plugins-bundled/internal/input-datasource/package.json
  yarn.lock
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, pr-docs

ReleaseNotes: Updated changelog and release notes for 9.1.3
  CHANGELOG.md
  docs/sources/release-notes/_index.md
  docs/sources/release-notes/release-notes-9-1-3.md
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, pr-docs

Plugins search - Unescape regex string
  public/app/features/plugins/admin/pages/Browse.test.tsx
  public/app/features/plugins/admin/state/hooks.ts
  public/app/features/plugins/admin/state/selectors.ts
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests

finishes variables refactor
  docs/sources/datasources/google-cloud-monitoring/_index.md
  docs/sources/datasources/influxdb/influxdb-templates.md
  docs/sources/developers/plugins/add-support-for-variables.md
  docs/sources/panels/configure-data-links/index.md
  docs/sources/panels/configure-panel-options/index.md
  docs/sources/panels/query-options.md
  docs/sources/variables/add-template-variables/index.md
  docs/sources/variables/inspect-variable.md
  docs/sources/variables/manage-variable.md
  docs/sources/whatsnew/whats-new-in-v7-1.md
Due: pr-docs

Path conditions:
  pr-test-frontend: any file but: docs/**
  pr-test-backend: any file but: docs/**
  pr-build-e2e: any file but: docs/**
  pr-integration-tests: any file but: docs/**
  pr-docs: any of: docs/**, packages/**
