Repository grafana/grafana: changes, and which Drone steps are due for each by the changed paths.
All: pr-verify-drone, pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, pr-docs, main-docs, main-test-frontend, main-test-backend, main-build-e2e-publish, trigger-test-release, main-integration-tests, main-windows, notify-drone-changes, main-publish, main-notify

pr-verify-drone:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.15.6
    name: identify-runner
  - commands:
    - mkdir -p bin
    - curl -fL -o bin/grabpl https://grafana-downloads.storage.googleapis.com/grafana-build-pipeline/v3.0.5/grabpl
    - chmod +x bin/grabpl
    image: byrnedo/alpine-curl:0.1.8
  ...

pr-test-frontend:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.15.6
    name: identify-runner
  - commands:
    - mkdir -p bin
    - curl -fL -o bin/grabpl https://grafana-downloads.storage.googleapis.com/grafana-build-pipeline/v3.0.5/grabpl
    - chmod +x bin/grabpl
    image: byrnedo/alpine-curl:0.1.8
  ...

pr-test-backend:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.15.6
    name: identify-runner
  - commands:
    - mkdir -p bin
    - curl -fL -o bin/grabpl https://grafana-downloads.storage.googleapis.com/grafana-build-pipeline/v3.0.5/grabpl
    - chmod +x bin/grabpl
    image: byrnedo/alpine-curl:0.1.8
  ...

pr-build-e2e:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.15.6
    name: identify-runner
  - commands:
    - mkdir -p bin
    - curl -fL -o bin/grabpl https://grafana-downloads.storage.googleapis.com/grafana-build-pipeline/v3.0.5/grabpl
    - chmod +x bin/grabpl
    image: byrnedo/alpine-curl:0.1.8
  ...

pr-integration-tests:
  steps:
  - commands:
    - mkdir -p bin
    - curl -fL -o bin/grabpl https://grafana-downloads.storage.googleapis.com/grafana-build-pipeline/v3.0.5/grabpl
    - chmod +x bin/grabpl
    image: byrnedo/alpine-curl:0.1.8
    name: grabpl
  - commands:
  ...

pr-docs:
  steps:
  - commands:
    - mkdir -p bin
    - curl -fL -o bin/grabpl https://grafana-downloads.storage.googleapis.com/grafana-build-pipeline/v3.0.5/grabpl
    - chmod +x bin/grabpl
    image: byrnedo/alpine-curl:0.1.8
    name: grabpl
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.15.6
  ...

main-docs:
  steps:
  - commands:
    - mkdir -p bin
    - curl -fL -o bin/grabpl https://grafana-downloads.storage.googleapis.com/grafana-build-pipeline/v3.0.5/grabpl
    - chmod +x bin/grabpl
    image: byrnedo/alpine-curl:0.1.8
    name: grabpl
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.15.6
  ...

main-test-frontend:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.15.6
    name: identify-runner
  - commands:
    - mkdir -p bin
    - curl -fL -o bin/grabpl https://grafana-downloads.storage.googleapis.com/grafana-build-pipeline/v3.0.5/grabpl
    - chmod +x bin/grabpl
    image: byrnedo/alpine-curl:0.1.8
  ...

main-test-backend:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.15.6
    name: identify-runner
  - commands:
    - mkdir -p bin
    - curl -fL -o bin/grabpl https://grafana-downloads.storage.googleapis.com/grafana-build-pipeline/v3.0.5/grabpl
    - chmod +x bin/grabpl
    image: byrnedo/alpine-curl:0.1.8
  ...

Change to one error per specific error kind
  pkg/services/query/errors.go
  pkg/services/query/query.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

adding more stubs
  docs/sources/dashboards/assess-dashboard-usage/index.md
Due: pr-docs, main-docs

Docs: create new explore page for concepts (#55161)
  docs/sources/alerting/fundamentals/_index.md
  docs/sources/alerting/migrating-alerts/_index.md
Due: pr-docs, main-docs

Chore: Update slate and related packages (#54566)
  .betterer.results
  .github/renovate.json5
  .gitignore
  .yarn/patches/slate-dev-environment-npm-0.2.5-9aeb7da7b5.patch
  .yarnrc.yml
  package.json
  packages/grafana-toolkit/src/config/webpack.plugin.config.ts
  packages/grafana-ui/package.json
  packages/grafana-ui/src/components/DataLinks/DataLinkInput.tsx
  packages/grafana-ui/src/components/QueryField/QueryField.test.tsx
  packages/grafana-ui/src/components/QueryField/QueryField.tsx
  packages/grafana-ui/src/slate-plugins/braces.test.tsx
  packages/grafana-ui/src/slate-plugins/braces.ts
  packages/grafana-ui/src/slate-plugins/clear.test.tsx
  packages/grafana-ui/src/slate-plugins/clear.ts
  packages/grafana-ui/src/slate-plugins/clipboard.ts
  packages/grafana-ui/src/slate-plugins/indentation.ts
  packages/grafana-ui/src/slate-plugins/newline.ts
  packages/grafana-ui/src/slate-plugins/runner.test.tsx
  packages/grafana-ui/src/slate-plugins/runner.ts
  packages/grafana-ui/src/slate-plugins/selection_shortcuts.ts
  packages/grafana-ui/src/slate-plugins/slate-prism/index.ts
  packages/grafana-ui/src/slate-plugins/slate-prism/options.tsx
  packages/grafana-ui/src/slate-plugins/suggestions.test.tsx
  packages/grafana-ui/src/slate-plugins/suggestions.tsx
  packages/grafana-ui/src/types/completion.ts
  packages/grafana-ui/tsconfig.build.json
  packages/jaeger-ui-components/package.json
  public/app/features/alerting/unified/components/Expression.tsx
  public/app/features/plugins/plugin_loader.ts
  public/app/plugins/datasource/cloudwatch/components/LogsQueryField.tsx
  public/app/plugins/datasource/loki/components/LokiQueryField.tsx
  public/app/plugins/datasource/prometheus/components/PromQueryField.tsx
  yarn.lock
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

add latest changes to output print
  pkg/cmd/grafana-cli/commands/commands.go
  pkg/cmd/grafana-cli/commands/conflict_user_command.go
  pkg/cmd/grafana-cli/commands/conflict_user_command_test.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

add downloads button
  public/app/features/explore/LogsMetaRow.tsx
  public/app/features/inspector/InspectDataTab.tsx
  public/app/features/inspector/utils/download.ts
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Alerting/fix folder creation dropdown (#54687)
  .betterer.results
  public/app/core/components/Select/FolderPicker.tsx
  public/app/features/alerting/unified/RuleEditor.test.tsx
  public/app/features/alerting/unified/components/rule-editor/RuleFolderPicker.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Fix linting
  public/app/core/components/Select/FolderPicker.tsx
  public/app/core/copy/appNotification.ts
  public/app/features/alerting/unified/components/rule-editor/AlertTypeStep.tsx
  public/app/plugins/datasource/cloudwatch/components/LogsQueryField.tsx
  public/app/plugins/datasource/elasticsearch/query_builder.ts
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Query patterns: Feature tracking before redesign
  public/app/plugins/datasource/loki/querybuilder/components/LokiQueryEditorSelector.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Update
  public/app/plugins/datasource/loki/querybuilder/components/LokiQueryEditorSelector.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Loki: Hide sample loki queries from inspector (#55158)
  public/app/plugins/datasource/loki/datasource.test.ts
  public/app/plugins/datasource/loki/datasource.ts
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Panel: Disable legends when showLegend is false prior to schema v37 (#55126)
  public/app/features/dashboard/state/DashboardMigrator.ts
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

tempo: fix unexpected trim traceID leading zero (#55166)
  pkg/tsdb/tempo/trace_transform.go
  pkg/tsdb/tempo/trace_transform_test.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

removed unused export annotations
  public/app/features/inspector/utils/download.ts
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

SearchV2: Fixes issue with Folder View requesting all dashboards
  public/app/features/search/page/components/SearchView.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Convert packages/jaeger-ui-components/src/TracePageHeader/SpanGraph/Scrubber.test.js to RTL (#54822)
  .betterer.results
  packages/jaeger-ui-components/src/TracePageHeader/SpanGraph/Scrubber.test.js
  packages/jaeger-ui-components/src/TracePageHeader/SpanGraph/Scrubber.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

elastic: simplify unit test
  pkg/tsdb/elasticsearch/client/client_test.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Panel: Disable legends when showLegend is false prior to schema v37 (#55126) (#55165)
  public/app/features/dashboard/state/DashboardMigrator.ts
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Serialize inputParams as $ref
  public/app/features/scenes/components/NestedScene.tsx
  public/app/features/scenes/components/VizPanel.tsx
  public/app/features/scenes/core/SceneTimeRange.tsx
  public/app/features/scenes/core/serialization.ts
  public/app/features/scenes/scenes/basicFromJson.ts
  public/app/features/scenes/scenes/flexLayoutFromJson.tsx
  public/app/features/scenes/scenes/nestedBasicFromJson.tsx
  public/app/features/scenes/scenes/nestedFromJson.tsx
  public/app/features/scenes/scenes/sceneWithRowsFromJson.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Loki: Rename public/app/plugins/datasource/loki/live_streams.ts file to follow convention (#55148)
  .betterer.results
  public/app/plugins/datasource/loki/LiveStreams.test.ts
  public/app/plugins/datasource/loki/LiveStreams.ts
  public/app/plugins/datasource/loki/datasource.ts
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

last err + fix test
  pkg/api/metrics_test.go
  pkg/api/plugins_test.go
  pkg/services/live/live.go
  pkg/services/query/errors.go
  pkg/services/query/query.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

elastic: simplify unit test (#55168)
  pkg/tsdb/elasticsearch/client/client_test.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

fix imports
  pkg/services/live/live.go
  pkg/services/query/query.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

RBAC: Batch permission creation (#55075)
  pkg/services/accesscontrol/resourcepermissions/store.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

basic description
  docs/sources/dashboards/assess-dashboard-usage/index.md
Due: pr-docs, main-docs

first draft of share panel with support docs
  docs/sources/troubleshooting/_index.md
  docs/sources/troubleshooting/send-panel-to-grafana-support/index.md
  docs/sources/troubleshooting/troubleshoot-dashboards.md
  docs/sources/troubleshooting/troubleshoot-queries/index.md
Due: pr-docs, main-docs

Minor polish to buttons and copy to clipboard stuff
  public/app/features/dashboard/components/SupportSnapshot/SupportSnapshot.tsx
  public/app/features/dashboard/components/SupportSnapshot/SupportSnapshotService.ts
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Alerting: Fix alerting evaluation to use proper permissions (#55127)
  pkg/services/accesscontrol/acimpl/accesscontrol.go
  pkg/services/ngalert/api/api_testing.go
  pkg/services/ngalert/api/api_testing_test.go
  pkg/services/ngalert/eval/eval.go
  pkg/services/ngalert/eval/evaluator_mock.go
  pkg/services/ngalert/schedule/schedule.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Run codespell only on docs changes (#55064)
  .drone.yml
  scripts/drone/events/release.star
  scripts/drone/pipelines/test_backend.star
Due: pr-verify-drone, pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, trigger-test-release, main-integration-tests, main-windows, notify-drone-changes, main-publish, main-notify

s/include_enterprise2/include_enterprise
  scripts/drone/events/release.star
Due: pr-verify-drone, pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

grabpl -> ./bin/build
  scripts/drone/steps/lib.star
Due: pr-verify-drone, pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Get rid of get_steps def - include steps in separate defs
  .drone.yml
  scripts/drone/events/release.star
Due: pr-verify-drone, pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, trigger-test-release, main-integration-tests, main-windows, notify-drone-changes, main-publish, main-notify

generate .drone.yml
  .drone.yml
Due: pr-verify-drone, pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, trigger-test-release, main-integration-tests, main-windows, notify-drone-changes, main-publish, main-notify

[WIP] Plugins: Introduce Plugins specific config (#54854)
  pkg/cmd/grafana-cli/runner/wire.go
  pkg/plugins/config.go
  pkg/plugins/config/config.go
  pkg/plugins/config/config_test.go
  pkg/plugins/manager/loader/initializer/initializer.go
  pkg/plugins/manager/loader/initializer/initializer_test.go
  pkg/plugins/manager/loader/loader.go
  pkg/plugins/manager/loader/loader_test.go
  pkg/plugins/manager/manager.go
  pkg/plugins/manager/manager_integration_test.go
  pkg/plugins/manager/manager_test.go
  pkg/plugins/manager/signature/authorizer.go
  pkg/server/wire.go
  pkg/tests/testinfra/testinfra.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

refactor: removed conflictEmail and conflictLogin that was not used
  pkg/cmd/grafana-cli/commands/conflict_user_command.go
  pkg/cmd/grafana-cli/commands/conflict_user_command_test.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

refactor: code clean up, showChanges working
  pkg/cmd/grafana-cli/commands/conflict_user_command.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

add compile step to verify_drone pipeline
  .drone.yml
  scripts/drone/pipelines/verify_drone.star
Due: pr-verify-drone, pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, trigger-test-release, main-integration-tests, main-windows, notify-drone-changes, main-publish, main-notify

Update public/app/plugins/datasource/loki/querybuilder/LokiQueryModeller.ts
  public/app/plugins/datasource/loki/querybuilder/LokiQueryModeller.ts
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Path conditions:
  pr-verify-drone: any of: scripts/drone/**, .drone.yml, .drone.star, but not: docs/**, *.md
  pr-test-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-test-backend: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, but not: docs/**, *.md
  pr-build-e2e: any file but: *.md, docs/**, latest.json
  pr-integration-tests: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, but not: docs/**, *.md
  pr-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  main-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  main-test-frontend: any file but: *.md, docs/**, latest.json
  main-test-backend: any file but: *.md, docs/**, latest.json
  main-build-e2e-publish: any file but: *.md, docs/**, latest.json
  trigger-test-release: any of: .drone.yml, pkg/build/**
  main-integration-tests: any file but: *.md, docs/**, latest.json
  main-windows: any file but: *.md, docs/**, latest.json
  notify-drone-changes: any of: .drone.yml, but not: exclude
  main-publish: any file but: *.md, docs/**, latest.json
  main-notify: any file but: *.md, docs/**, latest.json
