Repository grafana/grafana: changes, and which Drone steps are due for each by the changed paths.
All: pr-verify-drone, pr-verify-starlark, pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, trigger-test-release, end-to-end-tests-cloud-plugins-suite-azure, build-storybook, pr-integration-tests, pr-docs, pr-shellcheck, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, store-storybook, main-integration-tests, main-windows, notify-drone-changes, main-trigger-downstream, main-notify

pr-verify-drone:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.17.1
    name: identify-runner
  - commands:
    - go build -o ./bin/build -ldflags '-extldflags -static' ./pkg/build/cmd
    depends_on: []
    environment:
      CGO_ENABLED: 0
    image: golang:1.20.1
    name: compile-build-cmd
  - commands:
  ...

pr-verify-starlark:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.17.1
    name: identify-runner
  - commands:
    - go build -o ./bin/build -ldflags '-extldflags -static' ./pkg/build/cmd
    depends_on: []
    environment:
      CGO_ENABLED: 0
    image: golang:1.20.1
    name: compile-build-cmd
  - commands:
  ...

pr-test-frontend:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.17.1
    name: identify-runner
  - commands:
    - mkdir -p bin
    - curl -fL -o bin/grabpl https://grafana-downloads.storage.googleapis.com/grafana-build-pipeline/v3.0.30/grabpl
    - chmod +x bin/grabpl
    image: byrnedo/alpine-curl:0.1.8
  ...

pr-lint-frontend:
  steps:
  - commands:
    - is_fork=$(curl "https://$GITHUB_TOKEN@api.github.com/repos/grafana/grafana/pulls/$DRONE_PULL_REQUEST" | jq .head.repo.fork)
    - if [ "$is_fork" != false ]; then return 1; fi
  ...

pr-test-backend:
  steps:
  - commands:
    - is_fork=$(curl "https://$GITHUB_TOKEN@api.github.com/repos/grafana/grafana/pulls/$DRONE_PULL_REQUEST" | jq .head.repo.fork)
    - if [ "$is_fork" != false ]; then return 1; fi
  ...

pr-lint-backend:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.17.1
    name: identify-runner
  - commands:
    - go build -o ./bin/build -ldflags '-extldflags -static' ./pkg/build/cmd
    depends_on: []
    environment:
      CGO_ENABLED: 0
    image: golang:1.20.1
    name: compile-build-cmd
  - commands:
  ...

pr-build-e2e:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.17.1
    name: identify-runner
  - commands:
    - mkdir -p bin
    - curl -fL -o bin/grabpl https://grafana-downloads.storage.googleapis.com/grafana-build-pipeline/v3.0.30/grabpl
    - chmod +x bin/grabpl
    image: byrnedo/alpine-curl:0.1.8
  ...

trigger-test-release:
  commands:
  - git clone "https://$${GITHUB_TOKEN}@github.com/grafana/grafana-enterprise.git" --depth=1
  - cd grafana-enterprise
  - git fetch origin "refs/tags/*:refs/tags/*" --quiet
  - if git show-ref --tags $${TEST_TAG} --quiet; then git tag -d $${TEST_TAG} && git push --delete origin $${TEST_TAG}; fi
  ...

end-to-end-tests-cloud-plugins-suite-azure:
  commands:
  - cd /
  - ./cpp-e2e/scripts/ci-run.sh azure ${DRONE_SOURCE_BRANCH}
  depends_on:
  - grafana-server
  environment:
    AZURE_SP_APP_ID:
      from_secret: azure_sp_app_id
    AZURE_SP_PASSWORD:
      from_secret: azure_sp_app_pw
    AZURE_TENANT:
      from_secret: azure_tenant
    CYPRESS_CI: 'true'
  ...

notify-drone-changes:
  steps:
  - image: plugins/slack
    name: slack
    settings:
      channel: slack-webhooks-test
  ...

Bug Fix: Respect data source version when provisioning
  docs/sources/administration/provisioning/index.md
  pkg/services/provisioning/datasources/datasources.go
  pkg/services/provisioning/datasources/types.go
  pkg/services/provisioning/datasources/types_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, pr-docs, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

deprecate API key reference docs and update API tutorial to use service accounts
  docs/sources/developers/http_api/_index.md
  docs/sources/developers/http_api/auth.md
  docs/sources/developers/http_api/create-api-tokens-for-org.md
Due: pr-docs, main-docs

tidy
  pkg/plugins/backendplugin/grpcplugin/client.go
  pkg/plugins/backendplugin/grpcplugin/client_proto.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

updates provisioning
  docs/sources/alerting/set-up/provision-alerting-resources/edit-provisioned-resources/_index.md
Due: pr-docs, main-docs

Handle changing data source type
  public/app/features/dashboard/components/AnnotationSettings/AnnotationSettingsEdit.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Logs: deprecate showContextToggle
  packages/grafana-data/src/types/logs.ts
  public/app/plugins/datasource/cloudwatch/datasource.ts
  public/app/plugins/datasource/elasticsearch/datasource.ts
  public/app/plugins/datasource/loki/datasource.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Update packages/grafana-data/src/types/logs.ts
  packages/grafana-data/src/types/logs.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

DataSourceWithLogsContextSupport: make showContextToggle optional
  packages/grafana-data/src/types/logs.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Logs: make row mandatory on showContextToggle prop
  public/app/features/explore/Logs/Logs.tsx
  public/app/features/explore/Logs/LogsContainer.tsx
  public/app/features/logs/components/LogRow.tsx
  public/app/features/logs/components/LogRowMenuCell.tsx
  public/app/features/logs/components/LogRowMessage.tsx
  public/app/features/logs/components/LogRowMessageDisplayedFields.tsx
  public/app/features/logs/components/LogRows.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Loki: update test
  public/app/plugins/datasource/loki/datasource.test.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Prettier
  packages/grafana-data/src/types/logs.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

just use memoize-one
  package.json
  public/app/core/selectors/navModel.ts
  public/app/features/datasources/state/selectors.ts
  yarn.lock
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Loki: Clean up Language provider and remove unused code (#77315)
  public/app/plugins/datasource/loki/LanguageProvider.test.ts
  public/app/plugins/datasource/loki/LanguageProvider.ts
  public/app/plugins/datasource/loki/syntax.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Deletes terraform topic from oss
  docs/sources/alerting/set-up/provision-alerting-resources/terraform-provisioning/index.md
Due: pr-docs, main-docs

add tests
  pkg/services/pluginsintegration/clientmiddleware/plugin_request_meta_middleware.go
  pkg/services/pluginsintegration/clientmiddleware/plugin_request_meta_middleware_test.go
  pkg/services/pluginsintegration/clientmiddleware/status_source_middleware_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Fix TestInstrumentationMiddlewareStatusSource
  pkg/services/pluginsintegration/clientmiddleware/metrics_middleware_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

showContextToggle: update deprecation
  public/app/features/explore/Logs/LogsContainer.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

ran prettier
  docs/sources/alerting/set-up/provision-alerting-resources/edit-provisioned-resources/_index.md
Due: pr-docs, main-docs

Folders: Optionally include fullpath in service responses
  pkg/services/folder/folderimpl/folder.go
  pkg/services/folder/folderimpl/sqlstore.go
  pkg/services/folder/folderimpl/store.go
  pkg/services/folder/folderimpl/store_fake.go
  pkg/services/folder/foldertest/foldertest.go
  pkg/services/folder/model.go
  pkg/services/folder/service.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Gen
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.go
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, pr-docs, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Alerting: Export folder fullpath instead of title
  pkg/services/ngalert/api/api_provisioning.go
  pkg/services/ngalert/api/api_provisioning_test.go
  pkg/services/ngalert/api/api_ruler_export.go
  pkg/services/ngalert/api/api_ruler_export_test.go
  pkg/services/ngalert/api/compat.go
  pkg/services/ngalert/models/alert_rule.go
  pkg/services/ngalert/ngalert.go
  pkg/services/ngalert/provisioning/alert_rules.go
  pkg/services/ngalert/provisioning/alert_rules_test.go
  pkg/services/provisioning/alerting/rules_types.go
  pkg/services/provisioning/alerting/types.go
  pkg/services/provisioning/provisioning.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Logs: Deprecated `showContextToggle` in DataSourceWithLogsContextSupport (#77232)
  packages/grafana-data/src/types/logs.ts
  public/app/features/explore/Logs/Logs.tsx
  public/app/features/explore/Logs/LogsContainer.tsx
  public/app/features/logs/components/LogRow.tsx
  public/app/features/logs/components/LogRowMenuCell.tsx
  public/app/features/logs/components/LogRowMessage.tsx
  public/app/features/logs/components/LogRowMessageDisplayedFields.tsx
  public/app/features/logs/components/LogRows.tsx
  public/app/plugins/datasource/cloudwatch/datasource.ts
  public/app/plugins/datasource/elasticsearch/datasource.ts
  public/app/plugins/datasource/loki/datasource.test.ts
  public/app/plugins/datasource/loki/datasource.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Prometheus: integrate query validator with editor
  public/app/plugins/datasource/loki/components/monaco-query-field/MonacoQueryField.tsx
  public/app/plugins/datasource/prometheus/components/PromQueryField.tsx
  public/app/plugins/datasource/prometheus/components/monaco-query-field/MonacoQueryField.tsx
  public/app/plugins/datasource/prometheus/components/monaco-query-field/MonacoQueryFieldProps.ts
  public/app/plugins/datasource/prometheus/datasource.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Validation: make it generic for any parser
  public/app/plugins/datasource/loki/components/monaco-query-field/monaco-completion-provider/validation.test.ts
  public/app/plugins/datasource/loki/components/monaco-query-field/monaco-completion-provider/validation.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Annotations settings: Do not preserve query properties when changing data source (#77422)
  public/app/features/dashboard/components/AnnotationSettings/AnnotationSettingsEdit.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Extract transformations editor row to a seprate component
  public/app/features/correlations/Forms/TransformationEditorRow.tsx
  public/app/features/correlations/Forms/TransformationsEditor.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Escape separator in folder title
  pkg/services/folder/folderimpl/sqlstore.go
  pkg/services/ngalert/provisioning/alert_rules_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

add a feature toggle for annotation permission changes
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.go
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, pr-docs, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Use POST requests for search
  public/app/features/admin/AdminEditOrgPage.tsx
  public/app/features/serviceaccounts/state/actions.ts
  public/app/features/users/state/actions.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Use post request for teams
  public/app/features/teams/state/actions.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Alerting: Fix GetStarted container width for big screens (#77397)
  public/app/features/alerting/unified/home/GettingStarted.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Update public/app/plugins/datasource/loki/datasource.ts
  public/app/plugins/datasource/loki/datasource.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Update comments to have less method
  public/app/plugins/datasource/loki/datasource.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

GrafanaUI: Make sure ContextMenu does not get cut off at the top
  packages/grafana-ui/src/components/ContextMenu/ContextMenu.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, store-storybook, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Use css object instead of string literals
  public/app/features/correlations/Forms/TransformationEditorRow.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

PMM-12544 Add deprecation notice for DBaaS (#692)
  public/app/percona/dbaas/components/DBCluster/DBCluster.tsx
  public/app/percona/dbaas/components/DeprecationWarning/DeprecationWarning.constants.ts
  public/app/percona/dbaas/components/DeprecationWarning/DeprecationWarning.messages.ts
  public/app/percona/dbaas/components/DeprecationWarning/DeprecationWarning.tsx
  public/app/percona/dbaas/components/DeprecationWarning/index.ts
  public/app/percona/dbaas/components/Kubernetes/KubernetesInventory.test.tsx
  public/app/percona/dbaas/components/Kubernetes/KubernetesInventory.tsx
  public/app/percona/dbaas/components/Kubernetes/PortalK8sFreeClusterPromotingMessage/PortalK8sFreeClusterPromotingMessage.styles.ts
  public/app/percona/dbaas/components/Kubernetes/PortalK8sFreeClusterPromotingMessage/PortalK8sFreeClusterPromotingMessage.tsx
  public/app/percona/settings/Settings.messages.ts
  public/app/percona/settings/components/Advanced/Advanced.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Plugins: Fix status_source always being "plugin" in plugin request logs (#77433)
  pkg/services/pluginsintegration/clientmiddleware/metrics_middleware.go
  pkg/services/pluginsintegration/clientmiddleware/metrics_middleware_test.go
  pkg/services/pluginsintegration/clientmiddleware/plugin_request_meta_middleware.go
  pkg/services/pluginsintegration/clientmiddleware/plugin_request_meta_middleware_test.go
  pkg/services/pluginsintegration/clientmiddleware/status_source_middleware.go
  pkg/services/pluginsintegration/clientmiddleware/status_source_middleware_test.go
  pkg/services/pluginsintegration/pluginsintegration.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

grafana/ui: Remove Stack and rename FLex to Stack
  packages/grafana-ui/src/components/Layout/Box/Box.mdx
  packages/grafana-ui/src/components/Layout/Flex/Flex.internal.story.tsx
  packages/grafana-ui/src/components/Layout/Flex/Flex.mdx
  packages/grafana-ui/src/components/Layout/Flex/Flex.tsx
  packages/grafana-ui/src/components/Layout/Grid/Grid.mdx
  packages/grafana-ui/src/components/Layout/Stack/HorizontalStack.tsx
  packages/grafana-ui/src/components/Layout/Stack/Stack.internal.story.tsx
  packages/grafana-ui/src/components/Layout/Stack/Stack.mdx
  packages/grafana-ui/src/components/Layout/Stack/Stack.tsx
  packages/grafana-ui/src/components/Layout/Stack/index.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, store-storybook, main-integration-tests, main-windows, main-trigger-downstream, main-notify

re-use logic
  pkg/plugins/backendplugin/grpcplugin/client_proto.go
  pkg/plugins/backendplugin/grpcplugin/grpc_plugin.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Path conditions:
  pr-verify-drone: any of: scripts/drone/**, .drone.yml, .drone.star, but not: docs/**, *.md
  pr-verify-starlark: any of: scripts/drone/**, .drone.star, but not: docs/**, *.md
  pr-test-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-lint-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-test-backend: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, but not: docs/**, *.md
  pr-lint-backend: any of: pkg/**, packaging/**, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, .bingo/**, but not: docs/**, *.md
  pr-build-e2e: any file but: *.md, docs/**, latest.json
  trigger-test-release: any of: .drone.yml, pkg/build/**
  end-to-end-tests-cloud-plugins-suite-azure: any of: pkg/tsdb/azuremonitor/**, public/app/plugins/datasource/azuremonitor/**, e2e/cloud-plugins-suite/azure-monitor.spec.ts
  build-storybook: any of: packages/grafana-ui/**
  pr-integration-tests: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, but not: docs/**, *.md
  pr-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  pr-shellcheck: any of: scripts/**/*.sh, but not: *.md, docs/**, latest.json
  main-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  main-test-frontend: any file but: *.md, docs/**, latest.json
  main-lint-frontend: any file but: *.md, docs/**, latest.json
  main-test-backend: any file but: *.md, docs/**, latest.json
  main-lint-backend: any file but: *.md, docs/**, latest.json
  main-build-e2e-publish: any file but: *.md, docs/**, latest.json
  store-storybook: any of: packages/grafana-ui/**
  main-integration-tests: any file but: *.md, docs/**, latest.json
  main-windows: any file but: *.md, docs/**, latest.json
  notify-drone-changes: any of: .drone.yml, but not: exclude
  main-trigger-downstream: any file but: *.md, docs/**, latest.json
  main-notify: any file but: *.md, docs/**, latest.json
