Repository grafana/grafana: changes, and which Drone steps are due for each by the changed paths.
All: pr-verify-drone, pr-verify-starlark, pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, trigger-test-release, end-to-end-tests-cloud-plugins-suite-azure, build-storybook, pr-integration-tests, pr-docs, pr-shellcheck, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, store-storybook, main-integration-tests, main-windows, notify-drone-changes, main-trigger-downstream, main-notify

Path conditions:
  pr-verify-drone: any of: scripts/drone/**, .drone.yml, .drone.star, but not: docs/**, *.md
  pr-verify-starlark: any of: scripts/drone/**, .drone.star, but not: docs/**, *.md
  pr-test-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-lint-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-test-backend: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, but not: docs/**, *.md
  pr-lint-backend: any of: pkg/**, packaging/**, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, .bingo/**, but not: docs/**, *.md
  pr-build-e2e: any file but: *.md, docs/**, latest.json
  trigger-test-release: any of: .drone.yml, pkg/build/**
  end-to-end-tests-cloud-plugins-suite-azure: any of: pkg/tsdb/azuremonitor/**, public/app/plugins/datasource/azuremonitor/**, e2e/cloud-plugins-suite/azure-monitor.spec.ts
  build-storybook: any of: packages/grafana-ui/**
  pr-integration-tests: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, but not: docs/**, *.md
  pr-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  pr-shellcheck: any of: scripts/**/*.sh, but not: *.md, docs/**, latest.json
  main-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  main-test-frontend: any file but: *.md, docs/**, latest.json
  main-lint-frontend: any file but: *.md, docs/**, latest.json
  main-test-backend: any file but: *.md, docs/**, latest.json
  main-lint-backend: any file but: *.md, docs/**, latest.json
  main-build-e2e-publish: any file but: *.md, docs/**, latest.json
  store-storybook: any of: packages/grafana-ui/**
  main-integration-tests: any file but: *.md, docs/**, latest.json
  main-windows: any file but: *.md, docs/**, latest.json
  notify-drone-changes: any of: .drone.yml, but not: exclude
  main-trigger-downstream: any file but: *.md, docs/**, latest.json
  main-notify: any file but: *.md, docs/**, latest.json

check if plugin is initialized
  pkg/expr/ml.go
  pkg/expr/ml_test.go
  pkg/expr/testing.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

adding security patch workflows
  .github/workflows/pr-security-patch-check.yml
  .github/workflows/pr-security-patch-mirror-and-apply.yml
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Prettier fix
  docs/sources/administration/data-source-management/index.md
Due: pr-docs, main-docs

bump uPlot, drop syncRect hooks
  package.json
  packages/grafana-data/package.json
  packages/grafana-ui/package.json
  packages/grafana-ui/src/components/uPlot/plugins/TooltipPlugin4.tsx
  yarn.lock
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, store-storybook, main-integration-tests, main-windows, main-trigger-downstream, main-notify

adding grafana-delivery as codeowners for new pr-security-check workflows
  .github/CODEOWNERS
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

set new cursor pos on unpin
  packages/grafana-ui/src/components/uPlot/plugins/TooltipPlugin4.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, store-storybook, main-integration-tests, main-windows, main-trigger-downstream, main-notify

fix errors in panel edit mode when there's no parent react-grid-item
  packages/grafana-ui/src/components/uPlot/plugins/TooltipPlugin4.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, store-storybook, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Cloudwatch: Add comment and regexp to TokenTypes interface
  public/app/plugins/datasource/cloudwatch/language/cloudwatch-sql/completion/types.ts
  public/app/plugins/datasource/cloudwatch/language/dynamic-labels/CompletionItemProvider.ts
  public/app/plugins/datasource/cloudwatch/language/metric-math/completion/types.ts
  public/app/plugins/datasource/cloudwatch/language/monarch/CompletionItemProvider.ts
  public/app/plugins/datasource/cloudwatch/language/monarch/types.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Fix function name and add a bit more documentation about how the func should be used
  pkg/services/contexthandler/contexthandler.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

update function call after rename
  pkg/services/query/query.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

check for duplicate header vals
  pkg/services/query/query.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

make concurrent query limit configurable
  conf/defaults.ini
  conf/sample.ini
  docs/sources/setup-grafana/configure-grafana/_index.md
  pkg/services/query/query.go
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, pr-docs, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

kinda fix tooltip overflow in panel edit
  packages/grafana-ui/src/components/uPlot/plugins/TooltipPlugin4.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, store-storybook, main-integration-tests, main-windows, main-trigger-downstream, main-notify

adding release branch triggers to PR security patch github action
  .github/workflows/pr-security-patch-check.yml
  .github/workflows/pr-security-patch-mirror-and-apply.yml
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

FIx merge conflict
  packages/grafana-ui/src/components/PanelChrome/PanelChrome.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, store-storybook, main-integration-tests, main-windows, main-trigger-downstream, main-notify

rickyfile2
  rickyfile2
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

rickyfile
  rickyfile
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

debounce content rendering via queueMicrotask
  packages/grafana-ui/src/components/uPlot/plugins/TooltipPlugin4.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, store-storybook, main-integration-tests, main-windows, main-trigger-downstream, main-notify

apples
  packages/grafana-ui/src/components/uPlot/plugins/TooltipPlugin.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, store-storybook, main-integration-tests, main-windows, main-trigger-downstream, main-notify

reuse <SeriesTable> for content
  packages/grafana-ui/src/components/uPlot/plugins/TimeSeriesTooltip.tsx
  packages/grafana-ui/src/components/uPlot/plugins/index.ts
  public/app/plugins/panel/timeseries/TimeSeriesPanel.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, store-storybook, main-integration-tests, main-windows, main-trigger-downstream, main-notify

bring back content
  packages/grafana-ui/src/components/uPlot/plugins/TooltipPlugin.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, store-storybook, main-integration-tests, main-windows, main-trigger-downstream, main-notify

skip bold styling for single-series datasets
  packages/grafana-ui/src/components/uPlot/plugins/TooltipPlugin4.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, store-storybook, main-integration-tests, main-windows, main-trigger-downstream, main-notify

tweaks
  packages/grafana-ui/src/components/uPlot/config/UPlotConfigBuilder.ts
  packages/grafana-ui/src/components/uPlot/plugins/TooltipPlugin4.tsx
  packages/grafana-ui/src/components/uPlot/utils.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, store-storybook, main-integration-tests, main-windows, main-trigger-downstream, main-notify

xychart test
  public/app/plugins/panel/xychart/XYChartPanel2.tsx
  public/app/plugins/panel/xychart/scatter.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

heatmap test
  public/app/plugins/panel/heatmap/HeatmapPanel.tsx
  public/app/plugins/panel/timeseries/TimeSeriesPanel.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

joined security patching mirror and apply jobs
  .github/workflows/pr-security-patch-mirror-and-apply.yml
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

remove temp files
  rickyfile
  rickyfile2
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Added new color token for selectedBorder and updated FilterPill design to use new border
  packages/grafana-data/src/themes/createColors.ts
  packages/grafana-ui/src/components/FilterPill/FilterPill.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, store-storybook, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Eslint: Remove scenes rule for member accessability (#71087)
  .eslintrc
  public/app/features/scenes/apps/SceneRadioToggle.tsx
  public/app/features/scenes/apps/SceneSearchBox.tsx
  public/app/features/scenes/apps/traffic.tsx
  public/app/features/scenes/dashboard/DashboardScene.tsx
  public/app/features/scenes/dashboard/DashboardsLoader.ts
  public/app/features/scenes/dashboard/ShareQueryDataProvider.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Removed timeouts
  pkg/services/pluginsintegration/angulardetectorsprovider/dynamic.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

fix broken links to play
  docs/sources/dashboards/variables/_index.md
Due: pr-docs, main-docs

Apply suggestions from code review
  docs/sources/setup-grafana/configure-security/configure-authentication/generic-oauth/index.md
Due: pr-docs, main-docs

Loki: add additional settings section (#71035)
  public/app/plugins/datasource/loki/configuration/AlertingSettings.test.tsx
  public/app/plugins/datasource/loki/configuration/AlertingSettings.tsx
  public/app/plugins/datasource/loki/configuration/ConfigEditor.tsx
  public/app/plugins/datasource/loki/configuration/DerivedFields.tsx
  public/app/plugins/datasource/loki/configuration/QuerySettings.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

pr feedback
  docs/sources/setup-grafana/configure-security/configure-authentication/generic-oauth/index.md
Due: pr-docs, main-docs

Add temp creds feature toggle
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.go
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, pr-docs, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Test run
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  pkg/services/featuremgmt/toggles_gen.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, pr-docs, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

debug echo
  .drone.yml
  scripts/drone/steps/lib.star
Due: pr-verify-drone, pr-verify-starlark, pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-build-e2e, trigger-test-release, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, notify-drone-changes, main-trigger-downstream, main-notify

SceneDashboard: Move time controls from nav toolbar into controls and make controls them sticky, and edit mode (#71082)
  public/app/features/dashboard/components/DashNav/DashNav.tsx
  public/app/features/scenes/dashboard/DashboardScene.tsx
  public/app/features/scenes/dashboard/DashboardSceneRenderer.tsx
  public/app/features/scenes/dashboard/DashboardsLoader.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify
