Repository grafana/grafana: changes, and which Drone steps are due for each by the changed paths.
All: pr-verify-drone, pr-verify-starlark, pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, trigger-test-release, end-to-end-tests-cloud-plugins-suite-azure, build-storybook, pr-integration-tests, pr-docs, pr-shellcheck, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, store-storybook, main-integration-tests, main-windows, notify-drone-changes, main-trigger-downstream, main-notify

pr-verify-drone:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.17.1
    name: identify-runner
  - commands:
    - go build -o ./bin/build -ldflags '-extldflags -static' ./pkg/build/cmd
    depends_on: []
    environment:
      CGO_ENABLED: 0
    image: golang:1.20.1
    name: compile-build-cmd
  - commands:
  ...

pr-verify-starlark:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.17.1
    name: identify-runner
  - commands:
    - go build -o ./bin/build -ldflags '-extldflags -static' ./pkg/build/cmd
    depends_on: []
    environment:
      CGO_ENABLED: 0
    image: golang:1.20.1
    name: compile-build-cmd
  - commands:
  ...

pr-test-frontend:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.17.1
    name: identify-runner
  - commands:
    - mkdir -p bin
    - curl -fL -o bin/grabpl https://grafana-downloads.storage.googleapis.com/grafana-build-pipeline/v3.0.30/grabpl
    - chmod +x bin/grabpl
    image: byrnedo/alpine-curl:0.1.8
  ...

pr-lint-frontend:
  steps:
  - commands:
    - is_fork=$(curl "https://$GITHUB_TOKEN@api.github.com/repos/grafana/grafana/pulls/$DRONE_PULL_REQUEST" | jq .head.repo.fork)
    - if [ "$is_fork" != false ]; then return 1; fi
  ...

pr-test-backend:
  steps:
  - commands:
    - is_fork=$(curl "https://$GITHUB_TOKEN@api.github.com/repos/grafana/grafana/pulls/$DRONE_PULL_REQUEST" | jq .head.repo.fork)
    - if [ "$is_fork" != false ]; then return 1; fi
  ...

pr-lint-backend:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.17.1
    name: identify-runner
  - commands:
    - go build -o ./bin/build -ldflags '-extldflags -static' ./pkg/build/cmd
    depends_on: []
    environment:
      CGO_ENABLED: 0
    image: golang:1.20.1
    name: compile-build-cmd
  - commands:
  ...

pr-build-e2e:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.17.1
    name: identify-runner
  - commands:
    - mkdir -p bin
    - curl -fL -o bin/grabpl https://grafana-downloads.storage.googleapis.com/grafana-build-pipeline/v3.0.30/grabpl
    - chmod +x bin/grabpl
    image: byrnedo/alpine-curl:0.1.8
  ...

trigger-test-release:
  commands:
  - git clone "https://$${GITHUB_TOKEN}@github.com/grafana/grafana-enterprise.git" --depth=1
  - cd grafana-enterprise
  - git fetch origin "refs/tags/*:refs/tags/*" --quiet
  - if git show-ref --tags $${TEST_TAG} --quiet; then git tag -d $${TEST_TAG} && git push --delete origin $${TEST_TAG}; fi
  ...

end-to-end-tests-cloud-plugins-suite-azure:
  commands:
  - cd /
  - ./cpp-e2e/scripts/ci-run.sh azure ${DRONE_SOURCE_BRANCH}
  depends_on:
  - grafana-server
  environment:
    AZURE_SP_APP_ID:
      from_secret: azure_sp_app_id
    AZURE_SP_PASSWORD:
      from_secret: azure_sp_app_pw
    AZURE_TENANT:
      from_secret: azure_tenant
    CYPRESS_CI: 'true'
  ...

notify-drone-changes:
  steps:
  - image: plugins/slack
    name: slack
    settings:
      channel: slack-webhooks-test
  ...

fix unsub logic and update to latest canary scenes
  package.json
  public/app/features/dashboard-scene/scene/DashboardControls.tsx
  yarn.lock
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

bump
  pkg/services/accesscontrol/acimpl/service_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Dashboard: share modal: open link in new page (#89710)
  public/app/features/dashboard/components/ShareModal/SharePublicDashboard/ModalAlerts/UnsupportedDataSourcesAlert.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

remove eventID
  pkg/registry/apis/dashboard/legacy/storage.go
  pkg/storage/unified/resource/cdk_appender.go
  pkg/storage/unified/resource/event.go
  pkg/storage/unified/resource/server.go
  pkg/storage/unified/sqlnext/sql_resources.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

remove eventID
  pkg/storage/unified/resource/rv.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

[v10.4.x] Docs: Clarify query and tags search in dashboard list (#89972)
  docs/sources/panels-visualizations/visualizations/dashboard-list/index.md
Due: pr-docs, main-docs

fix test mocks
  pkg/services/authn/authnimpl/sync/oauth_token_sync_test.go
  pkg/services/authn/authnimpl/sync/org_sync_test.go
  pkg/services/authn/authnimpl/sync/rbac_sync_test.go
  pkg/services/authn/authnimpl/sync/user_sync_test.go
  pkg/services/store/testdata/public_testdata.golden.jsonc
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

make list preparelist
  pkg/registry/apis/dashboard/legacy/storage.go
  pkg/registry/apis/dashboard/legacy/types.go
  pkg/registry/apis/dashboard/legacy_storage.go
  pkg/storage/unified/entitybridge/entitybridge.go
  pkg/storage/unified/resource/cdk_appender.go
  pkg/storage/unified/resource/resource.proto
  pkg/storage/unified/resource/resource_grpc.pb.go
  pkg/storage/unified/resource/server.go
  pkg/storage/unified/resource/server_test.go
  pkg/storage/unified/sqlnext/sql_resources.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

make list preparelist
  pkg/storage/unified/resource/cdk_backend.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Fix things up
  packages/grafana-ui/src/components/Table/ImageCell.tsx
  public/app/plugins/panel/table/cells/ImageCellOptionsEditor.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, store-storybook, main-integration-tests, main-windows, main-trigger-downstream, main-notify

merge main
  public/app/features/dashboard-scene/settings/version-history/VersionHistoryTable.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Docs
  docs/sources/panels-visualizations/visualizations/table/index.md
Due: pr-docs, main-docs

Prettier
  packages/grafana-ui/src/components/Table/ImageCell.tsx
  public/app/plugins/panel/table/cells/ImageCellOptionsEditor.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, store-storybook, main-integration-tests, main-windows, main-trigger-downstream, main-notify

handle error message in streaming parser
  pkg/tsdb/influxdb/influxql/converter/converter.go
  pkg/tsdb/influxdb/influxql/querydata/stream_parser_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Docs: Edit of multiple files in the backend contributor guide (part 7 of doc quality improvement project)
  contribute/backend/instrumentation.md
  contribute/backend/package-hierarchy.md
  contribute/backend/services.md
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

fix test render
  .betterer.results
  public/app/plugins/panel/canvas/migrations.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

update getDataLinks
  public/app/plugins/panel/canvas/utils.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Get PUT to work although the edit doesnt apply yet
  public/app/features/explore/QueryLibrary/QueryTemplateForm.tsx
  public/app/features/explore/QueryLibrary/QueryTemplatesList.tsx
  public/app/features/explore/QueryLibrary/QueryTemplatesTable/types.ts
  public/app/features/query-library/api/factory.ts
  public/app/features/query-library/api/mappers.ts
  public/app/features/query-library/types.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Chore: Use SelectMenuOptions from @grafana/ui in grafana-prometheus (#89562)
  packages/grafana-prometheus/src/gcopypaste/packages/grafana-ui/src/components/Select/SelectBase.tsx
  packages/grafana-prometheus/src/querybuilder/components/MetricSelect.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

add sqlobj basic implementation
  pkg/services/apiserver/service.go
  pkg/services/sqlstore/migrations/migrations.go
  pkg/services/sqlstore/migrations/object_mig.go
  pkg/storage/unified/sqlnext/sql_resources.go
  pkg/storage/unified/sqlobj/sql_resources.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

renamed to basic
  go.mod
  pkg/services/apiserver/service.go
  pkg/services/sqlstore/migrations/migrations.go
  pkg/storage/unified/apistore/restoptions.go
  pkg/storage/unified/basic/basic_sql_backend.go
  pkg/storage/unified/basic/migrations/migrations.go
  pkg/storage/unified/resource/go.mod
  pkg/storage/unified/resource/go.sum
  pkg/storage/unified/sqlobj/sql_resources.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

using basic storage engine
  pkg/storage/unified/resource/grpc/authenticator.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

fix
  pkg/services/store/testdata/public_testdata.golden.jsonc
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

bump
  pkg/services/store/testdata/public_testdata.golden.jsonc
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

DateTimePicker: Add custom timeZone support
  packages/grafana-ui/src/components/DateTimePickers/DateTimePicker/DateTimePicker.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, store-storybook, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Add auth spans and remove deduplication code for scopes (#89804)
  pkg/api/common_test.go
  pkg/api/folder_test.go
  pkg/api/org_test.go
  pkg/api/plugin_resource_test.go
  pkg/api/plugins_test.go
  pkg/api/quota_test.go
  pkg/services/accesscontrol/accesscontrol.go
  pkg/services/accesscontrol/accesscontrol_test.go
  pkg/services/accesscontrol/acimpl/service.go
  pkg/services/accesscontrol/acimpl/service_test.go
  pkg/services/accesscontrol/api/api.go
  pkg/services/accesscontrol/mock/mock.go
  pkg/services/accesscontrol/resourcepermissions/api_test.go
  pkg/services/annotations/annotationsimpl/annotations_test.go
  pkg/services/authn/authnimpl/registration.go
  pkg/services/authn/authnimpl/service.go
  pkg/services/authn/authnimpl/sync/oauth_token_sync.go
  pkg/services/authn/authnimpl/sync/oauth_token_sync_test.go
  pkg/services/authn/authnimpl/sync/org_sync.go
  pkg/services/authn/authnimpl/sync/org_sync_test.go
  pkg/services/authn/authnimpl/sync/rbac_sync.go
  pkg/services/authn/authnimpl/sync/rbac_sync_test.go
  pkg/services/authn/authnimpl/sync/user_sync.go
  pkg/services/authn/authnimpl/sync/user_sync_test.go
  pkg/services/dashboards/database/database_folder_test.go
  pkg/services/grpcserver/interceptors/auth.go
  pkg/services/ldap/api/service_test.go
  pkg/services/publicdashboards/database/database_test.go
  pkg/services/searchV2/service.go
  pkg/services/serviceaccounts/api/api_test.go
  pkg/services/serviceaccounts/api/token_test.go
  pkg/services/sqlstore/permissions/dashboard_test.go
  pkg/services/sqlstore/permissions/dashboards_bench_test.go
  pkg/services/sqlstore/searchstore/search_test.go
  pkg/services/ssosettings/api/api_test.go
  pkg/services/team/teamapi/team_members_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Add test
  packages/grafana-ui/src/components/DateTimePickers/DateTimePicker/DateTimePicker.test.tsx
  packages/grafana-ui/src/components/DateTimePickers/DateTimePicker/DateTimePicker.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, store-storybook, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Run query width (70) reduced from threshold.
  public/app/features/explore/ExploreToolbar.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

More tests
  packages/grafana-ui/src/components/DateTimePickers/DateTimePicker/DateTimePicker.test.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, store-storybook, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Scenes: Upgrade to v5.3.4
  package.json
  yarn.lock
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

User+team: remove startup migration for uid (#89953)
  pkg/services/team/teamimpl/store.go
  pkg/services/team/teamimpl/team.go
  pkg/services/user/userimpl/user.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Chore: Add basic admission handlers for registered API services (#89824)
  pkg/promlib/admission_handler.go
  pkg/registry/apis/datasource/register.go
  pkg/tsdb/graphite/admission_handler.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Scenes: Upgrade to v5.3.4 (#89978)
  package.json
  yarn.lock
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

address review comments
  public/app/features/alerting/unified/components/rules/central-state-history/CentralAlertHistoryScene.tsx
  public/app/features/alerting/unified/components/rules/central-state-history/EventDetails.tsx
  public/app/features/alerting/unified/components/rules/central-state-history/EventListSceneObject.tsx
  public/app/types/unified-alerting-dto.ts
  public/locales/en-US/grafana.json
  public/locales/pseudo-LOCALE/grafana.json
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

alerting:docs>oncall (#89780)
  docs/sources/alerting/configure-notifications/manage-contact-points/integrations/configure-oncall.md
Due: pr-docs, main-docs

DEV-43349 Grafana upgrade leftovers and fixes::Fix shapshots url in App (#35)
  public/app/core/components/PageNotFound/EntityNotFound.tsx
  public/app/features/dashboard/components/ShareModal/ShareSnapshot.tsx
  public/app/routes/routes.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Update configure-oncall.md
  docs/sources/alerting/configure-notifications/manage-contact-points/integrations/configure-oncall.md
Due: pr-docs, main-docs

Path conditions:
  pr-verify-drone: any of: scripts/drone/**, .drone.yml, .drone.star, but not: docs/**, *.md
  pr-verify-starlark: any of: scripts/drone/**, .drone.star, but not: docs/**, *.md
  pr-test-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-lint-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-test-backend: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, but not: docs/**, *.md
  pr-lint-backend: any of: pkg/**, packaging/**, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, .bingo/**, but not: docs/**, *.md
  pr-build-e2e: any file but: *.md, docs/**, latest.json
  trigger-test-release: any of: .drone.yml, pkg/build/**
  end-to-end-tests-cloud-plugins-suite-azure: any of: pkg/tsdb/azuremonitor/**, public/app/plugins/datasource/azuremonitor/**, e2e/cloud-plugins-suite/azure-monitor.spec.ts
  build-storybook: any of: packages/grafana-ui/**
  pr-integration-tests: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, but not: docs/**, *.md
  pr-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  pr-shellcheck: any of: scripts/**/*.sh, but not: *.md, docs/**, latest.json
  main-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  main-test-frontend: any file but: *.md, docs/**, latest.json
  main-lint-frontend: any file but: *.md, docs/**, latest.json
  main-test-backend: any file but: *.md, docs/**, latest.json
  main-lint-backend: any file but: *.md, docs/**, latest.json
  main-build-e2e-publish: any file but: *.md, docs/**, latest.json
  store-storybook: any of: packages/grafana-ui/**
  main-integration-tests: any file but: *.md, docs/**, latest.json
  main-windows: any file but: *.md, docs/**, latest.json
  notify-drone-changes: any of: .drone.yml, but not: exclude
  main-trigger-downstream: any file but: *.md, docs/**, latest.json
  main-notify: any file but: *.md, docs/**, latest.json
