Repository grafana/grafana: changes, and which Drone steps are due for each by the changed paths.
All: pr-verify-drone, pr-verify-starlark, pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, trigger-test-release, end-to-end-tests-cloud-plugins-suite-azure, build-storybook, pr-integration-tests, pr-docs, pr-shellcheck, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, store-storybook, main-integration-tests, main-windows, notify-drone-changes, main-trigger-downstream, main-notify

Path conditions:
  pr-verify-drone: any of: scripts/drone/**, .drone.yml, .drone.star, but not: docs/**, *.md
  pr-verify-starlark: any of: scripts/drone/**, .drone.star, but not: docs/**, *.md
  pr-test-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-lint-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-test-backend: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, but not: docs/**, *.md
  pr-lint-backend: any of: pkg/**, packaging/**, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, .bingo/**, but not: docs/**, *.md
  pr-build-e2e: any file but: *.md, docs/**, latest.json
  trigger-test-release: any of: .drone.yml, pkg/build/**
  end-to-end-tests-cloud-plugins-suite-azure: any of: pkg/tsdb/azuremonitor/**, public/app/plugins/datasource/azuremonitor/**, e2e/cloud-plugins-suite/azure-monitor.spec.ts
  build-storybook: any of: packages/grafana-ui/**
  pr-integration-tests: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, but not: docs/**, *.md
  pr-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  pr-shellcheck: any of: scripts/**/*.sh, but not: *.md, docs/**, latest.json
  main-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  main-test-frontend: any file but: *.md, docs/**, latest.json
  main-lint-frontend: any file but: *.md, docs/**, latest.json
  main-test-backend: any file but: *.md, docs/**, latest.json
  main-lint-backend: any file but: *.md, docs/**, latest.json
  main-build-e2e-publish: any file but: *.md, docs/**, latest.json
  store-storybook: any of: packages/grafana-ui/**
  main-integration-tests: any file but: *.md, docs/**, latest.json
  main-windows: any file but: *.md, docs/**, latest.json
  notify-drone-changes: any of: .drone.yml, but not: exclude
  main-trigger-downstream: any file but: *.md, docs/**, latest.json
  main-notify: any file but: *.md, docs/**, latest.json

fix(canvas): correct indexation
  public/app/plugins/panel/canvas/components/connections/Connections.tsx
  public/app/plugins/panel/canvas/utils.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

chore(canvas): remove console.log
  public/app/plugins/panel/canvas/components/connections/Connections.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Update pkg/services/ngalert/provisioning/alert_rules.go
  pkg/services/ngalert/provisioning/alert_rules.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Fix test and turn it into an integration
  pkg/services/sqlstore/migrations/migrations_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

remove go.work.sum change
  go.work.sum
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Fix docs
  docs/sources/setup-grafana/configure-grafana/_index.md
Due: pr-docs, main-docs

fix test
  pkg/services/ngalert/store/deltas_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

fix(canvas): correct indexation
  public/app/plugins/panel/canvas/components/connections/Connections.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

copy go.work.sum from main
  go.work.sum
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Check for segment overlap for first vertex
  public/app/plugins/panel/canvas/components/connections/ConnectionSVG.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

update swagger spec
  pkg/services/ngalert/api/tooling/api.json
  pkg/services/ngalert/api/tooling/post.json
  pkg/services/ngalert/api/tooling/spec.json
  public/api-merged.json
  public/openapi3.json
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Update public/app/plugins/panel/canvas/components/connections/ConnectionSVG.tsx
  public/app/plugins/panel/canvas/components/connections/ConnectionSVG.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Add comment for calc clarity
  public/app/plugins/panel/canvas/utils.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

ihm/180324-canvas-flowchart-features/ run linter
  docs/sources/panels-visualizations/visualizations/canvas/index.md
Due: pr-docs, main-docs

Fix integration tests
  packages/grafana-e2e-selectors/src/selectors/pages.ts
  packages/grafana-ui/src/components/TabbedContainer/TabbedContainer.tsx
  public/app/features/explore/RichHistory/RichHistory.tsx
  public/app/features/explore/spec/helper/assert.ts
  public/app/features/explore/spec/helper/interactions.ts
  public/app/features/explore/spec/helper/setup.tsx
  public/app/features/explore/spec/queryHistory.test.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, store-storybook, main-integration-tests, main-windows, main-trigger-downstream, main-notify

[v10.4.x] Docs: Fixed a typo in the Azure config page (#84862)
  docs/sources/setup-grafana/configure-security/configure-authentication/azuread/index.md
Due: pr-docs, main-docs

SQLStore: Enable migration locking by default (#84983)
  conf/defaults.ini
  conf/sample.ini
  docs/sources/setup-grafana/configure-grafana/_index.md
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.go
  pkg/services/featuremgmt/toggles_gen.json
  pkg/services/sqlstore/database_config.go
  pkg/services/sqlstore/migrations/migrations_test.go
  pkg/services/sqlstore/sqlstore.go
  pkg/services/store/entity/db/migrations/migrator.go
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, pr-docs, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

TeamsTable: Improve user experiance with links (#84973)
  go.work.sum
  public/app/features/teams/TeamList.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Canvas: Add corner radius option (#84873)
  packages/grafana-schema/src/raw/composable/canvas/panelcfg/x/CanvasPanelCfg_types.gen.ts
  public/app/features/canvas/element.ts
  public/app/features/canvas/runtime/element.tsx
  public/app/plugins/panel/canvas/components/connections/ConnectionSVG.tsx
  public/app/plugins/panel/canvas/components/connections/Connections.tsx
  public/app/plugins/panel/canvas/editor/connectionEditor.tsx
  public/app/plugins/panel/canvas/editor/options.ts
  public/app/plugins/panel/canvas/panelcfg.cue
  public/app/plugins/panel/canvas/panelcfg.gen.ts
  public/app/plugins/panel/canvas/utils.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Alerting: Update provisioning API to support regular permissions (#77007)
  pkg/services/ngalert/accesscontrol/fakes/rules.go
  pkg/services/ngalert/api/api_provisioning.go
  pkg/services/ngalert/api/api_provisioning_test.go
  pkg/services/ngalert/api/authorization.go
  pkg/services/ngalert/api/tooling/api.json
  pkg/services/ngalert/api/tooling/definitions/provisioning_alert_rules.go
  pkg/services/ngalert/api/tooling/post.json
  pkg/services/ngalert/api/tooling/spec.json
  pkg/services/ngalert/ngalert.go
  pkg/services/ngalert/provisioning/accesscontrol.go
  pkg/services/ngalert/provisioning/accesscontrol_test.go
  pkg/services/ngalert/provisioning/alert_rules.go
  pkg/services/ngalert/provisioning/alert_rules_test.go
  pkg/services/ngalert/provisioning/testing.go
  pkg/services/ngalert/store/deltas.go
  pkg/services/ngalert/store/deltas_test.go
  pkg/services/ngalert/tests/fakes/rules.go
  pkg/services/provisioning/alerting/rules_provisioner.go
  pkg/services/provisioning/provisioning.go
  public/api-merged.json
  public/openapi3.json
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

add ActionAlertingProvisioningSetStatus
  pkg/services/accesscontrol/models.go
  pkg/services/ngalert/accesscontrol.go
  pkg/services/ngalert/api/authorization.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Remove div
  public/app/features/transformers/fieldToConfigMapping/FieldConfigMappingHandlerArgumentsEditor.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Remove comment
  docs/sources/panels-visualizations/visualizations/canvas/index.md
Due: pr-docs, main-docs

Removed extra line
  docs/sources/panels-visualizations/visualizations/canvas/index.md
Due: pr-docs, main-docs

Docs: canvas flowchart & rotation updates G11 (#84696)
  docs/sources/panels-visualizations/visualizations/canvas/index.md
Due: pr-docs, main-docs

replace to a separate role
  pkg/services/ngalert/accesscontrol.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

feat: sync the yaxis of breakdown panels
  .betterer.results
  public/app/features/trails/ActionTabs/BreakdownScene.tsx
  public/app/features/trails/ActionTabs/panelConfigs.ts
  public/app/features/trails/ActionTabs/utils.ts
  public/app/features/trails/ActionTabs/yAxisSyncBehavior.ts
  public/app/features/trails/AutomaticMetricQueries/query-generators/histogram.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Canvas: Add ability to rotate elements (#83295)
  packages/grafana-schema/src/raw/composable/canvas/panelcfg/x/CanvasPanelCfg_types.gen.ts
  public/app/features/canvas/runtime/element.tsx
  public/app/features/canvas/runtime/scene.tsx
  public/app/plugins/panel/canvas/editor/element/PlacementEditor.tsx
  public/app/plugins/panel/canvas/panelcfg.cue
  public/app/plugins/panel/canvas/panelcfg.gen.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Fix invalid DOM
  public/app/features/transformers/fieldToConfigMapping/FieldToConfigMappingEditor.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

VizPanelManager: Load default/last used data source if no data source specified for a panel (#84999)
  public/app/features/dashboard-scene/panel-edit/VizPanelManager.test.tsx
  public/app/features/dashboard-scene/panel-edit/VizPanelManager.tsx
  public/app/features/dashboard-scene/panel-edit/testfiles/testDashboard.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

datatrails: synchronize the range of the y axis for all breakdown panels (#84781)
  .betterer.results
  public/app/features/trails/ActionTabs/BreakdownScene.tsx
  public/app/features/trails/ActionTabs/panelConfigs.ts
  public/app/features/trails/ActionTabs/utils.ts
  public/app/features/trails/ActionTabs/yAxisSyncBehavior.ts
  public/app/features/trails/AutomaticMetricQueries/query-generators/histogram.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Improvements
  public/app/features/dashboard-scene/scene/DashboardGridItem.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Canvas: Add "infinite" pan / zoom functionality (#84968)
  packages/grafana-schema/src/raw/composable/canvas/panelcfg/x/CanvasPanelCfg_types.gen.ts
  public/app/features/canvas/runtime/SceneTransformWrapper.tsx
  public/app/features/canvas/runtime/scene.tsx
  public/app/plugins/panel/canvas/CanvasPanel.tsx
  public/app/plugins/panel/canvas/module.tsx
  public/app/plugins/panel/canvas/panelcfg.cue
  public/app/plugins/panel/canvas/panelcfg.gen.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

DashboardAI: UX improvements (#84934)
  packages/grafana-data/src/types/icon.ts
  public/app/features/dashboard/components/GenAI/GenAIButton.tsx
  public/app/features/dashboard/components/GenAI/GenAIHistory.tsx
  public/app/features/dashboard/components/GenAI/GenerationHistoryCarousel.tsx
  public/app/features/dashboard/components/GenAI/QuickFeedback.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

update integration tests
  pkg/tests/api/alerting/api_provisioning_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Transformer: Config from Query: set threshold colours (#83366)
  public/app/features/transformers/configFromQuery/configFromQuery.test.ts
  public/app/features/transformers/configFromQuery/configFromQuery.ts
  public/app/features/transformers/fieldToConfigMapping/FieldConfigMappingHandlerArgumentsEditor.test.tsx
  public/app/features/transformers/fieldToConfigMapping/FieldConfigMappingHandlerArgumentsEditor.tsx
  public/app/features/transformers/fieldToConfigMapping/FieldToConfigMappingEditor.test.tsx
  public/app/features/transformers/fieldToConfigMapping/FieldToConfigMappingEditor.tsx
  public/app/features/transformers/fieldToConfigMapping/fieldToConfigMapping.ts
  public/app/features/transformers/rowsToFields/rowsToFields.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

fixup
  pkg/services/ngalert/api/authorization.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

change role name to match action
  pkg/services/ngalert/accesscontrol.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Alerting: Update grafana/alerting to a4bb859 (#84815)
  go.mod
  go.sum
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Alerting: Editor role can access all provisioning API (#85022)
  pkg/services/accesscontrol/models.go
  pkg/services/ngalert/accesscontrol.go
  pkg/services/ngalert/api/authorization.go
  pkg/tests/api/alerting/api_provisioning_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify
