Repository grafana/grafana: changes, and which Drone steps are due for each by the changed paths.
All: pr-verify-drone, pr-verify-starlark, pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, trigger-test-release, end-to-end-tests-cloud-plugins-suite-azure, build-storybook, pr-integration-tests, pr-docs, pr-shellcheck, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, store-storybook, main-integration-tests, main-windows, notify-drone-changes, main-trigger-downstream, main-notify

pr-verify-drone:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.17.1
    name: identify-runner
  - commands:
    - go build -o ./bin/build -ldflags '-extldflags -static' ./pkg/build/cmd
    depends_on: []
    environment:
      CGO_ENABLED: 0
    image: golang:1.20.1
    name: compile-build-cmd
  - commands:
  ...

pr-verify-starlark:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.17.1
    name: identify-runner
  - commands:
    - go build -o ./bin/build -ldflags '-extldflags -static' ./pkg/build/cmd
    depends_on: []
    environment:
      CGO_ENABLED: 0
    image: golang:1.20.1
    name: compile-build-cmd
  - commands:
  ...

pr-test-frontend:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.17.1
    name: identify-runner
  - commands:
    - mkdir -p bin
    - curl -fL -o bin/grabpl https://grafana-downloads.storage.googleapis.com/grafana-build-pipeline/v3.0.30/grabpl
    - chmod +x bin/grabpl
    image: byrnedo/alpine-curl:0.1.8
  ...

pr-lint-frontend:
  steps:
  - commands:
    - is_fork=$(curl "https://$GITHUB_TOKEN@api.github.com/repos/grafana/grafana/pulls/$DRONE_PULL_REQUEST" | jq .head.repo.fork)
    - if [ "$is_fork" != false ]; then return 1; fi
  ...

pr-test-backend:
  steps:
  - commands:
    - is_fork=$(curl "https://$GITHUB_TOKEN@api.github.com/repos/grafana/grafana/pulls/$DRONE_PULL_REQUEST" | jq .head.repo.fork)
    - if [ "$is_fork" != false ]; then return 1; fi
  ...

pr-lint-backend:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.17.1
    name: identify-runner
  - commands:
    - go build -o ./bin/build -ldflags '-extldflags -static' ./pkg/build/cmd
    depends_on: []
    environment:
      CGO_ENABLED: 0
    image: golang:1.20.1
    name: compile-build-cmd
  - commands:
  ...

pr-build-e2e:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.17.1
    name: identify-runner
  - commands:
    - mkdir -p bin
    - curl -fL -o bin/grabpl https://grafana-downloads.storage.googleapis.com/grafana-build-pipeline/v3.0.30/grabpl
    - chmod +x bin/grabpl
    image: byrnedo/alpine-curl:0.1.8
  ...

trigger-test-release:
  commands:
  - git clone "https://$${GITHUB_TOKEN}@github.com/grafana/grafana-enterprise.git" --depth=1
  - cd grafana-enterprise
  - git fetch origin "refs/tags/*:refs/tags/*" --quiet
  - if git show-ref --tags $${TEST_TAG} --quiet; then git tag -d $${TEST_TAG} && git push --delete origin $${TEST_TAG}; fi
  ...

end-to-end-tests-cloud-plugins-suite-azure:
  commands:
  - cd /
  - ./cpp-e2e/scripts/ci-run.sh azure ${DRONE_SOURCE_BRANCH}
  depends_on:
  - grafana-server
  environment:
    AZURE_SP_APP_ID:
      from_secret: azure_sp_app_id
    AZURE_SP_PASSWORD:
      from_secret: azure_sp_app_pw
    AZURE_TENANT:
      from_secret: azure_tenant
    CYPRESS_CI: 'true'
  ...

notify-drone-changes:
  steps:
  - image: plugins/slack
    name: slack
    settings:
      channel: slack-webhooks-test
  ...

Cloudwatch: Add AWS/Events Metrics (#88097)
  pkg/tsdb/cloudwatch/constants/metrics.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

remove unneeded moveTo()
  public/app/plugins/panel/xychart/scatter.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

update logic change to bool
  pkg/apimachinery/apis/common/v0alpha1/unstructured.go
  pkg/services/dashboardsnapshots/service.go
  pkg/services/dashboardsnapshots/service/service.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Restrict API endpoints following toggle
  pkg/services/ngalert/api/api.go
  pkg/services/ngalert/api/api_provisioning.go
  pkg/services/ngalert/api/api_provisioning_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

with full storage interface
  go.mod
  go.sum
  pkg/apiserver/go.mod
  pkg/apiserver/go.sum
  pkg/plugins/backendplugin/coreplugin/core_plugin.go
  pkg/plugins/backendplugin/coreplugin/registry.go
  pkg/plugins/backendplugin/grpcplugin/client_v2.go
  pkg/plugins/backendplugin/grpcplugin/grpc_plugin.go
  pkg/plugins/backendplugin/ifaces.go
  pkg/plugins/ifaces.go
  pkg/plugins/manager/client/client.go
  pkg/plugins/manager/client/clienttest/clienttest.go
  pkg/plugins/manager/client/decorator.go
  pkg/plugins/manager/client/decorator_test.go
  pkg/plugins/manager/fakes/fakes.go
  pkg/plugins/plugins.go
  pkg/promlib/go.mod
  pkg/promlib/go.sum
  pkg/services/datasources/service/datasource.go
  pkg/services/pluginsintegration/clientmiddleware/base_middleware.go
  pkg/services/pluginsintegration/clientmiddleware/contextual_logger_middleware.go
  pkg/services/pluginsintegration/clientmiddleware/plugin_request_meta_middleware.go
  pkg/services/pluginsintegration/clientmiddleware/tracing_middleware.go
  pkg/services/pluginsintegration/clientmiddleware/tracing_middleware_test.go
  pkg/tests/api/plugins/backendplugin/backendplugin_test.go
  pkg/tsdb/grafana-testdata-datasource/settings_handler.go
  pkg/tsdb/grafana-testdata-datasource/settings_handler_test.go
  pkg/tsdb/grafana-testdata-datasource/testdata.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

with full storage interface
  pkg/tsdb/grafana-testdata-datasource/storage_handler.go
  pkg/tsdb/grafana-testdata-datasource/storage_handler_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Fix lint
  pkg/services/ngalert/api/api_provisioning_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

improvements on tracking and responsiveness
  public/app/features/dashboard-scene/sharing/ShareButton/ShareButton.tsx
  public/app/features/dashboard-scene/sharing/ShareButton/ShareMenu.tsx
  public/app/features/dashboard-scene/sharing/ShareButton/share-externally/EmailShare/ConfigEmailSharing/ConfigEmailSharing.tsx
  public/app/features/dashboard-scene/sharing/ShareButton/share-externally/EmailShare/CreateEmailSharing.tsx
  public/app/features/dashboard-scene/sharing/ShareButton/share-externally/PublicShare/CreatePublicSharing.tsx
  public/app/features/dashboard-scene/sharing/ShareButton/share-externally/ShareConfiguration.tsx
  public/app/features/dashboard-scene/sharing/ShareButton/share-externally/ShareExternally.tsx
  public/app/features/dashboard-scene/sharing/ShareButton/share-externally/ShareTypeSelect.tsx
  public/app/features/dashboard-scene/sharing/ShareButton/utils.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

fix tests
  pkg/expr/query.panel.schema.json
  pkg/expr/query.request.schema.json
  pkg/plugins/manager/client/clienttest/clienttest.go
  pkg/promlib/models/query.panel.schema.json
  pkg/promlib/models/query.request.schema.json
  pkg/services/datasources/service/datasource_test.go
  pkg/tsdb/grafana-testdata-datasource/kinds/query.panel.schema.json
  pkg/tsdb/grafana-testdata-datasource/kinds/query.request.schema.json
  pkg/tsdb/grafana-testdata-datasource/storage_handler.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

fix the context side of things
  pkg/services/datasources/service/datasource.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Don't wrap text on non-string fields
  packages/grafana-ui/src/components/Table/RowsList.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, store-storybook, main-integration-tests, main-windows, main-trigger-downstream, main-notify

update naming validate dashboard
  pkg/services/dashboardsnapshots/service.go
  pkg/services/dashboardsnapshots/service/service.go
  pkg/services/dashboardsnapshots/service_mock.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Edit of 3 files for doc quality improvements
  contribute/ISSUE_TRIAGE.md
  contribute/UPGRADING_DEPENDENCIES.md
  contribute/internationalization.md
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Add wrapping to color text cell
  packages/grafana-schema/src/common/common.gen.ts
  packages/grafana-schema/src/common/table.cue
  packages/grafana-ui/src/components/Table/RowsList.tsx
  public/app/plugins/panel/table/TableCellOptionEditor.tsx
  public/app/plugins/panel/table/cells/AutoCellOptionsEditor.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, store-storybook, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Prettier
  packages/grafana-ui/src/components/Table/RowsList.tsx
  public/app/plugins/panel/table/TableCellOptionEditor.tsx
  public/app/plugins/panel/table/cells/AutoCellOptionsEditor.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, store-storybook, main-integration-tests, main-windows, main-trigger-downstream, main-notify

fix tests
  public/app/features/explore/Logs/Logs.test.tsx
  public/app/features/explore/Logs/Logs.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Remove store mock and clear store between tests instead
  public/app/features/explore/Logs/Logs.test.tsx
  public/app/features/explore/Logs/Logs.tsx
  public/app/features/explore/Logs/LogsTableWrap.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Canvas: Chore clean up more betterer warnings (#88010)
  .betterer.results
  public/app/plugins/panel/canvas/components/CanvasTooltip.tsx
  public/app/plugins/panel/canvas/editor/element/APIEditor.tsx
  public/app/plugins/panel/canvas/editor/element/ParamsEditor.tsx
  public/app/plugins/panel/canvas/editor/element/PlacementEditor.tsx
  public/app/plugins/panel/canvas/editor/element/elementEditor.tsx
  public/app/plugins/panel/canvas/editor/inline/InlineEditBody.tsx
  public/app/plugins/panel/canvas/editor/layer/TreeNavigationEditor.tsx
  public/app/plugins/panel/canvas/editor/layer/layerEditor.tsx
  public/app/plugins/panel/canvas/editor/panZoomHelp.tsx
  public/app/plugins/panel/canvas/globalStyles.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

fix hook
  pkg/services/datasources/service/datasource.go
  pkg/tsdb/grafana-testdata-datasource/storage_handler.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

fix validation test
  pkg/tsdb/grafana-testdata-datasource/storage_handler_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

CloudWatch: Add additional AWS/KinesisAnalytics metrics (#88101)
  pkg/tsdb/cloudwatch/constants/metrics.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

added cfg to tests
  pkg/services/accesscontrol/database/database_test.go
  pkg/services/accesscontrol/ossaccesscontrol/permissions_services.go
  pkg/services/accesscontrol/resourcepermissions/options.go
  pkg/tests/api/alerting/api_alertmanager_silence_test.go
  pkg/tests/api/alerting/api_backtesting_test.go
  pkg/tests/api/alerting/api_prometheus_test.go
  pkg/tests/api/alerting/api_ruler_test.go
  pkg/tests/api/alerting/api_testing_test.go
  pkg/tests/api/folders/api_folders_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Admin: Unable to enable user
  pkg/api/admin_users.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

fixed typo for note section
  docs/sources/administration/plugin-management/index.md
Due: pr-docs, main-docs

run prettier to fix
  docs/sources/administration/plugin-management/index.md
Due: pr-docs, main-docs

Docs/usman plugin mgmt (#85424)
  docs/sources/administration/plugin-management/index.md
Due: pr-docs, main-docs

Fix: unable to enable user
  pkg/api/admin_users.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

storage >> admission
  go.mod
  go.sum
  go.work.sum
  pkg/apiserver/go.mod
  pkg/apiserver/go.sum
  pkg/plugins/backendplugin/coreplugin/core_plugin.go
  pkg/plugins/backendplugin/coreplugin/registry.go
  pkg/plugins/backendplugin/grpcplugin/client_v2.go
  pkg/plugins/backendplugin/grpcplugin/grpc_plugin.go
  pkg/plugins/backendplugin/ifaces.go
  pkg/plugins/ifaces.go
  pkg/plugins/manager/client/client.go
  pkg/plugins/manager/client/clienttest/clienttest.go
  pkg/plugins/manager/client/decorator.go
  pkg/plugins/manager/client/decorator_test.go
  pkg/plugins/manager/fakes/fakes.go
  pkg/plugins/plugins.go
  pkg/promlib/go.mod
  pkg/promlib/go.sum
  pkg/services/datasources/service/datasource.go
  pkg/services/datasources/service/datasource_test.go
  pkg/services/pluginsintegration/clientmiddleware/base_middleware.go
  pkg/services/pluginsintegration/clientmiddleware/contextual_logger_middleware.go
  pkg/services/pluginsintegration/clientmiddleware/plugin_request_meta_middleware.go
  pkg/services/pluginsintegration/clientmiddleware/tracing_middleware.go
  pkg/services/pluginsintegration/clientmiddleware/tracing_middleware_test.go
  pkg/tests/api/plugins/backendplugin/backendplugin_test.go
  pkg/tsdb/grafana-testdata-datasource/storage_handler.go
  pkg/tsdb/grafana-testdata-datasource/storage_handler_test.go
  pkg/tsdb/grafana-testdata-datasource/testdata.go
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

replace select aria-label with data-testid
  packages/grafana-e2e-selectors/src/selectors/components.ts
  packages/grafana-prometheus/src/querybuilder/components/MetricSelect.test.tsx
  packages/grafana-ui/src/components/AutoSaveField/AutoSaveField.test.tsx
  packages/grafana-ui/src/components/MatchersUI/FieldsByFrameRefIdMatcher.test.tsx
  packages/grafana-ui/src/components/Select/SelectBase.test.tsx
  packages/grafana-ui/src/components/Select/SelectMenu.tsx
  public/app/core/components/Select/OldFolderPicker.test.tsx
  public/app/features/explore/extensions/AddToDashboard/index.test.tsx
  public/app/plugins/datasource/azuremonitor/components/MetricsQueryEditor/DimensionFields.test.tsx
  public/app/plugins/datasource/cloud-monitoring/components/VisualMetricQueryEditor.test.tsx
  public/app/plugins/datasource/elasticsearch/components/hooks/useCreatableSelectPersistedBehaviour.test.tsx
  public/app/plugins/datasource/grafana-testdata-datasource/QueryEditor.test.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, end-to-end-tests-cloud-plugins-suite-azure, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, store-storybook, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Revert: Tempo: Always use time range even if timeShiftEnabled is false (#88095)
  public/app/plugins/datasource/tempo/datasource.test.ts
  public/app/plugins/datasource/tempo/datasource.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Fix persisting timeRangeUpdated that should not be persisted
  public/app/features/dashboard/state/DashboardModel.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

update in copy pasted places as well
  e2e/various-suite/prometheus-config.spec.ts
  e2e/various-suite/prometheus-editor.spec.ts
  e2e/various-suite/prometheus-variable-editor.spec.ts
  packages/grafana-prometheus/src/gcopypaste/packages/grafana-ui/src/components/Select/SelectBase.tsx
  packages/grafana-prometheus/src/querybuilder/components/MetricSelect.tsx
  packages/grafana-ui/src/components/DateTimePickers/TimeZonePicker/TimeZoneOption.tsx
  public/app/plugins/datasource/azuremonitor/components/TracesQueryEditor/Filter.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, end-to-end-tests-cloud-plugins-suite-azure, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, store-storybook, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Explore: Convert kebab-case styles to camel-case (#88048)
  public/app/features/explore/QueryLibrary/QueryTemplatesTable/styles.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Dashboards: timeRangeUpdatedDuringEditOrView should not be persisted (#88119)
  public/app/features/dashboard/state/DashboardModel.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

adjust workflow for testing
  .github/workflows/run-scenes-e2e.yml
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Generate translations
  public/locales/en-US/grafana.json
  public/locales/pseudo-LOCALE/grafana.json
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Path conditions:
  pr-verify-drone: any of: scripts/drone/**, .drone.yml, .drone.star, but not: docs/**, *.md
  pr-verify-starlark: any of: scripts/drone/**, .drone.star, but not: docs/**, *.md
  pr-test-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-lint-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-test-backend: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, but not: docs/**, *.md
  pr-lint-backend: any of: pkg/**, packaging/**, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, .bingo/**, but not: docs/**, *.md
  pr-build-e2e: any file but: *.md, docs/**, latest.json
  trigger-test-release: any of: .drone.yml, pkg/build/**
  end-to-end-tests-cloud-plugins-suite-azure: any of: pkg/tsdb/azuremonitor/**, public/app/plugins/datasource/azuremonitor/**, e2e/cloud-plugins-suite/azure-monitor.spec.ts
  build-storybook: any of: packages/grafana-ui/**
  pr-integration-tests: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, but not: docs/**, *.md
  pr-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  pr-shellcheck: any of: scripts/**/*.sh, but not: *.md, docs/**, latest.json
  main-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  main-test-frontend: any file but: *.md, docs/**, latest.json
  main-lint-frontend: any file but: *.md, docs/**, latest.json
  main-test-backend: any file but: *.md, docs/**, latest.json
  main-lint-backend: any file but: *.md, docs/**, latest.json
  main-build-e2e-publish: any file but: *.md, docs/**, latest.json
  store-storybook: any of: packages/grafana-ui/**
  main-integration-tests: any file but: *.md, docs/**, latest.json
  main-windows: any file but: *.md, docs/**, latest.json
  notify-drone-changes: any of: .drone.yml, but not: exclude
  main-trigger-downstream: any file but: *.md, docs/**, latest.json
  main-notify: any file but: *.md, docs/**, latest.json
