Repository grafana/grafana: changes, and which Drone steps are due for each by the changed paths.
All: pr-verify-drone, pr-verify-starlark, pr-verify-storybook, pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, end-to-end-tests-cloud-plugins-suite-azure, build-storybook, pr-integration-tests, pr-docs, pr-shellcheck, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

pr-verify-drone:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.20.3
    name: identify-runner
  - commands:
    - go build -o ./bin/build -ldflags '-extldflags -static' ./pkg/build/cmd
    depends_on: []
    environment:
      CGO_ENABLED: 0
    image: golang:1.23.1-alpine
    name: compile-build-cmd
  - commands:
  ...

pr-verify-starlark:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.20.3
    name: identify-runner
  - commands:
    - go install github.com/bazelbuild/buildtools/buildifier@latest
    - buildifier --lint=warn -mode=check -r .
    depends_on: []
    image: golang:1.23.1-alpine
    name: lint-starlark

pr-verify-storybook:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.20.3
    name: identify-runner
  - commands:
    - yarn install --immutable || yarn install --immutable
    depends_on: []
    image: node:20.9.0-alpine
    name: yarn-install
  - commands:
    - yarn storybook --quiet
    depends_on:
    - yarn-install
  ...

pr-test-frontend:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.20.3
    name: identify-runner
  - commands:
    - yarn install --immutable || yarn install --immutable
    depends_on: []
    image: node:20.9.0-alpine
    name: yarn-install
  - commands:
    - apk add --update git bash
    - yarn betterer ci
  ...

pr-lint-frontend:
  steps:
  - commands:
    - echo $(/usr/bin/github-app-external-token) > /github-app/token
    environment:
      GITHUB_APP_ID:
        from_secret: github-app-app-id
      GITHUB_APP_INSTALLATION_ID:
        from_secret: github-app-installation-id
      GITHUB_APP_PRIVATE_KEY:
  ...

pr-test-backend:
  steps:
  - commands:
    - echo $(/usr/bin/github-app-external-token) > /github-app/token
    environment:
      GITHUB_APP_ID:
        from_secret: github-app-app-id
      GITHUB_APP_INSTALLATION_ID:
        from_secret: github-app-installation-id
      GITHUB_APP_PRIVATE_KEY:
  ...

pr-lint-backend:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.20.3
    name: identify-runner
  - commands:
    - go build -o ./bin/build -ldflags '-extldflags -static' ./pkg/build/cmd
    depends_on: []
    environment:
      CGO_ENABLED: 0
    image: golang:1.23.1-alpine
    name: compile-build-cmd
  - commands:
  ...

pr-build-e2e:
  steps:
  - commands:
    - echo $(/usr/bin/github-app-external-token) > /github-app/token
    environment:
      GITHUB_APP_ID:
        from_secret: github-app-app-id
      GITHUB_APP_INSTALLATION_ID:
        from_secret: github-app-installation-id
      GITHUB_APP_PRIVATE_KEY:
  ...

end-to-end-tests-cloud-plugins-suite-azure:
  commands:
  - GITHUB_TOKEN=$(cat /github-app/token)
  - cd /
  - ./cpp-e2e/scripts/ci-run.sh azure ${DRONE_SOURCE_BRANCH}
  depends_on:
  - grafana-server
  - github-app-generate-token
  environment:
    AZURE_SP_APP_ID:
      from_secret: azure_sp_app_id
    AZURE_SP_PASSWORD:
      from_secret: azure_sp_app_pw
  ...

Alerting docs: delete screensbots (#88608)
  docs/sources/alerting/fundamentals/alert-rules/queries-conditions.md
  docs/sources/alerting/fundamentals/notifications/contact-points.md
Due: pr-docs, main-docs

Dashboard: Fix Variables query hides fields with non-supported datasources (#88516)
  public/app/features/variables/query/QueryVariableEditor.tsx
  public/app/features/variables/query/VariableQueryRunner.test.ts
  public/app/features/variables/query/VariableQueryRunner.ts
  public/app/features/variables/query/queryRunners.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Auth: Add org to role mappings support to GitHub integration (#88537)
  docs/sources/administration/roles-and-permissions/access-control/custom-role-actions-scopes/index.md
  docs/sources/developers/http_api/auth.md
  docs/sources/setup-grafana/configure-security/configure-authentication/generic-oauth/index.md
  docs/sources/setup-grafana/configure-security/configure-authentication/github/index.md
  docs/sources/setup-grafana/configure-security/configure-authentication/gitlab/index.md
  docs/sources/setup-grafana/configure-security/configure-authentication/jwt/index.md
  docs/sources/setup-grafana/configure-security/configure-authentication/okta/index.md
  docs/sources/setup-grafana/configure-security/configure-authentication/saml/index.md
  pkg/login/social/connectors/github_oauth.go
  pkg/login/social/connectors/github_oauth_test.go
  pkg/services/authn/clients/oauth.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, pr-docs, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Access Control: Clean up permissions for deprovisioned data sources (#88483)
  pkg/services/accesscontrol/mock/service_mock.go
  pkg/services/datasources/service/datasource_test.go
  pkg/services/datasources/service/store.go
  pkg/services/datasources/service/store_test.go
  pkg/services/provisioning/datasources/config_reader_test.go
  pkg/services/provisioning/datasources/datasources.go
  pkg/services/provisioning/provisioning.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Alerting: update `Set evaluation behavior` text (#88301)
  public/app/features/alerting/unified/components/rule-editor/CloudEvaluationBehavior.tsx
  public/app/features/alerting/unified/components/rule-editor/FolderAndGroup.tsx
  public/app/features/alerting/unified/components/rule-editor/GrafanaEvaluationBehavior.tsx
  public/app/features/alerting/unified/components/rules/EditRuleGroupModal.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Graphite: Fix splitting expressions in tag_value with template variables (#86958)
  public/app/plugins/datasource/graphite/datasource.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Drawer: Fix overflow to stop drag handle being cut off (#88500)
  packages/grafana-ui/src/components/Drawer/Drawer.tsx
Due: pr-verify-storybook, pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Betterer: force update results file (#88637)
  .betterer.results
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Chore: fix typo in `contribute/developer-guide.md` to make codespell happy (#88639)
  contribute/developer-guide.md
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Alerting: update CODEOWNERS (#88628)
  .github/CODEOWNERS
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Docs: Add Installation YouTube Videos to documentation pages. (#88465)
  docs/sources/setup-grafana/installation/_index.md
  docs/sources/setup-grafana/installation/debian/index.md
  docs/sources/setup-grafana/installation/mac/index.md
  docs/sources/setup-grafana/installation/redhat-rhel-fedora/index.md
  docs/sources/setup-grafana/installation/suse-opensuse/index.md
  docs/sources/setup-grafana/installation/windows/index.md
Due: pr-docs, main-docs

XYChart2: Implement color-by-field (#88467)
  .betterer.results
  devenv/dev-dashboards/panel-xychart/xychart-demo.json
  devenv/dev-dashboards/panel-xychart/xychart-migrations.json
  devenv/jsonnet/dev-dashboards.libsonnet
  public/app/plugins/panel/xychart/config.ts
  public/app/plugins/panel/xychart/scatter.ts
  public/app/plugins/panel/xychart/v2/XYChartPanel.tsx
  public/app/plugins/panel/xychart/v2/XYChartTooltip.tsx
  public/app/plugins/panel/xychart/v2/config.ts
  public/app/plugins/panel/xychart/v2/migrations.ts
  public/app/plugins/panel/xychart/v2/panelcfg.cue
  public/app/plugins/panel/xychart/v2/panelcfg.gen.ts
  public/app/plugins/panel/xychart/v2/scatter.ts
  public/app/plugins/panel/xychart/v2/types2.ts
  public/app/plugins/panel/xychart/v2/utils.ts
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

SSE: Fix threshold unmarshal to avoid panic (#88521)
  pkg/expr/threshold.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Prometheus: Add hints for native histograms (#87017)
  packages/grafana-prometheus/src/datasource.ts
  packages/grafana-prometheus/src/query_hints.test.ts
  packages/grafana-prometheus/src/query_hints.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Alerting: Prevent updating rule uid matcher for silences (#88519)
  pkg/services/ngalert/models/testing.go
  pkg/services/ngalert/notifier/silence_svc.go
  pkg/services/ngalert/notifier/silence_svc_test.go
  pkg/services/ngalert/tests/fakes/silences.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

InfluxDB: Fix custom variable support (#88642)
  public/app/plugins/datasource/influxdb/components/editor/variable/VariableQueryEditor.tsx
  public/app/plugins/datasource/influxdb/variables.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Alerting docs: fix `Alertmanagers` title (#88625)
  docs/sources/alerting/set-up/configure-alertmanager/index.md
Due: pr-docs, main-docs

Laura/refactor/rename trash section (#88617)
  .betterer.results
  .github/CODEOWNERS
  pkg/services/navtree/navtreeimpl/navtree.go
  public/app/core/utils/navBarItem-translations.ts
  public/app/features/manage-dashboards/RecentlyDeletedPage.tsx
  public/app/features/trash-section/TrashPage.tsx
  public/app/routes/routes.tsx
  public/locales/en-US/grafana.json
  public/locales/pseudo-LOCALE/grafana.json
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Scopes: Add DashboardTitle to scopedashboardbinding (#88609)
  pkg/apis/scope/v0alpha1/types.go
  pkg/apis/scope/v0alpha1/zz_generated.openapi.go
  pkg/registry/apis/scope/storage.go
  pkg/tests/apis/scopes/scopes_test.go
  pkg/tests/apis/scopes/testdata/example-scope.yaml
  pkg/tests/apis/scopes/testdata/example-scope2.yaml
  pkg/tests/apis/scopes/testdata/scopeNodesExample/scopes.json
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Alerting: Update translations in GrafanaEvaluationBehaviour component (#88638)
  .betterer.results
  public/app/features/alerting/unified/components/rule-editor/GrafanaEvaluationBehavior.tsx
  public/locales/en-US/grafana.json
  public/locales/pseudo-LOCALE/grafana.json
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Grafana UI: stop input element of the react select component from overflowing and causing layout issues. (#88372)
  packages/grafana-ui/src/components/Select/resetSelectStyles.ts
  public/app/plugins/datasource/cloud-monitoring/components/__snapshots__/VariableQueryEditor.test.tsx.snap
Due: pr-verify-storybook, pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Alerting docs: Specify Grafana alert rule evaluation (#88250)
  docs/sources/alerting/fundamentals/alert-rule-evaluation/_index.md
  docs/sources/alerting/fundamentals/alert-rules/_index.md
Due: pr-docs, main-docs

Chore: Move `Switch` SCSS to emotion/angular (#88553)
  .betterer.results
  packages/grafana-ui/src/components/Forms/Legacy/Switch/Switch.tsx
  public/sass/_angular.scss
  public/sass/_grafana.scss
  public/sass/components/_switch.scss
Due: pr-verify-storybook, pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Docs: Remove custom branding screenshot (#88657)
  docs/sources/setup-grafana/configure-grafana/configure-custom-branding/index.md
Due: pr-docs, main-docs

Keybinds: Vendor Mousetrap (#88603)
  package.json
  public/app/core/services/KeybindingSet.ts
  public/app/core/services/keybindingSrv.ts
  public/app/core/services/mousetrap/Mousetrap.ts
  public/app/core/services/mousetrap/index.ts
  yarn.lock
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

FeatureFlags: Update creation timestamps (#88654)
  pkg/services/featuremgmt/toggles_gen.json
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Devenv: Longer provisioning update intervals (#88623)
  devenv/bulk-dashboards/bulk-dashboards.yaml
  devenv/bulk-folders/bulk-folders.sh
  devenv/bulk-folders/bulk-folders.yaml
  devenv/dashboards.yaml
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Chore: Fix typo in lint rule file name (#88662)
  packages/grafana-eslint-rules/index.cjs
  packages/grafana-eslint-rules/rules/no-untranslated-strings.cjs
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Chore: Remove `nestedFolderPicker` toggle (#88660)
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.go
  pkg/services/featuremgmt/toggles_gen.json
  public/app/core/components/Select/FolderPicker.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, pr-docs, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Alerting: Add filters for RouteGetRuleStatuses (#88295)
  pkg/services/ngalert/api/api_prometheus.go
  pkg/services/ngalert/api/api_prometheus_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Loki: Fix editor history in wrong order (#88666)
  public/app/plugins/datasource/loki/components/monaco-query-field/monaco-completion-provider/CompletionDataProvider.test.ts
  public/app/plugins/datasource/loki/components/monaco-query-field/monaco-completion-provider/CompletionDataProvider.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

RestoreDashboards: Populate page (#88555)
  .betterer.results
  public/app/features/browse-dashboards/BrowseDashboardsPage.tsx
  public/app/features/browse-dashboards/components/SearchView.tsx
  public/app/features/manage-dashboards/RecentlyDeletedPage.tsx
  public/app/features/manage-dashboards/utils/useRecentlyDeletedStateManager.ts
  public/app/features/search/page/reporting.ts
  public/app/features/search/service/sql.ts
  public/app/features/search/service/types.ts
  public/app/features/search/state/SearchStateManager.ts
  public/app/features/search/types.ts
  public/app/routes/routes.tsx
  public/locales/en-US/grafana.json
  public/locales/pseudo-LOCALE/grafana.json
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Gops: Fix data field in incidents query (#88682)
  public/app/features/alerting/unified/api/incidentsApi.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Tempo: Send current filters when retrieving tags for AdHocFilters (#88270)
  public/app/plugins/datasource/tempo/SearchTraceQLEditor/utils.test.ts
  public/app/plugins/datasource/tempo/SearchTraceQLEditor/utils.ts
  public/app/plugins/datasource/tempo/datasource.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Cloudwatch Logs: Fix bug where we did not return errors to user (#87190)
  .betterer.results
  pkg/tsdb/cloudwatch/log_actions.go
  pkg/tsdb/cloudwatch/log_actions_test.go
  public/app/plugins/datasource/cloudwatch/__mocks__/LogsQueryRunner.ts
  public/app/plugins/datasource/cloudwatch/components/QueryEditor/LogsQueryEditor/LogsQueryField.tsx
  public/app/plugins/datasource/cloudwatch/datasource.ts
  public/app/plugins/datasource/cloudwatch/query-runner/CloudWatchLogsQueryRunner.test.ts
  public/app/plugins/datasource/cloudwatch/query-runner/CloudWatchLogsQueryRunner.ts
  public/app/plugins/datasource/cloudwatch/utils/logsRetry.test.ts
  public/app/plugins/datasource/cloudwatch/utils/logsRetry.ts
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Docs: Update the SAML role mapping docs with the new fields added (#88529)
  docs/sources/setup-grafana/configure-grafana/enterprise-configuration/index.md
  docs/sources/setup-grafana/configure-security/configure-authentication/saml/index.md
Due: pr-docs, main-docs

Alerting: Mute Timing service to prevent changing provenance status to none (#88462)
  pkg/services/ngalert/api/api_provisioning.go
  pkg/services/ngalert/provisioning/errors.go
  pkg/services/ngalert/provisioning/mute_timings.go
  pkg/services/ngalert/provisioning/mute_timings_test.go
  pkg/services/ngalert/provisioning/provenance.go
  pkg/services/ngalert/provisioning/provenance_test.go
  pkg/services/provisioning/alerting/mute_times_provisioner.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

SSO: Add the new role value fields for SSO SAML strategy (#88561)
  pkg/services/ssosettings/strategies/saml_strategy.go
  pkg/services/ssosettings/strategies/saml_strategy_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Explore: Align time filters properly to day boundaries in query history (#88498)
  public/app/core/history/RichHistoryLocalStorage.ts
  public/app/core/history/RichHistoryRemoteStorage.test.ts
  public/app/core/history/RichHistoryRemoteStorage.ts
  public/app/core/history/RichHistoryStorage.ts
  public/app/core/history/richHistoryLocalStorageUtils.ts
  public/app/core/utils/richHistory.ts
  public/app/core/utils/richHistoryTypes.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

fix bug in Makefile enabling Go Race Detector in make run (#88687)
  Makefile
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Path conditions:
  pr-verify-drone: any of: scripts/drone/**, .drone.yml, .drone.star, but not: docs/**, *.md
  pr-verify-starlark: any of: scripts/drone/**, .drone.star, but not: docs/**, *.md
  pr-verify-storybook: any of: packages/grafana-ui/**, but not: docs/**, *.md
  pr-test-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-lint-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-test-backend: any of: Makefile, pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, docs/sources/setup-grafana/configure-grafana/feature-toggles/**, devenv/**, but not: docs/**, *.md
  pr-lint-backend: any of: .golangci.toml, Makefile, pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, .bingo/**, but not: docs/**, *.md
  pr-build-e2e: any file but: *.md, docs/**, latest.json
  end-to-end-tests-cloud-plugins-suite-azure: any of: pkg/tsdb/azuremonitor/**, public/app/plugins/datasource/azuremonitor/**, e2e/cloud-plugins-suite/azure-monitor.spec.ts
  build-storybook: any of: packages/grafana-ui/**
  pr-integration-tests: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, but not: docs/**, *.md
  pr-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  pr-shellcheck: any of: scripts/**/*.sh, but not: *.md, docs/**, latest.json
  main-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  main-test-frontend: any file but: *.md, docs/**, latest.json
  main-lint-frontend: any file but: *.md, docs/**, latest.json
  main-test-backend: any file but: *.md, docs/**, latest.json
  main-lint-backend: any file but: *.md, docs/**, latest.json
  main-verify-storybook: any file but: *.md, docs/**, latest.json
  main-build-e2e-publish: any file but: *.md, docs/**, latest.json
  store-storybook: any of: packages/grafana-ui/**
  release-canary-npm-packages: any of: packages/**
  main-integration-tests: any file but: *.md, docs/**, latest.json
  main-trigger-downstream: any file but: *.md, docs/**, latest.json
  main-notify: any file but: *.md, docs/**, latest.json
  rgm-main-prerelease: any file but: *.md, docs/**, packages/**/*.md, latest.json
