Repository grafana/grafana: changes, and which Drone steps are due for each by the changed paths.
All: pr-verify-drone, pr-verify-starlark, pr-verify-storybook, pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, end-to-end-tests-cloud-plugins-suite-azure, build-storybook, pr-integration-tests, pr-docs, pr-shellcheck, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

pr-verify-drone:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.20.3
    name: identify-runner
  - commands:
    - go build -o ./bin/build -ldflags '-extldflags -static' ./pkg/build/cmd
    depends_on: []
    environment:
      CGO_ENABLED: 0
    image: golang:1.23.1-alpine
    name: compile-build-cmd
  - commands:
  ...

pr-verify-starlark:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.20.3
    name: identify-runner
  - commands:
    - go install github.com/bazelbuild/buildtools/buildifier@latest
    - buildifier --lint=warn -mode=check -r .
    depends_on: []
    image: golang:1.23.1-alpine
    name: lint-starlark

pr-verify-storybook:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.20.3
    name: identify-runner
  - commands:
    - yarn install --immutable || yarn install --immutable
    depends_on: []
    image: node:20.9.0-alpine
    name: yarn-install
  - commands:
    - yarn storybook --quiet
    depends_on:
    - yarn-install
  ...

pr-test-frontend:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.20.3
    name: identify-runner
  - commands:
    - yarn install --immutable || yarn install --immutable
    depends_on: []
    image: node:20.9.0-alpine
    name: yarn-install
  - commands:
    - apk add --update git bash
    - yarn betterer ci
  ...

pr-lint-frontend:
  steps:
  - commands:
    - echo $(/usr/bin/github-app-external-token) > /github-app/token
    environment:
      GITHUB_APP_ID:
        from_secret: github-app-app-id
      GITHUB_APP_INSTALLATION_ID:
        from_secret: github-app-installation-id
      GITHUB_APP_PRIVATE_KEY:
  ...

pr-test-backend:
  steps:
  - commands:
    - echo $(/usr/bin/github-app-external-token) > /github-app/token
    environment:
      GITHUB_APP_ID:
        from_secret: github-app-app-id
      GITHUB_APP_INSTALLATION_ID:
        from_secret: github-app-installation-id
      GITHUB_APP_PRIVATE_KEY:
  ...

pr-lint-backend:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.20.3
    name: identify-runner
  - commands:
    - go build -o ./bin/build -ldflags '-extldflags -static' ./pkg/build/cmd
    depends_on: []
    environment:
      CGO_ENABLED: 0
    image: golang:1.23.1-alpine
    name: compile-build-cmd
  - commands:
  ...

pr-build-e2e:
  steps:
  - commands:
    - echo $(/usr/bin/github-app-external-token) > /github-app/token
    environment:
      GITHUB_APP_ID:
        from_secret: github-app-app-id
      GITHUB_APP_INSTALLATION_ID:
        from_secret: github-app-installation-id
      GITHUB_APP_PRIVATE_KEY:
  ...

end-to-end-tests-cloud-plugins-suite-azure:
  commands:
  - GITHUB_TOKEN=$(cat /github-app/token)
  - cd /
  - ./cpp-e2e/scripts/ci-run.sh azure ${DRONE_SOURCE_BRANCH}
  depends_on:
  - grafana-server
  - github-app-generate-token
  environment:
    AZURE_SP_APP_ID:
      from_secret: azure_sp_app_id
    AZURE_SP_PASSWORD:
      from_secret: azure_sp_app_pw
  ...

Chore: Remove Form usage from notification policies (#81758)
  public/app/features/alerting/unified/components/notification-policies/EditDefaultPolicyForm.tsx
  public/app/features/alerting/unified/components/notification-policies/EditNotificationPolicyForm.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

QueryVariableEditor: Select a variable ds does not work (#83144)
  public/app/features/dashboard-scene/settings/variables/components/QueryVariableForm.test.tsx
  public/app/features/dashboard-scene/settings/variables/components/QueryVariableForm.tsx
  public/app/features/dashboard-scene/settings/variables/editors/QueryVariableEditor.tsx
  public/app/features/variables/query/QueryVariableEditor.test.tsx
  public/app/features/variables/query/QueryVariableEditor.tsx
  public/test/mocks/datasource_srv.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

CloudWatch: Add Firehose kms-related metrics (#83192)
  pkg/tsdb/cloudwatch/constants/metrics.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Dependencies(Dev): Add @types/eslint-scope (#83118)
  package.json
  yarn.lock
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

NestedFolderPicker: Seperate state from Browse Dashboards (#82672)
  public/app/core/components/NestedFolderPicker/NestedFolderPicker.test.tsx
  public/app/core/components/NestedFolderPicker/NestedFolderPicker.tsx
  public/app/core/components/NestedFolderPicker/useFoldersQuery.ts
  public/app/core/components/NestedFolderPicker/useTreeInteractions.ts
  public/app/features/browse-dashboards/api/browseDashboardsAPI.ts
  public/app/types/folders.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Yarn: Clean up PnP fragments (#83138)
  .gitignore
  .yarn/cache/tether-drop-https-3382d2649f-178c3afb88.zip
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

AuthProxy: Invalidate previous cached item for user when changes are made to any header (#81445)
  pkg/services/authn/clients/proxy.go
  pkg/services/authn/clients/proxy_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Public Dashboards: Disable email-sharing when there is no license (#80887)
  docs/sources/administration/enterprise-licensing/_index.md
  pkg/api/dashboard.go
  pkg/api/dashboard_test.go
  pkg/services/publicdashboards/api/api.go
  pkg/services/publicdashboards/api/common_test.go
  pkg/services/publicdashboards/api/query_test.go
  pkg/services/publicdashboards/models/models.go
  pkg/services/publicdashboards/service/common_test.go
  pkg/services/publicdashboards/service/query_test.go
  pkg/services/publicdashboards/service/service.go
  pkg/services/publicdashboards/service/service_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, pr-docs, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Run analysis steps only on `grafana/grafana` (#83185)
  .github/workflows/codeql-analysis.yml
  .github/workflows/pr-codeql-analysis-go.yml
  .github/workflows/pr-codeql-analysis-javascript.yml
  .github/workflows/pr-codeql-analysis-python.yml
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Alerting: Fix dashboard nav drawers disappearing (#82890)
  public/app/features/alerting/unified/integration/AlertRulesToolbarButton.tsx
  public/app/features/dashboard/components/DashNav/DashNav.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Allow build and release process for Zipkin plugin (#83116)
  .github/workflows/core-plugins-build-and-release.yml
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Alerting docs: fix broken link and apply the Writer toolkit guideline to other links (#83209)
  docs/sources/alerting/alerting-rules/create-mimir-loki-managed-recording-rule.md
  docs/sources/alerting/manage-notifications/images-in-notifications.md
  docs/sources/alerting/manage-notifications/template-notifications/using-go-templating-language.md
  docs/sources/alerting/set-up/migrating-alerts/_index.md
  docs/sources/alerting/set-up/migrating-alerts/legacy-alerting-deprecation.md
  docs/sources/alerting/set-up/provision-alerting-resources/file-provisioning/index.md
Due: pr-docs, main-docs

Navigation: Scroll the active menu item into view when menu is an overlay (#83212)
  public/app/core/components/AppChrome/MegaMenu/MegaMenuItem.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

MigrateToCloud: Add API interface for frontend (#83215)
  public/app/core/reducers/root.ts
  public/app/features/admin/migrate-to-cloud/MigrateToCloud.tsx
  public/app/features/admin/migrate-to-cloud/api.ts
  public/app/features/admin/migrate-to-cloud/fixtures/mswAPI.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

StateTimeline: Properly type tooltip prop, remove ts-ignore (#83189)
  public/app/core/components/TimelineChart/TimelineChart.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Monaco Editor: Load via ESM (#78261)
  .betterer.results
  e2e/utils/support/monaco.ts
  e2e/various-suite/exemplars.spec.ts
  e2e/various-suite/loki-editor.spec.ts
  e2e/various-suite/mysql.spec.ts
  e2e/various-suite/query-editor.spec.ts
  jest.config.js
  packages/grafana-data/src/monaco/languageRegistry.ts
  packages/grafana-runtime/src/utils/plugin.ts
  packages/grafana-ui/src/components/Monaco/CodeEditor.tsx
  packages/grafana-ui/src/components/Monaco/ReactMonacoEditor.tsx
  public/app/app.ts
  public/app/core/monacoEnv.ts
  public/app/features/alerting/unified/components/admin/AlertmanagerConfig.test.tsx
  public/app/features/plugins/loader/constants.ts
  public/app/features/plugins/loader/pluginLoader.mock.ts
  public/app/features/plugins/loader/sharedDependencies.ts
  public/app/features/plugins/loader/systemjsHooks.test.ts
  public/app/features/plugins/loader/systemjsHooks.ts
  public/app/plugins/datasource/azuremonitor/components/LogsQueryEditor/QueryField.tsx
  public/app/plugins/datasource/parca/QueryEditor/QueryEditor.test.tsx
  public/app/plugins/panel/nodeGraph/layout.worker.js
  public/app/plugins/panel/nodeGraph/layout.worker.utils.js
  public/lib/monaco-languages/kusto.ts
  public/test/mocks/monaco.ts
  public/test/mocks/workers.ts
  public/test/setupTests.ts
  scripts/webpack/webpack.common.js
  yarn.lock
Due: pr-verify-storybook, pr-test-frontend, pr-lint-frontend, pr-build-e2e, end-to-end-tests-cloud-plugins-suite-azure, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Alerting: Fix saving evaluation group. (#83188)
  public/app/features/alerting/unified/components/rule-editor/GrafanaEvaluationBehavior.tsx
  public/app/features/alerting/unified/state/actions.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Docs: update grafana fundamentals (#83075)
  docs/sources/tutorials/grafana-fundamentals/index.md
Due: pr-docs, main-docs

mysql: do not use unexported grafana-core config (#83062)
  pkg/services/pluginsintegration/plugins_integration_test.go
  pkg/tsdb/mysql/macros.go
  pkg/tsdb/mysql/macros_test.go
  pkg/tsdb/mysql/mysql.go
  pkg/tsdb/mysql/mysql_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Tempo: Remove trace to metrics feature toggle (#82884)
  docs/sources/datasources/jaeger/_index.md
  docs/sources/datasources/tempo/configure-tempo-data-source.md
  docs/sources/datasources/zipkin/_index.md
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.go
  pkg/services/featuremgmt/toggles_gen.json
  public/app/plugins/datasource/jaeger/configuration/ConfigEditor.tsx
  public/app/plugins/datasource/tempo/configuration/ConfigEditor.tsx
  public/app/plugins/datasource/zipkin/ConfigEditor.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, pr-docs, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Chore: Align usage of tsconfig in yarn workspaces to 1.3.0-rc1 (#83160)
  packages/grafana-data/package.json
  packages/grafana-e2e-selectors/package.json
  packages/grafana-e2e/package.json
  packages/grafana-flamegraph/package.json
  packages/grafana-plugin-configs/package.json
  packages/grafana-runtime/package.json
  packages/grafana-schema/package.json
  packages/grafana-ui/package.json
  plugins-bundled/internal/input-datasource/package.json
  yarn.lock
Due: pr-verify-storybook, pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Docs: update import troubleshoot dashboards links (#83124)
  docs/sources/dashboards/_index.md
  docs/sources/dashboards/create-reports/index.md
  docs/sources/dashboards/share-dashboards-panels/index.md
Due: pr-docs, main-docs

Chore: Bump Lerna 8.x.x (#83233)
  .drone.yml
  lerna.json
  package.json
  scripts/drone/steps/lib.star
  yarn.lock
Due: pr-verify-drone, pr-verify-starlark, pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

postgres: do not use unexported grafana-core config (#83241)
  pkg/tsdb/grafana-postgresql-datasource/postgres.go
  pkg/tsdb/grafana-postgresql-datasource/postgres_snapshot_test.go
  pkg/tsdb/grafana-postgresql-datasource/postgres_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Alerting: Basic support for time_intervals (#83216)
  go.mod
  go.sum
  pkg/services/ngalert/api/tooling/definitions/alertmanager.go
  pkg/services/ngalert/api/tooling/definitions/alertmanager_test.go
  pkg/services/ngalert/notifier/config.go
  pkg/services/ngalert/notifier/validation.go
  pkg/tests/api/alerting/api_alertmanager_configuration_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Chore: Allow self-serve for ssoSettingsApi feature toggle (#83140)
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.json
  pkg/services/featuremgmt/toggles_gen_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Docker: Add workaround for building on `arm64` (#83242)
  Dockerfile
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Alerting: Keep order of time and mute time intervals consistent (#83257)
  pkg/services/ngalert/api/tooling/definitions/alertmanager.go
  pkg/services/ngalert/api/tooling/definitions/alertmanager_test.go
  pkg/services/ngalert/notifier/config.go
  pkg/services/ngalert/notifier/validation.go
  pkg/tests/api/alerting/api_alertmanager_configuration_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Dashboard-Scene: View panel as table in edit mode (#83077)
  public/app/features/dashboard-scene/inspect/InspectJsonTab.test.tsx
  public/app/features/dashboard-scene/inspect/InspectJsonTab.tsx
  public/app/features/dashboard-scene/panel-edit/PanelDataPane/PanelDataAlertingTab.test.tsx
  public/app/features/dashboard-scene/panel-edit/PanelDataPane/PanelDataTransformationsTab.test.tsx
  public/app/features/dashboard-scene/panel-edit/PanelEditControls.tsx
  public/app/features/dashboard-scene/panel-edit/PanelEditor.tsx
  public/app/features/dashboard-scene/panel-edit/PanelEditorRenderer.tsx
  public/app/features/dashboard-scene/panel-edit/ShareDataProvider.tsx
  public/app/features/dashboard-scene/panel-edit/VizPanelManager.test.tsx
  public/app/features/dashboard-scene/panel-edit/VizPanelManager.tsx
  public/app/features/dashboard-scene/scene/DashboardControls.tsx
  public/app/features/dashboard-scene/utils/utils.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

DataTrails: Remove the adhoc filters label (#83237)
  public/app/features/trails/DataTrail.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Scenes: Render old snapshots (#82277)
  public/app/features/dashboard-scene/panel-edit/PanelDataPane/PanelDataAlertingTab.test.tsx
  public/app/features/dashboard-scene/serialization/transformSaveModelToScene.test.ts
  public/app/features/dashboard-scene/serialization/transformSaveModelToScene.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

[DOC] Tempo data source: fix broken link and clarify traces to profile (#83135)
  docs/sources/datasources/tempo/configure-tempo-data-source.md
  docs/sources/shared/datasources/tempo-traces-to-profiles.md
Due: pr-docs, main-docs

Alerting: Add Loki ASH tests checking proper rendering of timeline chart component (#83235)
  public/app/features/alerting/unified/components/rules/state-history/LokiStateHistory.test.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Table: Fix units showing in footer after reductions without units (#82081)
  packages/grafana-data/src/transformations/fieldReducer.ts
  packages/grafana-ui/src/components/Table/utils.ts
Due: pr-verify-storybook, pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Table Component: Improve text-wrapping behavior of cells (#82872)
  packages/grafana-ui/src/components/Table/styles.ts
Due: pr-verify-storybook, pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Chore: replace `react-popper` with `floating-ui` in time pickers (#82640)
  packages/grafana-ui/src/components/DateTimePickers/DateTimePicker/DateTimePicker.tsx
  packages/grafana-ui/src/components/DateTimePickers/RelativeTimeRangePicker/RelativeTimeRangePicker.tsx
Due: pr-verify-storybook, pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

fix(build): make python and gcc are needed for some yarn dependencies… (#83228)
  Dockerfile
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Alerting: Update swagger specs (#83260)
  pkg/services/ngalert/api/tooling/api.json
  pkg/services/ngalert/api/tooling/definitions/cortex-ruler.go
  pkg/services/ngalert/api/tooling/post.json
  pkg/services/ngalert/api/tooling/spec.json
  public/api-merged.json
  public/openapi3.json
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Box: add `direction` prop to `Box` (#83296)
  packages/grafana-ui/src/components/Layout/Box/Box.story.tsx
  packages/grafana-ui/src/components/Layout/Box/Box.tsx
  public/app/features/admin/migrate-to-cloud/EmptyState/CallToAction.tsx
  public/app/features/admin/migrate-to-cloud/EmptyState/InfoPaneLeft.tsx
  public/app/features/admin/migrate-to-cloud/EmptyState/InfoPaneRight.tsx
Due: pr-verify-storybook, pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

E2C: Add initial empty state (#83232)
  pkg/services/navtree/navtreeimpl/admin.go
  public/app/core/utils/navBarItem-translations.ts
  public/app/features/admin/migrate-to-cloud/EmptyState/CallToAction.tsx
  public/app/features/admin/migrate-to-cloud/EmptyState/EmptyState.tsx
  public/app/features/admin/migrate-to-cloud/EmptyState/InfoItem.tsx
  public/app/features/admin/migrate-to-cloud/EmptyState/InfoPaneLeft.tsx
  public/app/features/admin/migrate-to-cloud/EmptyState/InfoPaneRight.tsx
  public/app/features/admin/migrate-to-cloud/MigrateToCloud.tsx
  public/locales/en-US/grafana.json
  public/locales/pseudo-LOCALE/grafana.json
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Path conditions:
  pr-verify-drone: any of: scripts/drone/**, .drone.yml, .drone.star, but not: docs/**, *.md
  pr-verify-starlark: any of: scripts/drone/**, .drone.star, but not: docs/**, *.md
  pr-verify-storybook: any of: packages/grafana-ui/**, but not: docs/**, *.md
  pr-test-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-lint-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-test-backend: any of: Makefile, pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, docs/sources/setup-grafana/configure-grafana/feature-toggles/**, devenv/**, but not: docs/**, *.md
  pr-lint-backend: any of: .golangci.toml, Makefile, pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, .bingo/**, but not: docs/**, *.md
  pr-build-e2e: any file but: *.md, docs/**, latest.json
  end-to-end-tests-cloud-plugins-suite-azure: any of: pkg/tsdb/azuremonitor/**, public/app/plugins/datasource/azuremonitor/**, e2e/cloud-plugins-suite/azure-monitor.spec.ts
  build-storybook: any of: packages/grafana-ui/**
  pr-integration-tests: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, but not: docs/**, *.md
  pr-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  pr-shellcheck: any of: scripts/**/*.sh, but not: *.md, docs/**, latest.json
  main-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  main-test-frontend: any file but: *.md, docs/**, latest.json
  main-lint-frontend: any file but: *.md, docs/**, latest.json
  main-test-backend: any file but: *.md, docs/**, latest.json
  main-lint-backend: any file but: *.md, docs/**, latest.json
  main-verify-storybook: any file but: *.md, docs/**, latest.json
  main-build-e2e-publish: any file but: *.md, docs/**, latest.json
  store-storybook: any of: packages/grafana-ui/**
  release-canary-npm-packages: any of: packages/**
  main-integration-tests: any file but: *.md, docs/**, latest.json
  main-trigger-downstream: any file but: *.md, docs/**, latest.json
  main-notify: any file but: *.md, docs/**, latest.json
  rgm-main-prerelease: any file but: *.md, docs/**, packages/**/*.md, latest.json
