Repository grafana/grafana: changes, and which Drone steps are due for each by the changed paths.
All: pr-verify-drone, pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, pr-docs, main-docs, main-test-frontend, main-test-backend, main-build-e2e-publish, trigger-test-release, main-integration-tests, main-windows, notify-drone-changes, main-publish, main-notify

pr-verify-drone:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.15.6
    name: identify-runner
  - commands:
    - mkdir -p bin
    - curl -fL -o bin/grabpl https://grafana-downloads.storage.googleapis.com/grafana-build-pipeline/v3.0.5/grabpl
    - chmod +x bin/grabpl
    image: byrnedo/alpine-curl:0.1.8
  ...

pr-test-frontend:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.15.6
    name: identify-runner
  - commands:
    - mkdir -p bin
    - curl -fL -o bin/grabpl https://grafana-downloads.storage.googleapis.com/grafana-build-pipeline/v3.0.5/grabpl
    - chmod +x bin/grabpl
    image: byrnedo/alpine-curl:0.1.8
  ...

pr-test-backend:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.15.6
    name: identify-runner
  - commands:
    - mkdir -p bin
    - curl -fL -o bin/grabpl https://grafana-downloads.storage.googleapis.com/grafana-build-pipeline/v3.0.5/grabpl
    - chmod +x bin/grabpl
    image: byrnedo/alpine-curl:0.1.8
  ...

pr-build-e2e:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.15.6
    name: identify-runner
  - commands:
    - mkdir -p bin
    - curl -fL -o bin/grabpl https://grafana-downloads.storage.googleapis.com/grafana-build-pipeline/v3.0.5/grabpl
    - chmod +x bin/grabpl
    image: byrnedo/alpine-curl:0.1.8
  ...

pr-integration-tests:
  steps:
  - commands:
    - mkdir -p bin
    - curl -fL -o bin/grabpl https://grafana-downloads.storage.googleapis.com/grafana-build-pipeline/v3.0.5/grabpl
    - chmod +x bin/grabpl
    image: byrnedo/alpine-curl:0.1.8
    name: grabpl
  - commands:
  ...

pr-docs:
  steps:
  - commands:
    - mkdir -p bin
    - curl -fL -o bin/grabpl https://grafana-downloads.storage.googleapis.com/grafana-build-pipeline/v3.0.5/grabpl
    - chmod +x bin/grabpl
    image: byrnedo/alpine-curl:0.1.8
    name: grabpl
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.15.6
  ...

main-docs:
  steps:
  - commands:
    - mkdir -p bin
    - curl -fL -o bin/grabpl https://grafana-downloads.storage.googleapis.com/grafana-build-pipeline/v3.0.5/grabpl
    - chmod +x bin/grabpl
    image: byrnedo/alpine-curl:0.1.8
    name: grabpl
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.15.6
  ...

main-test-frontend:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.15.6
    name: identify-runner
  - commands:
    - mkdir -p bin
    - curl -fL -o bin/grabpl https://grafana-downloads.storage.googleapis.com/grafana-build-pipeline/v3.0.5/grabpl
    - chmod +x bin/grabpl
    image: byrnedo/alpine-curl:0.1.8
  ...

main-test-backend:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.15.6
    name: identify-runner
  - commands:
    - mkdir -p bin
    - curl -fL -o bin/grabpl https://grafana-downloads.storage.googleapis.com/grafana-build-pipeline/v3.0.5/grabpl
    - chmod +x bin/grabpl
    image: byrnedo/alpine-curl:0.1.8
  ...

Update image link
  docs/sources/explore/trace-integration.md
Due: pr-docs, main-docs

Update docs/sources/setup-grafana/configure-security/configure-authentication/enhanced-ldap/index.md
  docs/sources/setup-grafana/configure-security/configure-authentication/enhanced-ldap/index.md
Due: pr-docs, main-docs

makes prettier
  docs/sources/setup-grafana/configure-security/configure-authentication/enhanced-ldap/index.md
Due: pr-docs, main-docs

add feature toggle disableSSEDataplane
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  go.mod
  go.sum
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/expr/dataplane_test.go
  pkg/expr/nodes.go
  pkg/expr/service.go
  pkg/expr/service_test.go
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.go
Due: pr-test-frontend, pr-test-backend, pr-build-e2e, pr-integration-tests, pr-docs, main-docs, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

remove assertions and instead add generics
  public/app/plugins/datasource/prometheus/datasource.tsx
  public/app/plugins/datasource/prometheus/querycache/QueryCache.test.ts
  public/app/plugins/datasource/prometheus/querycache/QueryCache.ts
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

removes start server content from both topics; adds link to start server docs in Next steps
  docs/sources/setup-grafana/installation/redhat-rhel-fedora/index.md
  docs/sources/setup-grafana/installation/suse-opensuse/index.md
Due: pr-docs, main-docs

Apply suggestions from code review
  docs/sources/setup-grafana/configure-security/configure-authentication/enhanced-ldap/index.md
Due: pr-docs, main-docs

optimize imports
  public/app/plugins/datasource/prometheus/datasource.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

spell check
  docs/sources/whatsnew/whats-new-in-v9-5.md
Due: pr-docs, main-docs

Docs: Added note to contact Support (#65235)
  docs/sources/setup-grafana/configure-security/configure-authentication/enhanced-ldap/index.md
Due: pr-docs, main-docs

[v9.5.x] Docs: Added note to contact Support (#65959)
  docs/sources/setup-grafana/configure-security/configure-authentication/enhanced-ldap/index.md
Due: pr-docs, main-docs

[v9.4.x] Docs: Added note to contact Support (#65958)
  docs/sources/setup-grafana/configure-security/configure-authentication/enhanced-ldap/index.md
Due: pr-docs, main-docs

Test
  .betterer.results
  public/app/features/dashboard/state/DashboardModel.repeat.test.ts
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Row-repeats: Fix disappearing panel when viewed panel is refreshed (#58392)
  .betterer.results
  public/app/features/dashboard/state/DashboardModel.repeat.test.ts
  public/app/features/dashboard/state/DashboardModel.ts
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

some more refactor requiring for influx, initial influx imp
  public/app/plugins/datasource/influxdb/datasource.ts
  public/app/plugins/datasource/prometheus/datasource.tsx
  public/app/plugins/datasource/prometheus/language_utils.ts
  public/app/plugins/datasource/prometheus/querycache/QueryCache.test.ts
  public/app/plugins/datasource/prometheus/querycache/QueryCache.ts
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

refactor, delete extra stuff
  public/app/plugins/datasource/prometheus/datasource.tsx
  public/app/plugins/datasource/prometheus/querycache/QueryCache.ts
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Update docs/sources/dashboards/variables/add-template-variables/index.md
  docs/sources/dashboards/variables/add-template-variables/index.md
Due: pr-docs, main-docs

small change to trigger linting
  docs/sources/dashboards/variables/add-template-variables/index.md
Due: pr-docs, main-docs

remove unused xField
  packages/grafana-ui/src/components/GraphNG/GraphNG.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

baldm0mma/sql_datasource_update/ add altert
  public/app/features/plugins/sql/components/DatasetSelector.tsx
  public/app/features/plugins/sql/components/QueryEditor.tsx
  public/app/features/plugins/sql/components/QueryHeader.tsx
  public/app/plugins/datasource/mysql/MySqlDatasource.ts
  public/app/plugins/datasource/postgres/datasource.ts
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

POC of hardended JS (SES) as sandboxing mechanism for grafana plugins
  .betterer.results
  package.json
  public/app/features/plugins/plugin_loader.ts
  public/app/features/plugins/sandboxing.ts
  yarn.lock
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

time picker
  public/app/plugins/datasource/grafana/components/TimePickerInput.tsx
  public/app/plugins/datasource/grafana/components/TimeRegionsEditor.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

baldm0mma/sql_datasource_update/ update annos and add alerts and alert logic
  public/app/features/plugins/sql/components/QueryEditor.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

baldm0mma/sql_datasource_update/ update postgres nomenclature
  public/app/features/plugins/sql/components/DatasetSelector.tsx
  public/app/features/plugins/sql/components/QueryEditor.tsx
  public/app/features/plugins/sql/components/QueryHeader.tsx
  public/app/plugins/datasource/postgres/PostgresQueryEditor.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

update naming
  public/app/plugins/datasource/grafana/components/TimeRegionsEditor.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

more k8s
  pkg/services/store/entity/entity.pb.go
  pkg/services/store/entity/entity.proto
  pkg/services/store/entity/entity_grpc.pb.go
  pkg/services/store/entity/httpentitystore/service.go
  pkg/services/store/entity/json.go
  pkg/services/store/entity/json_test.go
  pkg/services/store/entity/sqlstash/sql_storage_server.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Service accounts: Fix service account role picker on reload of profile page (#65911)
  public/app/features/serviceaccounts/ServiceAccountPage.test.tsx
  public/app/features/serviceaccounts/ServiceAccountPage.tsx
  public/app/features/serviceaccounts/components/ServiceAccountProfile.tsx
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Plugins: Remove unnecessary CDN code (#65929)
  pkg/api/plugin_resource_test.go
  pkg/plugins/manager/loader/loader.go
  pkg/plugins/manager/loader/loader_test.go
  pkg/plugins/manager/manager_integration_test.go
Due: pr-test-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

chore: automatically add relevant items to dataviz / bi projects (#65882)
  .github/commands.json
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Rickywhitaker/verify repos update (#65739)
  scripts/verify-repo-update/verify-repos.sh
Due: pr-test-frontend, pr-build-e2e, main-test-frontend, main-test-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-publish, main-notify

Added default directory location
  docs/sources/alerting/set-up/provision-alerting-resources/file-provisioning/index.md
Due: pr-docs, main-docs

Docs: Remove broken images
  docs/sources/datasources/prometheus/query-editor/index.md
Due: pr-docs, main-docs

Path conditions:
  pr-verify-drone: any of: scripts/drone/**, .drone.yml, .drone.star, but not: docs/**, *.md
  pr-test-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-test-backend: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, but not: docs/**, *.md
  pr-build-e2e: any file but: *.md, docs/**, latest.json
  pr-integration-tests: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, but not: docs/**, *.md
  pr-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  main-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  main-test-frontend: any file but: *.md, docs/**, latest.json
  main-test-backend: any file but: *.md, docs/**, latest.json
  main-build-e2e-publish: any file but: *.md, docs/**, latest.json
  trigger-test-release: any of: .drone.yml, pkg/build/**
  main-integration-tests: any file but: *.md, docs/**, latest.json
  main-windows: any file but: *.md, docs/**, latest.json
  notify-drone-changes: any of: .drone.yml, but not: exclude
  main-publish: any file but: *.md, docs/**, latest.json
  main-notify: any file but: *.md, docs/**, latest.json
