Repository grafana/grafana: changes, and which Drone steps are due for each by the changed paths.
All: pr-verify-drone, pr-verify-starlark, pr-verify-storybook, pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, end-to-end-tests-cloud-plugins-suite-azure, build-storybook, pr-integration-tests, pr-docs, pr-shellcheck, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

pr-verify-drone:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.20.3
    name: identify-runner
  - commands:
    - go build -o ./bin/build -ldflags '-extldflags -static' ./pkg/build/cmd
    depends_on: []
    environment:
      CGO_ENABLED: 0
    image: golang:1.23.1-alpine
    name: compile-build-cmd
  - commands:
  ...

pr-verify-starlark:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.20.3
    name: identify-runner
  - commands:
    - go install github.com/bazelbuild/buildtools/buildifier@latest
    - buildifier --lint=warn -mode=check -r .
    depends_on: []
    image: golang:1.23.1-alpine
    name: lint-starlark

pr-verify-storybook:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.20.3
    name: identify-runner
  - commands:
    - yarn install --immutable || yarn install --immutable
    depends_on: []
    image: node:20.9.0-alpine
    name: yarn-install
  - commands:
    - yarn storybook --quiet
    depends_on:
    - yarn-install
  ...

pr-test-frontend:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.20.3
    name: identify-runner
  - commands:
    - yarn install --immutable || yarn install --immutable
    depends_on: []
    image: node:20.9.0-alpine
    name: yarn-install
  - commands:
    - apk add --update git bash
    - yarn betterer ci
  ...

pr-lint-frontend:
  steps:
  - commands:
    - echo $(/usr/bin/github-app-external-token) > /github-app/token
    environment:
      GITHUB_APP_ID:
        from_secret: github-app-app-id
      GITHUB_APP_INSTALLATION_ID:
        from_secret: github-app-installation-id
      GITHUB_APP_PRIVATE_KEY:
  ...

pr-test-backend:
  steps:
  - commands:
    - echo $(/usr/bin/github-app-external-token) > /github-app/token
    environment:
      GITHUB_APP_ID:
        from_secret: github-app-app-id
      GITHUB_APP_INSTALLATION_ID:
        from_secret: github-app-installation-id
      GITHUB_APP_PRIVATE_KEY:
  ...

pr-lint-backend:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.20.3
    name: identify-runner
  - commands:
    - go build -o ./bin/build -ldflags '-extldflags -static' ./pkg/build/cmd
    depends_on: []
    environment:
      CGO_ENABLED: 0
    image: golang:1.23.1-alpine
    name: compile-build-cmd
  - commands:
  ...

pr-build-e2e:
  steps:
  - commands:
    - echo $(/usr/bin/github-app-external-token) > /github-app/token
    environment:
      GITHUB_APP_ID:
        from_secret: github-app-app-id
      GITHUB_APP_INSTALLATION_ID:
        from_secret: github-app-installation-id
      GITHUB_APP_PRIVATE_KEY:
  ...

end-to-end-tests-cloud-plugins-suite-azure:
  commands:
  - GITHUB_TOKEN=$(cat /github-app/token)
  - cd /
  - ./cpp-e2e/scripts/ci-run.sh azure ${DRONE_SOURCE_BRANCH}
  depends_on:
  - grafana-server
  - github-app-generate-token
  environment:
    AZURE_SP_APP_ID:
      from_secret: azure_sp_app_id
    AZURE_SP_PASSWORD:
      from_secret: azure_sp_app_pw
  ...

Open context: move stopPropagation to the old panel code
  public/app/features/logs/components/LogRowMenuCell.tsx
  public/app/features/logs/utils.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

better argument parsing
  pkg/services/dashboards/service/dashboard_service.go
  pkg/services/dashboards/service/dashboard_service_test.go
  pkg/storage/unified/search/bleve_mappings_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Add and improve Edit page tests
  public/app/features/alerting/unified/group-details/GroupEditPage.test.tsx
  public/app/features/alerting/unified/group-details/GroupEditPage.tsx
  public/app/features/alerting/unified/mocks/server/configure.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

add row item changes
  public/app/features/dashboard-scene/scene/layout-rows/RowItem.tsx
  public/app/features/dashboard-scene/scene/layout-rows/RowItemMenu.tsx
  public/app/features/dashboard-scene/scene/layout-rows/RowItemRenderer.tsx
  public/app/features/dashboard-scene/scene/layout-rows/RowsLayoutManager.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

add tab item changes
  public/app/features/dashboard-scene/scene/layout-tabs/TabItem.tsx
  public/app/features/dashboard-scene/scene/layout-tabs/TabItemAffix.tsx
  public/app/features/dashboard-scene/scene/layout-tabs/TabItemRenderer.tsx
  public/app/features/dashboard-scene/scene/layout-tabs/TabItemSuffix.tsx
  public/app/features/dashboard-scene/scene/layout-tabs/TabsLayoutManager.tsx
  public/app/features/dashboard-scene/scene/layout-tabs/TabsLayoutManagerRenderer.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Split PrometheusMetricsBrowser into small components
  packages/grafana-prometheus/src/components/PromQueryField.tsx
  packages/grafana-prometheus/src/components/PrometheusMetricsBrowser.tsx
  packages/grafana-prometheus/src/components/metrics-browser/LabelSelector.tsx
  packages/grafana-prometheus/src/components/metrics-browser/MetricSelector.tsx
  packages/grafana-prometheus/src/components/metrics-browser/PrometheusMetricsBrowser.test.tsx
  packages/grafana-prometheus/src/components/metrics-browser/PrometheusMetricsBrowser.tsx
  packages/grafana-prometheus/src/components/metrics-browser/SelectorActions.tsx
  packages/grafana-prometheus/src/components/metrics-browser/ValueSelector.tsx
  packages/grafana-prometheus/src/components/metrics-browser/selectorBuilder.ts
  packages/grafana-prometheus/src/components/metrics-browser/styles.ts
  packages/grafana-prometheus/src/components/metrics-browser/types.ts
  packages/grafana-prometheus/src/index.ts
  packages/grafana-prometheus/src/language_provider.test.ts
  packages/grafana-prometheus/src/language_provider.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Try to avoid concurrency issues
  pkg/services/apiserver/service.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Alerting: Legacy rules paths for cortextool
  pkg/services/ngalert/api/authorization.go
  pkg/services/ngalert/api/authorization_test.go
  pkg/services/ngalert/api/generated_base_api_convert_prometheus.go
  pkg/services/ngalert/api/prometheus_conversion.go
  pkg/services/ngalert/api/tooling/api.json
  pkg/services/ngalert/api/tooling/definitions/convert_prometheus_api.go
  pkg/services/ngalert/api/tooling/post.json
  pkg/services/ngalert/api/tooling/spec.json
  pkg/tests/api/alerting/api_convert_prometheus_test.go
  pkg/tests/api/alerting/testing.go
  public/api-merged.json
  public/openapi3.json
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

rename Batch to Bulk
  pkg/cmd/grafana-cli/commands/datamigrations/to_unified_storage.go
  pkg/plugins/backendplugin/pluginextensionv2/rendererv2.pb.go
  pkg/plugins/backendplugin/pluginextensionv2/sanitizer.pb.go
  pkg/plugins/backendplugin/secretsmanagerplugin/secretsmanager.pb.go
  pkg/registry/apis/dashboard/legacy/client.go
  pkg/registry/apis/dashboard/legacy/migrate.go
  pkg/services/authz/proto/v1/extention.pb.go
  pkg/services/ngalert/store/proto/v1/alert_rule_state.pb.go
  pkg/storage/unified/apistore/store_test.go
  pkg/storage/unified/parquet/client.go
  pkg/storage/unified/parquet/reader.go
  pkg/storage/unified/parquet/writer.go
  pkg/storage/unified/resource/bulk.go
  pkg/storage/unified/resource/client.go
  pkg/storage/unified/resource/keys.go
  pkg/storage/unified/resource/resource.pb.go
  pkg/storage/unified/resource/resource.proto
  pkg/storage/unified/resource/resource_grpc.pb.go
  pkg/storage/unified/resource/server.go
  pkg/storage/unified/sql/bulk.go
  pkg/storage/unified/sql/bulk_test.go
  pkg/storage/unified/sql/service.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Fix format
  public/app/features/plugins/admin/components/VersionInstallButton.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

rename Batch to Bulk
  pkg/storage/unified/sql/backend.go
  pkg/storage/unified/sql/bulk.go
  pkg/storage/unified/sql/notifier.go
  pkg/storage/unified/sql/notifier_sql.go
  pkg/storage/unified/sql/notifier_sql_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

clean up
  public/app/features/dashboard-scene/edit-pane/DashboardEditableElement.tsx
  public/app/features/dashboard-scene/scene/layouts-shared/DashboardLayoutSelector.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

exclude viewer
  pkg/setting/setting_anonymous.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Dynamic dashboards: Repeat responsive grid items (#101291)
  packages/grafana-schema/src/schema/dashboard/v2alpha0/dashboard.schema.cue
  packages/grafana-schema/src/schema/dashboard/v2alpha0/types.gen.ts
  public/app/features/dashboard-scene/scene/layout-responsive-grid/ResponsiveGridItem.tsx
  public/app/features/dashboard-scene/scene/layout-responsive-grid/ResponsiveGridItemEditor.tsx
  public/app/features/dashboard-scene/scene/layout-responsive-grid/ResponsiveGridItemRenderer.tsx
  public/app/features/dashboard-scene/serialization/layoutSerializers/ResponsiveGridLayoutSerializer.ts
  public/locales/en-US/grafana.json
  public/locales/pseudo-LOCALE/grafana.json
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Dynamic dashboards: Add row repeat serialization/deserialization (#100826)
  public/app/features/dashboard-scene/serialization/layoutSerializers/RowsLayoutSerializer.test.ts
  public/app/features/dashboard-scene/serialization/layoutSerializers/RowsLayoutSerializer.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

have selectorBuilder unit tests
  packages/grafana-prometheus/src/components/metrics-browser/selectorBuilder.test.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Plugins: Fix update button behavior on downgrade (#101048)
  public/app/features/plugins/admin/components/InstallControls/InstallControlsButton.tsx
  public/app/features/plugins/admin/components/UpdateAllModal.tsx
  public/app/features/plugins/admin/components/VersionInstallButton.tsx
  public/app/features/plugins/admin/state/actions.ts
  public/app/features/plugins/admin/state/hooks.ts
  public/app/features/plugins/admin/types.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

rename Batch to Bulk
  pkg/registry/apis/dashboard/search_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Dashboard: Fix Hide Picker Settings hide TableView Button
  public/app/features/dashboard-scene/scene/DashboardControls.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Prevent wrong type conversion (#101349)
  pkg/registry/apis/folders/legacy_storage.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

move tests to new file
  packages/grafana-prometheus/src/components/metrics-browser/PrometheusMetricsBrowser.test.tsx
  packages/grafana-prometheus/src/components/metrics-browser/selectorBuilder.test.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

[CodeQL] Fix wrong type conversion (#101353)
  pkg/services/dashboardversion/dashverimpl/dashver.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Alerting: Fix exporting new rule with a new group (#101404)
  public/app/features/alerting/unified/components/rule-editor/alert-rule-form/ModifyExportRuleForm.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Alerting: Fix KeyValueMap input bug (#101367)
  .betterer.results
  public/app/features/alerting/unified/components/receivers/form/fields/KeyValueMapInput.tsx
  public/locales/en-US/grafana.json
  public/locales/pseudo-LOCALE/grafana.json
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

add some new tests
  packages/grafana-prometheus/src/components/metrics-browser/selectorBuilder.test.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

test something
  pkg/build/wire/internal/wire/wire.go
  pkg/build/wire/internal/wire/wire_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

lint
  packages/grafana-prometheus/src/components/metrics-browser/selectorBuilder.test.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

fix: Add struct with openapi annotations
  pkg/api/org_users.go
  public/api-merged.json
  public/openapi3.json
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

WIP: use scale distribution config when calcualting X axis
  public/app/core/components/TimeSeries/utils.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Add link from the Trace View to the Profiles App via Profiles for this span button dropdown
  packages/grafana-data/src/types/pluginExtensions.ts
  public/app/features/explore/Explore.tsx
  public/app/features/explore/TraceView/TraceView.test.tsx
  public/app/features/explore/TraceView/TraceView.tsx
  public/app/features/explore/TraceView/TraceViewContainer.tsx
  public/app/features/explore/TraceView/components/TraceTimelineViewer/SpanDetail/index.test.tsx
  public/app/features/explore/TraceView/components/TraceTimelineViewer/SpanDetail/index.tsx
  public/app/features/explore/TraceView/components/TraceTimelineViewer/SpanDetailRow.test.tsx
  public/app/features/explore/TraceView/components/TraceTimelineViewer/SpanDetailRow.tsx
  public/app/features/explore/TraceView/components/TraceTimelineViewer/VirtualizedTraceView.tsx
  public/app/features/explore/TraceView/components/TraceTimelineViewer/index.tsx
  public/app/plugins/panel/traces/TracesPanel.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

CI: Create the frontend test workflow in GHA (#101256)
  .github/CODEOWNERS
  .github/workflows/frontend-unit-tests.yml
  package.json
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

ci(renovate): when bumping storybook always update package.json so e2e ci step runs
  .github/renovate.json5
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Use enterprise imports for pro builds as well.
  pkg/extensions/enterprise_imports.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

feedback: data links prop consistency + json cell robustness
  packages/grafana-ui/src/components/Table/TableNG/Cells/DataLinksCell.tsx
  packages/grafana-ui/src/components/Table/TableNG/Cells/JSONCell.tsx
Due: pr-verify-storybook, pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

converters
  pkg/apis/dashboard/migration/conversion/conversion.go
  pkg/registry/apis/dashboard/register.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Fix tests
  public/app/features/explore/TraceView/components/TraceTimelineViewer/SpanDetail/index.test.tsx
  public/app/features/explore/TraceView/components/TraceTimelineViewer/SpanDetail/index.tsx
  public/app/features/explore/TraceView/components/TraceTimelineViewer/SpanDetailRow.test.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

CI: Update renovate storybook config (#101424)
  .github/renovate.json5
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Use enterprise imports for pro builds as well. (#101423)
  pkg/extensions/enterprise_imports.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Anon: Deprecation notice for Editor, Admin anonymous org role usage (#101411)
  pkg/setting/setting_anonymous.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Path conditions:
  pr-verify-drone: any of: scripts/drone/**, .drone.yml, .drone.star, but not: docs/**, *.md
  pr-verify-starlark: any of: scripts/drone/**, .drone.star, but not: docs/**, *.md
  pr-verify-storybook: any of: packages/grafana-ui/**, but not: docs/**, *.md
  pr-test-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-lint-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-test-backend: any of: Makefile, pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, docs/sources/setup-grafana/configure-grafana/feature-toggles/**, devenv/**, but not: docs/**, *.md
  pr-lint-backend: any of: .golangci.toml, Makefile, pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, .bingo/**, but not: docs/**, *.md
  pr-build-e2e: any file but: *.md, docs/**, latest.json
  end-to-end-tests-cloud-plugins-suite-azure: any of: pkg/tsdb/azuremonitor/**, public/app/plugins/datasource/azuremonitor/**, e2e/cloud-plugins-suite/azure-monitor.spec.ts
  build-storybook: any of: packages/grafana-ui/**
  pr-integration-tests: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, but not: docs/**, *.md
  pr-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  pr-shellcheck: any of: scripts/**/*.sh, but not: *.md, docs/**, latest.json
  main-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  main-test-frontend: any file but: *.md, docs/**, latest.json
  main-lint-frontend: any file but: *.md, docs/**, latest.json
  main-test-backend: any file but: *.md, docs/**, latest.json
  main-lint-backend: any file but: *.md, docs/**, latest.json
  main-verify-storybook: any file but: *.md, docs/**, latest.json
  main-build-e2e-publish: any file but: *.md, docs/**, latest.json
  store-storybook: any of: packages/grafana-ui/**
  release-canary-npm-packages: any of: packages/**
  main-integration-tests: any file but: *.md, docs/**, latest.json
  main-trigger-downstream: any file but: *.md, docs/**, latest.json
  main-notify: any file but: *.md, docs/**, latest.json
  rgm-main-prerelease: any file but: *.md, docs/**, packages/**/*.md, latest.json
