Repository grafana/grafana: changes, and which Drone steps are due for each by the changed paths.
All: pr-verify-drone, pr-verify-starlark, pr-verify-storybook, pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, end-to-end-tests-cloud-plugins-suite-azure, build-storybook, pr-integration-tests, pr-docs, pr-shellcheck, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

pr-verify-drone:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.20.3
    name: identify-runner
  - commands:
    - go build -o ./bin/build -ldflags '-extldflags -static' ./pkg/build/cmd
    depends_on: []
    environment:
      CGO_ENABLED: 0
    image: golang:1.23.1-alpine
    name: compile-build-cmd
  - commands:
  ...

pr-verify-starlark:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.20.3
    name: identify-runner
  - commands:
    - go install github.com/bazelbuild/buildtools/buildifier@latest
    - buildifier --lint=warn -mode=check -r .
    depends_on: []
    image: golang:1.23.1-alpine
    name: lint-starlark

pr-verify-storybook:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.20.3
    name: identify-runner
  - commands:
    - yarn install --immutable || yarn install --immutable
    depends_on: []
    image: node:22.11.0-alpine
    name: yarn-install
  - commands:
    - yarn storybook --quiet
    depends_on:
    - yarn-install
  ...

pr-test-frontend:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.20.3
    name: identify-runner
  - commands:
    - yarn install --immutable || yarn install --immutable
    depends_on: []
    image: node:22.11.0-alpine
    name: yarn-install
  - commands:
    - apk add --update git bash
    - yarn betterer ci
  ...

pr-lint-frontend:
  steps:
  - commands:
    - echo $(/usr/bin/github-app-external-token) > /github-app/token
    environment:
      GITHUB_APP_ID:
        from_secret: github-app-app-id
      GITHUB_APP_INSTALLATION_ID:
        from_secret: github-app-installation-id
      GITHUB_APP_PRIVATE_KEY:
  ...

pr-test-backend:
  steps:
  - commands:
    - echo $(/usr/bin/github-app-external-token) > /github-app/token
    environment:
      GITHUB_APP_ID:
        from_secret: github-app-app-id
      GITHUB_APP_INSTALLATION_ID:
        from_secret: github-app-installation-id
      GITHUB_APP_PRIVATE_KEY:
  ...

pr-lint-backend:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.20.3
    name: identify-runner
  - commands:
    - go build -o ./bin/build -ldflags '-extldflags -static' ./pkg/build/cmd
    depends_on: []
    environment:
      CGO_ENABLED: 0
    image: golang:1.23.1-alpine
    name: compile-build-cmd
  - commands:
  ...

pr-build-e2e:
  steps:
  - commands:
    - echo $(/usr/bin/github-app-external-token) > /github-app/token
    environment:
      GITHUB_APP_ID:
        from_secret: github-app-app-id
      GITHUB_APP_INSTALLATION_ID:
        from_secret: github-app-installation-id
      GITHUB_APP_PRIVATE_KEY:
  ...

end-to-end-tests-cloud-plugins-suite-azure:
  commands:
  - GITHUB_TOKEN=$(cat /github-app/token)
  - cd /
  - ./cpp-e2e/scripts/ci-run.sh azure ${DRONE_SOURCE_BRANCH}
  depends_on:
  - grafana-server
  - github-app-generate-token
  environment:
    AZURE_SP_APP_ID:
      from_secret: azure_sp_app_id
    AZURE_SP_PASSWORD:
      from_secret: azure_sp_app_pw
  ...

yarn dedupe
  yarn.lock
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

fix(provisioning): hide Read only badge from users who cannot edit
  public/app/core/components/NestedFolderPicker/FolderRepo.test.tsx
  public/app/core/components/NestedFolderPicker/FolderRepo.tsx
  public/app/features/browse-dashboards/BrowseDashboardsPage.tsx
  public/app/features/browse-dashboards/components/NameCell.tsx
  public/app/features/dashboard-scene/scene/DashboardScene.test.tsx
  public/app/features/dashboard-scene/scene/DashboardScene.tsx
  public/app/features/dashboard-scene/scene/NavToolbarActions.test.tsx
  public/app/features/dashboard-scene/scene/NavToolbarActions.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

error messages fixes
  public/app/plugins/panel/text/v2/mermaid.test.ts
  public/app/plugins/panel/text/v2/mermaid.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

more awaits
  public/app/features/dashboard-scene/saving/SaveDashboardDrawer.test.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

clean up
  public/app/features/dashboard-scene/scene/DashboardScene.test.tsx
  public/app/features/dashboard-scene/scene/DashboardScene.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

apply review suggestions
  public/app/features/notebook/embed/notebookConcurrency.test.ts
  public/app/features/notebook/pages/NotebookPageStateManager.ts
  public/app/features/notebook/scene/NotebookScene.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Add flask-bubbling icon
  packages/grafana-data/src/types/icon.ts
  public/img/icons/unicons/flask-bubbling.svg
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Alerting: Stop background polling and add pagination to alert groups page
  public/app/features/alerting/unified/AlertGroups.test.tsx
  public/app/features/alerting/unified/AlertGroups.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

initial quarterly updates
  docs/sources/datasources/tempo/_index.md
  docs/sources/datasources/tempo/configure-tempo-data-source/_index.md
  docs/sources/datasources/tempo/configure-tempo-data-source/additional-settings.md
  docs/sources/datasources/tempo/configure-tempo-data-source/configure-trace-to-logs.md
  docs/sources/datasources/tempo/configure-tempo-data-source/configure-trace-to-metrics.md
  docs/sources/datasources/tempo/configure-tempo-data-source/configure-trace-to-profiles.md
  docs/sources/datasources/tempo/configure-tempo-data-source/provision.md
  docs/sources/datasources/tempo/configure-tempo-data-source/trace-correlations.md
  docs/sources/datasources/tempo/query-editor/_index.md
  docs/sources/datasources/tempo/query-editor/traceql-editor.md
  docs/sources/datasources/tempo/query-editor/traceql-query-examples.md
  docs/sources/datasources/tempo/query-editor/traceql-search.md
  docs/sources/datasources/tempo/service-graph.md
  docs/sources/datasources/tempo/span-filters.md
  docs/sources/datasources/tempo/troubleshooting/index.md
Due: pr-docs, main-docs

permission edit
  public/app/core/components/NestedFolderPicker/FolderRepo.test.tsx
  public/app/core/components/NestedFolderPicker/FolderRepo.tsx
  public/app/core/components/NestedFolderPicker/NestedFolderPicker.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Dashboards/UI: make existing tests tolerate asynchronous rendering (#132304)
  packages/grafana-ui/src/components/FileDropzone/FileDropzone.test.tsx
  packages/grafana-ui/src/components/Forms/Field.test.tsx
  packages/grafana-ui/src/components/Forms/InlineField.test.tsx
  public/app/features/dashboard-scene/components/SuggestedDashboardsBanner.test.tsx
  public/app/features/dashboard-scene/panel-edit/PanelEditNext/QueryEditor/Sidebar/DraggableList/DraggableList.test.tsx
  public/app/features/dashboard-scene/saving/SaveDashboardDrawer.test.tsx
  public/app/features/dashboard-scene/scene/DashboardScene.test.tsx
  public/app/features/dashboard-scene/scene/DashboardSceneUrlSync.test.ts
  public/app/features/dashboard-scene/settings/variables/components/VariableMultiPropStaticOptionsForm.test.tsx
  public/app/features/dashboard-scene/sidebar/DashboardSidebarRenderer.test.tsx
  public/app/features/dashboard-scene/sidebar/DashboardSidebarSplitter.test.tsx
  public/app/features/dashboard-scene/sidebar/dashboard/DashboardAnnotationsList.test.tsx
  public/app/features/dashboard-scene/sidebar/dashboard/DashboardFiltersList.test.tsx
  public/app/features/dashboard-scene/sidebar/dashboard/DashboardLinksList.test.tsx
  public/app/features/dashboard-scene/sidebar/dashboard/DashboardVariablesList.test.tsx
  public/app/features/dashboard-scene/sidebar/outline/DashboardOutline.test.tsx
Due: pr-verify-storybook, pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

fix
  public/app/core/components/NestedFolderPicker/FolderRepo.tsx
  public/app/core/components/NestedFolderPicker/NestedFolderPicker.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

sync changes
  public/app/features/dashboard-scene/components/SuggestedDashboardsBanner.test.tsx
  public/app/features/dashboard-scene/panel-edit/PanelEditNext/QueryEditor/Sidebar/DraggableList/DraggableList.test.tsx
  public/app/features/dashboard-scene/saving/SaveDashboardDrawer.test.tsx
  public/app/features/dashboard-scene/scene/DashboardSceneUrlSync.test.ts
  public/app/features/dashboard-scene/sidebar/DashboardSidebarSplitter.test.tsx
  public/app/features/dashboard-scene/sidebar/dashboard/DashboardLinksList.test.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Move flag override load to context
  public/app/core/components/AppChrome/FeatureControl/FeatureControlButton.test.tsx
  public/app/core/components/AppChrome/FeatureControl/FeatureControlFlags.test.tsx
  public/app/core/components/AppChrome/FeatureControl/FeatureControlFlags.tsx
  public/app/core/components/AppChrome/FeatureControl/FeatureControlProvider.test.tsx
  public/app/core/components/AppChrome/FeatureControl/FeatureControlProvider.tsx
  public/app/core/components/AppChrome/FeatureControl/LazyFeatureControl.test.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Flamegraph: chevron-only expander, drop tree lines for alignment
  packages/grafana-flamegraph/src/CallTree/FlameGraphCallTreeContainer.tsx
  packages/grafana-flamegraph/src/CallTree/FunctionCellWithExpander.test.tsx
  packages/grafana-flamegraph/src/CallTree/FunctionCellWithExpander.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Address review: fix lint/typecheck, shared i18n null-time keys, Trend passthrough, add candlestick/status-history tests
  public/app/core/components/TimelineChart/utils.test.ts
  public/app/core/components/TimelineChart/utils.ts
  public/app/plugins/panel/candlestick/CandlestickPanel.smoke.test.tsx
  public/app/plugins/panel/candlestick/fields.test.ts
  public/app/plugins/panel/state-timeline/StateTimelinePanel.tsx
  public/app/plugins/panel/status-history/StatusHistoryPanel.test.tsx
  public/app/plugins/panel/timeseries/TimeSeriesPanel.tsx
  public/app/plugins/panel/timeseries/utils.test.ts
  public/app/plugins/panel/timeseries/utils.ts
  public/app/plugins/panel/trend/utils.ts
  public/locales/en-US/grafana.json
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Fix misspell lint: Productos->Products in long tag test
  pkg/services/tag/tagimpl/tag_value_width_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Scope index-existence queries by schema/table
  pkg/services/annotations/annotationsimpl/annotation_index_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

have get match the update
  public/app/features/dashboard-scene/mutation-api/README.md
  public/app/features/dashboard-scene/mutation-api/commands/commands.test.ts
  public/app/features/dashboard-scene/mutation-api/commands/getCrossDashboardVariables.test.ts
  public/app/features/dashboard-scene/mutation-api/commands/getCrossDashboardVariables.ts
  public/app/features/dashboard-scene/mutation-api/commands/getMetadataAnnotations.test.ts
  public/app/features/dashboard-scene/mutation-api/commands/getMetadataAnnotations.ts
  public/app/features/dashboard-scene/mutation-api/commands/registry.ts
  public/app/features/dashboard-scene/mutation-api/commands/schemas.test.ts
  public/app/features/dashboard-scene/mutation-api/commands/schemas.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Use bubbling icon when overrides active
  public/app/core/components/AppChrome/FeatureControl/FeatureControlButton.test.tsx
  public/app/core/components/AppChrome/FeatureControl/FeatureControlButton.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

support draft mode
  public/app/features/notebook/embed/NotebookView.test.tsx
  public/app/features/notebook/embed/NotebookView.tsx
  public/app/features/notebook/embed/NotebookViewLazy.tsx
  public/app/features/notebook/scene/NotebookScene.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

AuthN: keep the OAuth passthrough option name consistent
  pkg/services/authn/authn.go
  pkg/services/authn/clients/session.go
  pkg/services/authn/clients/session_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Router: Add a stub dskit service (#132232)
  .vscode/launch.json
  go.work.sum
  pkg/modules/dependencies.go
  pkg/registry/backgroundsvcs/adapter/dependencies.go
  pkg/registry/backgroundsvcs/background_services.go
  pkg/router/AGENTS.md
  pkg/router/dummy.go
  pkg/router/loader_factory.go
  pkg/router/service.go
  pkg/router/service_test.go
  pkg/server/bootstrap/wire/inject.go
  pkg/server/bootstrap/wire/register_oss.go
  pkg/server/bootstrap/wire/sets.go
  pkg/server/bootstrap/wire/wire_gen.go
  pkg/server/initialize_oss.go
  pkg/server/module_server.go
  pkg/server/routes_loader.go
  pkg/server/routes_loader_test.go
  pkg/server/wire.go
  pkg/server/wire_core.go
  pkg/services/apiserver/service.go
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.go
  pkg/services/featuremgmt/toggles_gen.json
  pkg/storage/unified/client.go
  pkg/storage/unified/client_test.go
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Use bubbling icon when preview assets active
  public/app/core/components/AppChrome/FeatureControl/FeatureControlButton.test.tsx
  public/app/core/components/AppChrome/FeatureControl/FeatureControlButton.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

initial commit
  pkg/router/AGENTS.md
  pkg/router/breaker_test.go
  pkg/router/discovery.go
  pkg/router/discovery_test.go
  pkg/router/dummy.go
  pkg/router/forward.go
  pkg/router/forward_test.go
  pkg/router/openapi_cache.go
  pkg/router/openapi_cache_test.go
  pkg/router/router.go
  pkg/router/router_test.go
  pkg/router/types.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

asyncify more tests
  packages/grafana-ui/src/components/DataLinks/DataLinksInlineEditor/DataLinksInlineEditor.test.tsx
  packages/grafana-ui/src/components/DataLinks/DataLinksInlineEditor/DataLinksInlineEditorBase.test.tsx
  packages/grafana-ui/src/components/DataLinks/DataLinksInlineEditor/DataLinksListItem.test.tsx
  packages/grafana-ui/src/components/DataLinks/DataLinksInlineEditor/DataLinksListItemBase.test.tsx
  public/app/core/components/OptionsUI/links.test.tsx
  public/app/features/alerting/unified/components/import-to-gma/steps/Step1AlertmanagerResources.test.tsx
  public/app/features/dashboard-scene/panel-edit/PanelEditNext/QueryEditor/Sidebar/DraggableList/DraggableList.test.tsx
  public/app/features/dashboard-scene/panel-edit/PanelEditNext/QueryEditor/Sidebar/QueriesAndTransformationsView.test.tsx
  public/app/features/dashboard-scene/saving/SaveProvisionedDashboardForm.test.tsx
  public/app/features/dashboard-scene/scene/layout-tabs/TabItemRenderer.test.tsx
  public/app/features/dashboard-scene/settings/variables/VariableEditableElement.test.tsx
  public/app/features/dashboard-scene/settings/variables/VariableTypeSelectionPane.test.tsx
  public/app/features/dashboard-scene/sidebar/DashboardSidebarRenderer.test.tsx
  public/app/features/dashboard-scene/sidebar/add-new/AddLink.test.tsx
  public/app/features/dashboard-scene/sidebar/dashboard/DashboardFiltersList.test.tsx
  public/app/features/dashboard-scene/sidebar/dashboard/DashboardLinksList.test.tsx
  scripts/webpack/statsFilter.ts
Due: pr-verify-storybook, pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Notifications: Don't stop sending emails after the first failure
  pkg/services/notifications/smtp.go
  pkg/services/notifications/smtp_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Pyroscope: Keep the flame graph focus on the same node when the data changes
  packages/grafana-flamegraph/src/FlameGraph/dataTransform.test.ts
  packages/grafana-flamegraph/src/FlameGraph/dataTransform.ts
  packages/grafana-flamegraph/src/FlameGraphContainer.focus.test.tsx
  packages/grafana-flamegraph/src/FlameGraphContainer.tsx
  packages/grafana-flamegraph/src/FlameGraphPane.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Pyroscope: Add onFocusChange to the flame graph
  packages/grafana-flamegraph/src/FlameGraphContainer.test.tsx
  packages/grafana-flamegraph/src/FlameGraphContainer.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Pyroscope: Mark flame graph nodes whose data is still loading
  packages/grafana-flamegraph/src/FlameGraph/FlameGraph.tsx
  packages/grafana-flamegraph/src/FlameGraph/FlameGraphCanvas.tsx
  packages/grafana-flamegraph/src/FlameGraphContainer.test.tsx
  packages/grafana-flamegraph/src/FlameGraphContainer.tsx
  packages/grafana-flamegraph/src/FlameGraphPane.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Pyroscope: Show how much self time the top table cannot attribute
  packages/grafana-flamegraph/src/TopTable/FlameGraphTopTableContainer.test.tsx
  packages/grafana-flamegraph/src/TopTable/FlameGraphTopTableContainer.tsx
  packages/grafana-flamegraph/src/constants.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Storage: Log only sent watch events
  pkg/storage/unified/resource/server.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

more asyncify
  public/app/core/components/OptionsUI/actions.test.tsx
  public/app/features/actions/ActionsInlineEditor.test.tsx
  public/app/features/dashboard-scene/scene/DashboardScene.test.tsx
  public/app/features/dashboard-scene/scene/layout-rows/RowItemRenderer.test.tsx
  public/app/features/dashboard-scene/settings/variables/components/VariableMultiPropStaticOptionsForm.test.tsx
  public/app/features/dashboard-scene/sidebar/dashboard/DashboardVariablesList.test.tsx
  public/app/features/dimensions/editors/ValueMappingsEditor/ValueMappingsEditorModal.test.tsx
  scripts/webpack/statsFilter.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

prettier
  public/app/features/dashboard-scene/components/SuggestedDashboardsBanner.tsx
  public/app/features/dashboard-scene/settings/variables/components/VariableMultiPropStaticOptionsForm.test.tsx
  public/app/features/dashboard-scene/sidebar/DashboardSidebar.tsx
  public/app/features/dashboard-scene/sidebar/dashboard/DashboardVariablesList.test.tsx
  public/app/features/dashboard-scene/sidebar/openDashboardCodePane.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

updated troubleshooting guidance to include Zendesk case content
  docs/sources/datasources/tempo/configure-tempo-data-source/configure-trace-to-logs.md
  docs/sources/datasources/tempo/troubleshooting/index.md
Due: pr-docs, main-docs

Tagging: widen tag value column to length 512 (#131393)
  pkg/services/sqlstore/migrations/tag_mig.go
  pkg/services/sqlstore/migrations/testdata/migration_ids.txt
  pkg/services/tag/tagimpl/tag_value_width_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

added one minor clarification
  docs/sources/datasources/tempo/troubleshooting/index.md
Due: pr-docs, main-docs

fix lint
  packages/grafana-ui/src/components/DataLinks/DataLinksInlineEditor/DataLinksInlineEditorBase.test.tsx
  packages/grafana-ui/src/components/DataLinks/DataLinksInlineEditor/DataLinksInlineEditorBase.tsx
  packages/grafana-ui/src/components/DataLinks/DataLinksInlineEditor/DataLinksListItemBase.tsx
  packages/grafana-ui/src/components/DragAndDrop/useDragAndDrop.tsx
  public/app/features/dashboard-scene/inspect/InspectJsonTab.test.tsx
  public/app/features/dashboard-scene/mutation-api/commands/applySpec.test.ts
  public/app/features/dashboard-scene/panel-edit/PanelDataPane/PanelDataAlertingTab.test.tsx
  public/app/features/dashboard-scene/panel-edit/PanelDataPane/PanelDataQueriesTab.test.tsx
  public/app/features/dashboard-scene/panel-edit/PanelDataPane/PanelDataTransformationsTab.test.tsx
  public/app/features/dashboard-scene/panel-edit/PanelEditor.test.ts
  public/app/features/dashboard-scene/panel-edit/PanelEditor.tsx
  public/app/features/dashboard-scene/panel-edit/PanelOptionsPane.test.tsx
  public/app/features/dashboard-scene/scene/DashboardDatasourceBehaviour.tsx
  public/app/features/dashboard-scene/scene/DashboardScene.test.tsx
  public/app/features/dashboard-scene/scene/UnconfiguredPanel.test.tsx
  public/app/features/dashboard-scene/scene/UnconfiguredPanel.tsx
  public/app/features/dashboard-scene/scene/layout-default/DefaultGridLayoutManager.test.tsx
  public/app/features/dashboard-scene/scene/setDashboardPanelContext.test.ts
  public/app/features/dashboard-scene/serialization/DashboardSceneSerializer.test.ts
  public/app/features/dashboard-scene/serialization/transformSaveModelSchemaV2ToScene.ts
  public/app/features/dashboard-scene/serialization/transformSaveModelToScene.ts
  public/app/features/dashboard-scene/settings/annotations/AnnotationSetEditableElement.tsx
  public/app/features/dashboard-scene/settings/links/LinkAddEditableElement.test.tsx
  public/app/features/dashboard-scene/settings/links/LinkAddEditableElement.tsx
  public/app/features/dashboard-scene/settings/links/LinkBasicOptions.test.tsx
  public/app/features/dashboard-scene/settings/variables/DashboardFiltersSet.tsx
  public/app/features/dashboard-scene/sidebar/DashboardSidebarRenderer.tsx
  public/app/features/dashboard-scene/sidebar/dashboard/DashboardAnnotationsList.tsx
  public/app/features/dashboard-scene/sidebar/dashboard/DashboardLinksList.test.tsx
  public/app/features/dashboard-scene/sidebar/dashboard/DashboardLinksList.tsx
  public/app/features/dashboard-scene/sidebar/dashboard/helpers.ts
  public/app/features/dashboard-scene/utils/DashboardModelCompatibilityWrapper.ts
  public/app/features/dashboard-scene/utils/dashboardSceneGraph.test.ts
  public/app/features/dashboard-scene/utils/utils.ts
  public/app/features/dashboard/components/GenAI/LazyGenAIButtons.tsx
  public/app/features/plugins/components/restrictedGrafanaApis/dashboardMutation/commandRegistry.ts
  public/app/plugins/datasource/dashboard/datasource.ts
Due: pr-verify-storybook, pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Text: Make v2 editor respect transparent background option (#132127)
  packages/grafana-ui/src/components/CodeMirror/theme.ts
  packages/grafana-ui/src/unstable.ts
  public/app/plugins/panel/text/v2/TextNGCodeView.tsx
  public/app/plugins/panel/text/v2/TextNGPanel.tsx
  public/app/plugins/panel/text/v2/editor/TextNGEditor.tsx
  public/app/plugins/panel/text/v2/editor/editorLayout.ts
Due: pr-verify-storybook, pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

removed ref uris and fixed linter issues
  docs/sources/datasources/tempo/_index.md
  docs/sources/datasources/tempo/configure-tempo-data-source/provision.md
Due: pr-docs, main-docs

Path conditions:
  pr-verify-drone: any of: scripts/drone/**, .drone.yml, .drone.star, but not: docs/**, *.md
  pr-verify-starlark: any of: scripts/drone/**, .drone.star, but not: docs/**, *.md
  pr-verify-storybook: any of: packages/grafana-ui/**, but not: docs/**, *.md
  pr-test-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-lint-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-test-backend: any of: Makefile, pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, docs/sources/setup-grafana/configure-grafana/feature-toggles/**, devenv/**, but not: docs/**, *.md
  pr-lint-backend: any of: .golangci.toml, Makefile, pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, .bingo/**, but not: docs/**, *.md
  pr-build-e2e: any file but: *.md, docs/**, latest.json
  end-to-end-tests-cloud-plugins-suite-azure: any of: pkg/tsdb/azuremonitor/**, public/app/plugins/datasource/azuremonitor/**, e2e/cloud-plugins-suite/azure-monitor.spec.ts
  build-storybook: any of: packages/grafana-ui/**
  pr-integration-tests: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, but not: docs/**, *.md
  pr-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  pr-shellcheck: any of: scripts/**/*.sh, but not: *.md, docs/**, latest.json
  main-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  main-test-frontend: any file but: *.md, docs/**, latest.json
  main-lint-frontend: any file but: *.md, docs/**, latest.json
  main-test-backend: any file but: *.md, docs/**, latest.json
  main-lint-backend: any file but: *.md, docs/**, latest.json
  main-verify-storybook: any file but: *.md, docs/**, latest.json
  main-build-e2e-publish: any file but: *.md, docs/**, latest.json
  store-storybook: any of: packages/grafana-ui/**
  release-canary-npm-packages: any of: packages/**
  main-integration-tests: any file but: *.md, docs/**, latest.json
  main-trigger-downstream: any file but: *.md, docs/**, latest.json
  main-notify: any file but: *.md, docs/**, latest.json
  rgm-main-prerelease: any file but: *.md, docs/**, packages/**/*.md, latest.json
