Repository grafana/grafana: changes, and which Drone steps are due for each by the changed paths.
All: pr-verify-drone, pr-verify-starlark, pr-verify-storybook, pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, end-to-end-tests-cloud-plugins-suite-azure, build-storybook, pr-integration-tests, pr-docs, pr-shellcheck, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

pr-verify-drone:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.20.3
    name: identify-runner
  - commands:
    - go build -o ./bin/build -ldflags '-extldflags -static' ./pkg/build/cmd
    depends_on: []
    environment:
      CGO_ENABLED: 0
    image: golang:1.23.1-alpine
    name: compile-build-cmd
  - commands:
  ...

pr-verify-starlark:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.20.3
    name: identify-runner
  - commands:
    - go install github.com/bazelbuild/buildtools/buildifier@latest
    - buildifier --lint=warn -mode=check -r .
    depends_on: []
    image: golang:1.23.1-alpine
    name: lint-starlark

pr-verify-storybook:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.20.3
    name: identify-runner
  - commands:
    - yarn install --immutable || yarn install --immutable
    depends_on: []
    image: node:22.11.0-alpine
    name: yarn-install
  - commands:
    - yarn storybook --quiet
    depends_on:
    - yarn-install
  ...

pr-test-frontend:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.20.3
    name: identify-runner
  - commands:
    - yarn install --immutable || yarn install --immutable
    depends_on: []
    image: node:22.11.0-alpine
    name: yarn-install
  - commands:
    - apk add --update git bash
    - yarn betterer ci
  ...

pr-lint-frontend:
  steps:
  - commands:
    - echo $(/usr/bin/github-app-external-token) > /github-app/token
    environment:
      GITHUB_APP_ID:
        from_secret: github-app-app-id
      GITHUB_APP_INSTALLATION_ID:
        from_secret: github-app-installation-id
      GITHUB_APP_PRIVATE_KEY:
  ...

pr-test-backend:
  steps:
  - commands:
    - echo $(/usr/bin/github-app-external-token) > /github-app/token
    environment:
      GITHUB_APP_ID:
        from_secret: github-app-app-id
      GITHUB_APP_INSTALLATION_ID:
        from_secret: github-app-installation-id
      GITHUB_APP_PRIVATE_KEY:
  ...

pr-lint-backend:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.20.3
    name: identify-runner
  - commands:
    - go build -o ./bin/build -ldflags '-extldflags -static' ./pkg/build/cmd
    depends_on: []
    environment:
      CGO_ENABLED: 0
    image: golang:1.23.1-alpine
    name: compile-build-cmd
  - commands:
  ...

pr-build-e2e:
  steps:
  - commands:
    - echo $(/usr/bin/github-app-external-token) > /github-app/token
    environment:
      GITHUB_APP_ID:
        from_secret: github-app-app-id
      GITHUB_APP_INSTALLATION_ID:
        from_secret: github-app-installation-id
      GITHUB_APP_PRIVATE_KEY:
  ...

end-to-end-tests-cloud-plugins-suite-azure:
  commands:
  - GITHUB_TOKEN=$(cat /github-app/token)
  - cd /
  - ./cpp-e2e/scripts/ci-run.sh azure ${DRONE_SOURCE_BRANCH}
  depends_on:
  - grafana-server
  - github-app-generate-token
  environment:
    AZURE_SP_APP_ID:
      from_secret: azure_sp_app_id
    AZURE_SP_PASSWORD:
      from_secret: azure_sp_app_pw
  ...

Apply suggestions from code review
  docs/sources/shared/datasources/tempo-search-traceql.md
Due: pr-docs, main-docs

Azure Monitor: "Can not support requested time grain" bug (#122755)
  public/app/plugins/datasource/azuremonitor/components/MetricsQueryEditor/dataHooks.test.ts
  public/app/plugins/datasource/azuremonitor/components/MetricsQueryEditor/dataHooks.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, end-to-end-tests-cloud-plugins-suite-azure, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

unified-storage: return 400 on ReadResource when RV is too large (#122756)
  pkg/apiserver/storage/testing/store_tests.go
  pkg/storage/unified/apistore/store.go
  pkg/storage/unified/resource/storage_backend.go
  pkg/storage/unified/resource/storage_backend_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

TimeComparison: Add unit tests for panel-timerange utils
  public/app/features/dashboard-scene/scene/panel-timerange/utils.test.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Rename from gvr to crd
  pkg/server/wire.go
  pkg/server/wire_gen.go
  pkg/server/wireexts_oss.go
  pkg/services/authz/wireset.go
  pkg/services/authz/zanzana.go
  pkg/services/authz/zanzana/server/reconciler/namespace.go
  pkg/services/authz/zanzana/server/reconciler/namespace_test.go
  pkg/services/authz/zanzana/server/reconciler/reconciler.go
  pkg/services/authz/zanzana/server/reconciler/reconciler_test.go
  pkg/services/authz/zanzana/server/server.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

add errors to dek cache contract to ensure namespace mismatches are treated seriously and consistently
  pkg/registry/apis/secret/encryption/manager/manager.go
  pkg/registry/apis/secret/encryption/manager/manager_test.go
  pkg/registry/apis/secret/encryption/manager/oss_dek_cache.go
  pkg/registry/apis/secret/encryption/manager/oss_dek_cache_test.go
  pkg/registry/apis/secret/encryption/manager/test_helpers.go
  pkg/registry/apis/secret/encryption/secrets.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Fix lint
  pkg/services/authz/zanzana.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

TimeComparison: Add tests for Scene to V2 time range serialization
  public/app/features/dashboard-scene/serialization/transformSceneToSaveModelSchemaV2.test.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

simplify test
  pkg/registry/apis/secret/encryption/manager/manager_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

small cleanup
  pkg/registry/apis/secret/encryption/secrets.go
  pkg/setting/setting_secrets_manager.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

correct untrue statement
  pkg/registry/apis/secret/encryption/secrets.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

[main] Chore(deps): Upgrade rollup to >= 4.59.0 (#122764)
  packages/grafana-alerting/package.json
  packages/grafana-api-clients/package.json
  packages/grafana-data/package.json
  packages/grafana-e2e-selectors/package.json
  packages/grafana-flamegraph/package.json
  packages/grafana-i18n/package.json
  packages/grafana-o11y-ds-frontend/package.json
  packages/grafana-prometheus/package.json
  packages/grafana-runtime/package.json
  packages/grafana-schema/package.json
  packages/grafana-sql/package.json
  packages/grafana-ui/package.json
  yarn.lock
Due: pr-verify-storybook, pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

[release-12.4.4] Chore(deps): Upgrade rollup to >= 4.59.0 (#122765)
  packages/grafana-alerting/package.json
  packages/grafana-api-clients/package.json
  packages/grafana-data/package.json
  packages/grafana-e2e-selectors/package.json
  packages/grafana-flamegraph/package.json
  packages/grafana-i18n/package.json
  packages/grafana-prometheus/package.json
  packages/grafana-runtime/package.json
  packages/grafana-schema/package.json
  packages/grafana-ui/package.json
  yarn.lock
Due: pr-verify-storybook, pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

[release-12.3.7] Chore(deps): Upgrade rollup to >= 4.59.0 (#122766)
  packages/grafana-alerting/package.json
  packages/grafana-api-clients/package.json
  packages/grafana-data/package.json
  packages/grafana-e2e-selectors/package.json
  packages/grafana-flamegraph/package.json
  packages/grafana-i18n/package.json
  packages/grafana-prometheus/package.json
  packages/grafana-runtime/package.json
  packages/grafana-schema/package.json
  packages/grafana-ui/package.json
  yarn.lock
Due: pr-verify-storybook, pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

[release-12.2.9] Chore(deps): Upgrade rollup to >= 4.59.0 (#122767)
  packages/grafana-alerting/package.json
  packages/grafana-data/package.json
  packages/grafana-e2e-selectors/package.json
  packages/grafana-flamegraph/package.json
  packages/grafana-i18n/package.json
  packages/grafana-prometheus/package.json
  packages/grafana-runtime/package.json
  packages/grafana-schema/package.json
  packages/grafana-ui/package.json
  yarn.lock
Due: pr-verify-storybook, pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

[release-12.1.11] Chore(deps): Upgrade rollup to >= 4.59.0 (#122768)
  packages/grafana-alerting/package.json
  packages/grafana-data/package.json
  packages/grafana-e2e-selectors/package.json
  packages/grafana-flamegraph/package.json
  packages/grafana-i18n/package.json
  packages/grafana-prometheus/package.json
  packages/grafana-runtime/package.json
  packages/grafana-schema/package.json
  packages/grafana-ui/package.json
  yarn.lock
Due: pr-verify-storybook, pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

[release-12.4.4] Chore(deps): Upgrade undici to 7.25.0 (#122775)
  yarn.lock
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

[release-12.3.7] Chore(deps): Upgrade undici to 7.25.0 (#122776)
  yarn.lock
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

[release-12.1.11] Chore(deps): Upgrade undici to 6.25.0 (#122779)
  yarn.lock
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

[release-12.2.9] Chore(deps): Upgrade undici to 7.25.0 (#122777)
  yarn.lock
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

[release-11.6.15] Chore(deps): Upgrade undici to 6.25.0 (#122780)
  yarn.lock
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

document internals for readability
  public/app/features/dashboard-scene/scene/panel-timerange/utils.test.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

[release-11.6.15] Chore(deps): Upgrade rollup to >= 4.59.0 (#122769)
  packages/grafana-data/package.json
  packages/grafana-e2e-selectors/package.json
  packages/grafana-flamegraph/package.json
  packages/grafana-icons/package.json
  packages/grafana-prometheus/package.json
  packages/grafana-runtime/package.json
  packages/grafana-schema/package.json
  packages/grafana-ui/package.json
  yarn.lock
Due: pr-verify-storybook, pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

TimeComparison: Extend buildVizPanel tests for time range fields and hoverHeader
  public/app/features/dashboard-scene/serialization/layoutSerializers/utils.test.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

fix: ci lint and typecheck
  public/app/features/manage-dashboards/import/utils/inputs.test.ts
  public/app/features/manage-dashboards/import/utils/inputs.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

TimeRangePicker: Fix calendar reverting when clicking a date range
  packages/grafana-ui/src/components/DateTimePickers/TimeRangePicker/TimeRangeContent.test.tsx
  packages/grafana-ui/src/components/DateTimePickers/TimeRangePicker/TimeRangeContent.tsx
Due: pr-verify-storybook, pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

fix(dashboard): paste v1 panel clipboard into dynamic dashboard layouts
  public/app/features/dashboard-scene/scene/layouts-shared/paste.test.ts
  public/app/features/dashboard-scene/scene/layouts-shared/paste.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Heatmap: Improve e2e coverage
  apps/dashboard/pkg/migration/testdata/golden_checksums.json
  devenv/dev-dashboards/panel-heatmap/heatmap-x.json
  e2e-playwright/panels-suite/heatmap.spec.ts
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

add helper to get a client
  pkg/api/http_server.go
  pkg/api/playlist.go
  pkg/api/short_url.go
  pkg/registry/apis/preferences/register.go
  pkg/server/wire_gen.go
  pkg/services/apiserver/client.go
  pkg/services/apiserver/wireset.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Note for Pure Git
  docs/sources/as-code/observability-as-code/git-sync/git-sync-setup/_index.md
Due: pr-docs, main-docs

Chore(deps): Upgrade protobufjs to fix GHSA-xq3m-2v4x-88gg
  package.json
  yarn.lock
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Chore: Upgrade protobufjs to fix CVE
  package.json
  yarn.lock
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Catalog: Redirect marketplace plugin install to grafana.com (#122042)
  public/app/features/plugins/admin/components/InstallControls/InstallControlsButton.test.tsx
  public/app/features/plugins/admin/components/InstallControls/InstallControlsButton.tsx
  public/app/features/plugins/admin/helpers.test.ts
  public/app/features/plugins/admin/helpers.ts
  public/app/features/plugins/admin/types.ts
  public/locales/en-US/grafana.json
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Chore: Upgrade protobufjs to fix CVE
  yarn.lock
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Edit
  docs/sources/as-code/observability-as-code/git-sync/git-sync-setup/_index.md
Due: pr-docs, main-docs

Path conditions:
  pr-verify-drone: any of: scripts/drone/**, .drone.yml, .drone.star, but not: docs/**, *.md
  pr-verify-starlark: any of: scripts/drone/**, .drone.star, but not: docs/**, *.md
  pr-verify-storybook: any of: packages/grafana-ui/**, but not: docs/**, *.md
  pr-test-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-lint-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-test-backend: any of: Makefile, pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, docs/sources/setup-grafana/configure-grafana/feature-toggles/**, devenv/**, but not: docs/**, *.md
  pr-lint-backend: any of: .golangci.toml, Makefile, pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, .bingo/**, but not: docs/**, *.md
  pr-build-e2e: any file but: *.md, docs/**, latest.json
  end-to-end-tests-cloud-plugins-suite-azure: any of: pkg/tsdb/azuremonitor/**, public/app/plugins/datasource/azuremonitor/**, e2e/cloud-plugins-suite/azure-monitor.spec.ts
  build-storybook: any of: packages/grafana-ui/**
  pr-integration-tests: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, but not: docs/**, *.md
  pr-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  pr-shellcheck: any of: scripts/**/*.sh, but not: *.md, docs/**, latest.json
  main-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  main-test-frontend: any file but: *.md, docs/**, latest.json
  main-lint-frontend: any file but: *.md, docs/**, latest.json
  main-test-backend: any file but: *.md, docs/**, latest.json
  main-lint-backend: any file but: *.md, docs/**, latest.json
  main-verify-storybook: any file but: *.md, docs/**, latest.json
  main-build-e2e-publish: any file but: *.md, docs/**, latest.json
  store-storybook: any of: packages/grafana-ui/**
  release-canary-npm-packages: any of: packages/**
  main-integration-tests: any file but: *.md, docs/**, latest.json
  main-trigger-downstream: any file but: *.md, docs/**, latest.json
  main-notify: any file but: *.md, docs/**, latest.json
  rgm-main-prerelease: any file but: *.md, docs/**, packages/**/*.md, latest.json
