Repository grafana/grafana: changes, and which Drone steps are due for each by the changed paths.
All: pr-verify-drone, pr-verify-starlark, pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, trigger-test-release, end-to-end-tests-cloud-plugins-suite-azure, build-storybook, pr-integration-tests, pr-docs, pr-shellcheck, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, store-storybook, main-integration-tests, main-windows, notify-drone-changes, main-trigger-downstream, main-notify

Path conditions:
  pr-verify-drone: any of: scripts/drone/**, .drone.yml, .drone.star, but not: docs/**, *.md
  pr-verify-starlark: any of: scripts/drone/**, .drone.star, but not: docs/**, *.md
  pr-test-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-lint-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-test-backend: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, but not: docs/**, *.md
  pr-lint-backend: any of: pkg/**, packaging/**, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, .bingo/**, but not: docs/**, *.md
  pr-build-e2e: any file but: *.md, docs/**, latest.json
  trigger-test-release: any of: .drone.yml, pkg/build/**
  end-to-end-tests-cloud-plugins-suite-azure: any of: pkg/tsdb/azuremonitor/**, public/app/plugins/datasource/azuremonitor/**, e2e/cloud-plugins-suite/azure-monitor.spec.ts
  build-storybook: any of: packages/grafana-ui/**
  pr-integration-tests: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, but not: docs/**, *.md
  pr-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  pr-shellcheck: any of: scripts/**/*.sh, but not: *.md, docs/**, latest.json
  main-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  main-test-frontend: any file but: *.md, docs/**, latest.json
  main-lint-frontend: any file but: *.md, docs/**, latest.json
  main-test-backend: any file but: *.md, docs/**, latest.json
  main-lint-backend: any file but: *.md, docs/**, latest.json
  main-build-e2e-publish: any file but: *.md, docs/**, latest.json
  store-storybook: any of: packages/grafana-ui/**
  main-integration-tests: any file but: *.md, docs/**, latest.json
  main-windows: any file but: *.md, docs/**, latest.json
  notify-drone-changes: any of: .drone.yml, but not: exclude
  main-trigger-downstream: any file but: *.md, docs/**, latest.json
  main-notify: any file but: *.md, docs/**, latest.json

Prometheus: Fix OperationEditor and mounting of components (#81656)
  public/app/plugins/datasource/prometheus/querybuilder/shared/OperationEditor.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Style tweaks around search field in metric select
  public/app/features/trails/MetricSelectScene.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Added table, removed note, and added note about options
  docs/sources/panels-visualizations/configure-thresholds/index.md
Due: pr-docs, main-docs

AuthZ: add headers for IP range AC checks for cloud data sources (#80208)
  pkg/services/pluginsintegration/clientmiddleware/grafana_request_id_header_middleware.go
  pkg/services/pluginsintegration/clientmiddleware/grafana_request_id_header_middleware_test.go
  pkg/services/pluginsintegration/pluginsintegration.go
  pkg/setting/setting.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

add a middleware that appens headers for IP range AC to data source proxy requests
  pkg/infra/httpclient/httpclientprovider/grafana_request_id_header_middleware.go
  pkg/infra/httpclient/httpclientprovider/http_client_provider.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Update betterer
  .betterer.results
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Update public/app/features/explore/Logs/LogsTableWrap.tsx
  public/app/features/explore/Logs/LogsTableWrap.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

add ui tests, move angularEditorLoader
  packages/grafana-e2e-selectors/src/selectors/pages.ts
  public/app/features/dashboard-scene/settings/AnnotationsEditView.test.tsx
  public/app/features/dashboard-scene/settings/annotations/AngularEditorLoader.tsx
  public/app/features/dashboard-scene/settings/annotations/AnnotationSettingsEdit.test.tsx
  public/app/features/dashboard-scene/settings/annotations/AnnotationSettingsEdit.tsx
  public/app/features/dashboard-scene/settings/annotations/AnnotationSettingsList.test.tsx
  public/app/features/dashboard-scene/settings/annotations/AnnotationSettingsList.tsx
  public/app/features/dashboard/components/AnnotationSettings/AnnotationSettingsEdit.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Chore: Remove Form usage from SharedPreferences.tsx (#81468)
  .betterer.results
  public/app/core/components/SharedPreferences/SharedPreferences.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

allow long frames for sql expressions
  pkg/expr/graph.go
  pkg/expr/nodes.go
  pkg/expr/service.go
  pkg/expr/sql/duckdb.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Logs: Table UI - Allow users to resize field selection section (#81201)
  public/app/features/explore/Logs/LogsColumnSearch.tsx
  public/app/features/explore/Logs/LogsTableWrap.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

DashboardScene: Action toolbar progress
  public/app/features/dashboard-scene/scene/DashboardControls.tsx
  public/app/features/dashboard-scene/scene/NavToolbarActions.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

fix escaping for mysql
  pkg/services/folder/folderimpl/sqlstore.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Updated table and removed bullet list
  docs/sources/panels-visualizations/configure-thresholds/index.md
Due: pr-docs, main-docs

K8s: Add basic query service (#80325)
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/api/api.go
  pkg/api/metrics.go
  pkg/apis/query/v0alpha1/doc.go
  pkg/apis/query/v0alpha1/query.go
  pkg/apis/query/v0alpha1/query_test.go
  pkg/apis/query/v0alpha1/register.go
  pkg/apis/query/v0alpha1/results.go
  pkg/apis/query/v0alpha1/types.go
  pkg/apis/query/v0alpha1/zz_generated.deepcopy.go
  pkg/apis/query/v0alpha1/zz_generated.defaults.go
  pkg/apis/query/v0alpha1/zz_generated.openapi.go
  pkg/apis/query/v0alpha1/zz_generated.openapi_violation_exceptions.list
  pkg/cmd/grafana/apiserver/server.go
  pkg/plugins/apiserver.go
  pkg/plugins/apiserver_test.go
  pkg/registry/apis/apis.go
  pkg/registry/apis/datasource/query.go
  pkg/registry/apis/datasource/query_test.go
  pkg/registry/apis/datasource/register.go
  pkg/registry/apis/datasource/sub_query.go
  pkg/registry/apis/query/parser.go
  pkg/registry/apis/query/plugins.go
  pkg/registry/apis/query/query.go
  pkg/registry/apis/query/register.go
  pkg/registry/apis/query/runner/direct.go
  pkg/registry/apis/query/runner/dummy.go
  pkg/registry/apis/wireset.go
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.go
  pkg/services/grafana-apiserver/service.go
  pkg/tests/apis/datasource/testdata_test.go
  pkg/tests/apis/example/example_test.go
  pkg/tests/apis/helper.go
  pkg/tests/apis/query/query_test.go
  pkg/tsdb/legacydata/conversions.go
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, pr-docs, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

fix Grafana managed nested folder editing of evaluation groups
  public/app/features/alerting/unified/components/expressions/util.test.ts
  public/app/features/alerting/unified/components/expressions/util.ts
  public/app/features/alerting/unified/components/rule-viewer/RuleViewer.v1.tsx
  public/app/features/alerting/unified/components/rule-viewer/v2/RuleViewer.v2.tsx
  public/app/features/alerting/unified/components/rules/EditRuleGroupModal.tsx
  public/app/features/alerting/unified/components/rules/RulesGroup.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

fix go to folder for nested folders
  public/app/features/alerting/unified/utils/misc.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Alerting: Fix inconsistent AM raw config when applied via sync vs API
  pkg/services/ngalert/notifier/alertmanager.go
  pkg/services/ngalert/notifier/status.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

separate interface for decoded namespace
  public/app/features/alerting/unified/components/expressions/util.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Alerting: Fix inconsistent AM raw config when applied via sync vs API (#81655)
  pkg/services/ngalert/notifier/alertmanager.go
  pkg/services/ngalert/notifier/status.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Fix temporary alert
  public/app/plugins/datasource/tempo/NativeSearch/NativeSearch.tsx
  public/app/plugins/datasource/tempo/NativeSearch/TagsField/TagsField.tsx
  public/app/plugins/datasource/tempo/SearchTraceQLEditor/SearchField.tsx
  public/app/plugins/datasource/tempo/SearchTraceQLEditor/TraceQLSearch.tsx
  public/app/plugins/datasource/tempo/traceql/TraceQLEditor.tsx
  public/app/plugins/datasource/tempo/useTemporaryState.ts
  public/app/plugins/datasource/tempo/useTimeoutState.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Chore: fix data race in (*pkg/setting/DynamicSection).Key
  pkg/setting/setting.go
  pkg/setting/setting_test.go
  pkg/util/osutil/osutil.go
  pkg/util/osutil/osutil_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

use json path for target objects
  go.mod
  go.sum
  pkg/apis/peakq/v0alpha1/types.go
  pkg/apis/peakq/v0alpha1/zz_generated.deepcopy.go
  pkg/apis/peakq/v0alpha1/zz_generated.openapi.go
  pkg/registry/apis/peakq/render.go
  pkg/registry/apis/peakq/render_examples.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Apply Ivana's PR https://github.com/grafana/grafana/pull/81656
  packages/grafana-prometheus/src/querybuilder/shared/OperationEditor.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

ReceiverGroup -> Receiver
  pkg/services/ngalert/api/api_provisioning_test.go
  pkg/services/ngalert/models/receiver_groups.go
  pkg/services/ngalert/models/receivers.go
  pkg/services/ngalert/ngalert.go
  pkg/services/ngalert/notifier/receiver_svc.go
  pkg/services/ngalert/notifier/receiver_svc_test.go
  pkg/services/ngalert/provisioning/contactpoints.go
  pkg/services/ngalert/provisioning/contactpoints_test.go
  pkg/services/provisioning/provisioning.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

hugeint converter
  pkg/expr/sql/converters.go
  pkg/expr/sql/duckdb.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

fix imports
  go.sum
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

cleanup
  pkg/setting/setting.go
  pkg/tsdb/cloudwatch/models/settings.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

fix tests
  pkg/tsdb/cloudwatch/annotation_query_test.go
  pkg/tsdb/cloudwatch/clients/metrics.go
  pkg/tsdb/cloudwatch/clients/metrics_test.go
  pkg/tsdb/cloudwatch/cloudwatch.go
  pkg/tsdb/cloudwatch/get_dimension_values_for_wildcards.go
  pkg/tsdb/cloudwatch/models/settings.go
  pkg/tsdb/cloudwatch/test_utils.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

actually fix tests
  pkg/tsdb/cloudwatch/cloudwatch_test.go
  pkg/tsdb/cloudwatch/get_dimension_values_for_wildcards_test.go
  pkg/tsdb/cloudwatch/time_series_query_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

update go.mod
  conf/defaults.ini
  conf/sample.ini
  go.mod
  go.sum
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

update grafana-aws-sdk (again) and rebase
  conf/defaults.ini
  conf/sample.ini
  go.mod
  pkg/plugins/config/config.go
  pkg/plugins/envvars/envvars.go
  pkg/plugins/envvars/envvars_test.go
  pkg/services/pluginsintegration/config/config.go
  pkg/setting/setting.go
  pkg/tsdb/cloudwatch/annotation_query_test.go
  pkg/tsdb/cloudwatch/cloudwatch.go
  pkg/tsdb/cloudwatch/cloudwatch_integration_test.go
  pkg/tsdb/cloudwatch/metric_find_query_test.go
  pkg/tsdb/cloudwatch/time_series_query_test.go
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

CloudWatch: remove dependencies on grafana/pkg/setting
  conf/defaults.ini
  conf/sample.ini
  go.mod
  pkg/plugins/config/config.go
  pkg/plugins/envvars/envvars.go
  pkg/plugins/envvars/envvars_test.go
  pkg/services/pluginsintegration/config/config.go
  pkg/services/pluginsintegration/plugins_integration_test.go
  pkg/setting/setting.go
  pkg/tsdb/cloudwatch/annotation_query_test.go
  pkg/tsdb/cloudwatch/clients/metrics.go
  pkg/tsdb/cloudwatch/clients/metrics_test.go
  pkg/tsdb/cloudwatch/cloudwatch.go
  pkg/tsdb/cloudwatch/cloudwatch_integration_test.go
  pkg/tsdb/cloudwatch/cloudwatch_test.go
  pkg/tsdb/cloudwatch/get_dimension_values_for_wildcards.go
  pkg/tsdb/cloudwatch/log_actions_test.go
  pkg/tsdb/cloudwatch/log_sync_query_test.go
  pkg/tsdb/cloudwatch/metric_data_input_builder_test.go
  pkg/tsdb/cloudwatch/metric_data_query_builder_test.go
  pkg/tsdb/cloudwatch/metric_find_query_test.go
  pkg/tsdb/cloudwatch/models/settings.go
  pkg/tsdb/cloudwatch/models/settings_test.go
  pkg/tsdb/cloudwatch/test_utils.go
  pkg/tsdb/cloudwatch/time_series_query_test.go
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Add test for nested fields in target
  pkg/registry/apis/peakq/render_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Apply jack's suggestions in this PR https://github.com/grafana/grafana/pull/77762
  packages/grafana-prometheus/LICENSE_APACHE2
  packages/grafana-prometheus/package.json
  packages/grafana-prometheus/rollup.config.ts
  yarn.lock
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

cleanup
  pkg/expr/sql/duckdb.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Apply Ivana's PR https://github.com/grafana/grafana/pull/81656
  public/app/plugins/datasource/prometheus/querybuilder/shared/OperationEditor.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

rename to dashboardsnapshot
  pkg/api/dashboard_snapshot.go
  pkg/apis/dashboardsnapshot/v0alpha1/doc.go
  pkg/apis/dashboardsnapshot/v0alpha1/register.go
  pkg/apis/dashboardsnapshot/v0alpha1/types.go
  pkg/apis/dashboardsnapshot/v0alpha1/zz_generated.deepcopy.go
  pkg/apis/dashboardsnapshot/v0alpha1/zz_generated.defaults.go
  pkg/apis/dashboardsnapshot/v0alpha1/zz_generated.openapi.go
  pkg/apis/dashboardsnapshot/v0alpha1/zz_generated.openapi_violation_exceptions.list
  pkg/apis/dashsnap/v0alpha1/doc.go
  pkg/apis/dashsnap/v0alpha1/zz_generated.openapi_violation_exceptions.list
  pkg/registry/apis/apis.go
  pkg/registry/apis/dashboardsnapshot/conversions.go
  pkg/registry/apis/dashboardsnapshot/exporter.go
  pkg/registry/apis/dashboardsnapshot/options_storage.go
  pkg/registry/apis/dashboardsnapshot/register.go
  pkg/registry/apis/dashboardsnapshot/sql_storage.go
  pkg/registry/apis/dashboardsnapshot/sub_body.go
  pkg/registry/apis/wireset.go
  pkg/services/dashboardsnapshots/database/database_test.go
  pkg/services/dashboardsnapshots/models.go
  pkg/services/dashboardsnapshots/service.go
  pkg/services/dashboardsnapshots/service/service_test.go
  pkg/tests/apis/dashboardsnapshot/snapshots_test.go
  public/app/features/dashboard/services/SnapshotSrv.ts
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

comment extensions for now
  pkg/expr/sql/duckdb.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify
