Repository grafana/grafana: changes, and which Drone steps are due for each by the changed paths.
All: pr-verify-drone, pr-verify-starlark, pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, trigger-test-release, end-to-end-tests-cloud-plugins-suite-azure, build-storybook, pr-integration-tests, pr-docs, pr-shellcheck, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, store-storybook, main-integration-tests, main-windows, notify-drone-changes, main-trigger-downstream, main-notify

Path conditions:
  pr-verify-drone: any of: scripts/drone/**, .drone.yml, .drone.star, but not: docs/**, *.md
  pr-verify-starlark: any of: scripts/drone/**, .drone.star, but not: docs/**, *.md
  pr-test-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-lint-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-test-backend: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, but not: docs/**, *.md
  pr-lint-backend: any of: pkg/**, packaging/**, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, .bingo/**, but not: docs/**, *.md
  pr-build-e2e: any file but: *.md, docs/**, latest.json
  trigger-test-release: any of: .drone.yml, pkg/build/**
  end-to-end-tests-cloud-plugins-suite-azure: any of: pkg/tsdb/azuremonitor/**, public/app/plugins/datasource/azuremonitor/**, e2e/cloud-plugins-suite/azure-monitor.spec.ts
  build-storybook: any of: packages/grafana-ui/**
  pr-integration-tests: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, but not: docs/**, *.md
  pr-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  pr-shellcheck: any of: scripts/**/*.sh, but not: *.md, docs/**, latest.json
  main-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  main-test-frontend: any file but: *.md, docs/**, latest.json
  main-lint-frontend: any file but: *.md, docs/**, latest.json
  main-test-backend: any file but: *.md, docs/**, latest.json
  main-lint-backend: any file but: *.md, docs/**, latest.json
  main-build-e2e-publish: any file but: *.md, docs/**, latest.json
  store-storybook: any of: packages/grafana-ui/**
  main-integration-tests: any file but: *.md, docs/**, latest.json
  main-windows: any file but: *.md, docs/**, latest.json
  notify-drone-changes: any of: .drone.yml, but not: exclude
  main-trigger-downstream: any file but: *.md, docs/**, latest.json
  main-notify: any file but: *.md, docs/**, latest.json

fix e2e tests
  e2e/datagrid-suite/datagrid-data-change.spec.ts
  e2e/datagrid-suite/datagrid-editing-features.spec.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

[v10.0.x] Alerting: Fix action buttons label and placement in several views following standard and being consistent with the rest of the ui (#67852)
  public/app/features/alerting/unified/RuleList.test.tsx
  public/app/features/alerting/unified/Silences.test.tsx
  public/app/features/alerting/unified/components/admin/ConfigEditor.tsx
  public/app/features/alerting/unified/components/mute-timings/MuteTimingForm.tsx
  public/app/features/alerting/unified/components/notification-policies/Modals.tsx
  public/app/features/alerting/unified/components/receivers/TemplateForm.tsx
  public/app/features/alerting/unified/components/receivers/form/ReceiverForm.tsx
  public/app/features/alerting/unified/components/rule-editor/AlertRuleForm.tsx
  public/app/features/alerting/unified/components/rule-editor/DashboardPicker.tsx
  public/app/features/alerting/unified/components/rules/EditRuleGroupModal.tsx
  public/app/features/alerting/unified/components/rules/RulesGroup.test.tsx
  public/app/features/alerting/unified/components/silences/SilencesEditor.tsx
  public/test/helpers/alertingRuleEditor.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

tweak comment
  public/app/features/explore/Explore.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

fixed merge conflict for backport
  docs/sources/dashboards/build-dashboards/create-dashboard/index.md
  docs/sources/getting-started/build-first-dashboard.md
Due: pr-docs, main-docs

Fix showing correct column header title
  public/app/plugins/panel/datagrid/state.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

review fixes
  packages/grafana-ui/src/components/Drawer/Drawer.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, store-storybook, main-integration-tests, main-windows, main-trigger-downstream, main-notify

[v9.3.x] docs: fix create dashboard steps (#67855)
  docs/sources/dashboards/build-dashboards/create-dashboard/index.md
  docs/sources/getting-started/build-first-dashboard.md
Due: pr-docs, main-docs

Link to config exemplars leads goes to top of page (#67687)
  docs/sources/fundamentals/exemplars/index.md
Due: pr-docs, main-docs

Prometheus: (Chore/Instrumentation) add trace spans for result processing
  pkg/tsdb/prometheus/querydata/response.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Use generated type from schema in backend
  pkg/tsdb/cloudmonitoring/cloudmonitoring.go
  pkg/tsdb/cloudmonitoring/cloudmonitoring_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

[v9.3.x] docs: Updates installation instruction for Debian/Ubuntu (#67777)
  docs/sources/administration/enterprise-licensing/_index.md
  docs/sources/administration/enterprise-licensing/activate-aws-marketplace-license/activate-license-on-eks/index.md
  docs/sources/administration/enterprise-licensing/activate-aws-marketplace-license/activate-license-on-instance-outside-aws/index.md
  docs/sources/setup-grafana/installation/windows/index.md
  docs/sources/setup-grafana/restart-grafana.md
  docs/sources/setup-grafana/start-restart-grafana.md
  docs/sources/shared/systemd/bind-net-capabilities.md
Due: pr-docs, main-docs

[v9.4.x] docs: Updates installation instruction for Debian/Ubuntu (#67776)
  docs/sources/administration/enterprise-licensing/_index.md
  docs/sources/administration/enterprise-licensing/activate-aws-marketplace-license/activate-license-on-eks/index.md
  docs/sources/administration/enterprise-licensing/activate-aws-marketplace-license/activate-license-on-instance-outside-aws/index.md
  docs/sources/setup-grafana/installation/debian/index.md
  docs/sources/setup-grafana/installation/windows/index.md
  docs/sources/setup-grafana/restart-grafana.md
  docs/sources/setup-grafana/start-restart-grafana.md
  docs/sources/shared/systemd/bind-net-capabilities.md
Due: pr-docs, main-docs

Append analytics identifier upon authenticate session
  pkg/services/contexthandler/contexthandler.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Add id and module upon syncing user to identity
  pkg/services/authn/authnimpl/sync/user_sync.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

horizontal gap of 24px between pageInfo and actions components
  public/app/core/components/Page/PageHeader.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Fix redirection
  public/app/features/org/UserInviteForm.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Fix to publishing criteria
  docs/sources/developers/plugins/publishing-and-signing-criteria.md
Due: pr-docs, main-docs

Doc fixes
  docs/sources/developers/plugins/migration-guide/angular-react/_index.md
  docs/sources/developers/plugins/publish-a-plugin.md
Due: pr-docs, main-docs

[v9.4.x] docs: updates windows/mac install topics (#67775)
  docs/sources/setup-grafana/installation/mac/index.md
  docs/sources/setup-grafana/installation/windows/index.md
Due: pr-docs, main-docs

Doc fix
  docs/sources/developers/plugins/publish-a-plugin.md
Due: pr-docs, main-docs

adds icon and text to the card if enabled in inifile
  public/app/features/auth-config/components/ProviderCard.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

docs: updates windows/mac install topics (#64740)
  docs/sources/setup-grafana/installation/mac/index.md
  docs/sources/setup-grafana/installation/windows/index.md
Due: pr-docs, main-docs

updated screenshots, links and some wording
  docs/sources/datasources/prometheus/query-editor/index.md
Due: pr-docs, main-docs

[Docs v9.3]: Manual backport - Link to config exemplars leads goes to top of page (#67687) (#67841)
  docs/sources/fundamentals/exemplars/index.md
Due: pr-docs, main-docs

[Docs v9.4x] Manual backport - Link to config exemplars leads goes to top of page (#67687) (#67856)
  docs/sources/fundamentals/exemplars/index.md
Due: pr-docs, main-docs

[Docs v9.5x] Backport 67687 to v9.5.x (#67857)
  docs/sources/fundamentals/exemplars/index.md
Due: pr-docs, main-docs

[v9.4.x] Docs/updates install landing page (#67774)
  docs/sources/setup-grafana/installation/_index.md
Due: pr-docs, main-docs

[v9.4.x] Docs: updates Grafana installation for Red Hat, Fedora, RHEL, SUSE, and OpenSUSE (#67773)
  docs/sources/setup-grafana/installation/redhat-rhel-fedora/index.md
  docs/sources/setup-grafana/installation/rpm/index.md
  docs/sources/setup-grafana/installation/suse-opensuse/index.md
  docs/sources/shared/upgrade/upgrade-common-tasks.md
Due: pr-docs, main-docs

[v9.4.x] docs: fix create dashboard steps (#67865)
  docs/sources/dashboards/build-dashboards/create-dashboard/index.md
  docs/sources/getting-started/build-first-dashboard.md
Due: pr-docs, main-docs

make drone
  .drone.yml
Due: pr-verify-drone, pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-build-e2e, trigger-test-release, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, notify-drone-changes, main-trigger-downstream, main-notify

Prettier
  docs/sources/developers/plugins/data-frames.md
  docs/sources/developers/plugins/package-a-plugin.md
  docs/sources/developers/plugins/publish-a-plugin.md
  docs/sources/developers/plugins/working-with-data-frames.md
Due: pr-docs, main-docs

align page Info value items
  public/app/features/datasources/components/useDataSourceInfo.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Elasticsearch: Fix processing of logs with not-recognized time format (#67767)
  devenv/docker/blocks/elastic/data/data.js
  pkg/tsdb/elasticsearch/client/search_request.go
  pkg/tsdb/elasticsearch/data_query.go
  pkg/tsdb/elasticsearch/response_parser.go
  pkg/tsdb/elasticsearch/response_parser_test.go
  pkg/tsdb/elasticsearch/testdata_request/logs.request.line1.json
  pkg/tsdb/elasticsearch/testdata_response/logs.a.golden.jsonc
  pkg/tsdb/elasticsearch/testdata_response/logs.response.json
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Grafana: Upgrades mysql images from 5.7 to 8 (#67604)
  .drone.yml
  devenv/docker/blocks/mysql/.env
  devenv/docker/blocks/mysql_tests/.env
  devenv/docker/blocks/mysql_tests/Dockerfile
  devenv/docker/ha-test-unified-alerting/docker-compose.yaml
  devenv/docker/ha_test/docker-compose.yaml
  scripts/drone/events/release.star
  scripts/drone/pipelines/integration_tests.star
  scripts/drone/services/services.star
  scripts/drone/steps/lib.star
Due: pr-verify-drone, pr-verify-starlark, pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, trigger-test-release, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, notify-drone-changes, main-trigger-downstream, main-notify

Prettier
  docs/sources/developers/plugins/add-anonymous-usage-reporting.md
  docs/sources/developers/plugins/add-authentication-for-data-source-plugins.md
  docs/sources/developers/plugins/add-distributed-tracing-for-backend-plugins.md
  docs/sources/developers/plugins/add-query-editor-help.md
  docs/sources/developers/plugins/add-support-for-explore-queries.md
  docs/sources/developers/plugins/add-support-for-variables.md
Due: pr-docs, main-docs

accept react node as page info label and add tooltip to Default item
  public/app/core/components/Page/types.ts
  public/app/features/datasources/components/useDataSourceInfo.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify
