Repository grafana/grafana: changes, and which Drone steps are due for each by the changed paths.
All: pr-verify-drone, pr-verify-starlark, pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, trigger-test-release, end-to-end-tests-cloud-plugins-suite-azure, build-storybook, pr-integration-tests, pr-docs, pr-shellcheck, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, store-storybook, main-integration-tests, main-windows, notify-drone-changes, main-trigger-downstream, main-notify

pr-verify-drone:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.17.1
    name: identify-runner
  - commands:
    - go build -o ./bin/build -ldflags '-extldflags -static' ./pkg/build/cmd
    depends_on: []
    environment:
      CGO_ENABLED: 0
    image: golang:1.20.1
    name: compile-build-cmd
  - commands:
  ...

pr-verify-starlark:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.17.1
    name: identify-runner
  - commands:
    - go build -o ./bin/build -ldflags '-extldflags -static' ./pkg/build/cmd
    depends_on: []
    environment:
      CGO_ENABLED: 0
    image: golang:1.20.1
    name: compile-build-cmd
  - commands:
  ...

pr-test-frontend:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.17.1
    name: identify-runner
  - commands:
    - mkdir -p bin
    - curl -fL -o bin/grabpl https://grafana-downloads.storage.googleapis.com/grafana-build-pipeline/v3.0.30/grabpl
    - chmod +x bin/grabpl
    image: byrnedo/alpine-curl:0.1.8
  ...

pr-lint-frontend:
  steps:
  - commands:
    - is_fork=$(curl "https://$GITHUB_TOKEN@api.github.com/repos/grafana/grafana/pulls/$DRONE_PULL_REQUEST" | jq .head.repo.fork)
    - if [ "$is_fork" != false ]; then return 1; fi
  ...

pr-test-backend:
  steps:
  - commands:
    - is_fork=$(curl "https://$GITHUB_TOKEN@api.github.com/repos/grafana/grafana/pulls/$DRONE_PULL_REQUEST" | jq .head.repo.fork)
    - if [ "$is_fork" != false ]; then return 1; fi
  ...

pr-lint-backend:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.17.1
    name: identify-runner
  - commands:
    - go build -o ./bin/build -ldflags '-extldflags -static' ./pkg/build/cmd
    depends_on: []
    environment:
      CGO_ENABLED: 0
    image: golang:1.20.1
    name: compile-build-cmd
  - commands:
  ...

pr-build-e2e:
  steps:
  - commands:
    - echo $DRONE_RUNNER_NAME
    image: alpine:3.17.1
    name: identify-runner
  - commands:
    - mkdir -p bin
    - curl -fL -o bin/grabpl https://grafana-downloads.storage.googleapis.com/grafana-build-pipeline/v3.0.30/grabpl
    - chmod +x bin/grabpl
    image: byrnedo/alpine-curl:0.1.8
  ...

trigger-test-release:
  commands:
  - git clone "https://$${GITHUB_TOKEN}@github.com/grafana/grafana-enterprise.git" --depth=1
  - cd grafana-enterprise
  - git fetch origin "refs/tags/*:refs/tags/*" --quiet
  - if git show-ref --tags $${TEST_TAG} --quiet; then git tag -d $${TEST_TAG} && git push --delete origin $${TEST_TAG}; fi
  ...

end-to-end-tests-cloud-plugins-suite-azure:
  commands:
  - cd /
  - ./cpp-e2e/scripts/ci-run.sh azure ${DRONE_SOURCE_BRANCH}
  depends_on:
  - grafana-server
  environment:
    AZURE_SP_APP_ID:
      from_secret: azure_sp_app_id
    AZURE_SP_PASSWORD:
      from_secret: azure_sp_app_pw
    AZURE_TENANT:
      from_secret: azure_tenant
    CYPRESS_CI: 'true'
  ...

notify-drone-changes:
  steps:
  - image: plugins/slack
    name: slack
    settings:
      channel: slack-webhooks-test
  ...

docs: added missing panel options to node graph docs (#91511)
  docs/sources/panels-visualizations/visualizations/node-graph/index.md
Due: pr-docs, main-docs

Plugins: add IRM plugin to "Alerts & IRM" left-hand navigation group (#91423)
  pkg/services/navtree/navtreeimpl/applinks.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

add Rel func to plugins.FS
  pkg/plugins/ifaces.go
  pkg/plugins/localfiles.go
  pkg/plugins/manager/fakes/fakes.go
  pkg/plugins/manager/loader/assetpath/assetpath.go
  pkg/plugins/manager/pipeline/bootstrap/factory.go
  pkg/plugins/manager/signature/manifest_test.go
  pkg/plugins/pluginscdn/pluginscdn.go
  pkg/plugins/test_utils.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

search listings
  pkg/services/accesscontrol/acimpl/accesscontrol.go
  pkg/services/authz/zanzana.go
  pkg/services/team/teamapi/api.go
  pkg/services/team/teamapi/team.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

move breaking change to action set feature toggle
  pkg/services/folder/folderimpl/folder.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

add feature check in folderimpl
  pkg/services/folder/folderimpl/folder.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Cloudwatch: Clear cached PDC transport when PDC is disabled (#91357)
  pkg/tsdb/cloudwatch/cloudwatch.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

migrate gf-form classes to emotion globals
  .betterer.results
  packages/grafana-ui/src/themes/GlobalStyles/forms.ts
  public/sass/_angular.scss
  public/sass/_grafana.scss
  public/sass/components/_gf-form.scss
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, store-storybook, main-integration-tests, main-windows, main-trigger-downstream, main-notify

send just the json template name in the integration config
  public/app/features/alerting/unified/components/receivers/form/fields/TemplateSelector.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

PR feedback
  public/app/features/alerting/unified/components/mute-timings/MuteTimingActionsButtons.tsx
  public/app/features/alerting/unified/components/mute-timings/MuteTimingForm.tsx
  public/app/features/alerting/unified/components/mute-timings/useMuteTimings.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

swap useAsync params
  public/app/features/alerting/unified/components/MenuItemPauseRule.tsx
  public/app/features/alerting/unified/components/rule-editor/alert-rule-form/AlertRuleForm.tsx
  public/app/features/alerting/unified/components/rule-viewer/DeleteModal.tsx
  public/app/features/alerting/unified/components/rules/EditRuleGroupModal.tsx
  public/app/features/alerting/unified/hooks/ruleGroup/useDeleteRuleFromGroup.test.tsx
  public/app/features/alerting/unified/hooks/ruleGroup/usePauseAlertRule.test.tsx
  public/app/features/alerting/unified/hooks/ruleGroup/useUpdateRuleGroup.test.tsx
  public/app/features/alerting/unified/hooks/useAsync.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

custom swagger applicaiton
  pkg/api/api.go
  pkg/api/dtos/index.go
  pkg/api/swagger.go
  pkg/api/webassets/webassets.go
  public/app/swagger.tsx
  public/app/swagger/SwaggerPage.tsx
  public/views/swagger.html
  scripts/webpack/webpack.common.js
  yarn.lock
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

update ldap config comments with TLS info
  conf/ldap.toml
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

reference json templates by name
  pkg/services/ngalert/notifier/alertmanager.go
  pkg/services/ngalert/notifier/config.go
  pkg/services/ngalert/provisioning/contactpoints.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

update tests
  pkg/plugins/manager/loader/assetpath/assetpath.go
  pkg/plugins/manager/loader/assetpath/assetpath_test.go
  pkg/services/pluginsintegration/loader/loader_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Update module.tsx
  public/app/plugins/panel/debug/module.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

🥺👉👈
  pkg/services/correlations/database.go
  pkg/services/sqlstore/migrator/dialect.go
  pkg/services/sqlstore/migrator/mysql_dialect.go
  pkg/services/sqlstore/migrator/postgres_dialect.go
  pkg/services/sqlstore/migrator/sqlite_dialect.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

add comment
  pkg/plugins/manager/loader/assetpath/assetpath.go
  pkg/plugins/manager/pipeline/bootstrap/factory.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Revert "🥺👉👈"
  pkg/services/correlations/database.go
  pkg/services/sqlstore/migrator/dialect.go
  pkg/services/sqlstore/migrator/mysql_dialect.go
  pkg/services/sqlstore/migrator/postgres_dialect.go
  pkg/services/sqlstore/migrator/sqlite_dialect.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Alerting: Swap useAsync return signature params (#91634)
  public/app/features/alerting/unified/components/MenuItemPauseRule.tsx
  public/app/features/alerting/unified/components/rule-editor/alert-rule-form/AlertRuleForm.tsx
  public/app/features/alerting/unified/components/rule-viewer/DeleteModal.tsx
  public/app/features/alerting/unified/components/rules/EditRuleGroupModal.tsx
  public/app/features/alerting/unified/hooks/ruleGroup/useDeleteRuleFromGroup.test.tsx
  public/app/features/alerting/unified/hooks/ruleGroup/usePauseAlertRule.test.tsx
  public/app/features/alerting/unified/hooks/ruleGroup/useUpdateRuleGroup.test.tsx
  public/app/features/alerting/unified/hooks/useAsync.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

E2C: Post success toast when migration finishes
  public/app/features/migrate-to-cloud/onprem/Page.tsx
  public/app/features/migrate-to-cloud/onprem/useNotifyOnSuccess.tsx
  public/locales/en-US/grafana.json
  public/locales/pseudo-LOCALE/grafana.json
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

update PR to account for new return signature
  public/app/features/alerting/unified/components/mute-timings/MuteTimingActionsButtons.tsx
  public/app/features/alerting/unified/components/mute-timings/MuteTimingForm.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

use TextLink component for consistency
  public/app/features/migrate-to-cloud/MigrateToCloud.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Added entries
  docs/sources/whatsnew/whats-new-in-v11-2.md
Due: pr-docs, main-docs

Fixed typo
  docs/sources/whatsnew/whats-new-in-v11-2.md
Due: pr-docs, main-docs

Add make task for executing go test over a set of files and piping to tparse
  Makefile
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

fix: revert extratag removed since it affects UI alignment
  public/app/features/gops/configuration-tracker/components/ConfigCard.tsx
  public/app/features/gops/configuration-tracker/components/ProgressBar.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Access Control: Make it possible to exclude role grants
  pkg/api/accesscontrol.go
  pkg/services/accesscontrol/models.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Add split view and basic APIs to extensions
  docs/sources/setup-grafana/configure-grafana/feature-toggles/index.md
  packages/grafana-data/src/types/featureToggles.gen.ts
  packages/grafana-data/src/types/pluginExtensions.ts
  packages/grafana-runtime/src/services/index.ts
  packages/grafana-runtime/src/services/pluginExtensions/usePluginExtensions.ts
  packages/grafana-ui/src/components/Dropdown/Dropdown.tsx
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.go
  pkg/services/featuremgmt/toggles_gen.json
  public/app/AppWrapper.tsx
  public/app/app.ts
  public/app/core/reducers/appSidecar.ts
  public/app/core/reducers/root.ts
  public/app/features/plugins/components/AppRootPage.tsx
  public/app/features/plugins/extensions/getPluginExtensions.ts
  public/app/features/plugins/extensions/usePluginExtensions.tsx
  public/app/features/plugins/extensions/utils.tsx
  public/app/features/plugins/utils.test.ts
  public/app/features/plugins/utils.ts
  public/app/features/query/components/QueryEditorRow.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, build-storybook, pr-integration-tests, pr-docs, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, store-storybook, main-integration-tests, main-windows, main-trigger-downstream, main-notify

wip
  public/app/features/canvas/elements/visualization.tsx
  public/app/features/dashboard/services/TimeSrv.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Add comments
  packages/grafana-data/src/types/pluginExtensions.ts
  packages/grafana-runtime/src/services/pluginExtensions/getPluginExtensions.ts
  public/app/AppWrapper.tsx
  public/app/core/reducers/appSidecar.ts
  public/app/features/plugins/extensions/usePluginExtensions.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

backend
  pkg/tsdb/tempo/trace.go
  pkg/tsdb/tempo/trace_transform.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

working
  public/app/features/canvas/elements/visualization.tsx
  public/app/features/dashboard/services/TimeSrv.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Vizards: Add list of panel type excludes
  public/app/features/canvas/elements/visualization.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Vizards: Add list of panel type excludes (#91651)
  public/app/features/canvas/elements/visualization.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

custom swagger applicaiton
  public/app/swagger/SwaggerPage.tsx
  public/app/swagger/wrapped.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Canvas: Viz time range sync and bug fix (#91652)
  public/app/features/canvas/elements/visualization.tsx
  public/app/features/dashboard/services/TimeSrv.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Live viz update
  public/app/plugins/panel/live/module.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Path conditions:
  pr-verify-drone: any of: scripts/drone/**, .drone.yml, .drone.star, but not: docs/**, *.md
  pr-verify-starlark: any of: scripts/drone/**, .drone.star, but not: docs/**, *.md
  pr-test-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-lint-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-test-backend: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, but not: docs/**, *.md
  pr-lint-backend: any of: pkg/**, packaging/**, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, .bingo/**, but not: docs/**, *.md
  pr-build-e2e: any file but: *.md, docs/**, latest.json
  trigger-test-release: any of: .drone.yml, pkg/build/**
  end-to-end-tests-cloud-plugins-suite-azure: any of: pkg/tsdb/azuremonitor/**, public/app/plugins/datasource/azuremonitor/**, e2e/cloud-plugins-suite/azure-monitor.spec.ts
  build-storybook: any of: packages/grafana-ui/**
  pr-integration-tests: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, but not: docs/**, *.md
  pr-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  pr-shellcheck: any of: scripts/**/*.sh, but not: *.md, docs/**, latest.json
  main-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  main-test-frontend: any file but: *.md, docs/**, latest.json
  main-lint-frontend: any file but: *.md, docs/**, latest.json
  main-test-backend: any file but: *.md, docs/**, latest.json
  main-lint-backend: any file but: *.md, docs/**, latest.json
  main-build-e2e-publish: any file but: *.md, docs/**, latest.json
  store-storybook: any of: packages/grafana-ui/**
  main-integration-tests: any file but: *.md, docs/**, latest.json
  main-windows: any file but: *.md, docs/**, latest.json
  notify-drone-changes: any of: .drone.yml, but not: exclude
  main-trigger-downstream: any file but: *.md, docs/**, latest.json
  main-notify: any file but: *.md, docs/**, latest.json
