Repository grafana/grafana: changes, and which Drone steps are due for each by the changed paths.
All: pr-verify-drone, pr-verify-starlark, pr-verify-storybook, pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, end-to-end-tests-cloud-plugins-suite-azure, build-storybook, pr-integration-tests, pr-docs, pr-shellcheck, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Path conditions:
  pr-verify-drone: any of: scripts/drone/**, .drone.yml, .drone.star, but not: docs/**, *.md
  pr-verify-starlark: any of: scripts/drone/**, .drone.star, but not: docs/**, *.md
  pr-verify-storybook: any of: packages/grafana-ui/**, but not: docs/**, *.md
  pr-test-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-lint-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-test-backend: any of: Makefile, pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, docs/sources/setup-grafana/configure-grafana/feature-toggles/**, devenv/**, but not: docs/**, *.md
  pr-lint-backend: any of: .golangci.toml, Makefile, pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, .bingo/**, but not: docs/**, *.md
  pr-build-e2e: any file but: *.md, docs/**, latest.json
  end-to-end-tests-cloud-plugins-suite-azure: any of: pkg/tsdb/azuremonitor/**, public/app/plugins/datasource/azuremonitor/**, e2e/cloud-plugins-suite/azure-monitor.spec.ts
  build-storybook: any of: packages/grafana-ui/**
  pr-integration-tests: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, but not: docs/**, *.md
  pr-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  pr-shellcheck: any of: scripts/**/*.sh, but not: *.md, docs/**, latest.json
  main-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  main-test-frontend: any file but: *.md, docs/**, latest.json
  main-lint-frontend: any file but: *.md, docs/**, latest.json
  main-test-backend: any file but: *.md, docs/**, latest.json
  main-lint-backend: any file but: *.md, docs/**, latest.json
  main-verify-storybook: any file but: *.md, docs/**, latest.json
  main-build-e2e-publish: any file but: *.md, docs/**, latest.json
  store-storybook: any of: packages/grafana-ui/**
  release-canary-npm-packages: any of: packages/**
  main-integration-tests: any file but: *.md, docs/**, latest.json
  main-trigger-downstream: any file but: *.md, docs/**, latest.json
  main-notify: any file but: *.md, docs/**, latest.json
  rgm-main-prerelease: any file but: *.md, docs/**, packages/**/*.md, latest.json

Search: build search-field registry inputs from one manifest list (#128595)
  pkg/storage/unified/resource/search_field_manifest.go
  pkg/storage/unified/resource/search_field_manifest_test.go
  pkg/storage/unified/search/options.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Dashboards: add VALIDATE_DASHBOARD mutation command
  public/app/features/dashboard-scene/mutation-api/README.md
  public/app/features/dashboard-scene/mutation-api/commands/registry.ts
  public/app/features/dashboard-scene/mutation-api/commands/schemas.ts
  public/app/features/dashboard-scene/mutation-api/commands/validateDashboard.test.ts
  public/app/features/dashboard-scene/mutation-api/commands/validateDashboard.ts
  public/app/features/dashboard-scene/validation/getDashboardValidationIssues.ts
  public/app/features/dashboard-wizard/validateGeneratedDashboard.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

prevent folderuid/ruleuid collisions
  pkg/services/authz/rbac/mapper.go
  pkg/services/authz/rbac/mapper_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Logs Table: Add support for displayName in the Field Selector component
  public/app/features/logs/components/fieldSelector/ActiveFields.tsx
  public/app/features/logs/components/fieldSelector/AvailableFields.tsx
  public/app/features/logs/components/fieldSelector/Field.tsx
  public/app/features/logs/components/fieldSelector/FieldSelector.tsx
  public/app/features/logs/components/fieldSelector/LogListFieldSelector.tsx
  public/app/features/logs/components/fieldSelector/LogsTableFieldSelector.tsx
  public/app/features/logs/components/fieldSelector/getFieldsWithStats.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

fix: address comments
  pkg/registry/apis/collections/migration_registrar.go
  pkg/registry/apis/dashboard/migration_registrar.go
  pkg/registry/apis/dashboard/snapshot/migration_registrar.go
  pkg/registry/apis/datasource/migration_registrar.go
  pkg/registry/apis/preferences/migration_registrar.go
  pkg/registry/apps/playlist/migration_registrar.go
  pkg/registry/apps/querycaching/migration_registrar.go
  pkg/registry/apps/shorturl/migration_registrar.go
  pkg/services/apiserver/appinstaller/server.go
  pkg/services/apiserver/appinstaller/server_test.go
  pkg/services/apiserver/builder/helper.go
  pkg/storage/legacysql/dualwrite/service.go
  pkg/storage/legacysql/dualwrite/service_test.go
  pkg/storage/legacysql/dualwrite/storage_mocks_test.go
  pkg/storage/legacysql/dualwrite/storage_service.go
  pkg/storage/legacysql/dualwrite/types.go
  pkg/storage/legacysql/dualwrite/validate_served_versions_test.go
  pkg/storage/unified/migrations/contract/migrations.go
  pkg/storage/unified/migrations/registry.go
  pkg/storage/unified/migrations/status_reader.go
  pkg/storage/unified/migrations/status_reader_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

A11y: Announce toast notifications via live region text content
  public/app/core/components/AppNotifications/AppNotificationList.test.tsx
  public/app/core/components/AppNotifications/AppNotificationList.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

refactor: join methods
  pkg/services/ngalert/provisioning/mute_timings.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

test: update
  pkg/services/apiserver/appinstaller/server_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Regression test
  public/app/plugins/panel/logstable/fieldSelector/buildColumnsWithMeta.test.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

refactor: server
  pkg/services/apiserver/appinstaller/server.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Remove logs
  public/app/features/logs/components/fieldSelector/FieldSelector.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Search: don't reuse indexes without resource versions (#128662)
  pkg/storage/unified/search/bleve.go
  pkg/storage/unified/search/bleve_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

refactor: server
  pkg/services/apiserver/appinstaller/server.go
  pkg/services/apiserver/appinstaller/server_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Logs Explore: pass props getFieldLinks to context modal (#128648)
  public/app/features/explore/Logs/Logs.tsx
  public/app/features/logs/components/panel/LogLineContext.links.test.tsx
  public/app/features/logs/components/panel/LogLineContext.tsx
  public/app/plugins/panel/logs/LogsPanel.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

fix: lint
  pkg/registry/apis/dashboard/snapshot/migration_registrar.go
  pkg/registry/apis/preferences/migration_registrar.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Search: fix misplaced test comment
  pkg/storage/unified/search/bleve_mappings_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

test(E2E): Address skipped tests (#128211)
  e2e-playwright/dashboard-new-layouts/dashboard-repeats-row-layout.spec.ts
  e2e-playwright/dashboard-new-layouts/dashboards-move-panel.spec.ts
  e2e-playwright/dashboard-new-layouts/dashboards-repeats-custom-grid.spec.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

fix: revert
  pkg/registry/apis/dashboard/legacy/sql_dashboards.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

feat: add an error modal when dealing with mute timings failure
  public/app/features/alerting/unified/components/ErrorModal.tsx
  public/app/features/alerting/unified/components/contact-points/components/Modals.tsx
  public/app/features/alerting/unified/components/mute-timings/MuteTimingActionsButtons.tsx
  public/app/features/alerting/unified/components/mute-timings/MuteTimingsTable.test.tsx
  public/app/features/alerting/unified/components/notification-policies/components/Modals.tsx
  public/app/features/alerting/unified/mocks/server/configure.ts
  public/locales/en-US/grafana.json
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

[release-13.1.1] Chore(deps): Upgrade websocket-driver to >= 0.7.5 (#128666)
  yarn.lock
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

[release-12.4.6] Chore(deps): Upgrade websocket-driver to >= 0.7.5 (#128668)
  yarn.lock
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

[release-12.3.9] Chore(deps): Upgrade websocket-driver to >= 0.7.5 (#128669)
  yarn.lock
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

[release-13.0.4] Chore(deps): Upgrade websocket-driver to >= 0.7.5 (#128667)
  yarn.lock
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Frontend: Add sessionStart, previousUrl and referrer to faro events metadata
  public/app/core/navigation/urlRewrite.test.ts
  public/app/core/navigation/urlRewrite.ts
  public/app/core/services/echo/backends/grafana-javascript-agent/GrafanaJavascriptAgentBackend.ts
  public/app/core/services/echo/backends/grafana-javascript-agent/faroPageMeta.test.ts
  public/app/core/services/echo/backends/grafana-javascript-agent/faroPageMeta.ts
  public/app/features/dashboard-scene/pages/DashboardScenePageStateManager.test.ts
  public/app/features/dashboard-scene/pages/DashboardScenePageStateManager.ts
  public/app/features/home/HomeRoute.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

feat: add a detailed error
  public/app/features/alerting/unified/components/mute-timings/MuteTimingsTable.test.tsx
  public/app/features/alerting/unified/utils/k8s/errors.test.ts
  public/app/features/alerting/unified/utils/k8s/errors.ts
  public/locales/en-US/grafana.json
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Search: restrict Bleve facets to facet-capable fields (#128670)
  pkg/registry/apis/dashboard/search.go
  pkg/registry/apis/dashboard/search_test.go
  pkg/storage/unified/resource/search_field_test.go
  pkg/storage/unified/resource/standard_search_fields.go
  pkg/storage/unified/search/bleve.go
  pkg/storage/unified/search/bleve_mappings.go
  pkg/storage/unified/search/bleve_mappings_internal_test.go
  pkg/storage/unified/search/bleve_mappings_test.go
  pkg/storage/unified/search/bleve_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Alerting: Fix premature resolution in e2e save() wait
  e2e-playwright/alerting-suite/pages/AlertRuleEditPage.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

feat(alerting): POC add Assistant investigation action to instance details
  public/app/features/alerting/unified/api/assistantApi.ts
  public/app/features/alerting/unified/triage/instance-details/InstanceDetailsDrawerTitle.tsx
  public/app/features/alerting/unified/triage/instance-details/StartInvestigationButton.tsx
  public/app/features/alerting/unified/types/pluginBridges.ts
  public/locales/en-US/grafana.json
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Dashboards: Fix timeCompare not surviving v1<->v2 provisioning conversion
  apps/dashboard/kinds/v2alpha1/dashboard_spec.cue
  apps/dashboard/pkg/apis/dashboard/v2alpha1/dashboard_spec.cue
  apps/dashboard/pkg/apis/dashboard/v2alpha1/dashboard_spec_gen.go
  apps/dashboard/pkg/apis/dashboard_manifest.go
  apps/dashboard/pkg/migration/conversion/testdata/golden_checksums.json
  apps/dashboard/pkg/migration/conversion/testdata/input/v1beta1.panel-conversions.json
  apps/dashboard/pkg/migration/conversion/v1_to_v2alpha1.go
  apps/dashboard/pkg/migration/conversion/v2alpha1_to_v1.go
  apps/dashboard/pkg/migration/conversion/v2alpha1_to_v2beta1.go
  apps/dashboard/pkg/migration/conversion/v2beta1_to_v2alpha1.go
  packages/grafana-openapi/src/apis/dashboard.grafana.app-v2alpha1.json
  packages/grafana-schema/src/schema/dashboard/v2alpha1/types.spec.gen.ts
  public/app/features/dashboard/api/ResponseTransformers.test.ts
  public/app/features/dashboard/api/ResponseTransformers.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Dashboards: Regenerate v2alpha1 openapi codegen for timeCompare
  apps/dashboard/pkg/apis/dashboard/v2alpha1/zz_generated.openapi.go
  pkg/tests/apis/openapi_snapshots/dashboard.grafana.app-v2alpha1.json
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Revert frontend changes, moving to separate PR
  public/app/features/dashboard/api/ResponseTransformers.test.ts
  public/app/features/dashboard/api/ResponseTransformers.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Tests: Query visible toasts by role, not text
  e2e-playwright/utils/dashboard-helpers.ts
  public/app/features/alerting/unified/NotificationPoliciesPage.test.tsx
  public/app/features/alerting/unified/components/folder-actions/DeleteModal.test.tsx
  public/app/features/alerting/unified/components/receivers/NewReceiverView.test.tsx
  public/app/features/alerting/unified/components/rule-editor/alert-rule-form/AlertRuleForm.test.tsx
  public/app/features/alerting/unified/group-details/GroupEditPage.test.tsx
  public/app/features/teams/TeamSettings.test.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Dashboards: Carry timeCompare through frontend v1<->v2 conversion
  public/app/features/dashboard/api/ResponseTransformers.test.ts
  public/app/features/dashboard/api/ResponseTransformers.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Provisioning: evaluate performance flag via OpenFeature like userAttribution
  apps/provisioning/pkg/jobs/validator.go
  apps/provisioning/pkg/jobs/validator_test.go
  pkg/operators/provisioning/jobs.go
  pkg/registry/apis/provisioning/jobs.go
  pkg/registry/apis/provisioning/jobs/perftest/worker.go
  pkg/registry/apis/provisioning/jobs/perftest/worker_test.go
  pkg/registry/apis/provisioning/register.go
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.json
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

Update
  public/app/features/dashboard-scene/panel-edit/getPanelFrameOptions.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

fix: support match logic
  pkg/storage/unified/migrations/status_reader.go
  pkg/storage/unified/migrations/status_reader_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

PanelChrome: Fix issues with panel header having normal sized inputs
  packages/grafana-ui/src/components/PanelChrome/PanelChrome.story.tsx
  packages/grafana-ui/src/components/PanelChrome/PanelChrome.tsx
Due: pr-verify-storybook, pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, store-storybook, release-canary-npm-packages, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

CommandPalette: extract row rendering into renderRow/renderRows
  public/app/features/commandPalette/KBarResults.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

CommandPalette: present search results as semantic ARIA groups
  public/app/features/commandPalette/KBarResults.test.tsx
  public/app/features/commandPalette/KBarResults.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease

fix: folder version
  pkg/registry/apis/dashboard/legacy/sql_dashboards.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-verify-storybook, main-build-e2e-publish, main-integration-tests, main-trigger-downstream, main-notify, rgm-main-prerelease
