Repository grafana/grafana: changes, and which Drone steps are due for each by the changed paths.
All: pr-verify-drone, pr-verify-starlark, pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, trigger-test-release, end-to-end-tests-cloud-plugins-suite-azure, build-storybook, pr-integration-tests, pr-docs, pr-shellcheck, main-docs, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, store-storybook, main-integration-tests, main-windows, notify-drone-changes, main-trigger-downstream, main-notify

Path conditions:
  pr-verify-drone: any of: scripts/drone/**, .drone.yml, .drone.star, but not: docs/**, *.md
  pr-verify-starlark: any of: scripts/drone/**, .drone.star, but not: docs/**, *.md
  pr-test-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-lint-frontend: any file but: docs/**, *.md, pkg/**, packaging/**, go.sum, go.mod
  pr-test-backend: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, but not: docs/**, *.md
  pr-lint-backend: any of: pkg/**, packaging/**, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, devenv/**, .bingo/**, but not: docs/**, *.md
  pr-build-e2e: any file but: *.md, docs/**, latest.json
  trigger-test-release: any of: .drone.yml, pkg/build/**
  end-to-end-tests-cloud-plugins-suite-azure: any of: pkg/tsdb/azuremonitor/**, public/app/plugins/datasource/azuremonitor/**, e2e/cloud-plugins-suite/azure-monitor.spec.ts
  build-storybook: any of: packages/grafana-ui/**
  pr-integration-tests: any of: pkg/**, packaging/**, .drone.yml, conf/**, go.sum, go.mod, public/app/plugins/**/plugin.json, but not: docs/**, *.md
  pr-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  pr-shellcheck: any of: scripts/**/*.sh, but not: *.md, docs/**, latest.json
  main-docs: any of: *.md, docs/**, packages/**/*.md, latest.json
  main-test-frontend: any file but: *.md, docs/**, latest.json
  main-lint-frontend: any file but: *.md, docs/**, latest.json
  main-test-backend: any file but: *.md, docs/**, latest.json
  main-lint-backend: any file but: *.md, docs/**, latest.json
  main-build-e2e-publish: any file but: *.md, docs/**, latest.json
  store-storybook: any of: packages/grafana-ui/**
  main-integration-tests: any file but: *.md, docs/**, latest.json
  main-windows: any file but: *.md, docs/**, latest.json
  notify-drone-changes: any of: .drone.yml, but not: exclude
  main-trigger-downstream: any file but: *.md, docs/**, latest.json
  main-notify: any file but: *.md, docs/**, latest.json

Refactor dual writer Create fn
  pkg/apiserver/rest/dualwriter-test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Add spies and first test for the dualwriter
  pkg/apiserver/rest/dualwriter-test.go
  pkg/apiserver/rest/spy_client.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Add tests for mode1
  pkg/apiserver/rest/dualwriter-test.go
  pkg/apiserver/rest/spy_client.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Docker: Do not run apk on non-alpine distros (#83361)
  Dockerfile
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Add switch for selecting DualWriter
  pkg/apiserver/rest/dualwriter.go
  pkg/registry/apis/dashboard/register.go
  pkg/registry/apis/folders/register.go
  pkg/registry/apis/playlist/register.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Alerting docs: note on images in notifications for cloud
  docs/sources/alerting/configure-notifications/template-notifications/images-in-notifications.md
Due: pr-docs, main-docs

convert telegram blog post to doc (#85231)
  docs/sources/alerting/configure-notifications/manage-contact-points/integrations/configure-slack.md
  docs/sources/alerting/configure-notifications/manage-contact-points/integrations/configure-telegram.md
Due: pr-docs, main-docs

Alerting docs: note on images in notifications for cloud (#85529)
  docs/sources/alerting/configure-notifications/template-notifications/images-in-notifications.md
Due: pr-docs, main-docs

postgres: fix the verify-ca problem
  pkg/tsdb/grafana-postgresql-datasource/postgres.go
  pkg/tsdb/grafana-postgresql-datasource/postgres_test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Docker: Fix missing go dependencies (#85441)
  Dockerfile
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Add feature toggle
  packages/grafana-data/src/types/featureToggles.gen.ts
  pkg/services/featuremgmt/registry.go
  pkg/services/featuremgmt/toggles_gen.csv
  pkg/services/featuremgmt/toggles_gen.go
  pkg/services/featuremgmt/toggles_gen.json
  public/app/plugins/datasource/cloudwatch/migrations/dashboardMigrations.ts
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Fix building issues
  packages/grafana-ui/src/components/Portal/Portal.tsx
  packages/grafana-ui/src/components/uPlot/plugins/TooltipPlugin2.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, store-storybook, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Add filters and group by variables by default to all new dashboards
  public/app/features/dashboard-scene/pages/DashboardScenePageStateManager.ts
  public/app/features/dashboard-scene/serialization/buildNewDashboardSaveModel.ts
  public/app/features/dashboard-scene/serialization/transformSaveModelToScene.test.ts
  public/app/features/dashboard/state/initDashboard.ts
  public/app/features/explore/extensions/AddToDashboard/addToDashboard.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

CI: Skip analysis steps if not needed
  .github/workflows/pr-codeql-analysis-go.yml
  .github/workflows/pr-codeql-analysis-javascript.yml
  .github/workflows/pr-codeql-analysis-python.yml
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

[v11.0.x] Implement autofit panels in Dashboards (#85524)
  package.json
  packages/grafana-ui/src/components/Portal/Portal.tsx
  packages/grafana-ui/src/components/uPlot/plugins/TooltipPlugin2.tsx
  public/app/features/dashboard-scene/embedding/EmbeddedDashboardTestPage.tsx
  public/app/features/dashboard-scene/scene/DashboardSceneUrlSync.test.ts
  public/app/features/dashboard-scene/scene/DashboardSceneUrlSync.ts
  yarn.lock
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, build-storybook, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, store-storybook, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Finish adding tests
  pkg/apiserver/rest/dualwriter-test.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

modalRef added
  public/app/features/dashboard-scene/sharing/ShareModal.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

CI: Skip analysis steps if not needed (#85532)
  .github/workflows/pr-codeql-analysis-go.yml
  .github/workflows/pr-codeql-analysis-javascript.yml
  .github/workflows/pr-codeql-analysis-python.yml
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

decode get
  go.work.sum
  pkg/services/cloudmigration/api/api.go
  pkg/services/cloudmigration/model.go
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Removed repetition
  docs/sources/panels-visualizations/visualizations/logs/index.md
Due: pr-docs, main-docs

Alerting docs: fix `docs/shared` API to render the current version (#85526)
  docs/sources/alerting/set-up/provision-alerting-resources/http-api-provisioning/_index.md
  docs/sources/developers/http_api/alerting_provisioning.md
Due: pr-docs, main-docs

Clarifying supported data info
  docs/sources/panels-visualizations/visualizations/xy-chart/index.md
Due: pr-docs, main-docs

DashboardScene: Detect changes when live is enabled from settings (#85409)
  package.json
  public/app/features/dashboard-scene/saving/DashboardSceneChangeTracker.ts
  public/app/features/dashboard-scene/scene/DashboardScene.test.tsx
  public/app/features/dashboard-scene/serialization/transformSaveModelToScene.ts
  yarn.lock
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

[v11.0.x] DashboardScene: Detect changes when live is enabled from settings (#85528)
  package.json
  public/app/features/dashboard-scene/saving/DashboardSceneChangeTracker.ts
  public/app/features/dashboard-scene/scene/DashboardScene.test.tsx
  public/app/features/dashboard-scene/serialization/transformSaveModelToScene.ts
  yarn.lock
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Docs: add YouTube video link and description (#85484)
  docs/sources/panels-visualizations/visualizations/logs/index.md
Due: pr-docs, main-docs

Scenes: Fix issue where unsaved changes prompt is shown when quickly adding panel to new dashboard (#85518)
  .betterer.results
  public/app/features/dashboard-scene/saving/DashboardPrompt.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

initial edits
  docs/sources/explore/metrics-explore.md
Due: pr-docs, main-docs

Revert "publicDashboardUid removed from dashboard meta"
  packages/grafana-runtime/src/analytics/types.ts
  pkg/api/dtos/dashboard.go
  pkg/services/publicdashboards/api/query_test.go
  public/app/features/dashboard/api/publicDashboardApi.ts
  public/app/types/dashboard.ts
Due: pr-test-frontend, pr-lint-frontend, pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Nits
  public/app/features/dashboard-scene/serialization/buildNewDashboardSaveModel.ts
  public/app/plugins/datasource/cloudwatch/migrations/dashboardMigrations.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

swap the logic to that with default values the metrics are enabled
  pkg/services/ngalert/ngalert.go
  pkg/services/ngalert/state/manager.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Refactor UX for dashboard changes
  public/app/features/dashboard-scene/saving/SaveDashboardDrawer.tsx
  public/app/features/dashboard-scene/saving/SaveDashboardForm.tsx
  public/app/features/dashboard/components/SaveDashboard/SaveDashboardDiff.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

linter
  public/app/features/dashboard/components/SaveDashboard/SaveDashboardDiff.tsx
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Query Library: (Chore) Add field selectors to query templates
  pkg/registry/apis/peakq/register.go
  pkg/registry/apis/peakq/storage.go
Due: pr-test-backend, pr-lint-backend, pr-build-e2e, pr-integration-tests, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify

Tests
  public/app/features/dashboard-scene/serialization/buildNewDashboardSaveModel.test.ts
Due: pr-test-frontend, pr-lint-frontend, pr-build-e2e, main-test-frontend, main-lint-frontend, main-test-backend, main-lint-backend, main-build-e2e-publish, main-integration-tests, main-windows, main-trigger-downstream, main-notify
